{% extends 'layout/base_auto.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_avatar, render_user_link %}
{% set current_page = 'user_badge.view' %}
{% set title = 'Abzeichen - %s'|format(badge.label) %}

{% block head %}
  <style>
    .badge-details {
      display: flex;
    }
    .badge-details .description {
      align-self: center;
      margin-left: 1rem;
    }

    a.recipient {
      border: none;
      display: block;
      text-decoration: none;
    }
    a.recipient:hover .avatar img,
    a.recipient:hover .avatar.none {
      border: currentColor solid 1px;
    }

    .avatar {
      display: block;
      height: 64px;
      overflow: hidden;
      width: 64px;
    }
    .avatar img {
      min-height: 100%;
      min-width: 100%;
    }
    .avatar .orga-badge {
      font-size: 0.5rem;
    }
    .avatar.none {
      align-items: center;
      background-color: #dddddd;
      display: flex;
      font-size: 3rem;
      font-weight: bold;
      justify-content: center;
    }
  </style>
{% endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ render_icon('badge') }} <a href="{{ url_for('.index') }}">Abzeichen</a></li>
    </ol>
  </nav>
  <h1>{{ badge.label }}</h1>

  <div class="badge-details">
    <div>
      <div class="user-badge"><img src="{{ badge.image_url }}"></div>
    </div>
    {%- if badge.description %}
    <div class="description">{{ badge.description }}</div>
    {%- endif %}
  </div>

  <h2>{{ badge.recipients|length }} mal verliehen</h2>
  <ul class="list-grid">
    {%- for user in badge.recipients|sort(attribute='screen_name') %}
    <li><a class="recipient" href="{{ url_for('user.view', id=user.id) }}">
      {%- if user.has_avatar_image -%}
      {{ render_user_avatar(user) }}
      {%- else -%}
      <div class="avatar none{% if user.is_orga_for_party(g.party) %} orga{% endif %}" title="{{ user.screen_name }}">
        ?
        {%- if user.is_orga_for_party(g.party) %}
        <div class="orga-badge">Organizer</div>
        {%- endif %}
      </div>
      {%- endif -%}
    </a></li>
    {%- endfor %}
  </ul>

{%- endblock body %}
