{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/user.html' import render_user_screen_name %}
{%- from 'macros/user_avatar.html' import render_user_avatar_32 %}


<div class="current-user">
  {%- if g.current_user.is_active %}
  <div class="dropdown right">
    <a href="{{ url_for('user_settings.view') }}" class="dropdown-toggle">
      {{ render_user_avatar_32(g.current_user) }}
      <span class="label-and-name">
        <span class="label">Angemeldet als</span>
        <span class="name">{{ render_user_screen_name(g.current_user) }}</span>
      </span>
      {{ render_icon('caret-down') }}
    </a>
    <ol>
{%- include 'layout/_current_user_menu_items.html' %}
      <li class="divider"></li>
      <li><a data-action="logout" href="{{ url_for('authentication.logout', _method='POST') }}">{{ render_icon('log-out') }} abmelden</a></li>
    </ol>
  </div>
  {%- else %}
  <div>
    {{ render_icon('log-in') }} <a href="{{ url_for('authentication.login_form') }}">Anmelden</a>
  </div>
  {%- endif %}
</div>
