{%- from 'macros/icons.html' import render_icon %}


      <li><a class="dropdown-item" href="{{ url_for('dashboard.index') }}">{{ render_icon('dashboard') }} Dashboard</a></li>
      <li><a class="dropdown-item" href="{{ url_for('user_profile.view', user_id=g.user.id) }}">{{ render_icon('user-profile') }} Profil</a></li>
      <li><a class="dropdown-item" href="{{ url_for('user_settings.view') }}">{{ render_icon('user') }} Einstellungen</a></li>
      <li><a class="dropdown-item" href="{{ url_for('ticketing.index_mine') }}">{{ render_icon('ticket') }} Tickets</a></li>
      <li><a class="dropdown-item" href="{{ url_for('shop_orders.index') }}">{{ render_icon('invoice') }} Bestellungen</a></li>
