{%- macro render_nav_item(url, label, nav_item_id) -%}
<li{% if current_page == nav_item_id %} class="current"{% endif %}><a href="{{ url }}">{{ label }}</a></li>
{%- endmacro -%}

{%- set navigation_items = [
    ('news.index',            'Neuigkeiten',  'news'      ),
    ('party.info',            'Partydetails', 'party'     ),
    ('orga_team.index',       'Team',         'orga_team' ),
    ('attendance.attendees',  'Teilnehmer',   'attendees' ),
    ('seating.index',         'Sitzplan',     'seating'   ),
    ('shop_order.order_form', 'Shop',         'shop_order'),
    ('terms.view_current',    'AGB',          'terms'     ),
    ('board.category_index',  'Forum',        'board'     ),
] -%}

<section>
  <h1>Informationen</h1>
  <nav class="main">
    <ol>
      {%- for endpoint, label, id in navigation_items %}
      {{ render_nav_item(url_for(endpoint), label, id) }}
      {%- endfor %}
    </ol>
  </nav>
</section>
