{%- from 'macros/navigation.html' import render_navigation_item %}
{%- set navigation_items = [
    ('news.index',            'Neuigkeiten',  'news'      ),
    ('party.info',            'Partydetails', 'party'     ),
    ('orga_team.index',       'Team',         'orga_team' ),
    ('attendance.attendees',  'Teilnehmer',   'attendees' ),
    ('seating.index',         'Sitzplan',     'seating'   ),
    ('shop_order.order_form', 'Shop',         'shop_order'),
    ('terms.view_current',    'AGB',          'terms'     ),
    ('board.category_index',  'Forum',        'board'     ),
] -%}

<section>
  <h1>Informationen</h1>
  <nav class="main">
    <ol>
      {%- for endpoint, label, id in navigation_items %}
      {{ render_navigation_item(url_for(endpoint), label, id, current_page) }}
      {%- endfor %}
    </ol>
  </nav>
</section>
