{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_simple %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'parties_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Party erstellen' %}

{% block before_body %}
{{ render_backlink(url_for('.index_for_brand', brand_id=brand.id), brand.title) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.create', brand_id=brand.id) }}" method="post">
    {{ form_field_simple(form.id, maxlength=40, placeholder='%s-42'|format(brand.id), autofocus='autofocus') }}
    {{ form_field_simple(form.title, maxlength=40, placeholder='%s 42'|format(brand.title)) }}
    <div class="row">
      <div class="column-auto">
        {{ form_field_simple(form.starts_on) }}
      </div>
      <div class="column-auto">
        {{ form_field_simple(form.starts_at) }}
      </div>
    </div>
    <div class="row">
      <div class="column-auto">
        {{ form_field_simple(form.ends_on) }}
      </div>
      <div class="column-auto">
        {{ form_field_simple(form.ends_at) }}
      </div>
    </div>
    {{ form_field_simple(form.max_ticket_quantity, type='number', min=0, max=99999, style='width: 5.5rem;') }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
