{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'partys_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Party erstellen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index_for_brand', brand_id=brand.id) }}">{{ brand.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.create', brand_id=brand.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.id, maxlength=40, required='required', placeholder='%s-42'|format(brand.id), autofocus='autofocus') }}
      {{ form_field(form.title, maxlength=40, required='required', placeholder='%s 42'|format(brand.title)) }}
      {{ form_field(form.starts_at, size=16, maxlength=16, required='required', note='Format: <kbd>TT.MM.JJJJ hh:mm</kbd>'|safe) }}
      {{ form_field(form.ends_at, size=16, maxlength=16, required='required', note='Format: <kbd>TT.MM.JJJJ hh:mm</kbd>'|safe) }}
      {{ form_field(form.max_ticket_quantity, type='number', min=0, max=99999, style='width: 5.5rem;') }}
      {{ form_field(form.shop_id) }}
    {% endcall %}

    {{ form_buttons('Erstellen', cancel_url=url_for('.index_for_brand', brand_id=brand.id)) }}
  </form>

{%- endblock %}
