{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/party.html' import render_party_admin_link %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'partys_admin' %}
{% set current_page_brand = brand %}
{% set title = '%s - Partys'|format(brand.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ brand.title }}</li>
    </ol>
  </nav>
  <h1>Partys {{ render_extra_in_heading(parties.total) }}</h1>

  {%- if g.current_user.has_permission(PartyPermission.create) %}
  <div class="button-row button-row--right">
    <a class="button" href="{{ url_for('.create_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>Party erstellen</span></a>
  </div>
  {%- endif %}

  {%- if parties.items %}
  <table class="index wide">
    <thead>
      <tr>
        <th>Name<br>ID<br>Zeitraum</th>
        <th></th>
        <th class="centered">Tickets<br>verkauft</th>
        <th class="centered">Tickets<br>maximal</th>
        <th>Shop</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for party in parties.items %}
      <tr>
        <td>
          <strong>{{ render_party_admin_link(party) }}</strong><br>
          {{ party.id }}<br>
          {{- render_datetime(party.starts_at|utc_to_local_tz, smart=False) }} bis<br>
          {{- render_datetime(party.ends_at|utc_to_local_tz, smart=False) -}}
          {%- if party.is_over %}
          {{ render_tag('vorbei', class='color-disabled') }}
          {%- endif %}
        </td>
        <td>
          {%- if party.archived %}
          {{ render_tag('', class='color-disabled', icon='archived', title='archiviert') }}
          {%- endif %}
        </td>
        <td class="centered bignumber">{{ ticket_count_by_party_id[party.id] }}</td>
        <td class="centered bignumber">{{ party.max_ticket_quantity|separate_thousands if (party.max_ticket_quantity is not none) else '?'|dim }}</td>
        <td>
          {%- if party.shop_id is not none %}
            {%- with shop = shops_by_party_id.get(party.shop_id) %}
          <a href="{{ url_for('shop_shop_admin.view_for_shop', shop_id=shop.id) }}">{{ shop.title }}</a>
            {%- endwith %}
          {%- else %}
          {{ 'keiner'|dim }}
          {%- endif %}
        </td>
        <td>
          {%- if g.current_user.has_permission(PartyPermission.update) %}
          <div class="dropdown left">
            <button class="dropdown-toggle button button--compact">{{ render_icon('caret-down') }}</button>
            <ol>
              <li><a href="{{ url_for('.update_form', party_id=party.id) }}">{{ render_icon('edit') }} Bearbeiten</a></li>
            </ol>
          </div>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Für diese Marke sind keine Partys hinterlegt.</div>
  {%- endif %}

{{ render_pagination_nav(parties, '.index_for_brand', {'brand_id': brand.id}) }}

{%- endblock %}
