{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/party.html' import render_party_admin_link %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'partys_admin' %}
{% set title = 'Partys' %}

{% block body %}

  <h1>{{ title }} {{ render_extra_in_heading(parties|length) }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Name<br>ID</th>
        <th>Marke</th>
        <th>Zeitraum</th>
      </tr>
    </thead>
    <tbody>
      {%- for party in parties|sort(attribute='starts_at', reverse=True) %}
      <tr>
        <td>
          <strong>{{ render_party_admin_link(party) }}</strong><br>
          {{ party.id }}
          {%- if party.archived %}
          <br>{{ render_tag('archiviert', class='color-disabled', icon='archived') }}
          {%- endif %}
        </td>
        <td>{{ party.brand.title }}</td>
        <td>
          {{- render_datetime(party.starts_at|utc_to_local_tz) }} bis<br>
          {{- render_datetime(party.ends_at|utc_to_local_tz) -}}
          {%- if party.is_over %}
          <br>{{ render_tag('vorbei', class='color-disabled') }}
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock %}
