{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/party.html' import render_party %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'parties_admin' %}
{% set current_page_brand = brand %}
{% set page_title = [_('Parties'), brand.title] %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ _('Parties') }} {{ render_extra_in_heading(parties.total) }}</h1>
    </div>
  {%- if has_current_user_permission('party.create') %}
    <div class="column-auto column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>{{ _('Create party') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  {%- if parties.items %}

    {%- for party in parties.items %}
{{ render_party(party, days_by_party_id[party.id], ticket_sale_stats_by_party_id[party.id], show_brand_avatar=False) }}
    {%- endfor %}

  <div class="mt">
{{ render_pagination_nav(parties, '.index_for_brand', {
  'brand_id': brand.id,
  'per_page': per_page,
}, centered=True) }}
  </div>

  {%- else %}
  <div class="dimmed-box centered">{{ _('No parties exist for this brand.') }}</div>
  {%- endif %}

{%- endblock %}
