{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/admin/party.html' import render_party %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'parties_admin' %}
{% set page_title = _('Parties') %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>{{ page_title }} {{ render_extra_in_heading(parties|length) }}</h1>
    </div>
    {%- if has_current_user_permission('party.create') %}
    <div>
      <div class="button-row button-row--right">
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('add') }} {{ _('Create party') }}</span> {{ render_icon('chevron-down') }}</button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><span class="dropdown-item"><strong>{{ _('Brand') }}:</strong></span></li>
            <li class="dropdown-divider"></li>
          {%- for brand in brands %}
            <li><a class="dropdown-item" href="{{ url_for('.create_form', brand_id=brand.id) }}"><span style="margin-right: 0.25rem;">{{ render_brand_avatar(brand, '24') }}</span> {{ brand.title }}</a></li>
          {%- endfor %}
          </ol>
        </div>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- if parties %}

  <h2>{{ _('Active parties') }}</h2>
    {%- for party in active_parties %}
{{ render_party(party, days_by_party_id[party.id], ticket_sale_stats_by_party_id[party.id]) }}
    {%- endfor %}

  <h2>{{ _('Archived parties') }}</h2>
    {%- for party in archived_parties %}
{{ render_party(party, days_by_party_id[party.id], ticket_sale_stats_by_party_id[party.id]) }}
    {%- endfor %}

  {%- else %}
  <div class="dimmed-box centered">{{ _('No parties exist.') }}</div>
  {%- endif %}

{%- endblock %}
