{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_checkbox, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'party_admin' %}
{% set current_page_party = party %}
{% set title = 'Party bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ brand.title }}</li>
      <li><a href="{{ url_for('.index_for_brand', brand_id=brand.id) }}">Partys</a></li>
      <li><a href="{{ url_for('.view', party_id=party.id) }}">{{ party.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', party_id=party.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.title, maxlength=40, required='required', autofocus='autofocus') }}
      {{ form_field(form.starts_at, size=16, maxlength=16, required='required', note='Format: <kbd>TT.MM.JJJJ hh:mm</kbd>'|safe) }}
      {{ form_field(form.ends_at, size=16, maxlength=16, required='required', note='Format: <kbd>TT.MM.JJJJ hh:mm</kbd>'|safe) }}
      {{ form_field(form.max_ticket_quantity, type='number', min=0, max=99999, style='width: 5.5rem;') }}
      {{ form_field(form.shop_id) }}
      {{ form_field_checkbox(form.archived, form.archived.label.text) }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.view', party_id=party.id)) }}
  </form>

{%- endblock %}
