{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'party_admin' %}
{% set current_page_party = party %}
{% set title = party.title %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ brand.title }}</li>
      <li><a href="{{ url_for('party_admin.index_for_brand', brand_id=brand.id) }}">Partys</a></li>
    </ol>
  </nav>
  <h1>
    {{- party.title }}
    {%- if party.archived -%}
    <br>{{ render_tag('archiviert', class='color-disabled', icon='archived') }}
    {%- endif -%}
  </h1>

  <div class="button-row">
    {%- if g.current_user.has_permission(PartyPermission.update) %}
    <a class="button" href="{{ url_for('.update_form', party_id=party.id) }}">{{ render_icon('edit') }} <span>Bearbeiten</span></a>
    {%- endif %}
  </div>

  <table class="index">
    <tr>
      <th>ID</th>
      <td>{{ party.id }}</td>
    </tr>
    <tr>
      <th>Marke</th>
      <td>{{ brand.title }}</td>
    </tr>
    <tr>
      <th>Beginn</th>
      <td>{{ render_datetime(party.starts_at|utc_to_local_tz) }}</td>
    </tr>
    <tr>
      <th>Ende</th>
      <td>{{ render_datetime(party.ends_at|utc_to_local_tz) }}</td>
    </tr>
    <tr>
      <th>Maximale Anzahl Tickets</th>
      <td>{{ party.max_ticket_quantity|separate_thousands if (party.max_ticket_quantity is not none) else 'nicht festgelegt'|dim }}</td>
    </tr>
    <tr>
      <th>Shop</th>
      <td>
        {%- if shop %}
        <a href="{{ url_for('shop_shop_admin.view_for_shop', shop_id=shop.id) }}">{{ shop.title }}</a>
        {%- else %}
        {{ 'kein Shop verknüpft'|dim }}
        {%- endif %}
      </td>
    </tr>
  </table>

  <h2>Einstellungen {{ render_extra_in_heading(settings|length) }}</h2>
  <table class="index wide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Wert</th>
      </tr>
    </thead>
    <tbody>
    {%- for setting in settings|sort(attribute='name') %}
      <tr>
        <td class="monospace">{{ setting.name }}</td>
        <td class="monospace">{{ setting.value }}</td>
      </tr>
    {%- else %}
      <tr>
        <td colspan="2" class="centered">
          <p class="dimmed">Für diese Party sind keine Einstellungen hinterlegt.</p>
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
