{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'party_admin' %}
{% set current_page_party = party %}
{% set page_title = party.title %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">

      <h1>
        {{ party.title }}
        {%- if party.canceled or party.archived %}
          {%- if party.canceled %}
        {{ render_tag(pgettext('party', 'canceled'), class='color-danger', icon='disabled') }}
          {%- endif %}
          {%- if party.archived %}
        {{ render_tag(_('archived'), class='color-disabled', icon='archived') }}
          {%- endif %}
        {%- endif %}
      </h1>

    </div>
    <div class="column-auto column--align-bottom">

      <div class="button-row button-row--right">
        {%- if has_current_user_permission('party.update') %}
        <a class="button" href="{{ url_for('.update_form', party_id=party.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
        {%- endif %}
      </div>

    </div>
  </div>

  <div class="box">

    <div class="data-label">{{ _('ID') }}</div>
    <div class="data-value mb">{{ party.id }}</div>

    <div class="row mb">
      <div class="column-auto">

        <div class="data-label">{{ _('Start') }}</div>
        <div class="data-value">{{ render_datetime(party.starts_at|utc_to_local_tz) }}</div>

      </div>
      <div class="column-auto">

        <div class="data-label">{{ _('End') }}</div>
        <div class="data-value">{{ render_datetime(party.ends_at|utc_to_local_tz) }}</div>

      </div>
      <div class="column-auto">

        <div class="data-label">{{ _('Days') }}</div>
        <div class="data-value">
          {%- for day in days %}
            {{ render_tag('{:%a}'.format(day)) }}
          {%- endfor %}
        </div>

      </div>
    </div>

    <div class="data-label">{{ _('Maximum number of tickets') }}</div>
    <div class="data-value mb">{{ format_number(party.max_ticket_quantity) if (party.max_ticket_quantity is not none) else _('not defined')|dim }}</div>

    <div class="row">
      <div class="column-auto">

        <div class="data-label">{{ _('Ticket management') }}</div>
        <div class="data-value">{{ render_tag(_('open'), class='color-success') if party.ticket_management_enabled else render_tag(_('closed'), class='color-disabled', icon='disabled') }}</div>

      </div>
      <div class="column-auto">

        <div class="data-label">{{ _('Seat management') }}</div>
        <div class="data-value">{{ render_tag(_('open'), class='color-success') if party.seat_management_enabled else render_tag(_('closed'), class='color-disabled', icon='disabled') }}</div>

      </div>
    </div>

  </div>

  <h2>{{ _('Settings') }} {{ render_extra_in_heading(settings|length) }}</h2>
  <div class="box">
    {%- if settings %}
    <table class="index wide">
      <thead>
        <tr>
          <th>{{ _('Name') }}</th>
          <th>{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
      {%- for setting in settings|sort(attribute='name') %}
        <tr>
          <td class="monospace">{{ setting.name }}</td>
          <td class="monospace">{{ setting.value }}</td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No settings defined.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
