    <h2>Artikel</h2>
    <table class="index wide">
      <thead>
        <tr>
          <th style="width: 15%;">Anzahl</th>
          <th>Beschreibung</th>
          <th style="width: 15%;">Steuersatz</th>
          <th style="width: 15%;">Stückpreis</th>
        </tr>
      </thead>
      <tbody>
        {%- for item in article_compilation %}
        <tr>
          {%- if item.has_fixed_quantity() %}
          <td class="number">{{ item.fixed_quantity }}</td>
          {%- else %}
          <td class="number">
            {%- set field = form.get_field_for_article(item.article) %}
            {{ field() }}
            {%- if field.errors %}
            <ol class="errors" style="text-align: left;">
              {%- for error in field.errors %}
              <li><strong>Fehler:</strong> <span>{{ error }}</span></li>
              {%- endfor %}
            </ol>
            {%- endif -%}
          </td>
          {%- endif %}
          <td><strong>{{ item.article.description }}</strong></td>
          <td class="number">{{ item.article.tax_rate_as_percentage }}&thinsp;%</td>
          <td class="number">{{ item.article.price|format_euro_amount }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
