{% extends 'layouts/shop_admin.html' %}
{% set current_page_party = party %}
{% set current_page = 'shop_admin' %}
{% set current_tab = 'shop' %}
{% set title = 'Shop' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
    </ol>
  </nav>
  <h1>Shop</h1>

  {%- if shop is defined %}

  <table class="index">
    <tr>
      <th>Shop-ID</th>
      <td>{{ shop.id }}</td>
    </tr>
    <tr>
      <th>Letzte Artikelnummer</th>
      <td>{{ most_recent_article_number }}</td>
    </tr>
    <tr>
      <th>Letzte Bestellnummer</th>
      <td>{{ most_recent_order_number }}</td>
    </tr>
  </table>

  {%- else %}

  <div class="notification color-info">Für diese Party existiert kein Shop.</div>

  {%- endif %}

{%- endblock %}
