{% extends 'layout/admin/shop/article.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_datalist, form_field_check, form_field %}
{% set page_title = _('Create article') %}

{% block before_body %}
{{ render_backlink(url_for('.index_for_shop', shop_id=shop.id), _('Articles')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  {%- if not article_number_sequence_available %}
  <div class="notification color-warning">
    {{ _('No article number sequences are defined for this shop. No articles can be created without a sequence.') }}<br><br>
    <a class="button color-primary" href="{{ url_for('shop_article_admin.create_number_sequence_form', shop_id=shop.id) }}">{{ _('Create article number sequence') }}</a>
  </div>
  {%- else %}
  <form action="{{ url_for('.create', shop_id=shop.id, type=article_type_name) }}" method="post">
    <div class="box">

      <div class="mb">
        <div class="form-label">{{ _('Type') }}</div>
        <div>{{ article_type_label }}</div>
      </div>

      {{ form_field(form.article_number_sequence_id, caption='<a href="%s">%s</a>'|format(url_for('shop_article_admin.create_number_sequence_form', shop_id=shop.id),  _('Create new sequence'))|safe, autofocus='autofocus') }}
      {{ form_field(form.description, maxlength=80) }}

{% block additional_fields %}{% endblock %}

      <div class="row">
        <div>
          {{ form_field(form.price_amount, size=7, maxlength=7, style='text-align: right; width: 5.5rem;', suffix=shop.currency.code) }}
        </div>
        <div>
          {{ form_field(form.tax_rate, list='tax_rates', size=5, maxlength=5, style='text-align: right; width: 5.5rem;', suffix='%') }}
          {{ form_datalist('tax_rates', ['0.0', '7.0', '19.0']) }}
        </div>
      </div>

      <div class="row">
        <div>{{ form_field(form.available_from_date) }}</div>
        <div>{{ form_field(form.available_from_time) }}</div>
      </div>

      <div class="row">
        <div>{{ form_field(form.available_until_date) }}</div>
        <div>{{ form_field(form.available_until_time) }}</div>
      </div>

      {{ form_field(form.total_quantity, type='number', min=0, max=99999, style='width: 5.5rem;') }}
      {{ form_field(form.max_quantity_per_order, type='number', min=1, max=99, style='width: 5.5rem;') }}
      {{ form_field_check(form.not_directly_orderable) }}
      {{ form_field_check(form.separate_order_required) }}

    </div>

    {{ form_buttons(_('Create')) }}
  </form>
  {%- endif %}

{%- endblock %}
