{% extends 'layouts/admin/shop/article.html' %}
{% from 'macros/forms.html' import form_buttons, form_datalist, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_shop = shop %}
{% set title = 'Artikel anlegen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index_for_shop', shop_id=shop.id) }}">Artikel</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ title }}</h1>

  {%- if not article_number_prefix %}
  <div class="notification color-danger">Der Artikelnummer-Präfix für diesen Shop muss erst konfiguriert werden, bevor Artikel angelegt werden können.</div>
  {%- endif %}

  <form action="{{ url_for('.create', shop_id=shop.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.description, maxlength=80, required='required', autofocus='autofocus') }}
      {{ form_field(form.price, size=7, maxlength=7, style='text-align: right; width: 5.5rem;', required='required', note='€') }}
      {{ form_field(form.tax_rate, list='tax_rates', size=5, maxlength=5, style='text-align: right; width: 5.5rem;', required='required', note='%') }}
      {{ form_datalist('tax_rates', ['0.00', '0.07', '0.19']) }}
      {{ form_field(form.quantity, type='number', min=0, max=99999, style='width: 5.5rem;', required='required') }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.index_for_shop', shop_id=shop.id)) }}
  </form>

{%- endblock %}
