{% extends 'layout/admin/shop/article.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_datalist, form_field_check, form_field %}
{% set current_page_shop = shop %}
{% set page_title = _('Edit article') %}

{% block before_body %}
{{ render_backlink(url_for('.view', article_id=article.id), article.item_number) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.update', article_id=article.id) }}" method="post">
    {{ form_field(form.description, maxlength=100, autofocus='autofocus') }}
    <div class="row">
      <div class="column-auto">
        {{ form_field(form.price, size=7, maxlength=7, style='text-align: right; width: 5.5rem;', note='€') }}
      </div>
      <div class="column-auto">
        {{ form_field(form.tax_rate, list='tax_rates', size=5, maxlength=5, style='text-align: right; width: 5.5rem;', note='%') }}
        {{ form_datalist('tax_rates', ['0.0', '7.0', '19.0']) }}
      </div>
    </div>
    <div class="row">
      <div class="column-auto">
        {{ form_field(form.available_from_date) }}
      </div>
      <div class="column-auto">
        {{ form_field(form.available_from_time) }}
      </div>
    </div>
    <div class="row">
      <div class="column-auto">
        {{ form_field(form.available_until_date) }}
      </div>
      <div class="column-auto">
        {{ form_field(form.available_until_time) }}
      </div>
    </div>
    {{ form_field(form.total_quantity, type='number', min=0, max=99999, style='width: 5.5rem;') }}
    {{ form_field(form.max_quantity_per_order, type='number', min=1, max=99, style='width: 5.5rem;') }}
    {{ form_field_check(form.not_directly_orderable, form.not_directly_orderable.label.text) }}
    {{ form_field_check(form.requires_separate_order, form.requires_separate_order.label.text) }}
    {{ form_field_check(form.shipping_required, form.shipping_required.label.text) }}

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}
