{% extends 'layouts/admin/shop/article.html' %}
{% from 'macros/admin/shop/article.html' import render_article_link %}
{% from 'macros/forms.html' import form_buttons, form_datalist, form_field_checkbox, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_shop = shop %}
{% set title = 'Artikel bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index_for_shop', shop_id=shop.id) }}">Artikel</a></li>
      <li>{{ render_article_link(article) }}</li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', article_id=article.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.description, maxlength=100, required='required', autofocus='autofocus') }}
      {{ form_field(form.price, size=7, maxlength=7, style='text-align: right; width: 5.5rem;', required='required', note='€') }}
      {{ form_field(form.tax_rate, list='tax_rates', size=5, maxlength=5, style='text-align: right; width: 5.5rem;', required='required', note='%') }}
      {{ form_datalist('tax_rates', ['0.00', '0.07', '0.19']) }}
      {{ form_field(form.available_from, size=16, maxlength=16, note='Format: <kbd>TT.MM.JJJJ hh:mm</kbd>'|safe) }}
      {{ form_field(form.available_until, size=16, maxlength=16, note='Format: <kbd>TT.MM.JJJJ hh:mm</kbd>'|safe) }}
      {{ form_field(form.max_quantity_per_order, type='number', min=1, max=99, style='width: 5.5rem;', required='required') }}
      {{ form_field_checkbox(form.not_directly_orderable, form.not_directly_orderable.label.text) }}
      {{ form_field_checkbox(form.requires_separate_order, form.requires_separate_order.label.text) }}
      {{ form_field_checkbox(form.shipping_required, form.shipping_required.label.text) }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.view', article_id=article.id)) }}
  </form>

{%- endblock %}
