{% extends 'layout/admin/shop/article.html' %}
{% from 'macros/admin/shop/article.html' import render_article_link, render_article_temporal_availability %}
{% from 'macros/admin/shop/order.html' import render_order_payment_state %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page_shop = shop %}
{% set page_title = [_('Article'), article.item_number] %}
{% set layout_main_raw = True %}

{% block head %}
    <style>
      .progress {
        height: 0.3rem;
      }

      .progress-bar.color--available {
        background-color: #11aa22;
      }

      .progress-bar.color--ordered {
        background-color: #eecc00;
      }

      table.attachments td {
        border: none !important;
        text-align: right;
      }
    </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ article.item_number }}</h1>
    </div>
    <div class="column-auto">
      <div class="button-row button-row--right">
        {%- if has_current_user_permission(ShopArticlePermission.update) %}
        <a class="button" href="{{ url_for('.update_form', article_id=article.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
        {%- endif %}
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('chevron-down') }}</span></button>
          <ol class="dropdown-menu dropdown-menu--right">
            {%- if has_current_user_permission(ShopArticlePermission.update) %}
            <li><a class="dropdown-item" href="{{ url_for('.attachment_create_form', article_id=article.id) }}">{{ render_icon('attached') }} {{ _('Attach article') }}</a></li>
            {%- endif %}
            <li><a class="dropdown-item" href="{{ url_for('.view_ordered', article_id=article.id) }}">{{ render_icon('users') }} Käufer auflisten</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <table class="index">
      <tr>
        <th>{{ _('Description') }}</th>
        <td>{{ article.description }}</td>
      </tr>
      <tr>
        <th>Stückpreis</th>
        <td>{{ article.price|format_euro_amount }}</td>
      </tr>
      <tr>
        <th>Steuersatz</th>
        <td>{{ article.tax_rate|tax_rate_as_percentage }}&thinsp;%</td>
      </tr>
      <tr>
        <th>Zeitraum</th>
        <td>{{ render_article_temporal_availability(article) }}</td>
      </tr>
      <tr>
        <th>Verfügbarkeit</th>
        <td>
          <div style="line-height: 1.5; width: 16rem;">
            <div class="progress">
              <div class="progress-bar color--available" style="width: calc(100% * {{ article.quantity }} / {{ article.total_quantity }});"></div>
              <div class="progress-bar color--ordered" style="width: calc(100% * {{ totals[PaymentState.open] }} / {{ article.total_quantity }});"></div>
            </div>
            <div class="row row--space-between" style="font-size: 0.75rem;">
              <div class="column-auto">
                <strong>{{ article.quantity }}</strong> verfügbar{% if article.quantity < 1 %} {{ render_tag('ausverkauft') }}{% endif %}<br>
                <strong>{{ totals[PaymentState.open] }}</strong> bestellt<br>
                <strong>{{ totals[PaymentState.paid] }}</strong> bezahlt
              </div>
              <div class="column-auto dimmed">von {{ article.total_quantity }}</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th>Gesamtmenge</th>
        <td>{{ article.total_quantity }}</td>
      </tr>
      <tr>
        <th>Maximale Anzahl<br>pro Bestellung</th>
        <td>{{ article.max_quantity_per_order }}</td>
      </tr>
      <tr>
        <th>Nur indirekt<br>bestellbar</th>
        <td>{{ 'ja' if article.not_directly_orderable else 'nein' }}</td>
      </tr>
      <tr>
        <th>Muss separat<br>bestellt werden</th>
        <td>{{ 'ja' if article.requires_separate_order else 'nein' }}</td>
      </tr>
      <tr>
        <th>Versand erforderlich</th>
        <td>{{ 'ja' if article.shipping_required else 'nein' }}</td>
      </tr>
      <tr>
        <th>Angehängt an Artikel</th>
        <td>
          {%- if article.articles_attached_to %}
          <ol>
          {%- for attached_article in article.articles_attached_to|sort(attribute='attached_to_article.item_number') %}
            <li>{{ render_article_link(attached_article.attached_to_article) }} ({{ attached_article.quantity }} Stück)</li>
          {%- endfor %}
          </ol>
          {%- else %}
          {{ 'keine'|dim }}
          {%- endif %}
        </td>
      </tr>
      <tr>
        <th>Angehängte Artikel</th>
        <td>
          {%- if article.attached_articles %}
          <table class="attachments">
          {%- for attached_article in article.attached_articles|sort(attribute='article.item_number') %}
            <tr>
              <td>{{ attached_article.quantity }} &times; {{ render_article_link(attached_article.article) }}</td>
              <td><a data-action="attachment-remove" href="{{ url_for('.attachment_remove', article_id=attached_article.id) }}" class="button button--compact" title="Artikelanhang entfernen">{{ render_icon('remove') }}</a></td>
            </tr>
          {%- endfor %}
          </table>
          {%- else %}
          {{ 'keine'|dim }}
          {%- endif %}
        </td>
      </tr>
    </table>
  </div>

  <div class="row row--space-between">
    <div class="column-auto">
      <h2>{{ _('Actions') }}</h2>
    </div>
    {%- if has_current_user_permission(ShopArticlePermission.update) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('add') }} {{ _('Add action') }}</span> {{ render_icon('chevron-down') }}</button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.action_create_form_for_badge_awarding', article_id=article.id) }}">{{ _('Award badge') }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.action_create_form_for_tickets_creation', article_id=article.id) }}">{{ _('Create tickets') }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.action_create_form_for_ticket_bundles_creation', article_id=article.id) }}">{{ _('Create ticket bundles') }}</a></li>
          </ol>
        </div>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">
    <p>Eine Aktion wird ausgelöst, wenn eine Bestellung einen mit einer Aktion verknüpften Artikel enthält und der Bestellstatus auf einen der für den Artikel aufgeführten Zustände geändert wird.</p>
    {%- if actions %}
    <table class="index wide">
      <thead>
        <tr>
          <th>Bezahlstatus</th>
          <th>Prozedur<br>Parameter</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%- for action in actions %}
        <tr>
          <td>{{ render_order_payment_state(action.payment_state) }}</td>
          <td class="monospace">{{ action.procedure_name }}<br>{{ action.parameters }}</td>
          <td>
            {%- if has_current_user_permission(ShopArticlePermission.update) %}
            <div class="button-row button-row--compact button-row--right">
              <a data-action="action-remove" href="{{ url_for('.action_remove', action_id=action.id) }}" class="button button--compact" title="{{ _('Remove action') }}">{{ render_icon('remove') }}</a>
            </div>
            {%- endif %}
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">Für diesen Artikel sind keine Aktionen definiert.</div>
    {%- endif %}
  </div>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_delete_on_click_then_reload('[data-action="attachment-remove"]', 'Artikelanhang entfernen?');
        confirmed_delete_on_click_then_reload('[data-action="action-remove"]', '{{ _('Remove action?') }}');
      });
    </script>
{%- endblock %}
