{% extends 'layouts/admin/shop/article.html' %}
{% from 'macros/admin/shop/article.html' import render_article_link, render_article_temporal_availability %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_shop = shop %}
{% set title = 'Artikel ' ~ article.item_number %}

{% block head %}
    <style>
      table.attachments td {
        border: none !important;
        text-align: right;
      }
    </style>
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index_for_shop', shop_id=shop.id) }}">Artikel</a></li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <div class="button-row button-row--right">
    {%- if g.current_user.has_permission(ShopArticlePermission.update) %}
    <a class="button" href="{{ url_for('.update_form', article_id=article.id) }}">{{ render_icon('edit') }} <span>Bearbeiten</span></a>
    <a class="button" href="{{ url_for('.attachment_create_form', article_id=article.id) }}">{{ render_icon('attached') }} <span>Artikel anhängen</span></a>
    {%- endif %}
    <a class="button" href="{{ url_for('.view_ordered', article_id=article.id) }}">{{ render_icon('users') }} <span>Käufer auflisten</span></a>
  </div>

  <table class="index">
    <tr>
      <th>Beschreibung</th>
      <td>{{ article.description }}</td>
    </tr>
    <tr>
      <th>Stückpreis</th>
      <td>{{ article.price|format_euro_amount }}</td>
    </tr>
    <tr>
      <th>Steuersatz</th>
      <td>{{ article.tax_rate_as_percentage }}&thinsp;%</td>
    </tr>
    <tr>
      <th>Zeitraum</th>
      <td>{{ render_article_temporal_availability(article) }}</td>
    </tr>
    <tr>
      <th>Anzahl verfügbar</th>
      <td>{{ article.quantity }}</td>
    </tr>
    <tr>
      <th>Anzahl bestellt</th>
      <td>{{ totals[PaymentState.open] }}</td>
    </tr>
    <tr>
      <th>Anzahl bezahlt</th>
      <td>{{ totals[PaymentState.paid] }}</td>
    </tr>
    <tr>
      <th>Anzahl storniert</th>
      <td>{{ totals[PaymentState.canceled_before_paid] + totals[PaymentState.canceled_after_paid] }}</td>
    </tr>
    <tr>
      <th>Maximale Anzahl<br>pro Bestellung</th>
      <td>{{ article.max_quantity_per_order|fallback }}</td>
    </tr>
    <tr>
      <th>Nur indirekt<br>bestellbar</th>
      <td>{{ 'ja' if article.not_directly_orderable else 'nein' }}</td>
    </tr>
    <tr>
      <th>Muss separat<br>bestellt werden</th>
      <td>{{ 'ja' if article.requires_separate_order else 'nein' }}</td>
    </tr>
    <tr>
      <th>Versand erforderlich</th>
      <td>{{ 'ja' if article.shipping_required else 'nein' }}</td>
    </tr>
    <tr>
      <th>Angehängt an Artikel</th>
      <td>
        {%- if article.articles_attached_to %}
        <ol>
        {%- for attached_article in article.articles_attached_to|sort(attribute='attached_to_article.item_number') %}
          <li>{{ render_article_link(attached_article.attached_to_article) }} ({{ attached_article.quantity }} Stück)</li>
        {%- endfor %}
        </ol>
        {%- else %}
        {{ 'keine'|dim }}
        {%- endif %}
      </td>
    </tr>
    <tr>
      <th>Angehängte Artikel</th>
      <td>
        {%- if article.attached_articles %}
        <table class="attachments">
        {%- for attached_article in article.attached_articles|sort(attribute='article.item_number') %}
          <tr>
            <td>{{ attached_article.quantity }} &times; {{ render_article_link(attached_article.article) }}</td>
            <td><a href="{{ url_for('.attachment_remove', article_id=attached_article.id) }}" class="button button--compact attachment-remove" title="Artikelanhang entfernen">{{ render_icon('remove') }}</a></td>
          </tr>
        {%- endfor %}
        </table>
        {%- else %}
        {{ 'keine'|dim }}
        {%- endif %}
      </td>
    </tr>
  </table>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        confirmed_delete_on_click_then_reload('a.attachment-remove', 'Artikelanhang entfernen?');
      });
    </script>
{%- endblock %}
