{% extends 'layouts/admin/shop/article.html' %}
{% from 'macros/admin/shop/article.html' import render_article_link %}
{% from 'macros/admin/shop/order.html' import render_order_link, render_order_payment_state %}
{% from 'macros/admin/user.html' import render_user_microcard %}
{% from 'macros/datetime.html' import render_datetime %}
{% set current_page_shop = shop %}
{% set title = article.description %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index_for_shop', shop_id=shop.id) }}">Artikel</a></li>
      <li>{{ render_article_link(article) }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <p style="margin: 2rem 0;">
    <small>
      <span style="float: right;"><strong>Stand:</strong> {{ render_datetime(now|utc_to_local_tz, smart=False) }}</span>
      <span><strong>{{ quantity_total }}</strong> Stück insgesamt</span>
    </small>
  </p>

  <table class="index wide">
    <thead>
      <tr>
        <th>Benutzername<br>Vor- und Nachname</th>
        <th>Anzahl</th>
        <th colspan="2">Bestellung</th>
      </tr>
    </thead>
    <tbody>
    {%- for quantity, order, user in quantities_orders_users|sort(attribute='1.order_number', reverse=True) %}
      <tr>
        <td>{{ render_user_microcard(user, full_name='%s %s'|format(order.first_names, order.last_name)) }}</td>
        <td class="bignumber centered">{{ quantity }}</td>
        <td>
          {{- render_order_link(order) }}<br>
          {{- render_datetime(order.created_at|utc_to_local_tz)|dim -}}
        </td>
        <td>{{ render_order_payment_state(order.payment_state) }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
