{% extends 'layout/admin/shop/article.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/admin/shop/order.html' import render_order_link, render_order_payment_state %}
{% from 'macros/admin/user.html' import render_user_microcard %}
{% set current_page_shop = shop %}
{% set page_title = article.description %}

{% block before_body %}
{{ render_backlink(url_for('.view', article_id=article.id), article.item_number) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <div class="row row--space-between mb">
    <div class="column-auto">
      <div class="data-label">{{ _('Quantity ordered') }}</div>
      <div class="data-value"><strong>{{ quantity_total }}</strong> {{ _('pieces in total') }}</div>
    </div>
    <div class="column-auto">
      <div class="data-label">{{ _('As at') }}</div>
      <div class="data-value">{{ now|datetimeformat }}</div>
    </div>
  </div>

  {%- if quantities_orders_users %}
  <table class="index index--v-centered wide">
    <thead>
      <tr>
        <th>{{ _('User name') }}<br>{{ _('Full name') }}</th>
        <th>{{ _('Quantity') }}</th>
        <th colspan="2">{{ _('Order') }}</th>
      </tr>
    </thead>
    <tbody>
    {%- for quantity, order, user in quantities_orders_users|sort(attribute='1.order_number', reverse=True) %}
      <tr>
        <td>{{ render_user_microcard(user, full_name='%s %s'|format(order.first_names, order.last_name)) }}</td>
        <td class="bignumber centered">{{ quantity }}</td>
        <td>{{ render_order_link(order) }}<br>{{ order.created_at|datetimeformat|dim }}</td>
        <td>{{ render_order_payment_state(order.payment_state) }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">{{ _('This article has not been ordered yet.') }}</div>
  {%- endif %}

{%- endblock %}
