{% extends 'layout/admin/shop/article.html' %}
{% from 'macros/admin/shop/order.html' import render_order_link, render_order_payment_state %}
{% from 'macros/admin/user.html' import render_user_microcard %}
{% set current_page_shop = shop %}
{% set current_tab = 'orders' %}
{% set page_title = [article.description, _('Orders')] %}

{% block body %}

  <h1>{{ _('Orders') }}</h1>

  <div class="row row--space-between mb mt">
    <div>
      <div class="data-label">{{ _('Quantity ordered') }}</div>
      <div class="data-value"><strong>{{ quantity_total }}</strong> {{ _('pieces in total') }}</div>
    </div>
    <div>
      <div class="data-label">{{ _('As at') }}</div>
      <div class="data-value">{{ now|datetimeformat }}</div>
    </div>
  </div>

  <div class="box">
    {%- if orders_orderers_quantities %}
    <table class="index index--v-centered wide">
      <thead>
        <tr>
          <th>{{ _('Order number') }}<br>{{ _('Date') }}</th>
          <th>{{ _('Orderer') }}</th>
          <th>{{ _('Status') }}</th>
          <th class="number">{{ _('Quantity') }}</th>
        </tr>
      </thead>
      <tbody>
      {%- for order, orderer, quantity in orders_orderers_quantities|sort(attribute='0.order_number', reverse=True) %}
        <tr>
          <td class="nowrap"><strong>{{ render_order_link(order) }}</strong><br>{{ order.created_at|datetimeformat|dim }}</td>
          <td>{{ render_user_microcard(orderer, full_name='%s %s'|format(order.first_name, order.last_name)) }}</td>
          <td>{{ render_order_payment_state(order.payment_state) }}</td>
          <td class="bignumber number">{{ quantity }}</td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('This article has not been ordered yet.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
