{% extends 'layout/admin/tourney.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page_party = party %}
{% set current_tab = 'tourneys' %}
{% set page_title = [_('Tourney'), party.title] %}

{% block before_body %}
{{ render_backlink(url_for('.index', party_id=party.id), _('Tourneys')) }}
{%- endblock %}

{% block body %}

  <div class="row row--space-between block">
    <div>
      <h1 class="title">{{ tourney.title }}</h1>
    </div>
    <div>
      {%- if g.user.has_permission('tourney.administrate') %}
      <div class="button-row is-right-aligned">
        <a class="button" href="{{ url_for('.update_form', tourney_id=tourney.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
      </div>
      {%- endif %}
    </div>
  </div>

  <div class="row row--space-between row--wrap block">

    <div class="box">
      <div class="data-label">{{ _('Category') }}</div>
      <div class="data-value">{{ tourney.category.title }}</div>
    </div>

    <div class="box column--grow">
      <div class="data-label">{{ _('Subtitle') }}</div>
      <div class="data-value">{{ tourney.subtitle|fallback }}</div>
    </div>

  </div>

  <div class="grid block">
    <div class="column">

      <div class="box column-cell--grow">
        <div class="data-label">{{ _('Team size') }}</div>
        <div class="data-value">{{ tourney.team_size }}</div>
      </div>

    </div>
    <div class="column">

      <div class="box column-cell--grow">
        <div class="data-label">{{ _('Participants') }}</div>
        <div class="data-value">{{ tourney.current_participant_count }} {{ _('of') }} {{ tourney.max_participant_count }}</div>
      </div>

    </div>
    <div class="column">

      <div class="box column-cell--grow">
        <div class="data-label">{{ _('Registration') }}</div>
        <div class="data-value">
          {%- if tourney.registration_open %}
            {{ render_tag(_('open'), class='color-info') }}
          {%- else %}
            {{ render_tag(_('closed'), class='color-disabled', icon='disabled') }}
          {%- endif %}
        </div>
      </div>

    </div>
    <div class="column">

      <div class="box column-cell--grow">
        <div class="data-label">{{ _('Start') }}</div>
        <div class="data-value">
          {{ tourney.starts_at|dateformat }}, {{ tourney.starts_at|timeformat('short') }}<br>
          ({{ (tourney.starts_at - now)|timedeltaformat(add_direction=true) }})
        </div>
      </div>

    </div>
  </div>

{% include 'admin/tourney/tourney/_view_events.html' %}

{%- endblock %}
