{% extends 'layout/base_admin.html' %}
{% from 'macros/misc.html' import render_with_fallback %}
{% set current_page = 'authorization_admin.permissions' %}
{% set title = 'Rechte' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Recht</th>
        <th>Teil dieser Rollen</th>
      </tr>
    </thead>
    <tbody>
      {%- for permission in permissions|sort(attribute='id') %}
      <tr>
        <td>
          <strong class="monospace">{{ permission.id }}</strong><br>
          {{ render_with_fallback(permission.title, 'keine Beschreibung vorhanden') }}
        </td>
        <td>
        {%- if permission.roles %}
          <ol>
          {%- for role in permission.roles|sort(attribute='id') %}
            <li class="monospace">{{ role.id }}</li>
          {%- endfor %}
          </ol>
        {%- else %}
          {{ 'keine'|dim }}
        {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock body %}
