{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'brands_admin' %}
{% set title = 'Marke erstellen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Marken</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.create') }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.id, maxlength=40, required='required', placeholder='superlan', autofocus='autofocus') }}
      {{ form_field(form.title, maxlength=40, required='required', placeholder='SuperLAN') }}
    {% endcall %}

    {{ form_buttons('Erstellen', cancel_url=url_for('.index')) }}
  </form>

{%- endblock %}
