{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'brands_admin' %}
{% set page_title = _('Create Brand') %}

{% block before_body %}
{{ render_backlink(url_for('.index'), _('Brands')) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ page_title }}</h1>

  <form action="{{ url_for('.create') }}" method="post">
    {{ form_field(form.id, maxlength=40, placeholder='superlan', autofocus='autofocus') }}
    {{ form_field(form.title, maxlength=40, placeholder='SuperLAN') }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
