{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'brand_admin' %}
{% set current_page_brand = brand %}
{% set title = _('Update Email Configuration') %}

{% block before_body %}
{{ render_backlink(url_for('.view', brand_id=brand.id), brand.title) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.email_config_update', brand_id=brand.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.sender_address, autofocus='autofocus') }}
      {{ form_field(form.sender_name) }}
      {{ form_field(form.contact_address) }}
    {% endcall %}

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}
