{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'brands_admin' %}
{% set title = _('Brands') %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>Marken {{ render_extra_in_heading(brands|length) }}</h1>
    </div>
  {%- if has_current_user_permission(BrandPermission.create) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>{{ _('Create brand') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  {%- if brands %}
  <table class="index wide">
    <thead>
      <tr>
        <th>{{ _('Name') }}<br>{{ _('ID') }}</th>
        <th class="centered">{{ _('Parties') }}</th>
        <th class="centered">{{ _('Organizers') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for brand in brands %}
      <tr>
        <td>
          <div style="float: left; margin-right: 0.5rem;">{{ render_brand_avatar(brand, '32') }}</div>
          <div>
            <strong><a class="disguised" href="{{ url_for('admin_dashboard.view_brand', brand_id=brand.id) }}">{{ brand.title }}</a></strong><br>
            {{ brand.id }}
          </div>
        </td>
        <td class="centered bignumber">{{ party_count_by_brand_id[brand.id] }}</td>
        <td class="centered bignumber">{{ orga_count_by_brand_id[brand.id] }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">{{ _('No brands defined.') }}</div>
  {%- endif %}

{%- endblock %}
