{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/brand.html' import render_brand_admin_link %}
{% set current_page = 'brands_admin' %}
{% set title = 'Marken' %}

{% block body %}

  <h1>Marken {{ render_extra_in_heading(brands|length) }}</h1>

  {%- if g.current_user.has_permission(BrandPermission.create) %}
  <div class="button-row button-row--right">
    <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>Marke erstellen</span></a>
  </div>
  {%- endif %}

  {%- if brands %}
  <table class="index wide">
    <thead>
      <tr>
        <th>Name<br>ID</th>
        <th class="centered">Partys</th>
        <th class="centered">Organisatoren</th>
      </tr>
    </thead>
    <tbody>
      {%- for brand in brands %}
      <tr>
        <td>
          <strong>{{ render_brand_admin_link(brand) }}</strong><br>
          {{ brand.id }}
        </td>
        <td class="centered bignumber">{{ party_count_by_brand_id[brand.id] }}</td>
        <td class="centered bignumber">{{ orga_count_by_brand_id[brand.id] }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Marken hinterlegt.</div>
  {%- endif %}

{%- endblock %}
