{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'brand_admin' %}
{% set current_page_brand = brand %}
{% set page_title = brand.title %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>
        {{ brand.title }}
        {%- if brand.archived %}
        <br>{{ render_tag(_('archived'), class='color-disabled', icon='archived') }}
        {%- endif %}
      </h1>
    </div>
  {%- if has_current_user_permission('brand.update') %}
    <div class="column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.update_form', brand_id=brand.id) }}">{{ render_icon('edit') }} <span>{{ _('Update') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  <div class="box">

    <div class="data-label">{{ _('ID') }}</div>
    <div class="data-value">{{ brand.id }}</div>

  </div>

  <h2>{{ _('Settings') }} {{ render_extra_in_heading(settings|length) }}</h2>
  <div class="box">
    {%- if settings %}
    <table class="index index--wide">
      <thead>
        <tr>
          <th>{{ _('Name') }}</th>
          <th>{{ _('Value') }}</th>
        </tr>
      </thead>
      <tbody>
      {%- for setting in settings|sort(attribute='name') %}
        <tr>
          <td class="monospace">{{ setting.name }}</td>
          <td class="monospace">{{ setting.value }}</td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No settings defined.') }}</div>
    {%- endif %}
  </div>

  <div class="row row--space-between">
    <div>
      <h2>{{ _('Email Configuration') }}</h2>
    </div>
    {%- if email_config and has_current_user_permission('brand.update') %}
    <div class="column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button button--compact" href="{{ url_for('.email_config_update_form', brand_id=brand.id) }}">{{ render_icon('edit') }} <span>{{ _('Update') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>
  <div class="box">
    {%- if email_config %}
    <div class="row mb">
      <div>

      <div class="data-label">{{ _('Sender address') }}</div>
      <div class="data-value">{{ email_config.sender.address }}</div>

      </div>
      <div>

      <div class="data-label">{{ _('Sender name') }}</div>
      <div class="data-value">{{ email_config.sender.name|fallback }}</div>

      </div>
    </div>

    <div class="data-label">{{ _('Contact address') }}</div>
    <div class="data-value">{{ email_config.contact_address|fallback }}</div>
    {%- else %}
    <div class="dimmed-box centered">{{ _('Not configured') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
