{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% set current_page = 'brand_admin' %}
{% set current_page_brand = brand %}
{% set title = brand.title %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Marken</a></li>
    </ol>
  </nav>
  <h1>{{ brand.title }}</h1>

  {%- if g.current_user.has_permission(BrandPermission.update) %}
  <div class="button-row button-row--right">
    <a class="button" href="{{ url_for('.update_form', brand_id=brand.id) }}">{{ render_icon('edit') }} <span>Bearbeiten</span></a>
  </div>
  {%- endif %}

  <table class="index">
    <tr>
      <th>ID</th>
      <td>{{ brand.id }}</td>
    </tr>
  </table>

  <h2>Einstellungen {{ render_extra_in_heading(settings|length) }}</h2>
  {%- if settings %}
  <table class="index wide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Wert</th>
      </tr>
    </thead>
    <tbody>
    {%- for setting in settings|sort(attribute='name') %}
      <tr>
        <td class="monospace">{{ setting.name }}</td>
        <td class="monospace">{{ setting.value }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Für diese Marke sind keine Einstellungen hinterlegt.</div>
  {%- endif %}

{%- endblock %}
