{% extends 'layout/admin/tourney.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_party = party %}
{% set current_tab = 'tourneys' %}
{% set page_title = [_('Tourneys'), party.title] %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ _('Tourneys') }} {{ render_extra_in_heading(tourneys|length) }}</h1>
    </div>
    <div class="column-auto">
      {%- if has_current_user_permission('tourney.administrate') %}
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>{{ _('Create tourney') }}</span></a>
      </div>
      {%- endif %}
    </div>
  </div>

  <div class="box">
    {%- if tourneys %}
    <table class="index wide">
      <thead>
        <tr>
          <th>{{ _('Title') }}<br>{{ _('Subtitle') }}</th>
          <th>{{ _('Category') }}</th>
          <th colspan="3">{{ _('Participants') }}</th>
          <th>{{ _('Start') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {%- for tourney in tourneys|sort(attribute='title') %}
        <tr>
          <td>
            <strong>{{ tourney.title }}</strong><br>
            <small>{{ tourney.subtitle|fallback('') }}</small>
          </td>
          <td>{{ tourney.category.title }}</td>
          <td class="bignumber number" style="padding-right: 0;">{{ tourney.current_participant_count }}</td>
          <td class="bignumber dimmed" style="padding-left: 0.25rem; padding-right: 0.25rem;">/</td>
          <td class="bignumber">{{ tourney.max_participant_count }}</td>
          <td>{{ render_datetime(tourney.starts_at|utc_to_local_tz) }}</td>
          <td>
            {%- if has_current_user_permission('tourney.administrate') %}
            <div class="button-row button-row--compact">
              <a class="button button--compact" href="{{ url_for('.update_form', tourney_id=tourney.id) }}">{{ render_icon('edit', title=_('Edit tourney')) }}</a>
            </div>
            {%- endif %}
          </td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No tourneys exist.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
