{% extends 'layout/admin/tourney.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_party = party %}
{% set current_tab = 'tourneys' %}
{% set title = 'Turnier bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
      <li>Turniere</li>
      <li>{{ tourney.title }}</li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', tourney_id=tourney.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.title, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.subtitle, maxlength=80) }}
      {{ form_field(form.logo_url, maxlength=120) }}
      {{ form_field(form.category_id) }}
      {{ form_field(form.max_participant_count, min=0, max=999, style='width: 4rem;') }}
      {{ form_field(form.starts_on) }}
      {{ form_field(form.starts_at) }}
    {% endcall %}

    {{ form_buttons(_('Save'), cancel_url=url_for('.index', party_id=party.id)) }}
  </form>

{%- endblock %}
