{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'more_admin_global' %}
{% set page_title = _('More') %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid">
  {%- with items = [
    (_('Permissions'), 'permission', url_for('authorization_admin.role_index'), 'role.view'),
    (_('Languages'), 'language', url_for('language_admin.index'), 'admin.maintain'),
    (_('Global Snippets'), 'snippet', url_for('snippet_admin.index_for_scope', scope_type='global', scope_name='global'), 'snippet.view'),
    (_('Consents'), 'consent', url_for('consent_admin.index'), 'consent.administrate'),
    (_('Newsletters'), 'email', url_for('newsletter_admin.index'), 'newsletter.view_subscriptions'),
    (_('User Badges'), 'badge', url_for('user_badge_admin.index'), 'user_badge.view'),
    (_('API'), 'api', url_for('api_admin.index'), 'api.administrate'),
    (_('Webhooks'), 'webhook', url_for('webhook_admin.index'), 'webhook.view'),
    (_('Maintenance'), 'administrate', url_for('maintenance_admin.index'), 'admin.maintain'),
  ] %}
    {%- for label, icon, url, required_permission in items|sort(attribute='0') %}
      {%- if has_current_user_permission(required_permission) %}
        {%- call render_cell(icon_name=icon, href=url) %}
          {{ render_icon(icon) }} <span>{{ label }}</span>
        {%- endcall %}
      {%- endif %}
    {%- endfor %}
  {%- endwith %}
  </div>

{%- endblock %}
