{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'more_admin_site' %}
{% set current_page_site = site %}
{% set page_title = _('More') %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid dashboard">
  {%- with items = [
    (_('Discussion Board'), 'board', url_for('board_admin.board_view', board_id=site.board_id) if site.board_id else '', BoardCategoryPermission.view, site.board_id is not none),
  ] %}
    {%- for label, icon, url, required_permission, precondition in items %}
      {%- if has_current_user_permission(required_permission) and precondition %}
        {%- call render_cell(icon_name=icon, href=url) %}
          {{ render_icon(icon) }} <span>{{ label }}</span>
        {%- endcall %}
      {%- endif %}
    {%- endfor %}
  {%- endwith %}
  </div>

{%- endblock %}
