{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'more_admin_global' %}
{% set page_title = _('More') %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

<div class="grid">
  {%- for item in items|sort(attribute='label') %}
    {%- if has_current_user_permission(item.required_permission) and item.precondition %}
      {%- call render_cell(icon_name=item.icon, href=item.url) %}
        {{ render_icon(item.icon) }} <span>{{ item.label }}</span>
      {%- endcall %}
    {%- endif %}
  {%- endfor %}
</div>

{%- endblock %}
