{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'more_admin_party' %}
{% set current_page_party = party %}
{% set page_title = _('More') %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid dashboard">
  {%- with items = [
    (_('Guest Servers'), 'server', url_for('guest_server_admin.server_index', party_id=party.id), 'guest_server.view'),
    (_('Organizer Presence'), 'date-okay', url_for('orga_presence.view', party_id=party.id), 'orga_presence.view'),
    (_('Tournaments'), 'trophy', url_for('tourney_tourney_admin.index', party_id=party.id), 'tourney.view'),
  ] %}
    {%- for label, icon, url, required_permission in items|sort(attribute='0') %}
      {%- if has_current_user_permission(required_permission) %}
        {%- call render_cell(icon_name=icon, href=url) %}
          {{ render_icon(icon) }} <span>{{ label }}</span>
        {%- endcall %}
      {%- endif %}
    {%- endfor %}
  {%- endwith %}
  </div>

{%- endblock %}
