{%- from 'macros/misc.html' import render_notification %}


  {%- set example_notifications -%}
{{ render_notification('', None, 'Without category and icon.') }}

{{ render_notification('info', 'info', 'Just FYI.') }}

{{ render_notification('danger', 'error', '<p>This did not end well. :(</p><p>To explain the problem, debug information like stack trace could follow here.</p>', text_is_safe=true) }}

{{ render_notification('success', 'success', 'The action was <strong>successful</strong>.', text_is_safe=true) }}
  {%- endset %}

  <div class="example">
    <div class="example-result">
{{ example_notifications }}
    </div>
    <div class="example-code">
      {% call render_code_block() -%}
{{ example_notifications }}
      {%- endcall %}
    </div>
  </div>
