{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_avatar_and_admin_link %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user.html' import render_user_avatar_and_name %}
{% set current_page = 'authn_identity_tag_admin' %}
{% set page_title = _('Identity Tags') %}

{% block body %}

<div class="block row row--space-between row--wrap">
  <div>
    <h1 class="title">{{ page_title }} {{ render_extra_in_heading(tags|length) }}</h1>
  </div>
  <div>
    <div class="block row row--space-between row--wrap is-vcentered">
      <div>
        <form action="{{ url_for('.index') }}" class="single-row">
          <input type="search" name="search_term" placeholder="{{ _('Identifier') }}" title="{{ _('username, first name, last name, email address') }}"{%- if search_term %} value="{{ search_term }}"{% endif %} class="form-control">
          <button type="submit" class="button" title="{{ _('Search') }}">{{ render_icon('search') }}</button>
          {%- if search_term %}
          <a href="{{ url_for('.index') }}" class="button" title="{{ _('Remove search term constraint') }}">{{ render_icon('remove') }}</a>
          {%- endif %}
        </form>
      </div>
      <div>
        <div class="button-row is-right-aligned">
          <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>{{ _('Add') }}</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

  {%- if tags %}
  <table class="itemlist is-vcentered is-wide">
    <thead>
      <tr>
        <th>{{ _('Identifier') }}</th>
        <th>{{ _('User') }}</th>
        <th>{{ _('Note') }}</th>
        <th>{{ _('Created at') }}</th>
        <th>{{ _('Created by') }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for tag in tags|sort(attribute='identifier') %}
      <tr>
        <td>
          {%- if tag.suspended %}
          <s>{{ tag.identifier }}</s> {{ render_tag(_('suspended')) }}
          {%- else %}
          {{ tag.identifier }}
          {%- endif %}
        </td>
        <td>{{ render_user_avatar_and_admin_link(tag.user, size=32) }}</td>
        <td>{{ tag.note|fallback }}</td>
        <td>{{ tag.created_at|datetimeformat }}</td>
        <td>{{ render_user_avatar_and_name(tag.creator, size=16) }}</td>
        <td><a class="button is-compact color-danger" href="{{ url_for('.delete', tag_id=tag.id) }}" data-action="delete-tag" title="{{ _('Delete') }}">{{ render_icon('delete') }}</a></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="box no-data-message">{{ _('None defined') }}</div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(() => {
    confirmed_delete_on_click_then_reload('[data-action="delete-tag"]', '{{ _('Really delete it?') }}');
  });
</script>
{% endblock %}
