{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/datetime.html' import render_date %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/stats.html' import render_bigstats_item %}


{%- macro render_cell(icon_name=None, additional_classes=None, href=None, data_action=None) -%}
    <div class="cell{% if additional_classes %} {{ additional_classes }}{% endif %}">
    {%- if href %}<a href="{{ href }}"{%- if data_action %} data-action="{{ data_action }}"{% endif %}>{% endif %}
      <div class="box">
        {%- if icon_name is not none %}
        <div class="cell-icon">{{ render_icon(icon_name) }}</div>
        {%- endif %}
{{ caller() }}
      </div>
      {%- if href %}</a>{% endif %}
    </div>
{%- endmacro %}


{%- macro render_bigstats_cell(value, caption, href=None, icon_name=None, color=None) -%}
  {%- call render_cell(icon_name, href=href) %}
        <div class="bigstats">
          {{ render_bigstats_item(value, caption, color=color) }}
        </div>
  {%- endcall %}
{%- endmacro %}


{%- macro render_party_cell(party, ticket_sale_stats, show_brand_avatar) -%}
  {%- call render_cell(href=url_for('admin_dashboard.view_party', party_id=party.id)) %}
  <div class="row">
    {%- if show_brand_avatar %}
    <div class="column-auto">
      {{ render_brand_avatar(party.brand, '40') }}
    </div>
    {%- endif %}
    <div class="column-auto column-auto--grow">
      <div>{{ party.title }}</div>
      <div class="supplement">{{ render_date(party.starts_at, smart=False) }}–{{ render_date(party.ends_at, smart=False) }}</div>
    </div>
  </div>

    {%- with tickets_total_max_specified = (ticket_sale_stats.tickets_max is not none) %}
  <div class="progress" style="height: 0.25rem; margin-top: 1rem;">
      {%- if tickets_total_max_specified %}
    <div class="progress-bar color-success" style="width: calc(100% * {{ ticket_sale_stats.tickets_sold }} / {{ ticket_sale_stats.tickets_max }});"></div>
      {%- endif %}
  </div>
  <div style="color: #999999; font-size: 0.6875rem; text-align: right;">
    <strong>{{ format_number(ticket_sale_stats.tickets_sold) }}</strong>
    {{ _('of') }}
    <strong>{{ format_number(ticket_sale_stats.tickets_max) if tickets_total_max_specified else '?' }}</strong>
    {{ _('tickets sold') }}
      {%- if tickets_total_max_specified and ticket_sale_stats.tickets_sold >= ticket_sale_stats.tickets_max %}
    <div class="centered">{{ render_tag(_('sold out')) }}</div>
      {%- endif %}
  </div>
    {%- endwith %}

  {%- endcall %}
{%- endmacro %}

{%- macro render_site_cell(site, show_brand_avatar) -%}
  {%- call render_cell(href=url_for('admin_dashboard.view_site', site_id=site.id)) %}
  <div class="row">
    {%- if show_brand_avatar %}
    <div class="column-auto">
      {{ render_brand_avatar(site.brand, '40') }}
    </div>
    {%- endif %}
    <div class="column-auto column-auto--grow">
      <div>{{ site.title }}</div>
      <div class="supplement">{{ site.server_name }}</div>
    </div>
  </div>
  {%- endcall %}
{%- endmacro %}
