{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/icons.html' import render_icon %}


{% macro render_more_items(items) -%}
  {%- if items %}
  <div class="grid">
    {%- for item in items|sort(attribute='label') %}
      {%- call render_cell(icon_name=item.icon, href=item.url) %}
        {{ render_icon(item.icon) }} <span>{{ item.label }}</span>
      {%- endcall %}
    {%- endfor %}
  </div>
  {%- else %}
  <div class="dimmed-box centered">{{ _('You are not permitted to see any items.') }}</div>
  {%- endif %}
{%- endmacro %}
