{%- from 'macros/icons.html' import render_icon %}


    <div class="dropdown left">
      <button class="dropdown-toggle button">Aktionen {{ render_icon('caret-down') }}</button>
      <ol>
        <li><a href="{{ url_for('.export', order_id=order.id) }}" download="{{ order.order_number }}.xml">{{ render_icon('download') }} für Lexware exportieren (XML)</a></li>

        {%- if order.is_invoiced %}
        <li><a data-action="order-unflag-invoiced" href="{{ url_for('.unset_invoiced_flag', order_id=order.id) }}">{{ render_icon('invoice') }} Rechnung wurde <strong>nicht</strong> versendet</a></li>
        {%- else %}
        <li><a data-action="order-flag-invoiced" href="{{ url_for('.set_invoiced_flag', order_id=order.id) }}">{{ render_icon('invoice') }} Rechnung wurde versendet</a></li>
        {%- endif %}

        {%- if not order.is_canceled %}
        <li class="divider"></li>
          {%- if order.is_open %}
        <li><a href="{{ url_for('.mark_as_paid_form', order_id=order.id) }}">{{ render_icon('payment') }} Bestellung als bezahlt markieren</a></li>
          {%- endif %}
        <li><a href="{{ url_for('.cancel_form', order_id=order.id) }}">{{ render_icon('disabled') }} Bestellung stornieren</a></li>
        {%- endif %}

        {%- if order.is_shipping_required %}
        <li class="divider"></li>
          {%- if order.is_shipped %}
        <li><a data-action="order-unflag-shipped" href="{{ url_for('.unset_shipped_flag', order_id=order.id) }}">{{ render_icon('shipping') }} Bestellung wurde <strong>nicht</strong> versendet</a></li>
          {%- else %}
        <li><a data-action="order-flag-shipped" href="{{ url_for('.set_shipped_flag', order_id=order.id) }}">{{ render_icon('shipping') }} Bestellung wurde versendet</a></li>
          {%- endif %}
        {%- endif %}

      </ol>
    </div>
