{% extends 'layouts/shop_order_admin.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/shop_order_admin.html' import render_order_link, render_order_payment_method, render_order_payment_state, render_order_state_filter %}
{% from 'macros/user_admin.html' import render_user_avatar_16_and_link %}
{% set current_page_party = party %}
{% set title = 'Bestellungen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
      <li>Shop</li>
    </ol>
  </nav>
  <h1>{{ title }} {{ render_extra_in_heading(orders.total) }}</h1>

  <table class="index" style="margin-bottom: 20px;">
    <tr>
      <th>Bestellnummer-Präfix</th>
      <td>{{ order_number_prefix|fallback('nicht festgelegt') }}</td>
    </tr>
  </table>

  <div class="row row--space-between filters">
    <div class="column-auto">
      {# intentionally left blank to right-align filter on wide screens #}
    </div>
    <div class="column-auto">

      <div class="filter">
        <span>{{ render_icon('filter') }} Einschränkung:</span>
        <div class="dropdown left">
          <button class="dropdown-toggle button button--seamless">{{ render_order_state_filter(order_state_filter) }} {{ render_icon('caret-down') }}</button>
          <ol>
            <li><a href="{{ url_for('.index_for_party', party_id=party.id) }}">{{ render_order_state_filter(OrderStateFilter.none) }}</a></li>
            {%- for payment_state in PaymentState %}
            <li><a href="{{ url_for('.index_for_party', party_id=party.id, only_payment_state=payment_state.name) }}">{{ render_order_payment_state(payment_state) }}</a></li>
            {%- endfor %}
            <li><a href="{{ url_for('.index_for_party', party_id=party.id, only_payment_state=PaymentState.paid.name, only_shipped='false') }}">{{ render_order_state_filter(OrderStateFilter.waiting_for_shipping) }}</a></li>
          </ol>
        </div>
      </div>

    </div>
  </div>

  <table class="index wide">
    <thead>
      <tr>
        <th>Bestellnummer<br>Zeitpunkt</th>
        <th>Besteller</th>
        <th>Betrag</th>
        <th colspan="2"></th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {%- for order in orders.items %}
      <tr>
        <td>
          <strong>{{- render_order_link(order) -}}</strong><br>
          {{- render_datetime(order.created_at)|dim -}}
        </td>
        <td>
          {{- render_user_avatar_16_and_link(orderers_by_id[order.placed_by_id]) -}}<br>
          {%- filter dim %}
            {{- order.first_names }} {{ order.last_name -}}
          {%- endfilter %}
        </td>
        <td class="number">{{ order.total_price|format_euro_amount }}</td>
        <td class="centered">
          {%- if order.is_invoiced %}
          {{- render_icon('invoice', title='Rechnung erstellt') -}}
          {%- endif -%}
        </td>
        <td>
          {%- if order.is_shipping_required %}
            {%- if order.is_shipped %}
              {{- render_icon('shipping', title='Lieferung versendet') -}}
            {%- else -%}
              {%- filter dim %}
                {{- render_icon('shipping', title='Versand erforderlich') -}}
              {%- endfilter %}
            {%- endif -%}
          {%- endif -%}
        </td>
        <td>
          {{ render_order_payment_state(order.payment_state) }}<br>
          {{ render_order_payment_method(order.payment_method)|dim }}
        </td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(orders, '.index_for_party', {
    'party_id': party.id,
    'only_payment_state': only_payment_state.name if only_payment_state else None,
    'only_shipped': only_shipped if (only_shipped is not none) else None,
  }) }}

{%- endblock %}
