{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons %}
{% from 'macros/shop_admin.html' import render_main_tabs with context %}
{% from 'macros/shop_order_admin.html' import render_order_link %}
{% set current_page = 'shop_order_admin' %}
{% set current_page_party = order.party %}
{% set current_tab = 'orders' %}
{% set title = 'Bestellung als bezahlt markieren' %}

{% block before_body %}
{{ render_main_tabs(current_tab, order.party) }}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Bestellungen</li>
      <li><a href="{{ url_for('.index_for_party', party_id=order.party.id) }}">{{ order.party.title }}</a></li>
      <li>{{ render_order_link(order) }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <form action="{{ url_for('.mark_as_paid', order_id=order.id) }}" method="post">
    {{ form_buttons('Als bezahlt markieren', icon='success', cancel_url=url_for('.view', order_id=order.id)) }}
  </form>

{%- endblock %}
