{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons %}
{% set simple_layout = true %}
{% set current_page = 'user_email_address.confirm' %}
{% set page_title = _('Confirm email address') %}

{% block body %}

  <h1 class="title">{{ page_title }}</h1>

  {%- if token|default %}
  <form action="{{ url_for('.confirm', token=token) }}" method="post">
    <div class="main-body-box">
      <p>{{ _('Please confirm that this is your email address:') }}</p>
      <p class="centered monospace">{{ email_address }}</p>
    </div>

    {{ form_buttons(_('Confirm')) }}
  </form>
  {%- endif %}

{%- endblock %}
