{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/turnstile.html' import render_turnstile with context %}
{% set ts = config.get('CLOUDFLARE_TURNSTILE') or {} %}
{% set simple_layout = true %}
{% set current_page = 'user_email_address.request_confirmation_email' %}
{% set page_title = _('Request verification email again') %}

{% block body %}

  <h1 class="title">{{ page_title }}</h1>

  <form action="{{ url_for('.request_confirmation_email') }}" method="post">
    <div class="main-body-box">
      {{ form_field(form.screen_name, maxlength=40, autofocus='autofocus') }}
    </div>

    {{ render_turnstile('email_confirmation_request') }}
    {{ form_buttons(_('Request')) }}
  </form>

{%- endblock %}

{% block scripts %}
  {% if ts.get('enabled') and ts.get('sitekey') %}
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
  {% endif %}
{% endblock %}
