{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user' %}
{% set page_title = _('Change user name') %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.change_screen_name') }}" method="post">
    {{ form_field(form.screen_name, maxlength=24, autofocus='autofocus') }}
    {{ form_field(form.password) }}

    {{ form_buttons(_('Change'), cancel_url=url_for('.view')) }}
  </form>

{%- endblock %}
