{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user' %}
{% set title = 'E-Mail-Adresse ändern' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.change_email_address') }}" method="post">
    {{ form_field(form.new_email_address, maxlength=120, autofocus='autofocus') }}

    {{ form_buttons(_('Change'), cancel_url=url_for('.view')) }}
  </form>

{%- endblock %}
