{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_datalist, form_field_simple %}
{% set current_page = 'user' %}
{% set title = 'Deine Daten' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.details_update') }}" method="post">
    {{ form_datalist('countries', country_names) }}

    <div class="row">
      <div class="column-auto column-auto--grow">
        {{ form_field_simple(form.first_names, maxlength=40, autofocus='autofocus') }}
      </div>
      <div class="column-auto column-auto--grow">
        {{ form_field_simple(form.last_name, maxlength=80) }}
      </div>
    </div>
    {{ form_field_simple(form.date_of_birth, size=10) }}
    {{ form_field_simple(form.street, maxlength=40) }}
    <div class="row">
      <div class="column-auto">
        {{ form_field_simple(form.zip_code, size=5, maxlength=5) }}
      </div>
      <div class="column-auto column-auto--grow">
        {{ form_field_simple(form.city, maxlength=40) }}
      </div>
    </div>
    {{ form_field_simple(form.country, list='countries', maxlength=60) }}
    {{ form_field_simple(form.phone_number, maxlength=20) }}

    {{ form_buttons(_('Save'), cancel_url=url_for('.view')) }}
  </form>

{%- endblock %}
