{% extends 'layout/base.html' %}
{% set current_page = 'user' %}
{% set title = _('Account') %}

{% block body %}

  <h1>{{ title }}</h1>

  <div class="mb">
    <a href="{{ url_for('user_profile.view', user_id=g.user.id) }}">{{ _('View public profile') }}</a>
  </div>

  {%- with label_column_width = '8rem', data_column_min_width = '12rem' %}
{%- include 'site/user/settings/_account.html' %}
{%- include 'site/user/settings/_details_personal.html' %}
    {%- if newsletter_offered %}
{%- include 'site/user/settings/_newsletter.html' %}
    {%- endif %}
  {%- endwith %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        // avatar
        confirmed_delete_on_click_then_reload('[data-action="avatar-delete"]', '{{ _('Remove avatar image?') }}');

        // locale
        post_on_click_then_reload('[data-action="locale-update"]');

        // newsletter
        post_on_click_then_reload('[data-action="newsletter-subscribe"]');
        confirmed_delete_on_click_then_reload('[data-action="newsletter-unsubscribe"]', '{{ _('Unsubscribe from newsletter?') }}');
      });
    </script>
{% endblock %}
