{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user' %}
{% set title = 'Deine Daten' %}

{% block body %}

  <h1>{{ title }}</h1>

  <div style="float: right; margin-left: 40px;">
    <div class="dropdown">
      <button class="dropdown-toggle button"><span>Aktionen</span> {{ render_icon('chevron-down') }}</button>
      <ol class="dropdown-menu dropdown-menu--right">
        <li><a class="dropdown-item" href="{{ url_for('.change_screen_name_form') }}">Benutzername ändern</a></li>
        <li><a class="dropdown-item" href="{{ url_for('.change_email_address_form') }}">E-Mail-Adresse ändern</a></li>
        <li><a class="dropdown-item" href="{{ url_for('.details_update_form') }}">Persönliche Daten ändern</a></li>
        <li><a class="dropdown-item" href="{{ url_for('authentication_password.update_form') }}">Passwort ändern</a></li>
      </ol>
    </div>
  </div>

  {%- with label_column_width = '8rem', data_column_min_width = '12rem' %}
{%- include 'site/user/settings/_account.html' %}
{%- include 'site/user/settings/_details_personal.html' %}
    {%- if newsletter_offered %}
{%- include 'site/user/settings/_newsletter.html' %}
    {%- endif %}
  {%- endwith %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        // avatar
        confirmed_delete_on_click_then_reload('[data-action="avatar-delete"]', 'Avatarbild entfernen?');

        // newsletter
        post_on_click_then_reload('[data-action="newsletter-subscribe"]');
        confirmed_delete_on_click_then_reload('[data-action="newsletter-unsubscribe"]', 'Wirklich vom Newsletter abmelden?');
      });
    </script>
{% endblock %}
