{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/user.html' import render_user_screen_name %}
{%- from 'macros/user_avatar.html' import render_user_avatar_32 %}


<div class="current-user">
  {%- if g.current_user.is_active %}
  <div class="dropdown left">
    <button href="{{ url_for('user_settings.view') }}" class="dropdown-toggle button button--clear">
      {{ render_user_avatar_32(g.current_user) }}
      {{ render_icon('caret-down') }}
    </button>
    <ol>
      <li>
        <span class="label-and-name">
          <span class="label">Angemeldet als</span>
          <span class="name">{{ render_user_screen_name(g.current_user) }}</span>
        </span>
      </li>
      <li class="divider"></li>
      <li><a href="{{ url_for('user_admin.view', user_id=g.current_user.id) }}">{{ render_icon('user-profile') }} Profil</a></li>
      <li><a href="{{ url_for('user_settings.view') }}">{{ render_icon('user') }} Einstellungen</a></li>
      <li class="divider"></li>
      <li><a data-action="logout" href="{{ url_for('authentication.logout', _method='POST') }}">{{ render_icon('log-out') }} abmelden</a></li>
    </ol>
  </div>
  {%- else %}
  <div class="logged-out">
    <a class="button" href="{{ url_for('authentication.login_form') }}">{{ render_icon('log-in') }} <span>Anmelden</span></a>
  </div>
  {%- endif %}
</div>
