{%- from 'macros/admin/brand.html' import render_brand_avatar %}


{%- with
  brand = current_page_brand|default,
  party = current_page_party|default,
  site = current_page_site|default,
  shop = current_page_shop|default
%}
        <div class="container header-nav">
          <div class="header-nav-crumbs">

            <a class="header-nav-crumb" href="{{ url_for('admin_dashboard.view_global') }}">Home</a>

  {%- if party %}
    {%- with brand = get_brand_for_party(party) %}
            <span class="header-nav-crumb-separator"></span>
            <div style="margin-right: 0.5rem;">{{ render_brand_avatar(brand, '40') }}</div>
            <a class="header-nav-crumb" href="{{ url_for('admin_dashboard.view_brand', brand_id=brand.id) }}"><small class="dimmed">{{ _('Brand') }}</small><br>{{ brand.title }}</a>
            <span class="header-nav-crumb-separator"></span>
            <a class="header-nav-crumb" href="{{ url_for('admin_dashboard.view_party', party_id=party.id) }}"><small class="dimmed">{{ _('Party') }}</small><br>{{ party.title }}</a>
    {%- endwith %}
  {%- elif site %}
    {%- with brand = get_brand_for_site(site) %}
            <span class="header-nav-crumb-separator"></span>
            <div style="margin-right: 0.5rem;">{{ render_brand_avatar(brand, '40') }}</div>
            <a class="header-nav-crumb" href="{{ url_for('admin_dashboard.view_brand', brand_id=brand.id) }}"><small class="dimmed">{{ _('Brand') }}</small><br>{{ brand.title }}</a>
            <span class="header-nav-crumb-separator"></span>
            <a class="header-nav-crumb" href="{{ url_for('admin_dashboard.view_site', site_id=site.id) }}"><small class="dimmed">{{ _('Site') }}</small><br>{{ site.title }}</a>
    {%- endwith %}
  {%- elif shop %}
            <span class="header-nav-crumb-separator"></span>
            <div style="margin-right: 0.5rem;">{{ render_brand_avatar(brand, '40') }}</div>
            <a class="header-nav-crumb" href="{{ url_for('admin_dashboard.view_brand', brand_id=brand.id) }}"><small class="dimmed">{{ _('Brand') }}</small><br>{{ brand.title }}</a>
            <span class="header-nav-crumb-separator"></span>
            <a class="header-nav-crumb" href="{{ url_for('shop_shop_admin.view', shop_id=shop.id) }}"><small class="dimmed">{{ _('Shop') }}</small><br>{{ shop.title }}</a>
  {%- elif brand %}
            <span class="header-nav-crumb-separator"></span>
            <div style="margin-right: 0.5rem;">{{ render_brand_avatar(brand, '40') }}</div>
            <a class="header-nav-crumb" href="{{ url_for('admin_dashboard.view_brand', brand_id=brand.id) }}"><small class="dimmed">{{ _('Brand') }}</small><br>{{ brand.title }}</a>
  {%- endif %}

          </div>

  {%- if party %}
{% include 'layout/admin/_header_nav_party.html' %}
  {%- elif site %}
{% include 'layout/admin/_header_nav_site.html' %}
  {%- elif shop %}
{% include 'layout/admin/_header_nav_shop.html' %}
  {%- elif brand %}
{% include 'layout/admin/_header_nav_brand.html' %}
  {%- else %}
{% include 'layout/admin/_header_nav_global.html' %}
  {%- endif %}

        </div>
{%- endwith %}
