{%- from 'macros/icons.html' import render_icon -%}


    <header id="header">
      <div id="header-content" class="container">
        <div id="header-grid">
          <div class="column column--brand">

            <a href="/" class="brand-text disguised">BYCEPS</a>

          </div><!-- /.column -->
          <div class="column column--form">

            {%- if has_current_user_permission('user.view') %}
            <form action="{{ url_for('user_admin.index') }}" class="single-row">
              <input type="search" name="search_term" placeholder="{{ _('username, first name, last name, email address') }}" title="{{ _('Search user:') }} {{ _('username, first name, last name, email address') }}">
              <button type="submit" class="button" title="{{ _('Search') }}">{{ render_icon('search') }}</button>
            </form>
            {%- endif %}

          </div><!-- /.column -->
          <div class="column column--user">

{% include 'layout/admin/_current_user.html' %}

          </div><!-- /.column -->
        </div><!-- /#header-grid -->
      </div><!-- /#header-content -->
    </header>
