{%- from 'macros/admin.html' import render_main_tabs %}


{%- with navigation = Navigation(_('Brand'))
    .add_item(
      url_for('admin_dashboard.view_brand',
      brand_id=brand.id),
      _('Dashboard'),
      id='admin_dashboard_brand',
      required_permission=AdminDashboardPermission.view_brand,
      icon='dashboard')
    .add_item(
      url_for('site_admin.index_for_brand', brand_id=brand.id),
      _('Sites'),
      id='sites_admin',
      required_permission=SitePermission.view,
      icon='site')
    .add_item(
      url_for('party_admin.index_for_brand', brand_id=brand.id),
      _('Parties'),
      id='parties_admin',
      required_permission=PartyPermission.view,
      icon='date')
    .add_item(
      url_for('orga_admin.persons_for_brand', brand_id=brand.id),
      _('Organizers'),
      id='orga_admin',
      required_permission=OrgaDetailPermission.view,
      icon='users')
    .add_item(
      url_for('news_admin.channel_index_for_brand', brand_id=brand.id),
      _('News Channels'),
      id='news_admin',
      required_permission=NewsItemPermission.view,
      icon='news')
    .add_item(
      url_for('shop_shop_admin.view_for_brand', brand_id=brand.id),
      _('Shop'),
      id='shop_shop_admin',
      required_permission=ShopPermission.view,
      icon='shop')
    .add_item(
      url_for('more_admin.view_brand', brand_id=brand.id),
      _('More'),
      id='more_admin_brand',
      required_permission=AdminPermission.access,
      icon='ellipsis-h')
-%}
{{ render_main_tabs(navigation, current_page) }}
{%- endwith %}
