{%- from 'macros/admin/brand.html' import render_brand_avatar %}
{%- from 'macros/icons.html' import render_icon -%}


    <header id="header">
      <div id="header-content" class="container">
        <div id="header-grid">
          <div class="column">

{%- include 'layout/admin/_current_user.html' %}

          </div><!-- /.column -->
          <div class="column">

            {%- if g.current_user.has_permission(UserPermission.view) %}
            <form action="{{ url_for('user_admin.index') }}" class="single-row unobtrusive">
              <input type="search" name="search_term" placeholder="Benutzer-, Vor-, Nachname, E-Mail-Adresse" title="Benutzer suchen: Benutzer-, Vor-, Nachname, E-Mail-Adresse" style="width: 16rem;">
              <button type="submit" class="button" title="Suchen">{{ render_icon('search') }}</button>
            </form>
            {%- endif %}

          </div><!-- /.column -->
          <div class="column">

          </div><!-- /.column -->
        </div><!-- /#header-grid -->
      </div><!-- /#header-content -->
    </header>
