{%- from 'macros/admin.html' import render_navigation %}
{%- from 'macros/admin/brand.html' import render_brand_admin_link %}
{%- from 'macros/icons.html' import render_icon -%}


<section class="sidebar-section">
  <header class="sidebar-section-header">
    <div class="sidebar-section-category">Marke</div>
    <div class="dropdown">
      <button class="dropdown-toggle button button--clear button--compact">
        <span>{{ brand.title }}</span> {{ render_icon('caret-down') }}
      </button>
      <ol>
        {%- for brand in all_brands|sort(attribute='title') %}
        <li>{{ render_brand_admin_link(brand) }}</li>
        {%- endfor %}
      </ol>
    </div>
  </header>
  {%- with navigation = Navigation('Marke')
      .add_item(
        url_for('admin_dashboard.view_brand',
        brand_id=brand.id),
        'Dashboard',
        id='admin_dashboard_brand',
        required_permission=AdminDashboardPermission.view_brand,
        icon='dashboard')
      .add_item(
        url_for('brand_admin.view', brand_id=brand.id),
        'Einstellungen',
        id='brand_admin',
        required_permission=BrandPermission.view,
        icon='settings')
      .add_item(
        url_for('party_admin.index_for_brand', brand_id=brand.id),
        'Partys',
        id='partys_admin',
        required_permission=PartyPermission.view,
        icon='date')
      .add_item(
        url_for('orga_admin.persons_for_brand', brand_id=brand.id),
        'Organisatoren',
        id='orga_admin',
        required_permission=OrgaDetailPermission.view,
        icon='users')
      .add_item(
        url_for('attendance_admin.view_for_brand', brand_id=brand.id),
        'Stammgäste',
        id='attendance_admin',
        icon='users')
      .add_item(
        url_for('news_admin.channel_index_for_brand', brand_id=brand.id),
        'News',
        id='news_admin',
        required_permission=NewsItemPermission.view,
        icon='news')
      .add_item(
        url_for('newsletter_admin.view_subscriptions', list_id=brand.id),
        'Newsletter',
        id='newsletter_admin',
        required_permission=NewsletterPermission.view_subscriptions,
        icon='email')
      .add_item(
        url_for('snippet_admin.index_for_scope', scope_type='brand', scope_name=brand.id),
        'Snippets',
        id='snippet_admin_for_brand',
        required_permission=SnippetPermission.view,
        icon='snippet')
      .add_item(
        url_for('terms_admin.view_document', document_id=brand.id),
        'AGB',
        id='terms_admin',
        required_permission=TermsPermission.view,
        icon='legal')
      .add_item(
        url_for('board_admin.board_index_for_brand', brand_id=brand.id),
        'Foren',
        id='board_admin',
        required_permission=BoardCategoryPermission.view,
        icon='board')
  -%}
{{ render_navigation(navigation, current_page) }}
  {%- endwith %}
</section>
