{%- from 'macros/admin.html' import render_navigation %}
{%- from 'macros/icons.html' import render_icon -%}


<section class="sidebar-section">
  <header class="sidebar-section-header">
    <div class="sidebar-section-category">Site</div>
    <div class="dropdown">
      <button class="dropdown-toggle button button--clear button--compact sidebar-section-title">
        <span>{{ site.title }}</span> {{ render_icon('caret-down') }}
      </button>
      <ol>
      {%- with sites = get_sites_for_brand(brand.id) %}
        {%- for site in sites|sort(attribute='title') %}
        <li><a href="{{ url_for('site_admin.view', site_id=site.id) }}">{{ site.title if site.enabled else site.title|dim }}</a></li>
        {%- endfor %}
      {%- endwith %}
      </ol>
    </div>
  </header>
  {%- with navigation = Navigation('Site')
      .add_item(
        url_for('site_admin.view', site_id=site.id),
        'Einstellungen',
        id='site_admin',
        required_permission=SitePermission.view,
        icon='site')
      .add_item(
        url_for('snippet_admin.index_for_scope', scope_type='site', scope_name=site.id),
        'Snippets',
        id='snippet_admin_for_site',
        required_permission=SnippetPermission.view,
        icon='snippet')
      .add_item(
        url_for('news_admin.channel_view', channel_id=site.news_channel_id) if site.news_channel_id else '',
        'Newskanal',
        id='news_admin',
        required_permission=NewsItemPermission.view,
        precondition=site.news_channel_id is not none,
        icon='news')
      .add_item(
        url_for('board_admin.board_view', board_id=site.board_id) if site.board_id else '',
        'Forum',
        id='board_admin',
        required_permission=BoardCategoryPermission.view,
        precondition=site.board_id is not none,
        icon='board')
      .add_item(
        url_for('shop_storefront_admin.view', storefront_id=site.storefront_id) if site.storefront_id else '',
        'Storefront',
        id='shop_storefront_admin',
        required_permission=ShopPermission.view,
        precondition=site.storefront_id is not none,
        icon='shop')
  -%}
{{ render_navigation(navigation, current_page) }}
  {%- endwith %}
</section>
