{%- from 'macros/admin.html' import render_navigation %}


<section class="sidebar-section">
  <header class="sidebar-section-header">Global</header>
  {%- with navigation = Navigation('global')
      .add_item(
        url_for('admin_dashboard.view_global'),
        'Dashboard',
        id='admin_dashboard_global',
        required_permission=AdminDashboardPermission.view_global,
        icon='dashboard')
      .add_item(
        url_for('user_admin.index'),
        'Benutzer',
        id='user_admin',
        required_permission=UserPermission.view,
        icon='users')
      .add_item(
        url_for('brand_admin.index'),
        'Marken',
        id='brands_admin',
        required_permission=BrandPermission.view,
        icon='brand')
      .add_item(
        url_for('party_admin.index'),
        'Partys',
        id='parties_admin',
        required_permission=PartyPermission.view,
        icon='date')
      .add_item(
        url_for('site_admin.index'),
        'Sites',
        id='sites_admin',
        required_permission=SitePermission.view,
        icon='site')
      .add_item(
        url_for('more_admin.index'),
        'Mehr',
        id='more_admin',
        required_permission=AdminPermission.access,
        icon='ellipsis-h')
  -%}
{{ render_navigation(navigation, current_page) }}
  {%- endwith %}
</section>
