{%- from 'macros/admin.html' import render_navigation %}


<section class="sidebar-section">
  <header class="sidebar-section-header">
    <div class="sidebar-section-category">Site</div>
    <div class="dropdown">
      <button class="dropdown-toggle button button--clear button--compact sidebar-section-title">
        <span>{{ site.title }}</span> {{ render_icon('caret-down') }}
      </button>
      <ol>
      {%- with sites = get_all_sites() %}
        {%- for site in sites|sort(attribute='title') %}
        <li><a href="{{ url_for('site_admin.view', site_id=site.id) }}">{{ site.title if site.enabled else site.title|dim }}</a></li>
        {%- endfor %}
      {%- endwith %}
      </ol>
    </div>
  </header>
  {%- with navigation = Navigation('Site')
      .add_item(
        url_for('site_admin.view', site_id=site.id),
        'Einstellungen',
        id='site_admin',
        required_permission=SitePermission.view,
        icon='site')
      .add_item(
        url_for('snippet_admin.index_for_scope', scope_type='site', scope_name=site.id),
        'Snippets',
        id='snippet_admin_for_site',
        required_permission=SnippetPermission.view,
        icon='snippet')
      .add_item(
        url_for('shop_shop_admin.view_for_site', site_id=site.id),
        'Shop',
        id='shop_shop_admin',
        required_permission=ShopPermission.view,
        icon='shop')
  -%}
{{ render_navigation(navigation, current_page) }}
  {%- endwith %}
</section>
