{%- from 'macros/admin.html' import render_navigation %}
{%- from 'macros/admin/brand.html' import render_brand_avatar %}
{%- from 'macros/admin/party.html' import render_party_admin_link %}
{%- from 'macros/icons.html' import render_icon -%}


<section class="sidebar-section">
  <header class="sidebar-section-header sidebar-section-header--unpadded">
    <div class="dropdown">
      <button class="dropdown-toggle button button--clear button--compact">
        <div class="sidebar-section-header-layout">
          {{ render_brand_avatar(brand, '32') }}
          <div>
            <div class="sidebar-section-category">Party</div>
            {{ party.title }} {{ render_icon('chevron-down') }}
          </div>
        </div>
      </button>
      <ol class="dropdown-menu">
        {%- for party in get_parties_for_brand(brand.id)|sort(attribute='starts_at', reverse=True) %}
        <li>{{ render_party_admin_link(party, class='dropdown-item', dim_archived=True) }}</li>
        {%- endfor %}
      </ol>
    </div>
  </header>
  {%- with navigation = Navigation('Party')
      .add_item(
        url_for('admin_dashboard.view_party', party_id=party.id),
        'Dashboard',
        id='admin_dashboard_party',
        required_permission=AdminDashboardPermission.view_party,
        icon='dashboard')
      .add_item(
        url_for('party_admin.view', party_id=party.id),
        'Einstellungen',
        id='party_admin',
        required_permission=PartyPermission.view,
        icon='settings')
      .add_item(
        url_for('seating_admin.index_for_party', party_id=party.id),
        'Sitzpläne',
        id='seating_admin',
        required_permission=SeatingPermission.view,
        icon='seating-area')
      .add_item(
        url_for('ticketing_admin.index_for_party', party_id=party.id),
        'Tickets',
        id='ticketing_admin',
        required_permission=TicketingPermission.view,
        icon='ticket')
      .add_item(
        url_for('ticketing_checkin.index', party_id=party.id),
        'Check-In',
        id='ticketing_checkin',
        required_permission=TicketingPermission.checkin,
        icon='ticketing-checkin')
      .add_item(
        url_for('orga_team_admin.teams_for_party', party_id=party.id),
        'Orga-Teams',
        id='orga_team_admin.teams',
        required_permission=OrgaTeamPermission.view,
        icon='users')
      .add_item(
        url_for('orga_presence.view', party_id=party.id),
        'Orga-Anwesenheit',
        id='orga_presence',
        required_permission=OrgaPresencePermission.view,
        icon='date-okay')
      .add_item(
        url_for('tourney_admin.category_index_for_party', party_id=party.id),
        'Turniere',
        id='tourney_admin',
        required_permission=TourneyCategoryPermission.view,
        icon='trophy')
  -%}
{{ render_navigation(navigation, current_page) }}
  {%- endwith %}
</section>
