{%- from 'macros/admin.html' import render_navigation %}


<section class="sidebar-section">
  <header class="sidebar-section-header">Global</header>
  {%- with navigation = Navigation('global')
      .add_item(
        url_for('admin_dashboard.view_global'),
        'Dashboard',
        id='admin_dashboard_global',
        required_permission=AdminDashboardPermission.view_global,
        icon='dashboard')
      .add_item(
        url_for('user_admin.index'),
        'Benutzer',
        id='user_admin',
        required_permission=UserPermission.view,
        icon='users')
      .add_item(
        url_for('authorization_admin.role_index'),
        'Berechtigungen',
        id='authorization_admin',
        required_permission=RolePermission.view,
        icon='permission')
      .add_item(
        url_for('consent_admin.index'),
        'Zustimmungen',
        id='consent_admin',
        required_permission=ConsentPermission.administrate,
        icon='consent')
      .add_item(
        url_for('newsletter_admin.index'),
        'Newsletter',
        id='newsletter_admin',
        required_permission=NewsletterPermission.view_subscriptions,
        icon='email')
      .add_item(
        url_for('user_badge_admin.index'),
        'Abzeichen',
        id='user_badge_admin',
        icon='badge')
      .add_item(
        url_for('snippet_admin.index_for_scope', scope_type='global', scope_name='global'),
        'Snippets',
        id='snippet_admin_for_global',
        required_permission=SnippetPermission.view,
        icon='snippet')
      .add_item(
        url_for('orga_admin.birthdays'),
        'Geburtstage',
        id='orga_admin.birthdays',
        required_permission=OrgaBirthdayPermission.view,
        icon='birthday')
      .add_item(
        url_for('email_admin.index'),
        'E-Mail',
        id='email_admin',
        required_permission=EmailConfigPermission.view,
        icon='email')
      .add_item(
        url_for('brand_admin.index'),
        'Marken',
        id='brands_admin',
        required_permission=BrandPermission.view,
        icon='brand')
      .add_item(
        url_for('party_admin.index'),
        'Partys',
        id='parties_admin',
        required_permission=PartyPermission.view,
        icon='date')
      .add_item(
        url_for('site_admin.index'),
        'Sites',
        id='sites_admin',
        required_permission=SitePermission.view,
        icon='site')
      .add_item(
        url_for('shop_shop_admin.index'),
        'Shops',
        id='shops_admin',
        required_permission=ShopPermission.view,
        icon='shop')
      .add_item(
        url_for('jobs_admin.index'),
        'Jobs',
        id='jobs_admin',
        required_permission=JobsPermission.view,
        icon='pending')
  -%}
{{ render_navigation(navigation, current_page) }}
  {%- endwith %}
</section>
