{%- from 'macros/admin.html' import render_navigation %}
{%- from 'macros/admin/brand.html' import render_brand_admin_link, render_brand_avatar %}
{%- from 'macros/icons.html' import render_icon -%}


<section class="sidebar-section">
  <header class="sidebar-section-header sidebar-section-header--unpadded">
    <div class="dropdown">
      <button class="dropdown-toggle button button--clear button--compact">
        <div class="sidebar-section-header-layout">
          {{ render_brand_avatar(brand, '32') }}
          <div>
            <div class="sidebar-section-category">Marke</div>
            {{ brand.title }} {{ render_icon('chevron-down') }}
          </div>
        </div>
      </button>
      <ol class="dropdown-menu">
        {%- for brand in all_brands|sort(attribute='title') %}
        <li>{{ render_brand_admin_link(brand, class='dropdown-item') }}</li>
        {%- endfor %}
      </ol>
    </div>
  </header>
  {%- with navigation = Navigation('Marke')
      .add_item(
        url_for('admin_dashboard.view_brand',
        brand_id=brand.id),
        'Dashboard',
        id='admin_dashboard_brand',
        required_permission=AdminDashboardPermission.view_brand,
        icon='dashboard')
      .add_item(
        url_for('site_admin.index_for_brand', brand_id=brand.id),
        'Sites',
        id='sites_admin',
        required_permission=SitePermission.view,
        icon='site')
      .add_item(
        url_for('party_admin.index_for_brand', brand_id=brand.id),
        'Partys',
        id='parties_admin',
        required_permission=PartyPermission.view,
        icon='date')
      .add_item(
        url_for('orga_admin.persons_for_brand', brand_id=brand.id),
        'Organisatoren',
        id='orga_admin',
        required_permission=OrgaDetailPermission.view,
        icon='users')
      .add_item(
        url_for('shop_shop_admin.view_for_brand', brand_id=brand.id),
        'Shop',
        id='shop_shop_admin',
        required_permission=ShopPermission.view,
        icon='shop')
      .add_item(
        url_for('more_admin.view_brand', brand_id=brand.id),
        'Mehr',
        id='more_admin_brand',
        required_permission=AdminPermission.access,
        icon='ellipsis-h')
  -%}
{{ render_navigation(navigation, current_page) }}
  {%- endwith %}
</section>
