{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_main_tabs %}
{% set current_page = 'ticketing_admin' %}

{% block before_body %}
  {%- with party = current_page_party %}
{{
  render_main_tabs(
    Navigation(None)
      .add_item(
        url_for('ticketing_admin.index_for_party', party_id=party.id),
        _('Tickets'),
        id='tickets',
        required_permission='ticketing.view',
        icon='ticket')
      .add_item(
        url_for('ticketing_admin.index_bundle_for_party', party_id=party.id),
        _('Ticket Bundles'),
        id='bundles',
        required_permission='ticketing.view',
        icon='ticket-bundle')
      .add_item(
        url_for('ticketing_category_admin.index', party_id=party.id),
        _('Categories'),
        id='categories',
        required_permission='ticketing.administrate')
    , current_tab
  )
}}
  {%- endwith %}
{%- endblock %}
