{% extends 'layout/admin/snippet.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/text_diff.html' import render_difference, render_difference_styles  %}
{% set page_title = _('View changes') %}

{%- block head %}
{{ render_difference_styles() }}
{%- endblock %}

{% block before_body %}
{{ render_backlink(url_for('.view_current_version', snippet_id=snippet.id), snippet.name) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <h2>{{ _('Title') }}</h2>
{{ render_difference(diff_title) }}

  <h2>{{ _('Page header') }}</h2>
{{ render_difference(diff_head) }}

  <h2>{{ _('Text') }}</h2>
{{ render_difference(diff_body) }}

  <h2>{{ _('Image URL path') }}</h2>
{{ render_difference(diff_image_url_path) }}

{%- endblock %}
