{% extends 'layout/admin/snippet.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set page_title = 'Fragment erstellen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Snippets</li>
      <li><a href="{{ url_for('.index_for_scope', scope_type=scope.type_, scope_name=scope.name) }}">{{ scope.type_ }}/{{ scope.name }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ page_title }}</h1>

  <form action="{{ url_for('.create_fragment', scope_type=scope.type_, scope_name=scope.name) }}" method="post">
    {{ form_field(form.name, maxlength=40, autofocus='autofocus') }}
    {{ form_field(form.body, class='monospace') }}

    {{ form_buttons(_('Save'), cancel_url=url_for('.index_for_scope', scope_type=scope.type_, scope_name=scope.name)) }}
  </form>

{%- endblock %}
