{% extends 'layout/admin/snippet.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set page_title = _('Create fragment') %}
{% set layout_main_raw = True %}

{% block before_body %}
{{ render_backlink(url_for('.index_for_scope', scope_type=scope.type_, scope_name=scope.name), _('Snippets')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.create_fragment', scope_type=scope.type_, scope_name=scope.name) }}" method="post">
    {{ form_field(form.name, maxlength=40, autofocus='autofocus') }}
    {{ form_field(form.body, class='monospace') }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
