{% extends 'layout/admin/snippet.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set page_title = _('Create document') %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ _('Snippets') }}</li>
      <li><a href="{{ url_for('.index_for_scope', scope_type=scope.type_, scope_name=scope.name) }}">{{ scope.type_ }}/{{ scope.name }}</a></li>
    </ol>
  </nav>
  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.create_document', scope_type=scope.type_, scope_name=scope.name) }}" method="post">
    {{ form_field(form.name, maxlength=40, autofocus='autofocus') }}
    {{ form_field(form.title, maxlength=80) }}
    {{ form_field(form.head, class='monospace') }}
    {{ form_field(form.body, class='monospace') }}
    {{ form_field(form.image_url_path, maxlength=80) }}

    {{ form_buttons(_('Save'), cancel_url=url_for('.index_for_scope', scope_type=scope.type_, scope_name=scope.name)) }}
  </form>

{%- endblock %}
