{% extends 'layout/admin/snippet.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar_20_and_name %}
{% set title = 'Versionshistorie' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Snippets</li>
      <li><a href="{{ url_for('.index_for_scope', scope_type=snippet.scope.type_, scope_name=snippet.scope.name) }}">{{ snippet.scope.type_ }}/{{ snippet.scope.name }}</a></li>
      <li>{{ snippet.name }}</li>
    </ol>
  </nav>
  <h1>{{ render_icon('history') }} {{ title }}</h1>

  {%- if versions_pairwise %}
  <table class="index wide">
    <thead>
      <tr>
        <th></th>
        <th>geändert</th>
        <th>durch</th>
        <th>Unterschiede</th>
      </tr>
    </thead>
    <tbody>
    {%- with compare_endpoint = '.compare_fragments' if snippet.is_fragment else '.compare_documents' %}
      {%- for version, previous_version in versions_pairwise %}
        <tr>
          <td>
            {%- if version.is_current -%}
            {{ render_icon('published', title='öffentlich') }}
            {%- else -%}
            {{ render_icon('archived', title='archiviert') }}
            {%- endif -%}
          </td>
          <td class="nowrap"><a href="{{ url_for('.view_version', snippet_version_id=version.id) }}">{{ render_datetime(version.created_at|utc_to_local_tz) }}</a></td>
          <td>{{ render_user_avatar_20_and_name(version.creator) }}</td>
          <td>
            {%- if previous_version -%}
            <a href="{{ url_for(compare_endpoint, from_version_id=previous_version.id, to_version_id=version.id) }}" title="Änderungen im Vergleich zur vorigen Version anzeigen">Änderungen zeigen</a>
            {%- endif -%}
          </td>
        </tr>
      {%- endfor %}
    {%- endwith %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Versionen hinterlegt.</div>
  {%- endif %}

{%- endblock %}
