{% extends 'layout/admin/snippet.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar_20_and_name %}
{% set page_title = _('Version history') %}

{% block before_body %}
{{ render_backlink(url_for('.view_current_version', snippet_id=snippet.id), snippet.name) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('history') }} {{ page_title }}</h1>

  {%- if versions_pairwise %}
  <table class="index wide">
    <thead>
      <tr>
        <th></th>
        <th>{{ _('changed') }}</th>
        <th>{{ _('by') }}</th>
        <th>{{ _('Differences') }}</th>
      </tr>
    </thead>
    <tbody>
    {%- with compare_endpoint = '.compare_fragments' if snippet.is_fragment else '.compare_documents' %}
      {%- for version, previous_version in versions_pairwise %}
        <tr>
          <td>
            {%- if version.is_current -%}
            {{ render_icon('published', title=_('public')) }}
            {%- else -%}
            {{ render_icon('archived', title=_('archived')) }}
            {%- endif -%}
          </td>
          <td class="nowrap"><a href="{{ url_for('.view_version', snippet_version_id=version.id) }}">{{ render_datetime(version.created_at|utc_to_local_tz) }}</a></td>
          <td>{{ render_user_avatar_20_and_name(users_by_id[version.creator_id]) }}</td>
          <td>
            {%- if previous_version -%}
            <a href="{{ url_for(compare_endpoint, from_version_id=previous_version.id, to_version_id=version.id) }}" title="{{ _('View changes compared to previous version') }}">{{ _('View changes') }}</a>
            {%- endif -%}
          </td>
        </tr>
      {%- endfor %}
    {%- endwith %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">{{ _('No versions exist.') }}</div>
  {%- endif %}

{%- endblock %}
