{% extends 'layout/admin/snippet.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar_20_and_name %}
{% set title = '%s/%s - Snippets'|format(scope.type_, scope.name) %}

{% block before_body %}
  {% if (scope.type_ == 'site') and (site is not none) %}
    {%- from 'macros/admin.html' import render_main_tabs %}
    {%- set current_tab = 'snippets' %}
    {{ render_main_tabs(
      Navigation(None)
        .add_item(
          url_for('.index_for_scope', scope_type=scope.type_, scope_name=scope.name),
          'Snippets',
          id='snippets',
          required_permission=SnippetPermission.view)
        .add_item(
          url_for('.index_mountpoints', site_id=site.id),
          'Mountpoints',
          id='mountpoints',
          required_permission=SnippetPermission.view)
      , current_tab
    ) }}
  {% endif %}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Snippets</li>
    </ol>
  </nav>
  <h1>{{ scope.type_ }}/{{ scope.name }}</h1>

  <div class="row row--space-between">
    <div class="column-auto">
      <h2>Snippets {{ render_extra_in_heading(snippets|length) }}</h2>
    </div>
  {%- if has_current_user_permission(SnippetPermission.create) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('add') }} Snippet erstellen</span> {{ render_icon('chevron-down') }}</button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.create_document_form', scope_type=scope.type_, scope_name=scope.name) }}">{{ render_icon('snippet-document') }} Dokument</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.create_fragment_form', scope_type=scope.type_, scope_name=scope.name) }}">{{ render_icon('snippet-fragment') }} Fragment</a></li>
          </ol>
        </div>
      </div>
    </div>
  {%- endif %}
  </div>

  {%- if snippets %}
  <table class="index wide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Letzte Änderung</th>
        <th>durch</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for snippet in snippets|sort(attribute='name') %}
      <tr>
        <td class="nowrap">
          {%- if snippet.is_document %}
          {{ render_icon('snippet-document', title='Dokument') }}
          {%- elif snippet.is_fragment %}
          {{ render_icon('snippet-fragment', title='Fragment') }}
          {%- endif %}
          <a href="{{ url_for('.view_current_version', snippet_id=snippet.id) }}"><strong>{{ snippet.name }}</strong></a>
        </td>
        <td class="nowrap">
          {%- if has_current_user_permission(SnippetPermission.view_history) %}
          {{ render_icon('history') }} <a href="{{ url_for('.history', snippet_id=snippet.id) }}" title="Änderungshistorie ansehen">{{ render_datetime(snippet.current_version.created_at|utc_to_local_tz) }}</a>
          {%- else %}
          {{ render_datetime(snippet.current_version.created_at|utc_to_local_tz) }}
          {%- endif %}
        </td>
        <td>{{ render_user_avatar_20_and_name(snippet.current_version.creator) }}</td>
        <td>
          <div class="button-row button-row--compact button-row--right">
            {%- if has_current_user_permission(SnippetPermission.update) %}
              {%- with endpoint = '.update_fragment_form' if snippet.is_fragment else '.update_document_form' %}
            <a href="{{ url_for(endpoint, snippet_id=snippet.id) }}" class="button button--compact" title="Bearbeiten">{{ render_icon('edit') }}</a>
              {%- endwith %}
            {%- endif %}
            {%- if snippet.is_document and has_current_user_permission(SnippetMountpointPermission.create) %}
            <div class="dropdown">
              <button class="dropdown-toggle button button--compact">{{ render_icon('chevron-down') }}</button>
              <ol class="dropdown-menu dropdown-menu--right">
                <li><a class="dropdown-item" href="{{ url_for('.create_mountpoint_form', snippet_id=snippet.id) }}">{{ render_icon('add') }} Mountpoint erstellen</a></li>
              </ol>
            </div>
            {%- else %}
              {# Occupy width of dropdown button to keep edit buttons horizontally aligned. #}
              <button class="dropdown-toggle button button--compact" style="visibility: hidden;">{{ render_icon('chevron-down') }}</button>
            {%- endif %}
          </div>
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Snippets hinterlegt.</div>
  {%- endif %}

{%- endblock %}
