{% extends 'layout/admin/snippet.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set title = '%s/%s - Mountpoints'|format(scope.type_, scope.name) %}

{% if scope.type_ == 'site' %}
  {% block before_body %}
    {%- from 'macros/admin.html' import render_main_tabs %}
    {%- set current_tab = 'mountpoints' %}
    {{ render_main_tabs(
      Navigation(None)
        .add_item(
          url_for('.index_for_scope', scope_type=scope.type_, scope_name=scope.name),
          'Snippets',
          id='snippets',
          required_permission=SnippetPermission.view)
        .add_item(
          url_for('.index_mountpoints', site_id=site.id),
          'Mountpoints',
          id='mountpoints',
          required_permission=SnippetPermission.view)
      , current_tab
    ) }}
  {%- endblock %}
{% endif %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Snippets</li>
    </ol>
  </nav>
  <h1>{{ scope.type_ }}/{{ scope.name }}</h1>

  <h2>Mountpoints {{ render_extra_in_heading(mountpoints_and_snippets|length) }}</h2>

  {%- if mountpoints_and_snippets %}
  <table class="index wide">
    <thead>
      <tr>
        <th>URL-Pfad</th>
        <th>Bezeichner</th>
        <th>Snippet<br>Scope</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for mountpoint, snippet in mountpoints_and_snippets|sort(attribute='0.url_path') %}
      <tr>
        <td>{{ mountpoint.url_path }}</td>
        <td>{{ mountpoint.endpoint_suffix }}</td>
        <td>
          <a href="{{ url_for('.view_current_version', snippet_id=snippet.id) }}">{{- snippet.name }}</a><br>
          <span class="dimmed">{{ snippet.scope.type_ }}/{{ snippet.scope.name }}</span>
        </td>
        <td>
        {%- if g.current_user.has_permission(SnippetMountpointPermission.delete) %}
          <div class="dropdown">
            <button class="dropdown-toggle button button--compact">{{ render_icon('caret-down') }}</button>
            <ol class="dropdown-menu dropdown-menu--right">
              <li><a class="dropdown-item" data-action="mountpoint-delete" href="{{ url_for('.delete_mountpoint', mountpoint_id=mountpoint.id) }}">{{ render_icon('remove') }} Mountpoint entfernen</a></li>
            </ol>
          </div>
        {%- endif %}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Mountpoints für diese Site hinterlegt.</div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        confirmed_delete_on_click_then_reload('[data-action="mountpoint-delete"]', 'Mountpoint entfernen?');
      });
    </script>
{%- endblock %}
