{% extends 'layout/admin/snippet.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set title = 'Dokument bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Snippets</li>
      <li><a href="{{ url_for('.index_for_scope', scope_type=snippet.scope.type_, scope_name=snippet.scope.name) }}">{{ snippet.scope.type_ }}/{{ snippet.scope.name }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update_document', snippet_id=snippet.id) }}" method="post">
    {{ form_field(form.name, maxlength=40, readonly='readonly', autofocus='autofocus') }}
    {{ form_field(form.title, maxlength=80) }}
    {{ form_field(form.head, class='monospace') }}
    {{ form_field(form.body, class='monospace') }}
    {{ form_field(form.image_url_path, maxlength=80) }}

    {{ form_buttons(_('Save'), cancel_url=url_for('.index_for_scope', scope_type=snippet.scope.type_, scope_name=snippet.scope.name)) }}
  </form>

{%- endblock %}
