{% extends 'layout/admin/snippet.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set page_title = _('Edit fragment') %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ _('Snippets') }}</li>
      <li><a href="{{ url_for('.index_for_scope', scope_type=snippet.scope.type_, scope_name=snippet.scope.name) }}">{{ snippet.scope.type_ }}/{{ snippet.scope.name }}</a></li>
    </ol>
  </nav>
  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.update_fragment', snippet_id=snippet.id) }}" method="post">
    {{ form_field(form.name, maxlength=40, readonly='readonly', autofocus='autofocus') }}
    {{ form_field(form.body, class='monospace') }}

    {{ form_buttons(_('Save'), cancel_url=url_for('.index_for_scope', scope_type=snippet.scope.type_, scope_name=snippet.scope.name)) }}
  </form>

{%- endblock %}
