{% extends 'layout/admin/snippet.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification, render_tag %}
{% from 'macros/user_avatar.html' import render_user_avatar_16_and_name %}
{% set page_title = _('View snippet version') %}

{% block head %}
  <style>
    .snippet-head {
      background-color: #eeeeee;
      border-bottom: #cccccc solid 1px;
      margin-bottom: 40px;
      margin-left: -40px;
      margin-right: -40px;
      margin-top: -20px;
      padding: 20px 40px;
    }

    .snippet-head table.index > tbody > tr > th,
    .snippet-head table.index > tbody > tr > td {
      border: none;
    }
  </style>

  {%- if not error_occurred and snippet_head %}
{{ snippet_head|safe }}
  {%- endif %}
{% endblock %}

{% block body %}

  <div class="snippet-head">
  {%- with snippet = version.snippet %}

    <div class="button-row button-row--compact" style="float: right;">

      {%- if has_current_user_permission(SnippetPermission.update) -%}
        {%- with endpoint = '.update_fragment_form' if snippet.is_fragment else '.update_document_form' %}
      <a class="button" href="{{ url_for(endpoint, snippet_id=snippet.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
        {%- endwith %}
      {%- endif -%}

      {%- if has_current_user_permission(SnippetPermission.delete) %}
      <div class="dropdown">
        <button class="dropdown-toggle button"><span>{{ render_icon('chevron-down') }}</span></button>
        <ol class="dropdown-menu dropdown-menu--right">
          <li><a class="dropdown-item" data-action="snippet-delete" href="{{ url_for('.delete_snippet', snippet_id=snippet.id) }}">{{ render_icon('delete') }} {{ _('Delete') }}</a></li>
        </ol>
      </div>
      {%- endif %}

    </div>

    <table class="index">
      <tr>
        <th>{{ _('Scope') }}</th>
        <td><a href="{{ url_for('.index_for_scope', scope_type=snippet.scope_type, scope_name=snippet.scope_name) }}">{{ snippet.scope_type }}/{{ snippet.scope_name }}</a></td>
      </tr>
      <tr>
        <th>{{ _('Snippet') }}</th>
        <td>{{ snippet.name }}</td>
      </tr>
      <tr>
        <th>{{ _('Type') }}</th>
        <td>
          {%- if snippet.is_document %}
          {{ render_icon('snippet-document') }} {{ _('Document') }}
          {%- elif snippet.is_fragment %}
          {{ render_icon('snippet-fragment') }} {{ _('Fragment') }}
          {%- endif %}
        </td>
      </tr>
      <tr>
        <th>{{ _('Version') }}</th>
        <td>
          {{- version.id -}}
          {%- if is_current_version %}
          {{ render_tag('aktuell', class='color-success') }}
          {%- else %}
          {{ render_tag('veraltet', class='color-warning') }}<br>
          <a href="{{ url_for('.view_current_version', snippet_id=snippet.id) }}">{{ _('View current version') }}</a>
          {%- endif %}
        </td>
      </tr>
      <tr>
        <th>{{ _('Created') }}</th>
        <td>
          {{ render_datetime(version.created_at|utc_to_local_tz) }} {{ _('by') }} {{ render_user_avatar_16_and_name(creator) }}<br>
          <a href="{{ url_for('.history', snippet_id=snippet.id) }}">{{ render_icon('history') }} {{ _('View change history') }}</a>
        </td>
      </tr>
    </table>

  {%- endwith %}
  </div>

  {%- if error_occurred %}

    {%- set notification_body %}
        {{ _('An error occured.') }}<br>
        <pre style="white-space: pre-wrap;">{{ error_message }}</pre>
    {%- endset %}
    {{ render_notification(notification_body, category='danger', icon='warning') }}

  {%- else %}

    {%- if snippet_title %}
  <h1>{{ snippet_title }}</h1>
    {%- endif %}

  {{- snippet_body|safe }}

  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_delete_on_click('[data-action="snippet-delete"]', '{{ _('Delete snippet?') }}');
      });
    </script>
{% endblock %}
