{% extends 'layout/admin/snippet.html' %}
{% from 'macros/admin/user.html' import render_user_avatar_16_and_name %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/misc.html' import render_notification %}
{% set title = 'Snippetversion ansehen' %}

{% block head %}
  <style>
    .snippet-head {
      background-color: #eeeeee;
      border-bottom: #cccccc solid 1px;
      margin-bottom: 40px;
      margin-left: -40px;
      margin-right: -40px;
      margin-top: -20px;
      padding: 20px 40px;
    }
  </style>

  {%- if not error_occurred and snippet_head %}
{{ snippet_head|safe }}
  {%- endif %}
{% endblock %}

{% block body %}

  <div class="snippet-head">

    {%- if g.current_user.has_permission(SnippetPermission.update) -%}
    <div class="button-row button-row--compact" style="float: right;">
      {%- with endpoint = '.update_fragment_form' if version.snippet.is_fragment else '.update_document_form' %}
      <a class="button" href="{{ url_for(endpoint, snippet_id=version.snippet.id) }}">{{ render_icon('edit') }} <span>Bearbeiten</span></a>
      {%- endwith %}
    </div>
    {%- endif -%}

    <table>
      <tr>
        <th>Scope:</th>
        <td><a href="{{ url_for('.index_for_scope', scope_type=version.snippet.scope_type, scope_name=version.snippet.scope_name) }}">{{ version.snippet.scope_type }}/{{ version.snippet.scope_name }}</a></td>
      </tr>
      <tr>
        <th>Snippet:</th>
        <td>{{ version.snippet.name }}</td>
      </tr>
      <tr>
        <th>Typ:</th>
        <td>
          {%- if version.snippet.is_document %}
          {{ render_icon('snippet-document') }} Dokument
          {%- elif version.snippet.is_fragment %}
          {{ render_icon('snippet-fragment') }} Fragment
          {%- endif %}
        </td>
      </tr>
      <tr>
        <th>Version:</th>
        <td>{{ version.id }}</td>
      </tr>
      <tr>
        <th>Erstellt:</th>
        <td>
          {{ render_datetime(version.created_at|utc_to_local_tz) }} von {{ render_user_avatar_16_and_name(version.creator) }}<br>
          <a href="{{ url_for('.history', snippet_id=version.snippet.id) }}">{{ render_icon('history') }} Änderungshistorie ansehen</a>
        </td>
      </tr>
    </table>

  </div>

  {%- if error_occurred %}

    {%- set notification_body %}
        Entschuldigung, es ist ein Fehler aufgetreten.<br>
        <pre style="white-space: pre-wrap;">{{ error_message }}</pre>
    {%- endset %}
    {{ render_notification(notification_body, category='danger', icon='warning') }}

  {%- else %}

    {%- if snippet_title %}
  <h1>{{ snippet_title }}</h1>
    {%- endif %}

  {{- snippet_body|safe }}

  {%- endif %}

{%- endblock %}
