{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'shop_orders' %}
{% set page_title = 'Bestellung {} stornieren'.format(order.order_number) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ _('Shop') }}</li>
      <li><a href="{{ url_for('.index') }}">{{ _('Your orders') }}</a></li>
      <li><a href="{{ url_for('.view', order_id=order.id) }}">{{ order.order_number }}</a></li>
    </ol>
  </nav>
  <h1>Bestellung stornieren</h1>

  <form action="{{ url_for('.cancel', order_id=order.id) }}" method="post">
    {{ form_field(form.reason, maxlength=1000) }}

    {{ form_buttons(_('Cancel order'), icon='remove', cancel_url=url_for('.view', order_id=order.id)) }}
  </form>

{%- endblock %}
