{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set simple_layout = true %}
{% set current_page = 'shop_orders' %}
{% set page_title = [_('Return tickets'), order.order_number] %}

{% block body %}

{% include 'site/shop/orders/_request_cancellation_head.html' %}

  <div class="main-body-box">

    <div class="block">Du möchtest <strong>den vollen Betrag spenden</strong> und nichts erstattet bekommen. Das finden wir total super, vielen Dank dafür! ❤️</div>

{% include 'site/shop/orders/_products.html' %}

    <div class="block">Deine Bestellung wird im Anschluss automatisch storniert.</div>

    <form action="{{ url_for('.donate_everything', order_id=order.id) }}" method="post">

      <div class="row row--space-between">
        <div>
          <a class="button button--clear is-compact" href="{{ url_for('.request_cancellation_choices', order_id=order.id) }}">{{ render_icon('chevron-left') }} <span>{{ _('Back to selection') }}</span></a>
        </div>
        <div>
          <button type="submit" class="button color-primary">{{ _('Return tickets') }}</button>
        </div>
      </div>

    </form>

  </div>

{%- endblock %}
