{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'shop_orders' %}
{% set page_title = ['Tickets zurückgeben', order.order_number] %}

{% block body %}

{% include 'site/shop/orders/_request_cancelation_head.html' %}

  <div class="main-body-box">
    <form action="{{ url_for('.request_partial_refund', order_id=order.id) }}" method="post">

      <p>Du möchtest <strong>einen Teil des Betrages spenden</strong> und den Rest erstattet bekommen.</p>

{% include 'site/shop/orders/_articles.html' %}

      {{ form_field(form.amount_donation, style='width: 6rem;', note='Nur volle Euro') }}

      <p>Damit wir dir den Restbetrag zurückerstatten können, benötigen wir deine Bankverbindung.</p>

      <div style="display: grid; grid-gap: 1rem; grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));">
        <div>
      {{ form_field(form.recipient_name) }}
        </div>
        <div>
      {{ form_field(form.recipient_iban) }}
        </div>
      </div>

      <p>Bitte beachte, dass die Abwicklung der Rückzahlung einige Zeit in Anspruch nehmen kann.</p>

      <div class="row row--space-between mt">
        <div>
          <a class="button button--clear button--compact" href="{{ url_for('.request_cancelation_choices', order_id=order.id) }}">{{ render_icon('chevron-left') }} <span>Zurück zur Auswahl</span></a>
        </div>
        <div>
          <button type="submit" class="button color-primary">Tickets zurückgeben</button>
        </div>
      </div>

    </form>
  </div>

{%- endblock %}
