{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set simple_layout = true %}
{% set current_page = 'shop_orders' %}
{% set page_title = [_('Return tickets'), order.order_number] %}

{% block body %}

{% include 'site/shop/orders/_request_cancellation_head.html' %}

  <div class="main-body-box">
    <form action="{{ url_for('.request_full_refund', order_id=order.id) }}" method="post">

      <div class="block">Du möchtest <strong>den vollen Betrag erstattet bekommen</strong> und nichts spenden.</div>

{% include 'site/shop/orders/_products.html' %}

      <div class="block">Damit wir dir den Betrag zurückerstatten können, benötigen wir deine Bankverbindung.</div>

      <div style="display: grid; gap: 1rem; grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));">
        <div>
      {{ form_field(form.recipient_name) }}
        </div>
        <div>
      {{ form_field(form.recipient_iban) }}
        </div>
      </div>

      <div class="block">Bitte beachte, dass die Abwicklung der Rückzahlung einige Zeit in Anspruch nehmen kann.</div>

      <div class="row row--space-between">
        <div>
          <a class="button button--clear is-compact" href="{{ url_for('.request_cancellation_choices', order_id=order.id) }}">{{ render_icon('chevron-left') }} <span>{{ _('Back to selection') }}</span></a>
        </div>
        <div>
          <button type="submit" class="button color-primary">{{ _('Return tickets') }}</button>
        </div>
      </div>

    </form>
  </div>

{%- endblock %}
