{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification %}
{% from 'macros/shop/orders.html' import render_order_payment_state, render_order_overdue_tag %}
{% set current_page = 'shop_orders' %}
{% set page_title = [_('Order'), order.order_number] %}
{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ _('Shop') }}</li>
      <li><a href="{{ url_for('.index') }}">{{ _('Your orders') }}</a></li>
    </ol>
  </nav>
  <h1 class="title">{{ order.order_number }}</h1>

  {%- if cancellation_request and cancellation_request.state.name != 'accepted' %}
{{ render_notification(_('A cancelation has been requested for this order on %(date)s at %(time)s.', date=cancellation_request.created_at|dateformat, time=cancellation_request.created_at|timeformat('short')), category='info') }}
  {%- endif %}

  {%- if order.is_open and paypal_enabled %}
  <div id="payment-failed-notice" hidden>
{{ render_notification('Die Zahlung ist fehlgeschlagen.', category='danger', icon='warning') }}
  </div>
  <div id="payment-processing-notice" hidden>
{{ render_notification('Die Zahlung wird verarbeitet, bitte warten …', category='info', icon='spinner') }}
  </div>
  {%- endif %}

  <div class="main-body-box">
    <div class="row row--space-between">
      <div>

        <div class="mb">
          <div class="data-label">{{ _('Date') }}</div>
          <div class="data-value">{{ order.created_at|dateformat }}, {{ order.created_at|timeformat('short') }}</div>
        </div>

        <div class="row mb">
          <div>
            <div class="data-label">{{ _('Payment state') }}</div>
            <div class="data-value">{{ render_order_payment_state(order.payment_state) }} {{ render_order_overdue_tag(order) }}</div>
          </div>
          <div>
          {%- if order.payment_method %}
            <div class="data-label">{{ _('Payment method') }}</div>
            <div class="data-value">{{ render_order_payment_method(order.payment_method) }}</div>
          {%- endif %}
          </div>
        </div>

        {%- if order.is_canceled %}
        <div class="data-label">{{ _('Reason for cancellation') }}</div>
        <div class="data-value">{{ order.cancellation_reason|fallback }}</div>
        {%- endif %}

      </div>
      <div>

        {%- if order.is_open %}
        <div class="button-row is-compact is-right-aligned">
          <a class="button" href="{{ url_for('.cancel_form', order_id=order.id) }}">{{ render_icon('remove') }} <span>{{ _('Cancel order') }}</span></a>
        </div>
        {%- endif %}

      </div>
    </div>
  </div>

  {%- if order.is_open %}
  <h2>{{ _('Payment notes') }}</h2>
    {%- if payment_instructions %}
  <div class="main-body-box">
{{ payment_instructions|safe }}
  </div>
    {%- else %}
{{ render_notification(_('Payment instructions not found.'), category='danger', icon='warning') }}
    {%- endif %}

    {%- if paypal_enabled or stripe_enabled %}
  <h2>{{ _('Additional Payment Methods') }}</h2>
  <div class="main-body-box">

      {%- if paypal_enabled %}
    <p>Über PayPal kannst du verschiedene Wege nutzen, um die Bestellung zu bezahlen. Sind in der Bestellung Tickets enthalten, werden diese sofort freigeschaltet.</p>
    <div id="paypal-button-container" style="margin: 2rem auto 0 auto; width: 250px;"></div>
      {%- endif %}

      {%- if stripe_enabled %}
    <p>{{ _('You can use the following payment methods through payment provider Stripe to pay for the order right now:') }}</p>
    <ul>
      <li>{{ _('credit card (Apple Pay and Google Pay as well)') }}</li>
      <li>{{ _('Giropay (for German giro accounts)') }}</li>
    </ul>
    <p>{{ _('If the order includes tickets, they will be issued immediately.') }}</p>
    <div id="stripe-failed-notice" hidden>
    {{ render_notification(_('The payment process could not be started. Please try again later.'), category='danger', icon='warning') }}
    </div>
    <fieldset class="buttons">
      <div class="button-row is-compact is-hcentered">
        <button id="stripe-checkout-button" class="button">{{ render_icon('payment') }} <span>{{ _('Start real-time payment') }}</span></button>
      </div>
    </fieldset>
      {%- endif %}
  </div>
    {%- endif %}

  {%- endif %}

  <h2>{{ _('Billing and shipping address') }}</h2>
  <div class="main-body-box">

    {%- if order.company %}
    <div class="data-label">{{ _('Company') }}</div>
    <div class="data-value">{{ order.company }}</div>
    {%- endif %}

    <div class="data-label">{{ _('Full name') }}</div>
    <div class="data-value">{{ order.first_name }} {{ order.last_name }}</div>

    <div class="data-label">{{ _('Address') }}</div>
    <div class="data-value">
      {{ order.address.street }}<br>
      {{ order.address.zip_code }} {{ order.address.city }}<br>
      {{ order.address.country }}
    </div>

  </div>

  <h2>{{ _('Articles') }}</h2>
{% include 'site/shop/orders/_articles.html' %}

  {%- if order.is_paid and not cancellation_request %}
  <h2>{{ _('Cancellation') }}</h2>
  <div><a class="button" href="{{ url_for('.request_cancellation_choices', order_id=order.id) }}"><span>{{ _('Return tickets') }}</span> {{ render_icon('chevron-right') }}</a></div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
{%- include 'site/shop/orders/_paypal_script.html' %}
{%- include 'site/shop/orders/_stripe_checkout_script.html' %}
{%- endblock %}
