{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/shop/orders.html' import render_order_payment_state, render_order_overdue_tag %}
{% set current_page = 'shop_orders' %}
{% set page_title = ['Bestellung', order.order_number] %}
{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ _('Shop') }}</li>
      <li><a href="{{ url_for('.index') }}">{{ _('Your orders') }}</a></li>
    </ol>
  </nav>
  <h1>{{ order.order_number }}</h1>

  <div class="row row--space-between">
    <div class="column-auto">

      <div class="mb">
        <div class="data-label">{{ _('Date') }}</div>
        <div class="data-value">{{ render_datetime(order.created_at|utc_to_local_tz) }}</div>
      </div>

      <div class="row mb">
        <div class="column-auto">
          <div class="data-label">{{ _('Payment state') }}</div>
          <div class="data-value">{{ render_order_payment_state(order.payment_state) }} {{ render_order_overdue_tag(order) }}</div>
        </div>
        <div class="column-auto">
        {%- if order.payment_method %}
          <div class="data-label">{{ _('Payment method') }}</div>
          <div class="data-value">{{ render_order_payment_method(order.payment_method) }}</div>
        {%- endif %}
        </div>
      </div>

      {%- if order.is_canceled %}
      <div class="data-label">{{ _('Reason for cancelation') }}</div>
      <div class="data-value">{{ order.cancelation_reason|fallback }}</div>
      {%- endif %}

    </div>
    <div class="column-auto">

      {%- if order.is_open %}
      <div class="button-row button-row--compact button-row--right">
        <a class="button" href="{{ url_for('.cancel_form', order_id=order.id) }}">{{ render_icon('remove') }} <span>{{ _('Cancel order') }}</span></a>
      </div>
      {%- endif %}

    </div>
  </div>

  {%- if order.is_open %}
  <h2>{{ _('Payment notes') }}</h2>
{{ payment_instructions|safe }}
  {%- endif %}

  <h2>{{ _('Orderer') }}</h2>

  <div class="data-label">{{ _('Full name') }}</div>
  <div class="data-value">{{ order.first_names }} {{ order.last_name }}</div>

  <div class="data-label">{{ _('Address') }}</div>
  <div class="data-value">{{ order.address.street }}</div>

  <h2>{{ _('Articles') }}</h2>
  <table class="index wide">
    <thead>
      <tr>
        <th class="number">{{ _('Quantity') }}</th>
        <th style="width: 100%;">{{ _('Description') }}</th>
        <th class="number">{{ _('Unit price') }}</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="2" style="text-align: right;">{{ _('Total amount') }}</th>
        <td class="number nowrap"><strong>{{ order.total_amount|format_euro_amount }}</strong></td>
      </tr>
    </tfoot>
    <tbody>
      {%- for item in order.items|sort(attribute='article_number') %}
      <tr>
        <td class="number">{{ item.quantity }}</td>
        <td>{{ item.description }}</td>
        <td class="number nowrap">{{ item.unit_price|format_euro_amount }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
