{%- from 'macros/admin/log.html' import render_log_entry, render_log_reason, render_log_user %}
{%- from 'macros/admin/ticketing.html' import render_ticket_flag_revoked, render_ticket_flag_user_checked_in %}


  <div class="events">
    {%- for log_entry in log_entries|sort(attribute='occurred_at', reverse=True) %}
      {%- if log_entry.event_type == 'seat-manager-appointed' %}
        {%- call render_log_entry('administrate', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat
          {{ render_log_user(log_entry.appointed_seat_manager) }}
          die <strong>Sitzplatz-Verwaltung</strong> übertragen.
        {%- endcall %}
      {%- elif log_entry.event_type == 'seat-manager-withdrawn' %}
        {%- call render_log_entry('administrate', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat sich die <strong>Sitzplatz-Verwaltung</strong> zurückgeholt.
        {%- endcall %}
      {%- elif log_entry.event_type == 'seat-occupied' %}
        {%- call render_log_entry('seating-area', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat Sitzplatz <strong>{{ log_entry.seat_label }}</strong>
          {%- if log_entry.previous_seat_label is defined %}
          (vorher <strong>{{ log_entry.previous_seat_label }}</strong>)
          {%- endif %}
          reserviert.
        {%- endcall %}
      {%- elif log_entry.event_type == 'seat-released' %}
        {%- call render_log_entry('disabled', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat
          {%- if log_entry.seat_label is defined %}
          Sitzplatz <strong>{{ log_entry.seat_label }}</strong>
          {%- else %}
          den Sitzplatz
          {%- endif %}
          freigegeben.
        {%- endcall %}
      {%- elif log_entry.event_type == 'ticket-code-changed' %}
        {%- call render_log_entry('edit', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat
          den <strong>Code geändert</strong> ({{ log_entry.data.old_code }} &rarr; {{ log_entry.data.new_code }}).
        {%- endcall %}
      {%- elif log_entry.event_type == 'ticket-created' %}
        {%- call render_log_entry('add', log_entry.occurred_at) %}
          Das Ticket ist <strong>erzeugt worden</strong>.
        {%- endcall %}
      {%- elif log_entry.event_type == 'ticket-revoked' %}
        {%- call render_log_entry('disabled', log_entry.occurred_at) %}
          {%- if log_entry.initiator is defined %}
          {{ render_log_user(log_entry.initiator) }}
          {%- else %}
          Jemand
          {%- endif %}
          hat das Ticket {{ render_ticket_flag_revoked() }}.
          {%- if log_entry.reason is defined %}
          {{ render_log_reason(log_entry.reason) }}
          {%- endif -%}
        {%- endcall %}
      {%- elif log_entry.event_type == 'user-manager-appointed' %}
        {%- call render_log_entry('administrate', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat
          {{ render_log_user(log_entry.appointed_user_manager) }}
          die <strong>Nutzer-Verwaltung</strong> übertragen.
        {%- endcall %}
      {%- elif log_entry.event_type == 'user-manager-withdrawn' %}
        {%- call render_log_entry('administrate', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat sich die <strong>Nutzer-Verwaltung</strong> zurückgeholt.
        {%- endcall %}
      {%- elif log_entry.event_type == 'user-appointed' %}
        {%- call render_log_entry('user', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat
          {%- if log_entry.appointed_user %}
          {{ render_log_user(log_entry.appointed_user) }}
          {%- else %}
          <strong>einen unbekannten Benutzer</strong>
          {%- endif %}
          als <strong>Ticketnutzer</strong> eingetragen.
        {%- endcall %}
      {%- elif log_entry.event_type == 'user-withdrawn' %}
        {%- call render_log_entry('user', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat sich selbst als <strong>Ticketnutzer</strong> eingetragen.
        {%- endcall %}
      {%- elif log_entry.event_type == 'user-checked-in' %}
        {%- call render_log_entry('success', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat
          {{ render_log_user(log_entry.checked_in_user) }}
          für die Veranstaltung {{ render_ticket_flag_user_checked_in() }}.
        {%- endcall %}
      {%- elif log_entry.event_type == 'user-check-in-reverted' %}
        {%- call render_log_entry('success', log_entry.occurred_at) %}
          {{ render_log_user(log_entry.initiator) }}
          hat den <strong>Check-In</strong> von
          Ticketnutzer
          {{ render_log_user(log_entry.checked_in_user) }}
          <strong>rückgangig gemacht</strong>.
        {%- endcall %}
      {%- else %}
        {%- call render_log_entry('disabled', log_entry.occurred_at) %}
          <strong>Unbekannte Aktion '{{ log_entry.event_type }}'</strong> ist ausgelöst worden.
        {%- endcall %}
      {%- endif %}
    {%- endfor %}
  </div>
