{%- from 'macros/admin/ticketing.html' import render_ticket_flag_revoked, render_ticket_flag_user_checked_in %}
{%- from 'macros/admin/user.html' import render_user_microcard %}
{%- from 'macros/misc.html' import render_tag %}

{%- if tickets %}
<style>
  table.tickets td {
    vertical-align: middle;
  }

  .tickets a {
    color: currentColor;
  }
  .tickets a:not(:hover) {
    text-decoration: none;
  }
</style>

<table class="index wide tickets">
  <thead>
    <tr>
      <th>{{ _('Code') }}</th>
      <th>{{ _('User') }}</th>
      <th>{{ _('Owner') }}</th>
      <th>{{ _('Category') }}</th>
      <th>{{ _('Seat') }}</th>
    </tr>
  </thead>
  <tbody>
    {%- for ticket in tickets|sort(attribute='created_at') %}
    <tr>
      <td>
        <a href="{{ url_for('ticketing_admin.view_ticket', ticket_id=ticket.id) }}"><strong>{{ ticket.code }}</strong></a>
        {%- if ticket.revoked %}<br>{{ render_ticket_flag_revoked() }}{% endif -%}
        {%- if ticket.user_checked_in %}<br>{{ render_ticket_flag_user_checked_in() }}{% endif -%}
      </td>
      <td>
        {%- if ticket.used_by -%}
        {{ render_user_microcard(ticket.used_by) }}
        {%- else -%}
        {{ render_tag(_('available'), class='available') }}
        {%- endif -%}
      </td>
      <td>{{ render_user_microcard(ticket.owned_by, tiny_avatar=True) }}</td>
      <td>{{ ticket.category.title }}</td>
      <td>
        {%- if ticket.occupied_seat -%}
        {{ ticket.occupied_seat.label|fallback(_('unnamed')) }}
        {%- else -%}
        {{ render_tag(_('no seat'), class='available') }}
        {%- endif -%}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- else %}
<div class="dimmed-box centered">{{ _('none') }}</div>
{%- endif %}
