{% extends 'layout/admin/ticketing.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% set current_page = 'ticket' %}
{% set current_page_party = party %}
{% set current_tab = 'tickets' %}
{% set title = 'Ticket %s an Benutzer zuweisen'|format(ticket.code) %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.appoint_user', ticket_id=ticket.id) }}" method="post">
    {%- call form_fieldset() %}
      {{ form_field(form.user, maxlength=40, autofocus='autofocus') }}
    {%- endcall %}

    {{ form_buttons(_('Assign')) }}
  </form>

{%- endblock %}
