{% extends 'layout/admin/ticketing.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'ticket' %}
{% set current_page_party = party %}
{% set current_tab = 'tickets' %}
{% set page_title = [_('Ticket') ~ ' ' ~ ticket.code, _('Assign user')] %}

{% block body %}

  <h1>{{ _('Assign to user') }}</h1>

  <form action="{{ url_for('.appoint_user', ticket_id=ticket.id) }}" method="post">
    <div class="box">
      {{ form_field(form.user, maxlength=40, autofocus='autofocus') }}
    </div>

    {{ form_buttons(_('Assign')) }}
  </form>

{%- endblock %}
