{% extends 'layout/admin/ticketing.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page_party = party %}
{% set current_tab = 'tickets' %}
{% set page_title = ['Tickets', party.title] %}
{% set layout_main_raw = True %}

{% block body %}

  <h1>{{ _('Tickets') }} {{ render_extra_in_heading(tickets.total) }}</h1>

  <div class="row row--space-between filters">
    <div class="column-auto">

      <form action="{{ url_for('.index_for_party', party_id=party.id) }}" class="single-row">
      <input type="search" name="search_term" placeholder="{{ _('ticket code') }}"{%- if search_term %} value="{{ search_term }}"{% endif %}>
        <button type="submit" class="button" title="{{ _('Search') }}">{{ render_icon('search') }}</button>
        <a href="{{ url_for('.index_for_party', party_id=party.id) }}" class="button{% if not search_term %} dimmed{% endif %}" title="{{ _('Remove search term constraint') }}">{{ render_icon('remove') }}</a>
      </form>

    </div>
    <div class="column-auto">

      <div class="dropdown">
        <button class="dropdown-toggle button"><span>{{ _('Filter') }}</span> {{ render_icon('chevron-down') }}</button>
        <ol class="dropdown-menu dropdown-menu--right">
          <li><a class="dropdown-item" href="{{ url_for('.index_for_party', party_id=party.id) }}">{{ _('none') }}</a></li>
          {%- for category in categories %}
          <li><a class="dropdown-item" href="{{ url_for('.index_for_party', party_id=party.id, only_category=category.id) }}"><em>{{ _('Category') }}:</em> {{ category.title }}</a></li>
          {%- endfor %}
        </ol>
      </div>

    </div>
  </div>

  <div class="box">
{%- with tickets = tickets.items %}
  {%- include 'admin/ticketing/_ticket_list.html' %}
{%- endwith %}

{{ render_pagination_nav(tickets, '.index_for_party', {'party_id': party.id}) }}
  </div>

{%- endblock %}
