{% extends 'layout/admin/ticketing.html' %}
{% from 'macros/forms.html' import form_buttons, form_field_simple %}
{% set current_page = 'ticket' %}
{% set current_page_party = party %}
{% set current_tab = 'tickets' %}
{% set title = 'Ticket-Code ändern' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.update_code', ticket_id=ticket.id) }}" method="post">
    {{ form_field_simple(form.code, autofocus='autofocus') }}

    {{ form_buttons(_('Change')) }}
  </form>

{%- endblock %}
