{% extends 'layout/admin/ticketing.html' %}
{% from 'macros/admin/shop/order.html' import render_order_link %}
{% from 'macros/admin/ticketing.html' import render_ticket_flag_revoked, render_ticket_flag_user_checked_in %}
{% from 'macros/admin/user.html' import render_user_avatar_20_and_admin_link, render_user_microcard %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_party = party %}
{% set current_tab = 'tickets' %}
{% set page_title = _('Ticket') ~ ' ' ~ ticket.code %}
{% set layout_main_raw = True %}

{% block head %}
    <style>
      .managed-by {
        margin-top: 0.25rem;
      }
    </style>
{% endblock %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">

      <h1>
        {{- render_icon('ticket') }} {{ ticket.code }}
        {%- if ticket.revoked %} {{ render_ticket_flag_revoked() }}{% endif -%}
        {%- if ticket.user_checked_in %} {{ render_ticket_flag_user_checked_in() }}{% endif -%}
      </h1>

    </div>
    <div class="column-auto column--align-bottom">

  {%- if not ticket.revoked and has_current_user_any_permission(TicketingPermission.administrate, TicketingPermission.checkin) %}
      <div class="button-row">
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ _('Actions') }}</span> {{ render_icon('chevron-down') }}</button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.appoint_user_form', ticket_id=ticket.id) }}">{{ render_icon('arrow-right') }} {{ _('Assign user') }}</a></li>
            {%- if has_current_user_permission(TicketingPermission.administrate) and not ticket.user_checked_in %}
            <li><a class="dropdown-item" data-action="update-code" href="{{ url_for('.update_code', ticket_id=ticket.id) }}">{{ render_icon('edit') }} {{ _('Change code') }}</a></li>
            {%- endif %}
            {%- if ticket.user_checked_in %}
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" data-action="revert-user-check-in" href="{{ url_for('ticketing_checkin_admin.revert_user_check_in', ticket_id=ticket.id) }}">{{ render_icon('disabled') }} {{ _('Revert check-in') }}</a></li>
            {%- endif %}
          </ol>
        </div>
      </div>
  {%- endif %}

    </div>
  </div>

  <div class="box">
    <table class="index">
      <tr>
        <th>{{ _('ID') }}</th>
        <td>
          {{ ticket.id }}
          <input id="ticket-id-field" value="{{ ticket.id }}" style="position: fixed; top: -1000px;" readonly>
          <button id="ticket-id-copy-trigger" data-field-id="ticket-id-field" class="button button--compact" title="{{ _('Copy to clipboard') }}">{{ render_icon('clipboard') }}</button>
        </td>
      </tr>
      <tr>
        <th>{{ _('Created') }}</th>
        <td>{{ render_datetime(ticket.created_at|utc_to_local_tz) }}</td>
      </tr>
      <tr>
        <th>{{ _('Category') }}</th>
        <td>{{ ticket.category.title }}</td>
      </tr>
      <tr>
        <th>{{ _('Bundle') }}</th>
        <td>
          {%- if ticket.bundle_id %}
          <a href="{{ url_for('.view_bundle', bundle_id=ticket.bundle_id) }}">{{ _('Bundle') }}</a>
          {%- else %}
          {{ _('independent')|dim }}
          {%- endif %}
        </td>
      </tr>
      <tr>
        <th>{{ _('Order') }}</th>
        <td>{{ render_order_link(order) if order else None|fallback(_('not specified')) }}</td>
      </tr>
      <tr>
        <th>{{ _('Owner') }}</th>
        <td>{{ render_user_microcard(ticket.owned_by) }}</td>
      </tr>
      <tr>
        <th>{{ _('User') }}</th>
        <td>
          {%- if ticket.used_by -%}
          {{ render_user_microcard(ticket.used_by) }}
          {%- else -%}
          {{ _('nobody')|dim }}
          {%- endif -%}
          <div class="managed-by">{{ _('managed by')|dim }} {{ render_user_avatar_20_and_admin_link(ticket.get_user_manager()) }}</div>
        </td>
      </tr>
      <tr>
        <th>{{ _('Seat') }}</th>
        <td>
          {%- if ticket.occupied_seat -%}
          {{ ticket.occupied_seat.label|fallback(_('unnamed')) }}
          {%- else -%}
          {{ _('no seat')|dim }}
          {%- endif -%}
          <div class="managed-by">{{ _('managed by')|dim  }} {{ render_user_avatar_20_and_admin_link(ticket.get_seat_manager()) }}</div>
        </td>
      </tr>
    </table>
  </div>

  <h2>{{ _('History') }}</h2>
  <div class="box">
{%- include 'admin/ticketing/_ticket_events.html' %}
  </div>

{%- endblock %}

{% block scripts %}
<script>
  enableCopyToClipboard('ticket-id-copy-trigger');

  onDomReady(() => {
    confirmed_post_on_click_then_reload('[data-action="revert-user-check-in"]', '{{ _('Revert check-in?') }}');
  });
</script>
{% endblock %}
