{% extends 'layout/admin/ticketing.html' %}
{% from 'macros/admin/shop/order.html' import render_order_link %}
{% from 'macros/admin/ticketing.html' import render_ticket_flag_revoked, render_ticket_flag_user_checked_in %}
{% from 'macros/admin/user.html' import render_user_avatar_20_and_admin_link, render_user_microcard %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_party = party %}
{% set current_tab = 'tickets' %}
{% set title = 'Ticket %s - Ticketing'|format(ticket.code) %}

{% block head %}
    <style>
      .managed-by {
        margin-top: 0.25rem;
      }
    </style>
{% endblock %}

{% block body %}

  <h1>
    {{- render_icon('ticket') }} {{ ticket.code }}
    {%- if ticket.revoked %} {{ render_ticket_flag_revoked() }}{% endif -%}
    {%- if ticket.user_checked_in %} {{ render_ticket_flag_user_checked_in() }}{% endif -%}
  </h1>

  {%- if not ticket.revoked and g.current_user.has_permission(TicketingPermission.checkin) %}
  <div style="float: right; margin-left: 40px;">
    <div class="dropdown">
      <button class="dropdown-toggle button"><span>Aktionen</span> {{ render_icon('caret-down') }}</button>
      <ol class="dropdown-menu dropdown-menu--right">
        <li><a class="dropdown-item" href="{{ url_for('.appoint_user_form', ticket_id=ticket.id) }}">{{ render_icon('arrow-right') }} Nutzer/in zuweisen</a></li>
        <li class="dropdown-divider"></li>
        {%- if not ticket.user_checked_in %}
          {%- if ticket.used_by_id %}
        <li><a class="dropdown-item" data-action="check-in-user" href="{{ url_for('.set_user_checked_in_flag', ticket_id=ticket.id) }}">{{ render_icon('enabled') }} Benutzer einchecken</a></li>
          {%- endif %}
        {%- else %}
        <li><a class="dropdown-item" data-action="revert-user-check-in" href="{{ url_for('.unset_user_checked_in_flag', ticket_id=ticket.id) }}">{{ render_icon('disabled') }} Check-In rückgängig machen</a></li>
        {%- endif %}
      </ol>
    </div>
  </div>
  {%- endif %}

  <table class="index">
    <tr>
      <th>ID</th>
      <td>
        {{ ticket.id }}
        <input id="ticket-id-field" value="{{ ticket.id }}" style="position: fixed; top: -1000px;" readonly>
        <button id="ticket-id-copy-trigger" data-field-id="ticket-id-field" class="button button--compact" title="In die Zwischenablage kopieren">{{ render_icon('clipboard') }}</button>
      </td>
    </tr>
    <tr>
      <th>Erstellt</th>
      <td>{{ render_datetime(ticket.created_at|utc_to_local_tz) }}</td>
    </tr>
    <tr>
      <th>Kategorie</th>
      <td>{{ ticket.category.title }}</td>
    </tr>
    <tr>
      <th>Bundle</th>
      <td>
        {%- if ticket.bundle_id %}
        <a href="{{ url_for('.view_bundle', bundle_id=ticket.bundle_id) }}">Bundle</a>
        {%- else %}
        {{ 'eigenständig'|dim }}
        {%- endif %}
      </td>
    </tr>
    <tr>
      <th>Bestellung</th>
      <td>{{ render_order_link(order) if order else None|fallback('nicht hinterlegt') }}</td>
    </tr>
    <tr>
      <th>Besitzer/in</th>
      <td>{{ render_user_microcard(ticket.owned_by) }}</td>
    </tr>
    <tr>
      <th>Nutzer/in</th>
      <td>
        {%- if ticket.used_by -%}
        {{ render_user_microcard(ticket.used_by) }}
        {%- else -%}
        {{ 'keine/r'|dim }}
        {%- endif -%}
        <div class="managed-by">{{ 'verwaltet durch'|dim }} {{ render_user_avatar_20_and_admin_link(ticket.get_user_manager()) }}</div>
      </td>
    </tr>
    <tr>
      <th>Sitzplatz</th>
      <td>
        {%- if ticket.occupied_seat -%}
        {{ ticket.occupied_seat.label }}
        {%- else -%}
        {{ 'keiner'|dim }}
        {%- endif -%}
        <div class="managed-by">{{ 'verwaltet durch'|dim  }} {{ render_user_avatar_20_and_admin_link(ticket.get_seat_manager()) }}</div>
      </td>
    </tr>
  </table>

{%- include 'admin/ticketing/_ticket_events.html' %}

{%- endblock %}

{% block scripts %}
<script>
  enableCopyToClipboard('ticket-id-copy-trigger');

  onDomReady(function() {
    confirmed_post_on_click_then_reload('[data-action="check-in-user"]', 'Benutzer einchecken?');
    confirmed_delete_on_click_then_reload('[data-action="revert-user-check-in"]', 'Check-In rückgängig machen?');
  });
</script>
{% endblock %}
