{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_checkbox, form_fieldset %}
{% from 'macros/misc.html' import render_notification %}
{% set title = 'Zustimmung erforderlich' %}

{% block body %}

  <h1>{{ title }}</h1>

  {{ render_notification('Bitte stimme den aktualisierten Bedingungen zu, um fortfahren zu können.', category='warning', icon='warning') }}

  <form action="{{ url_for('.consent', token=token) }}" method="post" class="disable-submit-button-on-submit" style="margin-top: 1rem;">
    {%- call form_fieldset() %}
      {{ form_field(form.subject_ids, show_label=False, required='required') }}
      {%- for subject, field in subjects_and_fields %}
        {%- if subject.type_ == 'terms_of_service' %}
      {{ form_field_checkbox(field,
        'Ich akzeptiere die <a href="%s" target="_blank">Allgemeinen Geschäftsbedingungen</a>.'|format(url_for('terms.view_current'))|safe
      ) }}
        {%- elif subject.type_ == 'privacy_policy' %}
      {{ form_field_checkbox(field,
        'Ich akzeptiere die <a href="%s" target="_blank">Datenschutzbestimmungen</a>.'|format(url_for_snippet('privacy_policy'))|safe
      ) }}
        {%- endif %}
      {%- endfor %}
    {%- endcall %}

    {{ form_buttons('Zustimmen') }}
  </form>

{%- endblock %}
