{%- from 'macros/admin.html' import render_brand_head, render_navigation, render_party_head %}
{%- from 'macros/admin.html' import render_navigation_brand, render_navigation_global, render_navigation_party with context %}
{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/user_admin.html' import render_orga_avatar_small %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
{%- with title = title|default %}
{% include 'layout/admin/_meta_head.html' with context %}
{%- endwith %}
{% block head %}{% endblock head %}
  </head>
  <body>

    <header id="header">
      <div id="header-content">

        <div id="current-user">
        {% if g.current_user.is_active %}
          <div>
            {{ render_orga_avatar_small(g.current_user) }}
          </div>
          <div>
            <span class="intro">Angemeldet als</span>
            <div class="name-and-logout">
              <a class="name" href="{{ url_for('user.view_current') }}">{{ g.current_user.screen_name }}</a>
              <span class="actions inline">
                <a id="logout" href="{{ url_for('authentication.logout', _method='POST') }}" title="abmelden">{{ render_icon('log-out') }}</a>
              </span>
            </div>
          </div>
        {%- else -%}
          <div>
            {{ render_icon('log-in') }} <a href="{{ url_for('authentication.login_form') }}">Anmelden</a>
          </div>
        {%- endif %}
        </div><!-- /#current-user -->

{%- with
  current_page = current_page|default,
  brand = current_page_brand|default,
  party = current_page_party|default
%}
        <div class="head">

  {%- if brand %}
{{ render_brand_head(brand) }}
  {%- elif party %}
{{ render_party_head(party) }}
  {%- endif %}

        </div>

{%- if g.current_user.is_orga_for_any_brand %}
  {%- if brand %}
{{ render_navigation_brand(brand, current_page) }}
  {%- elif party %}
{{ render_navigation_party(party, current_page) }}
  {%- else %}
{{ render_navigation_global(current_page) }}
  {%- endif %}
{%- endif %}

{%- endwith %}

      </div><!-- /#header-content -->
    </header>

    <div id="page">
      <div id="page-grid">

        <div id="page-grid-sidebar">
          <aside id="sidebar">
{%- with
  current_page = current_page|default,
  party = current_page_party|default,
  brand = current_page_brand|default(party.brand if party else None)
%}
{%- include 'layout/admin/_navigation.html' %}
{%- endwith %}
          </aside>
        </div><!-- /#page-grid-sidebar -->

        <div id="page-grid-main">
          <main>
{%- include 'layout/_notifications.html' %}
{%- block before_body %}{% endblock %}
            <div{% if not layout_main_raw|default(False) %} id="main"{% endif %}>
{%- block body %}{% endblock %}
            </div><!-- /#main -->
          </main>
        </div><!-- /#page-grid-main -->

      </div><!-- /#page-grid -->
    </div><!-- /#page -->

    <footer id="footer">
      BYCEPS &middot; Copyright &copy; 2006&ndash;2016 <a href="http://homework.nwsnet.de/">Jochen &quot;Y0Gi&quot; Kupperschmidt</a>
    </footer>

  </body>
</html>
