**/__pycache__
.coverage
.dockerignore
.eggs
.git
.github
.gitignore
.jj
.mypy_cache
.pytest_cache
.ruff_cache
.scrutinizer.yml
.secret_key.txt
.venv
*.egg-info
assets
babel.cfg
compose.yaml
config
data
docker
Dockerfile
docs
justfile
messages.pot
tests
