# Python 3 bytecode
__pycache__

.eggs

# virtual environment
venv

# test-related
.pytest_cache
.tox
*.egg-info

# cache data
.cache
.mypy_cache

# user data
data

# OpenSSL keys for development server
keys

# documentation
docs/_build
