# Python 3 bytecode
__pycache__

/.eggs

# virtual environment
/venv

# test-related
/.coverage
/.pytest_cache
*.egg-info

# cache data
.cache
.mypy_cache

# user data
/data

# documentation
/docs/_build

# configs
/config/*
!/config/development_admin.py
!/config/development_party.py
!/config/production_party.py
!/config/test_admin.py
!/config/test_site.py
