x-byceps-base: &byceps-base
  build: .
  volumes:
    - ./data:/home/byceps/data
  depends_on:
    - db
    - redis

x-byceps-base-env: &byceps-base-env
  BYCEPS_CONFIG: /home/byceps/config/config.toml
  REDIS_URL: "redis://redis/0"
  SQLALCHEMY_DATABASE_URI: "postgresql+psycopg://byceps:byceps@db/byceps"

services:

  db:
    image: "postgres:15"
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: byceps
      POSTGRES_USER: byceps
    networks:
      - byceps

  redis:
    image: "redis:7"
    networks:
      - byceps

  byceps-apps:
    <<: *byceps-base
    volumes:
      - ./docker/byceps/config.toml:/home/byceps/config/config.toml:ro
      - ./docker/byceps/apps.toml:/home/byceps/config/apps.toml:ro
    environment:
      <<: *byceps-base-env
      BYCEPS_APPS_CONFIG: /home/byceps/config/apps.toml
    networks:
      - byceps
      - proxy

  byceps-worker:
    <<: *byceps-base
    volumes:
      - ./docker/byceps/config.toml:/home/byceps/config/config.toml:ro
    environment:
      <<: *byceps-base-env
    command: uv run --no-sync byceps worker
    networks:
      - byceps

  web:
    image: nginx
    volumes:
      - ./docker/nginx/includes:/etc/nginx/includes:ro
      - ./docker/nginx/templates:/etc/nginx/templates:ro
      - .:/var/www/byceps:ro
    depends_on:
      - byceps-apps
    environment:
      SERVER_NAME_ADMIN: admin.byceps.example
      SERVER_NAME_API: api.byceps.example
      SERVER_NAME_SITE: cozylan.example
      UWSGI_ADDRESS: byceps-apps:5000
    ports:
      - "8080:80"
    networks:
      - proxy

volumes:
  db-data:

networks:
  byceps:
  proxy:
