x-byceps-base: &byceps-base
  build: .
  volumes:
    - byceps-data:/home/byceps/data:rw
  depends_on:
    - db
    - redis

x-byceps-base-env: &byceps-base-env
    REDIS_URL: "redis://redis/0"
    SECRET_KEY: /run/secrets/secret_key
    SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://byceps:byceps@db/byceps"

services:

  db:
    image: "postgres:15"
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: byceps
      POSTGRES_USER: byceps

  redis:
    image: "redis:7"

  byceps-admin:
    <<: *byceps-base
    environment:
      <<: *byceps-base-env
      APP_MODE: admin

  byceps-site:
    <<: *byceps-base
    environment:
      <<: *byceps-base-env
      APP_MODE: site
      SITE_ID: cozylan

  byceps-worker:
    <<: *byceps-base
    environment:
      <<: *byceps-base-env
      APP_MODE: base
    command: ./worker.py

  web:
    image: nginx
    volumes:
      - ./docker/nginx-templates:/etc/nginx/templates
      - .:/var/www/byceps
    depends_on:
      - byceps-admin
      - byceps-site
    ports:
      - "8081:81"
      - "8082:82"

secrets:
  secret_key:
    # TODO: Generate secret key file with:
    #       `docker-compose run --rm byceps-admin byceps generate-secret-key > ./secret_key.txt`
    file: ./secret_key.txt

volumes:
  byceps-data:
  db-data:
