x-byceps-base: &byceps-base
  build: .
  volumes:
    - type: volume
      source: byceps-data
      target: /home/byceps/data
  depends_on:
    - db
    - redis

x-byceps-base-env: &byceps-base-env
    REDIS_URL: "redis://redis/0"
    SECRET_KEY: /run/secrets/secret_key
    SQLALCHEMY_DATABASE_URI: "postgresql+psycopg2://byceps:byceps@db/byceps"

services:

  db:
    image: "postgres:15"
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: byceps
      POSTGRES_USER: byceps

  redis:
    image: "redis:7"

  byceps-admin:
    <<: *byceps-base
    environment:
      <<: *byceps-base-env
      APP_MODE: admin

  byceps-api:
    <<: *byceps-base
    environment:
      <<: *byceps-base-env
      APP_MODE: api

  byceps-site:
    <<: *byceps-base
    environment:
      <<: *byceps-base-env
      APP_MODE: site
      SITE_ID: cozylan

  byceps-worker:
    <<: *byceps-base
    environment:
      <<: *byceps-base-env
      APP_MODE: worker
    command: ./worker.py

  web:
    image: nginx
    volumes:
      - ./docker/nginx/templates:/etc/nginx/templates:ro
      - .:/var/www/byceps:ro
    depends_on:
      - byceps-admin
      - byceps-site
    environment:
      SERVER_NAME_ADMIN: byceps-admin.example
      SERVER_NAME_SITE: byceps-site.example
    ports:
      - "8081:81"
      - "8082:82"

secrets:
  secret_key:
    # To generate a secret key file, run:
    # `docker-compose run --rm byceps-admin byceps generate-secret-key > ./secret_key.txt`
    file: ./secret_key.txt

volumes:
  byceps-data:
  db-data:
