bbcode==1.1.0
blinker==1.4
click==8.0.1
flask==2.0.1
flask-babel==2.0.0
flask-sqlalchemy==2.5.1
hiredis==2.0.0
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
marrow.mailer==4.0.3
marrow.util==1.2.3
marshmallow==3.13.0
pendulum==2.1.2
pillow==8.3.1
psycopg2-binary==2.9.1
python-dateutil==2.8.2
pytzdata==2020.1
redis==3.5.3
requests==2.26.0
rq==1.8.0
rq-dashboard==0.6.1
rtoml==0.7.0
sqlalchemy==1.4.20
tenacity==7.0.0
werkzeug==2.0.1
wtforms==2.3.3
