backports.zoneinfo;python_version<"3.9"
bbcode==1.1.0
blinker==1.4
click==8.0.3
flask==2.0.2
flask-babel==2.0.0
flask-sqlalchemy==2.5.1
hiredis==2.0.0
itsdangerous==2.0.1
jinja2==3.0.3
markupsafe==2.0.1
marrow.mailer==4.0.3
marrow.util==1.2.3
marshmallow==3.14.1
mistletoe==0.7.2
pillow==8.4.0
psycopg2-binary==2.9.2
qrcode==7.3.1
redis==4.0.2
requests==2.26.0
rq==1.10.0
rq-dashboard==0.6.1
rtoml==0.7.1
sqlalchemy==1.4.28
tenacity==8.0.1
werkzeug==2.0.2
wtforms==3.0.0
