typing >= 3.5.3.0

blinker >= 1.4
Flask >= 0.12
Flask-Script >= 2.0.5
Jinja2 >= 2.8
Werkzeug >= 0.11.11
WTForms >= 2.1

# data persistence
Flask-SQLAlchemy == 2.1
SQLAlchemy >= 1.1.5

Arrow >= 0.10.0
bbcode >= 1.0.21
click >= 6.6
Flask-Mail >= 0.9.1
hiredis >= 0.2.0
Pillow >= 3.4.2
pytz >= 2016.10
Ranger >= 0.9
redis >= 2.10.5
rq >= 0.7.1
rq-dashboard >= 0.3.7
