{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% set current_page = 'consent_admin' %}
{% set title = 'Zustimmungen' %}

{% block body %}

  <h1>{{ title }} {{ render_extra_in_heading(subjects_with_consent_counts|length) }}</h1>

  {%- if subjects_with_consent_counts %}
  <table class="index wide">
    <thead>
      <tr>
        <th>Titel<br>Name</th>
        <th class="number">Zustimmungen</th>
      </tr>
    </thead>
    <tbody>
      {%- for subject, consent_count in subjects_with_consent_counts|sort(attribute='0.name') %}
        <tr>
          <td>{{ subject.title }}<br><span class="dimmed">{{ subject.name }}</span></td>
          <td class="bignumber number">{{ consent_count|separate_thousands }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine zustimmungsbedürftigen Themen hinterlegt.</div>
  {%- endif %}

{%- endblock %}
