{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'consent_admin' %}
{% set page_title = _('Consents') %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ page_title }} {{ render_extra_in_heading(subjects_with_consent_counts|length) }}</h1>
    </div>
    {%- if has_current_user_permission(ConsentPermission.administrate) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.subject_create_form') }}">{{ render_icon('add') }} <span>{{ _('Create consent subject') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">
    {%- if subjects_with_consent_counts %}
    <table class="index wide">
      <thead>
        <tr>
          <th>{{ _('Title') }}<br>{{ _('Name') }}</th>
          <th class="number">{{ _('Consents') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for subject, consent_count in subjects_with_consent_counts|sort(attribute='0.name') %}
          <tr>
            <td>{{ subject.title }}<br><span class="dimmed">{{ subject.name }}</span></td>
            <td class="bignumber number">{{ format_number(consent_count) }}</td>
          </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No subjects available.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
