{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'consent_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('Required Consents') %}

{% block body %}

<div class="row row--space-between">
  <div>
    <h1>{{ page_title }} {{ render_extra_in_heading(subjects_with_consent_counts|length) }}</h1>
  </div>
  {%- if has_current_user_permission('consent.administrate') %}
  <div>
    <div class="button-row button-row--right">
      <a class="button" href="{{ url_for('.requirement_create_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>{{ _('Create consent requirement') }}</span></a>
    </div>
  </div>
  {%- endif %}
</div>

<div class="box">
  {%- if subjects_with_consent_counts -%}
  <table class="index index--v-centered index--wide">
    <thead>
      <tr>
        <th>{{ _('Title') }}<br>{{ _('Name') }}</th>
        <th class="number">{{ _('Consents') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for subject, count in subjects_with_consent_counts -%}
      <tr>
        <td><strong>{{ subject.title }}</strong><br>{{ subject.name|dim }}</td>
        <td class="bignumber number">{{ count|numberformat }}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
  {%- else -%}
  <div class="dimmed-box centered">{{ _('None defined') }}</div>
  {%- endif -%}
</div>

{%- endblock %}
