{% macro render_brand_admin_link(brand, class=None, dim_archived=False) -%}
<a href="{{ url_for('admin_dashboard.view_brand', brand_id=brand.id) }}"{% if class %} class="{{ class }}"{% endif %}>
  {%- if dim_archived and brand.archived -%}
    {{ brand.title|dim }}
  {%- else -%}
    {{ brand.title }}
  {%- endif -%}
</a>
{%- endmacro %}


{% macro render_brand_avatar(brand, size_name) -%}
<div class="avatar size-{{ size_name }}"><img src="{{ brand.image_url_path or url_for('static', filename='brand_fallback.svg') }}"></div>
{%- endmacro %}
