{%- from 'macros/misc.html' import render_tag %}
{%- from 'macros/ticketing_admin.html' import render_ticket_flag_revoked, render_ticket_flag_user_checked_in %}
{%- from 'macros/user_admin.html' import render_user_microcard %}

{%- if tickets %}
<style>
  table.tickets td {
    vertical-align: middle;
  }

  .tickets a {
    color: currentColor;
  }
  .tickets a:not(:hover) {
    text-decoration: none;
  }
</style>

<table class="index wide tickets">
  <thead>
    <tr>
      <th>Code</th>
      <th>Nutzer</th>
      <th>Besitzer</th>
      <th>Sitzplatz</th>
    </tr>
  </thead>
  <tbody>
    {%- for ticket in tickets|sort(attribute='created_at') %}
    <tr>
      <td>
        <a href="{{ url_for('ticketing_admin.view_ticket', ticket_id=ticket.id) }}"><strong>{{ ticket.code }}</strong></a>
        {%- if ticket.revoked %}<br>{{ render_ticket_flag_revoked() }}{% endif -%}
      </td>
      <td>
        {%- if ticket.used_by -%}
        {{ render_user_microcard(ticket.used_by) }}
        {%- else -%}
        {{ render_tag('frei', class='available') }}
        {%- endif -%}
      </td>
      <td>{{ render_user_microcard(ticket.owned_by, tiny_avatar=True) }}</td>
      <td>
        {%- if ticket.occupied_seat -%}
        {{ ticket.occupied_seat.label }}
        {%- else -%}
        {{ render_tag('keiner', class='color-info') }}
        {%- endif -%}
      </td>
      <td style="text-align: right;">
        {%- if ticket.revoked -%}
        <button class="button color-danger" disabled>Kein Einlass!</button>
        {%- elif ticket.user_checked_in -%}
        <button class="button color-warning" disabled>Bereits eingecheckt!</button>
        {%- elif ticket.used_by and ticket.used_by.suspended -%}
        <button class="button color-danger" disabled>Kein Einlass!<br><small>Nutzer gesperrt</small></button>
        {%- elif ticket.used_by -%}
        <a class="button color-primary" data-action="check-in-user" href="{{ url_for('ticketing_admin.set_user_checked_in_flag', ticket_id=ticket.id) }}">{{ render_icon('log-in') }} Einchecken</a>
        {%- endif -%}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- else %}
<p>{{ 'keine'|dim }}</p>
{%- endif %}
