{% extends 'layout/admin/base.html' %}
{% set current_page = 'ticketing_checkin' %}
{% set current_page_party = party %}
{% set title = 'Check-In - %s'|format(party.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Ticketing</li>
      <li>{{ party.title }}</li>
    </ol>
  </nav>
  <h1>Check-In</h1>

  <div class="row row--space-between filters">
    <div class="column-auto">

      <form action="{{ url_for('.index', party_id=party.id, search_user=search_term) }}" class="single-row unobtrusive">
        <input type="search" name="search_term" placeholder="Ticketcode"{%- if search_term %} value="{{ search_term }}"{% endif %}>
        <button type="submit" class="button" title="Suchen">{{ render_icon('search') }}</button>
        <a href="{{ url_for('.index', party_id=party.id) }}" class="button{% if not search_term %} dimmed{% endif %}" title="Einschränkung auf Suchbegriff aufheben">{{ render_icon('remove') }}</a>
      </form>

    </div>
  </div>

  <div class="row row--space-between filters">
    <div class="column-auto">

      <form action="{{ url_for('.index', party_id=party.id, search_user=search_term) }}" class="single-row unobtrusive">
        <input type="search" name="search_term" placeholder="Bestellnummer"{%- if search_term %} value="{{ search_term }}"{% endif %}>
        <button type="submit" class="button" title="Suchen">{{ render_icon('search') }}</button>
        <a href="{{ url_for('.index', party_id=party.id) }}" class="button{% if not search_term %} dimmed{% endif %}" title="Einschränkung auf Suchbegriff aufheben">{{ render_icon('remove') }}</a>
      </form>

    </div>
  </div>

  <div class="row row--space-between filters">
    <div class="column-auto">

      <form action="{{ url_for('.index', party_id=party.id, search_user=search_term) }}" class="single-row unobtrusive">
        <input type="search" name="search_term" placeholder="Benutzer-, Vor-, Nachname, E-Mail-Adresse" title="Benutzer-, Vor-, Nachname, E-Mail-Adresse"{%- if search_term %} value="{{ search_term }}"{% endif %}>
        <button type="submit" class="button" title="Suchen">{{ render_icon('search') }}</button>
        <a href="{{ url_for('.index', party_id=party.id) }}" class="button{% if not search_term %} dimmed{% endif %}" title="Einschränkung auf Suchbegriff aufheben">{{ render_icon('remove') }}</a>
      </form>

    </div>
  </div>

{%- endblock %}
