{% extends 'layout/base.html' %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'shop_order' %}
{% set page_title = 'Bestellen' %}

{% block body %}

  <h1>{{ page_title }}</h1>

{{ render_notification('<a href="%s">Melde dich an</a>, um bestellen zu können.'|format(url_for('authentication_login.log_in_form'))|safe, category='info', icon='info') }}

{{ render_snippet('shop_order_intro', ignore_if_unknown=True)|safe }}

  <h2>{{ _('Articles') }}</h2>
  <table class="index index--wide">
    <thead>
      <tr>
        <th>{{ _('Description') }}</th>
        <th class="number" style="width: 15%;">{{ _('Tax rate') }}</th>
        <th class="number" style="width: 15%;">{{ _('Unit price') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for item in article_compilation %}
        {%- with is_available = (item.article.quantity > 0) %}
      <tr{% if not is_available %} class="dimmed"{% endif %}>
        <td>{{ item.article.description }}
          {%- if not is_available %}
          <br><em>{{ _('currently not available') }}</em>
          {%- endif -%}
        </td>
        <td class="number">{{ item.article.tax_rate|tax_rate_as_percentage }}&thinsp;%</td>
        <td class="number">{{ item.article.price|moneyformat }}</td>
      </tr>
        {%- endwith %}
      {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
