{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons %}
{% set current_page = 'shop_order' %}
{% set page_title = 'Bestellen' %}

{% block body %}

  <h1>{{ page_title }}</h1>

{%- if article %}
  <form action="{{ url_for('.order_single', article_id=(article.id if article else '')) }}" method="post" class="disable-submit-button-on-submit">

{%- include 'site/shop/order/_order_form_orderer.html' %}
{%- include 'site/shop/order/_order_form_articles.html' %}

    {{ form_buttons(_('Place binding order now')) }}
  </form>
{%- endif %}

{%- endblock %}
