{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons %}
{% set current_page = 'shop_order' %}
{% set page_title = 'Bestellen' %}

{% block body %}

  <h1>{{ page_title }}</h1>

{{ render_snippet('shop_order_intro', ignore_if_unknown=True)|safe }}

  {%- if article_compilation %}
  <form action="{{ url_for('.order') }}" method="post" class="disable-submit-button-on-submit">

{% include 'site/shop/order/_order_form_orderer.html' %}
{% include 'site/shop/order/_order_form_articles.html' %}

    {{ form_buttons(_('Place binding order now')) }}
  </form>
  {%- else %}
  <p>Es sind derzeit keine Artikel verfügbar.</p>
  {%- endif %}

{%- endblock %}
