{% extends 'layout/base_auto.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% set current_page = 'authentication.request_password_reset' %}
{% set title = 'Zurücksetzen deines Passworts anfordern' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.request_reset') }}" method="post">
    {%- call form_fieldset() %}
      {{ form_field(form.screen_name, maxlength=40, required='required', autofocus='autofocus') }}
    {%- endcall %}

    {{ form_buttons('Anfordern') }}
  </form>

{%- endblock %}
