{% extends 'layout/base_auto.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% set current_page = 'authentication_password_request_reset' %}
{% set title = 'Zurücksetzen deines Passworts anfordern' %}
{% if g.app_mode.is_admin() %}
{% set layout_sidebar_hide = True %}
{% endif %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.request_reset') }}" method="post">
    {%- call form_fieldset() %}
      {{ form_field(form.screen_name, maxlength=40, autofocus='autofocus') }}
    {%- endcall %}

    {{ form_buttons(_('Request')) }}
  </form>

{%- endblock %}
