{% extends 'layout/base_auto.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'authentication.password_update' %}
{% set title = 'Neues Passwort setzen' %}
{% if g.app_mode.is_admin() %}
{% set layout_sidebar_hide = True %}
{% endif %}

{% block body %}

  <h1>{{ render_icon('password') }} {{ title }}</h1>

  <form action="{{ url_for('.reset', token=token) }}" method="post">
    {%- call form_fieldset() %}
      {{ form_field(form.new_password, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.new_password_confirmation, maxlength=40) }}
    {%- endcall %}

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}
