{% extends 'layout/base_auto.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'authentication_password_update' %}
{% set title = 'Passwort ändern' %}

{% block body %}

  <h1>{{ render_icon('password') }} {{ title }}</h1>

  <form action="{{ url_for('.update') }}" method="post">
    {{ form_field(form.old_password, maxlength=100, autofocus='autofocus') }}
    {{ form_field(form.new_password, maxlength=100) }}
    {{ form_field(form.new_password_confirmation, maxlength=100) }}

    {{ form_buttons(_('Change'), cancel_url=url_for('user_settings.view') if g.app_mode.is_site() else None) }}
  </form>

{%- endblock %}
