{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink, render_main_tabs %}
{% from 'macros/admin/user.html' import render_most_important_user_flag %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_screen_name %}
{% from 'macros/user_avatar.html' import render_user_avatar_96 %}
{% set current_page = 'user_admin' %}

{% block before_body %}
<style>
.user-head {
  align-items: center;
  display: flex;
  margin: calc(var(--inner-gutter) / 2) 0 var(--inner-gutter) 0;
}

.user-head .avatar {
  border: #cccccc solid 1px;
  margin-right: 0.75rem;
}

.user-head .title {
  margin: 0;
  padding: 0;
}

.user-head .subtitle {
  font-size: 1.125rem; /* 18px / 16px */
  opacity: 0.7;
}

.user-head .flags {
  margin-top: 0.25rem;
}
</style>

  {{ render_backlink(url_for('.index'), _('Users')) }}

  <div class="user-head">
    <div>{{ render_user_avatar_96(user_dto) }}</div>
    <div>
      <h1 class="title">{{ render_user_screen_name(user_dto) }}</h1>
      <div class="subtitle">{{ user.detail.full_name|fallback }}</div>
      <div class="flags">{{ render_most_important_user_flag(user) }}</div>
    </div>
  </div>

  {%- with party = current_page_party, user_id = current_tab_user_id %}
{{
  render_main_tabs(
    Navigation(None)
      .add_item(
        url_for('.view', user_id=user_id),
        _('Overview'),
        id='profile',
        required_permission=UserPermission.view,
        icon='user')
      .add_item(
        url_for('.view_events', user_id=user_id),
        _('Events'),
        id='events',
        required_permission=UserPermission.view,
        icon='history')
      .add_item(
        url_for('.view_permissions', user_id=user_id),
        _('Permissions'),
        id='permissions',
        required_permission=UserPermission.view,
        icon='permission')
    , current_tab
  )
}}
  {%- endwith %}
{%- endblock %}
