{% extends 'layout/base_admin.html' %}
{% from 'macros/datetime.html' import render_date %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'orga_admin.birthdays' %}
{% set title = 'Die nächsten Geburtstage' %}

{% block head %}
    <style>
      .birthdays {
        line-height: 1.7;
      }

      .hastoday {
        font-weight: bold;
      }

      .birthdays time {
        cursor: help;
        border-bottom: #666666 dotted 1px;
      }
    </style>
{%- endblock head %}

{% block body %}

  <h1>{{ title }}</h1>

  <ol class="birthdays">
  {%- for user in orgas %}
    {%- set is_today = user.detail.is_birthday_today %}
    <li{% if is_today %} class="hastoday"{% elif user.detail.days_until_next_birthday > 14 %} class="faint"{% endif %}>
      {{ render_user_admin_link(user) }}
      {% if is_today %}{{ render_icon('birthday') }}{% endif %}
      {%- set relative_days_label = render_relative_days_until(user) %}
      wird {{ render_time_element(user.detail.date_of_birth, relative_days_label) }}
      {{ render_random_age_adjective() }} {{ user.detail.age if is_today else user.detail.age + 1 }} Jahre alt.
    </li>
  {%- endfor %}
  </ol>

{%- endblock body %}


{% macro render_relative_days_until(user) %}
  {%- set days_until_next_birthday = user.detail.days_until_next_birthday %}
  {%- set is_soon = (days_until_next_birthday <= 7) %}

  {%- if is_soon %}<strong>{% endif %}

  {%- if days_until_next_birthday == 0 -%}
    heute
  {%- elif days_until_next_birthday == 1 -%}
    morgen
  {%- elif days_until_next_birthday == 2 -%}
    übermorgen
  {%- else -%}
    in {{ days_until_next_birthday }} Tagen
  {%- endif %}

  {%- if is_soon %}</strong>{% endif %}
{%- endmacro %}


{% macro render_time_element(date, label) -%}
  <time datetime="{{ date.isoformat() }}" title="{{ date.strftime('%d.%m.%Y') }}">{{ label }}</time>
{%- endmacro %}


{% macro render_random_age_adjective() %}
  {{- [
    'agile',
    'atemberaubende',
    'bemerkenswerte',
    'beneidenswerte',
    'fantastische',
    'beschauliche',
    'bombastische',
    'eindrucksvolle',
    'epische',
    'erbarmungslose',
    'erfrischende',
    'erheiternde',
    'erquickende',
    'fantastische',
    'ganze',
    'grandiose',
    'herzallerliebste',
    'kolossale',
    'krasse',
    'legendäre',
    'niedliche',
    'passable',
    'phänomenale',
    'possierliche',
    'quirlige',
    'schmeichelhafte',
    'sensationelle',
    'sportliche',
    'überschaubare',
    'umwerfende',
    'unbegreifliche',
    'unbeschreibliche',
    'unbezahlbare',
    'unfassbare',
    'unglaubliche',
    'wahnsinnige',
    'wilde',
    'zarte',
    'zierliche',
    'zuckersüße',
  ]|random }}
{%- endmacro %}
