{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_date %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'orga_admin.birthdays' %}
{% set title = 'Die nächsten Geburtstage' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index">
    <thead>
      <tr>
        <th>Tag</th>
        {%- if any_birthdays_today %}
        <th></th>
        {%- endif %}
        <th>Name</th>
        <th>Alter</th>
      </tr>
    </thead>
    <tbody>
      {%- for birthday in birthdays %}
      <tr{% if birthday.is_today %} style="font-weight: bold;"{% endif %}>
        <td>{{ render_date(birthday.date) }}</td>
        {%- if any_birthdays_today %}
        <td>{% if birthday.is_today %}{{ render_icon('birthday') }}{% endif %}</td>
        {%- endif %}
        <td>{{ render_user_admin_link(birthday.user) }}</td>
        <td>{{ birthday.age }} Jahre</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock body %}
