{% extends 'layout/base.html' %}
{% set current_page = 'orgateam.index' %}
{% set title = 'Orgateams' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mitgliederzahl</th>
        <th>Mitglieder</th>
      </tr>
    </thead>
    <tbody>
      {%- for team in teams|sort(attribute='title') %}
      <tr>
        <td>{{ team.id }}</td>
        <td>{{ team.title }}</td>
        <td>{{ team.members|length }}</td>
        <td>
          <ul style="margin: 0 0 0 1em; padding: 0;">
          {%- for orga in team.members|sort(attribute='screen_name') %}
            <li><a href="{{ url_for('user.view', id=orga.id) }}">{{ orga.screen_name }}</a></li>
          {%- endfor %}
          </ul>
        </td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock body %}
