{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'orga_admin' %}
{% set title = 'Orgateams - Party wählen' %}

{% block body %}

  <h1>{{ title }}</h1>

  <ul>
    {%- for party in parties|sort(attribute='starts_at', reverse=True) %}
    <li{% if party.is_archived %} class="hidden"{% endif %}>
      {%- if party.is_archived %}{{ render_icon('archived', title='archiviert') }} {% endif -%}
      <a href="{{ url_for('.view_teams_for_party', party_id=party.id) }}">{{ party.title }}</a></li>
    {%- endfor %}
  </ul>

{%- endblock body %}
