{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'orga_admin.teams' %}
{% set title = 'Orga-Team-Mitgliedschaft bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.teams') }}">{{ membership.orga_team.party.title }}</a></li>
      <li>{{ membership.user.screen_name }}</li>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <form action="{{ url_for('.membership_update', id=membership.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.orga_team_id, required='required', autofocus='autofocus') }}
      {{ form_field(form.duties, maxlength=40) }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.teams_for_party', party_id=membership.orga_team.party.id)) }}
  </form>

{%- endblock body %}
