{% extends 'layout/base_admin.html' %}
{% from 'macros/datetime.html' import render_date %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_dimmed, render_with_fallback %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'orga_admin.persons' %}
{% set title = 'Organisatoren' %}

{% block head %}
    <script>
      $(function() {
        confirmed_delete_on_click('a.orgaflag-remove', 'Person den Orga-Status entziehen?');
      });
    </script>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.persons') }}">{{ brand.title }}</a></li>
      <li>{{ title }} <span class="dimmed" style="font-size: 1.3rem; font-weight: normal;">({{ orgas|length }})</span></li>
    </ol>
  </nav>

  <table class="index wide">
    <thead>
      <tr>
        <th>Benutzername<br/>Voller Name</th>
        <th>Geburtstag<br/>Alter</th>
        <th>Straße<br/>PLZ, Ort<br/>Land</th>
        <th>E-Mail-Adresse<br/>Telefonnummer</th>
      </tr>
    </thead>
    <tbody>
      {%- for user in orgas|sort(attribute='screen_name') %}
      <tr>
        <td class="nowrap">
          {{- render_user_admin_link(user) }}<br/>
          {{- render_with_fallback(user.detail.full_name) -}}
        </td>
        <td class="nowrap">
          {%- if user.detail.date_of_birth %}
            {{- render_date(user.detail.date_of_birth) }}<br/>
            {{- user.detail.age }} Jahre
          {%- else -%}
            {{ render_dimmed('nicht angegeben') }}
          {%- endif -%}
        </td>
        <td class="nowrap">
          {{- render_with_fallback(user.detail.street) -}}
          <br/>
          {%- if user.detail.zip_code %}{{ user.detail.zip_code }} {% endif -%}
          {{- render_with_fallback(user.detail.city) -}}
          <br/>
          {{- render_with_fallback(user.detail.country) -}}
          <br/>
        </td>
        <td class="nowrap">
          <a href="mailto:{{- user.email_address }}">{{- user.email_address|truncate(28, killwords=True, end='…') }}</a><br/>
          {{- render_with_fallback(user.detail.phone_number) -}}
        </td>
        <td><a href="{{ url_for('.remove_orgaflag', brand_id=brand.id, user_id=user.id) }}" class="action inline orgaflag-remove" title="Person den Orga-Status entziehen">{{ render_icon('remove') }}</a></td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

  <ol class="actions" style="margin-top: 2rem;">
    {%- if g.current_user.has_permission(OrgaTeamPermission.administrate_memberships) %}
    <li><a href="{{ url_for('.create_orgaflag_form', brand_id=brand.id) }}">{{ render_icon('add') }} Person zum Orga ernennen</a></li>
    {%- endif %}
    <li><a href="{{ url_for('.export_persons', brand_id=brand.id) }}" download="organizers_{{ brand.id }}.csv">{{ render_icon('download') }} Exportieren <small>(als Excel-CSV)</small></a></li>
  </ol>

{%- endblock body %}
