{% extends 'layout/base_admin.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_faint %}
{% set current_page = 'orga_admin.persons' %}
{% set title = 'Organisatoren' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <p>Marke wählen:</p>
  <ol class="index fully-linked">
    {%- for brand, person_count in brands_with_person_counts|sort(attribute='0.title') %}
    <li>
      <a href="{{ url_for('.persons_for_brand', brand_id=brand.id) }}">
        <strong>{{ brand.title }}</strong><br>
        {{ render_faint('%d %s'|format(person_count, 'Person' if (person_count == 1) else 'Personen')) }}
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
