{% extends 'layout/base_admin.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'orga_admin.persons' %}
{% set title = 'Organisatoren' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <p>Marke wählen:</p>
  <ol class="index fully-linked">
    {%- for brand in brands|sort(attribute='title') %}
    <li>
      <a href="{{ url_for('.persons_for_brand', brand_id=brand.id) }}">
        <strong>{{ brand.title }}</strong>
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
