{% extends 'layout/base_admin.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_faint %}
{% set current_page = 'orga_admin.teams' %}
{% set title = 'Orgateams' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <p>Party wählen:</p>
  <ol class="index fully-linked">
    {%- for party, team_count, person_count in parties_with_team_and_person_counts|sort(attribute='0.starts_at', reverse=True) %}
    <li>
      <a href="{{ url_for('.teams_for_party', party_id=party.id) }}">
        <div{% if party.is_archived %} class="faint"{% endif %}>
          <strong>{{ party.title }}</strong>
          {%- if party.is_archived %} {{ render_icon('archived', title='archiviert') }}{% endif -%}
          <br>
          {{- render_faint('%d %s'|format(team_count, 'Team' if (team_count == 1) else 'Teams')) }}
          &middot;
          {{ render_faint('%d %s'|format(person_count, 'Person' if (person_count == 1) else 'Personen')) }}
        </div>
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
