{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_faint, render_with_fallback %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'orga_admin.teams' %}
{% set title = 'Orga-Teams' %}

{% block head %}
    <script>
      $(function() {
        confirmed_delete_on_click('a.membership-remove', 'Person aus dem Team entfernen?');
      });
    </script>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.teams') }}">{{ party.title }}</a></li>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <table class="index wide">
    <thead>
      <tr>
        <th>Team</th>
        <th>Mitglieder</th>
        <th>Aufgabe</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for team in teams|sort(attribute='title') %}
      {%- set memberships = team.memberships|list %}
      {%- set member_total = memberships|length %}
      {%- for membership in memberships|sort(attribute='user.screen_name') %}
      <tr>
        {%- if loop.first %}
        <td{% if member_total > 1 %} rowspan="{{ member_total }}"{% endif %}>
          <strong>{{ team.title }}</strong><br>
          {{ render_faint('%d %s'|format(member_total, 'Person' if member_total == 1 else 'Personen')) }}
        </td>
        {%- endif %}
        <td>{{ render_user_admin_link(membership.user) }}</td>
        <td>{{ render_with_fallback(membership.duties) }}</td>
        <td>
          <a href="{{ url_for('.membership_update_form', id=membership.id) }}" class="action" title="Aufgabe bearbeiten">{{ render_icon('edit') }}</a>
          <a href="{{ url_for('.membership_remove', id=membership.id) }}" class="action membership-remove" title="Person aus Team entfernen">{{ render_icon('remove') }}</a>
        </td>
      </tr>
      {%- else %}
      <tr>
        <td><strong>{{ team.title }}</strong></td>
        <td>{{ render_faint('keine') }}</td>
        <td></td>
        <td></td>
      </tr>
      {%- endfor %}
    {%- endfor %}
    </tbody>
  </table>

  {%- if g.current_user.has_permission(OrgaTeamPermission.create) %}
  <ol class="actions">
    <li><a href="{{ url_for('.team_create_form', party_id=party.id) }}">{{ render_icon('add') }} Team erstellen</a></li>
  </ol>
  {%- endif %}

{%- endblock body %}
