{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_with_fallback %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'orga_admin.teams' %}
{% set title = 'Orgateams' %}

{% block head %}
    <script>
      $(function() {
        confirmed_delete_on_click('a.membership-remove', 'Person aus dem Team entfernen?');
      });
    </script>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.teams') }}">{{ party.title }}</a></li>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mitgliederzahl</th>
        <th>Mitglieder</th>
        <th>Aufgabe</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for team in teams|sort(attribute='title') %}
      {%- set memberships = team.memberships_for_party(party)|list %}
      {%- for membership in memberships|sort(attribute='user.screen_name') %}
        {%- set member_total = memberships|length %}
      <tr>
        {%- if loop.first %}
        <td{% if member_total > 1 %} rowspan="{{ member_total }}"{% endif %}>{{ team.id }}</td>
        <td{% if member_total > 1 %} rowspan="{{ member_total }}"{% endif %}><strong>{{ team.title }}</strong></td>
        <td{% if member_total > 1 %} rowspan="{{ member_total }}"{% endif %} class="centered">{{ memberships|length }}</td>
        {%- endif %}
        <td>{{ render_user_admin_link(membership.user) }}</td>
        <td>{{ render_with_fallback(membership.duties) }}</td>
        <td>
          <a href="{{ url_for('.membership_update_form', id=membership.id) }}" class="action" title="Aufgabe bearbeiten">{{ render_icon('edit') }}</a>
          <a href="{{ url_for('.membership_remove', id=membership.id) }}" class="action membership-remove" title="Person aus Team entfernen">{{ render_icon('remove') }}</a>
        </td>
      </tr>
      {%- endfor %}
    {%- endfor %}
    </tbody>
  </table>

{%- endblock body %}
