{% from 'macros/icons.html' import render_icon %}
{% from 'macros/party_admin.html' import render_party_admin_link %}


{% macro render_brand_head(brand) %}
  <div class="head-brand">
    Marken
    {{ '/'|dim }}
    <div>
      <strong><a href="{{ url_for('party_admin.index_for_brand', brand_id=brand.id) }}">{{ brand.title }}</a></strong>
    </div>
  </div>
{% endmacro %}


{% macro render_party_head(party) %}
  <div class="head-party">
    <a href="{{ url_for('party_admin.index_for_brand', brand_id=party.brand.id) }}">{{ party.brand.title }}</a>
    {{ '/'|dim }}
    <div>
      <strong>{{ render_party_admin_link(party) }}</strong>
    </div>
  </div>
{% endmacro %}


{% macro render_main_tabs(navigation, current_page) -%}
  <ol class="main-tabs">
    {%- for item in navigation.get_items() %}
      {%- with is_current = (item.id is not none) and (item.id is is_current_page(current_page)) %}
        <li>
          {%- if is_current %}<span class="current">{% else %}<a href="{{ item.endpoint }}">{% endif -%}
          {% if item.icon %}{{ render_icon(item.icon) }}{% endif %} {{ item.label }}
          {%- if is_current %}</span>{% else %}</a>{% endif -%}
        </li>
      {%- endwith %}
    {%- endfor %}
  </ol>
{%- endmacro %}


{% macro render_extra_in_heading(value) -%}
  <small>{{ value }}</small>
{%- endmacro %}
