{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_avatar_and_admin_link %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user.html' import render_user_avatar_and_name %}
{% set current_page = 'authn_identity_tag_admin' %}
{% set page_title = _('Identity Tags') %}

{% block body %}

<div class="row row--space-between block">
  <div>
    <h1 class="title">{{ page_title }} {{ render_extra_in_heading(tags|length) }}</h1>
  </div>
  <div>
    <div class="button-row button-row--right">
      <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>{{ _('Add') }}</span></a>
    </div>
  </div>
</div>

  {%- if tags %}
  <table class="itemlist is-vcentered is-wide">
    <thead>
      <tr>
        <th>{{ _('Identifier') }}</th>
        <th>{{ _('User') }}</th>
        <th>{{ _('Note') }}</th>
        <th>{{ _('Created at') }}</th>
        <th>{{ _('Created by') }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for tag in tags|sort(attribute='identifier') %}
      <tr>
        <td>
          {%- if tag.suspended %}
          <s>{{ tag.identifier }}</s> {{ render_tag(_('suspended')) }}
          {%- else %}
          {{ tag.identifier }}
          {%- endif %}
        </td>
        <td>{{ render_user_avatar_and_admin_link(tag.user, size=32) }}</td>
        <td>{{ tag.note|fallback }}</td>
        <td>{{ tag.created_at|datetimeformat }}</td>
        <td>{{ render_user_avatar_and_name(tag.creator, size=16) }}</td>
        <td><a class="button button--compact color-danger" href="{{ url_for('.delete', tag_id=tag.id) }}" data-action="delete-tag" title="{{ _('Delete') }}">{{ render_icon('delete') }}</a></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">{{ _('None defined') }}</div>
  </div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(() => {
    confirmed_delete_on_click_then_reload('[data-action="delete-tag"]', '{{ _('Really delete it?') }}');
  });
</script>
{% endblock %}
