{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_avatar_and_admin_link %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user.html' import render_user_avatar_and_name %}
{% set current_page = 'authn_identity_tag_admin' %}
{% set page_title = _('Identity Tags') %}

{% block body %}

<h1>{{ page_title }} {{ render_extra_in_heading(tags|length) }}</h1>

<div class="box">
  {%- if tags %}
  <table class="index index--v-centered index--wide">
    <thead>
      <tr>
        <th>{{ _('Identifier') }}</th>
        <th>{{ _('User') }}</th>
        <th>{{ _('Note') }}</th>
        <th>{{ _('Created at') }}</th>
        <th>{{ _('Created by') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for tag in tags|sort(attribute='identifier') %}
      <tr>
        <td>
          {%- if tag.suspended %}
          <s>{{ tag.identifier }}</s> {{ render_tag(_('suspended')) }}
          {%- else %}
          {{ tag.identifier }}
          {%- endif %}
        </td>
        <td>{{ render_user_avatar_and_admin_link(tag.user, size=32) }}</td>
        <td>{{ tag.note|fallback }}</td>
        <td>{{ tag.created_at|datetimeformat }}</td>
        <td>{{ render_user_avatar_and_name(tag.creator, size=16) }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">{{ _('None defined') }}</div>
  {%- endif %}
</div>

{%- endblock %}
