{% macro render_article_compilation(article_compilation) %}
    <h2>Artikel</h2>
    <table class="index wide">
      <thead>
        <tr>
          <th>Anzahl</th>
          <th>Beschreibung</th>
          <th>Preis</th>
        </tr>
      </thead>
      <tbody>
        {%- for item in article_compilation %}
        <tr>
          <td style="text-align: right;">{{ item.fixed_quantity }}</td>
          <td><strong>{{ item.article.description }}</strong></td>
          <td style="text-align: right;">{{ item.article.price.to_string() }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <p><small>Im Preis ist gemäß § 19 UStG keine Umsatzsteuer enthalten (Kleinunternehmerregelung).</small></p>
{% endmacro %}
