{% macro render_user_link(user) -%}
  {%- if user.deleted -%}
{{ user.screen_name|dim }}
  {%- else -%}
<a href="{{ url_for('user.view', id=user.id) }}">{{ user.screen_name }}</a>
  {%- endif -%}
{%- endmacro %}


{% macro render_user_avatar(user) %}
  {%- set is_orga = user.is_orga_for_party(g.party) %}
  {%- if user.avatar -%}
<div class="avatar{% if is_orga %} orga{% endif %}" title="{{ user.screen_name }}">
  {{ render_user_avatar_image(user) }}
  {%- if is_orga %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
  {%- endif -%}
{%- endmacro %}


{% macro render_user_avatar_medium(user) -%}
  {%- set is_orga = user.is_orga_for_party(g.party) %}
<div class="avatar size-medium{% if is_orga %} orga{% endif %}" title="{{ user.screen_name }}">
  {%- set avatar_url = user.avatar.url if user.avatar else url_for('core.static', filename='avatar_fallback.svg') %}
  <img src="{{ avatar_url }}" alt="Avatar von {{ user.screen_name }}">
  {%- if is_orga %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
{%- endmacro %}


{% macro render_user_avatar_tiny(user) -%}
<div class="avatar size-tiny" title="{{ user.screen_name }}">
  {%- set avatar_url = user.avatar.url if user.avatar else url_for('core.static', filename='avatar_fallback.svg') %}
  <img src="{{ avatar_url }}" alt="Avatar von {{ user.screen_name }}">
</div>
{%- endmacro %}


{% macro render_user_avatar_with_fallback(user) -%}
  {%- set is_orga = user.is_orga_for_party(g.party) %}
<div class="avatar{% if is_orga %} orga{% endif %}" title="{{ user.screen_name }}">
  {%- set avatar_url = user.avatar.url if user.avatar else url_for('core.static', filename='avatar_fallback.svg') %}
  <img src="{{ avatar_url }}" alt="Avatar von {{ user.screen_name }}">
  {%- if is_orga %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
{%- endmacro %}


{% macro render_user_avatar_image(user) %}
  <img src="{{ user.avatar.url }}" alt="Avatar von {{ user.screen_name }}">
{%- endmacro %}
