{% from 'macros/icons.html' import render_icon %}
{% from 'macros/stats.html' import render_bigstats_item %}


{%- macro render_cell(icon_name) -%}
    <div class="cell">
      <div class="box">
        <div class="cell-icon">{{ render_icon(icon_name) }}</div>
{{ caller() }}
      </div>
    </div>
{%- endmacro %}


{%- macro render_bigstats_cell(value, caption, icon_name, color=None) -%}
  {%- call render_cell(icon_name) %}
        <div class="bigstats">
        {{ render_bigstats_item(value, caption, color=color) }}
        </div>
  {%- endcall %}
{%- endmacro %}
