{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/admin/user.html' import render_user_avatar_20_and_admin_link %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user_badge_admin' %}
{% set title = _('Award Badge') %}

{% block before_body %}
{{ render_backlink(url_for('user_admin.view', user_id=user.id), user.screen_name) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('badge') }} {{ title }}</h1>

  <form action="{{ url_for('.award', user_id=user.id) }}" method="post">
    <div class="mb">
      <label class="form-label">{{ _('User') }}</label>
      <div>
        {{ render_user_avatar_20_and_admin_link(user) }}
      </div>
    </div>
    {{ form_field(form.badge_id, autofocus='autofocus') }}

    {{ form_buttons(_('Award badge')) }}
  </form>

{%- endblock %}
