{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/user.html' import render_user_avatar_20_and_admin_link %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user_badge_admin' %}
{% set title = 'Abzeichen verleihen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Abzeichen</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('badge') }} {{ title }}</h1>

  <form action="{{ url_for('.award', user_id=user.id) }}" method="post">
    {% call form_fieldset() %}
      <li>
        <div class="label">User</div>
        {{ render_user_avatar_20_and_admin_link(user) }}
      </li>
      {{ form_field(form.badge_id, autofocus='autofocus') }}
    {% endcall %}

    {{ form_buttons(_('Award badge'), cancel_url=url_for('user_admin.view', user_id=user.id)) }}
  </form>

{%- endblock %}
