{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_check, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user_badge_admin' %}
{% set page_title = _('Create Badge') %}

{% block before_body %}
{{ render_backlink(url_for('.index'), _('Badges')) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ page_title }}</h1>

  <form action="{{ url_for('.create') }}" method="post">
    {{ form_field(form.slug, maxlength=40, autofocus='autofocus') }}
    {{ form_field(form.label, maxlength=80) }}
    {{ form_field(form.description) }}
    {{ form_field(form.image_filename, maxlength=80) }}
    {{ form_field(form.brand_id) }}
    {{ form_field_check(form.featured, form.featured.label.text) }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
