{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'user_badge_admin' %}
{% set title = _('Badges') %}
{% set layout_main_raw = True %}

{% block head %}
  <style>
    table.badges td {
      vertical-align: middle;
    }
  </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ _('Badges') }} {{ render_extra_in_heading(badges|length) }}</h1>
    </div>
  {%- if has_current_user_permission(UserBadgePermission.create) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>{{ _('Create badge') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  <div class="box">
    {%- if badges %}
    <table class="index wide badges">
      <thead>
        <tr>
          <th>{{ _('Image') }}</th>
          <th>{{ _('Label') }}<br>{{ _('Slug') }}</th>
          <th colspan="2">{{ _('Brand') }}</th>
          <th></th>
          <th class="number">{{ _('Awarded') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for badge in badges|sort(attribute='label') %}
        <tr>
          <td><span class="user-badge size-32"><img src="{{ badge.image_url_path }}"></span></td>
          <td>
            <a href="{{ url_for('user_badge_admin.view', badge_id=badge.id) }}" class="disguised"><strong>{{ badge.label }}</strong></a><br>
            {{ badge.slug|dim }}
          </td>
          {%- if badge.brand %}
          <td>{{ render_brand_avatar(badge.brand, '32') }}</td>
          <td>{{ badge.brand.title }}</td>
          {%- else %}
          <td colspan="2"><em>{{ _('unrestricted') }}</em></td>
          {%- endif %}
          <td>{{ render_tag(_('featured')) if badge.featured else '' }}</td>
          <td class="bignumber number">{{ badge.awarding_count }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No badges defined.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
