{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_check_simple, form_field_simple %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user_badge_admin' %}
{% set title = _('Update Badge') %}

{% block before_body %}
{{ render_backlink(url_for('.view', badge_id=badge.id), badge.label) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', badge_id=badge.id) }}" method="post">
    {{ form_field_simple(form.slug, maxlength=40, autofocus='autofocus') }}
    {{ form_field_simple(form.label, maxlength=80) }}
    {{ form_field_simple(form.description) }}
    {{ form_field_simple(form.image_filename, maxlength=80) }}
    {{ form_field_simple(form.brand_id) }}
    {{ form_field_check_simple(form.featured, form.featured.label.text) }}

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}
