{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user_avatar.html' import render_user_avatar_64 %}
{% set current_page = 'user_badge_admin' %}
{% set title = 'Abzeichen - %s'|format(badge.label) %}

{% block head %}
  <style>
    .badge-details {
      display: flex;
      margin-top: 2rem;
    }
    .badge-details .badge {
      flex: 0 0 auto;
    }
    .badge-details .description {
      align-self: center;
      margin-left: 1rem;
    }

    a.recipient {
      border: none;
      display: block;
      text-decoration: none;
    }
    a.recipient:hover .avatar {
      outline: currentColor solid 1px;
    }
  </style>
{% endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Abzeichen</a></li>
    </ol>
  </nav>
  <h1>{{ badge.label }}</h1>

  <table class="index">
    <tr>
      <th>Slug</th>
      <td>{{ badge.slug }}</td>
    </tr>
    <tr>
      <th>Marke</th>
      <td>
      {%- if brand %}
        {{ render_brand_avatar(brand, '16') }}
        {{ brand.title }}
      {%- else %}
        <em>keine Einschränkung</em>
      {%- endif %}
      </td>
    </tr>
    <tr>
      <th>{{ render_tag('featured') }}</th>
      <td>{{ 'ja' if badge.featured else 'nein' }}</td>
    </tr>
  </table>

  <div class="badge-details">
    <div class="badge">
      <div class="user-badge size-64" title="{{ badge.label }}"><img src="{{ badge.image_url_path }}"></div>
    </div>

    {%- if badge.description %}
    <div class="description">{{ badge.description }}</div>
    {%- endif %}
  </div>

  <h2>an {{ recipients|length }} Personen verliehen</h2>
  <ul class="list-grid">
    {%- for user in recipients %}
    <li><a class="recipient" href="{{ url_for('user_admin.view', user_id=user.id) }}">
{{ render_user_avatar_64(user) }}
    </a></li>
    {%- endfor %}
  </ul>

{%- endblock %}
