<h2>Aktive Partys</h2>

{%- if active_parties %}
<ol class="active-parties">
  {%- for party in active_parties %}
  <li>
    <a href="{{ url_for('admin_dashboard.view_party', party_id=party.id) }}">
      <strong>{{ party.title }}</strong><br>
      <time datetime="{{ party.starts_at|format_date_iso }}">
        {{ party.starts_at|format_date_short }}
        {{- '–' -}}
        {{ party.ends_at|format_date_short }}
      </time>
    </a>
  </li>
  {%- endfor %}
</ol>
{%- else %}
<p>{{ 'keine aktiven Partys'|dim }}</p>
{%- endif %}

{%- if brand|default %}
<p style="float: right;"><a href="{{ url_for('party_admin.index_for_brand', brand_id=brand.id) }}">alle Partys &rarr;</a></p>
{%- endif %}
