{% from 'macros/icons.html' import render_icon %}
{% from 'macros/orga_admin.html' import render_random_age_adjective, render_relative_days_until, render_time_element %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% from 'macros/user_avatar.html' import render_user_avatar_32 %}


<h2>Die nächsten Geburtstage</h2>
<ol class="birthdays">
{%- for user in orgas_with_next_birthdays %}
  {%- with is_today = user.detail.is_birthday_today %}
  <li{% if is_today %} class="hastoday"{% elif user.detail.days_until_next_birthday > 14 %} class="dimmed"{% endif %}>
    {{ render_user_avatar_32(user) }}
    <div>
      {{ render_user_admin_link(user) }}
      {% if is_today %}{{ render_icon('birthday') }}{% endif %}
      {%- set relative_days_label = render_relative_days_until(user) %}
      wird {{ render_time_element(user.detail.date_of_birth, relative_days_label) }}
      {{ render_random_age_adjective() }} {{ user.detail.age if is_today else user.detail.age + 1 }} Jahre alt.
    </div>
  </li>
  {%- endwith %}
{%- endfor %}
</ol>
