{% extends 'layout/admin/base.html' %}
{% from 'macros/admin_dashboard.html' import render_bigstats_cell %}
{% set current_page = 'admin_dashboard_party' %}
{% set current_page_party = party %}
{% set title = 'Partys' %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='style/admin_dashboard.css') }}"/>
{%- endblock head %}

{% block body %}

  <div class="grid">
    {{ render_bigstats_cell(days_until_party, 'Tage bis zur Party', icon_name='date') }}
    {{ render_bigstats_cell(orga_count, 'Organisatoren in <strong>%d</strong> Teams'|format(orga_team_count)|safe, icon_name='users') }}
    {{ render_bigstats_cell(seat_count, 'Sitzplätze in <strong>%d</strong> Bereichen'|format(seating_area_count)|safe, icon_name='seating-area') }}
    {{ render_bigstats_cell(article_count, 'Artikel', icon_name='shopping-cart') }}
    {{ render_bigstats_cell(open_order_count, '<a href="%s">offene Bestellungen</a>'|format(url_for('shop_admin.order_index_for_party', party_id=party.id, only='open'))|safe, icon_name='shopping-cart', color='#cc0000') }}
    {{ render_bigstats_cell(tickets_sold, 'Tickets verkauft', icon_name='ticket', color='#008800') }}
  </div>

{%- endblock body %}
