{% extends 'layout/admin/base.html' %}
{% from 'macros/admin_dashboard.html' import render_bigstats_cell %}
{% set current_page = 'admin_dashboard_party' %}
{% set current_page_party = party %}
{% set title = 'Dashboard - ' ~ party.title %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid">
    {{ render_bigstats_cell(days_until_party, 'Tage bis zur Party', icon_name='date') }}
    {{ render_bigstats_cell(orga_count, 'Organisatoren in <strong>%d</strong> Teams'|format(orga_team_count)|safe, href=url_for('orga_team_admin.teams_for_party', party_id=party.id), icon_name='users') }}
    {{ render_bigstats_cell(seat_count, 'Sitzplätze in <strong>%d</strong> Bereichen'|format(seating_area_count)|safe, href=url_for('seating_admin.index_for_party', party_id=party.id), icon_name='seating-area') }}
    {{ render_bigstats_cell(article_count, 'Artikel', href=url_for('shop_article_admin.index_for_party', party_id=party.id), icon_name='shopping-cart') }}
    {{ render_bigstats_cell(open_order_count, 'offene Bestellungen', href=url_for('shop_order_admin.index_for_party', party_id=party.id, only_payment_state='open'), icon_name='shopping-cart', color='#cc0000') }}
    {{ render_bigstats_cell(tickets_sold, 'Tickets verkauft', href=url_for('ticketing_admin.index_for_party', party_id=party.id), icon_name='ticket', color='#008800') }}
  </div>

{%- endblock %}
