{% extends 'layout/base.html' %}
{% from 'macros/seating.html' import render_seating_area_link %}
{% from 'macros/user_avatar.html' import render_user_avatar_128 %}
{% from 'macros/user_badge.html' import render_user_badges_list %}
{% set current_page = 'user.view' %}
{% set title = '%s - Benutzer'|format(user.screen_name) %}

{% block head %}
  <style>
    main {
      padding: 0;
    }
  </style>
{%- endblock %}

{% block body %}

  <div class="user-profile">

    <div class="user-profile-background"></div>

    <div class="user-profile-header">

      <div class="user-profile-header-column">
{{ render_user_avatar_128(user) }}
      </div>

      <div class="user-profile-header-column screenname-and-orgateam">
        <div class="user-profile-header-cell-top screenname">
          {{ user.screen_name }}
        </div>
        <div class="user-profile-header-cell-bottom orgateam">
          {%- if orga_team_membership %}
          {{ orga_team_membership.orga_team.title }}
          {%- endif %}
        </div>
      </div>

      <div class="user-profile-header-column">
        <div class="user-profile-header-cell-top stats">
          {{ attended_parties|length }}
        </div>
        <div class="user-profile-header-cell-bottom stats-label">
          {{ 'Party' if (attended_parties|length == 1) else 'Partys' }}
        </div>
      </div>

      <div class="user-profile-header-column">
        <div class="user-profile-header-cell-top stats">
          {{ badges_with_awarding_quantity|length }}
        </div>
        <div class="user-profile-header-cell-bottom stats-label">
          Abzeichen
        </div>
      </div>

    </div>

    <div class="user-profile-layout">

      <div class="user-profile-secondary">

        {%- if current_party_tickets %}
        <table class="index">
          <tr>
            <th>Sitzplatz</th>
            <td>
              <ol>
              {%- for ticket in current_party_tickets %}
                <li>{{ render_seating_area_link(ticket.occupied_seat.area) if ticket.occupied_seat else 'nicht ausgewählt'|dim }}</li>
              {%- endfor %}
              </ol>
            </td>
          </tr>
        </table>
        {%- endif %}

        <div class="user-profile-details">

          {# attended parties #}
          <div class="user-profile-detail-block">
            <h2>Besuchte Partys</h2>

            {%- if attended_parties %}
            <ol>
              {%- for party in attended_parties %}
              <li>{% if party == g.party %}<strong>{% endif %}{{ party.title }}{% if party == g.party %}</strong>{% endif %}</li>
              {%- endfor %}
            </ol>
            {%- else %}
              {{- 'keine'|dim -}}
            {%- endif %}
          </div>
          {# /attended parties #}

          {# badges #}
          {%- if badges_with_awarding_quantity %}
          <div class="user-profile-detail-block">
            <h2>Abzeichen</h2>

            {{ render_user_badges_list(badges_with_awarding_quantity) }}
          </div>
          {%- endif %}
          {# /badges #}

        </div>

      </div>

    </div>

  </div>

{%- endblock %}
