{% extends 'layout/base_auto.html' %}
{% from 'macros/datetime.html' import render_date, render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_with_fallback %}
{% from 'macros/user.html' import render_user_avatar %}
{% set current_page = 'user' %}
{% set title = 'Deine Daten' %}

{% block head %}
    <script src="{{ url_for('.static', filename='behavior/user.js') }}"></script>
{% endblock %}

{% block body %}

  <h1>{{ title }}</h1>

  <h2>Benutzerkonto</h2>
  <table class="index">
    <tr>
      <th>Erstellt</th>
      <td>{{ render_datetime(user.created_at) }}</td>
    </tr>
    <tr>
      <th>Benutzername</th>
      <td>{{ user.screen_name }}</td>
    </tr>
    <tr>
      <th>E-Mail-Adresse</th>
      <td>{{ user.email_address }}</td>
    </tr>
    <tr>
      <th>Avatar</th>
      <td>
      {%- if user.avatar -%}
        {{ render_user_avatar(user) }}
      {%- else -%}
        {{ 'nicht hinterlegt'|dim }}
      {%- endif -%}
      {%- if g.current_user == user %}
        <ol class="actions" style="display: block; margin: 0.5rem 0 0 0;">
          <li><a href="{{ url_for('user_avatar.update_form') }}">{{ render_icon('upload') }} hochladen</a></li>
          {%- if user.avatar %}
          <li><a data-action="avatar-delete" href="{{ url_for('user_avatar.delete', _method='DELETE') }}">{{ render_icon('delete') }} entfernen</a></li>
          {%- endif %}
        </ol>
      {%- endif %}
      </td>
    </tr>
  </table>
  <ol class="actions">
    {%- if g.site_mode.is_public() %}
    <li><a href="{{ url_for('.view', id=user.id) }}">{{ render_icon('view') }} öffentliches Profil ansehen</a></li>
    {%- endif %}
    <li><a href="{{ url_for('.password_update_form') }}">{{ render_icon('password') }} Passwort ändern</a></li>
  </ol>

  <h2>Persönliche Daten</h2>
  <table class="index">
    <tr>
      <th>Voller Name</th>
      <td>{{ render_with_fallback(user.detail.full_name) }}</td>
    </tr>
    <tr>
      <th>Geburtsdatum</th>
      <td>
        {%- if user.detail.date_of_birth -%}
          {{ render_date(user.detail.date_of_birth, smart=False) }}
        {%- else -%}
          {{ 'nicht angegeben'|dim }}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <th>Anschrift</th>
      <td>
        {%- if user.detail.street or user.detail.zip_code or user.detail.city or user.detail.country %}
          {%- if user.detail.street %}{{ user.detail.street }}<br>{% endif -%}
          {%- if user.detail.zip_code %}{{ user.detail.zip_code }} {% endif %}
          {%- if user.detail.city %}{{ user.detail.city }}{% endif -%}
          {%- if user.detail.country %}<br>{{ user.detail.country }}{% endif -%}
        {%- else -%}
          {{ 'nicht angegeben'|dim }}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <th>Telefonnummer</th>
      <td>{{ render_with_fallback(user.detail.phone_number) }}</td>
    </tr>
  </table>
  <ol class="actions">
    <li><a href="{{ url_for('.details_update_form') }}">{{ render_icon('edit') }} bearbeiten</a></li>
  </ol>

  {%- if g.site_mode.is_public() %}
  <h2>Newsletter</h2>
  <table class="index">
    <tr>
      <th>Status</th>
      <td>
        {%- if subscribed_to_newsletter -%}
        {{ render_icon('enabled') }} abonniert
        {%- else -%}
        {{ render_icon('disabled') }} nicht abonniert
        {%- endif -%}
    </tr>
  </table>
  <ol class="actions">
    <li><a href="{{ url_for('newsletter.subscription_update_form') }}">{{ render_icon('edit') }} bearbeiten</a></li>
  </ol>
  {%- endif %}

{%- endblock body %}
