{% extends 'layout/base_auto.html' %}
{% from 'macros/datetime.html' import render_date, render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar_128 %}
{% set current_page = 'user' %}
{% set title = 'Deine Daten' %}

{% block body %}

  <h1>{{ title }}</h1>

  <h2>Benutzerkonto</h2>
  <table class="index">
    <tr>
      <th>Erstellt</th>
      <td>{{ render_datetime(user.created_at) }}</td>
    </tr>
    <tr>
      <th>Benutzername</th>
      <td>{{ user.screen_name }}</td>
    </tr>
    <tr>
      <th>E-Mail-Adresse</th>
      <td>{{ user.email_address }}</td>
    </tr>
    <tr>
      <th>Avatar</th>
      <td>
        {{ render_user_avatar_128(user) }}
      {%- if g.current_user.id == user.id %}
        <div class="button-row" style="margin-bottom: 4px; margin-top: 0;">
          <a class="button" href="{{ url_for('user_avatar.update_form') }}">{{ render_icon('upload') }} hochladen</a>
          {%- if user.avatar %}
          <a class="button" data-action="avatar-delete" href="{{ url_for('user_avatar.delete', _method='DELETE') }}">{{ render_icon('delete') }} entfernen</a>
          {%- endif %}
        </div>
      {%- endif %}
      </td>
    </tr>
  </table>
  <div class="button-row">
    {%- if g.site_mode.is_public() %}
    <a class="button" href="{{ url_for('.view', user_id=user.id) }}">{{ render_icon('view') }} öffentliches Profil ansehen</a>
    {%- endif %}
    <a class="button" href="{{ url_for('authentication.password_update_form') }}">{{ render_icon('password') }} Passwort ändern</a>
  </div>

  <h2>Persönliche Daten</h2>
  <table class="index">
    <tr>
      <th>Voller Name</th>
      <td>{{ user.detail.full_name|fallback }}</td>
    </tr>
    <tr>
      <th>Geburtsdatum</th>
      <td>
        {%- if user.detail.date_of_birth -%}
          {{ render_date(user.detail.date_of_birth, smart=False) }}
        {%- else -%}
          {{ 'nicht angegeben'|dim }}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <th>Anschrift</th>
      <td>
        {%- if user.detail.street or user.detail.zip_code or user.detail.city or user.detail.country %}
          {%- if user.detail.street %}{{ user.detail.street }}<br>{% endif -%}
          {%- if user.detail.zip_code %}{{ user.detail.zip_code }} {% endif %}
          {%- if user.detail.city %}{{ user.detail.city }}{% endif -%}
          {%- if user.detail.country %}<br>{{ user.detail.country }}{% endif -%}
        {%- else -%}
          {{ 'nicht angegeben'|dim }}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <th>Telefonnummer</th>
      <td>{{ user.detail.phone_number|fallback }}</td>
    </tr>
  </table>
  <div class="button-row">
    <a class="button" href="{{ url_for('.details_update_form') }}">{{ render_icon('edit') }} bearbeiten</a>
  </div>

  {%- if g.site_mode.is_public() %}
  <h2>Newsletter</h2>
  <table class="index">
    <tr>
      <th>Status</th>
      <td>
        {%- if subscribed_to_newsletter -%}
          {{ render_icon('enabled', color='#009900') }} abonniert <a class="button button--inline" style="margin-left: 0.5em;" data-action="newsletter-unsubscribe" href="{{ url_for('newsletter.unsubscribe') }}">{{ render_icon('edit') }} abmelden</a>
        {%- else -%}
          {{ render_icon('disabled', color='#cc0000') }} nicht abonniert <a class="button button--inline" style="margin-left: 0.5em;" data-action="newsletter-subscribe" href="{{ url_for('newsletter.subscribe') }}">{{ render_icon('edit') }} anmelden</a>
        {%- endif -%}
      </td>
    </tr>
  </table>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script src="{{ url_for('.static', filename='behavior/user.js') }}"></script>
{% endblock %}
