{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/seating.html' import render_seating_area_link %}
{% from 'macros/user.html' import render_user_avatar, render_user_badges %}
{% set current_page = 'user.view' %}
{% set title = 'Benutzer - %s'|format(user.screen_name) %}

{% block body %}

  <h1>{{ render_icon('user') }} {{ user.screen_name }}</h1>

  <table class="index">
    {%- if user.has_avatar_image %}
    <tr>
      <th>Avatarbild</th>
      <td>
        <div>{{ render_user_avatar(user) }}</div>
      </td>
    </tr>
    {%- endif %}
    {%- if orga_team_membership %}
    <tr>
      <th>Orga-Team</th>
      <td>{{ orga_team_membership.orga_team.title}}{% if orga_team_membership.duties %} ({{ orga_team_membership.duties }}){% endif %}</td>
    </tr>
    {%- endif %}
    {%- if current_party_tickets %}
    <tr>
      <th>Sitzplatz</th>
      <td>
        <ol>
        {%- for ticket in current_party_tickets %}
          <li>{{ render_seating_area_link(ticket.occupied_seat.area) }}</li>
        {%- endfor %}
        </ol>
      </td>
    </tr>
    {%- endif %}
    <tr>
      <th>Besuchte Partys</th>
      <td>
        {%- if attended_parties %}
        <ol>
          {%- for party in attended_parties %}
          <li>{% if party == g.party %}<strong>{% endif %}{{ party.title }}{% if party == g.party %}</strong>{% endif %}</li>
          {%- endfor %}
        </ol>
        {%- else %}
          {{- 'keine'|dim -}}
        {%- endif %}
      </td>
    </tr>
    {%- if user.badges %}
    <tr>
      <th>Abzeichen</th>
      <td>{{ render_user_badges(user) }}</td>
    </tr>
    {%- endif %}
  </table>

{%- endblock body %}
