{% from 'macros/misc.html' import render_tag %}


{% macro get_server_state_color_name(server) %}
  {%- if server.checked_out -%}
    color-disabled
  {%- elif server.checked_in -%}
    color-success
  {%- elif server.approved -%}
    color-info
  {%- else -%}
    color-warning
  {%- endif -%}
{%- endmacro %}


{% macro render_server_state(server) %}
  {%- if server.checked_out %}
    {{ render_tag(_('checked out'), class=get_server_state_color_name(server)) }}
  {%- elif server.checked_in %}
    {{ render_tag(_('checked in'), class=get_server_state_color_name(server)) }}
  {%- elif server.approved %}
    {{ render_tag(_('approved'), class=get_server_state_color_name(server)) }}
  {%- else %}
    {{ render_tag(_('pending'), class=get_server_state_color_name(server)) }}
  {%- endif -%}
{%- endmacro %}


{%- macro render_ip_address(address) %}
  {%- if address.ip_address -%}
  <span class="monospace">{{ address.ip_address }}</span>
  {%- else -%}
  {{ render_tag(_('none'), class='color-danger') }}
  {%- endif %}
{%- endmacro %}


{%- macro render_hostname(address, setting) %}
  {%- if address.hostname -%}
  <span class="monospace">{{ address.hostname }}{% if setting.domain %}.{{ setting.domain }}{% endif %}</span>
  {%- else -%}
  {{ _('not specified')|dim }}
  {%- endif %}
{%- endmacro %}


{%- macro render_netmask(address, setting) %}
  {%- if address.netmask -%}
  <span class="monospace">{{ address.netmask }}</span>
  {%- elif setting.netmask -%}
  <span class="monospace">{{ setting.netmask|dim }}</span>
  {%- else -%}
  {{ _('not specified')|dim }}
  {%- endif %}
{%- endmacro %}


{%- macro render_gateway(address, setting) %}
  {%- if address.gateway -%}
  <span class="monospace">{{ address.gateway }}</span>
  {%- elif setting.gateway -%}
  <span class="monospace">{{ setting.gateway|dim }}</span>
  {%- else -%}
  {{ _('not specified')|dim }}
  {%- endif %}
{%- endmacro %}
