{% extends 'layout/base_auto.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_checkbox, form_fieldset %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'authentication.login' %}
{% set title = 'Anmelden' %}

{% block head %}
  <style>
    #login-failed-notice {
      max-height: 4rem;
      margin-top: 1rem;
      overflow-y: hidden;
      transition: max-height 1s ease-out;
    }

    #login-failed-notice.hidden {
      max-height: 0;
      transition: max-height 0s;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ title }}</h1>

  {%- if login_enabled %}
    {%- if not logged_in %}
    <form action="{{ url_for('.login') }}" method="post" id="login-form">
      {%- call form_fieldset() %}
        {{ form_field(form.screen_name, maxlength=40, required='required', autofocus='autofocus') }}
        {{ form_field(form.password, maxlength=40, required='required') }}
        {{ form_field_checkbox(form.permanent, 'dauerhaft eingeloggt bleiben') }}
      {%- endcall %}

      <div id="login-failed-notice" class="hidden">
{{ render_notification('Die Anmeldung ist fehlgeschlagen.', category='danger', icon='warning') }}
      </div>

      {{ form_buttons('Anmelden') }}
    </form>

      {% if user_account_creation_enabled %}
    <p>Du hast noch keinen Benutzerzugang? Dann <a href="{{ url_for('user_creation.create_form') }}">registriere dich</a>!</p>
    <p>Du hast die Bestätigungs-E-Mail noch nicht erhalten? Dann <a href="{{ url_for('user_email_address.request_confirmation_email_form') }}">fordere sie erneut an</a>.</p>
      {%- endif %}
    <p>Du hast dein Passwort vergessen? Dann <a href="{{ url_for('.request_password_reset_form') }}">setze ein neues</a>.</p>
    {%- endif %}
  {%- else %}
{{ render_notification('Die Anmeldung ist deaktiviert.', category='warning', icon='warning') }}
  {%- endif %}

{%- endblock %}
