{% extends 'layout/base_auto.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'authentication.password_update' %}
{% set title = 'Passwort ändern' %}

{% block body %}

  <h1>{{ render_icon('password') }} {{ title }}</h1>

  <form action="{{ url_for('.password_update') }}" method="post">
    {%- call form_fieldset() %}
      {{ form_field(form.old_password, maxlength=40, required='required', autofocus='autofocus') }}
      {{ form_field(form.new_password, maxlength=40, required='required') }}
      {{ form_field(form.new_password_confirmation, maxlength=40, required='required') }}
    {%- endcall %}

    {{ form_buttons('Passwort ändern', cancel_url=url_for('user_current.view')) }}
  </form>

{%- endblock %}
