{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_screen_name %}


  <h2>Benutzerkonto</h2>
  <table class="index">
    <tr>
      <th>Benutzername</th>
      <td>{{ render_user_screen_name(user) }}<br><a class="button button--compact" href="{{ url_for('.change_screen_name_form') }}">{{ render_icon('edit') }} <span>ändern</span></a></td>
    </tr>
    <tr>
      <th>E-Mail-Adresse</th>
      <td>{{ user.email_address if user.email_address else 'nicht angegeben'|dim }}</td>
    </tr>
    <tr>
      <th>Sicherheit</th>
      <td><a class="button button--compact" href="{{ url_for('authentication.password_update_form') }}">{{ render_icon('password') }} <span>Passwort ändern</span></a></td>
    </tr>
  </table>
