{% from 'macros/datetime.html' import render_date %}


  <h2>Persönliche Daten</h2>
  <table class="index">
    <tr>
      <th>Voller Name</th>
      <td>{{ user.detail.full_name|fallback }}</td>
    </tr>
    <tr>
      <th>Geburtsdatum</th>
      <td>
        {%- if user.detail.date_of_birth -%}
          {{ render_date(user.detail.date_of_birth, smart=False) }}
        {%- else -%}
          {{ 'nicht angegeben'|dim }}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <th>Anschrift</th>
      <td>
        {%- if user.detail.street or user.detail.zip_code or user.detail.city or user.detail.country %}
          {%- if user.detail.street %}{{ user.detail.street }}<br>{% endif -%}
          {%- if user.detail.zip_code %}{{ user.detail.zip_code }} {% endif %}
          {%- if user.detail.city %}{{ user.detail.city }}{% endif -%}
          {%- if user.detail.country %}<br>{{ user.detail.country }}{% endif -%}
        {%- else -%}
          {{ 'nicht angegeben'|dim }}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <th>Telefonnummer</th>
      <td>{{ user.detail.phone_number|fallback }}</td>
    </tr>
  </table>
