{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'gallery_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('Galleries') %}

{% block body %}

  <div class="block row row--space-between">
    <div>
      <h1 class="title">{{ page_title }} {{ render_extra_in_heading(galleries|length) }}</h1>
    </div>
  {%- if has_current_user_permission('gallery.administrate') %}
    <div>
      <div class="button-row is-right-aligned">
        <a class="button" href="{{ url_for('.gallery_create_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>{{ _('Add') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  {%- if galleries %}
  <table class="itemlist is-wide">
    <thead>
      <tr>
        <th>{{ _('Slug') }}</th>
        <th>{{ _('Title') }}</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for gallery in galleries|sort(attribute='position') %}
      <tr>
        <td>{{ gallery.slug }}</td>
        <td><a href="{{ url_for('.gallery_view', gallery_id=gallery.id) }}">{{ gallery.title }}</a></td>
        <td>{% if gallery.hidden %}{{ render_tag(_('hidden')) }}{% endif %}</td>
        <td>
          {%- if has_current_user_permission('gallery.administrate') -%}
          <div class="button-row is-compact is-right-aligned">
            <div class="dropdown">
              <button class="dropdown-toggle button is-compact">{{ render_icon('chevron-down') }}</button>
              <ol class="dropdown-menu dropdown-menu--right">
                {%- if not loop.first %}
                <li><a class="dropdown-item" href="{{ url_for('.gallery_move_up', gallery_id=gallery.id) }}" data-action="gallery-move-up">{{ render_icon('arrow-up') }} {{ _('Move up') }}</a></li>
                {%- else %}
                <li><span class="dropdown-label dimmed">{{ render_icon('arrow-up') }} {{ _('Move up') }}</span></li>
                {%- endif %}

                {%- if not loop.last %}
                <li><a class="dropdown-item" href="{{ url_for('.gallery_move_down', gallery_id=gallery.id) }}" data-action="gallery-move-down">{{ render_icon('arrow-down') }} {{ _('Move down') }}</a></li>
                {%- else %}
                <li><span class="dropdown-label dimmed">{{ render_icon('arrow-down') }} {{ _('Move down') }}</span></li>
                {%- endif %}
              </ol>
            </div>
          </div>
          {%- endif -%}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="box no-data-message">{{ _('None defined') }}</div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
<script>
onDomReady(() => {
  post_on_click_then_reload('[data-action="gallery-move-up"]');
  post_on_click_then_reload('[data-action="gallery-move-down"]');
});
</script>
{% endblock %}
