{% from 'macros/admin/user.html' import render_user_avatar_and_admin_link %}
{% from 'macros/icons.html' import render_icon %}


{% macro render_log_entry(icon_name, timestamp) -%}
    <div class="event">
      <div class="event-icon">{{ render_icon(icon_name) }}</div>
      <div class="event-data">
        <div class="event-body">
{{ caller() }}
        </div>
        <div class="event-timestamp">{{ timestamp|datetimeformat }}</div>
      </div>
    </div>
{%- endmacro %}


{% macro render_log_reason(reason) -%}
          <div style="margin-top: 0.5rem;">
            {{ _('Reason') }}:
            <blockquote>{{ reason }}</blockquote>
          </div>
{%- endmacro %}


{% macro render_log_user(user) -%}
<span class="user-link">{{ render_user_avatar_and_admin_link(user, size=20) }}</span>
{%- endmacro %}
