{% extends 'layouts/shop_article_admin.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/shop_article_admin.html' import render_article_link %}
{% from 'macros/shop_order_admin.html' import render_order_link, render_order_payment_state %}
{% from 'macros/user_admin.html' import render_user_avatar_16_and_link %}
{% set current_page_party = article.party %}
{% set title = article.description %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Artikel</li>
      <li><a href="{{ url_for('.index_for_party', party_id=article.party.id) }}">{{ article.party.title }}</a></li>
      <li>{{ render_article_link(article) }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <p style="margin: 2rem 0;">
    <small>
      <span style="float: right;"><strong>Stand:</strong> {{ render_datetime(now, smart=False) }}</span>
      <span><strong>{{ quantity_total }}</strong> Stück insgesamt</span>
    </small>
  </p>

  <table class="index wide">
    <thead>
      <tr>
        <th>Benutzername<br>Vor- und Nachname</th>
        <th>Anzahl</th>
        <th colspan="2">Bestellung</th>
      </tr>
    </thead>
    <tbody>
    {%- for quantity, order, user in quantities_orders_users|sort(attribute='1.order_number', reverse=True) %}
      <tr>
        <td>
          {{- render_user_avatar_16_and_link(user) }}<br>
          {{- user.detail.full_name|fallback -}}
        </td>
        <td class="centered">{{ quantity }}</td>
        <td>
          {{- render_order_link(order) }}<br>
          {{- render_datetime(order.created_at)|dim -}}
        </td>
        <td>{{ render_order_payment_state(order.payment_state) }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
