{% from 'macros/admin.html' import render_main_tabs as _render_main_tabs %}


{% macro render_main_tabs(current_tab) -%}
  {{
    _render_main_tabs(
      Navigation(None)
        .add_item(url_for('.area_index', party_id=party.id), 'Bereiche', id='areas', required_permission=SeatingPermission.view)
        .add_item(url_for('.seat_category_index', party_id=party.id), 'Kategorien', id='seat_categories', required_permission=SeatingPermission.view)
        .add_item(url_for('.seat_group_index', party_id=party.id), 'Gruppen', id='seat_groups', required_permission=SeatingPermission.view)
      , current_tab
    )
  }}
{%- endmacro %}
