{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_bigstats_cell %}
{% from 'macros/admin/shop/order.html' import render_order_payment_state %}
{% set current_page = 'shop_shop_admin_dashboard' %}
{% set current_page_brand = brand %}
{% set current_page_shop = shop %}
{% set page_title = [_('Dashboard'), _('Shop'), brand.title] %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid dashboard">
    {{ render_bigstats_cell(order_counts_by_payment_state[PaymentState.open]|numberformat, _('Orders') ~ '<br>'|safe ~ render_order_payment_state(PaymentState.open), icon_name='pending', href=url_for('shop_order_admin.index_for_shop', shop_id=shop.id, only_payment_state='open')) }}
    {{ render_bigstats_cell(order_counts_by_payment_state[PaymentState.paid]|numberformat, _('Orders') ~ '<br>'|safe ~ render_order_payment_state(PaymentState.paid), icon_name='success', href=url_for('shop_order_admin.index_for_shop', shop_id=shop.id, only_payment_state='paid')) }}
  </div>

{%- endblock %}
