{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'shops_admin' %}
{% set title = 'Shops' %}
{% set layout_main_raw = True %}

{% block head %}
<style>
.two-columns {
  display: grid;
  gap: var(--layout-gutter);
  grid-template-columns: repeat(2, 1fr);
}

.two-columns .box {
  margin: 0;
}
</style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ title }} {{ render_extra_in_heading(shops|length) }}</h1>
    </div>
    {%- if g.current_user.has_permission(ShopPermission.create) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>Shop erstellen</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- if shops %}
  <div class="two-columns">
    {%- for shop in shops|sort(attribute='title')|sort(attribute='title') %}
    <div class="box" style="border-left: {{ '#aaaaaa' if shop.archived else '#55cc00' }} solid 0.25rem;">
      <div class="row row--space-between">

        <div class="column-auto">
          <a href="{{ url_for('.view', shop_id=shop.id) }}" class="disguised" style="display: block;">
            <strong>{{ shop.title }}</strong><br>
            <span class="monospace">{{ shop.id }}</span>
          </a>
        </div>

        <div class="column-auto" style="align-items: flex-end; display: flex;">
          {%- if shop.archived %}
          {{ render_tag('archiviert', icon='archived', class='color-disabled') }}
          {%- endif %}
        </div>

      </div>{# .row #}
    </div>{# .box #}
    {%- endfor %}
  </div>{# .two-columns #}
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Shops hinterlegt.</div>
  {%- endif %}

{%- endblock %}
