{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'shops_admin' %}
{% set title = 'Shop bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Shops</a></li>
      <li><a href="{{ url_for('.view', shop_id=shop.id) }}">{{ shop.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', shop_id=shop.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.title, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.email_config_id, required='required') }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.view', shop_id=shop.id)) }}
  </form>

{%- endblock %}
