{% extends 'layouts/admin/shop.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/article.html' import render_article_link %}
{% from 'macros/admin/shop/order.html' import render_order_payment_state %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% set current_page_shop = shop %}
{% set current_page = 'shop_shop_admin' %}
{% set current_tab = 'shop' %}
{% set title = 'Shop' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('shop_shop_admin.index') }}">Shops</a></li>
    </ol>
  </nav>
  <h1>{{ shop.title }}{% if shop.archived %} {{ render_tag('archiviert', class='color-disabled', icon='archived') }}{% endif %}</h1>

  <div class="row row--equal-sized-centered-columns row--space-between row--wrap bigstats">
    <div class="column-auto">
      <a class="button button--clear" href="{{ url_for('shop_order_admin.index_for_shop', shop_id=shop.id, only_payment_state='open') }}">
        {{- render_bigstats_item(order_counts_by_payment_state[PaymentState.open], 'Bestellungen<br>'|safe ~ render_order_payment_state(PaymentState.open)) -}}
      </a>
    </div>
    <div class="column-auto">
      <a class="button button--clear" href="{{ url_for('shop_order_admin.index_for_shop', shop_id=shop.id, only_payment_state='paid') }}">
        {{- render_bigstats_item(order_counts_by_payment_state[PaymentState.paid], 'Bestellungen<br>'|safe ~ render_order_payment_state(PaymentState.paid)) -}}
      </a>
    </div>
  </div>

  <table class="index" style="margin-top: 2rem;">
    <tr>
      <th>Shop-ID</th>
      <td>{{ shop.id }}</td>
    </tr>
  </table>

  <h2>Einstellungen {{ render_extra_in_heading(settings|length) }}</h2>
  {%- if settings %}
  <table class="index">
    <thead>
      <tr>
        <th>Name</th>
        <th>Wert</th>
      </tr>
    </thead>
    <tbody>
    {%- for key, value in settings|dictsort(by='key') %}
      <tr>
        <td class="monospace">{{ key }}</td>
        <td class="monospace">{{ value }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Einstellungen hinterlegt.</div>
  {%- endif %}

  <h2>Aktionen {{ render_extra_in_heading(order_actions_by_article_number|length) }}</h2>
  <p>Eine Aktion wird ausgelöst, wenn eine Bestellung einen der aufgeführten Artikel enthält und der Bestellstatus auf einen der für den Artikel aufgeführten Zustände geändert wird.</p>
  {%- if order_actions_by_article_number %}
  <table class="index wide">
    <thead>
      <tr>
        <th>Artikel</th>
        <th>Bezahlstatus</th>
        <th>Prozedur<br>Parameter</th>
      </tr>
    </thead>
    <tbody>
    {%- for article_number, actions in order_actions_by_article_number.items()|sort(attribute='0') %}
      {%- for action in actions %}
      <tr>
        <td>
        {%- if loop.first %}
          {{- render_article_link(action.article) }}<br>
          {{- action.article.description -}}
        {%- endif %}
        </td>
        <td>{{ render_order_payment_state(action.payment_state) }}</td>
        <td class="monospace">{{ action.procedure }}<br>{{ action.parameters }}</td>
      </tr>
      {%- endfor %}
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Für diesen Shop sind keine Aktionen definiert.</div>
  {%- endif %}

{%- endblock %}
