{% extends 'layout/admin/shop.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/order.html' import render_order_payment_state %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% set current_page = 'shop_shop_admin' %}
{% set current_page_brand = brand %}
{% set current_page_shop = shop %}
{% set current_tab = 'shop' %}
{% set title = 'Shop' %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">

      <div class="row row--equal-sized-centered-columns row--space-between row--wrap bigstats">
        <div class="column-auto">
          <a class="button button--clear" href="{{ url_for('shop_order_admin.index_for_shop', shop_id=shop.id, only_payment_state='open') }}">
            {{- render_bigstats_item(order_counts_by_payment_state[PaymentState.open], 'Bestellungen<br>'|safe ~ render_order_payment_state(PaymentState.open)) -}}
          </a>
        </div>
        <div class="column-auto">
          <a class="button button--clear" href="{{ url_for('shop_order_admin.index_for_shop', shop_id=shop.id, only_payment_state='paid') }}">
            {{- render_bigstats_item(order_counts_by_payment_state[PaymentState.paid], 'Bestellungen<br>'|safe ~ render_order_payment_state(PaymentState.paid)) -}}
          </a>
        </div>
      </div>

    </div>
    {%- if g.current_user.has_permission(ShopPermission.update) %}
    <div class="column-auto">

      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.update_form', shop_id=shop.id) }}">{{ render_icon('edit') }} <span>Bearbeiten</span></a>
      </div>

    </div>
    {%- endif %}
  </div>

  <table class="index" style="margin-top: 2rem;">
    <tr>
      <th>Shop-ID</th>
      <td>{{ shop.id }}</td>
    </tr>
  </table>

  <h2>Einstellungen {{ render_extra_in_heading(settings|length) }}</h2>
  {%- if settings %}
  <table class="index">
    <thead>
      <tr>
        <th>Name</th>
        <th>Wert</th>
      </tr>
    </thead>
    <tbody>
    {%- for key, value in settings|dictsort(by='key') %}
      <tr>
        <td class="monospace">{{ key }}</td>
        <td class="monospace">{{ value }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Einstellungen hinterlegt.</div>
  {%- endif %}

{%- endblock %}
