{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'shop_shop_admin' %}
{% set current_page_brand = brand %}
{% set current_page_shop = shop %}
{% set page_title = _('Shop') %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="box">
    <table class="index">
      <tr>
        <th>Shop-ID</th>
        <td>{{ shop.id }}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>
        {%- if shop.archived %}
          {{ render_tag(_('archived'), class='color-disabled', icon='archived') }}
        {%- else %}
          {{ render_tag(_('active'), class='color-success', icon='success') }}
        {%- endif %}
        </td>
      </tr>
    </table>
  </div>

  <h2>Einstellungen {{ render_extra_in_heading(settings|length) }}</h2>
  <div class="box">
    {%- if settings %}
    <table class="index">
      <thead>
        <tr>
          <th>Name</th>
          <th>Wert</th>
        </tr>
      </thead>
      <tbody>
      {%- for key, value in settings|dictsort(by='key') %}
        <tr>
          <td class="monospace">{{ key }}</td>
          <td class="monospace">{{ value }}</td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">Es sind keine Einstellungen hinterlegt.</div>
    {%- endif %}
  </div>

{%- endblock %}
