{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'shop_shop_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('Shop') %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <div class="box">
    <div class="dimmed-box centered">
      <p>{{ _('No shop exists for this brand.') }}</p>
    </div>

    {%- if has_current_user_permission('shop.create') %}
    <div class="button-row button-row--center button-row--compact mt">
      <a class="button" href="{{ url_for('.create_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>{{ _('Create shop') }}</span></a>
    </div>
    {%- endif %}
  </div>

{%- endblock %}
