<figure>
  <img src="{{ image.url_path }}"
    {%- if image.alt_text %} alt="{{ image.alt_text }}"{% endif -%}
    {%- if width %} width="{{ width }}"{% endif -%}
    {%- if height %} height="{{ height }}"{% endif -%}
  >
  {%- if image.caption %}
  <figcaption{% if width %} style="max-width: {{ width }}px;"{% endif %}>
    <div class="row row--space-between">
      <div>
        {{ image.caption }}
      </div>
      {%- if image.attribution %}
      <div>
        <small>{{ image_credit_label }}: {{ image.attribution }}</small>
      </div>
      {%- endif %}
    </div>
  </figcaption>
  {%- endif %}
</figure>
