{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_admin_link %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_avatar %}
{% set current_page = 'orga_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('Organizers') %}

{% block head %}
  <style>
    .orgas th,
    .orgas td {
      line-height: 1.6;
      white-space: nowrap;
    }
  </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div>

      <h1 class="nowrap">{{ page_title }} {{ render_extra_in_heading(orgas_with_birthdays|length) }}</h1>

    </div>
    <div class="column--align-bottom">

      <div class="button-row button-row--right">
        {%- if has_current_user_permission('orga_team.administrate_memberships') %}
        <a class="button" href="{{ url_for('.create_orgaflag_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>Person zum Orga ernennen</span></a>
        {%- endif %}

        {%- if orgas_with_birthdays %}
        <a class="button" href="{{ url_for('.export_persons', brand_id=brand.id) }}" download="organizers_{{ brand.id }}.csv">{{ render_icon('download') }} <span>{{ _('Export') }} <small>{{ 'als Excel-CSV'|dim }}</small></span></a>
        {%- else %}
        <button class="button" disabled>{{ render_icon('download') }} <span>{{ _('Export') }} <small>{{ 'als Excel-CSV'|dim }}</small></span></button>
        {%- endif %}
      </div>

    </div>
  </div>

  <div class="box">
    {%- if orgas_with_birthdays %}
    <table class="index index--v-centered index--wide orgas">
      <thead>
        <tr>
          <th>{{ _('Avatar') }}</th>
          <th>
            {{ _('Full name') }}<br>
            {{ _('Username') }}<br>
            {{ _('Date of birth') }}, {{ _('Age') }}
          </th>
          <th>
            {{ _('City') }}<br>
            {{ _('Email address') }}<br>
            {{ _('Phone number') }}
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%- for user, birthday in orgas_with_birthdays %}
        <tr>
          <td>{{ render_user_avatar(user, size=48) }}</td>
          <td>
            <strong>{{ render_user_admin_link(user) }}</strong><br>
            {{ user.detail.full_name|fallback }}<br>
            {%- if birthday %}
              {{ render_icon('birthday') }}
              {{ birthday.date_of_birth|dateformat }}
              ({{ birthday.age }} {{ _('years') }})
            {%- else %}
              {{ (render_icon('birthday') ~ ' ' ~ _('not given'))|dim }}
            {%- endif %}
          </td>
          <td>
            {%- if user.email_address %}
            {{ render_icon('email') }} <a href="mailto:{{- user.email_address }}">{{ user.email_address|truncate(36, killwords=True, end='…') }}</a>
            {%- else %}
            {{ (render_icon('email') ~ ' ' ~ _('not given'))|dim }}
            {%- endif %}
            <br>
            {{ render_icon('location') }}
            {{ user.detail.street|fallback }}
            &middot;
            {% if user.detail.zip_code %}{{ user.detail.zip_code }} {% endif %}
            {{ user.detail.city|fallback }}
            &middot;
            {{ user.detail.country|fallback }}
            <br>
            {%- if user.detail.phone_number %}
              {{ render_icon('phone') }}
              {{ user.detail.phone_number }}
            {%- else %}
              {{ (render_icon('phone') ~ ' ' ~ _('not given'))|dim }}
            {%- endif %}
          </td>
          <td>
            {%- if has_current_user_permission('orga_team.administrate_memberships') %}
            <div class="dropdown">
              <button class="dropdown-toggle button button--compact">{{ render_icon('chevron-down') }}</button>
              <ol class="dropdown-menu dropdown-menu--right">
                <li><a class="dropdown-item" data-action="orgaflag-remove" href="{{ url_for('.remove_orgaflag', brand_id=brand.id, user_id=user.id) }}">{{ render_icon('remove') }} Orga-Status entziehen</a></li>
              </ol>
            </div>
            {%- endif %}
          </td>
        </tr>
        {%- endfor %}
        <tr>
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">Es sind keine Organisatoren hinterlegt.</div>
    {%- endif %}
  </div>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_delete_on_click_then_reload('[data-action="orgaflag-remove"]', 'Person den Orga-Status entziehen?');
      });
    </script>
{%- endblock %}
