{% extends 'layouts/admin/orga.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_admin_link %}
{% from 'macros/datetime.html' import render_date %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar_48 %}
{% set current_page = 'orga_admin' %}
{% set current_page_brand = brand %}
{% set current_tab = 'persons' %}
{% set title = 'Organisatoren' %}

{% block head %}
  <style>
    .orgas tr td:first-child {
      vertical-align: middle;
    }

    .orgas th,
    .orgas td {
      line-height: 1.6;
      white-space: nowrap;
    }
  </style>
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.persons') }}">{{ brand.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ title }} {{ render_extra_in_heading(orgas|length) }}</h1>

  <div class="button-row">
    {%- if g.current_user.has_permission(OrgaTeamPermission.administrate_memberships) %}
    <a class="button" href="{{ url_for('.create_orgaflag_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>Person zum Orga ernennen</span></a>
    {%- endif %}

    {%- if orgas %}
    <a class="button" href="{{ url_for('.export_persons', brand_id=brand.id) }}" download="organizers_{{ brand.id }}.csv">{{ render_icon('download') }} <span>Exportieren <small>{{ 'als Excel-CSV'|dim }}</small></span></a>
    {%- else %}
    <button class="button" disabled>{{ render_icon('download') }} <span>Exportieren <small>{{ 'als Excel-CSV'|dim }}</small></span></button>
    {%- endif %}
  </div>

  {%- if orgas %}
  <table class="index wide orgas">
    <thead>
      <tr>
        <th>Avatar</th>
        <th>
          Voller Name<br>
          Benutzername<br>
          Geburtstag, Alter
        </th>
        <th>
          Wohnort<br>
          E-Mail-Adresse<br>
          Telefonnummer
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for user in orgas|sort(attribute='screen_name') %}
      <tr>
        <td>{{ render_user_avatar_48(user) }}</td>
        <td>
          <strong>{{ render_user_admin_link(user) }}</strong><br>
          {{ user.detail.full_name|fallback }}<br>
          {%- if user.detail.date_of_birth %}
            {{ render_icon('birthday') }}
            {{ render_date(user.detail.date_of_birth) }}
            ({{ user.detail.age }} Jahre)
          {%- else %}
            {{ (render_icon('birthday') ~ ' nicht angegeben')|dim }}
          {%- endif %}
        </td>
        <td>
          {{ render_icon('email') }} <a href="mailto:{{- user.email_address }}">{{ user.email_address|truncate(36, killwords=True, end='…') }}</a>
          <br>
          {{ render_icon('location') }}
          {{ user.detail.street|fallback }}
          &middot;
          {% if user.detail.zip_code %}{{ user.detail.zip_code }} {% endif %}
          {{ user.detail.city|fallback }}
          &middot;
          {{ user.detail.country|fallback }}
          <br>
          {%- if user.detail.phone_number %}
            {{ render_icon('phone') }}
            {{ user.detail.phone_number }}
          {%- else %}
            {{ (render_icon('phone') ~ ' nicht angegeben')|dim }}
          {%- endif %}
        </td>
        <td>
          {%- if g.current_user.has_permission(OrgaTeamPermission.administrate_memberships) %}
          <div class="dropdown left">
            <button class="dropdown-toggle button button--compact">{{ render_icon('caret-down') }}</button>
            <ol>
              <li><a data-action="orgaflag-remove" href="{{ url_for('.remove_orgaflag', brand_id=brand.id, user_id=user.id) }}">{{ render_icon('remove') }} Orga-Status entziehen</a></li>
            </ol>
          </div>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Organisatoren hinterlegt.</div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        confirmed_delete_on_click_then_reload('[data-action="orgaflag-remove"]', 'Person den Orga-Status entziehen?');
      });
    </script>
{%- endblock %}
