{% macro render_reaction_kind_symbol(kind_presentation) -%}
<span class="symbol">
  {%- if kind_presentation.symbol.type_ == 'emoji' -%}
    {{ kind_presentation.symbol.value }}
  {%- elif kind_presentation.symbol.type_ == 'image' -%}
    <img src="{{ url_for('static', filename='reactions/' ~ kind_presentation.symbol.filename) }}" alt="{{ kind_presentation.kind }}">
  {%- endif -%}
</span>
{%- endmacro %}


    {%- with may_react = g.user.authenticated and g.user.id != posting.creator_id %}
      {%- with reaction_tag = 'button' if may_react else 'span' %}
      <div class="reactions mt">
        {%- for kind_presentation in reaction_kind_presentations_in_order %}
          {%- with reactions = posting.reactions_by_kind.get(kind_presentation.kind, []) %}
            {%- if reactions or may_react %}
              {%- with has_reacted = g.user.id in reactions|map(attribute='id') %}
        <{{ reaction_tag }}
          class="button button--reaction{% if has_reacted %} button--reaction-active{% endif %} reaction-count"
          data-count="{{ reactions|length }}"
          {%- if may_react %}
          data-action="posting-react"
          data-url-add="{{ url_for('.add_reaction', posting_id=posting.id, kind=kind_presentation.kind) }}"
          data-url-remove="{{ url_for('.remove_reaction', posting_id=posting.id, kind=kind_presentation.kind) }}"
          {%- endif %}
          title="{{ reactions|map(attribute='screen_name')|select|join(', ') }}"
          >{{ render_reaction_kind_symbol(kind_presentation) }}</{{ reaction_tag }}>
              {%- endwith %}
            {%- endif %}
          {%- endwith %}
        {%- endfor %}
      </div>
      {%- endwith %}
    {%- endwith %}
