{% extends 'layout/base.html' %}
{% from 'macros/subnav.html' import render_subnav_for_menu_id %}
{% set current_page = 'party_history' %}
{% set page_title = _('Party History') %}

{% block subnav %}
  {%- if subnav_menu_id|default %}
{{ render_subnav_for_menu_id(subnav_menu_id, current_page) }}
  {%- endif %}
{% endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <div class="main-body-box">
    {%- for party in parties %}
    <h2><a class="disguised" href="{{ url_for('.view', party_id=party.id) }}">{{ party.title }}</a></h2>
{% include 'site/party_history/_meta.html' %}
    {%- else %}
    <p class="dimmed">{{ _('There haven\'t been any parties yet.') }}</p>
    {%- endfor %}
  </div>

{%- endblock %}
