{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_date_long %}
{% set current_page = 'party_history' %}
{% set title = 'Party-Historie' %}

{% block body %}

  <h1>{{ title }}</h1>

  {%- for party in parties %}
  <h2><a class="disguised" href="{{ url_for('.view', party_id=party.id) }}">{{ party.title }}</a></h2>
  <p class="meta">{{ render_date_long(party.starts_at|utc_to_local_tz) }} – {{ render_date_long(party.ends_at|utc_to_local_tz) }}</p>
  {%- else %}
  <p class="dimmed">Es haben noch keine Partys stattgefunden.</p>
  {%- endfor %}

{%- endblock %}
