{% extends 'layout/base.html' %}
{% from 'macros/user_avatar.html' import render_user_avatar_20_and_link %}
{% set current_page = 'party_history' %}
{% set page_title = party.title %}

{% block head %}
  <style>
    .attendees {
      columns: 10rem;
    }
    .attendees {
      line-height: 1.8;
      padding-right: 2rem;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>
{% include 'site/party_history/_meta.html' %}

  {%- if attendees %}
  <h2>{{ _('Attendees') }}</h2>
  <ol class="attendees">
    {%- for user in attendees|sort(attribute='screen_name') -%}
      {%- if not user.deleted %}
    <li>{{- render_user_avatar_20_and_link(user) -}}</li>
      {%- endif %}
    {%- endfor %}
  </ol>
  {%- endif %}

{%- endblock %}
