{% extends 'layout/base_admin.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'ticket_admin' %}
{% set title = 'Tickets' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <p>Party wählen:</p>
  <ol class="index fully-linked">
    {%- for party in parties|sort(attribute='starts_at', reverse=True) %}
    <li>
      <a href="{{ url_for('.index_for_party', party_id=party.id) }}">
        <div{% if party.is_archived %} class="hidden"{% endif %}>
          <strong>{{ party.title }}</strong>
          {%- if party.is_archived %} {{ render_icon('archived', title='archiviert') }}{% endif %}
        </div>
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
