{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'ticket_admin' %}
{% set title = 'Tickets' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <p>Party wählen:</p>
  <ul>
    {%- for party in parties|sort(attribute='starts_at', reverse=True) %}
    <li{% if party.is_archived %} class="hidden"{% endif %}>
      {%- if party.is_archived %}{{ render_icon('archived', title='archiviert') }} {% endif -%}
      <a href="{{ url_for('.index_for_party', party_id=party.id) }}">{{ party.title }}</a></li>
    {%- endfor %}
  </ul>

{%- endblock body %}
