{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_main_tabs %}
{% set current_page = 'seating_admin' %}

{% block before_body %}
  {%- with party = current_page_party %}
{{
  render_main_tabs(
    Navigation(None)
      .add_item(
        url_for('.index_for_party', party_id=party.id),
        _('Overview'),
        id='overview',
        required_permission='seating.view')
      .add_item(
        url_for('.area_index', party_id=party.id),
        _('Areas'),
        id='areas',
        required_permission='seating.view')
      .add_item(
        url_for('.seat_group_index', party_id=party.id),
        _('Groups'),
        id='seat_groups',
        required_permission='seating.view')
    , current_tab
  )
}}
  {%- endwith %}
{%- endblock %}
