{% extends 'layout/base_admin.html' %}
{% set current_page = 'news_admin' %}
{% set title = 'News' %}

{% block body %}

  <h1>{{ title }}</h1>

  <p>Marke wählen:</p>
  <ol class="index fully-linked">
    {%- for brand, item_count in brands_with_item_counts|sort(attribute='0.title') %}
    <li>
      <a href="{{ url_for('.index_for_brand', brand_id=brand.id) }}">
        <strong>{{ brand.title }}</strong><br>
        {{ '%d %s'|format(item_count, 'Post' if (item_count == 1) else 'Posts')|dim }}
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
