{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/user_admin.html' import render_user_avatar_16_and_name %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set title = '%s - News'|format(brand.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>News</li>
      <li>{{ brand.title }}</li>
    </ol>
  </nav>
  <h1>Newsposts {{ render_extra_in_heading(items.total) }}</h1>

  {%- if g.current_user.has_permission(NewsItemPermission.create) %}
  <div class="button-row">
    <a class="button" href="{{ url_for('.create_form', brand_id=brand.id) }}">{{ render_icon('add') }} Newspost erstellen</a>
  </div>
  {%- endif %}

  <table class="index wide">
    <thead>
      <tr>
        <th>
          Titel<br>
          Slug
        </th>
        <th></th>
        <th class="nowrap">
          Veröffentlichung<br>
          Letzte Änderung
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for item in items.items|sort(attribute='published_at', reverse=True) %}
      <tr>
        <td>
          <a href="{{ url_for('.view_version', version_id=item.current_version.id) }}"><strong>{{ item.title }}</strong></a><br>
          {{ item.slug|dim }}
        </td>
        <td>{% if item.current_version.image_url_path %} {{ render_icon('image', title='Bild festgelegt') }}{% endif %}</td>
        <td class="nowrap">
          <strong>{{ render_datetime(item.published_at) }}</strong><br>
          {%- filter dim %}
          {{ render_datetime(item.current_version.created_at) }}<br>
          von {{ render_user_avatar_16_and_name(item.current_version.creator) }}
          {%- endfilter %}
        </td>
        <td>
          {%- if g.current_user.has_permission(NewsItemPermission.update) -%}
          <a class="button button--inline" href="{{ url_for('.update_form', item_id=item.id) }}">{{ render_icon('edit') }} bearbeiten</a>
          {%- endif -%}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{{ render_pagination_nav(items, '.index_for_brand', {'brand_id': brand.id}) }}

{%- endblock %}
