{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'sites_admin' %}
{% set title = _('Add news channel') %}

{% block before_body %}
{{ render_backlink(url_for('.view', site_id=site.id), _('Site')) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.add_news_channel', site_id=site.id) }}" method="post">
    {{ form_field(form.news_channel_id) }}

    {{ form_buttons(_('Add')) }}
  </form>

{%- endblock %}
