{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/admin/brand.html' import render_brand_admin_link, render_brand_avatar %}
{% from 'macros/forms.html' import form_buttons, form_field_check, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'sites_admin' %}
{% set page_title = 'Site erstellen' %}

{% block before_body %}
{{ render_backlink(url_for('.index'), 'Sites') }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ page_title }}</h1>

  <form action="{{ url_for('.create', brand_id=brand.id) }}" method="post">
    <div class="mb">
      <label class="form-label">Marke</label>
      <div>
        {{ render_brand_avatar(brand, '64') }}<br>
        {{ render_brand_admin_link(brand) }}
      </div>
    </div>
    {{ form_field(form.id, maxlength=40, placeholder='intranet', autofocus='autofocus') }}
    {{ form_field(form.title, maxlength=40, placeholder='Intranet') }}
    {{ form_field(form.server_name, placeholder='www.example.com', note='Muss eindeutig sein.') }}
    {{ form_field(form.party_id) }}
    {{ form_field(form.board_id) }}
    {{ form_field(form.storefront_id) }}
    {{ form_field_check(form.enabled, form.enabled.label.text) }}
    {{ form_field_check(form.user_account_creation_enabled, form.user_account_creation_enabled.label.text) }}
    {{ form_field_check(form.login_enabled, form.login_enabled.label.text) }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
