{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'sites_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('Sites') %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ page_title }} {{ render_extra_in_heading(sites|length) }}</h1>
    </div>
    {%- if has_current_user_permission('site.create') %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form', brand_id=brand.id) }}"><span>{{ render_icon('add') }} {{ _('Create site') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- with show_brand_avatar = False %}
{% include 'admin/site/_sites.html' %}
  {%- endwith %}

{%- endblock %}
