{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% set current_page = 'sites_admin_party' %}
{% set current_page_party = party %}
{% set title = 'Sites' %}

{% block body %}

  <h1>{{ title }} {{ render_extra_in_heading(sites|length) }}</h1>

  {%- if g.current_user.has_permission(SitePermission.create) %}
  <div class="button-row">
    <a class="button" href="{{ url_for('.create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>Site erstellen</span></a>
  </div>
  {%- endif %}

  <table class="index">
    <thead>
      <tr>
        <th>Party</th>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
    {%- for site in sites|sort(attribute='title')|sort(attribute='party_id') %}
      <tr>
        <td class="monospace">{{ site.party_id }}</td>
        <td class="monospace"><a href="{{ url_for('.view', site_id=site.id) }}">{{ site.id }}</a></td>
        <td>{{ site.title }}</td>
      </tr>
    {%- else %}
      <tr>
        <td colspan="2" class="centered">
          <p class="dimmed">Es sind keine Sites hinterlegt.</p>
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  <h2>Einstellungen {{ render_extra_in_heading(settings_by_site|length) }}</h2>
  <table class="index wide">
    <thead>
      <tr>
        <th>Site</th>
        <th>Name</th>
        <th>Wert</th>
      </tr>
    </thead>
    <tbody>
    {%- for site_id, settings in settings_by_site.items()|sort %}
      <tr>
        <td class="monospace" colspan="3"><strong>{{ site_id }}</strong></td>
      </tr>
      {%- for setting in settings|sort(attribute='name') %}
      <tr>
        <td></td>
        <td class="monospace">{{ setting.name }}</td>
        <td class="monospace">{{ setting.value }}</td>
      </tr>
      {%- endfor %}
    {%- else %}
      <tr>
        <td colspan="3" class="centered">
          <p class="dimmed">Es sind keine site-spezifischen Einstellungen hinterlegt.</p>
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
