{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'sites_admin' %}
{% set title = 'Sites' %}
{% set layout_main_raw = True %}

{% block body %}

  <h1>{{ title }} {{ render_extra_in_heading(sites|length) }}</h1>

  {%- if g.current_user.has_permission(SitePermission.create) %}
  <div class="button-row button-row--right">
    <div class="dropdown left">
      <button class="dropdown-toggle button"><span>{{ render_icon('add') }} Site erstellen</span></button>
      <ol>
        <li><span><strong>Marke:</strong></span></li>
        <li class="divider"></li>
      {%- for brand in brands %}
        <li><a href="{{ url_for('.create_form', brand_id=brand.id) }}">{{ brand.title }}</a></li>
      {%- endfor %}
      </ol>
    </div>
  </div>
  {%- endif %}

  {%- if sites %}
    {%- for site in sites|sort(attribute='enabled', reverse=True) %}
  <div class="box" style="border-left: {{ '#55cc00' if site.enabled else '#aaaaaa' }} solid 0.25rem; margin-bottom: 1rem;">
    <div class="row row--space-between">

      <div class="column-auto" style="min-width: 35%;">
        <a href="{{ url_for('.view', site_id=site.id) }}" class="disguised" style="display: block;">
          <strong>{{ site.title }}</strong><br>
          <span class="monospace">{{ site.id }}</span>
        </a>
        <br>
        <a href="https://{{ site.server_name }}/" class="disguised">{{ site.server_name }}</a>
      </div>

      <div class="column-auto" style="min-width: 35%;">
        <div>{{ render_icon('brand', title='Marke') }} <a href="{{ url_for('admin_dashboard.view_brand', brand_id=site.brand_id) }}" class="disguised">{{ brands_by_id[site.brand_id].title }}</div>
        <div>{{ render_icon('email', title='E-Mail-Konfiguration') }} <a href="{{ url_for('email_admin.index') }}" class="disguised">{{ site.email_config_id }}</a></div>
        <div>
          {{ render_icon('date', title='Party') }}
          {% if site.party_id -%}
          <a href="{{ url_for('admin_dashboard.view_party', party_id=site.party_id) }}" class="disguised">{{ party_titles_by_id[site.party_id] }}</a>
          {%- else -%}
          {{ 'keine Party'|dim }}
          {%- endif -%}
        </div>
        <div>
          {{ render_icon('news', title='Newskanal') }}
          {% if site.news_channel_id -%}
          <a href="{{ url_for('news_admin.channel_view', channel_id=site.news_channel_id) }}" class="disguised">{{ site.news_channel_id }}</a>
          {%- else -%}
          {{ 'kein Newskanal'|dim }}
          {%- endif -%}
        </div>
        <div>
          {{ render_icon('board', title='Forum') }}
          {% if site.board_id -%}
          <a href="{{ url_for('board_admin.board_view', board_id=site.board_id) }}" class="disguised">{{ site.board_id }}</a>
          {%- else -%}
          {{ 'kein Forum'|dim }}
          {%- endif -%}
        </div>
        <div>
          {{ render_icon('shop', title='Storefront') }}
          {% if site.storefront_id -%}
            {%- with storefront = storefronts_by_site_id.get(site.storefront_id) %}
          <a href="{{ url_for('shop_storefront_admin.view', storefront_id=storefront.id) }}" class="disguised">{{ storefront.id }}</a>
            {%- endwith %}
          {%- else -%}
          {{ 'kein Storefront'|dim }}
          {%- endif -%}
        </div>
      </div>

      <div class="column-auto" style="text-align: right;">
        {%- if site.enabled %}
        {{ render_tag('', class='color-success', icon='success', title='Site aktiv') }}
        {%- else %}
        {{ render_tag('', class='color-disabled', icon='disabled', title='Site deaktiviert') }}
        {%- endif %}
        <br>
        {%- if site.user_account_creation_enabled %}
        {{ render_tag('', class='color-success', icon='user-create', title='Benutzerregistrierung geöffnet') }}
        {%- else %}
        {{ render_tag('', class='color-disabled', icon='user-create', title='Benutzerregistrierung gesperrt') }}
        {%- endif %}
        <br>
        {%- if site.login_enabled %}
        {{ render_tag('', class='color-success', icon='log-in', title='Benutzeranmeldung geöffnet') }}
        {%- else %}
        {{ render_tag('', class='color-disabled', icon='log-in', title='Benutzeranmeldung gesperrt') }}
        {%- endif %}
        <br>
        {%- if site.archived %}
        {{ render_tag('archiviert', class='color-disabled', icon='archived') }}
        {%- endif %}
      </div>

    </div>{# .row #}
  </div>{# .box #}
    {%- endfor %}
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Sites hinterlegt.</div>
  {%- endif %}

{%- endblock %}
