{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_checkbox, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'site_admin' %}
{% set current_page_site = site %}
{% set title = 'Site bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('site_admin.index') }}">Sites</a></li>
      <li><a href="{{ url_for('.view', site_id=site.id) }}">{{ site.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', site_id=site.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.title, maxlength=40, required='required', autofocus='autofocus') }}
      {{ form_field(form.server_name, required='required', note='Muss eindeutig sein') }}
      {{ form_field(form.email_config_id, required='required') }}
      {{ form_field(form.party_id) }}
      {{ form_field_checkbox(form.enabled, form.enabled.label.text) }}
      {{ form_field_checkbox(form.user_account_creation_enabled, form.user_account_creation_enabled.label.text) }}
      {{ form_field_checkbox(form.login_enabled, form.login_enabled.label.text) }}
      {{ form_field_checkbox(form.archived, form.archived.label.text) }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.view', site_id=site.id)) }}
  </form>

{%- endblock %}
