{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% set current_page = 'site_admin' %}
{% set current_page_site = site %}
{% set title = '%s - Site'|format(site.id) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('site_admin.index') }}">Sites</a></li>
    </ol>
  </nav>
  <h1>{{ site.id }}</h1>

  <div class="button-row button-row--compact" style="float: right;">
    {%- if g.current_user.has_permission(SitePermission.update) %}
    <div class="dropdown left">
      <button class="dropdown-toggle button"><span>{{ render_icon('caret-down') }}</span></button>
      <ol>
        <li><a href="{{ url_for('.update_form', site_id=site.id) }}">{{ render_icon('edit') }} <span>Bearbeiten</span></a></li>
      </ol>
    </div>
    {%- endif %}
  </div>

  <table class="index">
    <tr>
      <th>ID</th>
      <td>{{ site.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ site.title }}</td>
    </tr>
    <tr>
      <th>Party</th>
      <td>{% if site.party_id %}<a href="{{ url_for('admin_dashboard.view_party', party_id=site.party_id) }}">{{ site.party_id }}</a>{% else %}{{ ''|fallback }}{% endif %}</td>
    </tr>
  </table>

  <h2>Einstellungen {{ render_extra_in_heading(settings|length) }}</h2>
  {%- if settings %}
  <table class="index">
    <thead>
      <tr>
        <th>Name</th>
        <th>Wert</th>
      </tr>
    </thead>
    <tbody>
    {%- for setting in settings|sort(attribute='name') %}
      <tr>
        <td class="monospace">{{ setting.name }}</td>
        <td class="monospace">{{ setting.value }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Einstellungen hinterlegt.</div>
  {%- endif %}

{%- endblock %}
