{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/misc.html' import render_faint %}

{% macro render_article_temporal_availability(article) -%}
  {%- set range = article.availability_range %}
  {%- if range.hasLowerBound() and range.hasUpperBound() -%}
    {{ render_datetime(article.available_from, smart=False) }} –<br/>
    {{- render_datetime(article.available_until, smart=False) }}
  {%- elif range.hasLowerBound() and not range.hasUpperBound() -%}
    ab {{ render_datetime(range.lowerEndpoint(), smart=False) }}
  {%- elif not range.hasLowerBound() and range.hasUpperBound() -%}
    bis {{ render_datetime(range.upperEndpoint(), smart=False) }}
  {%- else -%}
    {{ render_faint('unbegrenzt') }}
  {%- endif -%}
{%- endmacro %}

{% macro render_order_payment_state(payment_state) %}
  {%- set state_name = payment_state.name %}
  {%- if state_name == 'paid' -%}
    <span class="tag order-paid">bezahlt</span>
  {%- elif state_name == 'canceled' -%}
    <span class="tag order-canceled">storniert</span>
  {%- else -%}
    <span class="tag order-open">offen</span>
  {%- endif -%}
{% endmacro %}
