{%- from 'macros/misc.html' import render_tag %}
{%- from 'macros/ticketing_admin.html' import render_ticket_flag_revoked %}
{%- from 'macros/user_admin.html' import render_user_avatar_16_and_link %}

{%- if tickets %}
<table class="index wide">
  <thead>
    <tr>
      <th>Code</th>
      <th>Besitzer</th>
      <th>Kategorie</th>
      <th>Sitzplatz</th>
      <th>Nutzer</th>
    </tr>
  </thead>
  <tbody>
    {%- for ticket in tickets|sort(attribute='created_at') %}
    <tr>
      <td>
        <a href="{{ url_for('ticketing_admin.view_ticket', ticket_id=ticket.id) }}"><strong>{{ ticket.code }}</strong></a>
        {%- if ticket.revoked %}<br><span class="nowrap">{{ render_ticket_flag_revoked() }}</span>{% endif %}
      </td>
      <td>{{ render_user_avatar_16_and_link(ticket.owned_by) }}</td>
      <td>{{ ticket.category.title }}</td>
      <td>
        {%- if ticket.occupied_seat -%}
        {{ ticket.occupied_seat.area.title }}
        {%- else -%}
        {{ render_tag('keiner', class='available') }}
        {%- endif -%}
        <br>
        {{ 'verwaltet durch'|dim  }} {{ render_user_avatar_16_and_link(ticket.get_seat_manager()) }}
      </td>
      <td>
        {%- if ticket.used_by -%}
        {{ render_user_avatar_16_and_link(ticket.used_by) }}
        {%- else -%}
        {{ render_tag('frei', class='available') }}
        {%- endif -%}
        <br>
        {{ 'verwaltet durch'|dim }} {{ render_user_avatar_16_and_link(ticket.get_user_manager()) }}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- else %}
<p>{{ 'keine'|dim }}</p>
{%- endif %}
