{%- from 'macros/misc.html' import render_tag %}
{%- from 'macros/ticketing_admin.html' import render_ticket_flag_revoked, render_ticket_flag_user_checked_in %}
{%- from 'macros/user_admin.html' import render_user_avatar_16_and_link %}

{%- if tickets %}
<style>
  .ticket-manager {
    margin-top: 0.3rem;
  }
</style>

<table class="index wide">
  <thead>
    <tr>
      <th colspan="2">Code</th>
      <th>Besitzer</th>
      <th>Kategorie</th>
      <th>Sitzplatz</th>
      <th>Nutzer</th>
    </tr>
  </thead>
  <tbody>
    {%- for ticket in tickets|sort(attribute='created_at') %}
    <tr{% if ticket.revoked %} class="dimmed"{% endif %}>
      <td><a href="{{ url_for('ticketing_admin.view_ticket', ticket_id=ticket.id) }}"><strong>{{ ticket.code }}</strong></a></td>
      <td>
        {%- if ticket.revoked %}{{ render_ticket_flag_revoked(hide_label=True) }}{% endif -%}
        {%- if ticket.user_checked_in %}{{ render_ticket_flag_user_checked_in(hide_label=True) }}{% endif -%}
      </td>
      <td>{{ render_user_avatar_16_and_link(ticket.owned_by) }}</td>
      <td>{{ ticket.category.title }}</td>
      <td>
        {%- if ticket.occupied_seat -%}
        {{ ticket.occupied_seat.label }}
        {%- else -%}
        {{ render_tag('keiner', class='available') }}
        {%- endif -%}
        <div class="ticket-manager">{{ render_icon('administrate', title='verwaltet durch') }} {{ render_user_avatar_16_and_link(ticket.get_seat_manager()) }}</div>
      </td>
      <td>
        {%- if ticket.used_by -%}
        {{ render_user_avatar_16_and_link(ticket.used_by) }}
        {%- else -%}
        {{ render_tag('frei', class='available') }}
        {%- endif -%}
        <div class="ticket-manager">{{ render_icon('administrate', title='verwaltet durch') }} {{ render_user_avatar_16_and_link(ticket.get_user_manager()) }}</div>
      </td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- else %}
<p>{{ 'keine'|dim }}</p>
{%- endif %}
