{%- from 'macros/datetime.html' import render_datetime %}
{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/ticketing_admin.html' import render_ticket_flag_revoked %}
{%- from 'macros/user_admin.html' import render_user_avatar_20_and_link %}


  <h2>Verlauf</h2>
  <div class="events">
    {%- for event in events|sort(attribute='occurred_at', reverse=True) %}
      {%- with %}
        {%- if event.event == 'ticket-created' %}
          {%- set icon_name = 'add' %}
          {%- set body %}
            Das Ticket ist <strong>erzeugt worden</strong>.
          {%- endset %}
        {%- elif event.event == 'ticket-revoked' %}
          {%- set icon_name = 'disabled' %}
          {%- set body %}
            {%- if event.initiator is defined %}
            <span class="user-link">{{ render_user_avatar_20_and_link(event.initiator) }}</span>
            {%- else %}
            Jemand
            {%- endif %}
            hat das Ticket {{ render_ticket_flag_revoked() }}.
            {%- if event.reason is defined %}
            Begründung: &quot;{{ event.reason }}&quot;
            {%- endif -%}
          {%- endset %}
        {%- elif event.event == 'seat-occupied' %}
          {%- set icon_name = 'seating-area' %}
          {%- set body %}
            <span class="user-link">{{ render_user_avatar_20_and_link(event.initiator) }}</span>
            hat Sitzplatz <strong>{{ event.seat_label }}</strong>
            {%- if event.previous_seat_label is defined %}
            (vorher <strong>{{ event.previous_seat_label }}</strong>)
            {%- endif %}
            reserviert.
          {%- endset %}
        {%- elif event.event == 'seat-released' %}
          {%- set icon_name = 'disabled' %}
          {%- set body %}
            <span class="user-link">{{ render_user_avatar_20_and_link(event.initiator) }}</span>
            hat den Sitzplatz freigegeben.
          {%- endset %}
        {%- else %}
          {%- set icon_name = 'disabled' %}
          {%- set body %}
            <strong>Unbekannte Aktion '{{ event.event }}'</strong> ist ausgelöst worden.
          {%- endset %}
        {%- endif %}
    <div class="event">
      <div class="event-icon">{{ render_icon(icon_name) }}</div>
      <div class="event-body">{{ body|safe }}</div>
      <div class="event-timestamp">{{ render_datetime(event.occurred_at) }}</div>
    </div>
      {%- endwith %}
    {%- endfor %}
  </div>
