{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'ticketing_admin' %}
{% set current_page_party = party %}
{% set title = '%s - Ticketing'|format(party.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Ticketing</li>
      <li>{{ party.title }}</li>
    </ol>
  </nav>
  <h1>Tickets {{ render_extra_in_heading(tickets.total) }}</h1>

{%- with tickets = tickets.items %}
  {%- include 'ticketing_admin/_ticket_list.html' %}
{%- endwith %}

{{ render_pagination_nav(tickets, '.index_for_party', {'party_id': party.id}) }}

{%- endblock %}
