{% extends 'layout/admin/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/shop_order_admin.html' import render_order_link %}
{% from 'macros/ticketing_admin.html' import render_ticket_flag_revoked %}
{% from 'macros/user_admin.html' import render_user_avatar_20_and_link %}
{% set current_page = 'ticketing_admin' %}
{% set current_page_party = party %}
{% set title = 'Ticket %s - Ticketing'|format(ticket.id) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Ticketing</li>
      <li>{{ party.title }}</li>
    </ol>
  </nav>
  <h1>{{ render_icon('ticket') }} {{ ticket.code }}</h1>

  <table class="index">
    <tr>
      <th>ID</th>
      <td>{{ ticket.id }}</td>
    </tr>
    <tr>
      <th>Code</th>
      <td>{{ ticket.code }}</td>
    </tr>
    <tr>
      <th>Erstellt</th>
      <td>{{ render_datetime(ticket.created_at) }}</td>
    </tr>
    <tr>
      <th>Besitzer/in</th>
      <td>{{ render_user_avatar_20_and_link(ticket.owned_by) }}</td>
    </tr>
    <tr>
      <th>Bestellung</th>
      <td>{{ render_order_link(order) if order else None|fallback('nicht hinterlegt') }}</td>
    </tr>
    <tr>
      <th>Party</th>
      <td>{{ party.title }}</td>
    </tr>
    <tr>
      <th>Kategorie</th>
      <td>{{ ticket.category.title }}</td>
    </tr>
    <tr>
      <th>Sitzplatz</th>
      <td>
        {%- if ticket.occupied_seat -%}
        {{ ticket.occupied_seat.area.title }}
        {%- else -%}
        {{ 'keiner'|dim }}
        {%- endif -%}
        <br>
        {{ 'verwaltet durch'|dim  }} {{ render_user_avatar_20_and_link(ticket.get_seat_manager()) }}
      </td>
    </tr>
    <tr>
      <th>Nutzer/in</th>
      <td>
        {%- if ticket.used_by -%}
        {{ render_user_avatar_20_and_link(ticket.used_by) }}
        {%- else -%}
        {{ 'keine/r'|dim }}
        {%- endif -%}
        <br>
        {{ 'verwaltet durch'|dim }} {{ render_user_avatar_20_and_link(ticket.get_user_manager()) }}
      </td>
    </tr>
    <tr>
      <th>Markierungen</th>
      <td>
        {%- if ticket.revoked %}
        {{ render_ticket_flag_revoked() }}
        {%- else %}
        {{ 'keine'|dim }}
        {%- endif %}
      </td>
    </tr>
  </table>

{%- endblock %}
