{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'user_group' %}
{% set page_title = 'Benutzergruppe erstellen' %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <div class="main-body-box">
    <form action="{{ url_for('.create') }}" method="post">
      {{ form_field(form.title, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.description, maxlength=200) }}

      {{ form_buttons(_('Create'), cancel_url=url_for('.index')) }}
    </form>
  </div>

{%- endblock %}
