{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'user_group' %}
{% set page_title = 'Benutzergruppen' %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ersteller</th>
        <th class="centered">Mitglieder</th>
      </tr>
    </thead>
    <tbody>
      {%- for group in groups|sort(attribute='title') %}
      <tr>
        <td>
          <strong>{{ group.title }}</strong>
          {%- if group.description is not none %}
          <div class="details">{{ group.description }}</div>
          {%- endif %}
        </td>
        <td>{{ render_user_link(group.creator) }}</td>
        <td class="centered">{{ group.member_count }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

  {%- if g.user.authenticated %}
  <div class="button-row">
    <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>Gruppe erstellen</span></a>
  </div>
  {%- endif %}

{%- endblock %}
