{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'user_group' %}
{% set page_title = 'Benutzergruppen' %}

{% block body %}

  <div class="block row row--space-between row--wrap">
    <div>
      <h1 class="title">{{ page_title }}</h1>
    </div>
    {%- if g.user.authenticated %}
    <div>
      <div class="button-row is-right-aligned">
        <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>Gruppe erstellen</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- if groups %}
  <table class="itemlist is-wide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Ersteller</th>
        <th class="centered">Mitglieder</th>
      </tr>
    </thead>
    <tbody>
      {%- for group in groups|sort(attribute='title') %}
      <tr>
        <td>
          <strong>{{ group.title }}</strong>
          {%- if group.description is not none %}
          <div class="details">{{ group.description }}</div>
          {%- endif %}
        </td>
        <td>{{ render_user_link(group.creator) }}</td>
        <td class="centered">{{ group.member_count }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>
  {%- else %}
  <div class="block dimmed">{{ _('No groups exist yet.') }}</div>
  {%- endif %}

{%- endblock %}
