{% extends 'layout/base.html' %}
{% set current_page = 'seating.view_area' %}
{% set title = 'Sitzplan - %s'|format(area.title) %}

{% block head %}
  {{ super() }}
    <link rel="stylesheet" media="screen" href="{{ url_for('.static', filename='style/seating.css') }}"/>
{% endblock head %}

{% block body %}

  <h1>{{ title }}</h1>

  <ol class="seats">
    {%- for seat in area.seats|sort(attribute='coords') -%}
    <li><a href="#" title="{{ '(%d, %d) / Kategorie: %s'|format(seat.coords.x, seat.coords.y, seat.category.title) }}"></a></li>
    {%- endfor %}
  </ol>

{%- endblock body %}
