{% extends 'layout/admin/base.html' %}
{% set current_page = 'board_admin' %}
{% set title = 'Board' %}

{% block body %}

  <h1>{{ title }}</h1>

  <p>Marke wählen:</p>
  <ol class="index fully-linked">
    {%- for brand, category_count in brands_with_category_counts|sort(attribute='0.title') %}
    <li>
      <a href="{{ url_for('.index_for_brand', brand_id=brand.id) }}">
        <strong>{{ brand.title }}</strong><br>
        {{ '%d %s'|format(category_count, 'Kategorie' if (category_count == 1) else 'Kategorien')|dim }}
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
