server {
    listen 81;
    listen [::]:81;
    root /var/www/html;
    server_name ${SERVER_NAME_ADMIN};
    include includes/byceps;
}

server {
    listen 82;
    listen [::]:82;
    root /var/www/html;
    server_name ${SERVER_NAME_SITE};
    include includes/byceps;
}
