{%- from 'macros/admin/user.html' import render_most_important_user_flag, render_user_avatar_and_admin_link %}

{%- if users %}
<table class="index index--v-centered index--wide">
  <thead>
    <tr>
      <th colspan="2">{{ _('Username') }}</th>
      <th>{{ _('Full name') }}</th>
      <th>{{ _('Created') }}</th>
    </tr>
  </thead>
  <tbody>
    {%- for user in users %}
    <tr>
      <td><strong>{{ render_user_avatar_and_admin_link(user, size=16) }}</strong></td>
      <td>{{ render_most_important_user_flag(user, show_label=False) }}</td>
      <td>{{ user.detail.full_name|fallback }}</td>
      <td>{{ user.created_at|datetimeformat }}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- else %}
<div class="dimmed-box centered">{{ _('none') }}</div>
{%- endif %}
