{%- from 'macros/admin/user.html' import render_most_important_user_flag, render_user_avatar_16_and_link %}
{%- from 'macros/datetime.html' import render_datetime %}

{%- if users %}
<table class="index wide">
  <thead>
    <tr>
      <th colspan="2">Benutzername</th>
      <th>Voller Name</th>
      <th>Erstellt</th>
    </tr>
  </thead>
  <tbody>
    {%- for user in users %}
    <tr>
      <td>{{ render_user_avatar_16_and_link(user) }}</td>
      <td>{{ render_most_important_user_flag(user, show_label=False) }}</td>
      <td>{{ user.detail.full_name|fallback }}</td>
      <td>{{ render_datetime(user.created_at|utc_to_local_tz) }}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- else %}
<div class="dimmed-box centered">keine</div>
{%- endif %}
