{%- from 'macros/admin/user.html' import render_most_important_user_flag %}
{%- from 'macros/user.html' import render_user_screen_name %}
{%- from 'macros/user_avatar.html' import render_user_avatar_96 %}

<style>
.user-head {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

.user-head .avatar {
  margin-right: 0.75rem;
}

.user-head .title {
  margin: 0;
  padding: 0;
}

.user-head .subtitle {
  font-size: 1.125rem; /* 18px / 16px */
  opacity: 0.7;
}

.user-head .flags {
  margin-top: 0.25rem;
}
</style>

  <div class="user-head">
    <div>{{ render_user_avatar_96(user) }}</div>
    <div>
      <h1 class="title">{{ render_user_screen_name(user) }}</h1>
      <div class="subtitle">{{ user.detail.full_name|fallback }}</div>
      <div class="flags">{{ render_most_important_user_flag(user) }}</div>
    </div>
  </div>
