{%- from 'macros/admin/user_badge.html' import render_user_badges_list %}
{%- from 'macros/icons.html' import render_icon %}

  {%- if has_current_user_permission(UserBadgePermission.award) %}
  <div class="button-row button-row--right">
    <a class="button" href="{{ url_for('user_badge_admin.award_form', user_id=user.id) }}">{{ render_icon('add') }} <span>Verleihen</span></a>
  </div>
  {%- endif %}

  {%- if badges_with_awarding_quantity %}
{{ render_user_badges_list(badges_with_awarding_quantity) }}
  {%- else %}
  {{ 'keine'|dim }}
  {%- endif %}
