{%- from 'macros/admin/shop/order.html' import render_order_payment_state %}
{%- from 'macros/admin.html' import render_extra_in_heading %}

<h2>{{ _('Orders') }} {{ render_extra_in_heading(orders|length) }}</h2>

<div class="box">
  {%- if orders %}
  <table class="index wide">
    <thead>
      <tr>
        <th>{{ _('Date') }}</th>
        <th>{{ _('Shop') }}</th>
        <th>{{ _('Order number') }}</th>
        <th>{{ _('Status') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for order in orders %}
      <tr>
        <td>{{ order.created_at|datetimeformat }}</td>
        <td>{{ shops_by_id[order.shop_id].title }}</td>
        <td><a href="{{ url_for('shop_order_admin.view', order_id=order.id) }}">{{ order.order_number }}</a></td>
        <td>{{ render_order_payment_state(order.payment_state) }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>
  {%- else %}
  {{ _('none')|dim }}
  {%- endif %}
</div>
