{%- from 'macros/admin/user_badge.html' import render_user_badges_list %}
{%- from 'macros/admin.html' import render_extra_in_heading %}
{%- from 'macros/icons.html' import render_icon %}

<div class="row row--space-between" style="margin-bottom: 0.6rem;">
  <div>

    <h2 style="margin: 0;">{{ _('Badges') }} {{ render_extra_in_heading(badges_with_awarding_quantity|length) }}</h2>

  </div>
  <div class="column--align-bottom">

    {%- if has_current_user_permission('user_badge.award') %}
    <div class="button-row button-row--compact button-row--right">
      <a class="button" href="{{ url_for('user_badge_admin.award_form', user_id=user.id) }}">{{ render_icon('add') }} <span>{{ _('Award badge') }}</span></a>
    </div>
    {%- endif %}

  </div>
</div>

<div class="box">
  {%- if badges_with_awarding_quantity %}
{{ render_user_badges_list(badges_with_awarding_quantity) }}
  {%- else %}
  {{ _('none')|dim }}
  {%- endif %}
</div>
