{%- from 'macros/icons.html' import render_icon %}

  {%- if not user.deleted and g.user.has_any_permission(UserPermission.administrate, UserPermission.set_password) %}
  <div style="float: right; margin-left: 40px;">
    <div class="dropdown">
      <button class="dropdown-toggle button"><span>Aktionen</span> {{ render_icon('chevron-down') }}</button>
      <ol class="dropdown-menu dropdown-menu--right">
        {%- if g.user.has_permission(UserPermission.set_password) %}
        <li><a class="dropdown-item" href="{{ url_for('.set_password', user_id=user.id) }}">{{ render_icon('password') }} Passwort ändern</a></li>
        {%- endif %}
        {%- if g.user.has_permission(UserPermission.administrate) %}

          {%- if not user.initialized %}
        <li><a class="dropdown-item" data-action="user-initialize" href="{{ url_for('.initialize_account', user_id=user.id) }}">{{ render_icon('enabled') }} Initialisieren</a></li>
          {%- endif %}

          {%- if not user.suspended %}
        <li><a class="dropdown-item" href="{{ url_for('.suspend_account', user_id=user.id) }}">{{ render_icon('lock') }} Sperren</a></li>
          {%- else %}
        <li><a class="dropdown-item" href="{{ url_for('.unsuspend_account', user_id=user.id) }}">{{ render_icon('unlock') }} Entsperren</a></li>
          {%- endif %}

        <li><a class="dropdown-item" href="{{ url_for('.change_screen_name_form', user_id=user.id) }}">{{ render_icon('edit') }} Umbenennen</a></li>
        <li><a class="dropdown-item" href="{{ url_for('.change_email_address_form', user_id=user.id) }}">{{ render_icon('edit') }} E-Mail-Adresse ändern</a></li>
        <li><a class="dropdown-item" href="{{ url_for('.delete_account_form', user_id=user.id) }}">{{ render_icon('delete') }} Löschen</a></li>

        {%- endif %}
      </ol>
    </div>
  </div>
  {%- endif %}
