{%- from 'macros/datetime.html' import render_date %}

<h2>{{ _('Personal Data') }}</h2>

<div class="box">
  {%- if user.detail -%}
  <table class="index">
    <tr>
      <th>{{ _('Name') }}</th>
      <td>{{ user.detail.full_name|fallback }}</td>
    </tr>
    <tr>
      <th>{{ _('Date of birth') }}</th>
      <td>
        {%- if user.detail.date_of_birth -%}
          {{ render_date(user.detail.date_of_birth, smart=False) }}
        {%- else -%}
          {{ _('not given')|dim }}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <th>{{ _('Address') }}</th>
      <td>
        {{- user.detail.street|fallback }}<br>
        {%- if user.detail.zip_code %}{{ user.detail.zip_code }}{% endif %}
        {{ user.detail.city|fallback -}}
        <br>
        {{- user.detail.country|fallback -}}
      </td>
    </tr>
    <tr>
      <th>{{ _('Phone number') }}</th>
      <td>{{ user.detail.phone_number|fallback }}</td>
    </tr>
  </table>
  {%- else %}
  {{ _('none')|dim }}
  {%- endif -%}
</div>
