{% extends 'layouts/admin/user.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_tab = 'profile' %}
{% set current_tab_user_id = user.id %}
{% set title = 'Benutzerkonto \'%s\' umbenennen'|format(user.screen_name) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Benutzer</a></li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <form action="{{ url_for('.change_screen_name', user_id=user.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.screen_name, maxlength=24, required='required', autofocus='autofocus') }}
      {{ form_field(form.reason, maxlength=1000, required='required', note='Die Begründung wird als <em>interner</em> Vermerk gespeichert.') }}
    {% endcall %}

    {{ form_buttons('Umbenennen', cancel_url=url_for('.view', user_id=user.id)) }}
  </form>

{%- endblock %}
