{% extends 'layout/admin/user.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_tab = 'profile' %}
{% set current_tab_user_id = user.id %}
{% set title = 'E-Mail-Adresse von Benutzer \'%s\' ändern'|format(user.screen_name) %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.change_email_address', user_id=user.id) }}" method="post">
    {{ form_field(form.email_address, maxlength=120, autofocus='autofocus') }}
    {{ form_field(form.reason, maxlength=1000, note='Die Begründung wird als <em>interner</em> Vermerk gespeichert.') }}

    {{ form_buttons(_('Change'), cancel_url=url_for('.view', user_id=user.id)) }}
  </form>

{%- endblock %}
