{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_simple %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user' %}
{% set title = 'Benutzerkonto erstellen' %}

{% block before_body %}
{{ render_backlink(url_for('.index'), _('Users')) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.create_account') }}" method="post" class="disable-submit-button-on-submit">
    {{ form_field_simple(form.screen_name, maxlength=24, autofocus='autofocus') }}
    <div class="row">
      <div class="column-auto column-auto--grow">
        {{ form_field_simple(form.first_names, maxlength=40) }}
      </div>
      <div class="column-auto column-auto--grow">
        {{ form_field_simple(form.last_name, maxlength=80) }}
      </div>
    </div>
    {{ form_field_simple(form.email_address, type='email', maxlength=120) }}
    {{ form_field_simple(form.password, maxlength=40) }}
    {{ form_field_simple(form.site_id, note='Von dieser Site aus wird die E-Mail zur Aktivierung des Accounts versendet.') }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
