{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'user' %}
{% set page_title = _('Create user account') %}

{% block before_body %}
{{ render_backlink(url_for('.index'), _('Users')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.create_account') }}" method="post" class="disable-submit-button-on-submit">
    <div class="box">

      {{ form_field(form.screen_name, maxlength=24, autofocus='autofocus') }}

      <div class="row">
        <div class="column--grow">
          {{ form_field(form.first_name, maxlength=40) }}
        </div>
        <div class="column--grow">
          {{ form_field(form.last_name, maxlength=80) }}
        </div>
      </div>

      {{ form_field(form.email_address, type='email', maxlength=120) }}
      {{ form_field(form.password, maxlength=40) }}
      {{ form_field(form.site_id, caption=_('The email to activate the account will use this site as its sender.')) }}

    </div>

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
