{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_checkbox, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user' %}
{% set title = 'Benutzerkonto erstellen' %}

{% block before_body %}
{{ render_backlink(url_for('.index'), _('Users')) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.create_account') }}" method="post" class="disable-submit-button-on-submit">
    {%- call form_fieldset() %}
      {{ form_field(form.screen_name, maxlength=24, autofocus='autofocus') }}
      {{ form_field(form.first_names, maxlength=40) }}
      {{ form_field(form.last_name, maxlength=80) }}
      {{ form_field(form.email_address, type='email', maxlength=120) }}
      {{ form_field(form.password, maxlength=40) }}
      {{ form_field(form.site_id, note='<p>Von dieser Site aus wird die E-Mail zur Aktivierung des Accounts versendet.</p>') }}
    {%- endcall %}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
