{% extends 'layout/admin/user.html' %}
{% from 'macros/forms.html' import form_buttons, form_field_simple %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification %}
{% set current_tab = 'profile' %}
{% set current_tab_user_id = user.id %}
{% set title = 'Benutzerkonto \'%s\' löschen'|format(user.screen_name) %}

{% block body %}

  <h1>{{ render_icon('delete') }} {{ title }}</h1>

  <div style="margin-bottom: var(--inner-gutter);">
    {{ render_notification('Achtung: Das Löschen des Benutzerkontos geschieht unwiderruflich!', category='danger', icon='warning') }}
  </div>

  <form action="{{ url_for('.delete_account', user_id=user.id) }}" method="post">
    {{ form_field_simple(form.reason, maxlength=1000, note='Die Begründung wird als <em>interner</em> Vermerk gespeichert.', autofocus='autofocus') }}
    {{ form_field_simple(form.verification, note='Bitte zur Bestätigung "löschen" eingeben.') }}

    {{ form_buttons(_('Delete'), icon='delete', color='danger', cancel_url=url_for('.view', user_id=user.id)) }}
  </form>

{%- endblock %}
