{% extends 'layout/admin/user.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/misc.html' import render_notification %}
{% set current_tab = 'profile' %}
{% set current_tab_user_id = user.id %}
{% set page_title = _('Delete user account') %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <div class="mb">
    {{ render_notification(_('Warning: Deleting the user account is permanent!'), category='danger', icon='warning') }}
  </div>

  <form action="{{ url_for('.delete_account', user_id=user.id) }}" method="post">
    {{ form_field(form.reason, maxlength=1000, note=_('The reason will be saved as <em>internal</em> remark.')|safe, autofocus='autofocus') }}
    {{ form_field(form.verification, note=_('Please enter "%(verification_text)s" to confirm deletion.', verification_text=verification_text)) }}

    {{ form_buttons(_('Delete'), icon='delete', color='danger') }}
  </form>

{%- endblock %}
