{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/user.html' import render_user_flag_deleted, render_user_flag_suspended, render_user_flag_uninitialized, render_user_state_filter %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% set current_page = 'user_admin' %}
{% set title = 'Benutzer' %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ title }}</h1>
    </div>
    {%- if g.current_user.has_permission(UserPermission.create) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_account_form') }}">{{ render_icon('add') }} <span>Benutzer erstellen</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">
    <div class="row row--equal-sized-centered-columns row--space-around row--wrap bigstats">
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index') }}">
          {{- render_bigstats_item(total_overall|separate_thousands, '&sum; gesamt'|safe) -}}
        </a>
      </div>
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index', only='active') }}">
          {{- render_bigstats_item(total_active|separate_thousands, render_tag('aktiv', class='color-success', icon='enabled')) -}}
        </a>
      </div>
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index', only='uninitialized') }}">
          {{- render_bigstats_item(total_uninitialized|separate_thousands, render_user_flag_uninitialized()) -}}
        </a>
      </div>
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index', only='suspended') }}">
          {{- render_bigstats_item(total_suspended|separate_thousands, render_user_flag_suspended()) -}}
        </a>
      </div>
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index', only='deleted') }}">
          {{- render_bigstats_item(total_deleted|separate_thousands, render_user_flag_deleted()) -}}
        </a>
      </div>
    </div>
  </div>

  <div class="box" style="margin-bottom: 1rem;">

  <div class="row row--space-between row--wrap filters">
    <div class="column-auto">

      <form action="{{ url_for('.index') }}" class="single-row unobtrusive">
        <input type="search" name="search_term" placeholder="Benutzer-, Vor-, Nachname, E-Mail-Adresse" title="Benutzer-, Vor-, Nachname, E-Mail-Adresse"{%- if search_term %} value="{{ search_term }}"{% endif %}>
        <button type="submit" class="button" title="Suchen">{{ render_icon('search') }}</button>
        <a href="{{ url_for('.index') }}" class="button{% if not search_term %} dimmed{% endif %}" title="Einschränkung auf Suchbegriff aufheben">{{ render_icon('remove') }}</a>
      </form>

    </div>
    <div class="column-auto">

      <div class="filter">
        <span>{{ render_icon('filter') }} Einschränkung:</span>
        <div class="dropdown left">
          <button class="dropdown-toggle button button--clear">{{ render_user_state_filter(user_state_filter) }} {{ render_icon('caret-down') }}</button>
          <ol>
            <li><a href="{{ url_for('.index') }}">{{ render_user_state_filter(UserStateFilter.none) }}</a></li>
            <li><a href="{{ url_for('.index', only='active') }}">{{ render_user_state_filter(UserStateFilter.active) }}</a></li>
            <li><a href="{{ url_for('.index', only='uninitialized') }}">{{ render_user_state_filter(UserStateFilter.uninitialized) }}</a></li>
            <li><a href="{{ url_for('.index', only='suspended') }}">{{ render_user_state_filter(UserStateFilter.suspended) }}</a></li>
            <li><a href="{{ url_for('.index', only='deleted') }}">{{ render_user_state_filter(UserStateFilter.deleted) }}</a></li>
          </ol>
        </div>
      </div>

    </div>
  </div>

  {%- with users = users.items %}
    {%- include 'admin/user/_user_list.html' %}
  {%- endwith %}

{{ render_pagination_nav(users, '.index', {
    'only': only if only else None,
    'search_term': search_term if search_term else None,
}) }}

  <small>
    <p>{{ users.total }} {{ 'Ergebnis' if (users.total == 1) else 'Ergebnisse' }}</p>
  </small>

  </div>

{%- endblock %}
