{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/user.html' import render_user_flag_deleted, render_user_flag_suspended, render_user_flag_uninitialized, render_user_state_filter %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% set current_page = 'user_admin' %}
{% set page_title = _('Users') %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ page_title }}</h1>
    </div>
    {%- if has_current_user_permission('user.create') %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_account_form') }}">{{ render_icon('add') }} <span>{{ _('Create account') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box" style="margin-bottom: var(--inner-gutter);">
    <div class="row row--equal-sized-centered-columns row--space-around row--wrap bigstats">
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index') }}">
          {{- render_bigstats_item(format_number(total_overall), '&sum; '|safe ~ _('total')) -}}
        </a>
      </div>
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index', only='active') }}">
          {{- render_bigstats_item(format_number(total_active), render_tag(_('active'), class='color-success', icon='enabled')) -}}
        </a>
      </div>
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index', only='uninitialized') }}">
          {{- render_bigstats_item(format_number(total_uninitialized), render_user_flag_uninitialized()) -}}
        </a>
      </div>
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index', only='suspended') }}">
          {{- render_bigstats_item(format_number(total_suspended), render_user_flag_suspended()) -}}
        </a>
      </div>
      <div class="column-auto">
        <a class="button button--clear" href="{{ url_for('.index', only='deleted') }}">
          {{- render_bigstats_item(format_number(total_deleted), render_user_flag_deleted()) -}}
        </a>
      </div>
    </div>
  </div>

  <div class="row row--space-between row--wrap filters">
    <div class="column-auto">

      <form action="{{ url_for('.index') }}" class="single-row">
        <input type="search" name="search_term" placeholder="{{ _('user name, first name, last name, email address') }}" title="{{ _('user name, first name, last name, email address') }}"{%- if search_term %} value="{{ search_term }}"{% endif %}>
        <button type="submit" class="button" title="{{ _('Search') }}">{{ render_icon('search') }}</button>
        <a href="{{ url_for('.index') }}" class="button{% if not search_term %} dimmed{% endif %}" title="{{ _('Remove search term constraint') }}">{{ render_icon('remove') }}</a>
      </form>

    </div>
    <div class="column-auto">

      <div class="filter">
        <span>{{ render_icon('filter') }} {{ _('Filter') }}:</span>
        <div class="dropdown">
          <button class="dropdown-toggle button button--clear">{{ render_user_state_filter(user_state_filter) }} {{ render_icon('chevron-down') }}</button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.index') }}">{{ render_user_state_filter(UserStateFilter.none) }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.index', only='active') }}">{{ render_user_state_filter(UserStateFilter.active) }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.index', only='uninitialized') }}">{{ render_user_state_filter(UserStateFilter.uninitialized) }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.index', only='suspended') }}">{{ render_user_state_filter(UserStateFilter.suspended) }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.index', only='deleted') }}">{{ render_user_state_filter(UserStateFilter.deleted) }}</a></li>
          </ol>
        </div>
      </div>

    </div>
  </div>

  <div class="box">

    {%- with users = users.items %}
      {%- include 'admin/user/_user_list.html' %}
    {%- endwith %}

    <div style="margin-top: var(--inner-gutter);">
    {{ render_pagination_nav(users, '.index', {
        'only': only if only else None,
        'search_term': search_term if search_term else None,
    }) }}
    </div>

    <small>
      <p>{{ users.total }} {{ ngettext('result', 'results', users.total) }}</p>
    </small>

  </div>

{%- endblock %}
