{% extends 'layout/admin/user.html' %}
{% from 'macros/forms.html' import form_buttons, form_field_simple %}
{% from 'macros/icons.html' import render_icon %}
{% set current_tab = 'profile' %}
{% set current_tab_user_id = user.id %}
{% set title = 'Benutzerkonto \'%s\' sperren'|format(user.screen_name) %}

{% block body %}

  <h1>{{ render_icon('lock') }} {{ title }}</h1>

  <form action="{{ url_for('.suspend_account', user_id=user.id) }}" method="post">
    {{ form_field_simple(form.reason, maxlength=1000, note='Die Begründung wird als <em>interner</em> Vermerk gespeichert.', autofocus='autofocus') }}

    {{ form_buttons(_('Lock'), icon='lock', cancel_url=url_for('.view', user_id=user.id)) }}
  </form>

{%- endblock %}
