{% extends 'layouts/admin/user.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/order.html' import render_order_payment_state %}
{% from 'macros/admin/user_badge.html' import render_user_badges_list %}
{% from 'macros/misc.html' import render_tag %}
{% set current_tab = 'profile' %}
{% set current_tab_user_id = user.id %}
{% set title = 'Benutzer - %s'|format(user.screen_name) %}

{% block head %}
<style>
.radio-tab-component {
  margin-top: 2rem;
}

.radio-tab-component > input[type='radio'] {
  position: absolute;
  left: -10000px;
}

#tabs-rb-account:checked ~ .radio-tabs #tabs-tab-account,
#tabs-rb-personal:checked ~ .radio-tabs #tabs-tab-personal,
#tabs-rb-orders:checked ~ .radio-tabs #tabs-tab-orders,
#tabs-rb-tickets:checked ~ .radio-tabs #tabs-tab-tickets,
#tabs-rb-badges:checked ~ .radio-tabs #tabs-tab-badges,
#tabs-rb-attended-parties:checked ~ .radio-tabs #tabs-tab-attended-parties {
  /* copied from `.tabs-tab--current` */
  border-color: #333333;
  color: currentColor;
  cursor: default;
}

.radio-panel {
  display: none;
}

#tabs-rb-account:checked ~ .radio-panels #tabs-panel-account,
#tabs-rb-personal:checked ~ .radio-panels #tabs-panel-personal,
#tabs-rb-orders:checked ~ .radio-panels #tabs-panel-orders,
#tabs-rb-tickets:checked ~ .radio-panels #tabs-panel-tickets,
#tabs-rb-badges:checked ~ .radio-panels #tabs-panel-badges,
#tabs-rb-attended-parties:checked ~ .radio-panels #tabs-panel-attended-parties {
  display: block;
}
</style>
{% endblock %}

{% block body %}

{%- include 'admin/user/_view_head.html' %}

  <div class="radio-tab-component">

    <input type="radio" name="user-sections-state" id="tabs-rb-account" checked>
    <input type="radio" name="user-sections-state" id="tabs-rb-personal">
    <input type="radio" name="user-sections-state" id="tabs-rb-orders">
    <input type="radio" name="user-sections-state" id="tabs-rb-tickets">
    <input type="radio" name="user-sections-state" id="tabs-rb-badges">
    <input type="radio" name="user-sections-state" id="tabs-rb-attended-parties">

    <ol class="radio-tabs tabs">
      <li><label class="radio-tab tabs-tab" for="tabs-rb-account" id="tabs-tab-account">Benutzerkonto</label></li>
      <li><label class="radio-tab tabs-tab" for="tabs-rb-personal" id="tabs-tab-personal">Persönliche Daten</label></li>
      <li><label class="radio-tab tabs-tab" for="tabs-rb-orders" id="tabs-tab-orders">Bestellungen</label></li>
      <li><label class="radio-tab tabs-tab" for="tabs-rb-tickets" id="tabs-tab-tickets">Tickets</label></li>
      <li><label class="radio-tab tabs-tab" for="tabs-rb-badges" id="tabs-tab-badges">Abzeichen</label></li>
      <li><label class="radio-tab tabs-tab" for="tabs-rb-attended-parties" id="tabs-tab-attended-parties">Besuchte Partys</label></li>
    </ol>

    <div class="radio-panels">

      <div class="radio-panel" id="tabs-panel-account">
        <h2>Benutzerkonto</h2>
{%- include 'admin/user/_view_account.html' %}
      </div>

      <div class="radio-panel" id="tabs-panel-personal">
        <h2>Persönliche Daten</h2>
{%- include 'admin/user/_view_personal.html' %}
      </div>

      <div class="radio-panel" id="tabs-panel-orders">
        <h2>Bestellungen {{ render_extra_in_heading(orders|length) }}</h2>
{%- include 'admin/user/_view_orders.html' %}
      </div>

      <div class="radio-panel" id="tabs-panel-tickets">
        <h2>Tickets</h2>
{%- include 'admin/user/_view_tickets.html' %}
      </div>

      <div class="radio-panel" id="tabs-panel-badges">
        <h2>Abzeichen {{ render_extra_in_heading(badges_with_awarding_quantity|length) }}</h2>
        {%- if badges_with_awarding_quantity %}
{{ render_user_badges_list(badges_with_awarding_quantity) }}
        {%- else %}
        {{ 'keine'|dim }}
        {%- endif %}
      </div>

      <div class="radio-panel" id="tabs-panel-attended-parties">
        <h2>Besuchte Partys {{ render_extra_in_heading(attended_parties|length) }}</h2>
        {%- if attended_parties %}
        <table class="index">
          {%- for party in attended_parties %}
          <tr>
            <td>{{ party.title }}</td>
          </tr>
          {%- endfor %}
        </table>
        {%- else %}
        {{ 'keine'|dim }}
        {%- endif %}
      </div>

    </div>

  </div>

{%- endblock %}

{% block scripts %}
<script>
  enableCopyToClipboard('user-id-copy-trigger');

  onDomReady(function() {
    confirmed_post_on_click_then_reload('[data-action="user-enable"]', 'Benutzerkonto aktivieren?');
    confirmed_delete_on_click_then_reload('[data-action="user-disable"]', 'Benutzerkonto deaktivieren?');
  });
</script>
{% endblock %}
