{% extends ('layout/base_admin.html' if g.site_mode.is_admin() else 'layout/base.html') %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user' %}
{% set title = 'Avatar hochladen' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.avatar_image_update') }}" method="post" enctype="multipart/form-data">
    {%- call form_fieldset() %}
      {{ form_field(form.image, maxlength=500000, accept='image/*', required='required') }}
    {%- endcall %}

    {{ form_buttons('%s Bild hochladen'|format(render_icon('upload'))|safe) }}
  </form>

{%- endblock body %}
