{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/user.html' import render_user_avatar %}
{% set current_page = 'user.view' %}
{% set title = 'Benutzer - %s'|format(user.screen_name) %}

{% block body %}

  <h1>{{ title }}</h1>

  <table>
    <tr>
      <th>Benutzername</th>
      <td>{{ user.screen_name }}{% if user.is_orga_for_current_brand %} [<strong>Orga</strong>]{% endif%}</td>
    </tr>
    {%- set orga_team_membership = user.orga_team_membership_for_current_party %}
    {%- if orga_team_membership %}
    <tr>
      <th>Orga-Team</th>
      <td>{{ orga_team_membership.orga_team.title}}{% if orga_team_membership.duties %} ({{ orga_team_membership.duties }}){% endif %}</td>
    </tr>
    {%- endif %}
  </table>

  {%- if user.has_avatar_image %}
  <h2>Avatarbild</h2>
  <div>{{ render_user_avatar(user) }}</div>
  {%- endif %}

{%- endblock body %}
