{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% set current_page = 'user.view' %}
{% set title = 'Benutzer - %s'|format(user.screen_name) %}

{% block body %}

  <h1>{{ title }}</h1>

  <table>
    <tr>
      <th>Benutzername</th>
      <td>{{ user.screen_name }}{% if user.is_orga %} [<strong>Orga</strong>]{% endif%}</td>
    </tr>
    {%- if user.orga_team %}
    <tr>
      <th>Orga-Team</th>
      <td>{{ user.orga_team.title}}</td>
    </tr>
    {%- endif %}
  </table>

  {%- if user.has_avatar_image %}
  <h2>Avatarbild</h2>
  <div style="max-height: 640px; max-width: 640px; overflow: auto;"><img src="{{ url_for('.avatar_image', filename=user.avatar_image_filename) }}" alt="Avatarbild"/></div>
  {%- endif %}

  {%- if g.current_user == user %}
  <ol class="actions">
    <li><a href="{{ url_for('.avatar_image_form', id=g.current_user.id) }}"><span class="icon-edit"></span> Avatar hochladen</a></li>
  </ol>
  {%- endif %}

{%- endblock body %}
