{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_avatar %}
{% set current_page = 'user.view' %}
{% set title = 'Benutzer - %s'|format(user.screen_name) %}

{% block body %}

  <h1>{{ render_icon('user') }} {{ user.screen_name }}</h1>

  <table class="index">
    <tr>
      <th>Benutzername</th>
      <td>{{ user.screen_name }}{% if user.is_orga_for_current_brand %} [<strong>Orga</strong>]{% endif%}</td>
    </tr>
    {%- set orga_team_membership = user.orga_team_membership_for_current_party %}
    {%- if orga_team_membership %}
    <tr>
      <th>Orga-Team</th>
      <td>{{ orga_team_membership.orga_team.title}}{% if orga_team_membership.duties %} ({{ orga_team_membership.duties }}){% endif %}</td>
    </tr>
    {%- endif %}
    {%- if user.has_avatar_image %}
    <tr>
      <th>Avatarbild</th>
      <td>
        <div>{{ render_user_avatar(user) }}</div>
      </td>
    </tr>
    {%- endif %}
  </table>

{%- endblock body %}
