{% extends 'layout/base.html' %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'orga' %}
{% set title = 'Orgas' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {%- for orga in orgas|sort(attribute='screen_name') %}
      <tr>
        <td><strong>{{ render_user_link(orga) }}</strong></td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock body %}
