{% extends 'layout/base.html' %}
{% from 'macros/user.html' import render_user_avatar %}
{% set current_page = 'orga' %}
{% set title = 'Orgas' %}

{% block head %}
  {{ super() }}
  <style>
    .orga-overview {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .orga-overview li {
      font-size: 0.8rem;
      margin: 0 0 2rem 0;
      padding: 0;
      text-align: center;
      width: 200px;
    }
    .orga-overview li p {
      margin: 0.5rem 0 0 0;
      padding: 0;
    }
  </style>
{%- endblock head %}

{% block body %}

  <h1>{{ title }}</h1>

  <ol class="orga-overview">
    {%- for user in orgas|sort(attribute='screen_name') %}
    <li>
      <div>
        {{ render_user_avatar(user) }}
      </div>
      <p>
        {{ user.detail.first_names }}
        &quot;{{ user.screen_name }}&quot;
        {{ user.detail.last_name }}
        {%- set orga_team_membership = user.orga_team_membership_for_current_party %}
        {%- if orga_team_membership %}
        <br/>
        Team {{ orga_team_membership.orga_team.title}}
        {%- if orga_team_membership.duties %} ({{ orga_team_membership.duties }}){% endif %}
        {%- endif %}
      </p>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
