{% extends 'layout/base_auto.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_checkbox, form_fieldset %}
{% set current_page = 'user.create' %}
{% set title = 'Benutzerkonto anlegen' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.create') }}" method="post" class="disable-submit-button-on-submit">
    {%- call form_fieldset() %}
      {{ form_field(form.screen_name, maxlength=24, required='required', note='öffentlich sichtbar', autofocus='autofocus') }}
      {%- if form.first_names is defined %}
      {{ form_field(form.first_names, maxlength=40) }}
      {%- endif %}
      {%- if form.last_name is defined %}
      {{ form_field(form.last_name, maxlength=80) }}
      {%- endif %}
      {{ form_field(form.email_address, type='email', maxlength=120, required='required') }}
      {{ form_field(form.password, maxlength=40, required='required') }}
      {%- if form.consent_to_terms is defined %}
      {{ form_field(form.terms_version_id, show_label=False, required='required') }}
      {{ form_field_checkbox(form.consent_to_terms,
        'Ich akzeptiere die <a href="%s" target="_blank">Allgemeinen Geschäftsbedingungen</a>.'|format(url_for('terms.view_current'))|safe
      ) }}
      {%- endif %}
      {%- for subject in required_consent_subjects %}
        {%- with field = form.get_field_for_consent_subject_id(subject.id) %}
      {{ form_field_checkbox(field, subject.checkbox_label.replace('{url}', subject.checkbox_link_target)|safe) }}
        {%- endwith %}
      {%- endfor %}
      {%- if form.subscribe_to_newsletter is defined %}
      {{ form_field_checkbox(form.subscribe_to_newsletter, 'Ich möchte den Newsletter erhalten.') }}
      {%- endif %}
      <div style="display: none;">{{ form_field_checkbox(form.is_bot, 'Ich bin ein Bot.') }}</div>
    {%- endcall %}

    {{ form_buttons('Anlegen') }}
  </form>

{%- endblock %}
