{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_with_fallback %}
{% from 'macros/shop_admin.html' import render_article_link, render_article_temporal_availability %}
{% from 'macros/shop_admin.html' import render_main_tabs with context %}
{% set current_page = 'shop_admin.articles' %}
{% set current_page_party = article.party %}
{% set title = 'Artikel ansehen' %}

{% block head %}
    <style>
      table.attachments td {
        border: none !important;
        text-align: right;
      }
    </style>
    <script>
      $(function() {
        confirmed_delete_on_click('a.attachment-remove', 'Artikelanhang entfernen?');
      });
    </script>
{%- endblock %}

{% block before_body %}
{{ render_main_tabs(current_page, article.party) }}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.article_index') }}">Artikel</a></li>
      <li><a href="{{ url_for('.article_index_for_party', party_id=article.party.id) }}">{{ article.party.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('view') }} {{ title }}</h1>

  <table class="index">
    <tr>
      <th>Artikelnummer</th>
      <td>{{ article.item_number }}</td>
    </tr>
    <tr>
      <th>Beschreibung</th>
      <td>{{ article.description }}</td>
    </tr>
    <tr>
      <th>Stückpreis</th>
      <td>{{ article.price|format_euro_amount }}</td>
    </tr>
    <tr>
      <th>Steuersatz</th>
      <td>{{ article.tax_rate_as_percentage }}&thinsp;%</td>
    </tr>
    <tr>
      <th>Zeitraum</th>
      <td>{{ render_article_temporal_availability(article) }}</td>
    </tr>
    <tr>
      <th>Anzahl verfügbar</th>
      <td>{{ article.quantity }}</td>
    </tr>
    <tr>
      <th>Anzahl bestellt</th>
      <td>{{ totals[PaymentState.open] }}</td>
    </tr>
    <tr>
      <th>Anzahl bezahlt</th>
      <td>{{ totals[PaymentState.paid] }}</td>
    </tr>
    <tr>
      <th>Anzahl storniert</th>
      <td>{{ totals[PaymentState.canceled] }}</td>
    </tr>
    <tr>
      <th>Maximale Anzahl<br/>pro Bestellung</th>
      <td>{{ render_with_fallback(article.max_quantity_per_order) }}</td>
    </tr>
    <tr>
      <th>Nur indirekt<br/>bestellbar</th>
      <td>{{ 'ja' if article.not_directly_orderable else 'nein' }}</td>
    </tr>
    <tr>
      <th>Muss separat<br/>bestellt werden</th>
      <td>{{ 'ja' if article.requires_separate_order else 'nein' }}</td>
    </tr>
    <tr>
      <th>Angehängt an Artikel</th>
      <td>
        {%- if article.articles_attached_to %}
        <ol>
        {%- for attached_article in article.articles_attached_to|sort(attribute='attached_to_article.item_number') %}
          <li>{{ render_article_link(attached_article.attached_to_article) }} ({{ attached_article.quantity }} Stück)</li>
        {%- endfor %}
        </ol>
        {%- else %}
        {{ 'keine'|dim }}
        {%- endif %}
      </td>
    </tr>
    <tr>
      <th>Angehängte Artikel</th>
      <td>
        {%- if article.attached_articles %}
        <table class="attachments">
        {%- for attached_article in article.attached_articles|sort(attribute='article.item_number') %}
          <tr>
            <td>{{ attached_article.quantity }} &times; {{ render_article_link(attached_article.article) }}</td>
            <td><a href="{{ url_for('.article_attachment_remove', id=attached_article.id) }}" class="action inline attachment-remove" title="Artikelanhang entfernen">{{ render_icon('remove') }}</a></td>
          </tr>
        {%- endfor %}
        </table>
        {%- else %}
        {{ 'keine'|dim }}
        {%- endif %}
      </td>
    </tr>
  </table>

  <ol class="actions" style="margin-top: 2rem;">
    {%- if g.current_user.has_permission(ShopArticlePermission.update) %}
    <li><a href="{{ url_for('.article_update_form', id=article.id) }}">{{ render_icon('edit') }} Bearbeiten</a></li>
    <li><a href="{{ url_for('.article_attachment_create_form', article_id=article.id) }}">{{ render_icon('attached') }} Artikel anhängen</a></li>
    {%- endif %}
    <li><a href="{{ url_for('.article_view_ordered', id=article.id) }}">{{ render_icon('users') }} Käufer auflisten</a></li>
  </ol>

{%- endblock %}
