{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/shop_admin.html' import render_article_link %}
{% from 'macros/shop_admin.html' import render_main_tabs with context %}
{% set current_page = 'shop_admin.articles' %}
{% set current_page_party = article.party %}
{% set title = 'Artikel anhängen' %}

{% block before_body %}
{{ render_main_tabs(current_page, article.party) }}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.article_index') }}">Artikel</a></li>
      <li><a href="{{ url_for('.article_index_for_party', party_id=article.party.id) }}">{{ article.party.title }}</a></li>
      <li>{{ render_article_link(article) }}</li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.article_attachment_create', article_id=article.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.article_to_attach_id, required='required', autofocus='autofocus') }}
      {{ form_field(form.quantity, type='number', min=1, max=999, style='width: 4em;', required='required') }}
    {% endcall %}

    {{ form_buttons('Artikel anhängen', cancel_url=url_for('.article_view', id=article.id)) }}
  </form>

{%- endblock %}
