{% extends 'layout/admin/base.html' %}
{% from 'macros/datetime.html' import render_date, render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_with_fallback %}
{% from 'macros/shop_admin.html' import render_article_link, render_order_payment_method, render_order_payment_state %}
{% from 'macros/shop_admin.html' import render_main_tabs with context %}
{% from 'macros/user_admin.html' import render_user_avatar_tiny_and_link %}
{% set current_page = 'shop_admin.orders' %}
{% set current_page_party = order.party %}
{% set title = 'Bestellung ' ~ order.order_number %}

{% block before_body %}
{{ render_main_tabs(current_page, order.party) }}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Bestellungen</li>
      <li><a href="{{ url_for('.order_index_for_party', party_id=order.party.id) }}">{{ order.party.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <table class="index">
    <tr>
      <th>Zeitpunkt</th>
      <td>{{ render_datetime(order.created_at) }}</td>
    </tr>
    <tr>
      <th>Zahlungsart</th>
      <td>{{ render_order_payment_method(order.payment_method) }}</td>
    </tr>
    <tr>
      <th>Bezahlstatus</th>
      <td>
        {{ render_order_payment_state(order.payment_state) }}
        {%- if order.payment_state != PaymentState.canceled %}
        <div class="dropdown">
          <button class="dropdown-toggle">{{ render_icon('caret-down') }}</button>
          <ol>
            {%- if order.payment_state == PaymentState.open %}
            <li><a href="{{ url_for('.order_mark_as_paid_form', order_id=order.id) }}">{{ render_icon('success') }} als bezahlt markieren</a></li>
            {%- endif %}
            <li><a href="{{ url_for('.order_cancel_form', order_id=order.id) }}">{{ render_icon('disabled') }} stornieren</a></li>
          </ol>
        </div>
        {%- endif %}
      </td>
    </tr>
    {%- if order.payment_state == PaymentState.canceled %}
    <tr>
      <th>Begründung für<br>Stornierung</th>
      <td>{{ render_with_fallback(order.cancelation_reason) }}</td>
    </tr>
    {%- endif %}
  </table>

  <h2>Aktivität</h2>
  <ol class="activity-stream">
    {%- for update in updates %}
    <li>
      <table class="activity-stream-item">
        <tr>
          <td><span class="icon-container">{{ render_icon('payment') }}</span></td>
          <td>
            <span class="user-link">{{ render_user_avatar_tiny_and_link(update.created_by) }}</span> hat den Bezahlstatus geändert:
            {{ render_order_payment_state(update.payment_state_from) }} → {{ render_order_payment_state(update.payment_state_to) }}
          </td>
          <td class="timestamp">{{ render_datetime(update.created_at) }}</td>
        </tr>
      </table>
    </li>
    {%- endfor %}
    <li>
      <table class="activity-stream-item">
        <tr>
          <td><span class="icon-container">{{ render_icon('add') }}</span></td>
          <td><span class="user-link">{{ render_user_avatar_tiny_and_link(order.placed_by) }}</span> hat die Bestellung <strong>{{ order.order_number }}</strong> aufgegeben.</td>
          <td class="timestamp">{{ render_datetime(order.created_at) }}</td>
        </tr>
      </table>
    </li>
  </ol>

  <h2>Auftraggeber/in</h2>
  <table class="index">
    <tr>
      <th>Benutzer</th>
      <td>{{ render_user_avatar_tiny_and_link(order.placed_by) }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ order.first_names }} {{ order.last_name }}</td>
    </tr>
    <tr>
      <th>Anschrift</th>
      <td>{{ order.street }}, {{ order.zip_code }} {{ order.city }}, {{ order.country }}</td>
    </tr>
    <tr>
      <th>E-Mail-Adresse</th>
      <td>{{ order.placed_by.email_address }}</td>
    </tr>
    <tr>
      <th>Geburtsdatum</th>
      <td>{{ render_date(order.date_of_birth, smart=False) }}</td>
    </tr>
  </table>

  <h2>Artikel</h2>
  <table class="index" style="margin: 0 auto;">
    <thead>
      <tr>
        <th>Anzahl</th>
        <th>Artikelnr.</th>
        <th>Beschreibung</th>
        <th>Stückpreis</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="3">Gesamtbetrag</th>
        <td class="number"><strong>{{ order.calculate_total_price()|format_euro_amount }}</strong></td>
      </tr>
    </tfoot>
    <tbody>
      {%- for item in order.items|sort(attribute='article_number') %}
      <tr>
        <td class="number">{{ item.quantity }}</td>
        <td class="nowrap">{{ render_article_link(item.article) }}</td>
        <td><strong>{{ item.description }}</strong></td>
        <td class="number">{{ item.price|format_euro_amount }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

  <ol class="actions">
    <li><a href="{{ url_for('.order_export', order_id=order.id) }}" download="{{ order.order_number }}.xml">{{ render_icon('download') }} für Lexware exportieren<br><small>(Shopschnittstelle; als XML)</small></a></li>
  </ol>

{%- endblock %}
