{% extends 'layout/base_admin.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/shop_admin.html' import render_order_link %}
{% from 'macros/shop_admin.html' import render_main_tabs with context %}
{% set current_page = 'shop_admin.orders' %}
{% set current_page_party = order.party %}
{% set title = 'Bestellung stornieren' %}

{% block before_body %}
{{ render_main_tabs(current_page, order.party) }}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.order_index') }}">Bestellungen</a></li>
      <li><a href="{{ url_for('.order_index_for_party', party_id=order.party.id) }}">{{ order.party.title }}</a></li>
      <li>{{ render_order_link(order) }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <form action="{{ url_for('.order_cancel', id=order.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(cancel_form.reason, maxlength=200, required='required') }}
    {% endcall %}

    {{ form_buttons('Stornieren', icon='disabled', cancel_url=url_for('.order_view', id=order.id)) }}
  </form>

{%- endblock %}
