{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/shop_admin.html' import render_main_tabs with context %}
{% from 'macros/shop_admin.html' import render_order_link, render_order_payment_state %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'shop_admin.orders' %}
{% set current_page_party = party %}
{% set title = 'Bestellungen' %}

{% block before_body %}
{{ render_main_tabs(current_page, party) }}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.order_index') }}">{{ party.title }}</a></li>
      <li>Shop</li>
    </ol>
  </nav>
  <h1>{{ title }} {{ render_extra_in_heading(orders.total) }}</h1>

  <div class="filter">
    <span>{{ render_icon('filter') }} Einschränkung:</span>
    <ol>
    {%- for payment_state in PaymentState %}
      {%- if only == payment_state %}
      <li>{{ render_order_payment_state(payment_state) }}</li>
      {%- else %}
      <li><a href="{{ url_for('.order_index_for_party', party_id=party.id, only=payment_state.name) }}">{{ render_order_payment_state(payment_state) }}</a></li>
      {%- endif %}
    {%- endfor %}
    {%- if only is none %}
      <li><strong>{{ render_tag('alle') }}</strong></li>
    {%- else %}
      <li><a href="{{ url_for('.order_index_for_party', party_id=party.id) }}">{{ render_tag('alle') }}</a></li>
    {%- endif %}
    </ol>
  </div>

  <table class="index wide">
    <thead>
      <tr>
        <th>Bestellnummer</th>
        <th>Status</th>
        <th>Besteller</th>
        <th>Zeitpunkt</th>
        <th>Betrag</th>
      </tr>
    </thead>
    <tbody>
      {%- for order in orders.items %}
      <tr>
        <td class="nowrap">{{ render_order_link(order) }}</td>
        <td class="centered">{{ render_order_payment_state(order.payment_state) }}</td>
        <td>
          {{- render_user_admin_link(order.placed_by) -}}<br>
          {{- order.first_names }} {{ order.last_name -}}
        </td>
        <td>{{ render_datetime(order.created_at) }}</td>
        <td class="number">{{ order.calculate_total_price()|format_euro_amount }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(orders, '.order_index_for_party', {'party_id': party.id, 'only': only.name if only else None}) }}

{%- endblock %}
