{% extends 'layout/admin/shop/order.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_check, form_field %}
{% from 'macros/misc.html' import render_notification %}
{% set page_title = _('Cancel order') %}
{% set layout_main_raw = True %}

{% block before_body %}
{{ render_backlink(url_for('.view', order_id=order.id), order.order_number) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.cancel', order_id=order.id) }}" method="post">
    {{ form_field(form.reason, maxlength=1000, autofocus='autofocus') }}
    <div class="mb">
      {{ render_notification(_('The reason will be disclosed to the orderer.') ~ '<br>'|safe ~ _('It is <em>not</em> an internal remark.')|safe, category='warning', icon='warning') }}
    </div>
    {{ form_field_check(form.send_email, form.send_email.label.text, checked='checked') }}

    {{ form_buttons(_('Cancel order'), icon='disabled') }}
  </form>

{%- endblock %}
