{% extends 'layout/admin/shop/order.html' %}
{% from 'macros/admin/shop/order.html' import render_order_link %}
{% from 'macros/forms.html' import form_buttons, form_field_check_simple, form_field_simple %}
{% from 'macros/misc.html' import render_notification %}
{% set title = 'Bestellung stornieren' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ render_order_link(order) }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <form action="{{ url_for('.cancel', order_id=order.id) }}" method="post">
    {{ form_field_simple(form.reason, maxlength=1000, autofocus='autofocus') }}
    <div class="mb">
      {{ render_notification('Die Begründung wird an die bestellende Person weitergegeben.<br>Es handelt sich <em>nicht</em> um einen internen Vermerk.'|safe, category='warning', icon='warning') }}
    </div>
    {{ form_field_check_simple(form.send_email, form.send_email.label.text, checked='checked') }}

    {{ form_buttons(_('Cancel order'), icon='disabled', cancel_url=url_for('.view', order_id=order.id)) }}
  </form>

{%- endblock %}
