{% extends 'layout/admin/shop/order.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_check, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set page_title = _('Cancel order') %}

{% block before_body %}
{{ render_backlink(url_for('.view', order_id=order.id), order.order_number) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.cancel', order_id=order.id) }}" method="post">
    <div class="box">

      {{ form_field(
        form.reason,
        maxlength=1000,
        note='%s %s %s'|format(
          render_icon('warning'),
          _('The reason is visible to the orderer.'),
          _('This is not an internal remark.')
        )|safe,
        style="height: 8rem;",
        autofocus='autofocus')
      }}

      {{ form_field_check(form.send_email, checked='checked') }}

    </div>

    {{ form_buttons(_('Cancel order'), icon='disabled') }}
  </form>

{%- endblock %}
