{% extends 'layout/admin/shop/order.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/order.html' import render_order_payment_state, render_order_state_filter %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set page_title = 'Bestellungen' %}
{% set layout_main_raw = True %}

{% block body %}

  <h1>{{ page_title }} {{ render_extra_in_heading(orders.total) }}</h1>

  <div class="row row--space-between filters">
    <div class="column-auto">

      <form action="{{ url_for('.index_for_shop', shop_id=shop.id) }}" class="single-row">
        <input type="search" name="search_term" placeholder="Bestellnummer"{%- if search_term %} value="{{ search_term }}"{% endif %} autofocus>
        <button type="submit" class="button" title="Suchen">{{ render_icon('search') }}</button>
        <a href="{{ url_for('.index_for_shop', shop_id=shop.id) }}" class="button{% if not search_term %} dimmed{% endif %}" title="Einschränkung auf Suchbegriff aufheben">{{ render_icon('remove') }}</a>
      </form>

    </div>
    <div class="column-auto">

      <div class="filter">
        <span>{{ render_icon('filter') }} Einschränkung:</span>
        <div class="dropdown">
          <button class="dropdown-toggle button button--clear">{{ render_order_state_filter(order_state_filter) }} {{ render_icon('chevron-down') }}</button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.index_for_shop', shop_id=shop.id) }}">{{ render_order_state_filter(OrderStateFilter.none) }}</a></li>
            {%- for payment_state in PaymentState %}
            <li><a class="dropdown-item" href="{{ url_for('.index_for_shop', shop_id=shop.id, only_payment_state=payment_state.name) }}">{{ render_order_payment_state(payment_state) }}</a></li>
            {%- endfor %}
            <li><a class="dropdown-item" href="{{ url_for('.index_for_shop', shop_id=shop.id, only_payment_state=PaymentState.paid.name, only_shipped='false') }}">{{ render_order_state_filter(OrderStateFilter.waiting_for_shipping) }}</a></li>
          </ol>
        </div>
      </div>

    </div>
  </div>

  <div class="box">
  {%- with orders = orders.items %}
    {%- include 'admin/shop/order/_order_list.html' %}
  {%- endwith %}

  {{ render_pagination_nav(orders, '.index_for_shop', {
      'shop_id': shop.id,
      'only_payment_state': only_payment_state.name if only_payment_state else None,
      'only_shipped': 'false' if ((only_shipped is not none) and not only_shipped) else None,
    }) }}
  </div>

{%- endblock %}
