{% extends 'layout/admin/shop/order.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_radio %}
{% set page_title = _('Mark order as paid') %}

{% block before_body %}
{{ render_backlink(url_for('.view', order_id=order.id), order.order_number) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.mark_as_paid', order_id=order.id) }}" method="post">
    {{ form_field_radio(form.payment_method, autofocus='autofocus') }}

    {{ form_buttons(_('Mark as paid'), icon='success') }}
  </form>

{%- endblock %}
