{% extends 'layout/admin/shop/order.html' %}
{% from 'macros/admin/shop/order.html' import render_order_link %}
{% from 'macros/forms.html' import form_buttons, form_fields_radio, form_fieldset %}
{% set title = 'Bestellung als bezahlt markieren' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ render_order_link(order) }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <form action="{{ url_for('.mark_as_paid', order_id=order.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_fields_radio(form.payment_method, required='required') }}
    {% endcall %}

    {{ form_buttons('Als bezahlt markieren', icon='success', cancel_url=url_for('.view', order_id=order.id)) }}
  </form>

{%- endblock %}
