{% extends 'layouts/admin/shop/order.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/order.html' import render_order_payment_method, render_order_payment_state %}
{% from 'macros/datetime.html' import render_datetime %}
{% set current_page_shop = shop %}
{% set title = order.order_number %}

{% block head %}
  <style>
    h1 .tag {
      font-size: 0.75rem !important; /* 12px / 16px */
      padding: 0.4rem 0.6rem;
      vertical-align: 0.4rem;
    }

    h1 .tag .icon {
      margin-right: 0.25rem;
    }

    .order-status-bar {
      display: flex;
      flex-direction: column;
    }

    .order-status-flag {
      align-items: center;
      display: flex;
      opacity: 0.25;
    }
    .order-status-flag.set {
      opacity: 1;
    }

    .order-status-flag-icon {
      font-size: 200%;
      margin-right: 0.75rem;
    }
  </style>
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index_for_shop', shop_id=shop.id) }}">Bestellungen</a></li>
    </ol>
  </nav>
  <h1>{{ render_order_payment_state(order.payment_state) }} {{ title }}</h1>

  {%- if g.current_user.has_any_permission(
    ShopOrderPermission.cancel,
    ShopOrderPermission.mark_as_paid,
    ShopOrderPermission.update
  ) %}
  <div style="float: right; margin-left: 40px;">
{%- include 'admin/shop/order/_view_actions.html' %}
  </div>
  {%- endif %}

  <table class="index">
    <tr>
      <td colspan="2">
{%- include 'admin/shop/order/_view_status_flags.html' %}
      </td>
    </tr>
    <tr>
      <th>Zeitpunkt</th>
      <td>{{ render_datetime(order.created_at|utc_to_local_tz) }}</td>
    </tr>
    <tr>
      <th>Zahlungsart</th>
      <td>{{ render_order_payment_method(order.payment_method) }}</td>
    </tr>
    {%- if order.is_canceled %}
    <tr>
      <th>Begründung für<br>Stornierung</th>
      <td>{{ order.cancelation_reason|fallback }}</td>
    </tr>
    {%- endif %}
  </table>

{%- include 'admin/shop/order/_view_orderer.html' %}

{%- include 'admin/shop/order/_view_articles.html' %}

{%- include 'admin/shop/order/_view_events.html' %}

  <h2>Tickets {{ render_extra_in_heading(tickets|length) }}</h1>
{%- include 'admin/ticketing/_ticket_list.html' %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        confirmed_post_on_click_then_reload('[data-action="order-flag-invoiced"]', 'Rechnung als versendet vermerken?');
        confirmed_delete_on_click_then_reload('[data-action="order-unflag-invoiced"]', 'Rechnung als nicht versendet vermerken?');

        confirmed_post_on_click_then_reload('[data-action="order-resend-incoming-notification"]', 'E-Mail-Eingangsbestätigung erneut versenden?');

        confirmed_post_on_click_then_reload('[data-action="order-flag-shipped"]', 'Bestellung als versendet markieren?');
        confirmed_delete_on_click_then_reload('[data-action="order-unflag-shipped"]', 'Bestellung als nicht versendet markieren?');
      });

      enableCopyToClipboard('order-address-copy-trigger');
    </script>
{%- endblock %}
