{% extends 'layout/admin/shop/order.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/order.html' import render_order_payment_state, render_order_overdue_tag %}
{% from 'macros/datetime.html' import render_datetime %}
{% set page_title = order.order_number %}
{% set layout_main_raw = True %}

{% block head %}
  <style>
    h1 .tag {
      font-size: 0.75rem !important; /* 12px / 16px */
      padding: 0.4rem 0.6rem;
      vertical-align: 0.4rem;
    }

    h1 .tag .icon {
      margin-right: 0.25rem;
    }

    .order-status-bar {
      display: flex;
      flex-direction: column;
    }

    .order-status-flag {
      align-items: center;
      display: flex;
      opacity: 0.25;
    }
    .order-status-flag.set {
      opacity: 1;
    }

    .order-status-flag-icon {
      font-size: 200%;
      margin-right: 0.75rem;
    }
  </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ render_order_payment_state(order.payment_state) }} {{ render_order_overdue_tag(order) }} {{ page_title }}</h1>
    </div>
    {%- if has_current_user_any_permission(
      ShopOrderPermission.cancel,
      ShopOrderPermission.mark_as_paid,
      ShopOrderPermission.update
    ) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
    {%- include 'admin/shop/order/_view_actions.html' %}
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="row row--space-between">
    <div class="column-auto column-auto--grow">

      <h2 style="margin-top: 0;">{{ _('Orderer') }}</h2>
      <div class="box">
    {%- include 'admin/shop/order/_view_orderer.html' %}
      </div>

    </div>
    <div class="column-auto column-auto--grow">

      <h2 style="margin-top: 0;">&nbsp;</h2>
      <div class="box">

{%- include 'admin/shop/order/_view_status_flags.html' %}

        <div class="data-label">{{ _('Date of creation') }}</div>
        <div class="data-value">{{ render_datetime(order.created_at|utc_to_local_tz, seconds=True) }}</div>

        {%- if order.payment_method %}
        <div class="data-label">{{ _('Payment type') }}</div>
        <div class="data-value">{{ render_order_payment_method(order.payment_method) }}</div>
        {%- endif %}

        {%- if order.is_canceled %}
        <div class="data-label">{{ _('Reason for cancelation') }}</div>
        <div class="data-value">{{ order.cancelation_reason|fallback }}</div>
        {%- endif %}
      </div>

    </div>
  </div>

  <h2>{{ _('Articles') }}</h2>
  <div class="box">
{%- include 'admin/shop/order/_view_articles.html' %}
  </div>

  <h2>{{ _('History') }}</h2>
  <div class="box">
{%- include 'admin/shop/order/_view_events.html' %}
  </div>

  <h2>{{ _('Tickets') }} {{ render_extra_in_heading(tickets|length) }}</h1>
  <div class="box">
{%- include 'admin/ticketing/_ticket_list.html' %}
  </div>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_post_on_click_then_reload('[data-action="order-flag-invoiced"]', '{{ _('Mark as invoice sent?') }}');
        confirmed_delete_on_click_then_reload('[data-action="order-unflag-invoiced"]', '{{ _('Mark as invoice not sent?') }}');

        confirmed_post_on_click_then_reload('[data-action="order-resend-incoming-notification"]', '{{ _('Resend confirmation email?') }}');

        confirmed_post_on_click_then_reload('[data-action="order-flag-shipped"]', '{{ _('Mark as shipped?') }}');
        confirmed_delete_on_click_then_reload('[data-action="order-unflag-shipped"]', '{{ _('Mark as not shipped?') }}');
      });

      enableCopyToClipboard('order-address-copy-trigger');
    </script>
{%- endblock %}
