{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'maintenance_admin' %}
{% set page_title = _('Maintenance') %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
    <style>
      table.index.small th,
      table.index.small td {
        font-size: 0.6875rem; /* 11px / 16px */
      }
    </style>
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <div class="grid dashboard">

  {%- with items = [
    (_('Background Jobs'), 'pending', url_for('jobs_admin.index'), JobsPermission.view),
  ] %}
    {%- for label, icon, url, required_permission in items %}
      {%- if has_current_user_permission(required_permission) %}
        {%- call render_cell(icon_name=icon, href=url) %}
    <div class="row">
      <div class="column-auto">{{ render_icon(icon) }}</div>
      <div class="column-auto column-auto--grow">{{ label }}</div>
    </div>
        {%- endcall %}
      {%- endif %}
    {%- endfor %}
  {%- endwith %}

  {%- call render_cell('password', 'higher') %}
    <div class="row mb">
      <div class="column-auto">{{ render_icon('password') }}</div>
      <div class="column-auto column-auto--grow">{{ _('Verification Tokens') }}</div>
      <div class="column-auto"><small class="dimmed">{{ verification_token_total }}</small></div>
    </div>

    <table class="index small wide">
      {%- for purpose_name, count in verification_token_counts_by_purpose_name|dictsort(by='key') %}
      <tr>
        <td>{{ purpose_name }}</td>
        <td class="number">{{ count }}</td>
      </tr>
      {%- endfor %}
    </table>
  {%- endcall %}

  {%- call render_cell('log-in') %}
    <div class="row mb">
      <div class="column-auto">{{ render_icon('log-in') }}</div>
      <div class="column-auto column-auto--grow">{{ _('Login events') }}</div>
    </div>

    <a class="button button--wrapping" href="{{ url_for('.delete_old_login_events') }}" data-action="delete-old-login-events">{{ render_icon('delete') }} <small style="margin-left: 0.5rem; text-align: left;">{{ _('Delete old login events') }}</small></a>
  {%- endcall %}

  </div>

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(() => {
    confirmed_post_on_click_then_reload('[data-action="delete-old-login-events"]', '{{ _('Delete old login events?') }}');
  });
</script>
{% endblock %}
