{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'maintenance_admin' %}
{% set title = _('Maintenance') %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <h1>{{ title }}</h1>

  <div class="grid dashboard">
  {%- with items = [
    (_('Background Jobs'), 'pending', url_for('jobs_admin.index'), JobsPermission.view),
  ] %}
    {%- for label, icon, url, required_permission in items %}
      {%- if g.user.has_permission(required_permission) %}
        {%- call render_cell(icon_name=icon, href=url) %}
          {{ render_icon(icon) }} <span>{{ label }}</span>
        {%- endcall %}
      {%- endif %}
    {%- endfor %}
  {%- endwith %}
  {%- call render_cell(icon_name='delete', href=url_for('.delete_old_login_events'), data_action='delete-old-login-events') %}
    {{ render_icon('delete') }} <span>{{ _('Delete old login events') }}</span>
  {%- endcall %}
  </div>

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(function() {
    confirmed_post_on_click_then_reload('[data-action="delete-old-login-events"]', '{{ _('Delete old login events?') }}');
  });
</script>
{% endblock %}
