{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons %}
{% set current_page = 'more_admin_brand' %}
{% set current_page_brand = brand %}
{% set page_title = _('Create subscription list') %}

{% block body %}

  <h1 class="title">{{ page_title }}</h1>

  <div class="box no-data-message">{{ _('No subscription list exists for this brand.') }}</div>

  <form action="{{ url_for('.create_brand_list', brand_id=brand.id) }}" method="post">
    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
