{% extends 'layout/admin/base.html' %}
{% set current_page = 'newsletter_admin' %}
{% set page_title = _('Newsletter') %}
{% set layout_main_raw = True %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <div class="box">
    {%- if lists %}
    <table class="index">
      <thead>
        <tr>
          <th>{{ _('Title') }}<br>{{ _('ID') }}</th>
          <th class="number">{{ _('Subscribers') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for list in lists %}
          <tr>
            <td><a href="{{ url_for('.view_subscriptions', list_id=list.id) }}"><strong>{{ list.title }}</strong></a><div class="dimmed">{{ list.id }}</div></td>
            <td class="bignumber number">{{ list.subscriber_count }}</td>
          </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No subscription lists exist.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
