{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% set current_page = 'newsletter_admin' %}
{% set current_page_brand = brand %}
{% set page_title = 'Newsletter - {}'.format(list_.title) %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">

      <nav class="breadcrumbs">
        <ol>
          <li><a href="{{ url_for('.index') }}">Newsletter</a></li>
        </ol>
      </nav>
      <h1>{{ list_.title }}</h1>

    </div>
    <div class="column-auto column--align-bottom">

      {%- if has_current_user_permission(NewsletterPermission.export_subscribers) %}
      <div class="button-row button-row--right">
        <div class="dropdown">
          <button class="dropdown-toggle button">
            <div class="block-with-icon">
              <div class="block-with-icon-icon">{{ render_icon('download') }}</div>
              <div class="block-with-icon-body">Exportieren {{ render_icon('chevron-down') }}</div>
            </div>
          </button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.export_subscribers', list_id=list_.id) }}" download="subscribers_{{ list_.id }}.json">{{ render_icon('download') }} Benutzernamen und E-Mail-Adressen (als JSON)</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.export_subscriber_email_addresses', list_id=list_.id) }}" download="subscribers_{{ list_.id }}.txt">{{ render_icon('download') }} nur E-Mail-Adressen (als Text)</a></li>
          </ol>
        </div>
      </div>
      {%- endif %}

    </div>
  </div>

  <div class="box">

    <div class="row row--space-around row--wrap bigstats">
      <div class="column-auto">
        {{ render_bigstats_item(format_number(totals[State.requested]), 'angefordert', icon_name='enabled', color='#008800') }}
      </div>
      <div class="column-auto">
        {{ render_bigstats_item(format_number(totals[State.declined]), 'abgelehnt', icon_name='disabled', color='#cc0000') }}
      </div>
      <div class="column-auto">
        {{ render_bigstats_item(format_number(totals['total']), '&sum; gesamt'|safe) }}
      </div>
    </div>

  </div>

{%- endblock %}
