{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% set current_page = 'newsletter_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Newsletter - Bestellstatus ({})'.format(list_.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Newsletter</li>
      <li>{{ list_.title }}</li>
    </ol>
  </nav>
  <h1>Bestellstatus</h1>

  <div class="row row--space-around row--wrap bigstats">
    <div class="column-auto">
      {{ render_bigstats_item(totals[State.requested]|separate_thousands, 'angefordert', icon_name='enabled', color='#008800') }}
    </div>
    <div class="column-auto">
      {{ render_bigstats_item(totals[State.declined]|separate_thousands, 'abgelehnt', icon_name='disabled', color='#cc0000') }}
    </div>
    <div class="column-auto">
      {{ render_bigstats_item(totals['total']|separate_thousands, '&sum; gesamt'|safe) }}
    </div>
  </div>

  {%- if g.current_user.has_permission(NewsletterPermission.export_subscribers) %}
  <div class="button-row">
    <div class="dropdown">
      <button class="dropdown-toggle button">
        <div class="block-with-icon">
          <div class="block-with-icon-icon">{{ render_icon('download') }}</div>
          <div class="block-with-icon-body">Abonnenten {{ render_icon('caret-down') }}<br>exportieren</div>
        </div>
      </button>
      <ol>
        <li><a href="{{ url_for('.export_subscribers', list_id=list_.id) }}">{{ render_icon('download') }} Benutzernamen und E-Mail-Adressen (als JSON)</a></li>
        <li><a href="{{ url_for('.export_subscriber_email_addresses', list_id=list_.id) }}">{{ render_icon('download') }} nur E-Mail-Adressen (als Text)</a></li>
      </ol>
    </div>
  </div>
  {%- endif %}

{%- endblock %}
