{% from 'macros/datetime.html' import render_date %}


<h2>Aktive Partys</h2>

{%- if active_parties %}
<ol class="fancy-list">
  {%- for party in active_parties %}
  <li>
    <a href="{{ url_for('admin_dashboard.view_party', party_id=party.id) }}">
      <div class="item">{{ party.title }}</div>
      <div class="supplement">{{ render_date(party.starts_at, smart=False) }}–{{ render_date(party.ends_at, smart=False) }}</div>
    </a>
  </li>
  {%- endfor %}
</ol>
{%- else %}
<p>{{ 'keine aktiven Partys'|dim }}</p>
{%- endif %}

{%- if brand|default %}
<p style="float: right;"><a href="{{ url_for('party_admin.index_for_brand', brand_id=brand.id) }}">alle Partys &rarr;</a></p>
{%- endif %}
