{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/datetime.html' import render_date %}


<div class="dashboard-section-title">Aktive Partys</div>

<div class="grid">

{%- if active_parties %}
  {%- for party in active_parties %}
    {%- call render_cell(href=url_for('admin_dashboard.view_party', party_id=party.id)) %}
  <div style="float: left; margin-right: 0.5rem;">{{ render_brand_avatar(party.brand, '32') }}</div>
  <div>{{ party.title }}</div>
  <div class="supplement">{{ render_date(party.starts_at, smart=False) }}–{{ render_date(party.ends_at, smart=False) }}</div>
    {%- endcall %}
  {%- endfor %}
{%- else %}
  {%- call render_cell() %}
  <div style="display: grid; height: 100%; place-items: center;">{{ 'Keine aktiven Partys'|dim }}</div>
  {%- endcall %}
{%- endif %}

{%- if brand|default %}
  {%- call render_cell(href=url_for('party_admin.index_for_brand', brand_id=brand.id)) %}
  <div style="display: grid; height: 100%; place-items: center;">Alle Partys &rarr;</div>
  {%- endcall %}
{%- endif %}

</div>
