{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/admin/dashboard.html' import render_cell %}
{% from 'macros/datetime.html' import render_date %}
{% from 'macros/misc.html' import render_tag %}


<div class="dashboard-section-title">Aktive Shops</div>

<div class="grid">

{%- if active_shops_with_open_orders_counts %}
  {%- for shop, open_orders_count in active_shops_with_open_orders_counts %}
    {%- call render_cell(href=url_for('shop_shop_admin.view', shop_id=shop.id)) %}
  <div>{{ shop.title }}</div>
      {%- if open_orders_count %}
      <div style="font-size: 0.6875rem; margin-top: 1rem;"><strong style="color: #ee3322;">{{ open_orders_count }}</strong> offene Bestellungen</div>
      {%- endif %}
    {%- endcall %}
  {%- endfor %}
{%- else %}
  {%- call render_cell() %}
  <div style="display: grid; height: 100%; place-items: center;">{{ 'Keine aktiven Shops'|dim }}</div>
  {%- endcall %}
{%- endif %}

{%- call render_cell(href=url_for('shop_shop_admin.index')) %}
  <div style="display: grid; height: 100%; place-items: center;">Alle Shops &rarr;</div>
{%- endcall %}

</div>
