{% from 'macros/admin/dashboard.html' import render_cell, render_party_cell %}


<div class="row row--space-between">
  <div>
    <div class="dashboard-section-title">{{ _('Active Parties') }}</div>
  </div>
  <div>
    <a class="dashboard-section-link" href="{{ url_for('party_admin.index_for_brand', brand_id=brand.id) if brand|default else url_for('party_admin.index') }}">{{ _('All parties') }} &rarr;</a>
  </div>
</div>

<div class="grid mb">

{%- if active_parties_with_stats %}
  {%- for party, ticket_sale_stats, seat_utilization in active_parties_with_stats %}
  {{ render_party_cell(party, ticket_sale_stats, seat_utilization, show_brand_avatar=show_brand_avatar) }}
  {%- endfor %}
{%- else %}
  {%- call render_cell() %}
  <div style="display: grid; height: 100%; place-items: center;">{{ _('No active parties')|dim }}</div>
  {%- endcall %}
{%- endif %}

</div>
