<h2>Aktuelle Sites</h2>

{%- if current_sites %}
<ol class="fancy-list">
  {%- for site in current_sites|sort(attribute='title') %}
  <li>
    <a href="{{ url_for('site_admin.view', site_id=site.id) }}">
      <div class="item">{{ site.title }}</div>
      <div class="supplement">{{ site.server_name }}</div>
    </a>
  </li>
  {%- endfor %}
</ol>
{%- else %}
<p>{{ 'keine aktuellen Sites'|dim }}</p>
{%- endif %}

<p style="float: right;"><a href="{{ url_for('site_admin.index') }}">alle Sites &rarr;</a></p>
