{% from 'macros/admin/dashboard.html' import render_cell, render_site_cell %}


<div class="row row--space-between">
  <div class="column-auto">
    <div class="dashboard-section-title">{{ _('Current Sites') }}</div>
  </div>
  <div class="column-auto">
    <a class="dashboard-section-link" href="{{ url_for('site_admin.index_for_brand', brand_id=brand.id) if brand|default else url_for('site_admin.index') }}">{{ _('All sites') }} &rarr;</a>
  </div>
</div>

<div class="grid">

{%- if current_sites %}
  {%- for site in current_sites|sort(attribute='title') %}
  {{ render_site_cell(site, show_brand_avatar=show_brand_avatar) }}
  {%- endfor %}
{%- else %}
  {%- call render_cell() %}
  <div style="display: grid; height: 100%; place-items: center;">{{ _('No current sites')|dim }}</div>
  {%- endcall %}
{%- endif %}

</div>
