{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_bigstats_cell, render_cell %}
{% set current_page = 'admin_dashboard_global' %}
{% set title = 'Dashboard' %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid dashboard">
    {%- call render_cell() %}
{%- include 'admin/dashboard/_current_sites.html' %}
    {%- endcall %}
    {%- call render_cell() %}
{%- include 'admin/dashboard/_active_parties.html' %}
    {%- endcall %}
    {%- call render_cell('brand') %}
{%- include 'admin/dashboard/_brands.html' %}
    {%- endcall %}
    {{ render_bigstats_cell(party_count, 'Partys', href=url_for('party_admin.index'), icon_name='date') }}
    {{ render_bigstats_cell(orga_count, 'Organisatoren', href=url_for('orga_admin.persons'), icon_name='users') }}
    {{ render_bigstats_cell(user_count|separate_thousands, 'Benutzer', href=url_for('user_admin.index'), icon_name='users') }}
    {{ render_bigstats_cell(recent_users_count, 'neue Benutzer in den letzten 7 Tagen', href=url_for('user_admin.index'), icon_name='users', color='#008800') }}
    {{ render_bigstats_cell(uninitialized_user_count, 'noch nicht aktivierte Benutzer', href=url_for('user_admin.index', only='uninitialized'), icon_name='users', color='#1199ff') }}
    {%- call render_cell('users') %}
{%- include 'admin/dashboard/_recent_users.html' %}
    {%- endcall %}
    {%- call render_cell('birthday', 'wider') %}
{%- include 'admin/dashboard/_birthdays.html' %}
    {%- endcall %}
  </div>

{%- endblock %}
