{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_bigstats_cell, render_cell %}
{% set current_page = 'admin_dashboard_brand' %}
{% set current_page_brand = brand %}
{% set page_title = [_('Dashboard'), brand.title] %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  {%- with show_brand_avatar = False %}
{% include 'admin/dashboard/_current_sites.html' %}
{% include 'admin/dashboard/_active_parties.html' %}
  {%- endwith %}

<div class="dashboard-section-title">{{ _('Overview') }}</div>

  <div class="grid dashboard">
    {%- if shop %}
    {{ render_bigstats_cell(open_order_count, _('open orders'), href=url_for('shop_order_admin.index_for_shop', shop_id=shop.id, only_payment_state='open'), icon_name='invoice') }}
    {%- endif %}
    {%- if newsletter_list %}
    {{ render_bigstats_cell(format_number(newsletter_subscriber_count), _('Subscribers to newsletter "%(title)s"', title=newsletter_list.title), href=url_for('newsletter_admin.view_subscriptions', list_id=newsletter_list.id), icon_name='email', color='#008800') }}
    {%- endif %}
    {%- call render_cell('legal', 'wider') %}
    <h2 class="hyphenate">{{ _('Required Consents') }}</h2>
      <p class="centered">
        {%- if consent_subjects_with_consent_counts -%}
        <table class="index">
          {%- for subject, count in consent_subjects_with_consent_counts -%}
          <tr>
            <td>{{ subject.title }}</td>
            <td class="bignumber number">{{ format_number(count) }}</td>
          </tr>
          {%- endfor -%}
        </table>
        {%- else -%}
        <strong style="color: #cc0000;">{{ _('None required') }}</strong>
        {%- endif -%}
      </p>
    {%- endcall %}
  </div>

{%- endblock %}
