{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_bigstats_cell, render_cell %}
{% set current_page = 'admin_dashboard_global' %}
{% set page_title = _('Dashboard') %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

{% include 'admin/dashboard/_active_brands.html' %}

  {%- with show_brand_avatar = True %}
{% include 'admin/dashboard/_active_parties.html' %}
{% include 'admin/dashboard/_active_shops.html' %}
  {%- endwith %}

<div class="dashboard-section-title">{{ _('Users') }}</div>

  <div class="grid dashboard">
    {{ render_bigstats_cell(user_count|numberformat, _('Users'), href=url_for('user_admin.index'), icon_name='users') }}
    {{ render_bigstats_cell(recent_users_count, _('new users in the last 7 days'), href=url_for('user_admin.index'), icon_name='users', color='#008800') }}
    {{ render_bigstats_cell(uninitialized_user_count, _('uninitialized users'), href=url_for('user_admin.index', only='uninitialized'), icon_name='users', color='#1199ff') }}
    {%- call render_cell('users', 'cell--fitted cell--higher') %}
{% include 'admin/dashboard/_recent_users.html' %}
    {%- endcall %}
    {%- call render_cell('birthday', 'cell--wider') %}
{% include 'admin/dashboard/_birthdays.html' %}
    {%- endcall %}
  </div>

{%- endblock %}
