{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_bigstats_cell %}
{% set current_page = 'admin_dashboard_party' %}
{% set current_page_party = party %}
{% set title = 'Dashboard - ' ~ party.title %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid dashboard">
    {{ render_bigstats_cell(days_until_party|separate_thousands, 'Tage bis zur Party', icon_name='date') }}
    {{ render_bigstats_cell(orga_count, 'Organisatoren in <strong>%d</strong> Teams'|format(orga_team_count)|safe, href=url_for('orga_team_admin.teams_for_party', party_id=party.id), icon_name='users') }}
    {{ render_bigstats_cell(seat_count|separate_thousands, 'Sitzplätze in <strong>%d</strong> Bereichen'|format(seating_area_count)|safe, href=url_for('seating_admin.index_for_party', party_id=party.id), icon_name='seating-area') }}
    {{ render_bigstats_cell(tickets_sold|separate_thousands, 'Tickets verkauft', href=url_for('ticketing_admin.index_for_party', party_id=party.id), icon_name='ticket', color='#008800') }}
    {{ render_bigstats_cell(tickets_checked_in|separate_thousands, 'Tickets eingecheckt', icon_name='ticketing-checkin') }}
  </div>

{%- endblock %}
