{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_bigstats_cell, render_cell %}
{% set current_page = 'admin_dashboard_brand' %}
{% set current_page_brand = brand %}
{% set title = 'Dashboard - ' ~ brand.title %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid dashboard">
    {%- call render_cell() %}
{%- include 'admin/dashboard/_active_parties.html' %}
    {%- endcall %}
    {{ render_bigstats_cell(party_count, 'Partys', href=url_for('party_admin.index_for_brand', brand_id=brand.id), icon_name='date') }}
    {{ render_bigstats_cell(orga_count, 'Organisatoren', href=url_for('orga_admin.persons_for_brand', brand_id=brand.id), icon_name='users') }}
    {%- if newsletter_list %}
    {{ render_bigstats_cell(newsletter_subscriber_count|separate_thousands, 'Abonnenten für Newsletter "%s"'|format(newsletter_list.title), href=url_for('newsletter_admin.view_subscriptions', list_id=newsletter_list.id), icon_name='email', color='#008800') }}
    {%- endif %}
    {%- call render_cell('legal') %}
      <h2 class="hyphenate">Erforderliche Zustimmungen</h2>
      <p class="centered">
        {%- if consent_subjects_with_consent_counts -%}
        <table class="index">
          {%- for subject, count in consent_subjects_with_consent_counts -%}
          <tr>
            <td>{{ subject.title }}</td>
            <td class="bignumber number">{{ count|separate_thousands }}</td>
          </tr>
          {%- endfor -%}
        </table>
        {%- else -%}
        <strong style="color: #cc0000;">keine</strong>
        {%- endif -%}
      </p>
    {%- endcall %}
  </div>

{%- endblock %}
