{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/dashboard.html' import render_bigstats_cell, render_cell %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'admin_dashboard_party' %}
{% set current_page_party = party %}
{% set page_title = [_('Dashboard'), party.title] %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/admin_dashboard.css') }}">
{%- endblock %}

{% block body %}

  <div class="grid">

    {%- call render_cell('date') %}
      <div class="cell-label">{{ _('Date') }}</div>
      <div>
        <div style="font-size: 0.75rem;">
          {{- party.starts_at|dateformat }}, {{ party.starts_at|timeformat('short') }} {{ _('until') }}<br>
          {{- party.ends_at|dateformat }}, {{ party.ends_at|timeformat('short') -}}
        </div>

        {%- for day in days %}
        {{ render_tag('{:%a}'.format(day)) }}
        {%- endfor %}

        {%- if party.canceled %}
        {{ render_tag(pgettext('party', 'canceled'), class='color-danger') }}
        {%- elif party.is_over %}
        {{ render_tag(_('over'), class='color-disabled') }}
        {%- endif %}
      </div>
    {%- endcall %}

    {{ render_bigstats_cell(days_until_party|numberformat, ngettext('day until the party', 'days until the party', days_until_party), icon_name='date') }}

    {{ render_bigstats_cell(orga_count, ngettext('organizer in %(team_count)s teams', 'organizers in %(team_count)s teams', orga_count, team_count='<strong>%d</strong>'|format(orga_team_count)|safe), href=url_for('orga_team_admin.teams_for_party', party_id=party.id), icon_name='users') }}

    {{ render_bigstats_cell(seat_count|numberformat, ngettext('seat in %(area_count)s areas', 'seats in %(area_count)s areas', seat_count, area_count='<strong>%d</strong>'|format(seating_area_count)|safe), href=url_for('seating_admin.index_for_party', party_id=party.id), icon_name='seating-area') }}

    {%- call render_cell(href=url_for('ticketing_admin.index_for_party', party_id=party.id)) %}
      <div class="cell-label">{{ _('tickets sold') }}</div>
      {%- with tickets_total_max_specified = (ticket_sale_stats.tickets_max is not none) %}
      <div class="progress mt">
        {%- if tickets_total_max_specified %}
        <div class="progress-bar color-success" style="width: calc(100% * {{ ticket_sale_stats.tickets_sold }} / {{ ticket_sale_stats.tickets_max }});"></div>
        {%- endif %}
      </div>
      <div class="row row--space-between small">
        <div class="column-auto" style="font-weight: bold;">{{ ticket_sale_stats.tickets_sold|numberformat }}</div>
        {%- if tickets_total_max_specified and ticket_sale_stats.tickets_sold >= ticket_sale_stats.tickets_max %}
        <div class="column-auto">{{ render_tag(_('sold out')) }}</div>
        {%- endif %}
        <div class="column-auto dimmed">{{ _('of') }} {{ ticket_sale_stats.tickets_max|numberformat if tickets_total_max_specified else '?' }}</div>
      </div>
      {%- endwith %}
    {%- endcall %}

    {%- call render_cell(href=url_for('seating_admin.index_for_party', party_id=party.id)) %}
      <div class="cell-label">{{ _('seats occupied') }}</div>
      <div class="progress mt">
        <div class="progress-bar color-success" style="width: calc(100% * {{ seat_utilization.occupied }} / {{ seat_utilization.total }});"></div>
      </div>
      <div class="row row--space-between small">
        <div class="column-auto" style="font-weight: bold;">{{ seat_utilization.occupied|numberformat }}</div>
        <div class="column-auto dimmed">{{ _('of') }} {{ seat_utilization.total|numberformat }}</div>
      </div>
    {%- endcall %}

    {%- call render_cell(href=url_for('ticketing_checkin_admin.index', party_id=party.id)) %}
      <div class="cell-label">{{ _('tickets checked in') }}</div>
      <div class="progress mt">
        <div class="progress-bar color-success" style="width: calc(100% * {{ tickets_checked_in }} / {{ ticket_sale_stats.tickets_sold }});"></div>
      </div>
      <div class="row row--space-between small">
        <div class="column-auto" style="font-weight: bold;">{{ tickets_checked_in|numberformat }}</div>
        <div class="column-auto dimmed">{{ _('of') }} {{ ticket_sale_stats.tickets_sold|numberformat }}</div>
      </div>
    {%- endcall %}

  {%- if has_current_user_permission('guest_server.view') %}
    {%- call render_cell(href=url_for('guest_server_admin.server_index', party_id=party.id)) %}
      <div class="cell-label">{{ _('Guest Servers') }}</div>
      {%- with approved_count = guest_servers|selectattr('approved')|list|length,
               pending_count = guest_servers|rejectattr('approved')|list|length %}
        {%- with total_count = approved_count + pending_count %}
      <div class="progress progress--separated mt">
        <div class="progress-bar color-success" style="width: calc(100% * {{ approved_count }} / {{ total_count }});"></div>
        <div class="progress-bar color-warning" style="width: calc(100% * {{ pending_count }} / {{ total_count }});"></div>
      </div>
      <div class="row row--space-between small">
        <div class="column-auto"><strong>{{ approved_count }}</strong> {{ _('approved') }}</div>
        <div class="column-auto"><strong>{{ pending_count }}</strong> {{ _('pending') }}</div>
      </div>
        {%- endwith %}
      {%- endwith %}

    {%- endcall %}
  {%- endif %}

  </div>

{%- endblock %}
