{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/user.html' import render_user_avatar_16_and_admin_link %}
{% set current_page = 'attendance_admin' %}
{% set current_page_brand = brand %}
{% set page_title = 'Häufigste Teilnehmer' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ brand.title }}</li>
    </ol>
  </nav>
  <h1>{{ page_title }}</h1>

  <p>Partys der Marke &quot;{{ brand.title }}&quot; insgesamt: <strong>{{ party_total }}</strong></p>

  {%- if most_recent_party %}
  <p>Neueste enthaltene Party: <strong>{{ most_recent_party.title }}</strong></p>
  {%- endif %}

  {%- if top_attendees %}
  <table class="index">
    <thead>
      <tr>
        <th>Benutzer</th>
        <th class="number">Party-Teilnahmen</th>
      </tr>
    </thead>
    <tbody>
    {%- for user, attendance_count in top_attendees %}
      <tr>
        <td>{{ render_user_avatar_16_and_admin_link(user) }}</td>
        <td class="number">{{ attendance_count }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Keine Teilnahmen an Partys dieser Marke gefunden.</div>
  {%- endif %}

{%- endblock %}
