.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
}
.grid .cell {
  flex: 1 0 33.3333%;
  padding: 20px 0 0 20px;
}
.grid .cell.wider {
  flex: 1 0 66.6666%;
}

.grid .cell a {
  color: currentColor;
  text-decoration: none;
}
.grid .cell a:hover .box {
  background-color: #f4f4f4;
}

.grid .cell .box {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.dashboard h2 {
  font-size: 0.9rem;
  font-weight: normal;
  margin-top: 0;
  opacity: 0.7;
  text-transform: uppercase;
}

.cell-icon {
  font-size: 5rem; /* 80px / 16px */
  opacity: 0.075;
  position: absolute;
  right: 0.25rem;
  top: 0;
}

.bigstats {
  margin-bottom: 0;
}
.bigstats figcaption {
  font-weight: normal;
}

.hyphenate {
  -moz-hyphens: auto;
  hyphens: auto;
}
