{% extends 'layout/admin/base.html' %}
{% from 'macros/datetime.html' import render_date %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/orga_admin.html' import render_random_age_adjective, render_relative_days_until, render_time_element %}
{% from 'macros/orga_admin.html' import render_main_tabs with context %}
{% from 'macros/user_admin.html' import render_orga_avatar_small, render_user_admin_link %}
{% set current_page = 'orga_admin.birthdays' %}
{% set title = 'Die nächsten Geburtstage' %}

{% block before_body %}
{{ render_main_tabs(current_page) }}
{%- endblock %}

{% block head %}
    <style>
      .hastoday {
        font-weight: bold;
      }

      .birthdays time {
        cursor: help;
        border-bottom: #666666 dotted 1px;
      }
    </style>
{%- endblock head %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index wide birthdays">
  {%- for user in orgas %}
    {%- with is_today = user.detail.is_birthday_today %}
    <tr>
      <td>{{ render_orga_avatar_small(user) }}</td>
      <td{% if is_today %} class="hastoday"{% elif user.detail.days_until_next_birthday > 14 %} class="dimmed"{% endif %}>
        {{ render_user_admin_link(user) }}
        {% if is_today %}{{ render_icon('birthday') }}{% endif %}
        {%- set relative_days_label = render_relative_days_until(user) %}
        wird {{ render_time_element(user.detail.date_of_birth, relative_days_label) }}
        {{ render_random_age_adjective() }} {{ user.detail.age if is_today else user.detail.age + 1 }} Jahre alt.
      </td>
    </tr>
    {%- endwith %}
  {%- endfor %}
  </table>

{%- endblock %}
