{% extends 'layout/base_admin.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/orga_admin.html' import render_main_tabs with context %}
{% set current_page = 'orga_admin.persons' %}
{% set title = 'Person zum Orga ernennen' %}

{% block before_body %}
{{ render_main_tabs(current_page) }}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.persons_for_brand', brand_id=brand.id) }}">{{ brand.title }}</a></li>
      <li>{{ render_icon('add') }} {{ title }}</li>
    </ol>
  </nav>

  <form action="{{ url_for('.create_orgaflag', brand_id=brand.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.user_id, maxlength=36, required='required', autofocus='autofocus') }}
    {% endcall %}

    {{ form_buttons('Zum Orga ernennen', cancel_url=url_for('.persons_for_brand', brand_id=brand.id)) }}
  </form>

{%- endblock %}
