{% extends 'layout/admin/base.html' %}
{% from 'macros/orga_admin.html' import render_main_tabs with context %}
{% set current_page = 'orga_admin.persons' %}
{% set title = 'Organisatoren' %}

{% block before_body %}
{{ render_main_tabs(current_page) }}
{%- endblock %}

{% block body %}

  <h1>{{ title }}</h1>

  <p>Marke wählen:</p>
  <ol class="index fully-linked">
    {%- for brand, person_count in brands_with_person_counts|sort(attribute='0.title') %}
    <li>
      <a href="{{ url_for('.persons_for_brand', brand_id=brand.id) }}">
        <strong>{{ brand.title }}</strong><br>
        {{ '%d %s'|format(person_count, 'Person' if (person_count == 1) else 'Personen')|dim }}
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock %}
