{% extends 'layout/base_admin.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_with_fallback %}
{% from 'macros/user_admin.html' import render_orga_avatar_small, render_user_admin_link %}
{% set current_page = 'orga_admin.teams' %}
{% set current_page_party = party %}
{% set title = 'Orga-Teams' %}

{% block head %}
    <style>
      .teams td:last-child {
        padding-right: 0;
      }
      .teams .empty,
      .teams .empty-actions {
        vertical-align: middle;
      }
      .teams .empty {
        padding-left: 2em;
      }
      .teams .empty-actions {
        text-align: right;
      }

      .members {
        margin: 0 0 0.5rem 0;
      }
      .members > li {
        flex: 0 0 50%;
        padding: 1em 0 0 2em;
      }

      .member {
        display: flex;
        justify-content: space-between;
        margin: -1rem 0 0 -1rem;
      }
      .member > div {
        flex: 0 0 auto;
        padding: 1rem 0 0 1rem;
      }
      .member > div.details {
        flex: 1 0 auto;
      }

      .dropdown button {
        border: #cccccc solid 1px;
        border-radius: 3px;
        padding: 0;
      }
    </style>
    <script>
      $(function() {
        confirmed_delete_on_click('a.team-delete', 'Team entfernen?');
        confirmed_delete_on_click('a.membership-remove', 'Person aus dem Team entfernen?');
      });
    </script>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.teams') }}">{{ party.title }}</a></li>
      <li>{{ title }} {{ render_extra_in_heading(teams|length) }}</li>
    </ol>
  </nav>

  <table class="index wide teams">
    <tbody>
    {%- for team in teams|sort(attribute='title') %}
      {%- set memberships = team.memberships|list %}
      {%- set member_total = memberships|length %}
      <tr>
        <td class="nowrap">
          <strong>{{ team.title }}</strong><br>
          {{ '%d %s'|format(member_total, 'Person' if member_total == 1 else 'Personen')|dim }}
        </td>
        {%- if memberships %}
        <td colspan="2">
          <ol class="list-grid members">
          {%- for membership in memberships|sort(attribute='user.screen_name') %}
            <li>
              <div class="member">
                <div>
                  {{ render_orga_avatar_small(membership.user) }}
                </div>
                <div class="details">
                  {{ render_user_admin_link(membership.user) }}<br>
                  {{ render_with_fallback(membership.duties) }}
                </div>
                <div>
                  <div class="dropdown">
                    <button><span class="icon-caret-down"></span></button>
                    <ol>
                      <li><a href="{{ url_for('.membership_update_form', id=membership.id) }}">{{ render_icon('edit') }} Team und Aufgabe bearbeiten</a></li>
                      <li><a href="{{ url_for('.membership_remove', id=membership.id) }}" class="membership-remove">{{ render_icon('remove') }} Person aus Team entfernen</a></li>
                    </ol>
                  </div>
                </div>
              </div>
            </li>
          {%- endfor %}
          </ol>
        </td>
        {%- else %}
        <td class="empty">{{ 'keine Mitglieder'|dim }}</td>
        <td class="empty-actions"><a href="{{ url_for('.team_delete', team_id=team.id) }}" class="action team-delete" title="Team entfernen">{{ render_icon('remove') }} Team entfernen</a></td>
        {%- endif %}
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  {%- if g.current_user.has_permission(OrgaTeamPermission.create) %}
  <ol class="actions">
    <li><a href="{{ url_for('.team_create_form', party_id=party.id) }}">{{ render_icon('add') }} Team erstellen</a></li>
    <li{% if not teams %} class="dimmed"{% endif %}><a href="{{ url_for('.membership_create_form', party_id=party.id) }}">{{ render_icon('add') }} Orga hinzufügen</a></li>
  </ol>
  {%- endif %}

{%- endblock body %}
