{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'orga_admin.teams' %}
{% set title = 'Orgateams' %}

{% block body %}

  <h1>{{ title }}</h1>

  <p>Party wählen:</p>
  <ol class="index fully-linked">
    {%- for party, team_count, person_count in parties_with_team_and_person_counts|sort(attribute='0.starts_at', reverse=True) %}
    <li>
      <a href="{{ url_for('.teams_for_party', party_id=party.id) }}">
        <div{% if party.is_archived %} class="dimmed"{% endif %}>
          <strong>{{ party.title }}</strong>
          {%- if party.is_archived %} {{ render_icon('archived', title='archiviert') }}{% endif -%}
          <br>
          {{- '%d %s'|format(team_count, 'Team' if (team_count == 1) else 'Teams')|dim }}
          &middot;
          {{ '%d %s'|format(person_count, 'Person' if (person_count == 1) else 'Personen')|dim }}
        </div>
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
