{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/user_avatar.html' import render_user_avatar_20_and_link %}
{% set current_page = 'user_message' %}
{% set page_title = 'Mitteilung an Benutzer senden' %}

{% block body %}

  <h1>Mitteilung senden</h1>

  <form action="{{ url_for('.create', recipient_id=recipient.id) }}" method="post">
    <label class="form-label">Empfänger/in</label>
    <div class="mb">
      {{ render_user_avatar_20_and_link(recipient) }}
    </div>
    {{ form_field(form.body, maxlength=2000, autofocus='autofocus') }}

    {{ form_buttons(_('Send')) }}
  </form>

  <p style="margin-top: 1.5rem;">Über dieses Formular kannst du der Person eine Nachricht zukommen lassen.</p>
  <p>Dazu senden wir ihr eine E-Mail mit deinem Text. Deine E-Mail-Adresse geben wir dabei <em>nicht</em> weiter.</p>
  <p>Die Person kann dir über das Kontaktformular auf deiner Profilseite antworten.</p>

{%- endblock %}
