{% from 'macros/icons.html' import render_icon %}


{% macro render_navigation(navigation, current_page) %}
  <nav class="main">
    <ol>
      {%- for item in navigation.get_items() %}
      <li><a href="{{ item.endpoint }}" title="{{ item.label }}" class="nav-item{% if (item.id is not none) and (item.id == current_page) %} nav-item--current{% endif %}">
        {%- if item.icon %}<span class="nav-item-icon">{{ render_icon(item.icon) }}</span>{% endif -%}
        <span class="nav-item-label">{{ item.label }}</span>
      </a></li>
      {%- endfor %}
    </ol>
  </nav>
{% endmacro %}


{% macro render_main_tabs(navigation, current_tab) -%}
  <nav class="main-tabs">
    <ol>
    {%- for item in navigation.get_items() %}
      {%- with is_current = (item.id is not none) and (item.id == current_tab) %}
      <li><a href="{{ item.endpoint }}" class="main-tab{% if is_current %} main-tab--current{% endif %}">{% if item.icon %}{{ render_icon(item.icon) }} {% endif %}{{ item.label }}</a></li>
      {%- endwith %}
    {%- endfor %}
    </ol>
  </nav>
{%- endmacro %}


{% macro render_extra_in_heading(value) -%}
  <small>{{ value }}</small>
{%- endmacro %}


{% macro render_backlink(url, label) -%}
  <nav style="margin-bottom: 0.5rem;">
    <a class="button button--clear button--compact" href="{{ url }}">{{ render_icon('arrow-left') }} <span>{{ label }}</span></a>
  </nav>
{%- endmacro %}
