{%- from 'macros/datetime.html' import render_date_long %}
{%- from 'macros/misc.html' import render_tag %}

<article class="news-item">
  <h1><a href="{{ url_for('.view', slug=item.slug) }}">{{ item.title }}</a></h1>
  <footer class="meta">
    {%- if item.published %}
    {{ render_date_long(item.published_at|utc_to_local_tz) }}
    {%- else %}
    {{ render_tag(_('Draft')) }}
    {%- endif %}
  </footer>
  <div class="body">
{% if item.body is not none %}
{{ item.body|safe }}
{%- else %}
  {% from 'macros/misc.html' import render_notification %}
  {{ render_notification(_('An error has occurred while rendering the news.'), category='danger', icon='warning') }}
{%- endif %}
  </div>
</article>
