{% extends 'layout/base.html' %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'news' %}
{% set page_title = _('News Archive') %}

{% block body %}

  <h1>{{ _('News Archive') }}</h1>

  <table class="index index--higher index--wide">
    {%- for item in headlines.items %}
    <tr>
      <td>
      {%- if item.published %}
        {{ item.published_at|dateformat('medium') }}
      {%- else %}
        {{ render_tag(_('Draft')) }}
      {%- endif %}
      </td>
      <td><a href="{{ url_for('.view', slug=item.slug) }}">{{ item.title }}</a></td>
    </tr>
    {%- endfor %}
  </table>

{{ render_pagination_nav(headlines, 'news.archive', {
  'per_page': per_page,
}) }}

{%- endblock %}
