{% extends 'layout/base.html' %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'news' %}
{% set page_title = _('News') %}

{% block body %}

  <h1>{{ _('News') }}</h1>

  <div class="news-items">
    {%- for item in items.items %}
{% include 'site/news/_item.html' %}
    {%- endfor %}

{{ render_pagination_nav(items, 'news.index', {
  'per_page': per_page,
}) }}
  </div>

  <p><a href="{{ url_for('.archive') }}">{{ _('Archive') }}</a></p>

{%- endblock %}
