{% extends 'layout/base.html' %}
{% from 'macros/subnav.html' import render_subnav_for_menu_id %}
{% set current_page = 'news' %}
{% set page_title = [item.title, _('News')] %}

{% block subnav %}
  {%- if subnav_menu_id|default %}
{{ render_subnav_for_menu_id(subnav_menu_id, current_page) }}
  {%- endif %}
{% endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">{{ _('News') }}</a></li>
    </ol>
  </nav>

{% include 'site/news/_item.html' %}

{%- endblock %}
