{% extends 'layout/base.html' %}
{% from 'macros/user_badge.html' import render_user_badge_linked %}
{% set current_page = 'user_badge' %}
{% set page_title = _('Badges') %}

{% block head %}
<style>
.badge-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
</style>
{%- endblock %}

{% block body %}

<h1 class="title">{{ _('Badges') }}</h1>

<ol class="itemlist">
  {%- for badge in badges|sort(attribute='label') %}
  <li>
    <div class="row is-vcentered">
      <div>{{ render_user_badge_linked(badge, 64) }}</div>
      <div class="column--grow description">
        <div class="badge-title">{{ badge.label }}</div>
        {%- if badge.description %}
        <div>{{ badge.description|safe }}</div>
        {%- endif %}
      </div>
    </div>
  </li>
  {%- endfor %}
</ol>

{%- endblock %}
