{% extends 'layout/base.html' %}
{% from 'macros/user_badge.html' import render_user_badge_linked %}
{% set current_page = 'user_badge' %}
{% set page_title = _('Badges') %}

{% block head %}
  <style>
    .badges {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .badges li {
      align-items: center;
      display: flex;
    }

    .badges li + li {
      margin-top: 1.5rem;
    }

    .badges .badge {
      flex: 0 0 auto;
    }

    .badges .badge a.user-badge {
      display: block;
    }

    .badges .description {
      margin-left: 1rem;
    }

    .badges .description p {
      margin: 0;
      padding: 0;
    }

    .badges .description p + p {
      margin-top: 0.5rem;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ _('Badges') }}</h1>

  <ol class="badges">
    {%- for badge in badges|sort(attribute='label') %}
      <li>
        <div class="badge">
          {{ render_user_badge_linked(badge, 64) }}
        </div>
        {%- if badge.description %}
        <div class="description">
          <p><strong>{{ badge.label }}</strong></p>
          <p>{{ badge.description|safe }}</p>
        </div>
        {%- endif %}
      </li>
    {%- endfor %}
  </ol>

{%- endblock %}
