{% extends 'layout/base.html' %}
{% from 'macros/user_avatar.html' import render_user_avatar %}
{% from 'macros/user_badge.html' import render_user_badge %}
{% set current_page = 'user_badge' %}
{% set page_title = [_('Badges'), badge.label] %}

{% block head %}
  <style>
    .badge-details {
      display: flex;
    }
    .badge-details .badge {
      flex: 0 0 auto;
    }
    .badge-details .description {
      align-self: center;
      margin-left: 1rem;
    }

    a.recipient {
      border: none;
      display: block;
      text-decoration: none;
    }
    a.recipient:hover .avatar {
      outline: currentColor solid 1px;
    }
  </style>
{% endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">{{ _('Badges') }}</a></li>
    </ol>
  </nav>
  <h1>{{ badge.label }}</h1>

  <div class="badge-details">
    <div class="badge">{{ render_user_badge(badge, 64) }}</div>
    {%- if badge.description %}
    <div class="description">{{ badge.description|safe }}</div>
    {%- endif %}
  </div>

  <h2>an {{ recipients|length }} Personen verliehen</h2>
  <ul class="list-grid">
    {%- for user in recipients|sort(attribute='screen_name') %}
    <li><a class="recipient" href="{{ url_for('user_profile.view', user_id=user.id) }}">
{{ render_user_avatar(user, size=64, orga=user.id in orga_ids) }}
    </a></li>
    {%- endfor %}
  </ul>

{%- endblock %}
