{% macro render_seat_link(seat) -%}
  <a href="{{ url_for('seating.view_area', slug=seat.area.slug, _anchor='seat-%s'|format(seat.id)) }}">{{ seat.label|fallback(_('unnamed')) }}</a>
{%- endmacro %}


{% macro render_area(area, seats) -%}
  {%- set avatar_url_fallback = url_for('static', filename='avatar_fallback.svg') %}
  <div class="area" style="background-image: url(/data/parties/{{ area.party_id }}/seating/areas/{{ area.image_filename }}); height: {{ area.image_height }}px; width: {{ area.image_width }}px;">
    {%- for seat in seats|sort(attribute='coord_y')|sort(attribute='coord_x') %}
    {{ render_seat_with_tooltip(seat, avatar_url_fallback) }}
    {%- endfor %}
  </div>
{%- endmacro %}


{% macro render_seat_with_tooltip(seat, avatar_url_fallback) -%}
    <div id="seat-{{ seat.id }}" class="seat-with-tooltip" style="left: {{ seat.coord_x }}px; top: {{ seat.coord_y }}px;" data-seat-id="{{ seat.id }}" data-label="{{ seat.label }}"
      {%- if seat.occupied %}
      {{- ' ' }}data-ticket-id="{{ seat.occupied_by_ticket_id }}"
        {%- if seat.occupied_by_user %}
          {%- with occupier = seat.occupied_by_user %}
      {{- ' ' }}data-occupier-avatar="{{ occupier.avatar_url or avatar_url_fallback }}" data-occupier-name="{{ occupier.screen_name }}"
          {%- endwith %}
        {%- endif %}
      {%- endif -%}
    >
      <div class="seat{% if seat.type_ %} seat-type--{{ seat.type_ }}{% endif %}{% if seat.occupied %} seat--occupied{% endif %}"{% if seat.rotation %} style="transform: rotate({{ seat.rotation }}deg);"{% endif %}></div>
    </div>
{%- endmacro %}
