{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset, form_supplement %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'user_avatar' %}
{% set title = 'Avatar hochladen' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.update') }}" method="post" enctype="multipart/form-data" class="disable-submit-button-on-submit">
    {%- call form_fieldset() %}
      {{ form_field(form.image, maxlength=150000, accept='image/*', required='required') }}
      {%- call form_supplement() %}
        {%- filter dim %}
          Erlaubte Formate: {{ allowed_types|sort|join(', ') }}<br>
          Maximale Bildgröße: {{ maximum_dimensions|join(' &times; ')|safe }} Pixel<br>
          Falls das Bild nicht quadratisch ist, wird es zugeschnitten.
        {%- endfilter %}
      {%- endcall %}
    {%- endcall %}

    {{ form_buttons('%s Bild hochladen'|format(render_icon('upload'))|safe) }}
  </form>

{%- endblock %}
