{%- from 'macros/navigation.html' import render_navigation_item %}
{%- set navigation_items = [
    ('news.index',           'Neuigkeiten',  'news'   ),
    ('party.info',           'Partydetails', 'party'  ),
    ('orga_team.index',       'Team',         'orga'   ),
    ('seating.index',        'Sitzplan',     'seating'),
    ('terms.view_current',   'AGB',          'terms'  ),
    ('board.category_index', 'Forum',        'board'  ),
] -%}

<section>
  <h1>Informationen</h1>
  <nav class="main">
    <ol>
      {%- for endpoint, label, id in navigation_items %}
      {{ render_navigation_item(url_for(endpoint), label, id, current_page) }}
      {%- endfor %}
    </ol>
  </nav>
</section>
