{% extends 'layout/admin/guest_server.html' %}
{% from 'macros/admin/guest_server.html' import render_gateway, render_hostname, render_ip_address, render_netmask %}
{% from 'macros/admin/user.html' import render_user_microcard %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user.html' import render_user_avatar_and_name %}
{% set current_page_party = party %}
{% set current_tab = 'servers' %}
{% set page_title = _('Guest Servers') %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>{{ page_title }}</h1>
    </div>
  </div>

  <div class="box" style="border-left: {{ '#55cc00' if server.approved else '#ffcc11' }} solid 0.25rem;">

    <div class="row">
      <div style="flex-basis: 33%;">

        <div class="data-label">{{ _('Owner') }}</div>
        <div class="data-value">{{ render_user_microcard(users_by_id[server.owner_id]) }}</div>

      </div>
      <div style="flex-basis: 33%;">

        <div class="data-label">{{ _('Status') }}</div>
        <div class="data-value">{{ render_tag(_('approved'), class='color-success') if server.approved else render_tag(_('pending'), class='color-warning') }}</div>

      </div>
      <div style="flex-basis: 33%;">

        {%- if has_current_user_permission('guest_server.administrate') %}
        <div class="button-row button-row--compact button-row--nowrap button-row--right">
          <a class="button button--compact" href="{{ url_for('guest_server_common.view_printable_card', server_id=server.id) }}" title="{{ _('View printable server card') }}">{{ render_icon('print') }}</a>
          <a class="button button--compact" href="{{ url_for('.server_update_form', server_id=server.id) }}" title="{{ _('Update server') }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
          <a class="button button--compact" href="{{ url_for('.server_delete', server_id=server.id) }}" data-action="delete-server" title="{{ _('Delete server') }}">{{ render_icon('delete') }}</a>
        </div>
        {%- endif %}

      </div>
    </div>

    <div class="mt">
      <div class="row">
        <div style="flex-basis: 33%;">

          <div class="data-label">{{ _('Created by') }}</div>
          <div class="data-value">{{ render_user_avatar_and_name(users_by_id[server.creator_id], size=20) }}</div>

        </div>
        <div style="flex-basis: 33%;">

          <div class="data-label">{{ _('Created at') }}</div>
          <div class="data-value">{{ server.created_at|datetimeformat }}</div>

        </div>
        <div style="flex-basis: 33%;">

        </div>
      </div>
    </div>

    <table class="index mt">
      <thead>
        <tr>
          <th class="data-label">{{ _('IP address') }}</th>
          <th class="data-label">{{ _('Hostname') }}</th>
          <th class="data-label">{{ _('Netmask') }}</th>
          <th class="data-label">{{ _('Gateway') }}</th>
          {%- if has_current_user_permission('guest_server.administrate') %}
          <td><a class="button button--compact" href="{{ url_for('.address_create_form', server_id=server.id) }}" title="{{ _('Add server address') }}">{{ render_icon('add') }}</a></th>
          {%- endif %}
        </tr>
      </thead>
      <tbody>
        {%- for address in sort_addresses(server.addresses) %}
        <tr>
          <td>{{ render_ip_address(address) }}</td>
          <td>{{ render_hostname(address, setting) }}</td>
          <td>{{ render_netmask(address, setting) }}</td>
          <td>{{ render_gateway(address, setting) }}</td>
          {%- if has_current_user_permission('guest_server.administrate') %}
          <td><a class="button button--compact" href="{{ url_for('.address_update_form', address_id=address.id) }}" title="{{ _('Update server address') }}">{{ render_icon('edit') }}</a></td>
          {%- endif %}
        </tr>
        {%- endfor %}
      </tbody>
    </table>

    <div class="row mt">
      <div style="flex-basis: 50%;">

        <div class="data-label">{{ _('Notes by owner') }}</div>
        <div class="data-value">{{ server.notes_owner|fallback(_('none')) }}</div>

      </div>
      <div style="flex-basis: 50%;">

        <div class="data-label">{{ _('Notes by admin') }}</div>
        <div class="data-value">{{ server.notes_admin|fallback(_('none')) }}</div>

      </div>
    </div>

  </div>

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(() => {
    confirmed_delete_on_click('[data-action="delete-server"]', '{{ _('Delete server?') }}');
  });
</script>
{% endblock %}
