{% extends 'layout/admin/guest_server.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/guest_server.html' import render_hostname, render_ip_address %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user_avatar.html' import render_user_avatar_and_name %}
{% set current_page_party = party %}
{% set current_tab = 'servers' %}
{% set page_title = _('Guest Servers') %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>{{ page_title }} {{ render_extra_in_heading(servers|length) }}</h1>
    </div>
    {%- if has_current_user_permission('guest_server.administrate') %}
    <div class="column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.server_create_form', party_id=party.id) }}" title="{{ _('Register guest server') }}">{{ render_icon('add') }} <span>{{ _('Add') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- if servers %}
    {%- for server in servers|sort(attribute='created_at', reverse=True) %}
  <a href="{{ url_for('.server_view', server_id=server.id) }}" class="box" style="border-left: {{ '#55cc00' if server.approved else '#ffcc11' }} solid 0.25rem;">

    <div class="row">
      <div style="flex-basis: 33%;">

        <div class="data-label">{{ _('Owner') }}</div>
        <div class="data-value">{{ render_user_avatar_and_name(users_by_id[server.owner_id], size=20) }}</div>

      </div>
      <div style="flex-basis: 33%;">

        <div class="data-label">{{ _('Status') }}</div>
        <div class="data-value">{{ render_tag(_('approved'), class='color-success') if server.approved else render_tag(_('pending'), class='color-warning') }}</div>

      </div>
      <div style="flex-basis: 33%;">

      </div>
    </div>

    <div class="mt">
      <div class="row">
        <div style="flex-basis: 33%;">

          <table class="index">
            <thead>
              <tr>
                <th class="data-label">{{ _('IP address') }}</th>
                <th class="data-label">{{ _('Hostname') }}</th>
              </tr>
            </thead>
            <tbody>
              {%- for address in sort_addresses(server.addresses) %}
              <tr>
                <td>{{ render_ip_address(address) }}</td>
                <td>{{ render_hostname(address, setting) }}</td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>

        </div>
        <div style="flex-basis: 33%;">

          <div class="data-label">{{ _('Notes by owner') }}</div>
          <div class="data-value">{{ server.notes_owner|fallback(_('none')) }}</div>

        </div>
        <div style="flex-basis: 33%;">

          <div class="data-label">{{ _('Notes by admin') }}</div>
          <div class="data-value">{{ server.notes_admin|fallback(_('none')) }}</div>

        </div>
      </div>
    </div>

  </a>
    {%- endfor %}
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">{{ _('No servers registered.') }}</div>
  </div>
  {%- endif %}

{%- endblock %}
