{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_check %}
{% set current_page = 'guest_server_admin' %}
{% set current_page_party = party %}
{% set page_title = _('Register guest server') %}

{% block before_body %}
{{ render_backlink(url_for('.index', party_id=party.id), _('Guest Servers')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.server_create', party_id=party.id) }}" method="post">
    {{ form_field(form.owner, maxlength=40, autofocus='autofocus') }}

    <div class="row">
      <div class="column-auto">
        {{ form_field(form.ip_address) }}
      </div>
      <div class="column-auto">
        {{ form_field(form.hostname) }}
      </div>
    </div>

    {{ form_field(form.notes_admin) }}
    {{ form_field_check(form.approved) }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
