{% extends 'layout/admin/guest_server.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_party = party %}
{% set current_tab = 'setting' %}
{% set page_title = [_('Guest Servers'), _('Settings')] %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ _('Settings') }}</h1>
    </div>
    {%- if has_current_user_permission('guest_server.administrate') %}
    <div class="column-auto column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.setting_update_form', party_id=party.id) }}" title="{{ _('Update settings') }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">
    <div class="row row--space-between">
      <div class="column-auto" style="flex-basis: 25%;">

        <div class="data-label">{{ _('Netmask') }}</div>
        <div class="data-value">
          {%- if setting.netmask %}
          <span class="monospace">{{ setting.netmask }}
          {%- else %}
          {{ _('not specified')|dim }}
          {%- endif %}
        </div>

      </div>
      <div class="column-auto" style="flex-basis: 25%;">

        <div class="data-label">{{ _('Gateway') }}</div>
        <div class="data-value">
          {%- if setting.gateway %}
          <span class="monospace">{{ setting.gateway }}</span>
          {%- else %}
          {{ _('not specified')|dim }}
          {%- endif %}
        </div>

      </div>
      <div class="column-auto" style="flex-basis: 25%;">

        <div class="data-label">{{ _('DNS servers') }}</div>
        <div class="data-value">
        {%- with dns_servers = [setting.dns_server1, setting.dns_server2]|reject('none')|list %}
          {%- if dns_servers %}
            {%- for dns_server in dns_servers %}
          <span class="monospace">{{ dns_server }}</span>{% if not loop.last %}, {% endif %}
            {%- endfor %}
          {%- else %}
          {{ _('not specified')|dim }}
          {%- endif %}
        {%- endwith %}
        </div>

      </div>
      <div class="column-auto" style="flex-basis: 25%;">

        <div class="data-label">{{ _('Domain') }}</div>
        <div class="data-value">
          {%- if setting.domain %}
          <span class="monospace">{{ setting.domain }}</span>
          {%- else %}
          {{ _('not specified')|dim }}
          {%- endif %}
        </div>

      </div>
    </div>
  </div>

{%- endblock %}
