{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'guest_server_admin' %}
{% set current_page_party = party %}
{% set page_title = _('Update settings') %}

{% block before_body %}
{{ render_backlink(url_for('.server_index', party_id=party.id), _('Guest Servers')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.setting_update', party_id=party.id) }}" method="post">
    <div class="box">

      <div class="row">
        <div>
          {{ form_field(form.netmask, autofocus='autofocus') }}
        </div>
        <div>
          {{ form_field(form.gateway) }}
        </div>
      </div>

      <div class="row">
        <div>
          {{ form_field(form.dns_server1) }}
        </div>
        <div>
          {{ form_field(form.dns_server2) }}
        </div>
      </div>

      <div class="row">
        <div>
          {{ form_field(form.domain) }}
        </div>
      </div>

    </div>

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}
