{% extends 'layout/admin/seating.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% set current_page_party = party %}
{% set current_tab = 'overview' %}
{% set page_title = [_('Seating Plans'), party.title] %}

{% block body %}

  <h1 class="title">{{ _('Seating Plans') }}</h1>

  <div class="box">
    <div class="row row--equal-sized-centered-columns row--space-around row--wrap bigstats">
      <div>
        <a class="button is-clear" href="{{ url_for('ticketing_category_admin.index', party_id=party.id) }}">
          {{- render_bigstats_item(category_count, ngettext('ticket category', 'ticket categories', category_count)) -}}
        </a>
      </div>
      <div>
        <a class="button is-clear" href="{{ url_for('.area_index', party_id=party.id) }}">
          {{- render_bigstats_item(area_count, ngettext('area', 'areas', area_count)) -}}
        </a>
      </div>
      <div>
        <div class="button is-clear">
          {{- render_bigstats_item(seat_count|numberformat, ngettext('seat', 'seats', seat_count)) -}}
        </div>
      </div>
      <div>
        <a class="button is-clear" href="{{ url_for('.seat_group_index', party_id=party.id) }}">
          {{- render_bigstats_item(group_count, ngettext('seat group', 'seat groups', group_count)) -}}
        </a>
      </div>
    </div>
  </div>

  <div class="row row--space-between block">
    <div>
      <h2 class="title">{{ _('Reservation Preconditions') }} {{ render_extra_in_heading(reservation_preconditions|length) }}</h2>
    </div>
    {%- if has_current_user_permission('seating.administrate') %}
    <div>
      <div class="button-row is-compact is-right-aligned">
        <a class="button is-compact" href="{{ url_for('.reservation_precondition_create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>{{ _('Create') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- if reservation_preconditions %}
  <table class="itemlist is-vcentered is-wide">
    <thead>
      <tr>
        <th colspan="2">{{ _('At earliest') }}</th>
        <th class="number">{{ _('Minimum number of tickets') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for precondition in reservation_preconditions|sort(attribute='at_earliest,minimum_ticket_quantity') %}
      <tr>
        <td>{{ precondition.at_earliest|datetimeformat }}</td>
        <td>{% if now >= precondition.at_earliest %}{{ render_tag(_('Reached')) }}{% endif %}</td>
        <td class="bignumber number">{{ precondition.minimum_ticket_quantity }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="box no-data-message">{{ _('No entries') }}</div>
  {%- endif %}

{%- endblock %}
