{% extends 'layout/admin/seating.html' %}
{% from 'macros/admin/ticketing.html' import render_ticket_flag_revoked, render_ticket_flag_user_checked_in %}
{% from 'macros/admin/user.html' import render_user_microcard %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page_party = party %}
{% set current_tab = 'seat_groups' %}
{% set page_title = [_('Seat Groups'), party.title] %}

{% block body %}

  <h1 class="title">{{ _('Seat Groups') }} {{ render_extra_in_heading(groups|length) }}</h1>

  {%- if groups %}
    {%- for group in groups|sort(attribute='title') %}
  <h2 class="title">{{ group.title }}</h2>

  <div class="block row row--space-between is-vcentered">
    <div>

      <div class="block row">
        <div>
          <div class="data-label">{{ _('ID') }}</div>
          <div class="data-value">{{ group.id }}</div>
        </div>
        <div>
          <div class="data-label">{{ _('Ticket category') }}</div>
          <div class="data-value">{{ group.ticket_category.title }}</div>
        </div>
        <div>
          <div class="data-label">{{ _('Seats') }}</div>
          <div class="data-value">{{ group.seat_quantity }}</div>
        </div>
        <div>
          <div class="data-label">{{ _('Status') }}</div>
          <div class="data-value">{{ render_tag(_('occupied'), class='color-danger') if group.occupied else render_tag(_('available'), class='color-success') }}</div>
        </div>
      </div>

    </div>
    <div>

      {%- if has_current_user_permission('ticketing.administrate_seat_occupancy') %}
      <div class="button-row is-compact is-right-aligned">
        {%- if group.occupied %}
        <a class="button is-compact" data-action="seat-group-release" href="{{ url_for('.seat_group_release', group_id=group.id) }}">{{ render_icon('remove') }} {{ _('Release') }}</a></li>
        {%- else %}
        <a class="button is-compact" href="{{ url_for('.seat_group_occupy_form', group_id=group.id) }}">{{ render_icon('add') }} <span>{{ _('Occupy') }}</span></a>
        {%- endif %}
      </div>
      {%- endif %}

    </div>
  </div>

  <table class="itemlist is-vcentered is-wide">
    <thead>
      <tr>
        <th>{{ _('Description') }}<br>{{ _('Seat ID') }}</th>
        <th>{{ _('Ticket code') }}</th>
        <th>{{ _('Ticket user') }}</th>
        <th>{{ _('Ticket owner') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for seat in group.seats %}
      <tr>
        <td>{{ seat.label|fallback }}<br>{{ seat.id|dim }}</td>
        {%- with ticket = seat.occupied_by_ticket %}
          {%- if ticket %}
        <td>
          <a href="{{ url_for('ticketing_admin.view_ticket', ticket_id=ticket.id) }}"><strong>{{ ticket.code }}</strong></a>
          {%- if ticket.revoked %}<br>{{ render_ticket_flag_revoked() }}{% endif -%}
          {%- if ticket.user_checked_in %}<br>{{ render_ticket_flag_user_checked_in() }}{% endif -%}
        </td>
        <td>
          {%- if ticket.used_by -%}
          {{ render_user_microcard(ticket.used_by) }}
          {%- else -%}
          {{ render_tag(_('available'), class='color-info') }}
          {%- endif -%}
        </td>
        <td>{{ render_user_microcard(ticket.owned_by, tiny_avatar=True) }}</td>
          {%- else %}
        <td colspan="3" class="centered">{{ render_tag(_('seat not assigned'), class='color-info') }}</td>
          {%- endif %}
        {%- endwith %}
      </tr>
      {%- endfor %}
    </tbody>
  </table>
    {%- endfor %}
  {%- else %}
  <div class="box no-data-message">{{ _('No seat groups exist for this party.') }}</div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
<script>
onDomReady(() => {
  confirmed_delete_on_click_then_reload('[data-action="seat-group-release"]', '{{ _('Release group?') }}');
});
</script>
{%- endblock %}
