{% extends 'layout/admin/page.html' %}
{% set page_title = _('Select site to copy pages from') %}

{% block body %}

  <h1 class="title">{{ page_title }}</h1>

  {%- if source_sites %}
  <table class="itemlist is-wide">
    <thead>
      <tr>
        <th>{{ _('Site') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for source_site in source_sites %}
      <tr>
        <td><a href="{{ url_for('.copy_form', target_site_id=target_site.id, source_site_id=source_site.id) }}">{{ source_site.title }}</a></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="box no-data-message">{{ _('No sites available.') }}</div>
  {%- endif %}

{%- endblock %}
