{% extends 'layout/base_admin.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'snippet_admin' %}
{% set title = 'Versionshistorie' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Snippets</a></li>
      <li><a href="{{ url_for('.index_for_party', party_id=snippet.party.id) }}">{{ snippet.party.title }}</a></li>
      <li>{{ snippet.name }}</li>
      <li>{{ render_icon('history') }} {{ title }}</li>
    </ol>
  </nav>

  <table class="index wide">
    <thead>
      <tr>
        <th></th>
        <th>geändert</th>
        <th>durch</th>
      </tr>
    </thead>
    <tbody>
      {%- for version in versions %}
        <tr>
          <td>
            {%- if version.is_current -%}
            {{ render_icon('published', title='öffentlich') }}
            {%- else -%}
            {{ render_icon('archived', title='archiviert') }}
            {%- endif -%}
          </td>
          <td class="nowrap"><a href="{{ url_for('.view_version', id=version.id) }}">{{ render_datetime(version.created_at) }}</a></td>
          <td>{{ render_user_admin_link(version.creator) }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock body %}
