{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'snippet_admin' %}
{% set title = 'Versionshistorie' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table>
    <tr>
      <th>Bezeichner</th>
      <td>{{ snippet.id }}</td>
    </tr>
  </table>

  <table class="index wide">
    <thead>
      <tr>
        <th></th>
        <th>geändert</th>
        <th>durch</th>
      </tr>
    </thead>
    <tbody>
      {%- for version in snippet.get_versions() %}
        <tr>
          <td>
            {%- if version == snippet.get_latest_version() -%}
            {{ render_icon('published', title='öffentlich') }}
            {%- else -%}
            {{ render_icon('archived', title='archiviert') }}
            {%- endif -%}
          </td>
          <td style="white-space: nowrap;"><a href="{{ url_for('.view_version', id=version.id) }}">{{ render_datetime(version.created_at) }}</a></td>
          <td>{{ render_user_link(version.creator) }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock body %}
