{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'snippet_admin' %}
{% set title = 'Snippets' %}

{% block body %}

  <p><strong>Party:</strong> {{ party.title }}

  <h1>Snippets</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Letzte Änderung</th>
        <th>durch</th>
        <th colspan="3">Aktionen</th>
      </tr>
    </thead>
    <tbody>
    {%- for snippet in snippets|sort(attribute='name') %}
      {%- set latest_version = snippet.get_latest_version() %}
      <tr>
        <td>{{ snippet.name }}</td>
        <td style="white-space: nowrap;">
          {%- if g.current_user.has_permission(SnippetPermission.view_history) %}
          {{ render_icon('history') }} <a href="{{ url_for('.history', id=snippet.id) }}" title="Änderungshistorie ansehen">{{ render_datetime(latest_version.created_at) }}</a>
          {%- else %}
          {{ render_datetime(latest_version.created_at) }}
          {%- endif %}
        </td>
        <td>{{ render_user_admin_link(latest_version.creator) }}</td>
        <td><a href="{{ url_for('.view_version', id=latest_version.id) }}" class="action">{{ render_icon('view') }} ansehen</a></td>
        <td>
          {%- if g.current_user.has_permission(SnippetPermission.update) %}
          <a href="{{ url_for('.update_snippet_form', id=snippet.id) }}" class="action">{{ render_icon('edit') }} bearbeiten</a>
          {%- endif %}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  {%- if g.current_user.has_permission(SnippetPermission.create) %}
  <ol class="actions">
    <li><a href="{{ url_for('.create_snippet_form', party_id=party.id) }}">{{ render_icon('add') }} Snippet erstellen</a></li>
  </ol>
  {%- endif %}

  <h2>Mountpoints</h2>

  <table class="index wide">
    <thead>
      <tr>
        <th>URL-Pfad</th>
        <th>Endpoint-Name</th>
        <th>Snippet</th>
      </tr>
    </thead>
    <tbody>
      {%- for mountpoint in mountpoints|sort(attribute='url_path') %}
      <tr>
        <td>{{ mountpoint.url_path }}</td>
        <td>{{ mountpoint.endpoint_suffix }}</td>
        <td>{{ mountpoint.snippet.name }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  {%- if g.current_user.has_permission(SnippetPermission.create) %}
  <ol class="actions">
    <li><a href="{{ url_for('.create_mountpoint_form', party_id=party.id) }}">{{ render_icon('add') }} Mountpoint erstellen</a></li>
  </ol>
  {%- endif %}

{%- endblock body %}
