{% extends 'layout/base_admin.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'snippet_admin' %}
{% set current_page_party = party %}
{% set title = 'Snippetversion ansehen - Fehler' %}

{% block body %}

  <h1>{{ title }}</h1>
  <div class="notification-error">
    <div class="icon">
      {{ render_icon('warning') }}
    </div>
    <div class="body">
      <p>Entschuldigung, es ist ein Fehler aufgetreten.</p>
      <pre>{{ error_message }}</pre>
    </div>
  </div>

{%- endblock body %}
