{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_checkbox, form_fieldset %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'terms.consent' %}
{% set title = 'Allgemeine Geschäftsbedingungen' %}

{% block body %}

  {{ render_notification('warning', 'warning', 'Bitte akzeptiere zunächst die aktuellen AGB.') }}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.consent', token=token) }}" method="post" class="disable-submit-button-on-submit" style="margin-top: 1rem;">
    {%- call form_fieldset() %}
      {{ form_field(form.subject_ids, show_label=False, required='required') }}
      {%- for field in fields %}
      {{ form_field_checkbox(field,
        'Ich akzeptiere die <a href="%s" target="_blank">Allgemeinen Geschäftsbedingungen</a>.'|format(url_for('terms.view_current'))
      ) }}
      {%- endfor %}
    {%- endcall %}

    {{ form_buttons('Zustimmen') }}
  </form>

{%- endblock %}
