{% extends 'layout/admin/authorization.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_avatar_16_and_admin_link %}
{% set current_tab = 'roles' %}
{% set page_title = _('Roles') %}
{% set layout_main_raw = True %}

{% block body %}

  <h1>{{ page_title }} {{ render_extra_in_heading(roles|length) }}</h1>

  <div class="box">
    <table class="index wide">
      <thead>
        <tr>
          <th>{{ _('Role') }}</th>
          <th>{{ _('Assigned permissions') }}</th>
          <th>{{ _('Users with this role') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for role in roles|sort(attribute='id') %}
        <tr>
          <td>
            <strong class="monospace"><a href="{{ url_for('.role_view', role_id=role.id) }}">{{ role.id }}</a></strong><br>
            {{ role.title|fallback(_('no description available')) }}
          </td>
          <td>
          {%- if role.permissions %}
            <ol>
            {%- for permission in role.permissions|sort(attribute='id') %}
              <li class="monospace">{{ permission.id }}</li>
            {%- endfor %}
            </ol>
          {%- else %}
            {{ _('none')|dim }}
          {%- endif %}
          </td>
          <td>
          {%- set user_limit = 10 %}
          {%- if not role.users %}
            {{ _('none')|dim }}
          {%- elif role.users|length <= user_limit %}
            <ol>
            {%- for user in role.users|sort(attribute='screen_name') %}
              <li>{{ render_user_avatar_16_and_admin_link(users_by_id[user.id]) }}</li>
            {%- endfor %}
            </ol>
          {%- else %}
            <em>[{{ _('more than') }} {{ user_limit }}]</em>
          {%- endif %}
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>

{%- endblock %}
