{%- macro render_datetime_custom(dt, pattern) -%}
  {{ dt|format_custom(pattern) }}
{%- endmacro %}


{%- macro render_date(d, smart=True) -%}
  {{ render_time_element(d|format_date_iso, d|format_date_short(smart=smart)) }}
{%- endmacro %}


{%- macro render_date_long(d, smart=True) -%}
  {{ render_time_element(d|format_date_iso, d|format_date_long(smart=smart)) }}
{%- endmacro %}


{%- macro render_datetime(dt, seconds=False, smart=True) -%}
  {{ render_time_element(dt|format_datetime_iso, dt|format_datetime_short(seconds=seconds, smart=smart)) }}
{%- endmacro %}


{%- macro render_datetime_long(dt, seconds=False, smart=True) -%}
  {{ render_time_element(dt|format_datetime_iso, dt|format_datetime_long(smart=smart)) }}
{%- endmacro %}


{%- macro render_time(t, seconds=False) -%}
  {{ render_time_element(t|format_datetime_iso, t|format_time(seconds=seconds)) }}
{%- endmacro %}


{%- macro render_time_element(value, label) -%}
  <time datetime="{{ value }}">{{ label }}</time>
{%- endmacro %}
