{%- from 'macros/icons.html' import render_icon %}


{%- macro form_field(field, class='', prefix=None, suffix=None, note=None) -%}
  <div class="mb{% if field.errors %} invalid{% endif %}">
    {{ field.label(class='form-label') }}
  {%- if prefix is not none or suffix is not none %}
    <div class="form-control-wrapper">
  {%- if prefix is not none %}
    {{ prefix }}
  {%- endif %}
  {%- endif %}
    {{ field(class='form-control ' + class, **kwargs) }}
  {%- if suffix is not none %}
    {{ suffix }}
  {%- endif %}
  {%- if prefix is not none or suffix is not none %}
    </div>
  {%- endif %}
  {%- if note is not none %}
    <div class="form-note">{{ note }}</div>
  {%- endif %}
    {{- _form_field_errors(field) -}}
  </div>
{%- endmacro %}


{%- macro form_field_check(field, label=None) -%}
  <div class="mb{% if field.errors %} invalid{% endif %}">
    {%- with label = label if label is not none else field.label.text %}
    <label class="form-check-label">{{- field(**kwargs) }} <span>{{ label }}</span></label>
    {%- endwith %}
    {{- _form_field_errors(field) -}}
  </div>
{%- endmacro %}


{%- macro form_field_checkboxes(field) -%}
  <div class="mb{% if field.errors %} invalid{% endif %}">
    {{ field.label(class='form-label') }}
    <div class="form-control-checkboxes">
      {{- field(**kwargs) }}
    </div>
    {{- _form_field_errors(field) -}}
  </div>
{%- endmacro %}


{%- macro form_field_radio(field) -%}
  <div class="mb{% if field.errors %} invalid{% endif %}">
    {{ field.label(class='form-label') }}
    <div class="form-control-radios">
      {{- field(**kwargs) }}
    </div>
    {{- _form_field_errors(field) -}}
  </div>
{%- endmacro %}


{%- macro form_form_errors(form) %}
  {%- if form.form_errors %}
  <div class="form-form-errors mb">
{{ _errors(form.form_errors) -}}
  </div>
  {%- endif %}
{%- endmacro %}


{%- macro _form_field_errors(field) %}
  {{- _errors(field.errors) -}}
{%- endmacro %}


{%- macro _errors(errors) %}
    {%- if errors %}
    <ol class="form-errors">
      {%- for error in errors %}
      <li><strong>{{ _('Error') }}:</strong> <span>{{ error }}</span></li>
      {%- endfor %}
    </ol>
    {%- endif -%}
{%- endmacro %}


{# A field set with a submit button. #}
{% macro form_buttons(label, icon=None, color='primary', cancel_button=False, cancel_url=None) -%}
  <div class="form-buttons">
    <div class="button-row button-row--center button-row--compact">
      <button type="submit" class="button color-{{ color }}">{% if icon %}{{ render_icon(icon) }} {% endif %}<span>{{ label }}</span></button>
    {%- if cancel_button %}
      <button type="button" class="button button--outlined cancel">{{ _('Cancel') }}</button>
    {%- endif %}
    {%- if cancel_url %}
      <a class="button button--outlined" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
    {%- endif %}
    </div>
  </div>
{%- endmacro %}


{% macro form_datalist(id, values) -%}
  <datalist id="{{ id }}">
    {%- for value in values %}
    <option value="{{ value }}">
    {%- endfor %}
  </datalist>
{%- endmacro %}
