{%- from 'macros/icons.html' import render_icon %}


{% macro form_fieldset() -%}
  <fieldset>
{{ caller() }}
  </fieldset>
{%- endmacro %}


{%- macro form_field(field, show_label=True, note=None) -%}
  {%- set kwargs2 = kwargs %}
  {%- call _row(field) %}
        {%- if show_label %}{{ field.label }}{% endif %}{{ field(**kwargs2) }}
        {%- if note %} {{ note|dim }}{% endif %}
  {%- endcall %}
{%- endmacro %}


{%- macro form_field_checkbox(field, label) -%}
  {%- set kwargs2 = kwargs %}
  {%- call _row(field) %}
        <div class="checkbox">
          {{- field(**kwargs2) }} {{ field.label(label) }}
        </div>
  {%- endcall %}
{%- endmacro %}


{%- macro form_fields_radio(field) -%}
  {%- set kwargs2 = kwargs %}
  {%- for subfield in field %}
        <div class="radio">
    {%- call _row(field) %}
        {{- subfield(**kwargs2) }} {{ subfield.label }}
    {%- endcall %}
        </div>
  {%- endfor %}
{%- endmacro %}


{%- macro _row(field) -%}
      <div class="form-row{% if field.errors %} erroneous{% endif %}">
{{- caller() -}}
        {{- _errors(field) -}}
      </div>
{%- endmacro %}


{%- macro _errors(field) -%}
        {%- if field.errors %}
        <ol class="errors">
          {%- for error in field.errors %}
          <li><strong>{{ _('Error') }}:</strong> <span>{{ error }}</span></li>
          {%- endfor %}
        </ol>
        {%- endif -%}
{%- endmacro %}


{% macro form_supplement(label=None) -%}
      <div class="form-row">
        <div class="label">{% if label is not none %}{{ label }}{% endif %}</div>
        <div class="supplement">
{{ caller() }}
        </div>
      </div>
{%- endmacro %}


{# A field set with a submit button. #}
{% macro form_buttons(label, icon=None, color='primary', cancel_button=False, cancel_url=None) -%}
  <fieldset class="buttons">
    <div class="button-row button-row--center button-row--compact">
      <button type="submit" class="button color-{{ color }}">{% if icon %}{{ render_icon(icon) }} {% endif %}<span>{{ label }}</span></button>
    {%- if cancel_button %}
      <button type="button" class="button button--outlined cancel">{{ _('Cancel') }}</button>
    {%- endif %}
    {%- if cancel_url %}
      <a class="button button--outlined" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
    {%- endif %}
    </div>
  </fieldset>
{%- endmacro %}


{% macro form_datalist(id, values) -%}
  <datalist id="{{ id }}">
    {%- for value in values %}
    <option value="{{ value }}">
    {%- endfor %}
  </datalist>
{%- endmacro %}
