{%- from 'macros/icons.html' import render_icon %}


{%- macro form_field_simple(field, class='', note=None) -%}
  <div class="form-row-simple{% if field.errors %} invalid{% endif %}">
    {{ field.label(class='form-label') }}
    {{ field(class='form-control ' + class, **kwargs) }}
    {%- if note %}
    <div class="form-note">{{ note|dim }}</div>
    {%- endif %}
    {{- _errors(field) -}}
  </div>
{%- endmacro %}


{%- macro form_field_check_simple(field, label=None) -%}
  <div class="form-row-simple{% if field.errors %} invalid{% endif %}">
    {%- with label = label if label is not none else field.label.text %}
    <label class="form-check-label">{{- field(**kwargs) }} <span>{{ label }}</span></label>
    {%- endwith %}
    {{- _errors(field) -}}
  </div>
{%- endmacro %}


{%- macro form_field_radio_simple(field) -%}
  <div class="form-row-simple{% if field.errors %} invalid{% endif %}">
    {{ field.label(class='form-label') }}
    <div class="form-control-radios">
      {{- field(**kwargs) }}
    </div>
    {{- _errors(field) -}}
  </div>
{%- endmacro %}


{%- macro _errors(field) -%}
    {%- if field.errors %}
    <ol class="errors">
      {%- for error in field.errors %}
      <li><strong>{{ _('Error') }}:</strong> <span>{{ error }}</span></li>
      {%- endfor %}
    </ol>
    {%- endif -%}
{%- endmacro %}


{# A field set with a submit button. #}
{% macro form_buttons(label, icon=None, color='primary', cancel_button=False, cancel_url=None) -%}
  <div class="form-buttons">
    <div class="button-row button-row--center button-row--compact">
      <button type="submit" class="button color-{{ color }}">{% if icon %}{{ render_icon(icon) }} {% endif %}<span>{{ label }}</span></button>
    {%- if cancel_button %}
      <button type="button" class="button button--outlined cancel">{{ _('Cancel') }}</button>
    {%- endif %}
    {%- if cancel_url %}
      <a class="button button--outlined" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
    {%- endif %}
    </div>
  </div>
{%- endmacro %}


{% macro form_datalist(id, values) -%}
  <datalist id="{{ id }}">
    {%- for value in values %}
    <option value="{{ value }}">
    {%- endfor %}
  </datalist>
{%- endmacro %}
