{% from 'macros/user.html' import render_user_link, render_user_screen_name %}


{% macro render_user_avatar(user, size) -%}
<div class="avatar size-{{ size }}{% if size >= 32 and user.is_orga %} orga{% endif %}"{% if not user.deleted %} title="{{ user.screen_name }}"{% endif %}>
  {{- render_user_avatar_image_with_fallback(user) }}
</div>
{%- endmacro %}


{% macro render_user_avatar_and_link(user, size) -%}
<span class="nowrap">{{ render_user_avatar(user, size=size) }} {{ render_user_link(user) }}</span>
{%- endmacro %}


{% macro render_user_avatar_and_name(user, size) -%}
<span class="nowrap">{{ render_user_avatar(user, size=size) }} {{ render_user_screen_name(user) }}</span>
{%- endmacro %}


{% macro render_user_avatar_image_with_fallback(user) -%}
  {%- set avatar_url = user.avatar_url or url_for('static', filename='avatar_fallback.svg') -%}
  <img src="{{ avatar_url }}" alt="Avatar{% if not user.deleted %} von {{ user.screen_name }}{% endif %}" loading="lazy">
{%- endmacro %}
