{% extends 'layout/admin/tourney.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_party = party %}
{% set current_tab = 'categories' %}
{% set page_title = _('Edit category') %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
      <li>{{ _('Tourneys') }}</li>
      <li><a href="{{ url_for('.index', party_id=party.id) }}">{{ _('Categories') }}</a></li>
      <li>{{ category.title }}</li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ page_title }}</h1>

  <form action="{{ url_for('.update', category_id=category.id) }}" method="post">
    {{ form_field(form.title, maxlength=40, autofocus='autofocus') }}

    {{ form_buttons(_('Save'), cancel_url=url_for('.index', party_id=party.id)) }}
  </form>

{%- endblock %}
