{% extends 'layouts/seating_admin.html' %}
{% set current_page_party = party %}
{% set current_tab = None %}
{% set title = '%s - Sitzpläne'|format(party.title) %}

{% block body %}

  <h1>Sitzpläne</h1>

  <table class="index">
    <tr>
      <td class="bignumber number">{{ seat_count }}</td>
      <td style="vertical-align: middle;">Sitzplätze</td>
    </tr>
    <tr>
      <td class="bignumber number">{{ area_count }}</td>
      <td style="vertical-align: middle;"><a href="{{ url_for('.area_index', party_id=party.id) }}">Bereiche</a></td>
    </tr>
    <tr>
      <td class="bignumber number">{{ category_count }}</td>
      <td style="vertical-align: middle;"><a href="{{ url_for('.seat_category_index', party_id=party.id) }}">Sitzplatz-Kategorien</a></td>
    </tr>
    <tr>
      <td class="bignumber number">{{ group_count }}</td>
      <td style="vertical-align: middle;"><a href="{{ url_for('.seat_group_index', party_id=party.id) }}">Sitzplatz-Gruppen</a></td>
    </tr>
  </table>

{%- endblock %}
