{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% set current_page = 'seating_admin' %}
{% set current_page_party = party %}
{% set title = '%s - Sitzpläne'|format(party.title) %}

{% block body %}

  <h1>Sitzpläne</h1>

  <h2>Bereiche {{ render_extra_in_heading(areas.total) }}</h2>
  <p><a href="{{ url_for('.seating_area_index', party_id=party.id) }}">Bereiche</a></p>

  <h2>Sitzplatz-Kategorien {{ render_extra_in_heading(categories|length) }}</h2>
  <p><a href="{{ url_for('.seat_category_index', party_id=party.id) }}">Sitzplatz-Kategorien</a></p>

  <h2>Sitzplatz-Gruppen {{ render_extra_in_heading(groups|length) }}</h2>
  <p><a href="{{ url_for('.seat_group_index', party_id=party.id) }}">Sitzplatz-Gruppen</a></p>

{%- endblock %}
