{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'seating_admin' %}
{% set current_page_party = party %}
{% set title = '%s - Sitzpläne'|format(party.title) %}

{% block head %}
  <style>
    .columns {
      -moz-columns: 4;
      -webkit-columns: 4;
      columns: 4;
    }
  </style>
{% endblock %}

{% block body %}

  <h1>Sitzpläne</h1>

  <h2>Bereiche {{ render_extra_in_heading(areas.total) }}</h2>
  <table class="index wide">
    <thead>
      <tr>
        <th>Titel<br>Slug</th>
        <th>Hintergrundbild<br>Größe</th>
        <th class="centered">Plätze</th>
      </tr>
    </thead>
    <tbody>
      {%- for area in areas.items %}
      <tr>
        <td>
          {{ area.title }}<br>
          {{ area.slug|dim }}
        </td>
        <td>
          {{ area.image_filename }}<br>
          {{ '%d &times; %d Pixel'|format(area.image_width, area.image_height)|dim }}
        </td>
        <td class="centered bignumber">{{ seat_total_per_area[area.id] }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(areas, '.index_for_party', {'party_id': party.id}) }}

  <h2>Sitzplatz-Kategorien {{ render_extra_in_heading(categories|length) }}</h2>
  <div class="columns">
    <ol class="index">
      {%- for category in categories %}
      <li>{{ category.title }}</li>
      {%- endfor %}
    </ol>
  </div>

  <h2>Sitzplatz-Gruppen {{ render_extra_in_heading(groups|length) }}</h2>
  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th>Bezeichung</th>
        <th>Ticket-Kategorie</th>
      </tr>
    </thead>
    <tbody>
      {%- for group in groups|sort(attribute='title') %}
      <tr>
        <td colspan="3"><strong>{{ group.title }}</strong></td>
      </tr>
        {%- for seat in group.seats %}
      <tr>
        <td>{{ seat.id }}</td>
        <td>{{ seat.label|fallback }}</td>
        <td>{{ seat.category.title }}</td>
      </tr>
        {%- endfor %}
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock body %}
