{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/seating_admin.html' import render_main_tabs with context %}
{% set current_page = 'seating_admin' %}
{% set current_page_party = party %}
{% set current_tab = 'seat_categories' %}
{% set title = '%s - Sitzplatz-Kategorien'|format(party.title) %}

{% block before_body %}
{{ render_main_tabs(current_tab) }}
{%- endblock %}

{% block body %}

  <h1>Sitzplatz-Kategorien {{ render_extra_in_heading(categories|length) }}</h1>
  <ol class="index">
    {%- for category in categories %}
    <li>{{ category.title }}</li>
    {%- endfor %}
  </ol>

{%- endblock %}
