{% extends 'layouts/seating_admin.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% set current_page_party = party %}
{% set current_tab = 'seat_categories' %}
{% set title = '%s - Ticket-Kategorien'|format(party.title) %}

{% block body %}

  <h1>Ticket-Kategorien {{ render_extra_in_heading(categories|length) }}</h1>
  <ol class="index">
    {%- for category in categories %}
    <li>
      <strong>{{ category.title }}</strong><br>
      {{ category.id }}
    </li>
    {%- endfor %}
  </ol>

{%- endblock %}
