{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/seating_admin.html' import render_main_tabs with context %}
{% set current_page = 'seating_admin' %}
{% set current_page_party = party %}
{% set current_tab = 'seating_areas' %}
{% set title = '%s - Bereiche'|format(party.title) %}

{% block before_body %}
{{ render_main_tabs(current_tab) }}
{%- endblock %}

{% block body %}

  <h1>Bereiche {{ render_extra_in_heading(areas.total) }}</h1>
  <table class="index wide">
    <thead>
      <tr>
        <th>Titel<br>Slug</th>
        <th>Hintergrundbild<br>Größe</th>
        <th class="centered">Plätze</th>
      </tr>
    </thead>
    <tbody>
      {%- for area in areas.items %}
      <tr>
        <td>
          {{ area.title }}<br>
          {{ area.slug|dim }}
        </td>
        <td>
          {{ area.image_filename }}<br>
          {{ '%d &times; %d Pixel'|format(area.image_width, area.image_height)|dim }}
        </td>
        <td class="centered bignumber">{{ seat_total_per_area[area.id] }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(areas, '.index_for_party', {'party_id': party.id}) }}

{%- endblock %}
