{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% set current_page = 'contentpage.history' %}
{% set title = 'Versionshistorie' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table>
    <tr>
      <th>Bezeichner</th>
      <td>{{ id }}</td>
    </tr>
    <tr>
      <th>URL</th>
      <td>{{ url_path }}</td>
    </tr>
  </table>

  <table class="index wide">
    <thead>
      <tr>
        <th></th>
        <th>geändert</th>
        <th>durch</th>
      </tr>
    </thead>
    <tbody>
      {%- for version in versions %}
        <tr>
          <td>
            {%- if loop.first -%}
            <span class="icon-published" title="öffentlich"></span>
            {%- else -%}
            <span class="icon-archived" title="archiviert"></span>
            {%- endif -%}
          </td>
          <td style="white-space: nowrap;"><a href="{{ url_for('.view_version', id=version.id) }}">{{ render_datetime(version.created_at) }}</a></td>
          <td><a href="{{ url_for('user.view', id=version.creator.id) }}">{{ version.creator.screen_name }}</a></td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock body %}
