{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% set current_page = 'contentpage.index' %}
{% set title = 'Inhaltsseiten' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index" style="width: 100%;">
    <thead>
      <tr>
        <th>Bezeichner</th>
        <th>URL-Pfad</th>
        <th>Letzte Änderung</th>
        <th>durch</th>
        <th colspan="3">Aktionen</th>
      </tr>
    </thead>
    <tbody>
      {%- for page in pages|sort(attribute='name') %}
        {%- set latest_version = page.get_latest_version() %}
        <tr>
          <td>{{ page.name }}</td>
          <td>{{ page.url }}</td>
          <td style="white-space: nowrap;"><a href="{{ url_for('.history', name=page.name) }}" title="Änderungshistorie ansehen">{{ render_datetime(latest_version.created_at) }}</a></td>
          <td><a href="{{ latest_version.creator.id }}">{{ latest_version.creator.name }}</a></td>
          {%- set page_mounted_url = page.generate_url() %}
          {%- if page_mounted_url is not none %}
          <td colspan="2">
            <a href="{{ page_mounted_url }}" class="action"><span class="icon-view"></span> ansehen</a>
          </td>
          {%- else %}
          <td>
            <span class="action hidden"><span class="icon-view"></span> ansehen</span>
          </td>
          <td>
            <a href="{{ url_for('.view_version', id=latest_version.id) }}" class="action"><span class="icon-view"></span> Fallback</a>
          </td>
          {%- endif %}
          <td>
            <a href="{{ url_for('.update_form', name=page.name) }}" class="action"><span class="icon-edit"></span> bearbeiten</a>
          </td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>

  {%- if ContentPagePermission.create in g.current_user.permissions %}
  <ol class="actions">
    <li><a href="{{ url_for('.create_form') }}">Neue Seite anlegen</a></li>
  </ol>
  {%- endif %}

{%- endblock body %}
