{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'language_admin' %}
{% set page_title = _('Languages') %}

{% block before_body %}
{{ render_backlink(url_for('.index'), _('Languages')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.create') }}" method="post">
    <div class="box">
      {{ form_field(form.code, autofocus='autofocus') }}
    </div>

    {{ form_buttons(_('Add')) }}
  </form>

{%- endblock %}
