{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'language_admin' %}
{% set page_title = _('Languages') %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>{{ page_title }} {{ render_extra_in_heading(languages_and_locales|length) }}</h1>
    </div>
  {%- if has_current_user_permission('admin.maintain') %}
    <div>
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>{{ _('Add language') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  {%- if languages_and_locales %}
  <div class="box">

    <table class="index">
      <thead>
        <tr>
          <th>{{ _('Language code') }}</th>
          <th>{{ _('Language') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for language, locale in languages_and_locales|sort(attribute='0.code') %}
        <tr>
          <td>{{ language.code }}</td>
          <td>{{ locale.get_display_name(g.user.locale)|fallback(_('unknown')) }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">{{ _('No languages defined.') }}</div>
  </div>
  {%- endif %}

{%- endblock %}
