{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/misc.html' import render_tag %}


{%- macro render_party(party, days, ticket_sale_stats, show_brand_avatar=True) %}
  <div class="box" style="border-left: {{ '#ff2222' if party.canceled else ('#aaaaaa' if party.archived else '#55cc00') }} solid 0.25rem;">
    <div class="row row--space-between">

      <div class="column-auto" style="width: 40%;">
        <div class="row">
          {%- if show_brand_avatar %}
          <div class="column-auto">
            <div style="margin-right: -0.25rem;">{{ render_brand_avatar(party.brand, '40') }}</div>
          </div>
          {%- endif %}
          <div class="column-auto">
            <a href="{{ url_for('admin_dashboard.view_party', party_id=party.id) }}" class="disguised" style="display: block;">
              <strong>{{ party.title }}</strong><br>
              <span class="monospace">{{ party.id }}</span>
            </a>
          </div>
        </div>
      </div>

      <div class="column-auto" style="width: 30%;">
        <div>
          <div style="font-size: 0.75rem;">
            {{- party.starts_at|dateformat }}, {{ party.starts_at|timeformat('short') }} {{ _('until') }}<br>
            {{- party.ends_at|dateformat }}, {{ party.ends_at|timeformat('short') }}
          </div>

          {%- for day in days %}
          {{ render_tag('{:%a}'.format(day)) }}
          {%- endfor %}

          {%- if party.is_over %}
          {{ render_tag(_('over'), class='color-disabled') }}
          {%- endif %}
        </div>
      </div>

      <div class="column-auto" style="width: 30%;">
        <div class="mb">
        {{ _render_ticket_sale_stats(ticket_sale_stats) }}
        </div>

        {%- if party.ticket_management_enabled %}
        {{ render_tag(_('Ticket management') ~ ' ' ~ _('open'), class='color-success', icon='ticket') }}<br>
        {%- endif %}
        {%- if party.seat_management_enabled %}
        {{ render_tag(_('Seat management') ~ ' ' ~ _('open'), class='color-success', icon='seating-area') }}<br>
        {%- endif %}
        {%- if party.canceled %}
        {{ render_tag(pgettext('party', 'canceled'), class='color-danger', icon='disabled') }}
        {%- endif %}
        {%- if party.archived %}
        {{ render_tag(_('archived'), class='color-disabled', icon='archived') }}
        {%- endif %}
      </div>

    </div>{# .row #}
  </div>{# .box #}
{%- endmacro %}


{% macro _render_ticket_sale_stats(ticket_sale_stats) -%}
  {%- with tickets_total_max_specified = (ticket_sale_stats.tickets_max is not none) %}
  <div class="progress" style="height: 0.25rem;">
    {%- if tickets_total_max_specified %}
    <div class="progress-bar color-success" style="width: calc(100% * {{ ticket_sale_stats.tickets_sold }} / {{ ticket_sale_stats.tickets_max }});"></div>
    {%- endif %}
  </div>

  <div style="font-size: 0.75rem; text-align: center;">
    <strong>{{ format_number(ticket_sale_stats.tickets_sold) }}</strong>
    {{ _('of') }}
    <strong>{{ format_number(ticket_sale_stats.tickets_max) if tickets_total_max_specified else '?' }}</strong>
    {{ _('tickets sold') }}
  </div>

    {%- if tickets_total_max_specified and ticket_sale_stats.tickets_sold >= ticket_sale_stats.tickets_max %}
  <div style="text-align: center;">
  {{ render_tag(_('sold out'), class='color-success', icon='ticket') }}
  </div>
    {%- endif %}
  {%- endwith %}
{%- endmacro %}
