{% extends 'layouts/admin/shop.html' %}
{% set current_page_shop = shop %}
{% set current_page = 'shop_email_admin' %}
{% set current_tab = 'email' %}
{% set title = 'E-Mail' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('shop_shop_admin.index') }}">Shops</a></li>
      <li><a href="{{ url_for('shop_shop_admin.view', shop_id=shop.id) }}">{{ shop.title }}</a></li>
    </ol>
  </nav>
  <h1>E-Mail</h1>

  <h2>Beispiele</h2>
  <ul>
    <li><a href="{{ url_for('.view_example_order_placed', shop_id=shop.id) }}">Bestellbestätigung</a></li>
    <li><a href="{{ url_for('.view_example_order_paid', shop_id=shop.id) }}">Zahlungseingang</a></li>
    <li><a href="{{ url_for('.view_example_order_canceled', shop_id=shop.id) }}">Stornierung</a></li>
  </ul>

  <h2>Konfiguration</h2>
  <table class="index">
    <tr>
      <th>Konfigurations-ID</th>
      <td class="monospace">{{ email_config.id }}</td>
    </tr>
    <tr>
      <th>Absender-Adresse</th>
      <td>{{ email_config.sender.address }}</td>
    </tr>
    <tr>
      <th>Absender-Name</th>
      <td>{{ email_config.sender.name|fallback }}</td>
    </tr>
    <tr>
      <th>Kontaktadresse</th>
      <td>{{ email_config.contact_address|fallback }}</td>
    </tr>
  </table>

{%- endblock %}
