{% extends 'layout/admin/base.html' %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'shop_email_admin' %}
{% set current_page_brand = brand %}
{% set current_page_shop = shop %}
{% set page_title = _('Email') %}

{% block head %}
<style>
.email-example code {
  background-color: #eeeeee;
  display: block;
  font-size: 0.75rem;
  max-width: 46rem;
  overflow-x: scroll;
  padding: 1rem;
}
</style>
{%- endblock %}

{% block body %}

  <h1>{{ _('Email') }}</h1>

  <h2>{{ _('Examples') }}</h2>

  <div class="box">

    <details class="email-example">
      <summary>{{ _('Order confirmation') }}</summary>
      {{ render_message_text(placed_order_message_text) }}
    </details>

    <details class="email-example">
      <summary>{{ _('Payment receipt') }}</summary>
      {{ render_message_text(paid_order_message_text) }}
    </details>

    <details class="email-example">
      <summary>{{ _('Cancelation') }}</summary>
      {{ render_message_text(canceled_order_message_text) }}
    </details>

  </div>

  <h2>{{ _('Configuration') }}</h2>
  <div class="box">

    <div class="row mb">
      <div>

        <div class="data-label">{{ _('Sender address') }}</div>
        <div class="data-value">{{ email_config.sender.address }}</div>

      </div>
      <div>

        <div class="data-label">{{ _('Sender name') }}</div>
        <div class="data-value">{{ email_config.sender.name|fallback }}</div>

      </div>
    </div>

    <div class="data-label">{{ _('Contact address') }}</div>
    <div class="data-value">{{ email_config.contact_address|fallback }}</div>

  </div>

{%- endblock %}

{% macro render_message_text(message_text) -%}
  {%- if message_text -%}
    <pre><code>{{ message_text }}</code></pre>
  {%- else -%}
    {{ render_notification('Could not assemble example email. Are all necessary templates defined?', category='danger') }}
  {%- endif -%}
{%- endmacro %}
