{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% from 'macros/user_admin.html' import render_user_avatar_16_and_link %}
{% set current_page = 'newsletter_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Newsletter - Bestellstatus ({})'.format(brand.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Newsletter</li>
      <li>{{ brand.title }}</li>
    </ol>
  </nav>
  <h1>Bestellstatus</h1>

  <div class="row row--space-around row--wrap bigstats">
    <div class="column-auto">
      {{ render_bigstats_item('{:n}'.format(totals[State.requested]), 'angefordert', icon_name='enabled', color='#008800') }}
    </div>
    <div class="column-auto">
      {{ render_bigstats_item('{:n}'.format(totals[State.declined]), 'abgelehnt', icon_name='disabled', color='#cc0000') }}
    </div>
    <div class="column-auto">
      {{ render_bigstats_item('{:n}'.format(totals['total']), '&sum; gesamt'|safe) }}
    </div>
  </div>

  {%- if g.current_user.has_permission(NewsletterPermission.export_subscribers) %}
  <div class="button-row">
    <div class="dropdown">
      <button class="dropdown-toggle button">
        <div class="block-with-icon">
          <div class="block-with-icon-icon">{{ render_icon('download') }}</div>
          <div class="block-with-icon-body">Abonnenten {{ render_icon('caret-down') }}<br>exportieren</div>
        </div>
      </button>
      <ol>
        <li><a href="{{ url_for('.export_subscribers', brand_id=brand.id) }}">{{ render_icon('download') }} Benutzernamen und E-Mail-Adressen (als JSON)</a></li>
        <li><a href="{{ url_for('.export_subscriber_email_addresses', brand_id=brand.id) }}">{{ render_icon('download') }} nur E-Mail-Adressen (als Text)</a></li>
      </ol>
    </div>
  </div>
  {%- endif %}

  <table class="index">
    <thead>
      <tr>
        <th>Benutzer</th>
        <th>Bestellstatus</th>
      </tr>
    </thead>
    <tbody>
      {%- for user, state in subscription_states %}
      <tr>
        <td>{{ render_user_avatar_16_and_link(user) }}</td>
        <td>{{ render_icon('enabled' if state == State.requested else 'disabled') }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock %}
