{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% from 'macros/user_admin.html' import render_user_avatar_16_and_link %}
{% set current_page = 'newsletter_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Newsletter - Bestellstatus ({})'.format(brand.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Newsletter</li>
      <li>{{ brand.title }}</li>
    </ol>
  </nav>
  <h1>Bestellstatus</h1>

  {%- if g.current_user.has_permission(NewsletterPermission.export_subscribers) %}
  <div class="button-row">
    <a class="button" href="{{ url_for('.export_subscribers', brand_id=brand.id) }}">
      <div class="block-with-icon">
        <div class="block-with-icon-icon">
          {{ render_icon('download') }}
        </div>
        <div class="block-with-icon-body">
          Abonnenten exportieren<br>
          <small>{{ 'Benutzernamen und E-Mail-Adressen (als JSON)'|dim }}</small>
        </div>
      </div>
    </a>
    <a class="button" href="{{ url_for('.export_subscriber_email_addresses', brand_id=brand.id) }}">
      <div class="block-with-icon">
        <div class="block-with-icon-icon">
          {{ render_icon('download') }}
        </div>
        <div class="block-with-icon-body">
          Abonnenten exportieren<br>
          <small>{{ 'nur E-Mail-Adressen (als Text)'|dim }}</small>
        </div>
      </div>
    </a>
  </div>
  {%- endif %}

  <div class="row row--space-around bigstats">
    <div class="column-auto">
      {{ render_bigstats_item(totals[State.requested], 'angefordert', icon_name='enabled', color='#008800') }}
    </div>
    <div class="column-auto">
      {{ render_bigstats_item(totals[State.declined], 'abgelehnt', icon_name='disabled', color='#cc0000') }}
    </div>
    <div class="column-auto">
      {{ render_bigstats_item(totals['total'], '&sum; gesamt'|safe) }}
    </div>
  </div>

  <table class="index">
    <thead>
      <tr>
        <th>Benutzer</th>
        <th>Bestellstatus</th>
      </tr>
    </thead>
    <tbody>
      {%- for user, state in subscription_states %}
      <tr>
        <td>{{ render_user_avatar_16_and_link(user) }}</td>
        <td>{{ render_icon('enabled' if state == State.requested else 'disabled') }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock %}
