{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime_long %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_avatar_tiny_and_link %}
{% set current_page = 'party.archive' %}
{% set title = 'Party-Archiv' %}

{% block body %}

  <h1>{{ title }}</h1>

  <div class="party-archive">
  {%- for party in parties %}
    <h2>{{ party.title }}</h2>
    <p class="meta"><time datetime="{{ party.starts_at|format_date_iso }}">{{ party.starts_at|format_date_long }} – {{ party.ends_at|format_date_long }}</time></p>

    {%- with attendees = attendees_by_party[party]|sort(attribute='screen_name') %}
      {%- if attendees %}
    <table class="index wide">
      <tr>
        <th>{{ render_icon('users') }} Teilnehmer</th>
      </tr>
      <tr>
        <td style="line-height: 1.6;">
          {%- for user in attendees -%}
            {{- render_user_avatar_tiny_and_link(user) -}}
            {%- if not loop.last %}, {% endif -%}
          {%- endfor %}
        </td>
      </tr>
    </table>
      {%- endif %}
    {%- endwith %}
  {%- endfor %}
  </div>

{%- endblock body %}
