{% extends 'layout/base.html' %}
{% from 'macros/user_avatar.html' import render_user_avatar %}
{% set current_page = 'orga_team' %}
{% set title = 'Team' %}

{% block head %}
  <style>
    .orga-overview {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      justify-content: center;
    }
    .orga-overview li {
      font-size: 0.9rem;
      margin: 1rem 0;
      padding: 0;
      text-align: center;
      width: 200px;
    }
    .orga-overview li p {
      line-height: 1.4;
      margin: 0.3rem 0 0 0;
      padding: 0;
    }
  </style>
{%- endblock head %}

{% block body %}

  <h1>{{ title }}</h1>

{{ render_snippet('orga_team_intro', ignore_if_unknown=True)|safe }}

  <ol class="orga-overview">
    {%- for membership in memberships|sort(attribute='user.screen_name') %}
    {%- set user = membership.user %}
    <li>
      <div>
        {%- if user.avatar %}
        {{ render_user_avatar(user) }}
        {%- else %}
        <div class="avatar"></div>
        {%- endif %}
      </div>
      <p>
        <strong>{{ user.screen_name }}</strong><br>
        {%- if user.detail.full_name %}
        {{ user.detail.full_name }}<br>
        {%- endif -%}
        {{ membership.orga_team.title }}
        {%- if membership.duties %} ({{ membership.duties }}){% endif %}
      </p>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
