{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_main_tabs %}

{% block before_body %}
  {%- with party = current_page_party %}
{{
  render_main_tabs(
    Navigation(None)
      .add_item(url_for('shop_shop_admin.view_for_party', party_id=party.id), 'Shop', id='shop', required_permission=ShopPermission.view)
      .add_item(url_for('shop_article_admin.index_for_party', party_id=party.id), 'Artikel', id='articles', required_permission=ShopArticlePermission.view)
      .add_item(url_for('shop_order_admin.index_for_party', party_id=party.id), 'Bestellungen', id='orders', required_permission=ShopOrderPermission.view)
      .add_item(url_for('shop_shipping_admin.view_for_party', party_id=party.id), 'Versand', id='shipping', required_permission=ShopOrderPermission.view)
    , current_tab
  )
}}
  {%- endwith %}
{%- endblock %}
