{% extends 'layout/admin/shop/storefront.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set page_title = _('Create storefront') %}

{% block before_body %}
{{ render_backlink(url_for('.index_for_shop', shop_id=shop.id), _('Storefronts')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  {%- if not order_number_sequence_available %}
  <div class="notification color-warning">
    Es sind keine Bestellnummer-Sequenzen für diesen Shop hinterlegt. Ohne sie können keine Storefronts angelegt werden.<br><br>
    <a class="button color-primary" href="{{ url_for('shop_order_admin.create_number_sequence_form', shop_id=shop.id) }}">{{ _('Create order number sequence') }}</a>
  </div>
  {%- else %}
  <form action="{{ url_for('.create', shop_id=shop.id) }}" method="post">
    {{ form_field(form.id, maxlength=80, autofocus='autofocus') }}
    {{ form_field(form.catalog_id) }}
    {{ form_field(form.order_number_sequence_id, note='<a href="%s">Neue Sequenz erstellen</a>'|format(url_for('shop_order_admin.create_number_sequence_form', shop_id=shop.id))) }}

    {{ form_buttons(_('Create')) }}
  </form>
  {%- endif %}

{%- endblock %}
