{% extends 'layout/admin/shop/storefront.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set title = 'Storefront anlegen' %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ title }}</h1>

  {%- if not order_number_sequence_available %}
  <div class="notification color-warning">
    Es sind keine Bestellnummer-Sequenzen für diesen Shop hinterlegt. Ohne sie können keine Storefronts angelegt werden.<br><br>
    <a class="button color-primary" href="{{ url_for('shop_order_admin.create_number_sequence_form', shop_id=shop.id) }}">Bestellnummer-Sequenz anlegen</a>
  </div>
  {%- else %}
  <form action="{{ url_for('.create', shop_id=shop.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.id, maxlength=80, required='required', autofocus='autofocus') }}
      {{ form_field(form.catalog_id) }}
      {{ form_field(form.order_number_sequence_id, required='required', note='<a href="%s">Neue Sequenz erstellen</a>'|format(url_for('shop_order_admin.create_number_sequence_form', shop_id=shop.id))) }}
    {% endcall %}

    {{ form_buttons(_('Save'), cancel_url=url_for('.index_for_shop', shop_id=shop.id)) }}
  </form>
  {%- endif %}

{%- endblock %}
