{% extends 'layout/admin/shop/storefront.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set page_title = _('Storefronts') %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ page_title }} {{ render_extra_in_heading(storefronts|length) }}</h1>
    </div>
    <div class="column-auto">
      <div class="button-row button-row--right">
        {%- if has_current_user_permission('shop.create') %}
        <a class="button" href="{{ url_for('.create_form', shop_id=shop.id) }}">{{ render_icon('add') }} <span>{{ _('Create storefront') }}</span></a>
        {%- endif %}
        {%- if has_current_user_permission('shop.update') %}
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('chevron-down') }}</span></button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('shop_order_admin.create_number_sequence_form', shop_id=shop.id) }}">{{ render_icon('add') }} {{ _('Create order number sequence') }}</a></li>
          </ol>
        </div>
        {%- endif %}
      </div>
    </div>
  </div>

  <div class="box">
    {%- if storefronts %}
    <table class="index wide">
      <thead>
        <tr>
          <th>{{ _('ID') }}</th>
          <th>{{ _('Order number sequence') }}</th>
          <th>{{ _('Status') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for storefront in storefronts|sort(attribute='id') %}
        <tr>
          <td><a href="{{ url_for('.view', storefront_id=storefront.id) }}"><strong>{{ storefront.id }}</strong></a></td>
          <td>{{ order_number_prefixes_by_sequence_id[storefront.order_number_sequence_id] }}</td>
          <td>
            {%- if storefront.closed -%}
            {{ render_tag(_('closed'), icon='disabled', class='color-disabled') }}
            {%- else -%}
            {{ render_tag(_('open'), icon='success', class='color-success') }}
            {%- endif -%}
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No storefronts exist.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
