{% extends 'layout/admin/shop/storefront.html' %}
{% from 'macros/admin/shop/storefront.html' import render_enabled_payment_gateways, render_storefront_status %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set page_title = _('Storefronts') %}

{% block body %}

  <div class="row row--space-between block">
    <div>
      <h1 class="title">{{ page_title }} {{ render_extra_in_heading(storefronts|length) }}</h1>
    </div>
    <div>
      <div class="button-row is-right-aligned">
        {%- if has_current_user_permission('shop.create') %}
        <a class="button" href="{{ url_for('.create_form', shop_id=shop.id) }}">{{ render_icon('add') }} <span>{{ _('Create storefront') }}</span></a>
        {%- endif %}
        {%- if has_current_user_permission('shop.update') %}
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('chevron-down') }}</span></button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('shop_order_admin.create_number_sequence_form', shop_id=shop.id) }}">{{ render_icon('add') }} {{ _('Create order number sequence') }}</a></li>
          </ol>
        </div>
        {%- endif %}
      </div>
    </div>
  </div>

  {%- if storefronts %}
  <table class="itemlist is-wide">
    <thead>
      <tr>
        <th>{{ _('ID') }}</th>
        <th>{{ _('Order number sequence') }}</th>
        <th>{{ _('Catalog') }}</th>
        <th>{{ _('Payment gateways') }}</th>
        <th>{{ _('Status') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for storefront in storefronts|sort(attribute='id') %}
      <tr>
        <td><a href="{{ url_for('.view', storefront_id=storefront.id) }}"><strong>{{ storefront.id }}</strong></a></td>
        <td>{{ storefront.order_number_prefix }}</td>
        <td>{{ storefront.catalog_id|fallback }}</td>
        <td>{{ render_enabled_payment_gateways(storefront.enabled_payment_gateways) }}</td>
        <td>{{ render_storefront_status(storefront) }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">{{ _('No storefronts exist.') }}</div>
  </div>
  {%- endif %}

{%- endblock %}
