{% extends 'layouts/admin/shop/storefront.html' %}
{% from 'macros/forms.html' import form_buttons, form_field_checkbox, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page_shop = shop %}
{% set title = 'Storefront bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index_for_shop', shop_id=shop.id) }}">Storefronts</a></li>
      <li><a href="{{ url_for('.view', storefront_id=storefront.id) }}">{{ storefront.id }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', storefront_id=storefront.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.catalog_id, autofocus='autofocus') }}
      {{ form_field(form.order_number_sequence_id, required='required') }}
      {{ form_field_checkbox(form.closed, form.closed.label.text) }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.view', storefront_id=storefront.id)) }}
  </form>

{%- endblock %}
