{% extends 'layout/admin/shop/storefront.html' %}
{% from 'macros/forms.html' import form_buttons, form_field_check, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set page_title = _('Edit storefront') %}

{% block body %}

  <h1>{{ render_icon('edit') }} {{ page_title }}</h1>

  <form action="{{ url_for('.update', storefront_id=storefront.id) }}" method="post">
    {{ form_field(form.catalog_id, autofocus='autofocus') }}
    {{ form_field(form.order_number_sequence_id) }}
    {{ form_field_check(form.closed, form.closed.label.text) }}

    {{ form_buttons(_('Save'), cancel_url=url_for('.view', storefront_id=storefront.id)) }}
  </form>

{%- endblock %}
