{% extends 'layout/admin/shop/storefront.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set page_title = [_('Storefront'), storefront.id] %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ storefront.id }}</h1>
    </div>
    {%- if has_current_user_permission('shop.update') %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.update_form', storefront_id=storefront.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">

    <div class="data-label">{{ _('Shop') }}</div>
    <div class="data-value mb"><a href="{{ url_for('shop_shop_admin.view', shop_id=shop.id) }}">{{ shop.title }}</a></div>

    <div class="row mb">
      <div class="column-auto">
        <div class="data-label">{{ _('Catalog') }}</div>
        <div class="data-value">{{ storefront.catalog_id|fallback }}</div>
      </div>
      <div class="column-auto">
        <div class="data-label">{{ _('Order number sequence') }}</div>
        <div class="data-value">{{ order_number_prefix }}</div>
      </div>
    </div>

    <div class="data-label">{{ _('Status') }}</div>
    <div class="data-value">
      {%- if storefront.closed -%}
      {{ render_tag(_('closed'), icon='disabled', class='color-disabled') }}
      {%- else -%}
      {{ render_tag(_('open'), icon='success', class='color-success') }}
      {%- endif -%}
    </div>
  </div>

{%- endblock %}
