{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'board_admin' %}
{% set current_page_brand = brand %}
{% set title = '%s - Forum'|format(board_id) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Foren</li>
      <li><a href="{{ url_for('.board_index_for_brand', brand_id=board_brand_id) }}">{{ brand.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ board_id }}</h1>

  {%- if g.current_user.has_permission(BoardCategoryPermission.create) %}
  <div class="button-row">
    <a class="button" href="{{ url_for('.category_create_form', board_id=board_id) }}">{{ render_icon('add') }} <span>Kategorie erstellen</span></a>
  </div>
  {%- endif %}

  <table class="index wide">
    <thead>
      <tr>
        <th>Position</th>
        <th>Titel, Slug</th>
        <th>Beschreibung</th>
        <th class="centered">Themen</th>
        <th class="centered">Beiträge</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for category in categories|sort(attribute='position') %}
      <tr>
        <td class="centered">{{ category.position }}</td>
        <td>
          <strong>{{ category.title }}</strong><br>
          {{ category.slug|dim }}
          {%- if category.hidden %}
          <br>{{ render_tag('versteckt', class='color-disabled', icon='hidden') }}
          {%- endif %}
        </td>
        <td>{{ category.description }}</td>
        <td class="centered bignumber">{{ category.topic_count|separate_thousands }}</td>
        <td class="centered bignumber">{{ category.posting_count|separate_thousands }}</td>
        <td>
          {%- if g.current_user.has_permission(BoardCategoryPermission.update) -%}
          <div class="dropdown left">
            <button class="dropdown-toggle button button--compact">{{ render_icon('caret-down') }}</button>
            <ol>
              <li><a href="{{ url_for('.category_update_form', category_id=category.id) }}">{{ render_icon('edit') }} Bearbeiten</a></li>
              <li><a data-action="category-move-up" href="{{ url_for('.category_move_up', category_id=category.id) }}">{{ render_icon('arrow-up') }} Nach oben schieben</a></li>
              <li><a data-action="category-move-down" href="{{ url_for('.category_move_down', category_id=category.id) }}">{{ render_icon('arrow-down') }} Nach unten schieben</a></li>
              {%- if category.hidden %}
              <li><a data-action="category-unhide" href="{{ url_for('.category_unhide', category_id=category.id) }}">{{ render_icon('view') }} Sichtbar machen</a></li>
              {%- else %}
              <li><a data-action="category-hide" href="{{ url_for('.category_hide', category_id=category.id) }}">{{ render_icon('hidden') }} Verstecken</a></li>
              {%- endif %}
              {%- if category.topic_count == 0 %}
              <li><a data-action="category-delete" href="{{ url_for('.category_delete', category_id=category.id) }}">{{ render_icon('delete') }} Löschen</a></li>
              {%- endif %}
            </ol>
          </div>
          {%- endif -%}
        </td>
      </tr>
    {%- else %}
      <tr>
        <td colspan="6" class="centered">
          <p class="dimmed">Dieses Forum enthält noch keine Kategorien.</p>
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        post_on_click_then_reload('[data-action="category-move-up"]');
        post_on_click_then_reload('[data-action="category-move-down"]');
        post_on_click_then_reload('[data-action="category-hide"]');
        delete_on_click_then_reload('[data-action="category-unhide"]');
        confirmed_delete_on_click_then_reload('[data-action="category-delete"]', 'Kategorie entfernen?');
      });
    </script>
{%- endblock %}
