{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'board_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Kategorie erstellen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Foren</li>
      <li><a href="{{ url_for('.board_index_for_brand', brand_id=brand.id) }}">{{ brand.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.category_create', board_id=board_id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.slug, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.title, maxlength=40) }}
      {{ form_field(form.description, maxlength=80) }}
    {% endcall %}

    {{ form_buttons(_('Create'), cancel_url=url_for('.board_view', board_id=board_id)) }}
  </form>

{%- endblock %}
