{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'board_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('Create category') %}

{% block before_body %}
{{ render_backlink(url_for('.board_view', board_id=board.id), _('Board') ~ ' "%s"'|format(board.id)) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.category_create', board_id=board.id) }}" method="post">
    {{ form_field(form.slug, maxlength=40, autofocus='autofocus') }}
    {{ form_field(form.title, maxlength=40) }}
    {{ form_field(form.description, maxlength=80) }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
