{% macro render_user_avatar(user) %}
  {%- set is_orga = user.is_orga_for_party(g.party) %}
  {%- if user.avatar -%}
<div class="avatar{% if is_orga %} orga{% endif %}" title="{{ user.screen_name }}">
  {{ render_user_avatar_image(user) }}
  {%- if is_orga %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
  {%- endif -%}
{%- endmacro %}


{% macro render_user_avatar_medium(user) -%}
  {%- set is_orga = user.is_orga_for_party(g.party) %}
<div class="avatar size-medium{% if is_orga %} orga{% endif %}" title="{{ user.screen_name }}">
  {%- set avatar_url = user.avatar.url if user.avatar else url_for('core.static', filename='avatar_fallback.svg') %}
  {{ _render_user_avatar_image(avatar_url, user.screen_name) }}
  {%- if is_orga %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
{%- endmacro %}


{% macro render_user_avatar_small(user) -%}
  {%- set is_orga = user.is_orga_for_party(g.party) %}
<div class="avatar size-small{% if is_orga %} orga{% endif %}" title="{{ user.screen_name }}">
  {%- set avatar_url = user.avatar.url if user.avatar else url_for('core.static', filename='avatar_fallback.svg') %}
  {{ _render_user_avatar_image(avatar_url, user.screen_name) }}
  {%- if is_orga %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
{%- endmacro %}


{% macro render_user_avatar_mini(user) -%}
<div class="avatar size-mini{% if user.is_orga_for_party(g.party) %} orga{% endif %}" title="{{ user.screen_name }}">
  {%- set avatar_url = user.avatar.url if user.avatar else url_for('core.static', filename='avatar_fallback.svg') %}
  {{ _render_user_avatar_image(avatar_url, user.screen_name) }}
  {%- if user.is_orga_for_party(g.party) %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
{%- endmacro %}


{% macro render_user_avatar_tiny(user) -%}
<div class="avatar size-tiny" title="{{ user.screen_name }}">
  {%- set avatar_url = user.avatar.url if user.avatar else url_for('core.static', filename='avatar_fallback.svg') %}
  {{ _render_user_avatar_image(avatar_url, user.screen_name) }}
</div>
{%- endmacro %}


{% macro render_user_avatar_image(user) -%}
  {{ _render_user_avatar_image(user.avatar.url, user.screen_name) }}
{%- endmacro %}


{% macro _render_user_avatar_image(image_url, user_screen_name) -%}
  <img src="{{ image_url }}" alt="Avatar von {{ user_screen_name }}">
{%- endmacro %}
