{% macro render_user_avatar_huge(user) -%}
  {{ _render_user_avatar(user, 'huge') }}
{%- endmacro %}


{% macro render_user_avatar_large(user) -%}
  {{ _render_user_avatar(user, 'large') }}
{%- endmacro %}


{% macro render_user_avatar_medium(user) -%}
  {{ _render_user_avatar(user, 'medium') }}
{%- endmacro %}


{% macro render_user_avatar_small(user) -%}
  {{ _render_user_avatar(user, 'small') }}
{%- endmacro %}


{% macro render_user_avatar_mini(user) -%}
  {{ _render_user_avatar(user, 'mini') }}
{%- endmacro %}


{% macro render_user_avatar_tiny(user) -%}
<div class="avatar size-tiny" title="{{ user.screen_name }}">
  {{ _render_user_avatar_image_with_fallback(user) }}
</div>
{%- endmacro %}


{% macro _render_user_avatar(user, size_name) -%}
  {%- set is_orga = user.is_orga_for_party(g.party) %}
<div class="avatar size-{{ size_name }}{% if is_orga %} orga{% endif %}" title="{{ user.screen_name }}">
  {{ _render_user_avatar_image_with_fallback(user) }}
  {%- if is_orga %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
{%- endmacro %}


{% macro _render_user_avatar_image_with_fallback(user) -%}
  {%- set image_url = user.avatar.url if user.avatar else url_for('core.static', filename='avatar_fallback.svg') %}
  <img src="{{ image_url }}" alt="Avatar von {{ user.screen_name }}">
{%- endmacro %}
