{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_date %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'ticketing_checkin' %}
{% set current_page_party = party %}
{% set title = 'Check-In - %s'|format(party.title) %}
{% set layout_main_raw = True %}

{% block head %}
    <style>
      .box--clear {
        padding: 0 20px;
      }

      .box + .notification {
        margin-top: 1rem;
      }

      .box h2 {
        margin-top: 0;
      }
    </style>
{%- endblock %}

{% block body %}

  <div class="box--clear">
    <nav class="breadcrumbs">
      <ol>
        <li>Ticketing</li>
        <li>{{ party.title }}</li>
      </ol>
    </nav>
    <h1>Check-In</h1>
  </div>

  <div class="box">

    <div class="row row--space-between row--wrap" style="align-items: center;">
      <div class="column-auto">

        <form action="{{ url_for('.index', party_id=party.id) }}" class="single-row unobtrusive">
            <input type="search" name="search_term" placeholder="Ticketcode, Bestellnummer, Benutzer-, Vor-, Nachname, E-Mail-Adresse" autofocus>
            <button type="submit" class="button" title="Suchen" tabindex="-1">{{ render_icon('search') }}</button>
            <a href="{{ url_for('.index', party_id=party.id) }}" class="button{% if not search_term %} dimmed{% endif %}" title="Einschränkung auf Suchbegriff aufheben" tabindex="-1">{{ render_icon('remove') }}</a>
        </form>

      </div>
      <div class="column-auto">

        <small>
          <ul style="margin: 0; padding-left: 1rem;">
            <li><strong>Tickets</strong> via Ticketcode</li>
            <li><strong>Bestellungen</strong> via Bestellnummer</li>
            <li><strong>Benutzer</strong> via Nick-, Vor-, Nachname, E-Mail-Adresse</li>
          </ul>
        </small>

      </div>
    </div>

  </div>

  {%- if search_term %}

  {{ render_notification('Die Person muss am <strong>{}</strong> oder früher geboren sein.'.format(render_date(latest_dob_for_checkin, smart=False))|safe, category='warning', icon='warning') }}

  <div class="box">
    <h2>Tickets {{ render_extra_in_heading(tickets|length) }}</h2>
    {%- include 'admin/ticketing/checkin/_ticket_list.html' %}
  </div>

  <div class="box">
    <h2>Benutzer {{ render_extra_in_heading(users|length) }}</h2>
    {%- include 'admin/ticketing/checkin/_user_list.html' %}
  </div>

  {%- endif %}

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(function() {
  {%- if tickets %}
    // Skip non-check-in links in ticket list for keyboard tab navigation.
    document
      .querySelectorAll('.tickets a:not(.button-check-in)')
      .forEach(function(node) { node.tabIndex = -1; });
  {%- endif %}

    post_on_click_then_reload('[data-action="check-in-user"]', 'Benutzer einchecken?');
  });
</script>
{% endblock %}
