{%- from 'macros/misc.html' import render_tag %}
{%- from 'macros/user_badge.html' import render_user_badges %}


    {%- if posting.creator.ticket %}
    <div>{{ render_tag(_('ticket'), class='tag--outlined', icon='ticket', title=(_('Uses a ticket for') ~ ' ' ~ posting.creator.ticket.party_title)) }}</div>
    {%- endif %}

    {%- with badges = posting.creator.badges %}
      {%- if badges %}
    <div class="user-badges">
{{ render_user_badges(badges, size=24) }}
    </div>
      {%- endif %}
    {%- endwith %}
