{%- from 'macros/forms.html' import form_buttons %}
{%- from 'macros/user_avatar.html' import render_user_avatar_96 %}

  <article class="user-comment">
    <aside class="user-comment-aside">
      <div class="creator">
        {{ render_user_avatar_96(g.user) }}
      </div>
    </aside>
    <div class="user-comment-main">
      <div class="body">
        <form action="{{ url_for('.posting_create', topic_id=topic.id) }}" method="post" class="board-posting-create-form-inline">
          <fieldset>
            {{ form.body(class='collapsible collapsed wide', required='required') }}
            <div class="collapsible-neighbor">
            {%- include 'site/board/_posting_form_body_supplement.html' -%}
            {{ form_buttons('Hinzufügen', cancel_button=True) }}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </article>
