{%- from 'macros/user.html' import render_user_link %}


<article class="user-comment{% if posting.hidden %} dimmed{% endif %}" id="posting-{{ posting.id }}">
  <aside class="user-comment-aside">
{% include 'site/board/_posting_view_aside.html' %}
  </aside>
  <div class="user-comment-main">
    <header>
{% include 'site/board/_posting_view_meta.html' %}
{% include 'site/board/_posting_view_actions.html' %}
    </header>
    <div class="body">
{{ posting.body|bbcode|safe }}

      <div class="reactions mt">
        {%- for kind in reaction_kinds_in_order %}
          {%- with reactions = posting.reactions_by_kind.get(kind, []) %}
            {%- with has_reacted = g.user.id in reactions|map(attribute='id') %}
        <button
          class="button button--reaction{% if has_reacted %} button--reaction-active{% endif %} reaction-count"
          data-count="{{ reactions|length }}"
          title="{{ reactions|select|join(', ') }}"
          ><span class="symbol">{{ reaction_kinds_to_symbols[kind] }}</span></button>
            {%- endwith %}
          {%- endwith %}
        {%- endfor %}
      </div>
    </div>
    {%- if posting.edit_count %}
    <footer>
      <p>{{ posting.edit_count }} {{ _('times edited') }}, {{ _('lastly') }}: {{ posting.last_edited_at|dateformat }}, {{ posting.last_edited_at|timeformat('short') }} {{ _('by') }} {{ render_user_link(posting.last_edited_by) }}</p>
    </footer>
    {%- endif %}
  </div>
</article>
