      <div class="reactions mt">
        {%- for kind in reaction_kinds_in_order %}
          {%- with reactions = posting.reactions_by_kind.get(kind, []) %}
            {%- with has_reacted = g.user.id in reactions|map(attribute='id') %}
        <button
          class="button button--reaction{% if has_reacted %} button--reaction-active{% endif %} reaction-count"
          data-count="{{ reactions|length }}"
          {%- if g.user.authenticated and g.user.id != posting.creator_id %}
          data-action="posting-react"
          data-url-add="{{ url_for('.add_reaction', posting_id=posting.id, kind=kind) }}"
          data-url-remove="{{ url_for('.remove_reaction', posting_id=posting.id, kind=kind) }}"
          {%- endif %}
          title="{{ reactions|map(attribute='screen_name')|select|join(', ') }}"
          ><span class="symbol">{{ reaction_kinds_to_symbols[kind] }}</span></button>
            {%- endwith %}
          {%- endwith %}
        {%- endfor %}
      </div>
