{%- from 'macros/icons.html' import render_icon %}


{%- set is_initial_topic_posting = posting.is_initial_topic_posting(posting.topic) %}

{%- set user_may_reply = (not topic.locked and has_current_user_permission(BoardPostingPermission.create)) %}
{%- set user_may_update = (may_topic_be_updated_by_current_user(topic) if is_initial_topic_posting else may_posting_be_updated_by_current_user(posting)) %}
{%- set user_may_hide = has_current_user_permission(BoardPermission.hide) %}

      {%- if user_may_reply or user_may_update or user_may_hide %}
      <div class="user-comment-actions">
        <div class="dropdown">
          <button class="dropdown-toggle" title="Beitrags-Aktionen">{{ render_icon('user-comment') }} {{ render_icon('chevron-down') }}</button>
          <ol class="dropdown-menu dropdown-menu--right">
            {%- if user_may_reply %}
            <li><a class="dropdown-item" href="{{ url_for('.posting_create_form', topic_id=topic.id, quote=posting.id) }}" title="Diesen Beitrag zitieren">{{ render_icon('quote') }} Beitrag zitieren</a></li>
            {%- endif %}

            {%- if user_may_update %}
              {%- if is_initial_topic_posting %}
            <li><a class="dropdown-item" href="{{ url_for('.topic_update_form', topic_id=topic.id) }}" title="Dieses Thema bearbeiten">{{ render_icon('edit') }} Thema bearbeiten</a></li>
              {%- else %}
            <li><a class="dropdown-item" href="{{ url_for('.posting_update_form', posting_id=posting.id) }}" title="Diesen Beitrag bearbeiten">{{ render_icon('edit') }} Beitrag bearbeiten</a></li>
              {%- endif %}
            {%- endif %}

            {%- if user_may_hide %}
            <li><a class="dropdown-item" href="{{ url_for('.posting_moderate_form', posting_id=posting.id) }}" title="Diesen Beitrag moderieren">{{ render_icon('moderate') }} Moderieren</a></li>
            {%- endif %}
          </ol>
        </div>
      </div>
      {%- endif %}
