{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'board' %}
{% set page_title = _('Edit post') %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">{{ _('Board') }}</a></li>
      <li><a href="{{ url_for('.category_view', slug=posting.topic.category.slug) }}">{{ posting.topic.category.title }}</a></li>
      <li><a href="{{ url_for('.topic_view', topic_id=posting.topic.id) }}">{{ posting.topic.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ page_title }}</h1>

  {%- if posting.creator_id != g.user.id %}
  {{ render_notification(_('You are about to modify a post created by someone else.'), category='danger', icon='warning') }}
  {%- endif %}

  <form action="{{ url_for('.posting_update', posting_id=posting.id) }}" method="post">
    {{ form_field(form.body, autofocus='autofocus') }}
{%- include 'site/board/_posting_form_body_supplement.html' %}

    {{ form_buttons(_('Save'), cancel_url=url_for('.topic_view', topic_id=posting.topic.id)) }}
  </form>

{%- endblock %}
