{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_screen_name, render_user_link %}
{% set current_page = 'board' %}
{% set page_title = 'Beitrag moderieren' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', slug=posting.topic.category.slug) }}">{{ posting.topic.category.title }}</a></li>
      <li><a href="{{ url_for('.topic_view', topic_id=posting.topic.id) }}">{{ posting.topic.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('moderate') }} {{ page_title }}</h1>

  <p>Beitrag von {{ render_user_link(posting.creator) }} im Thema &quot;{{ posting.topic.title }}&quot;</p>

  <h2>{{ render_icon('view') }} Sichtbarkeit</h2>
  <p>Der Beitrag ist {% if posting.hidden %}<strong>versteckt</strong> (am {{ render_datetime(posting.hidden_at|utc_to_local_tz) }} durch {{ render_user_screen_name(posting.hidden_by) }}){% else %}<strong>sichtbar</strong>{% endif %}.</p>
  <div class="button-row">
  {%- if posting.hidden %}
    <span class="button button--disabled">{{ render_icon('hidden') }} <span>Verstecken</span></span>
    <a class="button" data-action="posting-unhide" href="{{ url_for('.posting_unhide', posting_id=posting.id) }}">{{ render_icon('view') }} <span>Sichtbar machen</span></a>
  {%- else %}
    <a class="button" data-action="posting-hide" href="{{ url_for('.posting_hide', posting_id=posting.id) }}">{{ render_icon('hidden') }} <span>Verstecken</span></a>
    <span class="button button--disabled">{{ render_icon('view') }} <span>Sichtbar machen</span></span>
  {%- endif %}
  </div>

{%- endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='behavior/board.js') }}"></script>
{%- endblock %}
