{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/subnav.html' import render_subnav_for_menu_id %}
{% from 'macros/user.html' import render_user_screen_name, render_user_link %}
{% set current_page = 'board' %}
{% set page_title = _('Moderate post') %}

{% block subnav %}
  {%- if subnav_menu_id|default %}
{{ render_subnav_for_menu_id(subnav_menu_id, current_page) }}
  {%- endif %}
{% endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">{{ _('Board') }}</a></li>
      <li><a href="{{ url_for('.category_view', slug=posting.topic.category.slug) }}">{{ posting.topic.category.title }}</a></li>
      <li><a href="{{ url_for('.topic_view', topic_id=posting.topic.id) }}">{{ posting.topic.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('moderate') }} {{ page_title }}</h1>

  <p>{{ _('Posting by %(creator)s in topic &quot;%(topic)s&quot;', creator=render_user_link(posting.creator), topic=posting.topic.title) }}

  <h2>{{ render_icon('view') }} {{ _('Visibility') }}</h2>

  {%- if posting.hidden %}
  <p>{{ _('The posting is <strong>hidden</strong> (%(timestamp)s by %(moderator)s).', timestamp=posting.hidden_at|datetimeformat, moderator=render_user_screen_name(posting.hidden_by)) }}</p>
  {%- else %}
  <p>{{ _('The posting is <strong>visible</strong>.') }}</p>
  {%- endif %}

  <div class="button-row">
  {%- if posting.hidden %}
    <span class="button button--disabled">{{ render_icon('hidden') }} <span>{{ _('Hide') }}</span></span>
    <a class="button" data-action="posting-unhide" href="{{ url_for('.posting_unhide', posting_id=posting.id) }}">{{ render_icon('view') }} <span>{{ _('Make visible') }}</span></a>
  {%- else %}
    <a class="button" data-action="posting-hide" href="{{ url_for('.posting_hide', posting_id=posting.id) }}">{{ render_icon('hidden') }} <span>{{ _('Hide') }}</span></a>
    <span class="button button--disabled">{{ render_icon('view') }} <span>{{ _('Make visible') }}</span></span>
  {%- endif %}
  </div>

{%- endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='behavior/board.js') }}"></script>
{%- endblock %}
