{% extends 'layout/base.html' %}
{% from 'macros/board.html' import render_flag_new %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/user_avatar.html' import render_user_avatar_and_name %}
{% set current_page = 'board' %}
{% set page_title = _('Board') %}

{% block head %}
  <style>
    .board-category-tag {
      font-size: 0.625rem; /* 10px / 16px */
      text-transform: uppercase;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ _('Board') }}</h1>

  {%- if topics.items %}
  <table class="index wide board-topic-index">
    <thead>
      <tr>
        <th>{{ _('Topic') }}</th>
        <th class="centered">{{ _('Replies') }}</th>
        <th>{{ _('Latest post') }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for topic in topics.items %}
      <tr id="topic-{{ topic.id }}"{% if topic.hidden %} class="dimmed"{% endif %}>
        <td>
          <a class="board-topic-link disguised" href="{{ url_for('.topic_view', topic_id=topic.id) }}">
            <div class="board-topic-title">
              {%- if topic.hidden %}<span class="tag tag--outlined">{{ render_icon('hidden', title='%s (%s %s)'|format(_('hidden'), _('by'), topic.hidden_by.screen_name)) }}</span> {% endif -%}
              {%- if topic.locked %}<span class="tag tag--outlined">{{ render_icon('lock', title=_('locked')) }}</span> {% endif -%}
              {%- if topic.pinned %}<span class="tag tag--outlined">{{ render_icon('pin', title=_('pinned')) }}</span> {% endif -%}
              <strong>{{ topic.title }}</strong>
              {%- if topic.contains_unseen_postings %} {{ render_flag_new() }}{% endif %}
            </div>
            <div class="board-topic-initial-posting">
              <span class="board-category-tag">{{ topic.category.title }}</span>
              &middot;
              {{ _('started by') }} {{ render_user_avatar_and_name(topic.creator, size=16) }}
            </div>
          </a>
        </td>
        <td class="centered bignumber">{{ format_number(topic.reply_count) }}</td>
        <td class="nowrap">{{ render_datetime(topic.last_updated_at|utc_to_local_tz) }}<br>von {{ render_user_avatar_and_name(topic.last_updated_by, size=16) }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <p class="dimmed">{{ _('No topics exist in this category.') }}</p>
  {%- endif %}

{{ render_pagination_nav(topics, 'board.topic_index', centered=True) }}

{%- endblock %}
