{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_screen_name, render_user_link %}
{% set current_page = 'board' %}
{% set page_title = 'Thema moderieren' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', slug=topic.category.slug) }}">{{ topic.category.title }}</a></li>
      <li><a href="{{ url_for('.topic_view', topic_id=topic.id) }}">{{ topic.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('moderate') }} {{ page_title }}</h1>

  <p>Thema &quot;{{ topic.title }}&quot; von {{ render_user_link(topic.creator) }}</p>

  {%- if has_current_user_permission(BoardPermission.hide) %}
  <h2>{{ render_icon('view') }} Sichtbarkeit</h2>
  <p>Das Thema ist {% if topic.hidden %}<strong>versteckt</strong> ({{ render_datetime(topic.hidden_at|utc_to_local_tz) }} durch {{ render_user_screen_name(topic.hidden_by) }}){% else %}<strong>sichtbar</strong>{% endif %}.</p>
  <div class="button-row">
  {%- if topic.hidden %}
    <span class="button button--disabled">{{ render_icon('hidden') }} <span>Verstecken</span></span>
    <a class="button" data-action="topic-unhide" href="{{ url_for('.topic_unhide', topic_id=topic.id) }}">{{ render_icon('view') }} <span>Sichtbar machen</span></a>
  {%- else %}
    <a class="button" data-action="topic-hide" href="{{ url_for('.topic_hide', topic_id=topic.id) }}">{{ render_icon('hidden') }} <span>Verstecken</span></a>
    <span class="button button--disabled">{{ render_icon('view') }} <span>Sichtbar machen</span></span>
  {%- endif %}
  </div>
  {%- endif %}

  {%- if has_current_user_permission(BoardTopicPermission.lock) %}
  <h2>{{ render_icon('lock') }} Schreibsperre</h2>
  <p>Das Thema ist {% if topic.locked %}<strong>geschlossen</strong> ({{ render_datetime(topic.locked_at|utc_to_local_tz) }} durch {{ render_user_screen_name(topic.locked_by) }}){% else %}<strong>offen</strong>{% endif %}.</p>
  <div class="button-row">
  {%- if topic.locked %}
    <span class="button button--disabled">{{ render_icon('lock') }} <span>Schließen</span></span>
    <a class="button" data-action="topic-unlock" href="{{ url_for('.topic_unlock', topic_id=topic.id) }}">{{ render_icon('unlock') }} <span>Öffnen</span></a>
  {%- else %}
    <a class="button" data-action="topic-lock" href="{{ url_for('.topic_lock', topic_id=topic.id) }}">{{ render_icon('lock') }} <span>Schließen</span></a>
    <span class="button button--disabled">{{ render_icon('unlock') }} <span>Öffnen</span></span>
  {%- endif %}
  </div>
  {%- endif %}

  {%- if has_current_user_permission(BoardTopicPermission.pin) %}
  <h2>{{ render_icon('pin') }} Anheften</h2>
  <p>Das Thema ist {% if topic.pinned %}<strong>angepinnt</strong> ({{ render_datetime(topic.pinned_at|utc_to_local_tz) }} durch {{ render_user_screen_name(topic.pinned_by) }}){% else %}<strong>nicht angepinnt</strong>{% endif %}.</p>
  <div class="button-row">
  {%- if topic.pinned %}
    <span class="button button--disabled">{{ render_icon('pin') }} <span>Anpinnen</span></span>
    <a class="button" data-action="topic-unpin" href="{{ url_for('.topic_unpin', topic_id=topic.id) }}">{{ render_icon('sorted') }} <span>Lösen</span></a>
  {%- else %}
    <a class="button" data-action="topic-pin" href="{{ url_for('.topic_pin', topic_id=topic.id) }}">{{ render_icon('pin') }} <span>Anpinnen</span></a>
    <span class="button button--disabled">{{ render_icon('sorted') }} <span>Lösen</span></span>
  {%- endif %}
  </div>
  {%- endif %}

  {%- if has_current_user_permission(BoardTopicPermission.move) %}
  <h2>{{ render_icon('move') }} Verschieben</h2>
  <p>Das Thema befindet sich in der Kategorie &quot;{{ topic.category.title }}&quot;.</p>
    {%- if categories %}
  <div class="button-row">
    <form action="{{ url_for('.topic_move', topic_id=topic.id) }}" method="post">
      Neue Kategorie:
      <select name="category_id">
      {%- for category in categories %}
        <option value="{{ category.id }}">{{ category.title }}</option>
      {%- endfor %}
      </select>
      <button type="submit" class="button">{{ render_icon('move') }} <span>Verschieben</span></button>
    </form>
  </div>
    {%- else %}
  <small>
    <p>Es gibt keine anderen Kategorien in diesem Forum, daher kann das Thema nicht verschoben werden.</p>
  </small>
    {%- endif %}
  {%- endif %}

  {%- if has_current_user_permission(BoardPermission.announce) %}
  <h2>{{ render_icon('announce') }} Ankündigungen</h2>
  <p>Das Thema ist {% if not topic.posting_limited_to_moderators %}<strong>nicht</strong> {% endif %} auf Ankündigungen durch Moderatoren beschränkt.</p>
  <div class="button-row">
  {%- if topic.posting_limited_to_moderators %}
    <span class="button button--disabled">{{ render_icon('announce') }} <span>Auf Ankündigungen beschränken</span></span>
    <a class="button" data-action="topic-remove-limit-to-announcements" href="{{ url_for('.topic_remove_limit_to_announcements', topic_id=topic.id) }}">{{ render_icon('board') }} <span>Für alle Beiträge öffnen</span></a>
  {%- else %}
    <a class="button" data-action="topic-limit-to-announcements" href="{{ url_for('.topic_limit_to_announcements', topic_id=topic.id) }}">{{ render_icon('announce') }} <span>Auf Ankündigungen beschränken</span></a>
    <span class="button button--disabled">{{ render_icon('board') }} <span>Für alle Beiträge öffnen</span></span>
  {%- endif %}
  </div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='behavior/board.js') }}"></script>
{%- endblock %}
