{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'board' %}
{% set title = 'Thema bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', slug=topic.category.slug) }}">{{ topic.category.title }}</a></li>
      <li><a href="{{ url_for('.topic_view', topic_id=topic.id) }}">{{ topic.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  {%- if topic.creator_id != g.user.id %}
  {{ render_notification('Du bist im Begriff, ein Thema von jemand anderem zu verändern.', category='danger', icon='warning') }}
  {%- endif %}

  <form action="{{ url_for('.topic_update', topic_id=topic.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.title, maxlength=80, autofocus='autofocus') }}
      {{ form_field(form.body) }}
{%- include 'site/board/_posting_form_body_supplement.html' %}
    {% endcall %}

    {{ form_buttons(_('Save'), cancel_url=url_for('.topic_view', topic_id=topic.id)) }}
  </form>

{%- endblock %}
