{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/subnav.html' import render_subnav_for_menu_id %}
{% set current_page = 'board' %}
{% set page_title = _('Create topic') %}

{% block subnav %}
  {%- if subnav_menu_id|default %}
{{ render_subnav_for_menu_id(subnav_menu_id, current_page) }}
  {%- endif %}
{% endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">{{ _('Board') }}</a></li>
      <li><a href="{{ url_for('.category_view', slug=category.slug) }}">{{ category.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ page_title }}</h1>

  <div class="main-body-box">
    <form action="{{ url_for('.topic_create', category_id=category.id) }}" method="post">
      {{ form_field(form.title, maxlength=80, autofocus='autofocus') }}
      {{ form_field(form.body) }}
{% include 'site/board/_posting_form_body_supplement.html' %}

      {{ form_buttons(_('Create'), cancel_url=url_for('.category_view', slug=category.slug)) }}
    </form>
  </div>

{%- endblock %}
