{% extends 'layout/base.html' %}
{% from 'macros/events.html' import render_event_row %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'board' %}
{% set title = 'Forum - %s'|format(topic.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', slug=topic.category.slug) }}">{{ topic.category.title }}</a></li>
    </ol>
  </nav>
  <h1><a href="{{ url_for('.topic_view', topic_id=topic.id) }}">{{ topic.title }}</a></h1>

{%- if topic.hidden or topic.locked %}
  <div class="notifications">

  {%- if topic.hidden %}
{{ render_notification('Dieses Thema ist versteckt.', category='info', icon='hidden') }}
  {%- endif %}

  </div>
{%- endif %}

  {%- if has_current_user_any_permission(BoardPermission.hide, BoardTopicPermission.lock, BoardTopicPermission.move, BoardTopicPermission.pin) %}
  <div class="button-row button-row--right">
    <a class="button" href="{{ url_for('.topic_moderate_form', topic_id=topic.id) }}" title="Thema moderieren">{{ render_icon('moderate') }} <span>Moderieren</span></a>
  </div>
  {%- endif %}

{{ render_pagination_nav(postings, 'board.topic_view', {'topic_id': topic.id}, centered=True) }}

  <div class="user-comments">

  {%- for posting in postings.items %}
{%- include 'site/board/_posting_view.html' %}
  {%- endfor %}

  {%- if topic.posting_limited_to_moderators %}
    <div style="margin-bottom: 2.5rem;">
    {%- call render_event_row('announce') %}
      Dieses Thema ist für Ankündigungen gedacht. Nur <strong>Moderatoren</strong> dürfen Beiträge hinzufügen.
    {%- endcall %}
    </div>
  {%- endif %}

  {%- if topic.locked %}
    {%- call render_event_row('lock') %}
      Dieses Thema ist <strong>geschlossen</strong>. Es können keine Beiträge mehr hinzugefügt werden.
    {%- endcall %}
  {%- endif %}

  </div>

  {%- set current_user_may_reply_generally = has_current_user_permission(BoardPostingPermission.create) %}

  {%- if not current_user_may_reply_generally %}
  <small>
    <p style="text-align: right;">Du musst <a href="{{ url_for('authentication.login.login_form') }}">angemeldet</a> sein, um antworten zu können.</p>
  </small>
  {%- elif topic.locked or (topic.posting_limited_to_moderators and not has_current_user_permission(BoardPermission.announce)) %}
  <div class="button-row button-row--right">
    <span class="button button--disabled">{{ render_icon('reply') }} <span>Antworten</span></span>
  </div>
  {%- elif is_last_page %}
{%- include 'site/board/_posting_inline_create_form.html' %}
  {%- else %}
  <div class="button-row button-row--right">
    <a class="button" href="{{ url_for('.posting_create_form', topic_id=topic.id) }}">{{ render_icon('reply') }} <span>Antworten</span></a>
  </div>
  {%- endif %}

{{ render_pagination_nav(postings, 'board.topic_view', {'topic_id': topic.id}, centered=True) }}

  <nav class="breadcrumbs compact">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', slug=topic.category.slug) }}">{{ topic.category.title }}</a></li>
      <li>{{ topic.title }}</li>
    </ol>
  </nav>

{%- endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='behavior/board.js') }}"></script>
{%- endblock %}
