{% extends 'layout/base_admin.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag, render_with_fallback %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/stats.html' import render_bigstats_item %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'user_admin' %}
{% set title = 'Benutzer' %}

{% block head %}
    <style>
      form.search {
        float: left;
      }
      form.search input {
        opacity: 0.5;
      }
      form.search input:focus,
      form.search input:hover {
        opacity: 1;
      }

      .user-state-filter {
        font-size: 0.8rem;
        margin: 2.5rem 0 2rem 0;
        text-align: right;
      }
      .user-state-filter ol,
      .user-state-filter li {
        display: inline-block;
      }
      .user-state-filter li::after {
        content: ' |';
        opacity: 0.5;
      }
      .user-state-filter li:last-child::after {
        content: none;
      }
      .user-state-filter li a {
        opacity: 0.3;
      }
      .user-state-filter a:hover {
        opacity: 0.6;
      }
      .user-state-filter li :not(a) {
        opacity: 1;
      }

      .user-state-filter .tag {
          background-color: #666666;
      }
      .user-state-filter .tag.user-state-enabled {
          background-color: #008800;
      }
      .user-state-filter .tag.user-state-disabled {
          background-color: #cc0000;
      }
    </style>
{%- endblock head %}

{% block body %}

  <h1>{{ title }}</h1>

  <div class="bigstats">
    {{ render_bigstats_item(total_enabled, 'aktiviert', icon_name='enabled', color='#008800') }}
    {{ render_bigstats_item(total_disabled, 'nicht aktiviert', icon_name='disabled', color='#cc0000') }}
    {{ render_bigstats_item(total_overall, '&sum; gesamt'|safe) }}
  </div>

  <form action="{{ url_for('.index') }}" class="search">
    {{ render_icon('search') }} <input type="search" name="search_term" placeholder="Suchbegriff" {%- if search_term %} value="{{ search_term }}"{% endif %} autofocus>
    <a href="{{ url_for('.index') }}" class="action inline" title="Einschränkung auf Suchbegriff aufheben">{{ render_icon('remove') }}</a>
  </form>

  <div class="user-state-filter">
    <span>{{ render_icon('filter') }} Einschränkung:</span>
    <ol>
    {%- if only == 'enabled' %}
      <li>{{ render_tag('aktiviert', class='user-state-enabled') }}</li>
    {%- else %}
      <li><a href="{{ url_for('.index', only='enabled') }}">{{ render_tag('aktiviert', class='user-state-enabled') }}</a></li>
    {%- endif %}
    {%- if only == 'disabled' %}
      <li>{{ render_tag('nicht aktiviert', class='user-state-disabled') }}</li>
    {%- else %}
      <li><a href="{{ url_for('.index', only='disabled') }}">{{ render_tag('nicht aktiviert', class='user-state-disabled') }}</a></li>
    {%- endif %}
    {%- if only not in ('enabled', 'disabled') %}
      <li><strong>{{ render_tag('alle') }}</strong></li>
    {%- else %}
      <li><a href="{{ url_for('.index') }}">{{ render_tag('alle') }}</a></li>
    {%- endif %}
    </ol>
  </div>

  <table class="index wide">
    <thead>
      <tr>
        <th colspan="2">Benutzername</th>
        <th>Voller Name</th>
        <th>Erstellt</th>
        <th>Legacy ID</th>
        <th>aktiv</th>
      </tr>
    </thead>
    <tbody>
      {%- for user in users.items %}
      <tr>
        <td>{{ render_user_admin_link(user) }}</td>
        <td>{% if user.has_avatar_image %} {{ render_icon('image', title='Avatarbild hinterlegt') }}{% endif %}</td>
        <td>{{ render_with_fallback(user.detail.full_name) }}</td>
        <td>{{ render_datetime(user.created_at) }}</td>
        <td>{{ render_with_fallback(user.legacy_id) }}</td>
        <td>{{ render_icon('enabled' if user.enabled else 'disabled') }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(users, '.index') }}

{%- endblock body %}
