{% extends 'layout/base_admin.html' %}
{% from 'macros/datetime.html' import render_date, render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_dimmed, render_with_fallback %}
{% from 'macros/shop_admin.html' import render_order_payment_state %}
{% from 'macros/user.html' import render_user_avatar %}
{% set current_page = 'user_admin' %}
{% set title = 'Benutzer - %s'|format(user.screen_name) %}

{% block body %}

  <h1>{{ render_icon('user') }} {{ user.screen_name }}</h1>

  <h2>Benutzerkonto</h2>
  {%- if user.has_avatar_image %}
  <div style="float: right; margin: 0 120px 0 1rem;">{{ render_user_avatar(user) }}</div>
  {%- endif %}
  <table class="index">
    <tr>
      <th>ID</th>
      <td>{{ user.id }}</td>
    </tr>
    <tr>
      <th>Benutzername</th>
      <td>{{ user.screen_name }}</td>
    </tr>
    <tr>
      <th>Erstellt</th>
      <td>{{ render_datetime(user.created_at) }}</td>
    </tr>
    <tr>
      <th>E-Mail-Adresse</th>
      <td>{{ user.email_address }}</td>
    </tr>
    <tr>
      <th>Aktiviert</th>
      <td>{{ render_icon('enabled' if user.enabled else 'disabled') }}</td>
    </tr>
    <tr>
      <th>Avatar</th>
      <td>{{ render_icon('enabled' if user.has_avatar_image else 'disabled') }}</td>
    </tr>
    <tr>
      <th>Orga-Teams</th>
      <td>
        {%- if user.orga_team_memberships %}
        <ol>
          {%- for membership in user.orga_team_memberships|sort(attribute='orga_team.party.starts_at', reverse=True) %}
          <li>
            {{- membership.orga_team.party.title }} – {{ membership.orga_team.title }}
            {%- if membership.duties %} ({{ membership.duties }}){% endif -%}
          </li>
          {%- endfor %}
        </ol>
        {%- else %}
          {{- render_dimmed('keine') -}}
        {%- endif %}
      </td>
    </tr>
  </table>

  <h2>Persönliche Daten</h2>
  <table class="index">
    <tr>
      <th>Voller Name</th>
      <td>{{ render_with_fallback(user.detail.full_name) }}</td>
    </tr>
    <tr>
      <th>Geburtsdatum</th>
      <td>
        {%- if user.detail.date_of_birth -%}
          {{ render_date(user.detail.date_of_birth, smart=False) }}
        {%- else -%}
          {{ render_dimmed('nicht angegeben') }}
        {%- endif -%}
      </td>
    </tr>
    <tr>
      <th>Anschrift</th>
      <td>
        {{- render_with_fallback(user.detail.street) }}<br>
        {%- if user.detail.zip_code %}{{ user.detail.zip_code }}{% endif %}
        {{ render_with_fallback(user.detail.city) -}}
        <br>
        {{- render_with_fallback(user.detail.country) -}}
      </td>
    </tr>
    <tr>
      <th>Telefonnummer</th>
      <td>{{ render_with_fallback(user.detail.phone_number) }}</td>
    </tr>
  </table>

  <h2>Diverses</h2>
  <table class="index">
    <tr>
      <th>Legacy-ID</th>
      <td>{{ render_with_fallback(user.legacy_id) }}</td>
    </tr>
  </table>

  <h2>Bestellungen</h2>
  {%- if orders %}
  <table class="index">
    <thead>
      <tr>
        <th>Zeitpunkt</th>
        <th>Party</th>
        <th>Bezahlstatus</th>
      </tr>
    </thead>
    <tbody>
      {%- for order in orders %}
      <tr>
        <td><a href="{{ url_for('shop_admin.order_view', id=order.id) }}">{{ render_datetime(order.created_at) }}</a></td>
        <td>{{ order.party.title }}</td>
        <td class="centered">{{ render_order_payment_state(order.payment_state) }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>
  {%- else %}
  {{ render_dimmed('keine') }}
  {%- endif %}

{%- endblock body %}
