{%- from 'macros/navigation.html' import render_navigation_item_from_item %}


{%- if brand and g.current_user.has_permission(PartyPermission.list) %}
<section>
  <h1>Partys</h1>
  <nav class="main">
    <ol>
    {%- for party in brand.parties|sort(attribute='starts_at', reverse=True) %}
      <li><a href="{{ url_for('admin_dashboard.view_party', party_id=party.id) }}">
        {%- if party.is_archived -%}
          {{ party.title|dim }}
        {%- else -%}
          {{ party.title }}
        {%- endif %}
      </a></li>
    {%- endfor %}
    </ol>
  </nav>
</section>
{%- elif not party and g.current_user.has_permission(PartyPermission.list) %}
<section>
  <h1>Marken</h1>
  <nav class="main">
    <ol>
    {%- for brand in all_brands|sort(attribute='title') %}
      <li><a href="{{ url_for('party_admin.index_for_brand', brand_id=brand.id) }}">{{ brand.title }}</a></li>
    {%- endfor %}
    </ol>
  </nav>
</section>
{%- endif %}


{%- set navigation_items = [
    Navigation('Benutzer')
        .add_item('user_admin.index', 'Benutzer', id='user_admin', required_permission=UserPermission.list),

    Navigation('Orgas')
        .add_item('orga_admin.persons', 'Personen', id='orga_admin.persons', required_permission=OrgaDetailPermission.view)
    ] -%}


{%- for block in navigation_items %}
  {%- set items = block.get_items() %}
  {%- if items %}
<section>
  <h1>{{ block.title }}</h1>
  <nav class="main">
    <ol>
      {%- for item in items %}
      {{ render_navigation_item_from_item(item, current_page) }}
      {%- endfor %}
    </ol>
  </nav>
</section>
  {%- endif %}
{%- endfor %}
