{%- from 'macros/admin.html' import render_brand_head, render_party_head %}
{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/user_admin.html' import render_orga_avatar_small %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
{%- with title = title|default %}
{% include 'layout/_meta_head_admin.html' with context %}
{%- endwith %}
{% block head %}{% endblock head %}
  </head>
  <body>

    <header id="header">
      <div id="header-content">

        <div id="current-user">
        {% if g.current_user.is_active %}
          <div>
            {{ render_orga_avatar_small(g.current_user) }}
          </div>
          <div>
            <span class="intro">Angemeldet als</span>
            <div class="name-and-logout">
              <a class="name" href="{{ url_for('user.view_current') }}">{{ g.current_user.screen_name }}</a>
              <span class="actions inline">
                <a id="logout" href="{{ url_for('authentication.logout', _method='POST') }}" title="abmelden">{{ render_icon('log-out') }}</a>
              </span>
            </div>
          </div>
        {%- else -%}
          <div>
            {{ render_icon('log-in') }} <a href="{{ url_for('authentication.login_form') }}">Anmelden</a>
          </div>
        {%- endif %}
        </div><!-- /#current-user -->

{%- with
  current_page = current_page|default,
  brand = current_page_brand|default,
  party = current_page_party|default
%}
        <div class="head">

  {%- if brand %}
{{ render_brand_head(brand) }}
  {%- elif party %}
{{ render_party_head(party) }}
  {%- endif %}

        </div>

  {%- if brand %}
    {%- set navigation = Navigation('Marke')
        .add_item(url_for('admin_dashboard.view_brand', brand_id=brand.id), 'Dashboard', id='admin_dashboard_brand', required_permission=AdminDashboardPermission.view_brand, icon='dashboard')
        .add_item(url_for('news_admin.index_for_brand', brand_id=brand.id), 'News', id='news_admin', required_permission=NewsItemPermission.list, icon='news')
        .add_item(url_for('newsletter_admin.view_subscriptions', brand_id=brand.id), 'Newsletter', id='newsletter_admin', required_permission=NewsletterPermission.view_subscriptions, icon='newsletter')
        .add_item(url_for('terms_admin.index_for_brand', brand_id=brand.id), 'AGB', id='terms_admin', required_permission=TermsPermission.list, icon='legal')
        .add_item(url_for('board_admin.index_for_brand', brand_id=brand.id), 'Board', id='board_admin', required_permission=BoardCategoryPermission.list, icon='board')
    -%}
  {%- elif party %}
    {%- set navigation = Navigation('Party')
        .add_item(url_for('admin_dashboard.view_party', party_id=party.id), 'Dashboard', id='admin_dashboard_party', required_permission=AdminDashboardPermission.view_party, icon='dashboard')
        .add_item(url_for('snippet_admin.index_for_party', party_id=party.id), 'Snippets', id='snippet_admin', required_permission=SnippetPermission.list, icon='snippet')
        .add_item(url_for('seating_admin.index_for_party', party_id=party.id), 'Sitzpläne', id='seating_admin', required_permission=SeatingPermission.view, icon='seating-area')
        .add_item(url_for('shop_admin.article_index_for_party', party_id=party.id), 'Shop-Artikel', id='shop_admin.articles', required_permission=ShopArticlePermission.list, icon='shopping-cart')
        .add_item(url_for('shop_admin.order_index_for_party', party_id=party.id), 'Shop-Bestellungen', id='shop_admin.orders', required_permission=ShopOrderPermission.list, icon='payment')
        .add_item(url_for('ticket_admin.index_for_party', party_id=party.id), 'Tickets', id='ticket_admin', required_permission=TicketPermission.list, icon='ticket')
        .add_item(url_for('orga_admin.teams_for_party', party_id=party.id), 'Orga-Teams', id='orga_admin.teams', required_permission=OrgaTeamPermission.list, icon='users')
        .add_item(url_for('orga_presence.view', party_id=party.id), 'Orga-Anwesenheit', id='orga_presence', required_permission=OrgaPresencePermission.list, icon='date-okay')
    -%}
  {%- else %}
    {%- set navigation = Navigation('global')
        .add_item(url_for('admin_dashboard.view_global'), 'Dashboard', id='admin_dashboard_global', required_permission=AdminDashboardPermission.view_global, icon='dashboard')
        .add_item(url_for('user_admin.index'), 'Benutzer', id='user_admin', required_permission=UserPermission.list, icon='users')
        .add_item(url_for('authorization_admin.role_index'), 'Rollen', id='authorization_admin.roles', required_permission=RolePermission.list, icon='role')
        .add_item(url_for('authorization_admin.permission_index'), 'Rechte', id='authorization_admin.permissions', required_permission=RolePermission.list, icon='permission')
    -%}
  {%- endif %}

  {%- if navigation is defined %}
        <nav>
          <ol>
            {%- for item in navigation.get_items() %}
            <li{% if (item.id is not none) and (item.id is is_current_page(current_page)) %} class="current"{% endif %}><a href="{{ item.endpoint }}" title="{{ item.label }}">{{ render_icon(item.icon) if item.icon else item.label[0] }}</a></li>
            {%- endfor %}
          </ol>
        </nav>
  {%- endif %}

{%- endwith %}

      </div><!-- /#header-content -->
    </header>

    <div id="page">
      <div id="page-grid">

        <div id="page-grid-sidebar">
          <aside id="sidebar">
{%- with
  current_page = current_page|default,
  brand = current_page_brand|default,
  party = current_page_party|default
%}
{%- include 'layout/_navigation_admin.html' with context %}
{%- endwith %}
          </aside>
        </div><!-- /#page-grid-sidebar -->

        <div id="page-grid-main">
          <main>
            <div{% if not layout_main_raw|default(False) %} id="main"{% endif %}>
{%- include 'layout/_notifications.html' %}
{%- block body %}{% endblock %}
            </div><!-- /#main -->
          </main>
        </div><!-- /#page-grid-main -->

      </div><!-- /#page-grid -->
    </div><!-- /#page -->

    <footer id="footer">
      BYCEPS &middot; Copyright &copy; 2006&ndash;2016 <a href="http://homework.nwsnet.de/">Jochen &quot;Y0Gi&quot; Kupperschmidt</a>
    </footer>

  </body>
</html>
