{% extends 'layout/base.html' %}
{% from 'macros/user.html' import render_user_screen_name %}
{% from 'macros/user_avatar.html' import render_user_avatar_96 %}
{% set current_page = 'orga_team' %}
{% set page_title = _('Team') %}

{% block head %}
  <style>
    .orga-overview {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .orga-overview li.orga {
      align-items: center;
      display: flex;
      font-size: 0.9rem;
      margin: 1rem 0;
      padding: 0;
      text-align: left;
    }

    .orga-overview .orga-avatar {
      margin-right: 1rem;
    }

    .orga-overview .orga-details {
      line-height: 1.4;
      margin: 0.3rem 0 0 0;
      padding: 0;
    }

    @media (min-width: 28rem) {
      .orga-overview {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .orga-overview li.orga {
        flex-direction: column;
        text-align: center;
        width: 200px;
      }

      .orga-overview .orga-avatar {
        margin-right: 0;
      }
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

{{ render_snippet('orga_team_intro', ignore_if_unknown=True)|safe }}

  <ol class="orga-overview">
    {%- for orga in orgas %}
    <li class="orga">
      <div class="orga-avatar">
        {{ render_user_avatar_96(orga.user) }}
      </div>
      <div class="orga-details">
        <strong>{{ render_user_screen_name(orga.user) }}</strong><br>
        {%- if orga.full_name %}
        {{ orga.full_name }}<br>
        {%- endif -%}
        {%- filter dim %}
        {{ orga.team_name }}
        {%- if orga.duties %} ({{ orga.duties }}){% endif %}
        {%- endfilter %}
      </div>
    </li>
    {%- endfor %}
  </ol>

{%- endblock %}
