body {
  border-color: #cc0000;
  border-style: solid;
  border-width: 3px 0;
}


/* layout */

#page,
nav.top {
  margin: 0 auto;
  width: 920px;
}
#page {
  margin-top: 20px;
}

#header,
#sidebar section,
main {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
#header {
  border-width: 0 0 1px 0;
  background-color: rgba(0, 0, 0, 0.06);
  padding: 1rem 0;
}
#sidebar section,
main {
  background-color: #ffffff;
  border-radius: 2px;
}

#sidebar {
  float: left;
  width: 160px;
}

main {
  margin-left: 180px;
  padding: 20px 40px 40px 40px;
}


/* top navigation */

nav.top {
  font-size: 0.8rem;
  text-align: right;
}


/* sidebar */

#sidebar section {
  font-size: 0.8rem;
  margin-bottom: 20px;
  padding-bottom: 12px;
}
#sidebar section h1 {
  background-color: #555555;
  border-bottom: #cccccc solid 1px;
  color: #f8f8f8;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 35px 20px 10px 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#sidebar section p {
  padding: 0 20px
}


/* main navigation */

nav.main ol {
  width: 100%;
}
nav.main li {
  display: block;
  margin: 0;
  padding: 0;
}
nav.main a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  color: #333333;
  display: block;
  font-size: 0.95rem;
  font-weight: normal;
  line-height: 1.5;
  opacity: 0.8;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
nav.main a:hover,
nav.main .current a {
  background-color: #e8e8e8;
  border-color: #cccccc;
  opacity: 1;
}


/* lists */

ol.index,
ol.index li {
  border-color: #cccccc;
  border-style: solid;
}
ol.index {
  border-width: 0 0 1px 0;
}
ol.index li {
  border-width: 1px 0 0 0;
  font-size: 0.9rem;
  padding: 0.35rem 0;
}

ol.index.fully-linked li {
  padding: 0;
}
ol.index.fully-linked a {
  color: #333333;
  display: block;
  margin: 0 -40px;
  padding: 0.35rem 40px;
  text-decoration: none;
}
ol.index.fully-linked a:hover {
  background-color: #f8f888;
}


/* tags */

.tag.order-open {
  background-color: #ee3322;
}
.tag.order-paid {
  background-color: #11aa22;
}
.tag.order-canceled {
  background-color: #999999;
}


/* stats */

.bigstats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.bigstats figure {
  font-weight: bold;
  text-align: center;
}
.bigstats .value,
.bigstats figcaption {
  display: block;
}
.bigstats .value {
  font-size: 5rem;
  line-height: 1;
}
