@font-face {
  font-family: "FontAwesome";
  src: url("fonts/fontawesome.eot?v=4.1.0");
  src: url("fonts/fontawesome.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("fonts/fontawesome.woff?v=4.1.0") format("woff"), url("fonts/fontawesome.ttf?v=4.1.0") format("truetype"), url("fonts/fontawesome.svg?v=4.1.0#fontawesomeregular") format("svg");
  font-style: normal;
  font-weight: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  *margin-right: 0.3em;
  text-decoration: inherit;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  speak: none;
  text-decoration: inherit;
}

/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}

li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  text-align: center;
  width: 1.25em;
}

.icon-add:before            { content: "\f067"; }
.icon-administrate:before   { content: "\f0ad"; }
.icon-archived:before       { content: "\f187"; }
.icon-arrow-up:before       { content: "\f062"; }
.icon-delete:before         { content: "\f1f8"; }
.icon-disabled:before       { content: "\f05e"; }
.icon-edit:before           { content: "\f040"; }
.icon-enabled:before        { content: "\f00c"; }
.icon-error:before          { content: "\f071"; }
.icon-external-link:before  { content: "\f08e"; }
.icon-hidden:before         { content: "\f070"; }
.icon-history:before        { content: "\f1da"; }
.icon-lock:before           { content: "\f023"; }
.icon-new:before            { content: "\f069"; }
.icon-pending:before        { content: "\f017"; }
.icon-pin:before            { content: "\f08d"; }
.icon-published:before      { content: "\f06e"; }
.icon-success:before        { content: "\f00c"; }
.icon-update:before         { content: "\f021"; }
.icon-view:before           { content: "\f06e"; }
