/* basic */

html {
  font-size: 90%;
  height: 100%;
}
body {
  background-color: #f4f4f4;
  color: #333333;
  font-family: sans-serif;
  line-height: 1.4em;
  min-height: 100%;
}


/* layout */

#page,
#topbar-body {
  margin: 0 auto;
  width: 920px;
}
#page {
  margin-top: 20px;
}

main,
#sidebar section,
#topbar {
  border: #cccccc solid 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
main,
#sidebar section {
  background-color: #ffffff;
  border-radius: 15px;
}

#sidebar {
  float: left;
  width: 160px;
}

main {
  margin-left: 180px;
  padding: 15px 40px 40px 40px;
}


/* top bar */

#topbar {
  border-width: 0 0 1px 0;
  background-color: rgba(0, 0, 0, 0.06);
}
#topbar-body {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  height: 2.5rem;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.authentication {
  flex-grow: 1;
  text-align: right;
}


/* sidebar */

#sidebar section {
  font-size: 0.8rem;
  margin-bottom: 20px;
  padding: 12px 0;
}
#sidebar section h1 {
  border-bottom: #cccccc solid 1px;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 15px 10px 15px;
}
#sidebar section p {
  padding: 0 20px
}


/* main navigation */

nav.main ol {
  width: 100%;
}
nav.main li {
  display: block;
  margin: 0;
  padding: 0;
}
nav.main a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  color: currentColor;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  opacity: 0.7;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
nav.main a:hover,
nav.main .current a {
  background-color: #e8e8e8;
  border-color: #cccccc;
  opacity: 1;
}


/* news */

.news-item {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.news-item h1 {
  margin-bottom: 0;
}
.news-item h1 a {
  color: currentColor;
  text-decoration: none;
}
.news-item h1 a:hover {
  text-decoration: underline;
}
.news-item .meta {
  font-size: 0.75rem;
  margin: 10px 0;
  opacity: 0.5;
}

.news-items .news-item,
.news-items .pagination {
  border-top: #cccccc solid 1px;
  margin: 20px 0 0;
  padding: 20px 0 0;
}
.news-items .news-item h1 {
  font-size: 1.4rem;
  margin-top: 0;
}
.news-items .news-item h2 {
  font-size: 1.1rem;
}


/* board, tourneys */

.board-postings,
.tourney-match-comments {
  border-bottom: #cccccc solid 1px;
}

.board-postings article,
.tourney-match-comments article {
  border-top: #cccccc solid 1px;
  margin: 0;
  padding: 10px 0;
}

.board-postings aside,
.board-postings .body,
.tourney-match-comments aside,
.tourney-match-comments .body {
  display: table-cell;
  vertical-align: top;
}
.board-postings aside,
.tourney-match-comments aside {
  font-size: 0.85rem;
  max-width: 136px;
  overflow: hidden;
  width: 136px;
}
.board-postings .body,
.tourney-match-comments .body {
  font-size: 1rem;
  max-width: 522px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 522px;
}

.board-postings aside .creator,
.tourney-match-comments aside .creator {
  font-weight: bold;
}

.board-postings aside .creator,
.board-postings aside .avatar,
.tourney-match-comments aside .creator,
.tourney-match-comments aside .avatar {
  margin-bottom: 0.25rem;
}

.board-postings aside time,
.tourney-match-comments aside time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.3;
  opacity: 0.5;
}

.board-postings footer {
  font-size: 0.75rem;
  margin-top: 1rem;
  opacity: 0.5;
  text-align: right;
}
.board-postings footer:hover {
  opacity: 1;
}
.board-postings footer p {
  margin: 0;
  padding: 0;
}

.board-postings .quote-intro,
.tourney-match-comments .quote-intro {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 0 0.2rem 0;
  padding: 0;
}
.board-postings .quote-intro cite,
.tourney-match-comments .quote-intro cite {
  font-weight: bold;
}
.board-postings blockquote,
.tourney-match-comments blockquote {
  background-color: #eeeeee;
  border: #cccccc solid 1px;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
}


/* misc */

ul.condensed {
  margin: 0 0 0 1em;
  padding: 0;
}

hr {
  border: 0;
  border-top: #cccccc solid 1px;
  height: 0;
}


/* footer */

#footer {
  clear: both;
  display: block;
  font-size: 0.9rem;
  opacity: 0.5;
  padding: 20px 0;
  text-align: center;
}
#footer:hover {
  opacity: 1;
}
