/* reset */

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

form,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

textarea {
  font: inherit;
  overflow: auto;
}

abbr {
  border-bottom: solid 1px;
  cursor: help;
}

address {
  font-style: normal;
}

img {
  border: 0;
}


/* simplified/modernized "micro clearfix" */

.clearfix::after {
  clear: both;
  content: '';
  display: table;
}


/* notifications */

div[class|=notification] {
  background-color: #dddddd;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  margin: 0 0 10px 0;
  padding: 0.3em 15px;
}
div[class|=notification]:first-child {
  margin-top: 25px;
}
div[class|=notification] .icon {
  flex: 0 0 1;
  padding-right: 0.7em;
}
div[class|=notification] .body {
  flex: 1;
}
div[class|=notification] .body :first-child {
  margin-top: 0;
  padding-top: 0;
}
div[class|=notification] .body :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
div.notification-error {
  background-color: #ff9999;
  border-color: #ff1a1a;
}
div.notification-info {
  background-color: #99ccee;
  border-color: #66aacc;
}
div.notification-success {
  background-color: #88ee88;
  border-color: #1fd81f;
}


/* breadcrumbs */

nav.breadcrumbs {
  font-size: 0.9rem;
  margin: 1rem 0 2rem 0;
}
nav.breadcrumbs li {
  display: inline-block;
}
nav.breadcrumbs li::after {
  content: ' \0BB \020';
}
nav.breadcrumbs li:last-child::after {
  content: none;
}
nav.breadcrumbs:not(.compact) li:last-child {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 0.5rem;
}
nav.breadcrumbs:not(.compact) li:last-child a {
  color: currentColor;
  text-decoration: none;
}
nav.breadcrumbs:not(.compact) li:last-child a:hover {
  text-decoration: underline;
}


/* headings */

h1 {
  font-size: 2rem;
  line-height: 1.2;
}
h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
}


/* actions */

ol.actions {
  display: inline-block;
  margin: 1em 0;
}
ol.actions li {
  display: inline-block;
  margin-bottom: 0.5em;
}
.action,
.actions a {
  background-color: #dddddd;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.25em;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
.action.inline,
.actions.inline a {
  line-height: 1;
  padding: 2px 3px;
}
.action:not(.disabled):hover,
.actions a:hover {
  background-color: #999999;
  border-color: #666666;
  color: #ffffff;
}
.action.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


/* forms */

fieldset li {
  margin: 0;
  padding: 0.2rem 0;
}

label,
fieldset .label {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  width: 140px;
}
label,
fieldset .label {
  width: 139px;
}
.checkbox label,
.radio label {
  font-weight: normal;
  padding-top: 0.1rem;
  width: auto;
}
.checkbox,
.radio {
  padding: 0.3rem 0 0 138px;
}

fieldset input,
fieldset textarea,
fieldset .supplement {
  width: 518px;
}
fieldset input[type='checkbox'],
fieldset input[type='radio'],
fieldset input[size] {
  width: auto;
}
fieldset input[type='number'] {
  text-align: right;
}
fieldset textarea {
  height: 20rem;
  resize: vertical;
}
fieldset textarea.wide {
  width: 100%;
}
fieldset .supplement {
  display: inline-block;
  margin-left: -4px;
}

fieldset.buttons {
  background-color: #e8e8e8;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0;
  margin: 1.5rem -40px 0 -40px;
  padding: 1rem 40px;
  text-align: center;
}

button {
  font-weight: bold;
  padding: 0.25em 0.75em;
}

form li.error {
  background-color: #ff9999;
  border: #ff1a1a solid 1px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  margin: 4px -8px;
  padding: 4px 7px;
}
form li.error .errors li {
  font-size: 0.75rem;
  margin-top: 0.2rem;
}
form li.error .errors li span {
  font-style: italic;
}


/* tables */

th,
td {
  padding: 0 1em 0 0;
  text-align: left;
  vertical-align: top;
}
td.number {
  text-align: right;
}

table.index th,
table.index td {
  padding: 0.35rem 1rem 0.35rem 0;
}
table.index th:last-child,
table.index td:last-child {
  padding-right: 0;
}
table.index th {
  font-size: 0.8rem;
  font-weight: bold;
}
table.index td {
  font-size: 0.9rem;
}
table.index tbody th,
table.index tbody td {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0;
}
table.index .details {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.2rem;
}

table.wide {
  width: 100%;
}


/* pagination */

nav.pagination {
  font-size: 0.8rem;
  margin: 1em 0;
  text-align: left;
}

nav.pagination ol {
  display: inline-block;
}

nav.pagination li {
  display: inline;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

nav.pagination li a,
nav.pagination li.current {
  display: inline-block;
  padding: 0 0.4rem;
  text-align: center;
  text-decoration: none;
}

nav.pagination li a:hover,
nav.pagination li.current {
  background-color: #dddddd;
  border-radius: 3px;
}


/* terms */

.terms ol,
.terms ul {
  margin: 1rem 0 1rem 3rem;
  padding: 0;
}

.terms ol {
  list-style-type: decimal;
}


/* misc */

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

main img {
  max-width: 100%;
}

.centered {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.dimmed {
  opacity: 0.5;
}

.hyphenate {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.monospace {
  font-family: monospace;
  font-size: 0.8rem !important;
}

[class^="icon-"][title] {
  cursor: help;
}


/* tags */

.tag {
  background-color: orange;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.3;
  padding: 0 0.4em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}


/* avatars */

.avatar {
  display: inline-block;
}
.avatar img {
  border: #cccccc solid 1px;
  display: block;
}
.avatar .orga-badge {
  font-weight: bold;
  padding-top: 0.5em;
}
