/* reset */

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 90%;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

form,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

abbr {
  cursor: help;
}

address {
  font-style: normal;
}


/* basic */

html {
  height: 100%;
}
body {
  background-color: #f4f4f4;
  border-color: #cc0000;
  border-style: solid;
  border-width: 2px 0;
  color: #333333;
  font-family: sans-serif;
  min-height: 100%;
}


/* layout */

#page {
  margin: 40px auto 0 auto;
  width: 920px;
}

#sidebar section,
main {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebar {
  float: left;
  width: 160px;
}

main {
  margin-left: 180px;
  padding: 15px 40px 40px 40px;
}


/* top navigation */

nav.top {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
  margin-right: 1em;
  text-align: right;
}


/* sidebar */

#sidebar section {
  font-size: 0.8rem;
  margin-bottom: 20px;
  padding: 12px 0;
}
#sidebar section h1 {
  border-bottom: #cccccc solid 1px;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 15px 10px 15px;
}
#sidebar section p {
  padding: 0 20px
}


/* main navigation */

nav.main ol {
  width: 100%;
}
nav.main li {
  display: block;
  margin: 0;
  padding: 0;
}
nav.main a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  color: #333333;
  display: block;
  font-weight: bold;
  line-height: 1.5rem;
  opacity: 0.7;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
nav.main a:hover,
nav.main .current a {
  background-color: #e8e8e8;
  border-color: #cccccc;
  opacity: 1;
}


/* notifications */

p[class|=notification] {
  background-color: #dddddd;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  margin: 0 0 10px 0;
  padding: 0.3em 15px;
}
p[class|=notification]:first-child {
  margin-top: 25px;
}
p.notification-error {
  background-color: #ff9999;
  border-color: #ff1a1a;
}
p.notification-info {
  background-color: #99ccee;
  border-color: #66aacc;
}
p.notification-success {
  background-color: #88ee88;
  border-color: #1fd81f;
}


/* breadcrumbs */

nav.breadcrumbs {
  font-size: 0.9rem;
  margin: 1rem 0;
}
nav.breadcrumbs li {
  display: inline-block;
}
nav.breadcrumbs li:before {
  content: '\0BB \020';
}
nav.breadcrumbs li:first-child:before,
nav.breadcrumbs:not(.compact) li:last-child:before {
  content: none;
}
nav.breadcrumbs:not(.compact) li:last-child {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}


/* headings */

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.4rem;
  margin-top: 2rem;
}


/* actions */

ol.actions {
  display: inline-block;
  margin: 1em 0;
}
ol.actions li {
  display: inline-block;
  margin-bottom: 0.5em;
}
.action,
.actions a {
  background-color: #dddddd;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  color: #333333;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.25em;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
.action:not(.disabled):hover,
.actions a:hover {
  background-color: #999999;
  border-color: #666666;
  color: #ffffff;
}
.action.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}


/* forms */

fieldset li {
  margin: 0;
  padding: 0.2rem 0;
}

label,
fieldset .label {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  width: 140px;
}
label,
fieldset .label {
  width: 139px;
}
.checkbox label,
.radio label {
  font-weight: normal;
  padding-top: 0.1rem;
  width: auto;
}
.checkbox,
.radio {
  padding: 0.3rem 0 0 138px;
}

fieldset input,
fieldset textarea,
fieldset .supplement {
  width: 518px;
}
fieldset input[type='checkbox'],
fieldset input[type='radio'],
fieldset input[size] {
  width: auto;
}
fieldset textarea {
  height: 20rem;
  resize: vertical;
}
fieldset .supplement {
  display: inline-block;
  margin-left: -4px;
}

fieldset.buttons {
  background-color: #e8e8e8;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0;
  margin: 1.5rem -40px 0 -40px;
  padding: 1rem 40px;
  text-align: center;
}

button {
  font-weight: bold;
  padding: 0.25em 0.75em;
}

form li.error {
  background-color: #ff9999;
  border: #ff1a1a solid 1px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  margin: 4px -8px;
  padding: 4px 7px;
}
form li.error .errors li {
  font-size: 0.75rem;
  margin-top: 0.2rem;
}
form li.error .errors li span {
  font-style: italic;
}


/* tables */

th,
td {
  padding: 0 1em 0 0;
  text-align: left;
  vertical-align: top;
}

table.index th {
  font-size: 0.8rem;
  font-weight: bold;
}
table.index td {
  font-size: 0.9rem;
}

table.index {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: #cccccc solid 1px;
}
table.index tbody {
  line-height: 1.2em;
}
table.index tbody th,
table.index tbody td {
  border-top: #cccccc solid 1px;
}
table.index th,
table.index td {
  padding: 0.5rem 1rem 0.5rem 0;
}

table.index .details {
  display: block;
  font-size: 0.75rem;
  margin-top: 0.2rem;
}

table.wide {
  width: 100%;
}


/* pagination */

nav.pagination {
  font-size: 0.9rem;
  margin: 0.5em 0;
  text-align: left;
}

nav.pagination ol {
  display: inline-block;
}

nav.pagination li {
  display: inline;
  line-height: 1.7em;
  margin: 0;
  padding: 0;
}

nav.pagination li a,
nav.pagination li.current {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 1.5em;
}

nav.pagination li a:hover,
nav.pagination li.current {
  background-color: #dddddd;
  border-radius: 3px;
  font-weight: bold;
}


/* board, tourneys */

.board-postings,
.tourney-match-comments {
  border-bottom: #cccccc solid 1px;
}

.board-postings article,
.tourney-match-comments article {
  border-top: #cccccc solid 1px;
  margin: 0;
  padding: 10px 0;
}

.board-postings aside,
.board-postings .body,
.tourney-match-comments aside,
.tourney-match-comments .body {
  display: inline-block;
  vertical-align: top;
}
.board-postings aside,
.tourney-match-comments aside {
  font-size: 0.9rem;
  margin-right: 4px;
  width: 130px;
}
.board-postings .body,
.tourney-match-comments .body {
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 520px;
}

.board-postings aside .creator,
.tourney-match-comments aside .creator {
  font-weight: bold;
}

.board-postings aside .creator,
.board-postings aside .avatar,
.tourney-match-comments aside .creator,
.tourney-match-comments aside .avatar {
  margin-bottom: 0.25rem;
}

.board-postings aside time,
.tourney-match-comments aside time {
  display: block;
  font-size: 0.8rem;
}

.board-postings footer {
  font-size: 0.75rem;
  margin-top: 1rem;
  text-align: right;
}
.board-postings footer p {
  margin: 0;
  padding: 0;
}

.board-postings .quote-intro,
.tourney-match-comments .quote-intro {
  font-size: 0.8rem;
  font-style: italic;
  margin: 0 0 0.2rem 0;
  padding: 0;
}
.board-postings .quote-intro cite,
.tourney-match-comments .quote-intro cite {
  font-weight: bold;
}
.board-postings blockquote,
.tourney-match-comments blockquote {
  background-color: #eeeeee;
  border: #cccccc solid 1px;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
}


/* stats */

.bigstats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.bigstats figure {
  font-weight: bold;
  text-align: center;
}
.bigstats .value,
.bigstats figcaption {
  display: block;
}
.bigstats .value {
  font-size: 5rem;
  margin-bottom: -1rem;
}


/* footer */

#footer {
  clear: both;
  display: block;
  font-size: 0.9rem;
  opacity: 0.5;
  padding: 20px 0;
  text-align: center;
}
#footer:hover {
  opacity: 1;
}


/* misc */

main img {
  max-width: 100%;
}

.centered {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.faint,
.hidden {
  opacity: 0.5;
}

.monospace {
  font-family: monospace;
  font-size: 0.8rem !important;
}

[class^="icon-"][title] {
  cursor: help;
}

.tag {
  background-color: orange;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.3em;
  padding: 0 0.4em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.avatar {
  display: inline-block;
  max-height: 152px;
  max-width: 112px;
  overflow: hidden;
  position: relative;
  width: 112px;
}
.avatar img {
  border: #cccccc solid 1px;
}
.avatar .orga-overlay {
  background-color: rgba(255, 255, 255, 0.5);
  border-top: #cccccc solid 1px;
  bottom: 1px;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  height: 22px;
  left: 1px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
  width: 110px;
}
