/* reset */

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 90%;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

form,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

abbr {
  cursor: help;
}

address {
  font-style: normal;
}


/* basic */

body {
  background-color: #f4f4f4;
  color: #333333;
  font-family: sans-serif;
}


/* layout */

#page {
  margin: 40px auto 0 auto;
  width: 920px;
}

#sidebar,
main {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebar {
  float: left;
  padding: 12px 0;
  width: 140px;
}

main {
  margin-left: 160px;
  padding: 15px 40px 40px 40px;
}


/* top navigation */

nav.top {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
  margin-right: 1em;
  text-align: right;
}


/* main navigation */

nav.main ol {
  width: 100%;
}
nav.main li {
  display: block;
  margin: 0;
  padding: 0;
}
nav.main a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  color: #333333;
  display: block;
  font-size: 80%;
  font-weight: bold;
  line-height: 1.5rem;
  opacity: 0.7;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
nav.main a:hover,
nav.main .current a {
  background-color: #e8e8e8;
  border-color: #cccccc;
  opacity: 1;
}


/* notifications */

p[class|=notification] {
  background-color: #dddddd;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  margin: 0 0 10px 0;
  padding: 0.3em 15px;
}
p[class|=notification]:first-child {
  margin-top: 25px;
}
p.notification-error {
  background-color: #ff9999;
  border-color: #ff1a1a;
}
p.notification-info {
  background-color: #99ccee;
  border-color: #66aacc;
}
p.notification-success {
  background-color: #88ee88;
  border-color: #1fd81f;
}


/* actions */

ol.actions {
  display: inline-block;
  margin: 1em 0;
}
ol.actions li {
  display: inline-block;
  margin-bottom: 0.5em;
}
.action,
.actions a {
  background-color: #dddddd;
  border: #cccccc solid 1px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  color: #333333;
  display: inline-block;
  margin-right: 0.25em;
  padding: 0.25em 0.5em;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
.action:hover,
.actions:hover a {
  background-color: #666666;
  box-shadow: none;
  color: #f4f4f4;
}


/* forms */

fieldset.buttons {
  border-style: solid;
  border-width: 1px 0;
  margin: 1rem 0;
  padding: 1rem 40px;
  text-align: center;
}

button {
  font-weight: bold;
  padding: 0.25em 0.75em;
}


/* tables */

th,
td {
  padding: 0 1em 0 0;
  text-align: left;
  vertical-align: top;
}
th {
  font-size: 0.8rem;
  font-weight: bold;
}
td {
  font-size: 0.9rem;
}

table.index {
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: #cccccc solid 1px;
}
table.index tbody {
  line-height: 1.2em;
}
table.index td {
  border-top: #cccccc solid 1px;
}
table.index th,
table.index td {
  padding: 0.5em 0.5em 0.5em 0;
}

table.wide {
  width: 100%;
}


/* board */

.board-postings {
  border-bottom: #cccccc solid 1px;
}

.board-postings article {
  border-top: #cccccc solid 1px;
  margin: 0 0 20px 0;
  padding: 10px 0 0 0;
}

.board-postings aside,
.board-postings .body {
  display: inline-block;
  vertical-align: top;
}

.board-postings aside {
  margin-right: 4px;
  width: 120px;
}

.board-postings aside .author {
  font-weight: bold;
}

.board-postings aside .avatar {
  border: #cccccc solid 1px;
  display: block;
  height: 150px;
  margin: 0.25rem 0;
  width: 110px;
}

.board-postings aside time {
  display: block;
  font-size: 0.8rem;
}


/* footer */

#footer {
  clear: both;
  display: block;
  font-size: 0.9rem;
  opacity: 0.5;
  padding: 20px 0;
  text-align: center;
}
#footer:hover {
  opacity: 1;
}


/* misc */

.hidden {
  opacity: 0.5;
}
