    <h2>Artikel</h2>
    <table class="index wide">
      <thead>
        <tr>
          <th>Anzahl</th>
          <th>Beschreibung</th>
          <th>Stückpreis</th>
        </tr>
      </thead>
      <tbody>
        {%- for item in article_compilation %}
        <tr>
          {%- if item.has_fixed_quantity() %}
          <td style="text-align: right;">{{ item.fixed_quantity }}</td>
          {%- else %}
          <td style="text-align: right;">
            {%- set field = form.get_field_for_article(item.article) %}
            {{ field() }}
            {%- if field.errors %}
            <ol class="errors" style="text-align: left;">
              {%- for error in field.errors %}
              <li><strong>Fehler:</strong> <span>{{ error }}</span></li>
              {%- endfor %}
            </ol>
            {%- endif -%}
          </td>
          {%- endif %}
          <td><strong>{{ item.article.description }}</strong></td>
          <td style="text-align: right;">{{ item.article.price.to_string() }}</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <p><small>Im Preis ist gemäß § 19 UStG keine Umsatzsteuer enthalten (Kleinunternehmerregelung).</small></p>
