{% from 'macros/forms.html' import form_field, form_fieldset %}

    <h2>Deine Daten</h2>
    {%- call form_fieldset() %}
      {{ form_field(form.first_names, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.last_name, maxlength=40) }}
      {{ form_field(form.date_of_birth, size=10, maxlength=10, note='<small>Format: <tt>TT.MM.JJJJ</tt> (T = Tag, M = Monat, J = Jahr)</small>'|safe) }}
      {{ form_field(form.street, maxlength=40) }}
      {{ form_field(form.zip_code, size=5, maxlength=5) }}
      {{ form_field(form.city, maxlength=40) }}
    {%- endcall %}
