{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% set current_page = 'shop' %}
{% set title = 'Bestellen' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.order', article=(articles[0].id if articles else '')) }}" method="post">

    <h2>Deine Daten</h2>
    {%- call form_fieldset() %}
      {{ form_field(form.first_names, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.last_name, maxlength=40) }}
      {{ form_field(form.date_of_birth, size=10, maxlength=10, note='<small>Format: <tt>TT.MM.JJJJ</tt> (T = Tag, M = Monat, J = Jahr)</small>'|safe) }}
      {{ form_field(form.street, maxlength=40) }}
      {{ form_field(form.zip_code, size=5, maxlength=5) }}
      {{ form_field(form.city, maxlength=40) }}
    {%- endcall %}

    <h2>Artikel</h2>
    <table class="index" style="margin: 0 auto;">
      <thead>
        <tr>
          <th>Anzahl</th>
          <th>Beschreibung</th>
          <th>Preis</th>
        </tr>
      </thead>
      <tbody>
        {%- for article in articles %}
        <tr>
          <td style="text-align: right;">1</td>
          <td><strong>{{ article.description }}</strong></td>
          <td style="text-align: right;">{{ article.price.to_str() }} &euro;</td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    <p><small>Im Preis ist gemäß § 19 UStG keine Umsatzsteuer enthalten (Kleinunternehmerregelung).</small></p>

    {{ form_buttons('Kostenpflichtig bestellen') }}
  </form>

{%- endblock body %}
