{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/shop.html' import render_article_compilation %}
{% set current_page = 'shop' %}
{% set title = 'Bestellen' %}

{% block body %}

  <h1>{{ title }}</h1>

{%- if article %}
  <form action="{{ url_for('.order_single', article_id=(article.id if article else '')) }}" method="post">

{%- include 'shop/_orderer_form_fields.html' %}

{{ render_article_compilation(article_compilation) }}

    {{ form_buttons('Kostenpflichtig bestellen') }}
  </form>
{%- endif %}

{%- endblock body %}
