{% extends 'layout/admin/base.html' %}
{% from 'macros/datetime.html' import render_datetime, render_datetime_custom %}
{% from 'macros/user_admin.html' import render_user_avatar_tiny_and_link %}
{% set current_page = 'orga_presence' %}
{% set layout_main_raw = True %}
{% set title = 'Anwesenheit' %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='style/presence.css') }}">
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <div style="overflow-x: scroll;">
    <table class="index wide">
      <thead>
        <tr>
          <th colspan="3"></th>
          {%- for day, hour_total in days %}
          <th colspan="{{ hour_total }}">{{ render_datetime_custom(day, '%A') }}</th>
          {%- endfor %}
        </tr>
        <tr>
          <th>Aufgabe/Orga</th>
          <th>Beginn</th>
          <th>Ende</th>
          {%- for hour_range in hour_ranges %}
          <th class="bar-column">{{ render_datetime_custom(hour_range.start, '%H') }}</th>
          {%- endfor %}
        </tr>
      </thead>
      <tbody>
        <tr class="party">
          <td class="nowrap"><strong>{{ party.title }}</strong></td>
          {{ render_range_columns(party) }}
          {{ render_bar_columns(party) }}
        </tr>
        {%- for task in tasks|sort(attribute='starts_at') %}
        <tr class="task">
          <td>{{ task.title }}</td>
          {{ render_range_columns(task) }}
          {{ render_bar_columns(task) }}
        </tr>
        {%- endfor %}
        {%- for presence in presences|sort(attribute='orga.screen_name') %}
        <tr class="presence">
          <td>{{ render_user_avatar_tiny_and_link(presence.orga) }}</td>
          {{ render_range_columns(presence) }}
          {{ render_bar_columns(presence) }}
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>

{%- endblock %}

{% macro render_range_columns(time_slot) -%}
          <td class="nowrap">{{ render_datetime(time_slot.range.start, smart=False) }}</td>
          <td class="nowrap">{{ render_datetime(time_slot.range.end, smart=False) }}</td>
{%- endmacro %}

{% macro render_bar_columns(time_slot) -%}
      {%- for hour_range in hour_ranges %}
        {%- if time_slot.range.contains(hour_range.start) %}
          <td class="bar-column"><span class="bar"></span></td>
        {%- else %}
          <td></td>
        {%- endif %}
      {%- endfor %}
{%- endmacro %}
