{% extends 'layout/base_auto.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_checkbox, form_fieldset %}
{% set current_page = 'user.create' %}
{% set title = 'Benutzerkonto anlegen' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.create') }}" method="post" class="disable-submit-button-on-submit">
    {%- call form_fieldset() %}
      {{ form_field(form.screen_name, maxlength=24, required='required', note='öffentlich sichtbar', autofocus='autofocus') }}
      {%- if form.first_names %}
      {{ form_field(form.first_names, maxlength=40) }}
      {%- endif %}
      {%- if form.last_name %}
      {{ form_field(form.last_name, maxlength=40) }}
      {%- endif %}
      {{ form_field(form.email_address, type='email', maxlength=80, required='required') }}
      {{ form_field(form.password, type='password', maxlength=40, required='required') }}
      {%- if form.consent_to_terms %}
      {{ form_field(form.terms_version_id, show_label=False, required='required') }}
      {{ form_field_checkbox(form.consent_to_terms,
        'Ich akzeptiere die <a href="%s" target="_blank">Allgemeinen Geschäftsbedingungen</a>.'|format(url_for('terms.view_current'))
      ) }}
      {%- endif %}
      {%- if form.consent_to_privacy_policy %}
      {{ form_field_checkbox(form.consent_to_privacy_policy,
        'Ich akzeptiere die <a href="%s" target="_blank">Datenschutzbestimmungen</a>.'|format(url_for('snippet.privacy_policy'))
      ) }}
      {%- endif %}
      {%- if form.subscribe_to_newsletter %}
      {{ form_field_checkbox(form.subscribe_to_newsletter, 'Ich möchte den Newsletter erhalten.') }}
      {%- endif %}
    {%- endcall %}

    {{ form_buttons('Anlegen') }}
  </form>

{%- endblock %}
