<h2>{{ _('Personal Data') }}</h2>

<div class="box">

  <div class="row mb">
    <div>
      <div class="data-label">{{ _('First name') }}</div>
      <div class="data-value">{{ user_detail.first_name|fallback }}</div>
    </div>
    <div>
      <div class="data-label">{{ _('Last name') }}</div>
      <div class="data-value">{{ user_detail.last_name|fallback }}</div>
    </div>
  </div>

  <div class="data-label">{{ _('Date of birth') }}</div>
  <div class="data-value">
    {%- if user_detail.date_of_birth -%}
    {{ user_detail.date_of_birth|dateformat }}
    {%- else -%}
    {{ _('not given')|dim }}
    {%- endif -%}
  </div>

  <div class="data-label">{{ _('Address') }}</div>
  <div class="data-value">
    {{- user_detail.street|fallback }}<br>
    {%- if user_detail.postal_code %}{{ user_detail.postal_code }}{% endif %}
    {{ user_detail.city|fallback -}}
    <br>
    {{- user_detail.country|fallback -}}
  </div>

  <div class="data-label">{{ _('Phone number') }}</div>
  <div class="data-value">{{ user_detail.phone_number|fallback }}</div>

</div>
