{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user_avatar.html' import render_user_avatar_16, render_user_avatar_20, render_user_avatar_image_with_fallback %}


{% macro render_user_admin_link(user) -%}
<a href="{{ url_for('user_admin.view', user_id=user.id) }}">{{ user.screen_name|truncate(16, end='…') if user.deleted else user.screen_name }}</a>
{%- endmacro %}


{% macro render_user_avatar_16_and_admin_link(user) -%}
<span class="nowrap">{{ render_user_avatar_16(user) }} {{ render_user_admin_link(user) }}</span>
{%- endmacro %}


{% macro render_user_avatar_16_and_name(user) -%}
<span class="nowrap">{{ render_user_avatar_16(user) }} {{ user.screen_name }}</span>
{%- endmacro %}


{% macro render_user_avatar_20_and_admin_link(user) -%}
<span class="nowrap">{{ render_user_avatar_20(user) }} {{ render_user_admin_link(user) }}</span>
{%- endmacro %}


{% macro render_user_avatar_20_and_name(user) -%}
<span class="nowrap">{{ render_user_avatar_20(user) }} {{ user.screen_name }}</span>
{%- endmacro %}


{% macro render_user_microcard(user, full_name=None, tiny_avatar=False) -%}
<div class="user-microcard{% if tiny_avatar %} user-microcard--tiny-avatar{% endif %}{% if user.deleted %} dimmed{% endif %}">
  <div class="user-microcard-avatar">
    <div class="avatar">{{ render_user_avatar_image_with_fallback(user) }}</div>
  </div>
  <div class="user-microcard-names">
    <div class="user-microcard-screen-name">
      {{- render_user_admin_link(user) -}}
      {%- if user.deleted %} {{ render_user_flag_deleted(show_label=False) }}{% endif -%}
      {%- if user.suspended %} {{ render_user_flag_suspended(show_label=False) }}{% endif -%}
    </div>
    <div class="user-microcard-full-name">
      {%- if not user.deleted -%}
      {{ full_name if full_name is not none else user.detail.full_name }}
      {%- else -%}
      <em>gelöscht</em>
      {%- endif -%}
    </div>
  </div>
</div>
{%- endmacro %}


{% macro render_user_flag_deleted(label='gelöscht', show_label=True) -%}
  {{ render_tag(label if show_label else '', class='color-disabled', icon='delete', title=None if show_label else label) }}
{%- endmacro %}


{% macro render_user_flag_suspended(label='gesperrt', show_label=True) -%}
  {{ render_tag(label if show_label else '', class='color-danger', icon='lock', title=None if show_label else label) }}
{%- endmacro %}


{% macro render_user_flag_uninitialized(label='nicht aktiviert', show_label=True) -%}
  {{ render_tag(label if show_label else '', class='color-info', icon='pending', title=None if show_label else label) }}
{%- endmacro %}


{% macro render_most_important_user_flag(user, show_label=True) -%}
  {%- if user.deleted -%}
    {{ render_user_flag_deleted(show_label=show_label) }}
  {%- elif user.suspended -%}
    {{ render_user_flag_suspended(show_label=show_label) }}
  {%- elif not user.initialized -%}
    {{ render_user_flag_uninitialized(show_label=show_label) }}
  {%- endif -%}
{%- endmacro %}


{% macro render_user_state_filter(user_state_filter) %}
  {%- if user_state_filter.name == 'active' -%}
    {{ render_tag('aktiv', class='color-success') }}
  {%- elif user_state_filter.name == 'uninitialized' -%}
    {{ render_tag('nicht aktiviert', class='color-info') }}
  {%- elif user_state_filter.name == 'suspended' -%}
    {{ render_tag('gesperrt', class='color-danger') }}
  {%- elif user_state_filter.name == 'deleted' -%}
    {{ render_tag('gelöscht', class='color-disabled') }}
  {%- else -%}
    {{ render_tag('keine', class='color-none') }}
  {%- endif -%}
{%- endmacro %}
