/* reset */

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem; /* 16px */
}

figcaption,
figure,
main {
  display: block;
}

a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

form,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

textarea {
  font: inherit;
  overflow: auto;
}

abbr[title] {
  border-bottom: none;
  cursor: help;
  text-decoration: underline dotted;
}

address {
  font-style: normal;
}

img {
  border: 0;
}


/* icons */

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: -7%;
  width: 1em;
}

span[title] .icon {
  cursor: help;
}

.block-with-icon {
  display: flex;
}
.block-with-icon-icon {
  flex: 0 0 auto;
  padding-right: 0.5em;
}
.block-with-icon-body {
  flex: 1;
}


/* notifications */

.notification {
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.25) solid 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 0.3em 15px;
}

.notification:not(:last-child) {
  margin-bottom: 1rem;
}

.notification > .block-with-icon-body :first-child {
  margin-top: 0;
  padding-top: 0;
}

.notification > .block-with-icon-body :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}


/* tabs */

.tabs {
  border-bottom: #dddddd solid 1px;
  display: flex;
  margin-bottom: 2rem;
}

.tabs--centered {
  justify-content: center;
}

.tabs a,
.tabs .current {
  border-bottom: transparent solid 1px;
  display: block;
  color: #888888;
  flex: 1 0 auto;
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.tabs a:hover,
.tabs .current {
  border-bottom-color: #333333;
  color: currentColor;
}

.tabs a:hover {
  background-color: #e8e8e8;
}


/* breadcrumbs */

nav.breadcrumbs {
  font-size: 0.8125rem; /* 13px / 16px */
  margin-top: 1rem;
}

nav.breadcrumbs li {
  display: inline-block;
}
nav.breadcrumbs li::after {
  content: ' \0BB \020';
}
nav.breadcrumbs.compact li:last-child::after {
  content: none;
}

nav.breadcrumbs + h1 {
  margin-top: 0.5rem;
}


/* tables */

th,
td {
  padding: 0 1em 0 0;
  text-align: left;
  vertical-align: top;
}
th.number,
td.number {
  text-align: right;
}

table.index th,
table.index td {
  padding: 0.35rem 1rem 0.35rem 0;
}
table.index th:last-child,
table.index td:last-child {
  padding-right: 0;
}
table.index th {
  font-size: 0.75rem; /* 12px / 16px */
  font-weight: bold;
}
table.index td {
  font-size: 0.8125rem; /* 13px / 16px */
}
table.index > tbody > tr > th,
table.index > tbody > tr > td {
  border-color: #dddddd;
  border-style: solid;
  border-width: 1px 0;
}
table.index .details {
  display: block;
  font-size: 0.6875rem; /* 11px / 16px */
  margin-top: 0.2rem;
}

table.wide {
  width: 100%;
}


/* forms */

fieldset li {
  margin: 0;
  padding: 0.2rem 0;
}

label,
fieldset .label {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
  width: 100%;
}
.checkbox label,
.radio label {
  font-weight: normal;
  padding-top: 0.1rem;
  width: auto;
}
.checkbox,
.radio {
  padding-top: 0.3rem;
}

fieldset input:not([size]):not([type='checkbox']):not([type='radio']),
fieldset textarea,
fieldset .supplement {
  width: 100%;
}
fieldset input[type='number'] {
  text-align: right;
}
fieldset textarea {
  height: 20rem;
  resize: vertical;
}
fieldset textarea.wide {
  width: 100%;
}
fieldset textarea.collapsible {
  transition: height 0.5s;
}
fieldset textarea.collapsible.collapsed {
  height: 3rem;
}
fieldset .supplement {
  display: inline-block;
  margin-left: -4px;
}

@media (min-width: 45rem) { /* 720px / 16px */
  label,
  fieldset .label {
    width: 22%;
  }

  fieldset input:not([size]):not([type='checkbox']):not([type='radio']),
  fieldset textarea,
  fieldset .supplement {
    width: 78%;
  }

  .checkbox,
  .radio {
    padding-left: 22%;
  }
}

fieldset.buttons {
  margin: 1.5rem -40px 0 -40px;
  padding: 0 40px;
  text-align: center;
}

fieldset.buttons button {
  font-weight: bold;
  padding: 0.25em 0.75em;
}

form li.error {
  background-color: #ff9999;
  border: #ff1a1a solid 1px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  margin: 4px -8px;
  padding: 4px 7px;
}
form li.error .errors li {
  font-size: 0.6875rem; /* 11px / 16px */
  margin-top: 0.2rem;
}
form li.error .errors li span {
  font-style: italic;
}


/* buttons */

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0 1.5rem -8px;
}

.button-row--compact {
  margin-bottom: 0;
  margin-top: -8px;
}

.button-row--center {
  justify-content: center;
}
.button-row--right {
  justify-content: flex-end;
}

.button-row > * {
  margin: 8px 0 0 8px;
}

.button {
  background-color: #eeeeee;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: currentColor;
  cursor: pointer;
  display: inline-block;
  padding: 0.4em 0.6em;
  text-decoration: none;
  white-space: nowrap;
}
.button--compact {
  padding: 0;
}
.button--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.button--icon-only {
  padding: 0 0.15rem;
}
.button--inline {
  padding: 0 0.3rem;
}
.button:hover {
  background-color: #e8e8e8;
  border-color: #999999;
}
.button:active {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}


/* dropdowns */

.dropdown {
  display: inline-block;
  font-size: 0.8125rem; /* 13px / 16px */
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-toggle::-moz-focus-inner {
  border: 0;
}

.dropdown > ol {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  display: none;
  font-weight: normal;
  left: 0;
  list-style: none;
  padding: 0.4rem 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 200;
}
.dropdown.left > ol {
  left: auto;
  right: 0;
}
.dropdown.open > ol {
  display: block;
}

.dropdown li > a {
  color: currentColor;
  display: block;
  padding: 0.4rem 0.8rem;
  text-decoration: none;
  white-space: nowrap;
}
.dropdown li > a:hover {
  background-color: #eeeeee;
}

.dropdown li.divider {
  border-top: #dddddd solid 1px;
  margin-top: 0.4rem;
  padding-top: 0.4rem;
}


/* pagination */

nav.pagination {
  font-size: 0.75rem; /* 12px / 16px */
  margin: 1em 0;
  text-align: left;
}
nav.pagination.centered {
  text-align: center;
}

nav.pagination ol {
  display: inline-block;
}

nav.pagination li {
  display: inline;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

nav.pagination li a,
nav.pagination li.current {
  display: inline-block;
  padding: 0 0.4rem;
  text-align: center;
  text-decoration: none;
}

nav.pagination li a:hover,
nav.pagination li.current {
  background-color: #dddddd;
  border-radius: 3px;
}


/* tags */

.tag {
  background-color: orange;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: inline-block;
  font-size: 0.625rem; /* 10px / 16px */
  font-weight: bold;
  line-height: 1.3;
  padding: 0 0.4em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  vertical-align: middle;
}


/* user avatars */

.avatar {
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.avatar img {
  display: block;
  height: 100%;
  width: 100%;
}

.avatar.size-16 {
  height: 16px;
  width: 16px;
}
.avatar.size-20 {
  height: 20px;
  width: 20px;
}
.avatar.size-32 {
  height: 32px;
  width: 32px;
}
.avatar.size-48 {
  height: 48px;
  width: 48px;
}
.avatar.size-64 {
  height: 64px;
  width: 64px;
}
.avatar.size-96 {
  height: 96px;
  width: 96px;
}
.avatar.size-128 {
  height: 128px;
  width: 128px;
}


/* user badges */

.user-badge {
  border: #cccccc solid 1px;
  border-radius: 50%;
  display: block;
}
a.user-badge:hover {
  border-color: currentColor;
}
.user-badge img {
  display: block;
  min-height: 100%;
  min-width: 100%;
}

.user-badge.size-24 {
  height: 24px;
  padding: 3px;
  width: 24px;
}
.user-badge.size-32 {
  height: 32px;
  padding: 4px;
  width: 32px;
}
.user-badge.size-64 {
  height: 64px;
  padding: 8px;
  width: 64px;
}

table.user-badges-list td {
  padding: 0.25rem 0.5rem 0.25rem 0;
  vertical-align: middle;
}


/* colors */

.color-danger {
  background-color: #ff9999;
  border-color: #ff1a1a;
}

.tag.color-danger {
  background-color: #ff1a1a;
}

.color-info {
  background-color: #99ccee;
  border-color: #66aacc;
}

.color-success {
  background-color: #88ee88;
  border-color: #1fd81f;
}


/* misc */

img {
  max-width: 100%;
}

.centered {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.dimmed {
  opacity: 0.5;
}

.hyphenate {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.monospace {
  font-family: monospace;
  font-size: 0.75rem !important; /* 12px / 16px */
}
