/* basic */

html {
  height: 100%;
}
body {
  background-color: #f4f4f4;
  color: #333333;
  font-family: sans-serif;
  line-height: 1.4;
  min-height: 100%;
}


/* layout */

#page,
#topbar-body {
  margin: 0 auto;
  max-width: 960px;
}
#page {
  padding: 20px;
}

#page-grid {
  display: flex;
  margin: -20px 0 0 -20px;
}
#page-grid-main,
#page-grid-sidebar {
  padding: 20px 0 0 20px;
}
#page-grid-main {
  flex: 1;
}
#page-grid-sidebar {
  flex: 0 0 auto;
}

main,
#sidebar section,
#topbar {
  border: #cccccc solid 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
main,
#sidebar section {
  background-color: #ffffff;
  border-radius: 15px;
}

#sidebar {
  width: 180px;
}

main {
  font-size: 0.875rem; /* 14px / 16px */
  padding: 15px 40px 40px 40px;
}


/* top bar */

#topbar {
  border-width: 0 0 1px 0;
  background-color: rgba(0, 0, 0, 0.06);
}
#topbar-body {
  align-items: center;
  display: flex;
  font-size: 0.75rem; /* 12px / 16px */
  height: 2.5rem;
  justify-content: space-between;
  padding: 0 25px;
}

.authentication {
  flex-grow: 1;
  text-align: right;
}


/* sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  margin: -20px 0 0 -20px;
}

#sidebar section {
  flex: 1 0 auto;
  font-size: 0.75rem; /* 12px / 16px */
  margin: 20px 0 0 20px;
  padding: 12px 0;
}
#sidebar section h1 {
  border-bottom: #cccccc solid 1px;
  font-size: 1rem; /* 16 px */
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 15px 10px 15px;
}
#sidebar section p {
  padding: 0 20px
}


/* main navigation */

nav.main ol {
  width: 100%;
}
nav.main li {
  display: block;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
nav.main a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  color: currentColor;
  display: block;
  font-weight: bold;
  line-height: 1.5;
  opacity: 0.7;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
nav.main a:hover,
nav.main .current a {
  background-color: #e8e8e8;
  border-color: #cccccc;
  opacity: 1;
}


/* notifications */

.notifications {
  margin-bottom: 25px;
  margin-top: 20px;
}


/* headings */

h1 {
  font-size: 1.75rem; /* 28px / 16px */
  line-height: 1.2;
}
h2 {
  font-size: 1.25rem; /* 20px / 16px */
  margin-top: 2rem;
}


/* news */

.news-item {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.news-item h1 {
  margin-bottom: 0;
}
.news-item .meta {
  font-size: 0.6875rem; /* 11px / 16px */
  margin: 10px 0;
  opacity: 0.5;
}

.news-items .news-item,
.news-items .pagination {
  border-top: #cccccc solid 1px;
  margin: 20px 0 0;
  padding: 20px 0 0;
}
.news-items .news-item h1 {
  margin-top: 0;
}


/* board, tourneys */

.board-postings,
.tourney-match-comments {
  border-bottom: #cccccc solid 1px;
}

.board-postings article,
.tourney-match-comments article {
  border-top: #cccccc solid 1px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.75rem;
  padding-top: -0.75rem;
}

.board-postings aside,
.board-postings .body,
.board-postings footer,
.tourney-match-comments aside,
.tourney-match-comments .body,
.tourney-match-comments footer {
  padding-top: 0.75rem;
}

.board-postings aside,
.tourney-match-comments aside {
  display: flex;
  flex: 0 0 136px;
  flex-direction: column;
  font-size: 0.75rem; /* 12px / 16px */
  margin: -8px 0 0 -8px;
  overflow: hidden;
}
.board-postings aside > *,
.tourney-match-comments aside > * {
  padding: 8px 0 0 8px;
}
.board-postings aside .creator a,
.tourney-match-comments aside .creator a {
  font-weight: bold;
}
.board-postings aside .creator .avatar,
.tourney-match-comments aside .creator .avatar {
  display: block;
}
.board-postings .user-badge,
.tourney-match-comments .user-badge {
  padding: 4px;
}
.board-postings .user-badge img,
.tourney-match-comments .user-badge img {
  height: 16px;
  width: 16px;
}
.board-postings aside time,
.tourney-match-comments aside time {
  display: block;
  font-size: 0.6875rem; /* 11px / 16px */
  line-height: 1.3;
  opacity: 0.5;
}
.board-postings aside > .actions,
.tourney-match-comments aside > .actions {
  margin: 0;
}

.board-postings .content,
.tourney-match-comments .content {
  display: flex;
  flex: 1 1 20rem;
  flex-direction: column;
  justify-content: space-between;
}

.board-postings .body,
.tourney-match-comments .body {
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-postings footer,
.tourney-match-comments footer {
  font-size: 0.6875rem; /* 11px / 16px */
  opacity: 0.5;
  text-align: right;
}
.board-postings footer:hover,
.tourney-match-comments footer:hover {
  opacity: 1;
}
.board-postings footer p,
.tourney-match-comments footer p {
  margin: 0;
  padding: 0;
}

.board-postings .quote-intro,
.tourney-match-comments .quote-intro {
  font-size: 0.75rem; /* 12px / 16px */
  font-style: italic;
  margin: 0 0 0.2rem 0;
  padding: 0;
}
.board-postings .quote-intro cite,
.tourney-match-comments .quote-intro cite {
  font-weight: bold;
}
.board-postings blockquote,
.tourney-match-comments blockquote {
  background-color: #eeeeee;
  border: #cccccc solid 1px;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
}


/* terms */

.terms ol,
.terms ul {
  margin: 1rem 0 1rem 3rem;
  padding: 0;
}

.terms ol {
  list-style-type: decimal;
}


/* user avatars */

.avatar {
  display: inline-block;
}
.avatar img {
  display: block;
}

.avatar.size-medium,
.avatar.size-mini,
.avatar.size-small,
.avatar.size-tiny {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.avatar.size-medium {
  height: 64px;
  width: 64px;
}
.avatar.size-mini {
  height: 32px;
  width: 32px;
}
.avatar.size-small {
  height: 48px;
  width: 48px;
}
.avatar.size-tiny {
  height: 16px;
  width: 16px;
}
.avatar.size-medium img,
.avatar.size-mini img,
.avatar.size-small img,
.avatar.size-tiny img {
  min-height: 100%;
  min-width: 100%;
}

.avatar .orga-badge {
  font-weight: bold;
  padding-top: 0.5em;
}
.avatar.size-mini .orga-badge {
  font-size: 0.25rem; /* 4px / 16px */
}


/* user badges */

.user-badge {
  border: #cccccc solid 1px;
  border-radius: 50%;
  display: inline-block;
  padding: 8px;
}
a.user-badge:hover {
  border-color: currentColor;
}
.user-badge img {
  display: block;
  height: 64px;
  width: 64px;
}


/* misc */

main h1 a {
  color: currentColor;
  text-decoration: none;
}
main h1 a:hover {
  text-decoration: underline;
}

table.index td.bignumber {
  font-size: 1.6em;
  vertical-align: middle;
}

.list-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -8px 0 0 -8px;
  padding: 0;
}
.list-grid > li {
  padding: 8px 0 0 8px;
}


/* footer */

#footer {
  clear: both;
  display: block;
  font-size: 0.8125rem; /* 13px / 16px */
  margin-bottom: 20px;
  opacity: 0.5;
  text-align: center;
}
#footer:hover {
  opacity: 1;
}


/* print view */

@media print {
  * {
    background-color: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  html,
  body {
    border: none;
  }

  #page {
    margin: 0;
    width: auto;
  }

  nav.top,
  #sidebar {
    display: none;
  }

  main {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  .actions,
  .action {
    display: none !important;
  }
}
