{%- from 'macros/board.html' import render_flag_new %}
{%- from 'macros/datetime.html' import render_datetime %}
{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/user.html' import render_user_avatar, render_user_link %}

<article id="posting-{{ posting.id }}" {%- if posting.hidden %} class="dimmed"{% endif %}>
  <aside>
    <div class="creator">{{ render_user_link(posting.creator) }}</div>
    {{ render_user_avatar(posting.creator) }}
    {{ render_datetime(posting.created_at)|replace(', ', '<br/>'|safe) }}
    {%- if posting.unseen %}<div>{{ render_flag_new() }}</div>{% endif %}

    {%- if posting.hidden %}<p title="versteckt (durch {{ posting.hidden_by.screen_name }})">{{ render_icon('hidden') }} versteckt</p>{% endif %}

    <ol class="actions">
      {%- if not topic.locked and g.current_user.has_permission(BoardPostingPermission.create) %}
      <li><a href="{{ url_for('.posting_create_form', topic_id=topic.id, quote=posting.id) }}" title="diesen Beitrag zitieren">{{ render_icon('quote') }}</a></li>
      {%- endif %}
      {%- set topic_body_posting = posting.topic.get_body_posting() %}
      {%- if posting == topic_body_posting %}
        {%- if topic.may_be_updated_by_user(g.current_user) %}
      <li><a href="{{ url_for('.topic_update_form', id=topic.id) }}" title="dieses Thema bearbeiten">{{ render_icon('edit') }}</a></li>
        {%- endif %}
      {%- else %}
        {%- if posting.may_be_updated_by_user(g.current_user) %}
      <li><a href="{{ url_for('.posting_update_form', id=posting.id) }}" title="diesen Beitrag bearbeiten">{{ render_icon('edit') }}</a></li>
        {%- endif %}
      {%- endif %}
      {%- if g.current_user.has_permission(BoardPostingPermission.hide) %}
      <li><a href="{{ url_for('.posting_moderate_form', id=posting.id) }}" class="action" title="diesen Beitrag moderieren">{{ render_icon('moderate') }}</a></li>
      {%- endif %}
    </ol>
  </aside>
  <div class="body">
{{ posting.body|bbcode|safe }}
  </div>
  {%- if posting.edit_count %}
  <footer>
    <p>{{ posting.edit_count }} mal bearbeitet, zuletzt: {{ render_datetime(posting.last_edited_at) }} von {{ render_user_link(posting.last_edited_by) }}</p>
  </footer>
  {%- endif %}
</article>
