{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'board.category_view' %}
{% set title = 'Forum - %s'|format(category.title) %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Thema</th>
        <th>begonnen von</th>
        <th style="text-align: center;">Antworten</th>
        <th>Letzter Beitrag</th>
      </tr>
    </thead>
    <tbody>
      {%- for topic in category.topics %}
      <tr>
        <td>
          {%- if topic.is_sticky %}<span class="icon-pin" title="angeheftet"></span> {% endif -%}
          {%- if topic.is_locked %}<span class="icon-lock" title="geschlossen"></span> {% endif -%}
          {%- if topic.is_new %}<span class="icon-new" title="neu"></span> {% endif -%}
          <a href="{{ url_for('.topic_view', id=topic.id) }}">{{ topic.title }}</a>
        </td>
        <td>{{ render_user_link(topic.author) }}</td>
        <td style="text-align: center;">{{ topic.reply_count }}</td>
        <td>{{ render_datetime(topic.last_updated_at) }} von {{ render_user_link(topic.last_author.screen_name) }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock body %}
