{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/forms.html' import form_buttons %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'board.posting_flags' %}
{% set title = 'Beitrag verwalten' %}

{% block head -%}
  {{ super() }}
    <script src="{{ url_for('.static', filename='behavior/flags.js') }}"></script>
{%- endblock head %}

{% block body %}

  <nav class="board-breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', id=posting.topic.category.id) }}">{{ posting.topic.category.title }}</a></li>
      <li><a href="{{ url_for('.topic_view', id=posting.topic.id) }}">{{ posting.topic.title }}</a></li>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <h2>Sichtbarkeit</h2>

  <p>Dieser Beitrag von {{ render_user_link(posting.creator) }} ist {% if posting.hidden %}<strong>versteckt</strong> (am {{ render_datetime(posting.hidden_at) }} durch {{ posting.hidden_by.screen_name }}){% else %}<strong>sichtbar</strong>{% endif %}.</p>
  <ol class="actions">
  {%- if posting.hidden %}
    <li><span class="action hidden"><span class="icon-hidden"></span> verstecken</span></li>
    <li><a id="posting-unhide" href="{{ url_for('.posting_unhide', id=posting.id) }}"><span class="icon-view"></span> sichtbar machen</a></li>
  {%- else %}
    <li><a id="posting-hide" href="{{ url_for('.posting_hide', id=posting.id) }}"><span class="icon-hidden"></span> verstecken</a></li>
    <li><span class="action hidden"><span class="icon-view"></span> sichtbar machen</span></li>
  {%- endif %}
  </ol>

{%- endblock body %}
