{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'board' %}
{% set title = 'Forum - %s'|format(topic.title) %}

{% block body %}

  <nav class="board-breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', slug=topic.category.slug) }}">{{ topic.category.title }}</a></li>
      <li>{{ topic.title }}</li>
    </ol>
  </nav>

  {%- if g.current_user.has_any_permission(BoardTopicPermission.hide, BoardTopicPermission.lock, BoardTopicPermission.pin) %}
  <div style="text-align: right;">
    <ol class="actions">
        <a href="{{ url_for('.topic_flags_form', id=topic.id) }}" title="Thema verwalten">{{ render_icon('administrate') }} verwalten</a></p>
    </ol>
  </div>
  {%- endif %}

{{ render_pagination_nav(postings, 'board.topic_view', {'id': topic.id}) }}

  <div class="board-postings">
  {%- for posting in postings.items %}
{%- include 'board/_posting_view.html' %}
  {%- endfor %}
  </div>

{{ render_pagination_nav(postings, 'board.topic_view', {'id': topic.id}) }}

  <div style="text-align: right;">
    {%- set current_user_may_reply = (not topic.locked and g.current_user.has_permission(BoardPostingPermission.create)) %}
    {%- if not current_user_may_reply %}
    <small style="margin-right: 1em;">Du musst <a href="{{ url_for('user.login_form') }}">angemeldet</a> sein um antworten zu können.</small>
    {%- endif %}
    <ol class="actions">
    {%- if current_user_may_reply %}
      <li><a href="{{ url_for('.posting_create_form', topic_id=topic.id) }}">{{ render_icon('reply') }} Antworten</a></li>
    {%- else %}
      <li><span class="action disabled">{{ render_icon('reply') }} Antworten</span></li>
    {%- endif %}
    </ol>
  </div>

{%- endblock body %}
