{% extends 'layout/base.html' %}
{% set current_page = 'board.topic_view' %}
{% set title = 'Forum - %s'|format(topic.title) %}

{% block body %}

  <nav class="board-breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', id=topic.category.id) }}">{{ topic.category.title }}</a></li>
      <li>{{ topic.title }}</li>
    </ol>
  </nav>

  {%- if g.current_user.has_any_permission(BoardTopicPermission.hide, BoardTopicPermission.lock, BoardTopicPermission.pin) %}
  <p style="text-align: right;"><a href="{{ url_for('.topic_flags_form', id=topic.id) }}" class="action" title="Thema verwalten"><span class="icon-administrate"></span> verwalten</a></p>
  {%- endif %}

  <div class="board-postings">
  {%- for posting in postings %}
{%- include 'board/_posting_view.html' %}
  {%- endfor %}
  </div>

  <div style="text-align: right;">
    <ol class="actions">
    {%- if not topic.locked and g.current_user.has_permission(BoardPostingPermission.create) %}
      <li><a href="{{ url_for('.posting_create_form', topic_id=topic.id) }}"><span class="icon-add"></span> Antworten</a></li>
    {%- else %}
      <li><span class="action disabled"><span class="icon-add"></span> Antworten</span></li>
    {%- endif %}
    </ol>
  </div>

{%- endblock body %}
