{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/forms.html' import form_buttons %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'board.topic_flags' %}
{% set title = 'Thema verwalten' %}

{% block head -%}
  {{ super() }}
    <script src="{{ url_for('.static', filename='behavior/flags.js') }}"></script>
{%- endblock head %}

{% block body %}

  <nav class="board-breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', id=topic.category.id) }}">{{ topic.category.title }}</a></li>
      <li><a href="{{ url_for('.topic_view', id=topic.id) }}">{{ topic.title }}</a></li>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <h2>Sichtbarkeit</h2>
  <p>Das Thema "{{ topic.title }}" von {{ render_user_link(topic.creator) }} ist {% if topic.hidden %}<strong>versteckt</strong> ({{ render_datetime(topic.hidden_at) }} durch {{ topic.hidden_by.screen_name }}){% else %}<strong>sichtbar</strong>{% endif %}.</p>
  <ol class="actions">
  {%- if topic.hidden %}
    <li><span class="action hidden"><span class="icon-hidden"></span> verstecken</span></li>
    <li><a id="topic-unhide" href="{{ url_for('.topic_unhide', id=topic.id) }}"><span class="icon-view"></span> sichtbar machen</a></li>
  {%- else %}
    <li><a id="topic-hide" href="{{ url_for('.topic_hide', id=topic.id) }}"><span class="icon-hidden"></span> verstecken</a></li>
    <li><span class="action hidden"><span class="icon-view"></span> sichtbar machen</span></li>
  {%- endif %}
  </ol>

  <h2>Schreibsperre</h2>
  <p>Das Thema "{{ topic.title }}" von {{ render_user_link(topic.creator) }} ist {% if topic.locked %}<strong>geschlossen</strong> ({{ render_datetime(topic.locked_at) }} durch {{ topic.locked_by.screen_name }}){% else %}<strong>offen</strong>{% endif %}.</p>
  <ol class="actions">
  {%- if topic.locked %}
    <li><span class="action hidden"><span class="icon-lock"></span> schließen</span></li>
    <li><a id="topic-unlock" href="{{ url_for('.topic_unlock', id=topic.id) }}"><span class="icon-unlock"></span> öffnen</a></li>
  {%- else %}
    <li><a id="topic-lock" href="{{ url_for('.topic_lock', id=topic.id) }}"><span class="icon-lock"></span> schließen</a></li>
    <li><span class="action hidden"><span class="icon-unlock"></span> öffnen</span></li>
  {%- endif %}
  </ol>

  <h2>Anheften</h2>
  <p>Das Thema "{{ topic.title }}" von {{ render_user_link(topic.creator) }} ist {% if topic.pinned %}<strong>angepinnt</strong> ({{ render_datetime(topic.pinned_at) }} durch {{ topic.pinned_by.screen_name }}){% else %}<strong>nicht angepinnt</strong>{% endif %}.</p>
  <ol class="actions">
  {%- if topic.pinned %}
    <li><span class="action hidden"><span class="icon-pin"></span> anpinnen</span></li>
    <li><a id="topic-unpin" href="{{ url_for('.topic_unpin', id=topic.id) }}"><span class="icon-sorted"></span> lösen</a></li>
  {%- else %}
    <li><a id="topic-pin" href="{{ url_for('.topic_pin', id=topic.id) }}"><span class="icon-pin"></span> anpinnen</a></li>
    <li><span class="action hidden"><span class="icon-sorted"></span> lösen</span></li>
  {%- endif %}
  </ol>

{%- endblock body %}
