{% extends 'layout/admin/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user_admin.html' import render_main_tabs_view with context %}
{% from 'macros/user_admin.html' import render_user_deleted_flag, render_user_avatar_tiny_and_link %}
{% set current_page = 'user_admin.view_activity' %}
{% set title = 'Benutzer - Aktivität - %s'|format(user.screen_name) %}

{% block head %}
    <style>
      .newsletter-subscribed {
        background-color: #11aa22;
      }
      .newsletter-unsubscribed {
        background-color: #ee3322;
      }
    </style>
{%- endblock %}

{% block before_body %}
{{ render_main_tabs_view(current_page, user.id) }}
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Benutzer</a></li>
    </ol>
  </nav>
  <h1>
    {{- render_icon('user') }} {{ user.screen_name -}}
    {%- if user.deleted %} {{ render_user_deleted_flag() }}{% endif -%}
  </h1>

  <h2>Aktivität</h2>
  <ol class="activity-stream">
    {%- for activity in activities %}
    <li>
      <table class="activity-stream-item">
        <tr>
          <td><span class="icon-container">{{ render_activity_icon(activity) }}</span></td>
          <td><span class="user-link">{{ render_user_avatar_tiny_and_link(user) }}</span> {{ render_activity_label(activity) }}</td>
          <td class="timestamp">{{ render_datetime(activity.occured_at) }}</td>
        </tr>
      </table>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}


{% macro render_activity_icon(activity) -%}
  {%- set type_name = activity.type.name %}
  {%- if type_name == 'avatar_update' -%}
    {{ render_icon('user') }}
  {%- elif type_name == 'newsletter_subscription_update' -%}
    {{ render_icon('newsletter') }}
  {%- elif type_name == 'terms_consent' -%}
    {{ render_icon('legal') }}
  {%- else -%}
    ?
  {%- endif -%}
{%- endmacro %}


{% macro render_activity_label(activity) -%}
  {%- set type_name = activity.type.name %}
  {%- if type_name == 'avatar_update' -%}
    {{ render_avatar_update_label(activity) }}
  {%- elif type_name == 'newsletter_subscription_update' -%}
    {{ render_newsletter_subscription_update_activity_label(activity) }}
  {%- elif type_name == 'terms_consent' -%}
    {{ render_terms_consent_activity_label(activity) }}
  {%- else -%}
    ?
  {%- endif -%}
{%- endmacro %}


{% macro render_avatar_update_label(activity) -%}
hat ein neues Avatarbild hochgeladen.
{%- endmacro %}


{% macro render_newsletter_subscription_update_activity_label(activity) -%}
hat den Newsletter zur Marke &quot;{{ activity.object.brand_id }}&quot; {{ render_newsletter_subscription_update(activity.object.state) }}.
{%- endmacro %}


{% macro render_newsletter_subscription_update(state) %}
  {%- set state_name = state.name %}
  {%- if state_name == 'requested' -%}
    {{ render_tag(render_icon('success') ~ ' angefordert', class='newsletter-subscribed') }}
  {%- elif state_name == 'declined' -%}
    {{ render_tag(render_icon('disabled') ~ ' abbestellt', class='newsletter-unsubscribed') }}
  {%- else -%}
    ?
  {%- endif -%}
{%- endmacro %}


{% macro render_terms_consent_activity_label(activity) -%}
hat die aktuellen AGB (&quot;{{ activity.object.version.title }}&quot;) angenommen.
{%- endmacro %}
