{% extends 'layouts/user_admin.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_date, render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/shop_order_admin.html' import render_order_payment_state %}
{% from 'macros/user_admin.html' import render_user_deleted_flag %}
{% from 'macros/user_avatar.html' import render_user_avatar_128 %}
{% from 'macros/user_badge_admin.html' import render_user_badges_list %}
{% set current_tab = 'profile' %}
{% set current_tab_user_id = user.id %}
{% set title = 'Benutzer - %s'|format(user.screen_name) %}

{% block head %}
<style>
  ol.toc li {
    display: inline;
    font-size: 0.75rem; /* 12px / 16px */
  }
  ol.toc li:not(:last-child)::after {
    content: " \00b7";
    opacity: 0.5;
  }
</style>
{% endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Benutzer</a></li>
    </ol>
  </nav>
  <h1>
    {{- render_icon('user') }} {{ user.screen_name -}}
    {%- if user.deleted %} {{ render_user_deleted_flag() }}{% endif -%}
  </h1>

  <nav>
    <ol class="toc">
      <li><a href="#account">Benutzerkonto</a></li>
      <li><a href="#personal">Persönliche Daten</a></li>
      <li><a href="#orders">Bestellungen</a></li>
      <li><a href="#tickets">Tickets</a></li>
      <li><a href="#badges">Abzeichen</a></li>
    </ol>
  </nav>

  <h2 id="account">Benutzerkonto</h2>
  <div style="float: right; margin-left: 40px;">
    {{ render_user_avatar_128(user) }}
  </div>
{%- include 'user_admin/_view_account.html' %}

  <h2 id="personal">Persönliche Daten</h2>
{%- include 'user_admin/_view_personal.html' %}

  <h2 id="orders">Bestellungen {{ render_extra_in_heading(orders|length) }}</h2>
{%- include 'user_admin/_view_orders.html' %}

  <h2 id="tickets">Tickets</h2>
{%- include 'user_admin/_view_tickets.html' %}

  <h2 id="badges">Abzeichen {{ render_extra_in_heading(badges_with_awarding_quantity|length) }}</h2>
  {%- if badges_with_awarding_quantity %}
{{ render_user_badges_list(badges_with_awarding_quantity) }}
  {%- else %}
  {{ 'keine'|dim }}
  {%- endif %}

{%- endblock %}

{% block scripts %}
<script>
  var field = document.querySelector('#user-id-field');
  var trigger = document.querySelector('#user-id-copy-trigger');

  enableCopyToClipboard(field, trigger);
</script>
{% endblock %}
