.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
}
.grid .cell {
  flex: 0 0 33.3333%;
  padding: 20px 0 0 20px;
  max-width: 33.3333%;
}

.grid .cell .box {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.cell-icon {
  font-size: 5rem;
  left: 0.25rem;
  opacity: 0.075;
  position: absolute;
  top: 2rem;
}
.grid .cell .box :first-child {
  margin-top: 0;
  padding-top: 0;
}
.grid .cell .box :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.bigstats {
  margin-bottom: 0;
}
.bigstats figcaption {
  font-weight: normal;
}

.hyphenate {
  -moz-hyphens: auto;
  hyphens: auto;
}
