<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
{%- with %}
{#- Make the variable available to the included template. #}
{%- set title = title|default %}
{% include 'layout/_meta_head.html' with context %}
{%- endwith %}
{% block head %}{% endblock head %}
  </head>
  <body>

    <div id="page">

      <header id="header">
        <nav class="top">
{% include 'user/_login_status.html' %}
        </nav>
      </header>

      <aside id="sidebar">
{%- with %}
{#- Make the variable available to the included template. #}
{%- set current_page = current_page|default %}
{%- include 'layout/_navigation.html' with context %}
{%- endwith %}
      </aside>

      <main>
{%- include 'layout/_notifications.html' %}
{%- block body %}{% endblock %}
      </main>

    </div><!-- /#page -->

    <footer id="footer">
      BYCEPS &middot; Copyright &copy; 2006&ndash;2015 <a href="http://homework.nwsnet.de/">Jochen &quot;Y0Gi&quot; Kupperschmidt</a>
    </footer>

  </body>
</html>
