<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
{% include 'layout/_meta_head.html' with context %}
{% block head %}{% endblock head %}
  </head>
  <body>

{#- Necessary to make the variable available to the included header template. #}
{%- set current_page = current_page|default %}

    <div id="page">

      <header id="header">
{% include 'layout/_header.html' %}
      </header>

      <aside id="sidebar">
{%- include 'layout/_sidebar.html' with context %}
      </aside>

      <main role="main">
{%- include 'layout/_notifications.html' %}
{%- block body %}{% endblock %}
      </main>

    </div><!-- /#page -->

    <footer id="footer">
{% include 'layout/_footer.html' %}
    </footer>

  </body>
</html>
