{%- from 'macros/admin.html' import render_brand_head, render_party_head %}
{%- from 'macros/icons.html' import render_icon %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
{%- with title = title|default %}
{% include 'layout/_meta_head_admin.html' with context %}
{%- endwith %}
{% block head %}{% endblock head %}
  </head>
  <body>

    <header id="header">
      <div id="header-content">

{%- with
  brand = current_page_brand|default,
  party = current_page_party|default
%}
        <div class="head">

  {%- if brand %}
{{ render_brand_head(brand) }}
  {%- endif %}

  {%- if party %}
{{ render_party_head(party) }}
  {%- endif %}

        </div>

  {%- if party %}
    {%- with
      current_page = current_page|default,
      navigation = Navigation('Party')
        .add_item(url_for('ticket_admin.index_for_party', party_id=party.id), 'Tickets', id='ticket_admin', required_permission=TicketPermission.list, icon='ticket')
        .add_item(url_for('orga_admin.teams_for_party', party_id=party.id), 'Teams', id='orga_admin.teams', required_permission=OrgaTeamPermission.list, icon='users')
        .add_item(url_for('orga_presence.view', party_id=party.id), 'Anwesenheit', id='orga_presence', required_permission=OrgaPresencePermission.list, icon='date-okay')
        .add_item(url_for('shop_admin.article_index_for_party', party_id=party.id), 'Artikel', id='shop_admin.articles', required_permission=ShopArticlePermission.list, icon='shopping-cart')
        .add_item(url_for('shop_admin.order_index_for_party', party_id=party.id), 'Bestellungen', id='shop_admin.orders', required_permission=ShopOrderPermission.list, icon='payment')
        .add_item(url_for('snippet_admin.index_for_party', party_id=party.id), 'Snippets', id='snippet_admin', required_permission=SnippetPermission.list, icon='snippet')
    -%}
        <nav>
          <ol>
            {%- for item in navigation.get_items() %}
            <li{% if (item.id is not none) and (item.id is is_current_page(current_page)) %} class="current"{% endif %}><a href="{{ item.endpoint }}" title="{{ item.label }}">{{ render_icon(item.icon) if item.icon else item.label[0] }}</a></li>
            {%- endfor %}
          </ol>
        </nav>
    {%- endwith %}
  {%- endif %}

{%- endwith %}

        <div id="current-user">
        {% if g.current_user.is_active %}
          <span class="intro">Angemeldet als</span>
          <strong><a href="{{ url_for('user.view_current') }}">{{ render_icon('user') }} {{ g.current_user.screen_name }}</a></strong>
          <span class="actions inline">
            <a id="logout" href="{{ url_for('user.logout', _method='POST') }}" title="abmelden">{{ render_icon('log-out') }}</a>
          </span>
        {%- else -%}
          {{ render_icon('log-in') }} <a href="{{ url_for('user.login_form') }}">Anmelden</a>
        {%- endif %}
        </div>

      </div>
    </header>

    <div id="page">
      <div id="page-grid">

        <div id="page-grid-sidebar">
          <aside id="sidebar">
{%- with current_page = current_page|default %}
{%- include 'layout/_navigation_admin.html' with context %}
{%- endwith %}
          </aside>
        </div>

        <div id="page-grid-main">
          <main>
{%- include 'layout/_notifications.html' %}
{%- block body %}{% endblock %}
          </main>
        </div>

      </div><!-- /#page-grid -->
    </div><!-- /#page -->

    <footer id="footer">
      BYCEPS &middot; Copyright &copy; 2006&ndash;2015 <a href="http://homework.nwsnet.de/">Jochen &quot;Y0Gi&quot; Kupperschmidt</a>
    </footer>

  </body>
</html>
