<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" media="screen" href="{{ url_for('core.static', filename='style/style.css') }}"/>
    <link rel="stylesheet" media="screen" href="{{ url_for('core.static', filename='style/icons.css') }}"/>
    <title>{% if title %}{{ title.replace(' - ', ' &middot; ')|safe }} &middot; {% endif %}BYCEPS</title>
    <!--[if lt IE 9]>
    <script src="{{ url_for('core.static', filename='behavior/html5shiv.js') }}"></script>
    <script src="{{ url_for('core.static', filename='behavior/rem.js') }}"></script>
    <![endif]-->
    <script src="{{ url_for('core.static', filename='behavior/jquery.js') }}"></script>
    <script src="{{ url_for('core.static', filename='behavior/utils.js') }}"></script>
    <script src="{{ url_for('user.static', filename='behavior/login.js') }}"></script>
    {%- block head %}{% endblock head %}
  </head>
  <body>

    <div id="page">

      <header id="header">
{% include 'layout/_header.html' %}
      </header>

      <aside id="sidebar">
{#- Necessary to make the variable available to the included header template. #}
{%- set current_page = current_page|default %}
{%- include 'layout/_navigation.html' %}
      </aside>

      <main role="main">
{%- include 'layout/_notifications.html' %}
{%- block body %}{% endblock %}
      </main>

    </div><!-- /#page -->

    <footer id="footer">
{% include 'layout/_footer.html' %}
    </footer>

  </body>
</html>
