{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/seating.html' import render_seating_area_link %}
{% set current_page = 'seating' %}
{% set title = 'Sitzplan' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('attendance.attendees') }}" class="single-row unobtrusive">
    <input type="search" name="search_term" placeholder="Benutzername">
    <button type="submit" class="button" title="Suchen">{{ render_icon('search') }}</button>
  </form>

  <h2>Bereiche</h2>
  <ul>
    {%- for area in areas|sort(attribute='title') %}
    <li>{{ render_seating_area_link(area) }}</li>
    {%- endfor %}
  </ul>

{%- endblock %}
