{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_progress_bar %}
{% from 'macros/subnav.html' import render_subnav_for_menu_id %}
{% set current_page = 'seating' %}
{% set page_title = _('Seating plan') %}

{% block subnav %}
  {%- if subnav_menu_id|default %}
{{ render_subnav_for_menu_id(subnav_menu_id, current_page) }}
  {%- endif %}
{% endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('attendance.attendees') }}" class="single-row unobtrusive">
    <input type="search" name="search_term" placeholder="{{ _('Username') }}" class="form-control">
    <button type="submit" class="button" title="{{ _('Search') }}">{{ render_icon('search') }}</button>
  </form>

  <h2>{{ _('Areas') }}</h2>
  <div class="main-body-box">
    <table class="index index--v-centered">
      <thead>
        <tr>
          <th>{{ _('Name') }}</th>
          <th>{{ _('Utilization') }}</th>
          <th class="number">{{ _('Seats') }}<br>{{ _('occupied') }}</th>
          <th class="number">{{ _('Seats') }}<br>{{ _('available') }}</th>
        </tr>
      </thead>
      <tbody>
      {%- for area, utilization in areas_with_utilization|sort(attribute='0.title') %}
        <tr>
          <td><a href="{{ url_for('.view_area', slug=area.slug) }}">{{ area.title }}</a></td>
          <td>
            <div class="progress">
              {{ render_progress_bar(utilization.occupied, utilization.total) }}
            </div>
          </td>
          <td class="bignumber number">{{ utilization.occupied|numberformat }}</td>
          <td class="bignumber number">{{ utilization.total|numberformat }}</td>
        </tr>
      {%- endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>{{ _('Total') }}</td>
          <td>
            <div class="progress">
              {{ render_progress_bar(total_seat_utilization.occupied, total_seat_utilization.total) }}
            </div>
          </td>
          <td class="bignumber number">{{ total_seat_utilization.occupied|numberformat }}</td>
          <td class="bignumber number">{{ total_seat_utilization.total|numberformat }}</td>
        </tr>
      </tfoot>
    </table>
  </div>

{%- endblock %}
