{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set page_title = [_('News channels'), brand.title] %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ brand.title }} {{ render_extra_in_heading(channels|length) }}</h1>
    </div>
  {%- if has_current_user_permission('news_channel.administrate') %}
    <div class="column-auto column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.channel_create_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>{{ _('Create news channel') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  <div class="box">
    {%- if channels %}
    <table class="index index--v-centered wide">
      <thead>
        <tr>
          <th>{{ _('ID') }}</th>
          <th>{{ _('URL prefix') }}</th>
          <th class="centered">{{ _('News posts') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {%- for channel in channels|sort(attribute='id') %}
        {%- with item_count = item_count_by_channel_id[channel.id] %}
        <tr>
          <td><a href="{{ url_for('.channel_view', channel_id=channel.id) }}"><strong>{{ channel.id }}</strong></a></td>
          <td class="monospace">{{ channel.url_prefix }}</td>
          <td class="centered bignumber">{{ item_count|numberformat }}</td>
          <td>
          {%- if item_count == 0 and has_current_user_permission('news_channel.administrate') %}
            <a href="{{ url_for('.channel_delete', channel_id=channel.id) }}" data-action="channel-delete" class="button button--compact" title="{{ _('Delete') }}">{{ render_icon('remove') }}</a>
          {%- endif %}
          </td>
        </tr>
        {%- endwith %}
      {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No news channels exist for this brand.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_delete_on_click_then_reload('[data-action="channel-delete"]', '{{ _('Delete news channel?') }}');
      });
    </script>
{%- endblock %}
