{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('Create news channel') %}

{% block before_body %}
{{ render_backlink(url_for('.channel_index_for_brand', brand_id=brand.id), _('News channels')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.channel_create', brand_id=brand.id) }}" method="post">
    {{ form_field(form.channel_id, maxlength=40, placeholder=brand.id, autofocus='autofocus') }}
    {{ form_field(form.url_prefix, maxlength=80, placeholder='https://www.example.com/news/') }}
    {{ form_field(form.announcement_site_id, note=_("This site's server name will be used in the URL when announcing news items from this channel.")) }}

    <p>{{ _('A news channel can be used for a single party as well as for multiple or even all partys of the same brand.') }}
    <p>{{ _('Hint: If the news channel should be used only for a specific party, use the ID <em>of that party</em> as ID for the news channel. If, however, it should be used for multiple parties, use the ID <em>of the brand</em> as ID for the news channel.') }}</p>

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
