{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/user_avatar.html' import render_user_avatar_and_name %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set page_title = [_('News channel'), channel.id] %}
{% set layout_main_raw = True %}

{% block body %}

  <h1>{{ _('News channel') }} &quot;{{ channel.id }}&quot;</h1>

  <div class="box">

    <div class="data-label">{{ _('URL prefix') }}</div>
    <div class="data-value">{{ channel.url_prefix }}</div>

  </div>

  <div class="row row--space-between">
    <div class="column-auto">
      <h2>{{ _('News posts') }} {{ render_extra_in_heading(items.total) }}</h2>
    </div>
  {%- if has_current_user_permission(NewsItemPermission.create) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.item_create_form', channel_id=channel.id) }}">{{ render_icon('add') }} <span>{{ _('Create news post') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  <div class="box">
    {%- if items.items %}
    <table class="index wide">
      <thead>
        <tr>
          <th>
            {{ _('Title') }}<br>
            {{ _('Slug') }}
          </th>
          <th></th>
          <th class="nowrap">{{ _('Latest change') }}</th>
          <th class="centered">{{ _('Images') }}</th>
        </tr>
      </thead>
      <tbody>
      {%- for item in items.items|sort(attribute='created_at', reverse=True) %}
        <tr>
          <td>
            {%- if not item.published %}
            {{ render_tag(_('Draft')) }}
            {%- endif %}
            <a href="{{ url_for('.item_view', item_id=item.id) }}"><strong>{{ item.title|fallback('&lt;' ~ _('untitled') ~ '&gt;') }}</strong></a><br>
            {{ item.slug|dim }}
          </td>
          <td>{% if item.current_version.image_url_path %} {{ render_icon('image', title=_('Image defined')) }}{% endif %}</td>
          <td class="nowrap">
            {%- if has_current_user_permission(NewsItemPermission.view) %}
            <a href="{{ url_for('.item_list_versions', item_id=item.id) }}" title="{{ _('View change history') }}">{{ render_datetime(item.current_version.created_at|utc_to_local_tz) }}</a>
            {%- else %}
            {{ render_datetime(item.current_version.created_at|utc_to_local_tz) }}
            {%- endif -%}
            <br>
            {{ _('by') }} {{ render_user_avatar_and_name(users_by_id[item.current_version.creator_id], size=16) }}
          </td>
          {%- with image_total = item.images|length %}
          <td class="centered bignumber{% if image_total == 0 %} dimmed{% endif %}">{{ image_total }}</td>
          {%- endwith %}
        </tr>
      {%- endfor %}
      </tbody>
    </table>
    {{ render_pagination_nav(items, '.channel_view', {'channel_id': channel.id}) }}
    {%- else %}
    <div class="dimmed-box centered">{{ _('No news posts exist for this channel.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}
