{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set title = '%s - News-Kanäle'|format(brand.title) %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <nav class="breadcrumbs">
        <ol>
          <li>News-Kanäle</li>
        </ol>
      </nav>
      <h1>{{ brand.title }} {{ render_extra_in_heading(channels|length) }}</h1>
    </div>
  {%- if has_current_user_permission(NewsChannelPermission.create) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.channel_create_form', brand_id=brand.id) }}">{{ render_icon('add') }} <span>News-Kanal erstellen</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  {%- if channels %}
  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th>URL-Präfix</th>
        <th class="centered">Posts</th>
      </tr>
    </thead>
    <tbody>
    {%- for channel in channels|sort(attribute='id') %}
      <tr>
        <td><a href="{{ url_for('.channel_view', channel_id=channel.id) }}"><strong>{{ channel.id }}</strong></a></td>
        <td class="monospace">{{ channel.url_prefix }}</td>
        <td class="centered bignumber">{{ item_count_by_channel_id[channel.id]|separate_thousands }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Für diese Marke existieren noch keine News-Kanäle.</div>
  {%- endif %}

{%- endblock %}
