{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Newsbild hinzufügen' %}

{% block before_body %}
{{ render_backlink(url_for('.item_view', item_id=item.id), 'Newspost "%s"'|format(item.title)) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.image_create', item_id=item.id) }}" method="post" enctype="multipart/form-data" class="disable-submit-button-on-submit">
  {%- with %}
    {%- set note %}
        Erlaubte Formate: {{ allowed_types|sort|join(', ') }}<br>
        Maximale Bildgröße: {{ maximum_dimensions|join(' &times; ')|safe }} Pixel<br>
        Maximale Dateigröße: 150 KB
    {%- endset %}
    {{ form_field(form.image, maxlength=150000, accept='image/*', autofocus='autofocus', note=note) }}
  {%- endwith %}
    {{ form_field(form.alt_text) }}
    {{ form_field(form.caption) }}
    {{ form_field(form.attribution) }}

    {{ form_buttons(_('Add')) }}
  </form>

{%- endblock %}
