{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Newsbild hinzufügen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>News</li>
      <li>Kanal <a href="{{ url_for('.channel_view', channel_id=item.channel.id) }}">{{ item.channel.id }}</a></li>
      <li>Newspost <a href="{{ url_for('.item_view', item_id=item.id) }}">{{ item.title }}</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.image_create', item_id=item.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.filename, maxlength=80, required='required', autofocus='autofocus') }}
      {{ form_field(form.alt_text, required='required') }}
      {{ form_field(form.caption) }}
      {{ form_field(form.attribution) }}
    {% endcall %}

    {{ form_buttons('Hinzufügen', cancel_url=url_for('.item_view', item_id=item.id)) }}
  </form>

{%- endblock %}
