{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar_20_and_name %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set page_title = 'Änderungshistorie' %}

{% block before_body %}
{{ render_backlink(url_for('.item_view', item_id=item.id), item.title|fallback('&lt;kein Titel&gt;')) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('history') }} {{ page_title }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th></th>
        <th>geändert</th>
        <th>durch</th>
        <th>Unterschiede</th>
      </tr>
    </thead>
    <tbody>
      {%- for version, previous_version in versions_pairwise %}
      <tr>
        <td>
          {%- if version.is_current -%}
          {{ render_icon('published', title=_('public')) }}
          {%- else -%}
          {{ render_icon('archived', title=_('archived')) }}
          {%- endif -%}
        </td>
        <td class="nowrap"><a href="{{ url_for('.item_view_version', version_id=version.id) }}">{{ render_datetime(version.created_at|utc_to_local_tz) }}</a></td>
        <td>{{ render_user_avatar_20_and_name(users_by_id[version.creator_id]) }}</td>
        <td>
          {%- if previous_version -%}
          <a href="{{ url_for('.item_compare_versions', from_version_id=previous_version.id, to_version_id=version.id) }}" title="Änderungen im Vergleich zur vorigen Version anzeigen">Änderungen zeigen</a>
          {%- endif -%}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
