{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = item.brand %}
{% set page_title = 'News bearbeiten' %}

{% block before_body %}
{{ render_backlink(url_for('.item_view', item_id=item.id), 'Newspost "%s"'|format(item.title)) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('edit') }} {{ page_title }}</h1>

  <form action="{{ url_for('.item_update', item_id=item.id) }}" method="post">
    {{ form_field(form.slug, maxlength=100, note='<strong>Achtung:</strong> Eine Änderung des Slugs wirkt sich auf den Permalink der News aus!') }}
    {{ form_field(form.title, maxlength=100, autofocus='autofocus') }}
    {{ form_field(form.body, class='monospace') }}
    {{ form_field(form.image_url_path, maxlength=100) }}

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}
