{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field, form_field_radio %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('Create news post') %}

{% block before_body %}
{{ render_backlink(url_for('.channel_view', channel_id=channel.id), _('News channel') ~ ' "%s"'|format(channel.id)) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.item_create', channel_id=channel.id) }}" method="post">
    <div class="box">
      {{ form_field(form.slug, maxlength=80, autofocus='autofocus') }}
      {{ form_field(form.title, maxlength=80) }}
      {{ form_field_radio(form.body_format) }}
      {{ form_field(form.body, class='monospace') }}
      {{ form_field(form.image_url_path, maxlength=80) }}
    </div>

    {{ form_buttons(_('Create draft')) }}
  </form>

{%- endblock %}
