{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/brand.html' import render_brand_avatar %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification, render_tag %}
{% from 'macros/user_avatar.html' import render_user_avatar_16_and_name %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Newspostversion ansehen' %}

{% block head %}
  <style>
    .newspost-head {
      background-color: #eeeeee;
      border-bottom: #cccccc solid 1px;
      margin-bottom: 40px;
      margin-left: -40px;
      margin-right: -40px;
      margin-top: -20px;
      padding: 20px 40px;
    }

    .newspost-head table.index > tbody > tr > th,
    .newspost-head table.index > tbody > tr > td {
      border: none;
    }

    .newspost-head summary:focus {
      outline: none;
    }

    .newspost-head summary:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  </style>
{% endblock %}

{% block body %}

  <div class="newspost-head">
  {%- with item = version.item %}

    <div class="button-row button-row--compact" style="float: right;">
      {%- if has_current_user_permission(NewsItemPermission.update) %}
      <a class="button" href="{{ url_for('.item_update_form', item_id=item.id) }}">{{ render_icon('edit') }} <span>Bearbeiten</span></a>
      <div class="dropdown">
        <button class="dropdown-toggle button"><span>{{ render_icon('chevron-down') }}</span></button>
        <ol class="dropdown-menu dropdown-menu--right">
          <li><a class="dropdown-item" href="{{ url_for('.image_create_form', item_id=item.id) }}">{{ render_icon('add') }} Bild hinzufügen</a></li>
          {%- if not item.published and has_current_user_permission(NewsItemPermission.publish) %}
          <li><a class="dropdown-item" data-action="item-publish-now" href="{{ url_for('.item_publish_now', item_id=item.id) }}">{{ render_icon('published') }} News jetzt veröffentlichen</a></li>
          <li><a class="dropdown-item" href="{{ url_for('.item_publish_later_form', item_id=item.id) }}">{{ render_icon('published') }} News später veröffentlichen</a></li>
          {%- endif %}
        </ol>
      </div>
      {%- endif %}
    </div>

    <table class="index">
      <tr>
        <th>Marke</th>
        <td>{{ render_brand_avatar(brand, '16') }} <a href="{{ url_for('.channel_index_for_brand', brand_id=brand.id) }}">{{ brand.title }}</a></td>
      </tr>
      <tr>
        <th>Kanal</th>
        <td><a href="{{ url_for('.channel_view', channel_id=item.channel.id) }}">{{ item.channel.id }}</a></td>
      </tr>
      <tr>
        <th>Slug</th>
        <td>{{ item.slug }}</td>
      </tr>
      <tr>
        <th>Version</th>
        <td>
          {{- version.id -}}
          {%- if is_current_version %}
          {{ render_tag('aktuell', class='color-success') }}
          {%- else %}
          {{ render_tag('veraltet', class='color-warning') }}<br>
          (<a href="{{ url_for('.item_view', item_id=item.id) }}">zur aktuellen Version</a>)
          {%- endif %}
        </td>
      </tr>
      <tr>
        <th>Erstellt</th>
        <td>
          {{ render_datetime(version.created_at|utc_to_local_tz) }} von {{ render_user_avatar_16_and_name(version.creator) }}<br>
          <a href="{{ url_for('.item_list_versions', item_id=item.id) }}">{{ render_icon('history') }} Änderungshistorie ansehen</a>
        </td>
      </tr>
      <tr>
        <th>Veröffentlicht</th>
        <td>
          {%- if version.item.published %}
          {{- render_datetime(version.item.published_at|utc_to_local_tz) }}
          {%- else %}
          {{- render_tag('Entwurf') }}
          {%- endif -%}
        </td>
      </tr>
      <tr>
        <th>Bilder ({{ item.images|length }})</th>
        <td>
          {%- if item.images %}
            {%- for image in item.images|sort(attribute='number') %}
            <details>
              <summary>#{{ image.number }}: <span class="monospace">{{ image.filename }}</span></summary>
              <div style="margin-bottom: 1rem; margin-left: 1rem;">
                <table class="index">
                  <tr>
                    <th>ID</th>
                    <td class="monospace">{{ image.id }}</td>
                  </tr>
                  <tr>
                    <th>Dateiname</th>
                    <td class="monospace">{{ image.filename }}</td>
                  </tr>
                  <tr>
                    <th>Alternativtext</th>
                    <td>{{ image.alt_text|fallback }}</td>
                  </tr>
                  <tr>
                    <th>Bildunterschrift</th>
                    <td>{{ image.caption|fallback }}</td>
                  </tr>
                  <tr>
                    <th>Quelle</th>
                    <td>{{ image.attribution|fallback }}</td>
                  </tr>
                </table>
                {%- if has_current_user_permission(NewsItemPermission.update) -%}
                <p><a class="button button--compact" href="{{ url_for('.image_update_form', image_id=image.id) }}">{{ render_icon('edit') }} <span>Bearbeiten</span></a></p>
                {%- endif -%}
              </div>
            </details>
            {%- endfor %}
          {%- else %}
          {{ 'keine'|dim }}
          {%- endif %}
        </td>
      </tr>
    </table>

  {%- endwith %}
  </div>

  <h1>{{ version.title }}</h1>

  {%- if error_occurred %}
    {%- set notification_body %}
        Entschuldigung, es ist ein Fehler aufgetreten.<br>
        <pre style="white-space: pre-wrap;">{{ error_message }}</pre>
    {%- endset %}
    {{ render_notification(notification_body, category='danger', icon='warning') }}
  {%- else %}
{{ rendered_body|safe }}
  {%- endif %}

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(() => {
    confirmed_post_on_click_then_reload('[data-action="item-publish-now"]', 'Newspost jetzt veröffentlichen?');
  });
</script>
{% endblock %}
