{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification, render_tag %}
{% from 'macros/user_avatar.html' import render_user_avatar_and_name %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = brand %}
{% set page_title = _('View news post version') %}
{% set layout_main_raw = True %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">

      <nav class="breadcrumbs">
        <ol>
          <li>{{ _('Channel') }}: <a href="{{ url_for('.channel_view', channel_id=item.channel.id) }}">{{ item.channel.id }}</a></li>
        </ol>
      </nav>
      <h1>{{ item.title }}</h1>

    </div>
    <div class="column-auto column--align-bottom">

      {%- if has_current_user_permission(NewsItemPermission.update) %}
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.item_update_form', item_id=item.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('chevron-down') }}</span></button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.image_create_form', item_id=item.id) }}">{{ render_icon('add') }} {{ _('Add image') }}</a></li>
            {%- if not item.published and has_current_user_permission(NewsItemPermission.publish) %}
            <li><a class="dropdown-item" data-action="item-publish-now" href="{{ url_for('.item_publish_now', item_id=item.id) }}">{{ render_icon('published') }} {{ _('Publish news post now') }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('.item_publish_later_form', item_id=item.id) }}">{{ render_icon('published') }} {{ _('Publish news post later') }}</a></li>
            {%- endif %}
          </ol>
        </div>
      </div>
      {%- endif %}

    </div>
  </div>

  <div class="row row--space-between">
    <div class="column-auto" style="flex: 1;">

      <div class="box">

        <div class="data-label">{{ _('Slug') }}</div>
        <div class="data-value">{{ item.slug }}</div>

        <div class="data-label">{{ _('Version') }}</div>
        <div class="data-value">
          {{- version.id -}}
          {%- if is_current_version %}
          {{ render_tag(_('current'), class='color-success') }}
          {%- else %}
          {{ render_tag(_('outdated'), class='color-warning') }}<br>
          (<a href="{{ url_for('.item_view', item_id=item.id) }}">{{ _('View current version') }}</a>)
          {%- endif %}
        </div>

        <div class="data-label">{{ _('Created') }}</div>
        <div class="data-value">
          {{ render_datetime(version.created_at|utc_to_local_tz) }} von {{ render_user_avatar_and_name(creator, size=16) }}<br>
          <a href="{{ url_for('.item_list_versions', item_id=item.id) }}">{{ render_icon('history') }} {{ _('View change history') }}</a>
        </div>

        <div class="data-label">{{ _('Published') }}</div>
        <div class="data-value">
          {%- if version.item.published %}
          {{- render_datetime(version.item.published_at|utc_to_local_tz) }}
          {%- else %}
          {{- render_tag(_('Draft')) }}
          {%- endif -%}
        </div>

      </div>

    </div>
    <div class="column-auto" style="flex: 1;">

      <h2 style="margin-top: 0.5rem;">{{ _('Images') }} {{ render_extra_in_heading(item.images|length) }}</h2>

      {%- if item.images %}
        {%- for image in item.images|sort(attribute='number') %}
      <div class="box">
        <details class="newspost-images">
          <summary>#{{ image.number }}</summary>
          <div class="row row--space-between mb" style="margin-top: 0;">
            <div class="column-auto">

              <div class="data-label">{{ _('ID') }}</div>
              <div class="data-value monospace">{{ image.id }}</div>

              <div class="data-label">{{ _('Filename') }}</div>
              <div class="data-value monospace">{{ image.filename }}</div>

              <div class="data-label">{{ _('Alternative text') }}</div>
              <div class="data-value">{{ image.alt_text|fallback }}</div>

              <div class="data-label">{{ _('Caption') }}</div>
              <div class="data-value">{{ image.caption|fallback }}</div>

              <div class="data-label">{{ _('Source') }}</div>
              <div class="data-value">{{ image.attribution|fallback }}</div>

            </div>

            {%- if has_current_user_permission(NewsItemPermission.update) -%}
            <div class="column-auto">
              <a class="button button--compact" href="{{ url_for('.image_update_form', image_id=image.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
            </div>
            {%- endif -%}

          </div>

          <div class="data-label">{{ _('Preview') }}</div>
          <div class="data-value">
            <details>
              <summary>{{ _('Show') }}</summary>
                <img src="{{ image.url_path }}" style="border: #cccccc solid 1px; display: block;" loading="lazy">
            </details>
          </div>

        </details>
      </div>
        {%- endfor %}
      {%- else %}
      <div class="dimmed-box centered">{{ _('none') }}</div>
      {%- endif %}

    </div>
  </div>

  <h2>{{ _('Preview') }}</h2>

  <div class="box preview-background">
    <article>

      <h1 style="margin-top: 0.5rem;">{{ version.title }}</h1>

      {%- if error_occurred %}
        {%- set notification_body %}
          {{ _('Sorry, an error has occurred.') }}<br>
          <pre style="white-space: pre-wrap;">{{ error_message }}</pre>
        {%- endset %}
        {{ render_notification(notification_body, category='danger', icon='warning') }}
      {%- else %}
{{ rendered_body|safe }}
      {%- endif %}

    </article>
  </div>

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(() => {
    confirmed_post_on_click_then_reload('[data-action="item-publish-now"]', '{{ _('Publish news post now?') }}');
  });
</script>
{% endblock %}
