{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_simple %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'news_admin' %}
{% set current_page_brand = item.brand %}
{% set title = 'News später veröffentlichen' %}

{% block before_body %}
{{ render_backlink(url_for('.item_view', item_id=item.id), 'Newspost "%s"'|format(item.title)) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('published') }} {{ title }}</h1>

  <form action="{{ url_for('.item_publish_later', item_id=item.id) }}" method="post">
    <div class="row">
      <div class="column-auto">
        {{ form_field_simple(form.publish_on, autofocus='autofocus') }}
      </div>
      <div class="column-auto">
        {{ form_field_simple(form.publish_at) }}
      </div>
    </div>

    {{ form_buttons(_('Publish')) }}
  </form>

{%- endblock %}
