{%- from 'macros/board.html' import render_flag_new %}
{%- from 'macros/icons.html' import render_icon %}

<h2>{{ _('Discussion Board') }}</h2>

{%- if board_topics %}
<ol class="items">
  {%- for topic in board_topics %}
  <li>
    <a class="disguised{% if topic.hidden %} dimmed{% endif %}" href="{{ url_for('board.topic_view', topic_id=topic.id) }}">
      {{ topic.title }}
      {%- if topic.contains_unseen_postings %} {{ render_flag_new() }}{% endif %}
    </a>
    <div class="item-meta">
      {{ topic.last_updated_at|dateformat }}, {{ topic.last_updated_at|timeformat('short') }}
      &middot;
      {{ topic.category.title }}
    </div>
  </li>
  {%- endfor %}
</ol>
{%- else %}
<p class="dimmed">{{ _('No topics yet.') }}</p>
{%- endif %}

<div class="continuative-link">
  <a class="disguised" href="{{ url_for('board.category_index') }}">{{ _('Discussion Board') }}</a> {{ render_icon('arrow-right') }}
</div>
