{%- from 'macros/guest_server.html' import render_continuative_link %}
{%- from 'macros/misc.html' import render_tag %}

<h2>{{ _('Guest Servers') }}</h2>


{%- if guest_servers %}
<div class="row" style="gap: 1.5rem; justify-content: center;">
{%- with guest_servers_pending_count = guest_servers|rejectattr('approved')|list|length %}
  {%- if guest_servers_pending_count %}
  <div class="centered">
    <div style="font-size: 2rem; font weight: bold;">{{ guest_servers_pending_count }}</div>
    <div>{{ render_tag(_('pending'), class='color-warning') }}</div>
  </div>
  {%- endif %}
{%- endwith %}
{%- with guest_servers_approved_count = guest_servers|selectattr('approved')|list|length %}
  {%- if guest_servers_approved_count %}
  <div class="centered">
    <div style="font-size: 2rem; font weight: bold;">{{ guest_servers_approved_count }}</div>
    {{ render_tag(_('approved'), class='color-success') }}
  </div>
  {%- endif %}
{%- endwith %}
</div>
{%- else %}
<p class="dimmed">{{ _('No servers registered.') }}</p>
{%- endif %}

{{ render_continuative_link(url_for('guest_server.index'), _('Guest Servers')) }}
