{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/misc.html' import render_tag %}

<h2>{{ _('Guest Servers') }}</h2>

{%- if guest_servers %}
<table class="index wide">
  <thead>
    <tr>
      <th>{{ _('Status') }}</th>
      <th class="nowrap">{{ _('IP address') }}</th>
      <th>{{ _('Hostname') }}</th>
    </tr>
  </thead>
  <tbody>
  {%- for server in guest_servers %}
    {%- for address in sort_guest_server_addresses(server.addresses) %}
    <tr>
      {%- if loop.first %}
      <td rowspan="{{ server.addresses|length }}">{{ render_tag(_('approved'), class='color-success') if server.approved else render_tag(_('pending'), class='color-warning') }}</td>
      {%- endif %}
      <td>{% if address.ip_address %}<span class="monospace">{{ address.ip_address }}</span>{% else %}{{ render_tag(_('none'), class='color-disabled') }}{% endif %}</td>
      <td>{% if address.hostname %}<span class="monospace">{{ address.hostname }}{% if guest_server_setting.domain %}.{{ guest_server_setting.domain }}{% endif %}</span>{% else %}{{ _('not given')|dim }}{% endif %}</td>
    </tr>
    {%- endfor %}
  {%- endfor %}
  </tbody>
</table>
{%- else %}
<p class="dimmed">{{ _('No servers registered.') }}</p>
{%- endif %}

<div class="continuative-link">
  <a class="disguised" href="{{ url_for('guest_server.index') }}">{{ _('Guest Servers') }}</a> {{ render_icon('arrow-right') }}
</div>
