{%- from 'macros/guest_server.html' import render_continuative_link %}
{%- from 'macros/shop/orders.html' import render_order_payment_state %}

<h2>{{ _('Open Orders') }}</h2>

{%- if open_orders %}
<table class="index index--wide">
  <thead>
    <tr>
      <th>{{ _('Order number') }}</th>
      <th class="number">{{ _('Amount') }}</th>
      <th>{{ _('Status') }}</th>
    </tr>
  </thead>
  <tbody>
    {%- for order in open_orders %}
    <tr>
      <td><a class="disguised" href="{{ url_for('shop_orders.view', order_id=order.id) }}">{{ order.order_number }}</a></td>
      <td class="number">{{ order.total_amount|moneyformat }}</td>
      <td class="nowrap">{{ render_order_payment_state(order.payment_state) }}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{%- else %}
<p class="dimmed">{{ _('No open orders.') }}</p>
{%- endif %}

{{ render_continuative_link(url_for('shop_orders.index'), _('All orders')) }}
