{% extends 'layout/base.html' %}
{% from 'macros/board.html' import render_flag_new %}
{% from 'macros/datetime.html' import render_date_long, render_datetime %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/seating.html' import render_seat_link %}
{% set title = 'Dashboard' %}

{% block head %}
  <style>
    .items li + li {
      margin-top: 0.75rem;
    }

    .item-meta {
      font-size: 0.6875rem; /* 11px / 16px */
      font-weight: normal;
      opacity: 0.5;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>Dashboard</h1>

  <div class="row row--space-between">
    <div class="column-auto" style="width: 50%;">

      {# Intentionally left blank. #}

    </div>
    <div class="column-auto" style="width: 50%;">

      <h2>Tickets</h2>
      {%- if tickets %}
      <table class="index">
        <tr>
          <th><span class="item-meta">Code</span></th>
          <th><span class="item-meta">Sitzplatz</span></th>
          <th></th>
        </tr>
        {%- for ticket in tickets %}
        <tr>
          <td>{{ ticket.code }}</td>
          <td>
            {%- if ticket.occupied_seat -%}
            {{ render_seat_link(ticket.occupied_seat.area, ticket.occupied_seat) }}
            {%- else -%}
            {{ render_tag('keiner', class='color-danger') }}
            {%- endif -%}
          </td>
          <td>
            {%- if ticket.user_checked_in %}
            {{ render_tag('eingecheckt', class='color-success') }}
            {%- endif %}
          </td>
        </tr>
        {%- endfor %}
      </table>
      {%- else %}
      <p class="dimmed">Du nutzt noch kein Ticket.</p>
      {%- endif %}

    </div>
  </div>{# .row #}

  <div class="row row--space-between">
    <div class="column-auto" style="width: 50%;">

      <h2>News</h2>
      {%- if news_headlines %}
      <ol class="items">
        {%- for headline in news_headlines %}
        <li>
          <a class="disguised" href="{{ url_for('news.view', slug=headline.slug) }}">{{ headline.title }}</a>
          <div class="item-meta">{{ render_date_long(headline.published_at|utc_to_local_tz) }}</div>
        </li>
        {%- endfor %}
      </ol>
      {%- else %}
      <p class="dimmed">Es gibt noch keine News.</p>
      {%- endif %}

    </div>
    <div class="column-auto" style="width: 50%;">

      <h2>Forum</h2>
      {%- if board_topics %}
      <ol class="items">
        {%- for topic in board_topics %}
        <li>
          <a class="disguised{% if topic.hidden %} dimmed{% endif %}" href="{{ url_for('board.topic_view', topic_id=topic.id) }}">
            {{ topic.title }}
            {%- if topic.contains_unseen_postings %} {{ render_flag_new() }}{% endif %}
          </a>
          <div class="item-meta">
            {{ render_datetime(topic.last_updated_at|utc_to_local_tz) }}
            &middot;
            {{ topic.category.title }}
          </div>
        </li>
        {%- endfor %}
      </ol>
      {%- else %}
      <p class="dimmed">Es gibt noch keine Themen im Forum.</p>
      {%- endif %}

    </div>
  </div>{# .row #}

{%- endblock %}
