{% extends 'layout/base.html' %}
{% set page_title = _('Dashboard') %}

{% block head %}
  <style>
    .dashboard {
      display: grid;
      gap: 1rem 3rem;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .items {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .items li + li {
      margin-top: 0.75rem;
    }

    .item-meta {
      color: var(--dimmed-color);
      font-size: 0.6875rem; /* 11px / 16px */
    }
  </style>
{%- endblock %}

{% block body %}

  <h1 class="title">{{ _('Dashboard') }}</h1>

  <div class="dashboard">

    <div class="dashboard-item">
{% include 'site/dashboard/_orders.html' %}
    </div>

    <div class="dashboard-item">
{% include 'site/dashboard/_tickets.html' %}
    </div>

{%- if news_headlines is not none %}
    <div class="dashboard-item">
{% include 'site/dashboard/_news.html' %}
    </div>
{%- endif %}

{%- if board_topics is not none %}
    <div class="dashboard-item">
{% include 'site/dashboard/_board.html' %}
    </div>
{%- endif %}

    <div class="dashboard-item">
{% include 'site/dashboard/_guest_servers.html' %}
    </div>

  </div>

{%- endblock %}
