{% extends 'layout/base.html' %}
{% set page_title = _('Dashboard') %}

{% block head %}
  <style>
    .dashboard {
      display: grid;
      gap: 1rem 3rem;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .items {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .items li + li {
      margin-top: 0.75rem;
    }

    .item-meta {
      color: var(--dimmed-color);
      font-size: 0.6875rem; /* 11px / 16px */
    }

    .continuative-link {
      font-size: 0.8125rem; /* 13px / 16px */
      margin-top: 1.25rem;
      text-align: right;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ _('Dashboard') }}</h1>

  <div class="dashboard">
    <div class="dashboard-item">
{% include 'site/dashboard/_orders.html' %}
    </div>
    <div class="dashboard-item">
{% include 'site/dashboard/_tickets.html' %}
    </div>
    <div class="dashboard-item">
{% include 'site/dashboard/_news.html' %}
    </div>
    <div class="dashboard-item">
{% include 'site/dashboard/_board.html' %}
    </div>
    <div class="dashboard-item">
{% include 'site/dashboard/_guest_servers.html' %}
    </div>
  </div>

{%- endblock %}
