{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'email_admin' %}
{% set title = 'Konfiguration erstellen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Konfigurationen</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.create') }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.config_id, placeholder='superlan', autofocus='autofocus') }}
      {{ form_field(form.brand_id) }}
      {{ form_field(form.sender_address, placeholder='noreply@superlan.example') }}
      {{ form_field(form.sender_name, placeholder='SuperLAN') }}
      {{ form_field(form.contact_address, placeholder='info@superlan.example') }}
    {% endcall %}

    {{ form_buttons('Erstellen', cancel_url=url_for('.index')) }}
  </form>

{%- endblock %}
