{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% set current_page = 'email_admin' %}
{% set title = 'E-Mail-Konfigurationen' %}

{% block body %}

  <h1>{{ title }} {{ render_extra_in_heading(configs|length) }}</h1>

  {%- if configs %}
  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th colspan="2">Absender</th>
        <th>Kontaktadresse</th>
      </tr>
      <tr>
        <th></th>
        <th>Adresse</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for config in configs|sort(attribute='id') %}
      <tr>
        <td class="monospace">{{ config.id }}</td>
        <td>{{ config.sender.address }}</td>
        <td>{{ config.sender.name|fallback }}</td>
        <td>{{ config.contact_address|fallback }}</td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine E-Mail-Konfigurationen hinterlegt.</div>
  {%- endif %}

{%- endblock %}
