{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'email_admin' %}
{% set title = 'E-Mail-Konfigurationen' %}

{% block body %}

  <h1>{{ title }} {{ render_extra_in_heading(configs|length) }}</h1>

  {%- if g.current_user.has_permission(EmailConfigPermission.create) %}
  <div class="button-row button-row--right">
    <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>Konfiguration erstellen</span></a>
  </div>
  {%- endif %}

  {%- if configs %}
  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th colspan="2">Absender</th>
        <th>Kontaktadresse</th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th>Adresse</th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for config in configs|sort(attribute='id') %}
      <tr>
        <td class="monospace">{{ config.id }}</td>
        <td>{{ config.sender.address }}</td>
        <td>{{ config.sender.name|fallback }}</td>
        <td>{{ config.contact_address|fallback }}</td>
        <td>
          {%- if g.current_user.has_any_permission(EmailConfigPermission.update, EmailConfigPermission.delete) %}
          <div class="dropdown">
            <button class="dropdown-toggle button button--compact"><span>{{ render_icon('caret-down') }}</span></button>
            <ol class="dropdown-menu dropdown-menu--right">
            {%- if g.current_user.has_permission(EmailConfigPermission.update) %}
              <li><a class="dropdown-item" href="{{ url_for('.update_form', config_id=config.id) }}">{{ render_icon('edit') }} Bearbeiten</a></li>
            {%- endif %}
            {%- if g.current_user.has_permission(EmailConfigPermission.delete) %}
              <li><a class="dropdown-item" href="{{ url_for('.delete', config_id=config.id) }}" data-action="config-delete">{{ render_icon('delete') }} Löschen</a></li>
            {%- endif %}
            </ol>
          </div>
          {%- endif %}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine E-Mail-Konfigurationen hinterlegt.</div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        confirmed_delete_on_click('[data-action="config-delete"]', 'Konfiguration löschen?');
      });
    </script>
{% endblock %}
