{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'email_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Konfiguration bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Konfigurationen</a></li>
    </ol>
  </nav>
  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', config_id=config.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.config_id, readonly='readonly', autofocus='autofocus') }}
      {{ form_field(form.sender_address) }}
      {{ form_field(form.sender_name) }}
      {{ form_field(form.contact_address) }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.index')) }}
  </form>

{%- endblock %}
