          <div class="page-header-inner">
            <div class="row row--space-between row--vertically-centered">
              <div class="column-auto">
                <a href="/" class="brand-logo"><span>CozyLAN</span></a>
              </div>
              <div class="column-auto column-auto--grow">
                <span class="brand-slogan">Gemütlich zocken.</span>
              </div>
              <div class="column-auto">
{%- include 'layout/_current_user.html' %}
              </div>
            </div>
          </div>
