{% from 'macros/icons.html' import render_icon -%}


<div class="dropdown">
  <button class="dropdown-toggle button is-clear">{{ render_icon('language') }}</button>
  <ol class="dropdown-menu">
    {%- for locale in g.locales %}
      <li><a class="dropdown-item" href="{{ url_for('locale.set_locale', locale=locale.language) }}">{{ locale.get_display_name(g.current_locale) }}{% if locale.language == g.current_locale.language %} {{ render_icon('enabled') }}{% endif %}</a></li>
    {%- endfor %}
  </ol>
</div>
