{% extends 'layout/base_admin.html' %}
{% from 'macros/misc.html' import render_faint %}
{% set current_page = 'board_admin' %}
{% set title = 'Board' %}

{% block head %}
    <style>
      .brands td:hover {
        background-color: #f8f888;
      }
      .brands a {
        color: #333333;
        display: block;
        text-decoration: none;
      }
    </style>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ title }}</li>
    </ol>
  </nav>

  <p>Marke wählen:</p>
  <table class="index wide brands">
    {%- for brand, category_count in brands_with_category_counts|sort(attribute='0.title') %}
    <tr>
      <td>
        <a href="{{ url_for('.index_for_brand', brand_id=brand.id) }}">
          <strong>{{ brand.title }}</strong><br>
          {{ render_faint('%d %s'|format(category_count, 'Kategorie' if (category_count == 1) else 'Kategorien')) }}
        </a>
      </td>
    </tr>
    {%- endfor %}
  </table>

{%- endblock body %}
