{% extends 'layout/base_admin.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_faint %}
{% set current_page = 'board_admin' %}
{% set title = '%s - Board'|format(brand.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Board</a></li>
      <li>{{ brand.title }}</li>
    </ol>
  </nav>

  <table class="index wide">
    <thead>
      <tr>
        <th>Position</th>
        <th>Titel, Slug</th>
        <th>Beschreibung</th>
        <th>Themen</th>
        <th>Beiträge</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for category in categories|sort(attribute='position') %}
      <tr>
        <td class="centered">{{ category.position }}</td>
        <td><strong>{{ category.title }}</strong><br>{{ render_faint(category.slug) }}</td>
        <td>{{ category.description }}</td>
        <td class="centered">{{ category.topic_count }}</td>
        <td class="centered">{{ category.posting_count }}</td>
        <td>
          {%- if g.current_user.has_permission(BoardCategoryPermission.update) -%}
          <a href="{{ url_for('.category_update_form', id=category.id) }}" class="action" title="bearbeiten">{{ render_icon('edit') }}</a>
          {%- endif -%}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  {%- if g.current_user.has_permission(BoardCategoryPermission.create) %}
  <ol class="actions">
    <li><a href="{{ url_for('.category_create_form', brand_id=brand.id) }}">{{ render_icon('add') }} Kategorie erstellen</a></li>
  </ol>
  {%- endif %}

{%- endblock body %}
