{% extends 'layout/base_admin.html' %}
{% from 'macros/admin.html' import render_extra_in_heading, render_main_tabs %}
{% from 'macros/misc.html' import render_with_fallback %}
{% set current_page = 'authorization_admin.permissions' %}
{% set title = 'Rechte' %}

{% block before_body %}
  {{
    render_main_tabs(
      Navigation(None)
        .add_item(url_for('authorization_admin.role_index'), 'Rollen', id='authorization_admin.roles', required_permission=RolePermission.list, icon='role')
        .add_item(url_for('authorization_admin.permission_index'), 'Rechte', id='authorization_admin.permissions', required_permission=RolePermission.list, icon='permission')
      , current_page
    )
  }}
{%- endblock %}

{% block body %}

  <h1>{{ title }} {{ render_extra_in_heading(permissions|length) }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Recht</th>
        <th>Teil dieser Rollen</th>
      </tr>
    </thead>
    <tbody>
      {%- for permission in permissions|sort(attribute='id') %}
      <tr>
        <td>
          <strong class="monospace">{{ permission.id }}</strong><br>
          {{ render_with_fallback(permission.title, 'keine Beschreibung vorhanden') }}
        </td>
        <td>
        {%- if permission.roles %}
          <ol>
          {%- for role in permission.roles|sort(attribute='id') %}
            <li class="monospace">{{ role.id }}</li>
          {%- endfor %}
          </ol>
        {%- else %}
          {{ 'keine'|dim }}
        {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
