{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/authorization_admin.html' import render_main_tabs with context %}
{% from 'macros/misc.html' import render_with_fallback %}
{% from 'macros/user_admin.html' import render_user_avatar_tiny_and_link %}
{% set current_page = 'authorization_admin.roles' %}
{% set title = 'Rollen' %}

{% block before_body %}
{{ render_main_tabs(current_page) }}
{%- endblock %}

{% block body %}

  <h1>{{ title }} {{ render_extra_in_heading(roles|length) }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Rolle</th>
        <th>zugewiesene Rechte</th>
        <th>Benutzer mit dieser Rolle</th>
      </tr>
    </thead>
    <tbody>
      {%- for role in roles|sort(attribute='id') %}
      <tr>
        <td>
          <strong class="monospace">{{ role.id }}</strong><br>
          {{ render_with_fallback(role.title, 'keine Beschreibung vorhanden') }}
        </td>
        <td>
        {%- if role.permissions %}
          <ol>
          {%- for permission in role.permissions|sort(attribute='id') %}
            <li class="monospace">{{ permission.id }}</li>
          {%- endfor %}
          </ol>
        {%- else %}
          {{ 'keine'|dim }}
        {%- endif %}
        </td>
        <td>
        {%- set user_limit = 10 %}
        {%- if not role.users %}
          {{ 'keine'|dim }}
        {%- elif role.users|length <= user_limit %}
          <ol>
          {%- for user in role.users|sort(attribute='screen_name') %}
            <li>{{ render_user_avatar_tiny_and_link(user) }}</li>
          {%- endfor %}
          </ol>
        {%- else %}
          <em>[mehr als {{ user_limit }}]</em>
        {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
