{% macro form_fieldset() -%}
  <fieldset>
    <ol>
{{ caller() }}
    </ol>
  </fieldset>
{%- endmacro %}

{%- macro form_field(field, note=None) -%}
      <li>{{ field.label }}{{ field(**kwargs) -}}{% if note %} {{ note|safe }}{% endif %}
        {%- if field.errors %}
        <ol class="errors">
          {%- for error in field.errors %}
          <li>Fehler: {{ error }}</li>
          {%- endfor %}
        </ol>
        {%- endif -%}
      </li>
{%- endmacro %}

{# A field set with a submit button. #}
{% macro form_buttons(label, cancel_url=None) -%}
  <fieldset class="buttons">
    <button type="submit">{{ label }}</button>
    {%- if cancel_url %} oder <a class="cancel" href="{{ cancel_url }}">abbrechen</a>{% endif -%}
  </fieldset>
{%- endmacro %}
