{% macro form_fieldset() -%}
  <fieldset>
    <ol>
{{ caller() }}
    </ol>
  </fieldset>
{%- endmacro %}

{%- macro form_field(field, note=None) -%}
  {%- set kwargs2 = kwargs %}
  {%- call _row(field) %}
        {{- field.label }}{{ field(**kwargs2) }}
        {%- if note %} {{ note|safe }}{% endif %}
  {%- endcall %}
{%- endmacro %}

{%- macro form_field_checkbox(field, label) -%}
  {%- set kwargs2 = kwargs %}
  {%- call _row(field) %}
        {{- field(**kwargs2) }} {{ field.label(label) }}
  {%- endcall %}
{%- endmacro %}

{%- macro _row(field) -%}
      <li{% if field.errors %} class="error"{% endif %}>
{{- caller() -}}
        {{- _errors(field) -}}
      </li>
{%- endmacro %}

{%- macro _errors(field) -%}
        {%- if field.errors %}
        <ol class="errors">
          {%- for error in field.errors %}
          <li><strong>Fehler:</strong> <span>{{ error }}</span></li>
          {%- endfor %}
        </ol>
        {%- endif -%}
{%- endmacro %}

{# A field set with a submit button. #}
{% macro form_buttons(label, cancel_url=None) -%}
  <fieldset class="buttons">
    <button type="submit">{{ label }}</button>
    {%- if cancel_url %} oder <a class="cancel" href="{{ cancel_url }}">abbrechen</a>{% endif -%}
  </fieldset>
{%- endmacro %}
