{%- from 'macros/icons.html' import render_icon %}


{% macro render_notification(category, icon, text, text_is_safe=False) -%}
  <div class="notification-{{ category }}">{{ render_icon(icon) }} {{ text|safe if text_is_safe else text }}</div>
{%- endmacro %}


{% macro render_tag(label, class=None) -%}
  <span class="tag{% if class is not none %} {{ class }}{% endif %}">{{ label }}</span>
{%- endmacro %}


{% macro render_with_fallback(value, fallback='nicht angegeben') %}
  {%- if value|default('', true)|trim -%}
    {{ value }}
  {%- else -%}
    {{ fallback|dim }}
  {%- endif -%}
{% endmacro %}
