{% extends 'layout/admin/base.html' %}
{% set current_page = 'brand_admin' %}
{% set title = 'Marken' %}

{% block body %}

  <h1>Marken</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>Name<br>ID</th>
        <th class="centered">Partys</th>
        <th class="centered">Organisatoren</th>
        <th class="centered">Newsposts</th>
      </tr>
    </thead>
    <tbody>
      {%- for brand in brands %}
      <tr>
        <td>
          <strong><a href="{{ url_for('admin_dashboard.view_brand', brand_id=brand.id) }}">{{ brand.title }}</a></strong><br>
          {{ brand.id }}
        </td>
        <td class="centered bignumber">{{ party_count_by_brand_id[brand.id] }}</td>
        <td class="centered bignumber">{{ orga_count_by_brand_id[brand.id] }}</td>
        <td class="centered bignumber">{{ news_item_count_by_brand_id[brand.id] }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
