{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_main_tabs %}

{% block before_body %}
  {%- with party = current_page_party %}
{{
  render_main_tabs(
    Navigation(None)
      .add_item(
        url_for('.persons'),
        'Personen',
        id='persons',
        required_permission=OrgaDetailPermission.view,
        icon='users')
      .add_item(
        url_for('.birthdays'),
        'Geburtstage',
        id='birthdays',
        required_permission=OrgaBirthdayPermission.view,
        icon='birthday')
    , current_tab
  )
}}
  {%- endwith %}
{%- endblock %}
