{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_field %}
{% from 'macros/icons.html' import render_icon %}
{% set simple_layout = true %}
{% set current_page = 'shop_orders' %}
{% set page_title = [_('Return tickets'), order.order_number] %}

{% block body %}

{% include 'site/shop/orders/_request_cancellation_head.html' %}

  <div class="main-body-box">
    <form action="{{ url_for('.request_partial_refund', order_id=order.id) }}" method="post">

      <div class="block">{{ _('You want to <strong>donate a partial amount</strong> and get the remainder refunded. Nice, thanks!') }}</div>

{% include 'site/shop/orders/_products.html' %}

      {{ form_field(form.amount_donation, style='width: 6rem;', caption=_('Whole Euros only')) }}

      <div class="block">{{ _('We need your bank details to refund the amount.') }}</div>

      <div style="display: grid; gap: 1rem; grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));">
        <div>
      {{ form_field(form.recipient_name) }}
        </div>
        <div>
      {{ form_field(form.recipient_iban) }}
        </div>
      </div>

      <div class="block">{{ _('Please be aware that processing the refund may take some time.') }}</div>

      <div class="row row--space-between">
        <div>
          <a class="button is-clear is-compact" href="{{ url_for('.request_cancellation_choices', order_id=order.id) }}">{{ render_icon('chevron-left') }} <span>{{ _('Back to selection') }}</span></a>
        </div>
        <div>
          <button type="submit" class="button color-primary">{{ _('Return tickets') }}</button>
        </div>
      </div>

    </form>
  </div>

{%- endblock %}
