/* basic */

html {
  height: 100%;
}
body {
  background-color: #f4f4f4;
  border-color: #cc0000;
  border-style: solid;
  border-width: 3px 0;
  color: #333333;
  font-family: sans-serif;
  line-height: 1.4;
  min-height: 100%;
}

a {
  color: #0000ee;
}


/* grid */

.row {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
}

.row--space-around {
  justify-content: space-around;
}

.row--space-between {
  justify-content: space-between;
}

.column-auto {
  padding: 20px 0 0 20px;
}


/* layout */

#header-content,
#page {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}
#footer {
  margin-bottom: 20px;
}

#page-grid {
  display: flex;
  flex-direction: column;
  margin: -20px 0 0 -20px;
}
#page-grid-main,
#page-grid-sidebar {
  padding: 20px 0 0 20px;
}
#page-grid-main {
  flex: 1;
}
#page-grid-sidebar {
  flex: 0 0 20%;
}

@media (min-width: 60rem) { /* 960px / 16px */
  #page-grid {
    flex-direction: row;
  }
}

main {
  font-size: 0.875rem; /* 14px / 16px */
}

.notifications {
  margin-bottom: 20px;
}

#header,
#sidebar section,
#main,
.box {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
#sidebar section,
#main,
.box {
  background-color: #ffffff;
  border-radius: 3px;
}
#main {
  padding: 20px 40px 40px 40px;
}
.box {
  padding: 20px;
}


/* top bar */

#topbar {
  background-color: rgba(0, 0, 0, 0.06);
}


/* header */

#header {
  background-color: rgba(0, 0, 0, 0.06);
}

#header-content {
  padding: 4px 20px;
}

#header-grid {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px 0 0 -20px;
}

#header-content .column {
  align-self: center;
  padding: 20px 0 0 20px;
}

#header-content .head {
  flex: 1;
  font-size: 0.875rem; /* 14px / 16px */
  font-weight: bold;
}
#header-content .head a {
  text-decoration: none;
}
#header-content .head a:hover {
  text-decoration: underline;
}

@media (min-width: 60rem) { /* 960px / 16px */
  #header-content .head strong.big {
    font-size: 1.125rem; /* 18px / 16px */
  }
}

#header-content .head .dropdown-toggle:hover strong {
  text-decoration: underline;
}

#header-content .current-user {
  font-size: 0.75rem; /* 12px / 16px */
}

#header-content .current-user .dropdown {
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 4px 8px;
}
#header-content .current-user .dropdown:hover,
#header-content .current-user .dropdown.open {
  background-color: #ffffff;
  border-color: #cccccc;
}
#header-content .current-user .dropdown a {
  color: currentColor;
  display: block;
  text-decoration: none;
}
#header-content .current-user .dropdown ol {
  margin-right: -1px;
}
#header-content .current-user .label-and-name {
  display: inline-block;
  margin: 0 0.3rem 0 0.1rem;
  vertical-align: middle;
}
#header-content .current-user .label-and-name .label {
  display: block;
  font-size: 0.6875rem; /* 11px / 16px */
  opacity: 0.5;
}
#header-content .current-user .label-and-name .name {
  color: currentColor;
  display: block;
  font-size: 1.0625rem; /* 17px / 16px */
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

#header-content .current-user .logged-out {
  height: 42px;
  padding-top: 9px;
}
#header-content .current-user .logged-out .button:not(:hover) {
  background-color: #ffffff;
}

#header-content form.user-search input,
#header-content form.user-search .button {
  font-size: 0.875rem; /* 14px / 16px */
  opacity: 0.7;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}
#header-content form.user-search input:focus,
#header-content form.user-search input:hover,
#header-content form.user-search input:focus + .button,
#header-content form.user-search input:hover + .button {
  opacity: 1;
}


/* sidebar */

#sidebar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -20px 0 0 -20px;
}
#sidebar section {
  font-size: 0.875rem; /* 14px / 16px */
  flex: 1;
  margin: 20px 0 0 20px;
  overflow: hidden;
  padding-bottom: 12px;
}
#sidebar section h1 {
  background-color: #555555;
  border-bottom: #cccccc solid 1px;
  color: #f8f8f8;
  font-size: 1rem; /* 16px */
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 10px 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#sidebar section h1 small {
  font-size: 0.75rem; /* 12px / 16px */
}
#sidebar section li {
  white-space: nowrap;
}
#sidebar section p {
  margin: 0;
  padding: 0 20px;
}

@media (min-width: 60rem) { /* 960px / 16px */
  #sidebar {
    flex-direction: column;
  }
}


/* main navigation */

nav.main ol {
  width: 100%;
}
nav.main li {
  display: block;
  margin: 0;
  padding: 0;
}
nav.main a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  color: currentColor;
  display: block;
  line-height: 1.7;
  opacity: 0.8;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
nav.main a:hover,
nav.main .current a {
  background-color: #eeeeee;
  border-color: #cccccc;
  opacity: 1;
}
nav.main .icon {
  margin-right: 0.2em;
}


/* tabs above main content area */

.main-tabs {
  display: flex;
  list-style: none;
  margin: -8px 0 0 8px;
  padding: 0;
}
.main-tabs li {
  padding: 8px 0 0 8px;
}
.main-tabs a,
.main-tabs .current {
  border-color: #cccccc;
  border-style: solid;
  display: block;
  font-size: 0.75rem; /* 12px / 16px */
  font-weight: bold;
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
}
.main-tabs a {
  border-width: 0;
  color: #aaaaaa;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  text-decoration: none;
}
.main-tabs a:hover,
.main-tabs .current {
  border-width: 1px 1px 0 1px;
  background-color: #ffffff;
  color: #888888;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.main-tabs a:hover {
  color: currentColor;
  opacity: 0.5;
}


/* headings */

h1 {
  font-size: 1.75rem; /* 28px / 16px */
  line-height: 1.2;
}
h2 {
  font-size: 1.25rem; /* 20px / 16px */
  margin-top: 2rem;
}

h1 small,
h2 small {
  font-weight: normal;
  opacity: 0.5;
}
h1 small {
  font-size: 1.5rem; /* 24px / 16px */
}
h2 small {
  font-size: 1.125rem; /* 18px / 16px */
}


/* tables */

@media (max-width: 60rem) { /* 960px / 16px */
  table.index.wide {
    display: block;
    overflow-x: auto;
  }
}

table.index td.bignumber {
  font-size: 1.6em;
  vertical-align: middle;
}


/* lists */

ol.index,
ol.index li {
  border-color: #cccccc;
  border-style: solid;
}
ol.index {
  border-width: 0 0 1px 0;
}
ol.index li {
  border-width: 1px 0 0 0;
  font-size: 0.875rem; /* 14px / 16px */
  padding: 0.35rem 0;
}

ol.index.fully-linked li {
  padding: 0;
}
ol.index.fully-linked a {
  color: currentColor;
  display: block;
  margin: 0 -40px;
  padding: 0.35rem 40px;
  text-decoration: none;
}
ol.index.fully-linked a:hover {
  background-color: #f8f888;
}

.list-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -8px 0 0 -8px;
  padding: 0;
}
.list-grid > li {
  padding: 8px 0 0 8px;
}


/* tags */

.tag.order-open {
  background-color: #ee3322 !important;
}
.tag.order-paid {
  background-color: #11aa22 !important;
}
.tag.order-canceled {
  background-color: #999999 !important;
}
.tag.order-waiting-for-shipping {
  background-color: #eecc00 !important;
}


/* forms */

fieldset.buttons {
  background-color: #e8e8e8;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}


/* buttons */

.button--seamless,
.button--seamless:active,
.button--seamless:hover {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
.button--seamless:hover {
  border: #cccccc solid 1px;
}


/* filters */

.filters {
  margin-bottom: 20px;
}

.filter {
  font-size: 0.75rem; /* 12px / 16px */
  white-space: nowrap;
}

.filter .tag {
  background-color: #666666;
}


/* stats */

.bigstats {
  margin-bottom: 2rem;
}
.bigstats figure {
  font-weight: bold;
  text-align: center;
}
.bigstats .value,
.bigstats figcaption {
  display: block;
}
.bigstats .value {
  font-size: 4.5rem; /* 72px / 16px */
  line-height: 1;
}
.bigstats a {
  color: currentColor;
}


/* footer */

#footer {
  display: block;
  font-size: 0.75rem; /* 12px / 16px */
  opacity: 0.5;
  text-align: center;
}
#footer:hover {
  opacity: 1;
}

#footer:not(:hover) a {
  color: currentColor;
}


/* activity stream */

ol.activity-stream {
  border-left: #eeeeee solid 2px;
  margin-left: 12px;
  padding: 4px 0;
  padding-left: 18px;
}

ol.activity-stream li {
  color: #888888;
  font-size: 0.8125rem; /* 13px / 16px */
  padding: 8px 0;
  position: relative;
}

table.activity-stream-item {
  width: 100%;
}

table.activity-stream-item td:first-child {
  width: 8px;
}

.activity-stream-item .icon-container {
  background-color: #eeeeee;
  border: #ffffff solid 2px;
  border-radius: 50%;
  display: inline-block;
  height: 28px;
  left: -33px;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 4px;
  width: 28px;
}
.activity-stream-item .icon-container > * {
  fill: #666666;
  height: 12px;
  vertical-align: middle;
  width: 12px;
}

.activity-stream-item .user-link a {
  color: #333333;
  font-weight: bold;
}
.activity-stream-item .user-link a:not(:hover) {
  text-decoration: none;
}

.activity-stream-item .timestamp {
  font-size: 0.6875rem; /* 11px / 16px */
  text-align: right;
  white-space: nowrap;
}


/* print view */

@media print {
  * {
    background-color: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    border: none;
  }

  #header,
  #sidebar,
  #footer {
    display: none;
  }

  #page {
    max-width: auto;
  }

  #page-grid {
    display: block;
  }

  #main {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  table {
    display: table !important;
    overflow: visible !important;
  }

  .button-row {
    display: none !important;
  }
}
