/* basic */

html {
  font-size: 90%;
  height: 100%;
}
body {
  background-color: #f4f4f4;
  border-color: #cc0000;
  border-style: solid;
  border-width: 3px 0;
  color: #333333;
  font-family: sans-serif;
  line-height: 1.4em;
  min-height: 100%;
}

a {
  color: #0000ee;
}


/* layout */

#header-content,
#page {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
}
#footer {
  margin-bottom: 20px;
}

#page-grid {
  display: flex;
  flex-direction: column;
  margin: -20px 0 0 -20px;
}
#page-grid-main,
#page-grid-sidebar {
  padding: 20px 0 0 20px;
}
#page-grid-main {
  flex: 1;
}
#page-grid-sidebar {
  flex: 0 0 18%;
}

@media (min-width: 960px) {
  #page-grid {
    flex-direction: row;
  }
}


#header,
#sidebar section,
#main,
.box {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
#sidebar section,
#main,
.box {
  background-color: #ffffff;
  border-radius: 2px;
}
#main {
  padding: 20px 40px 40px 40px;
}
.box {
  padding: 20px;
}


/* header */

#header {
  border-width: 0 0 1px 0;
  background-color: rgba(0, 0, 0, 0.06);
}
#header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

#header-content .head {
  font-weight: bold;
  margin: 1rem 0;
}
#header-content .head a {
  text-decoration: none;
}
#header-content .head a:hover {
  text-decoration: underline;
}

#header-content nav ol {
  display: flex;
  justify-content: center;
}
#header-content nav li {
  border-left: #cccccc solid 1px;
  border-top: #cccccc solid 1px;
  flex: 1;
  height: 62px;
  line-height: 42px;
  margin-bottom: -10px;
  text-align: center;
  width: 62px;
}
#header-content nav li:last-child {
  border-right: #cccccc solid 1px;
}
#header-content nav a {
  color: currentColor;
  display: block;
  height: 100%;
  padding: 10px 1rem;
  text-decoration: none;
}
#header-content nav li.current a,
#header-content nav li a:hover {
  background-color: #f4f4f4;
  height: 67px;
  margin-bottom: -15px;
}

#current-user {
  font-size: 0.8rem;
  display: flex;
}
#current-user > div {
  flex: 1;
  white-space: nowrap;
}
#current-user .avatar {
  display: block;
  height: 42px;
  margin-right: 10px;
  width: 42px;
}
#current-user .avatar img {
  height: auto;
  max-width: 100%;
}
#current-user .intro {
  display: block;
  opacity: 0.5;
}
#current-user .name-and-logout {
  display: flex;
  justify-content: space-between;
}
#current-user a.name {
  color: currentColor;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5em;
  text-decoration: none;
}

@media (min-width: 960px) {
  #header-content {
    flex-direction: row;
  }
  #header-content .head {
    margin: 0;
  }
  #header-content .head strong {
    display: block;
    font-size: 1.3rem;
  }
  #header-content nav li {
    border-top: none;
    margin-top: -10px;
  }
  #current-user {
    order: 1;
  }
}


/* sidebar */

#sidebar {
  display: flex;
  flex-direction: row;
  margin: -20px 0 0 -20px;
}
#sidebar section {
  font-size: 0.8rem;
  flex: 1;
  margin: 20px 0 0 20px;
  padding-bottom: 12px;
}
#sidebar section h1 {
  background-color: #555555;
  border-bottom: #cccccc solid 1px;
  color: #f8f8f8;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0 0 10px 0;
  padding: 35px 20px 10px 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
#sidebar section p {
  padding: 0 20px
}

@media (min-width: 960px) {
  #sidebar {
    flex-direction: column;
  }
}


/* main navigation */

nav.main ol {
  width: 100%;
}
nav.main li {
  display: block;
  margin: 0;
  padding: 0;
}
nav.main a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  color: currentColor;
  display: block;
  font-size: 0.95rem;
  font-weight: normal;
  line-height: 1.5;
  opacity: 0.8;
  padding: 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
nav.main a:hover,
nav.main .current a {
  background-color: #e8e8e8;
  border-color: #cccccc;
  opacity: 1;
}


/* tabs above main content area */

.main-tabs {
  display: flex;
  list-style: none;
  margin: -8px 0 0 8px;
  padding: 0;
}
.main-tabs li {
  padding: 8px 0 0 8px;
}
.main-tabs a,
.main-tabs .current {
  border-color: #cccccc;
  border-style: solid;
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
}
.main-tabs a {
  border-width: 0;
  color: #aaaaaa;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  text-decoration: none;
}
.main-tabs a:hover,
.main-tabs .current {
  border-width: 1px 1px 0 1px;
  background-color: #ffffff;
  color: #888888;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.main-tabs a:hover {
  color: currentColor;
  opacity: 0.5;
}


/* headings */

.breadcrumbs small,
h1 small,
h2 small {
  font-size: 80%;
  font-weight: normal;
  opacity: 0.5;
}


/* tables */

@media (max-width: 960px) {
  table.index.wide {
    display: block;
    overflow-x: auto;
  }
}


/* lists */

ol.index,
ol.index li {
  border-color: #cccccc;
  border-style: solid;
}
ol.index {
  border-width: 0 0 1px 0;
}
ol.index li {
  border-width: 1px 0 0 0;
  font-size: 0.9rem;
  padding: 0.35rem 0;
}

ol.index.fully-linked li {
  padding: 0;
}
ol.index.fully-linked a {
  color: currentColor;
  display: block;
  margin: 0 -40px;
  padding: 0.35rem 40px;
  text-decoration: none;
}
ol.index.fully-linked a:hover {
  background-color: #f8f888;
}

.list-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -8px 0 0 -8px;
  padding: 0;
}
.list-grid li {
  padding: 8px 0 0 8px;
}


/* tags */

.tag.order-open {
  background-color: #ee3322 !important;
}
.tag.order-paid {
  background-color: #11aa22 !important;
}
.tag.order-canceled {
  background-color: #999999 !important;
}


/* filters */

.filter {
  font-size: 0.8rem;
  margin: 2.5rem 0 2rem 0;
  text-align: right;
}
.filter ol,
.filter li {
  display: inline-block;
}
.filter li::after {
  content: ' |';
  opacity: 0.5;
}
.filter li:last-child::after {
  content: none;
}
.filter li a {
  opacity: 0.3;
}
.filter a:hover {
  opacity: 0.6;
}
.filter li :not(a) {
  opacity: 1;
}
.filter .tag {
  background-color: #666666;
}


/* stats */

.bigstats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.bigstats figure {
  font-weight: bold;
  text-align: center;
}
.bigstats .value,
.bigstats figcaption {
  display: block;
}
.bigstats .value {
  font-size: 5rem;
  line-height: 1;
}
.bigstats a {
  color: currentColor;
}


/* footer */

#footer {
  display: block;
  font-size: 0.9rem;
  opacity: 0.5;
  text-align: center;
}
#footer:hover {
  opacity: 1;
}


/* user avatars */

.avatar.small img {
  height: 48px;
  width: 48px;
}
.avatar.orga img {
  border-radius: 50%;
}


/* user badges */

.user-badge {
  border: #cccccc solid 1px;
  border-radius: 50%;
  cursor: help;
  padding: 8px;
}
.user-badge img {
  display: block;
  height: 64px;
  width: 64px;
}


/* print view */

@media print {
  * {
    background-color: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    border: none;
  }

  #header,
  #sidebar,
  #footer {
    display: none;
  }

  #page {
    max-width: auto;
  }

  #page-grid {
    display: block;
  }

  #main {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  table {
    display: table !important;
    overflow: visible !important;
  }

  .actions,
  .action {
    display: none !important;
  }
}
