{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_main_tabs %}
{% set current_page = 'user_admin' %}

{% block before_body %}
  {%- with party = current_page_party, user_id = current_tab_user_id %}
{{
  render_main_tabs(
    Navigation(None)
      .add_item(
        url_for('.view', user_id=user_id),
        'Übersicht',
        id='profile',
        required_permission=UserPermission.view,
        icon='user')
      .add_item(
        url_for('.view_events', user_id=user_id),
        'Ereignisse',
        id='events',
        required_permission=UserPermission.view,
        icon='history')
      .add_item(
        url_for('.view_permissions', user_id=user_id),
        'Berechtigungen',
        id='permissions',
        required_permission=UserPermission.view,
        icon='permission')
    , current_tab
  )
}}
  {%- endwith %}
{%- endblock %}
