{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime_custom, render_time %}
{% from 'macros/icons.html' import render_icon %}
{% set title = '%s - Turniere'|format(tourney.title) %}

{% block head %}
<style>
  .tourney-header {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    min-height: 5.5rem;
  }

  .tourney-header h1 {
    margin: 0;
    padding: 0;
  }

  .tourney-icon img {
    height: 64px;
    width: 64px;
    display: block;
  }

  .tourney-icon .icon {
    font-size: 4rem;
  }

  .progress {
    background-color: #cccccc;
    height: 0.3rem;
    width: 4rem;
  }

  .progress-bar {
    box-shadow: 1px 0 1px #333;
  }

  .progress-bar.color--available {
    background-color: #11aa22;
  }

  .progress-bar.color--scarce {
    background-color: #eecc00;
  }

  .progress-bar.color--full {
    background-color: #ee3322;
  }
</style>
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.tourney_index') }}">Turniere</a></li>
    </ol>
  </nav>
  <div class="tourney-header">
    <div class="row">
      <div class="column-auto">
        <div class="tourney-icon">
          {%- if tourney.logo_url %}
            <img src="{{ tourney.logo_url }}">
          {%- else %}
            {{ render_icon('trophy') }}
          {%- endif %}
        </div>
      </div>
      <div class="column-auto">
        <h1>
          <div class="tourney-title">{{ tourney.title }}</div>
          {%- if tourney.subtitle %}
          <div class="tourney-subtitle">{{ tourney.subtitle|safe }}</div>
          {%- endif %}
        </h1>
      </div>
    </div>
  </div>

  <table class="index">
    <tr>
      <th>Beginn</th>
      <td>
        {{ render_datetime_custom(tourney.starts_at|utc_to_local_tz, '%A') }},
        {{ render_time(tourney.starts_at|utc_to_local_tz) }}
      </td>
    </tr>
  </table>

  <h2>
    <div class="row" style="align-items: center;">
      <div class="column-auto">
        Teilnehmer
      </div>
      <div class="column-auto">
        <div class="progress">
          {%- with percentage = 100 * tourney.current_participant_count / tourney.max_participant_count %}
          <div class="progress-bar color--{% if percentage < 100 %}{% if percentage < 70 %}available{% else %}scarce{% endif %}{% else %}full{% endif %}" style="width: {{ percentage }}%;"></div>
          {%- endwith %}
        </div>
      </div>
      <div class="column-auto">
        <small class="dimmed nowrap">{{ tourney.current_participant_count }} / {{ tourney.max_participant_count }}</small>
      </div>
    </div>
  </h2>
  {%- if participants %}
  <ul>
    {%- for participant in participants %}
    <li>{{ participant.title }}</li>
    {%- endfor %}
  </ul>
  {%- else %}
  <p class="dimmed">Es sind noch keine Teilnehmer angemeldet.</p>
  {%- endif %}

{%- endblock %}
