{% extends 'layout/admin/base.html' %}
{% from 'macros/snippet_admin.html' import render_difference, render_difference_styles  %}
{% set current_page = 'snippet_admin' %}
{% set current_page_party = party %}
{% set title = 'Änderungen ansehen' %}

{%- block head %}
{{ render_difference_styles() }}
{%- endblock %}

{% block body %}

  <h1>{{ title }}</h1>

  <h2>Titel</h2>
{{ render_difference(diff_title) }}

  <h2>Seitenkopf</h2>
{{ render_difference(diff_head) }}

  <h2>Text</h2>
{{ render_difference(diff_body) }}

  <h2>Bild-URL-Pfad</h2>
{{ render_difference(diff_image_url_path) }}

{%- endblock %}
