{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'snippet_admin' %}
{% set current_page_party = party %}
{% set title = 'Mountpoint erstellen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Snippets</li>
      <li><a href="{{ url_for('.index_for_party', party_id=party.id) }}">{{ party.title }}</a></li>
      <li>{{ snippet.name }}</li>
    </ol>
  </nav>
  <h1>{{ render_icon('add') }} {{ title }}</h1>

  <form action="{{ url_for('.create_mountpoint', snippet_id=snippet.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.endpoint_suffix, value=snippet.name, maxlength=40, required='required', autofocus='autofocus') }}
      {{ form_field(form.url_path, value='/', maxlength=40, required='required') }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.index_for_party', party_id=party.id)) }}
  </form>

{%- endblock %}
