{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_admin.html' import render_user_avatar_20_and_name %}
{% set current_page = 'snippet_admin' %}
{% set current_page_party = party %}
{% set title = '%s - Snippets'|format(party.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Snippets</li>
    </ol>
  </nav>
  <h1>{{ party.title }}</h1>

  <h2>Snippets {{ render_extra_in_heading(snippets|length) }}</h2>

  {%- if g.current_user.has_permission(SnippetPermission.create) %}
  <div class="button-row">
    <a class="button" href="{{ url_for('.create_document_form', party_id=party.id) }}">{{ render_icon('snippet-document') }} Dokument erstellen</a>
    <a class="button" href="{{ url_for('.create_fragment_form', party_id=party.id) }}">{{ render_icon('snippet-fragment') }} Fragment erstellen</a>
  </div>
  {%- endif %}

  <table class="index wide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Letzte Änderung</th>
        <th>durch</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%- for snippet in snippets|sort(attribute='name') %}
      <tr>
        <td class="nowrap">
          {%- if snippet.is_document %}
          {{ render_icon('snippet-document', title='Dokument') }}
          {%- elif snippet.is_fragment %}
          {{ render_icon('snippet-fragment', title='Fragment') }}
          {%- endif %}
          <a href="{{ url_for('.view_version', snippet_version_id=snippet.current_version.id) }}"><strong>{{ snippet.name }}</strong></a>
        </td>
        <td class="nowrap">
          {%- if g.current_user.has_permission(SnippetPermission.view_history) %}
          {{ render_icon('history') }} <a href="{{ url_for('.history', snippet_id=snippet.id) }}" title="Änderungshistorie ansehen">{{ render_datetime(snippet.current_version.created_at) }}</a>
          {%- else %}
          {{ render_datetime(snippet.current_version.created_at) }}
          {%- endif %}
        </td>
        <td>{{ render_user_avatar_20_and_name(snippet.current_version.creator) }}</td>
        <td>
          <div class="dropdown left">
            <button class="dropdown-toggle button button--compact">{{ render_icon('caret-down') }}</button>
            <ol>
              {%- with endpoint = '.update_fragment_form' if snippet.is_fragment else '.update_document_form' %}
              <li><a href="{{ url_for(endpoint, snippet_id=snippet.id) }}">{{ render_icon('edit') }} bearbeiten</a></li>
              {%- endwith %}
              {%- if snippet.is_document and g.current_user.has_permission(MountpointPermission.create) %}
              <li class="divider"></li>
              <li><a href="{{ url_for('.create_mountpoint_form', snippet_id=snippet.id) }}">{{ render_icon('add') }} Mountpoint erstellen</a></li>
              {%- endif %}
            </ol>
          </div>
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  <h2>Mountpoints {{ render_extra_in_heading(mountpoints|length) }}</h2>

  <table class="index wide">
    <thead>
      <tr>
        <th>URL-Pfad</th>
        <th>Endpoint-Name</th>
        <th>Snippet</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for mountpoint in mountpoints|sort(attribute='url_path') %}
      <tr>
        <td>{{ mountpoint.url_path }}</td>
        <td>{{ mountpoint.endpoint_suffix }}</td>
        <td>{{ mountpoint.snippet.name }}</td>
        <td>
        {%- if g.current_user.has_permission(MountpointPermission.delete) %}
          <div class="dropdown left">
            <button class="dropdown-toggle button button--compact">{{ render_icon('caret-down') }}</button>
            <ol>
              <li><a data-action="mountpoint-delete" href="{{ url_for('.delete_mountpoint', mountpoint_id=mountpoint.id) }}">{{ render_icon('remove') }} Mountpoint entfernen</a></li>
            </ol>
          </div>
        {%- endif %}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        confirmed_delete_on_click_then_reload('[data-action="mountpoint-delete"]', 'Mountpoint entfernen?');
      });
    </script>
{%- endblock %}
