{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_admin.html' import render_user_avatar_tiny_and_link %}
{% set current_page = 'snippet_admin' %}
{% set current_page_party = party %}
{% set title = '%s - Snippets'|format(party.title) %}

{% block head %}
    <script>
      $(function() {
        confirmed_delete_on_click('a.mountpoint-delete', 'Mountpoint entfernen?');
      });
    </script>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">Snippets</a></li>
    </ol>
  </nav>
  <h1>{{ party.title }}</h1>

  <h2>Snippets {{ render_extra_in_heading(snippets|length) }}</h2>

  <table class="index wide">
    <thead>
      <tr>
        <th>Name</th>
        <th>Letzte Änderung</th>
        <th>durch</th>
        <th colspan="2">Aktionen</th>
      </tr>
    </thead>
    <tbody>
    {%- for snippet in snippets|sort(attribute='name') %}
      <tr>
        <td>{{ snippet.name }}</td>
        <td class="nowrap">
          {%- if g.current_user.has_permission(SnippetPermission.view_history) %}
          {{ render_icon('history') }} <a href="{{ url_for('.history', id=snippet.id) }}" title="Änderungshistorie ansehen">{{ render_datetime(snippet.current_version.created_at) }}</a>
          {%- else %}
          {{ render_datetime(snippet.current_version.created_at) }}
          {%- endif %}
        </td>
        <td>{{ render_user_avatar_tiny_and_link(snippet.current_version.creator) }}</td>
        <td><a href="{{ url_for('.view_version', id=snippet.current_version.id) }}" class="action inline">{{ render_icon('view') }} ansehen</a></td>
        <td>
          {%- if g.current_user.has_permission(SnippetPermission.update) -%}
          <a href="{{ url_for('.update_snippet_form', id=snippet.id) }}" class="action inline">{{ render_icon('edit') }} bearbeiten</a>
          {%- endif -%}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  {%- if g.current_user.has_permission(SnippetPermission.create) %}
  <ol class="actions">
    <li><a href="{{ url_for('.create_snippet_form', party_id=party.id) }}">{{ render_icon('add') }} Snippet erstellen</a></li>
  </ol>
  {%- endif %}

  <h2>Mountpoints {{ render_extra_in_heading(mountpoints|length) }}</h2>

  <table class="index wide">
    <thead>
      <tr>
        <th>URL-Pfad</th>
        <th>Endpoint-Name</th>
        <th>Snippet</th>
        {%- if g.current_user.has_permission(MountpointPermission.delete) %}
        <th>Aktionen</th>
        {%- endif %}
      </tr>
    </thead>
    <tbody>
      {%- for mountpoint in mountpoints|sort(attribute='url_path') %}
      <tr>
        <td>{{ mountpoint.url_path }}</td>
        <td>{{ mountpoint.endpoint_suffix }}</td>
        <td>{{ mountpoint.snippet.name }}</td>
        {%- if g.current_user.has_permission(MountpointPermission.delete) %}
        <td><a href="{{ url_for('.delete_mountpoint', id=mountpoint.id) }}" class="action inline mountpoint-delete" title="Mountpoint entfernen">{{ render_icon('remove') }}</a></td>
        {%- endif %}
      </tr>
    {%- endfor %}
    </tbody>
  </table>

  {%- if g.current_user.has_permission(MountpointPermission.create) %}
  <ol class="actions">
    <li><a href="{{ url_for('.create_mountpoint_form', party_id=party.id) }}">{{ render_icon('add') }} Mountpoint erstellen</a></li>
  </ol>
  {%- endif %}

{%- endblock body %}
