{% extends 'layout/admin/base.html' %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'snippet_admin' %}
{% set current_page_party = party %}
{% set title = 'Snippetversion ansehen - Fehler' %}

{% block body %}

  <h1>{{ title }}</h1>

  {%- set notification_body %}
      <p>Entschuldigung, es ist ein Fehler aufgetreten.</p>
      <pre>{{ error_message }}</pre>
  {%- endset %}
  {{ render_notification('error', 'warning', notification_body, text_is_safe=True) }}

{%- endblock %}
