{% extends 'layout/admin/base.html' %}
{% set current_page = 'snippet_admin' %}
{% set current_page_party = party %}
{% set title = 'Änderungen ansehen' %}

{%- block head %}
  <style>
    .difference {
      display: block;
      max-width: 920px;
      overflow-x: auto;
    }

    table.diff {
      border: #cccccc solid 1px;;
      font-size: 0.875rem; /* 14px / 16px */
      width: 100%;
    }

    table.diff tbody {
      font-family: monospace;
    }

    .diff_next {
      display: none;
    }

    .diff_header {
      background-color: #e0e0e0;
      padding-left: 0.5rem;
    }
    td.diff_header {
      text-align: right;
      width: 1%;
    }

    .diff_add { 
      background-color: #88ee88;
      border-color: #1fd81f;
    }
    .diff_chg {
      background-color: #ffff77;
      border: #eeee1a solid 1px;
    }
    .diff_sub {
      background-color: #ff9999;
      border: #ff1a1a solid 1px;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ title }}</h1>

  <h2>Titel</h2>
{{ render_difference(diff_title) }}

  <h2>Seitenkopf</h2>
{{ render_difference(diff_head) }}

  <h2>Text</h2>
{{ render_difference(diff_body) }}

  <h2>Bild-URL-Pfad</h2>
{{ render_difference(diff_image_url_path) }}

{%- endblock %}


{% macro render_difference(diff) %}
  {%- if diff is not none %}
  <div class="difference">
{{- diff|safe }}
  </div>
  {%- else %}
  <p>{{ 'keine Unterschiede'|dim }}</p>
  {%- endif %}
{%- endmacro %}
