{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_fieldset, form_field, form_supplement %}
{% from 'macros/user_avatar.html' import render_user_avatar_20_and_link %}
{% set current_page = 'user_message' %}
{% set title = 'Mitteilung an Benutzer senden' %}

{% block body %}

  <h1>Mitteilung senden</h1>

  <form action="{{ url_for('.create', recipient_id=recipient.id) }}" method="post">
    {%- call form_fieldset() %}
      {%- call form_supplement(label='Empfänger/in') %}
        {{ render_user_avatar_20_and_link(recipient) }}
      {%- endcall %}
      {{ form_field(form.body, maxlength=2000, required='required', autofocus='autofocus') }}
    {%- endcall %}

    {{ form_buttons('Senden') }}
  </form>

{%- endblock %}
