{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/shop_admin.html' import render_article_temporal_availability %}
{% set current_page = 'shop_admin.articles' %}
{% set title = 'Artikel' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.article_index') }}">Artikel</a></li>
      <li>{{ party.title }}</li>
    </ol>
  </nav>

  <table class="index wide" style="margin-bottom: 2rem;">
    <thead>
      <tr>
        <th>Artikelnr.</th>
        <th>Beschreibung</th>
        <th>Zeitliche<br/>Verfügbarkeit</th>
        <th class="hyphenate" style="width: 12%;">Stückpreis</th>
        <th class="hyphenate" style="width: 10%;">Anzahl<br/>verfügbar</th>
      </tr>
    </thead>
    <tbody>
      {%- for article in articles.items %}
      <tr>
        <td class="nowrap">{{ article.item_number }}</td>
        <td>
          <a href="{{ url_for('.article_view', id=article.id) }}">{{ article.description }}</a>
          {%- if article.requires_separate_order %}
          <br/>{{ render_icon('info') }} <em>separat zu bestellen</em>
          {%- endif %}
        </td>
        <td>{{ render_article_temporal_availability(article) }}</td>
        <td class="nowrap" style="text-align: right;">{{ article.price.to_string() }}</td>
        <td{% if article.quantity == 0 %} class="faint"{% endif %} style="text-align: right;">{{ article.quantity }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(articles, '.article_index_for_party', {'party_id': party.id}) }}

{%- endblock body %}
