{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'snippet_admin' %}
{% set title = 'Artikel anlegen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.article_index') }}">Artikel</a></li>
      <li><a href="{{ url_for('.article_index_for_party', party_id=party.id) }}">{{ party.title }}</a></li>
      <li>{{ render_icon('add') }} {{ title }}</li>
    </ol>
  </nav>

  <form action="{{ url_for('.article_create', party_id=party.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.description, maxlength=80, required='required', autofocus='autofocus') }}
      {{ form_field(form.quantity, type='number', min=1, max=99999, style='width: 5rem;', required='required') }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.article_index_for_party', party_id=party.id)) }}
  </form>

{%- endblock body %}
