{% extends 'layout/base.html' %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page = 'shop_admin.articles' %}
{% set title = 'Shop - Artikel auflisten' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index">
    <thead>
      <tr>
        <th>Beschreibung</th>
        <th>Preis</th>
        <th>Anzahl</th>
      </tr>
    </thead>
    <tbody>
      {%- for article in articles.items %}
      <tr>
        <td>{{ article.description }}</td>
        <td style="text-align: right;">{{ article.price.to_str() }} &euro;</td>
        <td style="text-align: right;">{{ article.quantity }}</td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(orders, '.article_index_for_party', {'party_id': party.id}) }}

{%- endblock body %}
