{% extends 'layout/base_admin.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'shop_admin.articles' %}
{% set title = 'Shop - Artikel' %}

{% block head %}
    <style>
      ol.index.fully-linked a {
        display: flex;
      }
      ol.index a div {
        flex: 1;
      }
      ol.index .right {
        text-align: right;
      }
    </style>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Shop</li>
      <li>Artikel</li>
    </ol>
  </nav>

  <p>Party wählen:</p>
  <ol class="index fully-linked">
    {%- for party, article_count in parties_with_article_counts|sort(attribute='0.starts_at', reverse=True) %}
    <li>
      <a href="{{ url_for('.article_index_for_party', party_id=party.id) }}">
        <div{% if party.is_archived %} class="dimmed"{% endif %}>
          <strong>{{ party.title }}</strong>
          {%- if party.is_archived %} {{ render_icon('archived', title='archiviert') }}{% endif -%}
          <br>
          {{- '%d Artikel'|format(article_count)|dim }}
        </div>
        <div class="right">
          {{ party.number_prefix|dim }}
        </div>
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
