{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_faint, render_with_fallback %}
{% from 'macros/shop_admin.html' import render_article_temporal_availability %}
{% set current_page = 'shop_admin.articles' %}
{% set title = 'Artikel ansehen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.article_index') }}">Artikel</a></li>
      <li><a href="{{ url_for('.article_index_for_party', party_id=article.party.id) }}">{{ article.party.title }}</a></li>
      <li>{{ render_icon('view') }} {{ title }}</li>
    </ol>
  </nav>

  <table class="index">
    <tr>
      <th>Artikelnummer</th>
      <td>{{ article.item_number }}</td>
    </tr>
    <tr>
      <th>Beschreibung</th>
      <td>{{ article.description }}</td>
    </tr>
    <tr>
      <th>Stückpreis</th>
      <td>{{ article.price.to_string() }}</td>
    </tr>
    <tr>
      <th>Steuersatz</th>
      <td>{{ article.tax_rate_as_percentage }}&thinsp;%</td>
    </tr>
    <tr>
      <th>Zeitliche<br/>Verfügbarkeit</th>
      <td>{{ render_article_temporal_availability(article) }}</td>
    </tr>
    <tr>
      <th>Anzahl verfügbar</th>
      <td>{{ article.quantity }}</td>
    </tr>
    <tr>
      <th>Anzahl bestellt</th>
      <td>{{ totals[PaymentState.open] }}</td>
    </tr>
    <tr>
      <th>Anzahl bezahlt</th>
      <td>{{ totals[PaymentState.paid] }}</td>
    </tr>
    <tr>
      <th>Anzahl storniert</th>
      <td>{{ totals[PaymentState.canceled] }}</td>
    </tr>
    <tr>
      <th>Maximale Anzahl<br/>pro Bestellung</th>
      <td>{{ render_with_fallback(article.max_quantity_per_order) }}</td>
    </tr>
    <tr>
      <th>Muss separat<br/>bestellt werden</th>
      <td>{{ 'ja' if article.requires_separate_order else 'nein' }}</td>
    </tr>
    <tr>
      <th>Angehängt an Artikel</th>
      <td>
{{- render_attachached_articles(article.articles_attached_to) }}
      </td>
    </tr>
    <tr>
      <th>Angehängte Artikel</th>
      <td>
{{- render_attachached_articles(article.attached_articles) }}
      </td>
    </tr>
  </table>

  <ol class="actions" style="margin-top: 2rem;">
    <li><a href="{{ url_for('.article_update_form', id=article.id) }}">{{ render_icon('edit') }} Bearbeiten</a></li>
    <li><a href="{{ url_for('.article_view_ordered', id=article.id) }}">{{ render_icon('users') }} Käufer auflisten</a></li>
  </ol>

{%- endblock body %}


{% macro render_attachached_articles(attached_articles) %}
  {%- if attached_articles %}
  <ul class="condensed">
  {%- for attached_article in attached_articles %}
    <li><a href="{{ url_for('.article_view', id=attached_article.article.id) }}">{{ attached_article.article.item_number }}</a> ({{ attached_article.quantity }} Stück)</li>
  {%- endfor %}
  </ul>
  {%- else %}
  {{ render_faint('keine') }}
  {%- endif %}
{%- endmacro %}
