{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/misc.html' import render_faint, render_with_fallback %}
{% from 'macros/shop_admin.html' import render_order_payment_state %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'shop_admin.article_ordered' %}
{% set title = article.description %}

{% block body %}

  <h1>{{ title }}</h1>

  <p style="margin: 2rem 0;">
    <small>
      <span style="float: right;"><strong>Stand:</strong> {{ render_datetime(now, smart=False) }}</span>
      <span><strong>{{ quantity_total }}</strong> Stück insgesamt</span>
    </small>
  </p>

  <table class="index wide">
    <thead>
      <tr>
        <th>Sitzplatz</th>
        <th>Benutzername<br/>Vor- und Nachname</th>
        <th>Anzahl</th>
        <th>Bestellung</th>
      </tr>
    </thead>
    <tbody>
    {%- for user, ticket, quantity, order in users_tickets_quantities_orders|sort(attribute='0.screen_name') %}
      <tr>
        {%- if ticket %}
        <td class="nowrap">{{ ticket.occupied_seat.area.title }}</td>
        {%- else %}
        <td>{{ render_faint('keiner') }}</td>
        {%- endif %}
        <td>
          {{- render_user_admin_link(user) }}<br/>
          {{- render_with_fallback(user.detail.full_name) -}}
        </td>
        <td class="centered">{{ quantity }}</td>
        <td>
          {{- render_datetime(order.created_at, smart=False) }}<br/>
          {{- render_order_payment_state(order.payment_state) -}}
        </td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>

{%- endblock body %}
