{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'shop_admin.orders' %}
{% set title = 'Shop - Bestellungen auflisten' %}

{% block body %}

  <h1>{{ title }}</h1>

  <p style="font-size: 0.8rem; margin: 2.5rem 0 2rem 0; text-align: right;">{{ render_icon('filter') }} Einschränkung:
    {%- for payment_state in PaymentState %}
      {%- if only == 'enabled' %}
    <strong>{{ payment_state.name }}</strong>
      {%- else %}
    <a href="{{ url_for('.order_index_for_party', party_id=party.id, only=payment_state.name) }}">{{ payment_state.name }}</a>
      {%- endif %}
    /
    {%- endfor %}
    {%- if only is none %}
    <strong>alle</strong>
    {%- else %}
    <a href="{{ url_for('.order_index_for_party', party_id=party.id) }}">alle</a>
    {%- endif %}
  </p>

  <table class="index wide">
    <thead>
      <tr>
        <th colspan="2">Besteller</th>
        <th>Zeitpunkt</th>
        <th>Bezahlstatus</th>
        <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
      {%- for order in orders.items %}
      <tr>
        <td>{{ render_user_admin_link(order.placed_by) }}</td>
        <td>{{ order.first_names }} {{ order.last_name }}</td>
        <td>{{ render_datetime(order.created_at) }}</td>
        <td>{{ order.payment_state.name }}</td>
        <td><a href="{{ url_for('.order_view', id=order.id) }}" class="action">{{ render_icon('view') }} ansehen</a></td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(orders, '.order_index_for_party', {'party_id': party.id}) }}

{%- endblock body %}
