{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_date, render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/shop_admin.html' import render_order_payment_state %}
{% from 'macros/user_admin.html' import render_user_admin_link %}
{% set current_page = 'shop_admin.orders' %}
{% set title = 'Bestellung ansehen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.order_index') }}">Bestellungen</a></li>
      <li><a href="{{ url_for('.order_index_for_party', party_id=order.party.id) }}">{{ order.party.title }}</a></li>
      <li>{{ render_icon('view') }} {{ title }}</li>
    </ol>
  </nav>

  <table class="index">
    <tr>
      <th>Bestellnummer</th>
      <td>{{ order.order_number }}</td>
    </tr>
    <tr>
      <th>Zeitpunkt</th>
      <td>{{ render_datetime(order.created_at) }}</td>
    </tr>
    <tr>
      <th>Benutzer</th>
      <td>{{ render_user_admin_link(order.placed_by) }}</td>
    </tr>
    <tr>
      <th>E-Mail-Adresse</th>
      <td>{{ order.placed_by.email_address }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ order.first_names }} {{ order.last_name }}</td>
    </tr>
    <tr>
      <th>Anschrift</th>
      <td>{{ order.street }}, {{ order.zip_code }} {{ order.city }}</td>
    </tr>
    <tr>
      <th>Geburtsdatum</th>
      <td>{{ render_date(order.date_of_birth, smart=False) }}</td>
    </tr>
    <tr>
      <th>Bezahlstatus</th>
      <td>
        {{ render_order_payment_state(order.payment_state) }}
        {%- if order.payment_state == PaymentState.open %}
        <a class="action" style="margin-left: 1em;" href="{{ url_for('.order_update_payment_form', id=order.id) }}">{{ render_icon('edit') }} ändern</a></li>
        {%- elif order.payment_state == PaymentState.canceled or order.payment_state == PaymentState.paid %}
        (gesetzt: {{ render_datetime(order.payment_state_updated_at) }} von {{ render_user_admin_link(order.payment_state_updated_by) }})
        {%- endif %}
      </td>
    </tr>
    {%- if order.payment_state == PaymentState.canceled %}
    <tr>
      <th>Begründung für<br/>Stornierung</th>
      <td>{{ order.cancelation_reason }}</td>
    </tr>
    {%- endif %}
  </table>

  <h2>Artikel</h2>
  <table class="index" style="margin: 0 auto;">
    <thead>
      <tr>
        <th>Anzahl</th>
        <th>Beschreibung</th>
        <th>Stückpreis</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="2">Gesamtbetrag</th>
        <td style="text-align: right;"><strong>{{ order.calculate_total_price().to_string() }}</strong></td>
      </tr>
    </tfoot>
    <tbody>
      {%- for item in order.items %}
      <tr>
        <td style="text-align: right;">{{ item.quantity }}</td>
        <td><strong>{{ item.description }}</strong></td>
        <td style="text-align: right;">{{ item.price.to_string() }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock body %}
