{% extends 'layout/base_admin.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_dimmed %}
{% set current_page = 'shop_admin.orders' %}
{% set title = 'Shop - Bestellungen' %}

{% block head %}
    <style>
      ol.index.fully-linked a {
        display: flex;
      }
      ol.index a div {
        flex: 1;
      }
      ol.index .right {
        text-align: right;
      }
    </style>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Shop</li>
      <li>Bestellungen</li>
    </ol>
  </nav>

  <p>Party wählen:</p>
  <ol class="index fully-linked">
    {%- for party, order_count in parties_with_order_counts|sort(attribute='0.starts_at', reverse=True) %}
    <li>
      <a href="{{ url_for('.order_index_for_party', party_id=party.id, only=PaymentState.open.name) }}">
        <div{% if party.is_archived %} class="dimmed"{% endif %}>
          <strong>{{ party.title }}</strong>
          {%- if party.is_archived %} {{ render_icon('archived', title='archiviert') }}{% endif -%}
          <br>
          {{- render_dimmed('%d %s'|format(order_count, 'Bestellung' if (order_count == 1) else 'Bestellungen')) }}
        </div>
        <div class="right">
          {{ render_dimmed(party.number_prefix) }}
        </div>
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
