{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'terms.index' %}
{% set title = 'Allgemeine Geschäftsbedingungen' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th>Marke</th>
        <th>Erstellt</th>
        <th>durch</th>
      </tr>
    </thead>
    <tbody>
      {%- for version in versions|sort(attribute='created_at', reverse=True) %}
        <tr>
          <td>{{ version.id }}</td>
          <td>{{ version.brand.title }}</td>
          <td style="white-space: nowrap;">{{ render_datetime(version.created_at) }}</td>
          <td>{{ render_user_link(version.creator) }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock body %}
