{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/shop/orders.html' import render_order_payment_state, render_order_payment_method %}
{% set current_page = 'shop_orders' %}
{% set title = 'Bestellung ' ~ order.order_number %}
{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Shop</li>
      <li><a href="{{ url_for('.index') }}">Deine Bestellungen</a></li>
    </ol>
  </nav>
  <h1>{{ order.order_number }}</h1>

  {%- if order.is_open %}
  <div class="button-row button-row--right" style="float: right; margin-left: 1rem;">
    <a class="button" href="{{ url_for('.cancel_form', order_id=order.id) }}">{{ render_icon('remove') }} <span>Bestellung stornieren</span></a>
  </div>
  {%- endif %}

  <table class="index" style="margin-top: 2rem;">
    <tr>
      <th>Zeitpunkt</th>
      <td>{{ render_datetime(order.created_at|utc_to_local_tz) }}</td>
    </tr>
    <tr>
      <th>Bezahlstatus</th>
      <td>{{ render_order_payment_state(order.payment_state) }}</td>
    </tr>
    {%- if order.payment_method %}
    <tr>
      <th>Zahlungsart</th>
      <td>{{ render_order_payment_method(order.payment_method) }}</td>
    </tr>
    {%- endif %}
    {%- if order.is_canceled %}
    <tr>
      <th>Begründung für<br>Stornierung</th>
      <td>{{ order.cancelation_reason|fallback }}</td>
    </tr>
    {%- endif %}
  </table>

  {%- if order.is_open %}
  <h2>Zahlungshinweis</h2>
{{ payment_instructions|safe }}
  {%- endif %}

  <h2>Auftraggeber/in</h2>
  <table class="index">
    <tr>
      <th>Name</th>
      <td>{{ order.first_names }} {{ order.last_name }}</td>
    </tr>
    <tr>
      <th>Anschrift</th>
      <td>{{ order.address.street }}<br>{{ order.address.zip_code }} {{ order.address.city }}<br>{{ order.address.country }}</td>
    </tr>
  </table>

  <h2>Artikel</h2>
  <table class="index wide">
    <thead>
      <tr>
        <th class="number">Anzahl</th>
        <th style="width: 100%;">Beschreibung</th>
        <th class="number">Stückpreis</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="2" style="text-align: right;">Gesamtbetrag</th>
        <td class="number nowrap"><strong>{{ order.total_amount|format_euro_amount }}</strong></td>
      </tr>
    </tfoot>
    <tbody>
      {%- for item in order.items|sort(attribute='article_number') %}
      <tr>
        <td class="number">{{ item.quantity }}</td>
        <td>{{ item.description }}</td>
        <td class="number nowrap">{{ item.unit_price|format_euro_amount }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{%- endblock %}
