{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/user.html' import render_user_screen_name %}
{%- from 'macros/user_avatar.html' import render_user_avatar %}


<div class="current-user">
  {%- if g.user.authenticated %}
  <div class="dropdown">
    <a href="{{ url_for('user_settings.view') }}" class="dropdown-toggle">
      {{ render_user_avatar(g.user, size=32) }}
      {{ render_icon('chevron-down') }}
    </a>
    <ol class="dropdown-menu dropdown-menu--right">
      <li>
        <span class="dropdown-label label-and-name">
          <span class="label">{{ _('Logged in as') }}</span>
          <span class="name">{{ render_user_screen_name(g.user) }}</span>
        </span>
      </li>
      <li class="dropdown-divider"></li>
{% include 'layout/_current_user_menu_items.html' %}
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" data-action="log-out" href="{{ url_for('authentication_login.log_out', _method='POST') }}">{{ render_icon('log-out') }} {{ _('Log out') }}</a></li>
    </ol>
  </div>
  {%- else %}
  <div>
    <a href="{{ url_for('authentication_login.log_in_form') }}" class="button">{{ render_icon('log-in') }} <span>{{ _('Log in') }}</span></a>
  </div>
  {%- endif %}
</div>
