{% extends 'layout/admin/site/navigation.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set page_title = [_('Menu'), menu.name] %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>
        {{- menu.name }} ({{ menu.language_code }})
        {%- if menu.hidden %}
        {{ render_tag(_('hidden'), class='color-disabled', icon='hidden') }}
        {%- endif -%}
      </h1>
    </div>
    {%- if has_current_user_permission('site_navigation.administrate') %}
    <div>
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.menu_update_form', menu_id=menu.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">

    <div class="data-label">{{ _('Language') }}</div>
    <div class="data-value">{{ menu.language_code }}</div>

  </div>

  <div class="row row--space-between">
    <div>
      <h2>{{ _('Items') }}</h2>
    </div>
    {%- if has_current_user_permission('site_navigation.administrate') %}
    <div class="column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button button--compact" href="{{ url_for('.item_create_form', menu_id=menu.id) }}">{{ render_icon('add') }} <span>{{ _('Create menu item') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>


  <div class="box">

    {%- if menu.items %}
    <table class="index index--wide">
      <thead>
        <tr>
          <th>{{ _('Position') }}</th>
          <th>{{ _('Label') }}</th>
          <th>{{ _('Target type') }}</th>
          <th>{{ _('Target') }}</th>
          <th>{{ _('Current page ID') }}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%- for item in menu.items|sort(attribute='position') %}
        <tr>
          <td>{{ item.position }}</td>
          <td>{{ item.label }}</td>
          <td>{{ item.target_type.name }}</td>
          <td>{{ item.target }}</td>
          <td>{{ item.current_page_id }}</td>
          <td>
            {%- if item.hidden -%}
            {{ render_tag(_('hidden'), class='color-disabled', icon='hidden') }}
            {%- endif -%}
          </td>
          <td>
            {%- if has_current_user_permission('site_navigation.administrate') -%}
            <div class="dropdown">
              <button class="dropdown-toggle button button--compact">{{ render_icon('chevron-down') }}</button>
              <ol class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('.item_update_form', item_id=item.id) }}">{{ render_icon('edit') }} {{ _('Edit') }}</a></li>
                <li><a class="dropdown-item" data-action="item-move-up" href="{{ url_for('.item_move_up', item_id=item.id) }}">{{ render_icon('arrow-up') }} {{ _('Move up') }}</a></li>
                <li><a class="dropdown-item" data-action="item-move-down" href="{{ url_for('.item_move_down', item_id=item.id) }}">{{ render_icon('arrow-down') }} {{ _('Move down') }}</a></li>
                <li><a class="dropdown-item" data-action="item-delete" href="{{ url_for('.item_delete', item_id=item.id) }}">{{ render_icon('delete') }} {{ _('Delete') }}</a></li>
              </ol>
            </div>
            {%- endif -%}
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No menus exist.') }}</div>
    {%- endif %}

  </div>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        post_on_click_then_reload('[data-action="item-move-up"]');
        post_on_click_then_reload('[data-action="item-move-down"]');
        confirmed_delete_on_click_then_reload('[data-action="item-delete"]', '{{ _('Delete menu item?') }}');
      });
    </script>
{%- endblock %}
