{% extends 'layout/admin/seating.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_progress_bar %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% set current_page_party = party %}
{% set current_tab = 'areas' %}
{% set page_title = [_('Areas'), party.title] %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>{{ _('Areas') }} {{ render_extra_in_heading(areas_with_utilization.total) }}</h1>
    </div>
    {%- if has_current_user_permission('seating.administrate') %}
    <div>
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.area_create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>{{ _('Create area') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">
    {%- if areas_with_utilization.items %}
    <table class="index index--v-centered index--wide">
      <thead>
        <tr>
          <th>{{ _('Title') }}<br>{{ _('Slug') }}</th>
          <th>{{ _('Background image') }}<br>{{ _('Dimensions') }}</th>
          <th class="number">{{ _('Seats') }}<br>{{ _('occupied') }}</th>
          <th class="number">{{ _('Seats') }}<br>{{ _('available') }}</th>
          <th>{{ _('Utilization') }}</th>
        </tr>
      </thead>
      <tbody>
        {%- for area, utilization in areas_with_utilization.items %}
        <tr>
          <td>
            <strong>{{ area.title }}</strong><br>
            {{ area.slug|dim }}
          </td>
          <td>
            {%- if area.image_filename %}
            {{ area.image_filename }}<br>
            {% filter dim %}{{ area.image_width }} &times; {{ area.image_height }} {{ _('pixels') }}{% endfilter %}
            {%- else %}
            {{ _('not specified')|dim }}
            {%- endif %}
          </td>
          <td class="bignumber number">{{ utilization.occupied|numberformat }}</td>
          <td class="bignumber number">{{ utilization.total|numberformat }}</td>
          <td>
            <div class="progress">
              {{ render_progress_bar(utilization.occupied, utilization.total) }}
            </div>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td><strong>{{ _('Total') }}</strong></td>
          <td></td>
          <td class="bignumber number">{{ total_seat_utilization.occupied|numberformat }}</td>
          <td class="bignumber number">{{ total_seat_utilization.total|numberformat }}</td>
          <td>
            <div class="progress">
              {{ render_progress_bar(total_seat_utilization.occupied, total_seat_utilization.total) }}
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No areas exist.') }}</div>
    {%- endif %}
  </div>

{{ render_pagination_nav(areas_with_utilization, '.area_index', {
  'party_id': party.id,
  'per_page': per_page,
}) }}

{%- endblock %}
