{% extends 'layout/admin/seating.html' %}
{% set current_page_party = party %}
{% set current_tab = 'overview' %}
{% set page_title = [_('Seating Plans'), party.title] %}
{% set layout_main_raw = True %}

{% block body %}

  <h1>{{ _('Seating Plans') }}</h1>

  <div class="box">
    <table class="index">
      <tr>
        <td class="bignumber number">{{ category_count }}</td>
        <td style="vertical-align: middle;"><a href="{{ url_for('ticketing_category_admin.index', party_id=party.id) }}">{{ ngettext('ticket category', 'ticket categories', category_count) }}</a></td>
      </tr>
      <tr>
        <td class="bignumber number">{{ area_count }}</td>
        <td style="vertical-align: middle;"><a href="{{ url_for('.area_index', party_id=party.id) }}">{{ ngettext('area', 'areas', area_count) }}</a></td>
      </tr>
      <tr>
        <td class="bignumber number">{{ seat_count }}</td>
      <td style="vertical-align: middle;">{{ ngettext('seat', 'seats', seat_count) }}</td>
      </tr>
      <tr>
        <td class="bignumber number">{{ group_count }}</td>
        <td style="vertical-align: middle;"><a href="{{ url_for('.seat_group_index', party_id=party.id) }}">{{ ngettext('seat group', 'seat groups', group_count) }}</a></td>
      </tr>
    </table>
  </div>

{%- endblock %}
