{% extends 'layouts/admin/seating.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% set current_page_party = party %}
{% set current_tab = 'seat_categories' %}
{% set title = '%s - Ticket-Kategorien'|format(party.title) %}

{% block body %}

  <h1>Ticket-Kategorien {{ render_extra_in_heading(categories_with_ticket_counts|length) }}</h1>

  {%- if categories_with_ticket_counts %}
  <table class="index wide">
    <thead>
      <tr>
        <th>Titel<br>ID</th>
        <th class="number">Tickets<sup>*</sup></th>
      </tr>
    </thead>
    <tbody>
      {%- for category, ticket_count in categories_with_ticket_counts|sort(attribute='0.title') %}
        <tr>
          <td><strong>{{ category.title }}</strong><br><span class="dimmed">{{ category.id }}</span></td>
          <td class="bignumber number">{{ ticket_count }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
  <small>
    <p style="margin-top: 1.5rem;"><sup>*)</sup> erstellte, nicht widerrufene Tickets</p>
  </small>
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Ticket-Kategorien für diese Party definiert.</div>
  {%- endif %}

{%- endblock %}
