{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/user.html' import render_user_avatar_16_and_link %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'terms_admin' %}
{% set current_page_brand = brand %}
{% set title = 'Allgemeine Geschäftsbedingungen' %}

{% block body %}

  <h1>{{ title }}</h1>

  {%- if not current_version_id %}
  <div class="notification color-danger"><strong>Achtung:</strong> Es ist keine aktuelle AGB-Version für diese Marke festgelegt.</div>
  {%- endif %}

  {%- if versions %}
  <table class="index wide">
    <thead>
      <tr>
        <th>Titel<br>ID</th>
        <th>Erstellt</th>
        <th class="number">Zustimmungen</th>
      </tr>
    </thead>
    <tbody>
      {%- for version in versions %}
        <tr>
          <td>
            <strong><a href="{{ url_for('.view', version_id=version.id) }}">{{ version.title }}</a></strong>
            {%- if version.id == current_version_id %}
            {{ render_tag('aktuelle Version') }}
            {%- endif %}
            <br>
            {{ version.id|dim }}
          </td>
          <td>
            <span class="nowrap">{{ render_datetime(version.created_at|utc_to_local_tz) }}</span><br>
            von {{ render_user_avatar_16_and_link(version.creator) }}
          </td>
          <td class="number bignumber">{{ version.consent_count }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
  {%- else %}
  <p>Es sind keine AGB-Versionen hinterlegt.</p>
  {%- endif %}

{%- endblock %}
