{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'terms_admin' %}
{% set title = 'AGB-Version ansehen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.view_document', document_id=version.document_id) }}">Versionen</a></li>
    </ol>
  </nav>
  <h1>{{ version.title }}</h1>

  <div class="button-row">
    <a class="button" href="{{ url_for('.view_version_body_html', version_id=version.id) }}">{{ render_icon('download') }} <span>HTML</span></a>
  </div>

{{ version.body|safe }}

{%- endblock %}
