{%- from 'macros/icons.html' import render_icon %}


{% macro render_notification(category, icon, text, text_is_safe=False) -%}
  <div class="notification color-{{ category }} block-with-icon">
    <div class="block-with-icon-icon">
      {{ render_icon(icon) }}
    </div>
    <div class="block-with-icon-body">
{{ text|safe if text_is_safe else text }}
    </div>
  </div>
{%- endmacro %}


{% macro render_tag(label, class=None, icon=None, title=None) -%}
  <span class="tag{% if class is not none %} {{ class }}{% endif %}"
    {%- if title %} title="{{ title }}"{% endif -%}
  >
  {%- if icon %}{{ render_icon(icon) }} {% endif %}{{ label -}}
  </span>
{%- endmacro %}
