{%- from 'macros/homepage.html' import render_continuative_link %}

<h2>{{ _('News') }}</h2>

{%- if news_teasers %}
<div class="block homepage-items">
  {%- for teaser in news_teasers %}
  <div>
    <a class="card homepage-item-link" href="{{ url_for('news.view', slug=teaser.slug) }}">
      {%- if teaser.featured_image %}
        {%- with featured_image = teaser.featured_image %}
      <div class="card-image">
        <img src="{{ featured_image.url_path }}"{% if featured_image.alt_text %} alt="{{ featured_image.alt_text }}"{% endif %} loading="lazy">
      </div>
        {%- endwith %}
      {%- endif %}
      <div class="card-content">
        <div class="homepage-item-title">{{ teaser.title }}</div>
        <div class="homepage-item-meta">{{ teaser.published_at|dateformat('full') }}</div>
      </div>
    </a>
  </div>
  {%- endfor %}
</div>
{%- else %}
<div class="block dimmed">{{ _('No news yet.') }}</div>
{%- endif %}

{{ render_continuative_link(url_for('news.index'), _('All news')) }}
