{%- from 'macros/homepage.html' import render_continuative_link %}

<h2>{{ _('News') }}</h2>

{%- if news_teasers %}
<ol class="items">
  {%- for teaser in news_teasers %}
  <li>
    <div class="main-body-box{% if teaser.featured_image %} main-body-box--no-padding-top{% endif %}">
      <a class="item-link" href="{{ url_for('news.view', slug=teaser.slug) }}">
        {%- if teaser.featured_image %}
          {%- with featured_image = teaser.featured_image %}
        <div class="featured-image mb">
          <img class="item-image" src="{{ featured_image.url_path }}"{% if featured_image.alt_text %} alt="{{ featured_image.alt_text }}"{% endif %}>
        </div>
          {%- endwith %}
        {%- endif %}
        <div class="item-title">{{ teaser.title }}</div>
        <div class="item-meta">{{ teaser.published_at|dateformat('full') }}</div>
      </a>
    </div>
  </li>
  {%- endfor %}
</ol>
{%- else %}
<p class="dimmed">{{ _('No news yet.') }}</p>
{%- endif %}

{{ render_continuative_link(url_for('news.index'), _('All news')) }}
