{% extends 'layout/base.html' %}
{% set page_title = _('Home') %}

{% block head %}
<style>
.homepage-block h2 {
  border-bottom: var(--border-color) solid 1px;
  margin-bottom: 1.25rem;
  padding-bottom: 0.75rem;
}

.items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.homepage-block--news .items {
  display: grid;
  gap: 1rem 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.items li + li {
  margin-top: 0.75rem;
}

.homepage-block--news .items li + li {
  margin-top: 0;
}

.item-image {
  display: block;
  margin-bottom: 0.75rem;
}

.item-meta {
  color: var(--dimmed-color);
  font-size: 0.6875rem; /* 11px / 16px */
  margin-top: 0.5rem;
}

.continuative-link {
  border-top: var(--border-color) solid 1px;
  font-size: 0.8125rem; /* 13px / 16px */
  margin-top: 1.25rem;
  padding-top: 0.75rem;
  text-align: right;
}
</style>
{%- endblock %}

{% block body %}

{{ render_snippet('homepage', ignore_if_unknown=True)|safe }}

  <div class="homepage-block homepage-block--news">
{% include 'site/homepage/_news.html' %}
  </div>

  <div class="homepage-block homepage-block--board">
{% include 'site/homepage/_board.html' %}
  </div>

{%- endblock %}
