{% extends 'layout/admin/shop/catalog.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/product.html' import render_product_link, render_product_temporal_availability %}
{% from 'macros/icons.html' import render_icon %}
{% set page_title = [_('Catalog'), catalog.id] %}

{% block body %}

  <div class="row row--space-between block">
    <div>
      <h1 class="title">{{ catalog.title }}</h1>
    </div>
    {%- if has_current_user_permission('shop_product.administrate') %}
    <div>
      <div class="button-row is-right-aligned">
        <a class="button" href="{{ url_for('.catalog_update_form', catalog_id=catalog.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">

    <div class="data-label">{{ _('ID') }}</div>
    <div class="data-value">{{ catalog.id }}</div>

  </div>

  <div class="block row row--space-between is-vcentered">
    <div>
      <h2>{{ _('Collections') }} {{ render_extra_in_heading(collections_and_products|length) }}</h2>
    </div>
    {%- if has_current_user_permission('shop_product.administrate') %}
    <div>
      <div class="button-row is-compact is-right-aligned">
        <a class="button is-compact" href="{{ url_for('.collection_create_form', catalog_id=catalog.id) }}">{{ render_icon('add') }} <span>{{ _('Create') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- for collection, products in collections_and_products %}

  <div class="row row--space-between is-vcentered">
    <div>
      <h3>{{ collection.title }} {{ render_extra_in_heading(products|length, label=ngettext('product', 'products', products|length)) }}</h3>
    </div>
    {%- if has_current_user_permission('shop_product.administrate') %}
    <div>
      <div class="button-row is-compact is-right-aligned">
        <a class="button is-compact" href="{{ url_for('.collection_update_form', collection_id=collection.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
        <a class="button is-compact" href="{{ url_for('.product_add_form', collection_id=collection.id) }}">{{ render_icon('add') }} <span>{{ _('Add product') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

    {%- if products %}
  <table class="itemlist is-vcentered is-wide">
    <thead>
      <th>{{ _('Item number') }}</th>
      <th>{{ pgettext('product', 'Name') }}</th>
      <th>{{ _('Period') }}</th>
    </thead>
    <tbody>
      {%- for product in products %}
      <tr>
        <td><strong>{{ render_product_link(product) }}</strong></td>
        <td>{{ product.name }}</td>
        <td>{{ render_product_temporal_availability(product) }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
    {%- else %}
  <div class="box">
    <div class="centered dimmed">{{ _('No products assigned.') }}</div>
  </div>
    {%- endif %}

  {%- endfor %}

{%- endblock %}
