{% extends 'layout/admin/shop/catalog.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/product.html' import render_product_link, render_product_temporal_availability %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set page_title = [_('Catalog'), catalog.id] %}

{% block body %}

  <div class="row row--space-between block">
    <div>
      <h1 class="title">{{ catalog.title }}</h1>
    </div>
    {%- if has_current_user_permission('shop_product.administrate') %}
    <div>
      <div class="button-row is-right-aligned">
        <a class="button" href="{{ url_for('.catalog_update_form', catalog_id=catalog.id) }}">{{ render_icon('edit') }} <span>{{ _('Edit') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  <div class="box">

    <div class="data-label">{{ _('ID') }}</div>
    <div class="data-value">{{ catalog.id }}</div>

  </div>

  <div class="block row row--space-between is-vcentered">
    <div>
      <h2>{{ _('Collections') }} {{ render_extra_in_heading(collections_and_products|length) }}</h2>
    </div>
    {%- if has_current_user_permission('shop_product.administrate') %}
    <div>
      <div class="button-row is-compact is-right-aligned">
        <a class="button is-compact" href="{{ url_for('.collection_create_form', catalog_id=catalog.id) }}">{{ render_icon('add') }} <span>{{ _('Create') }}</span></a>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- for collection, products in collections_and_products %}

  <div class="row row--space-between is-vcentered">
    <div>
      <h3>{{ collection.title }} {{ render_extra_in_heading(products|length, label=ngettext('product', 'products', products|length)) }}</h3>
    </div>
    {%- if has_current_user_permission('shop_product.administrate') %}
    <div>
      <div class="button-row is-compact is-right-aligned">
        <div class="dropdown">
          <button class="dropdown-toggle button is-compact"><span>{{ _('Actions') }}</span> {{ render_icon('chevron-down') }}</button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.collection_update_form', collection_id=collection.id) }}">{{ render_icon('edit') }} {{ _('Edit collection') }}</a></li>
            <li class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('.product_add_form', collection_id=collection.id) }}">{{ render_icon('add') }} {{ _('Add product') }}</a></li>
          </ol>
        </div>
      </div>
    </div>
    {%- endif %}
  </div>

    {%- if products %}
  <table class="itemlist is-vcentered is-wide">
    <thead>
      <th>{{ _('Item number') }}</th>
      <th>{{ pgettext('product', 'Name') }}</th>
      <th>{{ _('Period') }}</th>
      <th></th>
    </thead>
    <tbody>
      {%- for product in products %}
      <tr>
        <td><strong>{{ render_product_link(product) }}</strong></td>
        <td>
          {{ product.name }}

          {%- if product.not_directly_orderable or product.separate_order_required %}
          <br>
          {%- endif %}

          {%- if product.not_directly_orderable %}
          {{ render_tag(_('can only be ordered indirectly'), icon='warning', class='color-danger') }}
          {%- endif %}

          {%- if product.separate_order_required %}
          {{ render_tag(_('must be ordered separately'), icon='warning', class='color-danger') }}
          {%- endif %}
        </td>
        <td>{{ render_product_temporal_availability(product) }}</td>
        <td class="number"><a href="{{ url_for('.product_remove', product_id=product.id, collection_id=collection.id) }}" class="button is-compact" title="{{ _('Remove product') }}" data-action="product-remove">{{ render_icon('remove') }}</a></td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
    {%- else %}
  <div class="box">
    <div class="centered dimmed">{{ _('No products assigned.') }}</div>
  </div>
    {%- endif %}

  {%- endfor %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_delete_on_click_then_reload('[data-action="product-remove"]', '{{ _('Remove product?') }}');
      });
    </script>
{%- endblock %}
