{% extends 'layout/admin/shop/catalog.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/shop/product.html' import render_product_link, render_product_temporal_availability %}
{% set page_title = [_('Catalog'), catalog.id] %}

{% block body %}

  <h1 class="title">{{ catalog.title }}</h1>

  <div class="box">

    <div class="data-label">{{ _('ID') }}</div>
    <div class="data-value">{{ catalog.id }}</div>

  </div>

  <h2>{{ _('Collections') }} {{ render_extra_in_heading(collections|length) }}</h2>

  {%- for collection in collections %}
  <h3>{{ collection.title }} {{ render_extra_in_heading(collection.items|length, label=ngettext('product', 'products', collection.items|length)) }}</h3>

    {%- if collection.items %}
  <table class="itemlist is-vcentered is-wide">
    <thead>
      <th>{{ _('Item number') }}</th>
      <th>{{ pgettext('product', 'Name') }}</th>
      <th>{{ _('Period') }}</th>
    </thead>
    <tbody>
      {%- for item in collection.items %}
        {%- with product = item.product %}
      <tr>
        <td><strong>{{ render_product_link(product) }}</strong></td>
        <td>{{ product.name }}</td>
        <td>{{ render_product_temporal_availability(product) }}</td>
      </tr>
        {%- endwith %}
      {%- endfor %}
    </tbody>
  </table>
    {%- else %}
  <div class="box">
    <div class="centered dimmed">{{ _('No products assigned.') }}</div>
  </div>
    {%- endif %}
  {%- endfor %}

{%- endblock %}
