{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'timetable_admin' %}
{% set current_page_party = party %}
{% set page_title = _('Timetable') %}

{% block head %}
<style>
.timetable tbody:not(:first-of-type) tr:first-child :is(th, td) {
  border-top: var(--table-border-color) solid 1px;
}

.timetable .day-header {
  background-color: var(--table-background-color-head);
}
</style>
{%- endblock %}

{% block body %}

<div class="row row--space-between block">
  <div>
    <h1 class="title">{{ page_title }}</h1>
  </div>
{%- if has_current_user_permission('timetable.update') %}
  <div>
    <div class="button-row is-right-aligned">
      <a class="button" href="{{ url_for('.item_create_form', timetable_id=timetable.id) }}">{{ render_icon('add') }} <span>{{ _('Create item') }}</span></a>
    </div>
  </div>
{%- endif %}
</div>

<table class="itemlist is-wide timetable">
  <thead>
    <tr>
      <th>{{ _('When?') }}</th>
      <th>{{ _('What?') }}</th>
      <th width="25%">{{ _('Where?') }}</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  {%- for day, items in items_grouped_by_day.items() %}
  <tbody>
    <tr>
      <td class="day-header" colspan="6">{{ day|dateformat('full', rebase=False) }}</td>
    </tr>
    {%- for item in items|sort(attribute='scheduled_at') %}
      <tr{% if item.hidden %} class="dimmed"{% endif %}>
      <td class="nowrap">{{ item.scheduled_at|timeformat('short', rebase=False) }}</td>
      <td>{{ item.description|safe }}</td>
      <td>
        {%- if item.location %}
        {{ item.location }}
        {%- endif %}
      </td>
      <td>
        {%- if item.link_target %}
        <a href="{{ item.link_target }}">{% if item.link_label %}{{ item.link_label }}{% else %}Link{% endif %}</a>
        {%- endif %}
      </td>
      <td>
        {%- if item.hidden %}
        {{ render_tag('hidden', class='color-disabled', icon='hidden') }}
        {%- endif %}
      </td>
      <td>
        {%- if has_current_user_permission('timetable.update') %}
        <div class="button-row is-compact is-right-aligned">
          <a href="{{ url_for('.item_update_form', item_id=item.id) }}" class="button is-compact" title="{{ _('Edit') }}">{{ render_icon('edit') }}</a>
          <a href="{{ url_for('.item_delete', item_id=item.id) }}" data-action="delete-item" class="button is-compact color-danger" title="{{ _('Delete') }}">{{ render_icon('delete') }}</a>
        </div>
        {%- endif %}
      </td>
    </tr>
    {%- endfor %}
  </tbody>
  {%- endfor %}
</table>

{%- endblock %}

{% block scripts %}
<script>
onDomReady(() => {
  confirmed_delete_on_click_then_reload('[data-action="delete-item"]', '{{ _('Really delete it?') }}');
});
</script>
{% endblock %}
