{% macro render_user_link(user) -%}
  {%- if user.deleted -%}
{{ user.screen_name|dim }}
  {%- else -%}
<a href="{{ url_for('user.view', id=user.id) }}">{{ user.screen_name }}</a>
  {%- endif -%}
{%- endmacro %}

{% macro render_user_avatar(user) %}
  {%- if user.has_avatar_image %}
<div class="avatar{% if user.is_orga_for_party(g.party) %} orga{% endif %}">
  <img src="{{ url_for('user.avatar_image', filename=user.avatar_image_filename) }}" alt="Avatarbild von {{ user.screen_name }}"/>
  {%- if user.is_orga_for_party(g.party) %}
  <div class="orga-badge">Organizer</div>
  {%- endif %}
</div>
  {%- endif -%}
{%- endmacro %}
