{% macro render_user_badge(badge, size) -%}
<div class="user-badge size-{{ size }}" title="{{ badge.label }}"><img src="{{ badge.image_url }}"></div>
{%- endmacro %}


{% macro render_user_badge_linked(badge, size) -%}
<a href="{{ url_for('user_badge.view', badge_id=badge.id) }}" class="user-badge size-{{ size }}" title="{{ badge.label }}"><img src="{{ badge.image_url }}"></a>
{%- endmacro %}


{% macro render_user_badges(badges, size=64) -%}
<ul class="list-grid">
  {%- for badge in badges|sort(attribute='label') %}
  <li>{{ render_user_badge_linked(badge, size) }}</li>
  {%- endfor %}
</ul>
{%- endmacro %}


{% macro render_user_badges_list(badges_with_awarding_quantity) %}
<table class="user-badges-list">
  {%- for badge, quantity in badges_with_awarding_quantity.items()|sort(attribute='0.label') %}
  <tr>
    <td>{{ render_user_badge_linked(badge, 32) }}</td>
    <td>{{ badge.label }}</td>
  </tr>
  {%- if quantity > 1 %}
  <tr>
    <td class="centered dimmed" style="padding-top: 0;">{{ quantity }}&times;</td>
    <td></td>
  </tr>
  {%- endif %}
  {%- endfor %}
</table>
{%- endmacro %}
