{% extends 'layout/base.html' %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/subnav.html' import render_subnav_for_menu_id %}
{% set current_page = 'galleries' %}
{% set page_title = [gallery.title, _('Galleries')] %}

{% block subnav %}
  {%- if subnav_menu_id|default %}
{{ render_subnav_for_menu_id(subnav_menu_id, current_page) }}
  {%- endif %}
{% endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.index') }}">{{ _('Galleries') }}</a></li>
    </ol>
  </nav>

  <h1>{{ gallery.title }}{% if gallery.hidden %} {{ render_tag(_('hidden')) }}{% endif %}</h1>

  <div class="main-body-box">
    {%- if gallery.images %}
    <ol class="gallery-images">
      {%- for image in gallery.images|sort(attribute='position') %}
      <li><a data-fslightbox="gallery-images" href="{{ image.url_path_full }}"><img src="{{ image.url_path_preview }}" class="framed" loading="lazy"></a></li>
      {%- endfor %}
    </ol>
    {%- else %}
    <p class="dimmed">{{ _('No images available.') }}</p>
    {%- endif %}
  </div>

{%- endblock %}

{%- block scripts %}
  <script src="{{ url_for('static', filename='behavior/vendor/fslightbox.js') }}"></script>
{%- endblock %}
