{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field_check, form_field %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'authentication_login' %}
{% set page_title = _('Log in') %}

{% block head %}
  <style>
    #login-failed-notice {
      max-height: 4rem;
      margin-top: 1rem;
      overflow-y: hidden;
      transition: max-height 1s ease-out;
    }

    #login-failed-notice.hidden {
      max-height: 0;
      transition: max-height 0s;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.log_in') }}" method="post" id="login-form">
    <div class="box">
      {{ form_field(form.username, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.password, maxlength=40) }}
      {{ form_field_check(form.permanent, _('permanently stay logged in')) }}

      <div id="login-failed-notice" class="hidden">
{{ render_notification(_('Login failed.'), category='danger', icon='warning') }}
      </div>
    </div>

    {{ form_buttons(_('Log in')) }}
  </form>

  <div style="margin-top: 3rem;">
    <p>{{ _('Forgot password?') }} <a href="{{ url_for('authentication_password.request_reset_form') }}">{{ _('Set new password') }}</a></p>
  </div>

{%- endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='behavior/login.js') }}"></script>
{%- endblock %}
