{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field_check, form_field, form_form_errors %}
{% set current_page = 'authentication_login' %}
{% set page_title = _('Log in') %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.log_in') }}" method="post">
    <div class="box">
      {{ form_form_errors(form) }}

      {{ form_field(form.username, maxlength=40, autofocus='autofocus') }}
      {{ form_field(form.password, maxlength=40) }}
      {{ form_field_check(form.permanent, _('permanently stay logged in')) }}
    </div>

    {{ form_buttons(_('Log in')) }}
  </form>

  <div style="margin-top: 3rem;">
    <p>{{ _('Forgot password?') }} <a href="{{ url_for('authentication_password.request_reset_form') }}">{{ _('Set new password') }}</a></p>
  </div>

{%- endblock %}
