{% from 'macros/admin.html' import render_main_tabs as _render_main_tabs %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/misc.html' import render_tag %}


{% macro render_main_tabs(current_page, party) -%}
  {{
    _render_main_tabs(
      Navigation(None)
        .add_item(url_for('shop_admin.article_index_for_party', party_id=party.id), 'Artikel', id='shop_admin.articles', required_permission=ShopArticlePermission.list, icon='shopping-cart')
        .add_item(url_for('shop_admin.order_index_for_party', party_id=party.id), 'Bestellungen', id='shop_admin.orders', required_permission=ShopOrderPermission.list, icon='payment')
      , current_page
    )
  }}
{%- endmacro %}


{% macro render_article_link(article) -%}
  <a href="{{ url_for('shop_admin.article_view', id=article.id) }}" title="{{ article.description }}">{{ article.item_number }}</a>
{%- endmacro %}


{% macro render_article_temporal_availability(article) -%}
  {%- set range = article.availability_range %}
  {%- if range.hasLowerBound() and range.hasUpperBound() -%}
    {{ render_datetime(article.available_from, smart=False) }} –<br/>
    {{- render_datetime(article.available_until, smart=False) }}
  {%- elif range.hasLowerBound() and not range.hasUpperBound() -%}
    ab {{ render_datetime(range.lowerEndpoint(), smart=False) }}
  {%- elif not range.hasLowerBound() and range.hasUpperBound() -%}
    bis {{ render_datetime(range.upperEndpoint(), smart=False) }}
  {%- else -%}
    {{ 'unbegrenzt'|dim }}
  {%- endif -%}
{%- endmacro %}


{% macro render_order_link(order) -%}
  <a href="{{ url_for('shop_admin.order_view', id=order.id) }}">{{ order.order_number }}</a>
{%- endmacro %}


{% macro render_order_payment_state(payment_state) %}
  {%- set state_name = payment_state.name %}
  {%- if state_name == 'paid' -%}
    {{ render_tag('bezahlt', class='order-paid') }}
  {%- elif state_name == 'canceled' -%}
    {{ render_tag('storniert', class='order-canceled') }}
  {%- else -%}
    {{ render_tag('offen', class='order-open') }}
  {%- endif -%}
{% endmacro %}
