{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/seating.html' import render_seating_area_link %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'ticket' %}
{% set title = 'Tickets' %}

{% block head %}
    <style>
      span[title] {
        border-bottom: dotted 1px;
        cursor: help;
      }
    </style>
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('ticket') }} {{ title }}</h1>

  <h2>{{ render_icon('user') }} Von dir genutzt</h2>
  {%- if ticket_mine %}
  {{ render_tickets_table([ticket_mine]) }}
  {%- else %}
  <p><em>keines</em></p>
  {%- endif %}

  <h2>{{ render_icon('administrate') }} Von dir verwaltet</h2>
  {%- if tickets_managed %}
  {{ render_tickets_table(tickets_managed) }}
  {%- else %}
  <p><em>keine</em></p>
  {%- endif %}

  <h2>{{ render_icon('shopping-cart') }} Von dir gekauft</h2>
  {%- if tickets_bought %}
  {{ render_tickets_table(tickets_bought) }}
  {%- else %}
  <p><em>keine</em></p>
  {%- endif %}

{%- endblock %}

{% macro render_tickets_table(tickets) -%}
  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th>Besitzer</th>
        <th>Kategorie</th>
        <th>Sitzplatz</th>
        <th>Nutzer</th>
      </tr>
    </thead>
    <tbody>
      {%- for ticket in tickets|sort(attribute='created_at') %}
      <tr>
        <td><span title="{{ ticket.id }}">{{ ticket.id|string|truncate(6, killwords=True, end='…') }}</span></td>
        <td>{{ render_user_link(ticket.owned_by) }}</td>
        <td>{{ ticket.category.title }}</td>
        <td>
          {%- if ticket.occupied_seat -%}
          {{ render_seating_area_link(ticket.occupied_seat.area) }}
          {%- else -%}
          {{ render_tag('keiner', class='available') }}
          {%- endif -%}
          <br>
          {{ 'verwaltet durch'|dim }} {{ render_user_link(ticket.get_seat_manager()) }}
        </td>
        <td>
          {%- if ticket.used_by -%}
          {{ render_user_link(ticket.used_by) }}
          {%- else -%}
          {{ render_tag('frei', class='available') }}
          {%- endif -%}
          <br>
          {{ 'verwaltet durch'|dim }} {{ render_user_link(ticket.get_user_manager()) }}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
{%- endmacro %}
