{%- from 'macros/user_badge.html' import render_user_badge_linked %}


{%- if badges_with_awarding_quantity %}
<div>
  <h2 class="title">{{ _('Badges') }}</h2>

  <table class="itemlist is-compact is-vcentered is-wide">
    <tbody>
      {%- for badge, quantity in badges_with_awarding_quantity|items|sort(attribute='0.label') %}
      <tr>
        <td>{{ render_user_badge_linked(badge, 32) }}</td>
        <td>{{ badge.label }}</td>
        <td class="centered dimmed">{% if quantity > 1 %}&times;{{ quantity }}{% endif %}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

</div>
{%- endif %}
