{%- from 'macros/misc.html' import render_tag %}
{%- from 'macros/seating.html' import render_seat_link %}


<div class="user-profile-detail-block">
  {%- if current_party_tickets %}
  <h2>{{ ngettext('Seat', 'Seats', current_party_tickets|length) }}</h2>

  <ol class="bare">
    {%- for ticket in current_party_tickets %}
    <li>{{ render_seat_link(ticket.occupied_seat) if ticket.occupied_seat else _('not chosen')|dim }}{% if ticket.user_checked_in %} {{ render_tag(_('checked in')) }}{% endif %}</li>
    {%- endfor %}
  </ol>
  {%- endif %}
</div>
