{% extends 'layout/base.html' %}
{% from 'macros/user.html' import render_user_screen_name %}
{% from 'macros/user_avatar.html' import render_user_avatar_128 %}
{% set current_page = 'user_profile.view' %}
{% set page_title = '%s - Benutzer'|format(user.screen_name) %}

{% block head %}
  <style>
    main {
      padding: 0;
    }
  </style>
{%- endblock %}

{% block body %}

  <div class="user-profile">

    <div class="user-profile-background"></div>

    <div class="user-profile-header">

      <div class="user-profile-header-column">
{{ render_user_avatar_128(user) }}
      </div>

      <div class="user-profile-header-column screenname-and-orgateam">
        <div class="user-profile-header-cell-top screenname">
          {{ render_user_screen_name(user) }}
        </div>
        <div class="user-profile-header-cell-bottom orgateam">
          {%- if orga_team %}
          {{ orga_team.title }}
          {%- endif %}
        </div>
      </div>

      <div class="user-profile-header-column">
        <div class="user-profile-header-cell-top stats">
          {{ attended_parties|length }}
        </div>
        <div class="user-profile-header-cell-bottom stats-label">
          {{ 'Party' if (attended_parties|length == 1) else 'Partys' }}
        </div>
      </div>

      <div class="user-profile-header-column">
        <div class="user-profile-header-cell-top stats">
          {{ badges_with_awarding_quantity|length }}
        </div>
        <div class="user-profile-header-cell-bottom stats-label">
          Abzeichen
        </div>
      </div>

    </div>

    <div class="user-profile-layout">
      <div class="user-profile-secondary">
        <div class="user-profile-details">
{%- include 'site/user_profile/_current_party_attendance.html' %}
{%- include 'site/user_profile/_contact.html' %}
        </div>
        <div class="user-profile-details">
{%- include 'site/user_profile/_attended_parties.html' %}
{%- include 'site/user_profile/_badges.html' %}
        </div>
      </div>
    </div>

  </div>

{%- endblock %}
