{% from 'macros/misc.html' import render_tag %}


{% macro render_order_payment_state(payment_state) %}
  {%- set state_name = payment_state.name %}
  {%- if state_name == 'paid' -%}
    {{ render_tag(_('paid'), icon='success', class='order-payment-state--paid') }}
  {%- elif state_name in ['canceled_before_paid', 'canceled_after_paid'] -%}
    {{ render_tag(pgettext('order', 'canceled'), icon='disabled', class='order-payment-state--canceled') }}
  {%- else -%}
    {{ render_tag(pgettext('order', 'open'), icon='pending', class='order-payment-state--open') }}
  {%- endif -%}
{%- endmacro %}


{% macro render_order_overdue_tag(order) %}
  {%- if order.is_overdue %}
    {{- render_tag(_('overdue'), icon='warning', class='color-danger') }}
  {%- endif -%}
{%- endmacro %}
