{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'webhook_admin' %}
{% set title = _('Webhooks') %}
{% set layout_main_raw = True %}

{% block head %}
  <style>
    .two-column {
      display: grid;
      gap: 0.5rem 2rem;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ title }} {{ render_extra_in_heading(webhooks|length) }}</h1>
    </div>
  {%- if has_current_user_permission(WebhookPermission.administrate) %}
    <div class="column-auto">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.create_form') }}">{{ render_icon('add') }} <span>{{ _('Create webhook') }}</span></a>
      </div>
    </div>
  {%- endif %}
  </div>

  {%- if webhooks %}
    {%- for webhook in webhooks %}
  <div class="box" style="border-left: {{ '#55cc00' if webhook.enabled else '#aaaaaa' }} solid 0.25rem;">

    <div class="two-column" style="margin-bottom: 1rem;">

      <div>
        {{ render_tag(_('enabled'), class='color-success') if webhook.enabled else render_tag(_('disabled'), class='color-disabled') }}
        {{ webhook.description|fallback }}
      </div>

      <div class="button-row button-row--compact button-row--right">
        <a class="button" data-action="test-webhook" href="{{ url_for('.test', webhook_id=webhook.id) }}">{{ render_icon('webhook') }} <span>{{ _('Test') }}</span></a>
      </div>

    </div>{# .two-column #}

    <div class="two-column">

      <div style="overflow-x: auto;">
        <table class="index">
          <tr>
            <th>{{ _('URL') }}</th>
            <td>{{ webhook.url }}</td>
          </tr>
          <tr>
            <th>{{ _('Format') }}</th>
            <td>{{ webhook.format }}</td>
          </tr>
          <tr>
            <th>{{ _('Additional fields') }}</th>
            <td>{{ webhook.extra_fields|fallback }}</td>
          </tr>
          <tr>
            <th>{{ _('Text prefix') }}</th>
            <td>{{ webhook.text_prefix|fallback }}</td>
          </tr>
        </table>
      </div>

      <div style="font-size: 0.75rem;">
        <strong>{{ _('Selectors') }}</strong>
        <details>
          <summary>{{ webhook.event_selectors|length }} {{ _('event(s)') }}</summary>
          <ul style="padding-left: 0.75rem;">
            {%- for event_name, event_filters in webhook.event_selectors|dictsort %}
            <li>
              {{ event_name }}
              {%- if event_filters %}
              <ul style="padding-left: 1rem;">
                {%- for key, value in event_filters|dictsort %}
                <li>
                  {{ key }} in {{ value }}
                </li>
                {%- endfor %}
              </ul>
              {%- endif %}
            </li>
            {%- endfor %}
          </ul>
        </details>
      </div>

    </div>{# .two-column #}

  </div>{# .box #}
    {%- endfor %}
  {%- else %}
  <div class="dimmed-box centered">{{ _('No webhooks defined.') }}</div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
<script>
  onDomReady(function() {
    post_on_click_then_reload('[data-action="test-webhook"]');
  });
</script>
{% endblock %}
