{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_simple %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'webhook_admin' %}
{% set title = _('Update Webhook') %}

{% block before_body %}
{{ render_backlink(url_for('.index'), _('Webhooks')) }}
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('edit') }} {{ title }}</h1>

  <form action="{{ url_for('.update', webhook_id=webhook.id) }}" method="post">
    {{ form_field_simple(form.description, autofocus='autofocus') }}
    {{ form_field_simple(form.format) }}
    {{ form_field_simple(form.url) }}
    {{ form_field_simple(form.text_prefix) }}
    {{ form_field_simple(form.enabled) }}
    <div class="form-row-simple">
      <label class="form-label">{{ _('Selectors') }}</label>
      <div class="form-control-checkboxes">
        <fieldset>
          <ul>
          {%- for event_name in event_names|sort %}
            {%- with field = form.get_field_for_event_name(event_name) %}
            <li><label class="form-check-label">{{- field() }} {{ event_name }}</label></li>
            {%- endwith %}
          {%- endfor %}
          </ul>
        </fieldset>
      </div>
    </div>

    {{ form_buttons(_('Update')) }}
  </form>

{%- endblock %}
