{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/user.html' import render_user_avatar_16_and_admin_link %}
{% from 'macros/datetime.html' import render_datetime, render_datetime_custom %}
{% set current_page = 'orga_presence' %}
{% set title = 'Anwesenheit' %}
{% set layout_main_raw = True %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style/presence.css') }}">
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <div>
    <table class="index wide">
      <thead>
        <tr>
          <th colspan="3"></th>
          {%- for day, hour_total in days_and_hour_totals %}
          <th colspan="{{ hour_total }}">{{ render_datetime_custom(day, '%A') }}</th>
          {%- endfor %}
        </tr>
        <tr>
          <th>Aufgabe/Orga</th>
          <th>Beginn</th>
          <th>Ende</th>
          {%- for hour_range in hour_ranges %}
          <th class="bar-column">{{ render_datetime_custom(hour_range.start, '%H') }}:00</th>
          {%- endfor %}
        </tr>
      </thead>
      <tbody>
        <tr class="party">
          <td class="nowrap"><strong>{{ party_time_slot.party.title }}</strong></td>
          {{ render_range_columns(party_time_slot) }}
          {{ render_bar_columns([party_time_slot]) }}
        </tr>
        {%- for task in tasks|sort(attribute='starts_at') %}
        <tr class="task">
          <td>{{ task.title }}</td>
          {{ render_range_columns(task) }}
          {{ render_bar_columns([task]) }}
        </tr>
        {%- endfor %}
        {%- for orga, presences in presences_by_orga|dictsort(by='key') %}
        <tr class="presence">
          <td>{{ render_user_avatar_16_and_admin_link(orga) }}</td>
          <td colspan="2"></td>
          {{ render_bar_columns(presences) }}
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>

{%- endblock %}


{% macro render_range_columns(time_slot) -%}
          <td class="nowrap">{{ render_datetime(time_slot.range.start, smart=False) }}</td>
          <td class="nowrap">{{ render_datetime(time_slot.range.end, smart=False) }}</td>
{%- endmacro %}


{% macro render_bar_columns(time_slots) -%}
      {%- for hour_range in hour_ranges %}
        {%- if is_instant_contained_in_time_slots(hour_range.start, time_slots) %}
          <td class="bar-column"><span class="bar"></span></td>
        {%- else %}
          <td></td>
        {%- endif %}
      {%- endfor %}
{%- endmacro %}
