{%- from 'macros/board.html' import render_flag_hidden, render_flag_new %}
{%- from 'macros/datetime.html' import render_datetime %}
{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/user.html' import render_user_link %}
{%- from 'macros/user_avatar.html' import render_user_avatar_large %}
{%- from 'macros/user_badge.html' import render_user_badges %}

<article class="user-comment{% if posting.hidden %} dimmed{% endif %}" id="posting-{{ posting.id }}">
  <aside>
    <div class="creator">
      {{ render_user_avatar_large(posting.creator) }}
    </div>

    {%- with badges = badges_by_user_id[posting.creator.id]|default([]) %}
      {%- if badges %}
    <div class="user-badges">
{{ render_user_badges(badges) }}
    </div>
      {%- endif %}
    {%- endwith %}
  </aside>
  <div class="content">
    <header>
      <div class="user-comment-meta-top">
        {{ render_user_link(posting.creator) }}
        &middot;
        {{ render_datetime(posting.created_at)|replace(', ', ' um ') }}

        {%- if posting.unseen %}
        &middot; {{ render_flag_new() }}
        {%- endif %}

        {%- if posting.hidden %}
        &middot; {{ render_flag_hidden(posting.hidden_by) }}
        {%- endif %}
      </div>
      {%- if not topic.locked and g.current_user.has_permission(BoardPostingPermission.create) %}
      <div class="user-comment-actions">
        <div class="dropdown left">
          <button class="dropdown-toggle">Aktionen {{ render_icon('caret-down') }}</button>
          <ol>
            {%- if not topic.locked and g.current_user.has_permission(BoardPostingPermission.create) %}
            <li><a href="{{ url_for('.posting_create_form', topic_id=topic.id, quote=posting.id) }}" title="diesen Beitrag zitieren">{{ render_icon('quote') }} Beitrag zitieren</a></li>
            {%- endif %}
            {%- if posting.is_initial_topic_posting(posting.topic) %}
              {%- if topic.may_be_updated_by_user(g.current_user) %}
            <li><a href="{{ url_for('.topic_update_form', topic_id=topic.id) }}" title="dieses Thema bearbeiten">{{ render_icon('edit') }} Thema bearbeiten</a></li>
              {%- endif %}
            {%- else %}
              {%- if posting.may_be_updated_by_user(g.current_user) %}
            <li><a href="{{ url_for('.posting_update_form', posting_id=posting.id) }}" title="diesen Beitrag bearbeiten">{{ render_icon('edit') }} Beitrag bearbeiten</a></li>
              {%- endif %}
            {%- endif %}
            {%- if g.current_user.has_permission(BoardPostingPermission.hide) %}
            <li><a href="{{ url_for('.posting_moderate_form', posting_id=posting.id) }}" title="diesen Beitrag moderieren">{{ render_icon('moderate') }} moderieren</a></li>
            {%- endif %}
          </ol>
        </div>
      </div>
      {%- endif %}
    </header>
    <div class="body">
{{ posting.body|bbcode|safe }}
    </div>
    <footer>
      <p>
        {%- if posting.edit_count %}
        {{ posting.edit_count }} mal bearbeitet, zuletzt: {{ render_datetime(posting.last_edited_at) }} von {{ render_user_link(posting.last_edited_by) }}
        &middot;
        {%- endif %}
        <a href="{{ posting.external_url }}">{{ render_icon('bookmark') }} <span>Permalink</span></a>
      </p>
    </footer>
  </div>
</article>
