{%- from 'macros/board.html' import render_flag_hidden, render_flag_new %}
{%- from 'macros/datetime.html' import render_datetime %}
{%- from 'macros/icons.html' import render_icon %}
{%- from 'macros/user.html' import render_user_link %}


      <div class="user-comment-meta-top">
        <span class="user-link">
          {{- render_user_link(posting.creator) -}}
          {%- if posting.creator.uses_ticket %}
          {{- ' ' }}<span title="Nutzt ein Ticket für die {{ party_title }}">{{ render_icon('ticket') }}</span>
          {%- endif -%}
        </span>

        <a href="{{ url_for('.posting_view', posting_id=posting.id, _external=True) }}" class="user-comment-permalink" title="Permalink zu diesem Beitrag">{{ render_datetime(posting.created_at|utc_to_local_tz)|replace(', ', ' um ') }}</a>

        {%- if posting.unseen %}
        <span>{{ render_flag_new() }}</span>
        {%- endif %}

        {%- if posting.hidden %}
        <span>{{ render_flag_hidden(posting.hidden_by) }}</span>
        {%- endif %}
      </div>
