{%- from 'macros/forms.html' import form_buttons, form_fieldset, form_field %}
{%- from 'macros/user_avatar.html' import render_user_avatar_96 %}

  <article class="user-comment">
    <aside class="user-comment-aside">
      <div class="creator">
        {{ render_user_avatar_96(g.current_user) }}
      </div>
    </aside>
    <div class="user-comment-main">
    <div class="body">
      <form action="{{ url_for('.posting_create', topic_id=topic.id) }}" method="post">
        {%- call form_fieldset() %}
          {{ form_field(form.body, show_label=False, class='collapsible wide', required='required') }}
          <li>{%- include 'board/_posting_form_body_supplement.html' -%}</li>
        {%- endcall %}
        {{ form_buttons('Hinzufügen') }}
      </form>
    </div>
    </div>
  </article>
