{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user.html' import render_user_link %}
{% set current_page = 'board' %}
{% set title = 'Thema moderieren' %}

{% block head %}
    <script src="{{ url_for('.static', filename='behavior/board.js') }}"></script>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li><a href="{{ url_for('.category_index') }}">Forum</a></li>
      <li><a href="{{ url_for('.category_view', slug=topic.category.slug) }}">{{ topic.category.title }}</a></li>
      <li><a href="{{ url_for('.topic_view', id=topic.id) }}">{{ topic.title }}</a></li>
      <li>{{ render_icon('moderate') }}&thinsp;{{ title }}</li>
    </ol>
  </nav>

  {%- if g.current_user.has_permission(BoardTopicPermission.hide) %}
  <h2>{{ render_icon('view') }} Sichtbarkeit</h2>
  <p>Das Thema &quot;{{ topic.title }}&quot; von {{ render_user_link(topic.creator) }} ist {% if topic.hidden %}<strong>versteckt</strong> ({{ render_datetime(topic.hidden_at) }} durch {{ topic.hidden_by.screen_name }}){% else %}<strong>sichtbar</strong>{% endif %}.</p>
  <ol class="actions">
  {%- if topic.hidden %}
    <li><span class="action disabled">{{ render_icon('hidden') }} verstecken</span></li>
    <li><a id="topic-unhide" href="{{ url_for('.topic_unhide', id=topic.id) }}">{{ render_icon('view') }} sichtbar machen</a></li>
  {%- else %}
    <li><a id="topic-hide" href="{{ url_for('.topic_hide', id=topic.id) }}">{{ render_icon('hidden') }} verstecken</a></li>
    <li><span class="action disabled">{{ render_icon('view') }} sichtbar machen</span></li>
  {%- endif %}
  </ol>
  {%- endif %}

  {%- if g.current_user.has_permission(BoardTopicPermission.lock) %}
  <h2>{{ render_icon('lock') }} Schreibsperre</h2>
  <p>Das Thema &quot;{{ topic.title }}&quot; von {{ render_user_link(topic.creator) }} ist {% if topic.locked %}<strong>geschlossen</strong> ({{ render_datetime(topic.locked_at) }} durch {{ topic.locked_by.screen_name }}){% else %}<strong>offen</strong>{% endif %}.</p>
  <ol class="actions">
  {%- if topic.locked %}
    <li><span class="action disabled">{{ render_icon('lock') }} schließen</span></li>
    <li><a id="topic-unlock" href="{{ url_for('.topic_unlock', id=topic.id) }}">{{ render_icon('unlock') }} öffnen</a></li>
  {%- else %}
    <li><a id="topic-lock" href="{{ url_for('.topic_lock', id=topic.id) }}">{{ render_icon('lock') }} schließen</a></li>
    <li><span class="action disabled">{{ render_icon('unlock') }} öffnen</span></li>
  {%- endif %}
  </ol>
  {%- endif %}

  {%- if g.current_user.has_permission(BoardTopicPermission.pin) %}
  <h2>{{ render_icon('pin') }} Anheften</h2>
  <p>Das Thema &quot;{{ topic.title }}&quot; von {{ render_user_link(topic.creator) }} ist {% if topic.pinned %}<strong>angepinnt</strong> ({{ render_datetime(topic.pinned_at) }} durch {{ topic.pinned_by.screen_name }}){% else %}<strong>nicht angepinnt</strong>{% endif %}.</p>
  <ol class="actions">
  {%- if topic.pinned %}
    <li><span class="action disabled">{{ render_icon('pin') }} anpinnen</span></li>
    <li><a id="topic-unpin" href="{{ url_for('.topic_unpin', id=topic.id) }}">{{ render_icon('sorted') }} lösen</a></li>
  {%- else %}
    <li><a id="topic-pin" href="{{ url_for('.topic_pin', id=topic.id) }}">{{ render_icon('pin') }} anpinnen</a></li>
    <li><span class="action disabled">{{ render_icon('sorted') }} lösen</span></li>
  {%- endif %}
  </ol>
  {%- endif %}

  {%- if g.current_user.has_permission(BoardTopicPermission.move) %}
  <h2>{{ render_icon('move') }} Verschieben</h2>
  <p>Dieses Thema befindet sich in der Kategorie &quot;{{ topic.category.title }}&quot;.</p>
  <ol class="actions">
    <li>
      <form action="{{ url_for('.topic_move', id=topic.id) }}" method="post">
        Neue Kategorie:
        <select name="category_id">
        {%- for category in categories %}
          <option value="{{ category.id }}">{{ category.title }}</option>
        {%- endfor %}
        </select>
        <button type="submit" class="action">{{ render_icon('move') }} verschieben</button>
      </form>
    </li>
  </ol>
  {%- endif %}

{%- endblock body %}
