Flask >= 0.10.1
Flask-Script >= 2.0.5
Jinja2 >= 2.7.3
Werkzeug >= 0.9.6
WTForms >= 2.0.1

# data persistence
Flask-SQLAlchemy >= 1.0
pg8000 >= 1.10.0
SQLAlchemy >= 0.9.7

bbcode >= 1.0.18
Flask-Mail >= 0.9.0
Pillow >= 2.5.3
