{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification, render_tag %}
{% from 'macros/seating.html' import render_seating_area_link %}
{% from 'macros/user.html' import render_user_link, render_user_avatar_16_and_link %}
{% from 'macros/user_avatar.html' import render_user_avatar_96 %}
{% set current_page = 'ticket' %}
{% set title = 'Tickets' %}

{% block head %}
  <style>
    .ticket-grid {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0 0 0 -20px;
      padding: 0;
    }
    .ticket-grid > li {
      padding: 20px 0 0 20px;
    }

    .ticket-id {
      color: #888888;
      cursor: help;
      font-size: 0.625rem; /* 10px / 16px */
      margin-bottom: 5px;
      text-align: center;
      text-transform: uppercase;
    }

    .ticket-card {
      border: #dddddd solid 1px;
      border-radius: 15px;
      padding: 5px 0;
    }

    .ticket-card-row {
      font-size: 0.8125rem; /* 13px / 16px */
      padding: 0 15px 10px 15px;
      width: 126px;
    }
    .ticket-card-row + .ticket-card-row {
      border-top: #dddddd solid 1px;
    }

    .ticket-card.ticket-used-by-me,
    .ticket-card.ticket-used-by-me .ticket-card-row {
      border-color: #999999;
    }

    .ticket-card-row .label {
      color: #888888;
      display: block;
      font-size: 0.625rem; /* 10px / 16px */
      margin-bottom: 5px;
      margin-top: 10px;
      text-transform: uppercase;
    }
    .ticket-card-row a {
      color: currentColor;
      text-decoration: none;
    }
    .ticket-card-row a:hover {
      text-decoration: underline;
    }

    .ticket-card-row .avatar.size-96,
    .ticket-user-placeholder {
      margin-bottom: 0.3rem;
    }
    .ticket-user-placeholder {
      background-color: #f4f4f4;
      border: #dddddd dashed 1px;
      border-radius: 3px;
      height: 95px;
      width: 95px;
    }
  </style>
{%- endblock %}

{% block body %}

  <h1>{{ render_icon('ticket') }} {{ title }}</h1>
  <p>Dies sind die für dich relevanten (d.h. gekauften, verwalteten und/oder genutzten) Tickets für die Party <strong>{{ g.party.title }}</strong>.</p>

  {%- if not current_user_uses_any_ticket %}
  {{ render_notification('danger', 'warning', 'Du nutzt derzeit kein Ticket.') }}
  {%- endif %}

  {%- if tickets %}
  {{ render_tickets(tickets) }}
  {%- else %}
  <p><em>keine</em></p>
  {%- endif %}

{%- endblock %}


{% macro render_tickets(tickets) -%}
  <ol class="ticket-grid">
    {%- for ticket in tickets|sort(attribute='created_at') %}
    <li>
      <div class="ticket-id" title="{{ ticket.id }}">{{ ticket.id|string|truncate(7, killwords=True, end='') }}</div>
      <div class="ticket-card{% if ticket.used_by_id == g.current_user.id %} ticket-used-by-me{% endif %}">

        <div class="ticket-card-row">
          <span class="label">Kategorie</span>
          {{ ticket.category.title }}
        </div>

        <div class="ticket-card-row">
          <span class="label">Käufer/in</span>
          {{ render_user_avatar_16_and_link(ticket.owned_by) }}
        </div>

        <div class="ticket-card-row">
          <span class="label">Sitzplatz</span>
          <div class="centered">
            {%- if ticket.occupied_seat -%}
            {{ render_seating_area_link(ticket.occupied_seat.area) }}
            {%- else -%}
            {{ render_tag('keiner', class='available') }}
            {%- endif -%}
          </div>

          {%- with seat_manager = ticket.get_seat_manager() %}
            {%- if seat_manager != ticket.owned_by %}
          <span class="label">Verwalter/in</span>
          {{ render_user_avatar_16_and_link(seat_manager) }}
            {%- endif %}
          {%- endwith %}
        </div>

        <div class="ticket-card-row">
          <span class="label">Nutzer/in</span>
          {%- if ticket.used_by -%}
          {{ render_user_avatar_96(ticket.used_by) }}
          <div class="centered">
            {{ render_user_link(ticket.used_by) }}
          </div>
            {%- else -%}
          <div class="centered">
            <div class="ticket-user-placeholder"></div>
            {{ render_tag('frei', class='available') }}
          </div>
            {%- endif -%}

          {%- with user_manager = ticket.get_user_manager() %}
            {%- if user_manager != ticket.owned_by %}
          <span class="label">Verwalter/in</span>
          {{ render_user_avatar_16_and_link(user_manager) }}
            {%- endif %}
          {%- endwith %}
        </div>

      </div>
    </li>
    {%- endfor %}
  </ol>
{%- endmacro %}
