{% extends 'layout/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification, render_tag %}
{% from 'macros/seating.html' import render_seat_link %}
{% from 'macros/user.html' import render_user_link %}
{% from 'macros/user_avatar.html' import render_user_avatar_16_and_link, render_user_avatar_48 %}
{% set current_page = 'ticket' %}
{% set title = 'Tickets' %}

{% block body %}

  <h1>{{ render_icon('ticket') }} {{ title }}</h1>
  <p>Dies sind die für dich relevanten (d.h. gekauften, verwalteten und/oder genutzten) Tickets für die Party <strong>{{ party_title }}</strong>.</p>

  {%- if not current_user_uses_any_ticket %}
  {{ render_notification('Du nutzt derzeit kein Ticket.', category='warning', icon='warning') }}
  {%- endif %}

  {%- if tickets %}
  {{ render_tickets(tickets) }}
  {%- else %}
  <p><em>keine</em></p>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        confirmed_delete_on_click_then_reload('[data-action="withdraw-user"]', 'Dieses Ticket selbst nutzen?');
        confirmed_delete_on_click_then_reload('[data-action="withdraw-user-manager"]', 'Nutzer-Verwaltung zurückholen?');
        confirmed_delete_on_click_then_reload('[data-action="withdraw-seat-manager"]', 'Sitzplatz-Verwaltung zurückholen?');
      });
    </script>
{% endblock %}


{% macro render_tickets(tickets) -%}
  <ol class="ticket-grid">
    {%- for ticket in tickets|sort(attribute='created_at') %}
      {%- with seat_manager = ticket.get_seat_manager(),
               user_manager = ticket.get_user_manager()
       %}
    <li>
      <div class="ticket-card{% if ticket.used_by_id == g.current_user.id %} ticket-used-by-me{% endif %}">

        {# icon, code #}
        <div class="ticket-card-cell">

          <div class="ticket-card-cell-block">
            <div class="ticket-icon">{{ render_icon('ticket') }}</div>
          </div>

          <div class="ticket-card-cell-block">
            <div class="label-row">
              <span class="label">Code</span>

              <span class="label-buttons">
                {%- if ticket.user_checked_in %}
                {{ render_tag('eingecheckt') }}
                {%- else %}
                <a class="button button--outline button--compact" href="{{ url_for('.view_printable_html', ticket_id=ticket.id) }}">{{ render_icon('print') }}</a>
                {%- endif %}
              </span>
            </div>
            <span class="ticket-code">{{ ticket.code }}</span>
          </div>

        </div>
        {# /icon, code #}

        {# category, owner #}
        <div class="ticket-card-cell">

          <div class="ticket-card-cell-block">
            <div class="label-row">
              <span class="label">Kategorie</span>
            </div>
            {{ ticket.category.title }}
          </div>

          <div class="ticket-card-cell-block">
            <div class="label-row">
              <span class="label">Käufer/in</span>
            </div>
            {{ render_user_avatar_16_and_link(ticket.owned_by) }}
          </div>

        </div>
        {# /category, owner #}

        {# user #}
        <div class="ticket-card-cell">

          <div class="ticket-card-cell-block">
            <div class="label-row">
              <span class="label">Nutzer/in</span>

              {%- if user_manager == g.current_user %}
              <span class="label-buttons">
                <div class="dropdown left">
                  <button class="dropdown-toggle button button--outline button--compact">{{ render_icon('caret-down') -}}</button>
                  <ol>
                    <li><a href="{{ url_for('.appoint_user_form', ticket_id=ticket.id) }}">{{ render_icon('arrow-right') }} Nutzer/in zuweisen</a></li>
                    {%- if ticket.used_by_id != g.current_user.id %}
                    <li><a href="{{ url_for('.withdraw_user', ticket_id=ticket.id, _method='DELETE') }}" data-action="withdraw-user">{{ render_icon('arrow-left') }} selbst nutzen</a></li>
                    {%- endif %}
                  </ol>
                </div>
              </span>
              {%- endif %}
            </div>

            <div class="ticket-user centered">
              {%- if ticket.used_by %}
              <div>{{ render_user_avatar_48(ticket.used_by) }}</div>
              {{ render_user_link(ticket.used_by) }}
              {%- else %}
              <div><div class="ticket-user-placeholder"></div></div>
              {{ render_tag('frei', class='available') }}
              {%- endif %}
            </div>
          </div>

          <div class="ticket-card-cell-block">
            <div class="label-row">
              <span class="label">Verwalter/in</span>

              {%- if ticket.owned_by_id == g.current_user.id %}
              <span class="label-buttons">
                <div class="dropdown left">
                  <button class="dropdown-toggle button button--outline button--compact">{{ render_icon('caret-down') -}}</button>
                  <ol>
                    <li><a href="{{ url_for('.appoint_user_manager_form', ticket_id=ticket.id) }}">{{ render_icon('arrow-right') }} Nutzer-Verwaltung übertragen</a></li>
                    {%- if user_manager != g.current_user %}
                    <li><a href="{{ url_for('.withdraw_user_manager', ticket_id=ticket.id, _method='DELETE') }}" data-action="withdraw-user-manager">{{ render_icon('arrow-left') }} Nutzer-Verwaltung zurückholen</a></li>
                    {%- endif %}
                  </ol>
                </div>
              </span>
              {%- endif %}
            </div>
            {{ render_user_avatar_16_and_link(user_manager) }}
          </div>

        </div>
        {# /user #}

        {# seat #}
        <div class="ticket-card-cell">

          <div class="ticket-card-cell-block">
            <div class="label-row">
              <span class="label">Sitzplatz</span>
            </div>

            <div class="centered">
              {%- if ticket.occupied_seat -%}
              {{ render_seat_link(ticket.occupied_seat.area, ticket.occupied_seat) }}
              {%- else -%}
              {{ render_tag('keiner', class='available') }}
              {%- endif -%}
            </div>
          </div>

          <div class="ticket-card-cell-block">
            <div class="label-row">
              <span class="label">Verwalter/in</span>

              {%- if ticket.owned_by_id == g.current_user.id %}
              <span class="label-buttons">
                <div class="dropdown left">
                  <button class="dropdown-toggle button button--outline button--compact">{{ render_icon('caret-down') -}}</button>
                  <ol>
                    <li><a href="{{ url_for('.appoint_seat_manager_form', ticket_id=ticket.id) }}">{{ render_icon('arrow-right') }} Sitzplatz-Verwaltung übertragen</a></li>
                    {%- if seat_manager != g.current_user %}
                    <li><a href="{{ url_for('.withdraw_seat_manager', ticket_id=ticket.id, _method='DELETE') }}" data-action="withdraw-seat-manager">{{ render_icon('arrow-left') }} Sitzplatz-Verwaltung zurückholen</a></li>
                    {%- endif %}
                  </ol>
                </div>
              </span>
              {%- endif %}
            </div>
            {{ render_user_avatar_16_and_link(seat_manager) }}
          </div>

        </div>
        {# /seat #}

      </div>
    </li>
      {%- endwith %}
    {%- endfor %}
  </ol>
{%- endmacro %}
