/* basic */

body {
  background-color: #f4f4f4;
  color: #333333;
  line-height: 1.4;
}

a {
  color: #0000ee;
}


/* layout */

:root {
  --inner-gutter: 16px;
  --layout-gutter: 16px;
}

@media (min-width: 36rem) { /* 576px / 16px */

  :root {
    --layout-gutter: 32px;
  }

}

.page-layout {
  display: grid;
  grid-template:
    "header" auto
    "nav"    auto
    "body"   1fr
    "footer" auto;
  height: 100vh;
}

.page-header {
  grid-area: header;
}

.page-header-nav {
  grid-area: nav;
}

.page-body {
  grid-area: body;
}

.page-footer {
  border-bottom: #cc0000 solid 3px;
  grid-area: footer;
}

@media (min-width: 1080px) {

  .container {
    --layout-width: 1080px;
    max-width: var(--layout-width);
    width: var(--layout-width);
  }

}

main {
  font-size: 0.875rem; /* 14px / 16px */
  padding: var(--layout-gutter);
}

.notifications {
  margin-bottom: var(--layout-gutter);
}

#main,
.box {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#main,
.box {
  background-color: #ffffff;
  border-radius: 3px;
}

#main {
  padding: 0 20px 20px 20px;
}

@media (min-width: 36rem) { /* 576px / 16px */

  #main {
    padding: 20px 40px 40px 40px;
  }

}

.box {
  padding: 20px;
}

.box + .box {
  margin-top: var(--inner-gutter);
}


/* header */

#header {
  background-color: #555555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#header-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
  min-height: 48px;
  justify-content: space-between;
  padding: 4px var(--layout-gutter);
}

#header-content .column {
  align-self: center;
}

#header-content .column--brand,
#header-content .column--user {
  flex: 0 0 auto;
}

#header-content .column--form {
  flex: 1 0 auto;
}

#header-content .brand {
  margin-left: 0.5rem;
}

#header-content .brand-icon {
  display: inline-block;
  fill: #e4c444;
  width: 0.75rem;
}

#header-content .brand-text {
  color: #eeeeee;
  font-size: 1.75rem; /* 28px / 16px */
}

#header-content .current-user .button,
#header-content .current-user .button:hover,
#header-content .current-user .dropdown-toggle {
  background-color: transparent;
  color: #eeeeee;
  display: block;
  font-size: 0.875rem; /* 14px / 16px */
}

#header-content .current-user .dropdown-toggle {
  padding: 0;
}

#header-content .current-user .avatar {
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
}

#header-content .label-and-name .label {
  display: block;
  font-size: 0.6875rem; /* 11px / 16px */
  margin-bottom: 0.125rem;
  opacity: 0.5;
}

#header-content .label-and-name .name {
  color: currentColor;
  display: block;
  font-size: 1.0625rem; /* 17px / 16px */
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

#header-content form button,
#header-content form input {
  border: none;
  border-radius: 7px;
  color: #444444;
}

#header-content form {
  margin: 0 auto;
  max-width: 22rem;
}

#header-content form input {
  background-color: #888888;
  padding: 0.4rem 2.6rem 0.4rem 0.4rem;
  width: 100%;
}

#header-content form button {
  background-color: transparent;
  margin-left: -2.65rem;
}

#header-content form button:hover,
#header-content form input:hover {
  background-color: #eeeeee;
}

#header-content form input:not(:placeholder-shown) {
  background-color: #eeeeee;
}


/* header navigation */

.page-header-nav {
  background-color: #ffffff;
  border-bottom: #dddddd solid 1px;
  border-top: #dddddd solid 1px;
}

.header-nav {
  padding: 0 var(--layout-gutter);
}

.header-nav-crumbs {
  align-items: center;
  display: flex;
  margin: 1.5rem 0 1rem 0;
  min-height: 2.8rem;
}

.header-nav-crumb {
  color: #666666;
}

.header-nav-crumb-separator::before {
  color: #aaaaaa;
  content: "›";
  margin: 0 0.75rem;
}

.header-nav-crumb:not(:hover) {
  text-decoration: none;
}

.header-nav .main-tabs ol {
  border: 0;
  margin: 0;
}


/* main navigation */

nav.main ol {
  margin: 0.75rem 0;
  width: 100%;
}

nav.main li {
  display: block;
  margin: 0;
  padding: 0;
}

.nav-item {
  border-radius: 0.25rem;
  color: #5c5c5c;
  display: flex;
  line-height: 1.1;
  margin: 0.25rem 0.75rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-item:hover,
.nav-item--current {
  background-color: #eeeeee;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  color: currentColor;
}

.nav-item-icon {
  flex: 0 0 auto;
  margin-right: 0.4em;
}


/* tabs above main content area */

.main-tabs ol {
  border-bottom: #cccccc solid 1px;
  display: flex;
  list-style: none;
  margin: 0 0.5rem -1px 0.5rem;
  padding: 0;
}

.main-tab {
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 0.125rem 0;
  color: #333333;
  display: block;
  font-size: 0.75rem; /* 12px / 16px */
  height: 100%;
  margin-bottom: -1px;
  margin-right: 0.125rem;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  user-select: none;
}

.main-tab .icon {
  color: #aaaaaa;
  margin-right: 0.2rem;
}

.main-tab:hover {
  border-color: #aaaaaa;
}

.main-tab--current {
  border-color: #1199ff;
}

.main-tab--current .icon {
  color: #5c5c5c;
}


/* tabs (adjustment of common tabs) */

.tabs-tab {
  border-width: 0 0 0.125rem 0;
  color: #666666;
  font-size: 0.75rem; /* 12px / 16px */
  margin-right: 0.125rem;
  padding: 0.5rem 0.75rem;
}

.tabs-tab:hover,
.tabs-tab--current {
  background-color: transparent;
  color: currentColor;
}

.tabs-tab:hover {
  border-color: #aaaaaa;
}

.tabs-tab--current {
  border-color: #1199ff;
}


/* headings */

h1 {
  font-size: 1.75rem; /* 28px / 16px */
  line-height: 1.2;
}

h2 {
  font-size: 1.25rem; /* 20px / 16px */
  margin-top: 2rem;
}

h1 small,
h2 small {
  font-weight: normal;
  opacity: 0.5;
}

h1 small {
  font-size: 1.5rem; /* 24px / 16px */
}

h2 small {
  font-size: 1.125rem; /* 18px / 16px */
}


/* tables */

@media (max-width: 1080px) {

  table.index.wide {
    display: block;
    overflow-x: auto;
  }

}


/* lists */

ol.index,
ol.index li {
  border-color: #cccccc;
  border-style: solid;
}

ol.index {
  border-width: 0 0 1px 0;
}

ol.index li {
  border-width: 1px 0 0 0;
  font-size: 0.875rem; /* 14px / 16px */
  padding: 0.35rem 0;
}

ol.index.fully-linked li {
  padding: 0;
}

ol.index.fully-linked a {
  color: currentColor;
  display: block;
  margin: 0 -40px;
  padding: 0.35rem 40px;
  text-decoration: none;
}

ol.index.fully-linked a:hover {
  background-color: #f8f888;
}

.list-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -8px 0 0 -8px;
  padding: 0;
}

.list-grid > li {
  padding: 8px 0 0 8px;
}


/* tags */

.tag.order-open {
  background-color: #ee3322 !important;
}

.tag.order-canceled-before-paid {
  background-color: #999999 !important;
}

.tag.order-paid {
  background-color: #11aa22 !important;
}

.tag.order-canceled-after-paid {
  background-color: #666666 !important;
}

.tag.order-waiting-for-shipping {
  background-color: #eecc00 !important;
}


/* buttons */

.button.color-primary {
  background-color: #555555;
  border-width: 0;
  color: #f8f8f8;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.button.color-primary:hover {
  background-color: #666666;
}


/* forms */

.form-buttons {
  background-color: #e8e8e8;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0;
  margin-left: -40px;
  margin-right: -40px;
  padding: 1rem 40px;
}


/* dropdowns */

main .dropdown-menu {
  border-radius: 3px;
  top: calc(100% - 1px);
}

.dropdown-item {
  border-radius: 0.25rem;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 0.5rem;
}

.dropdown-item:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}


/* filters */

.filters {
  margin-bottom: 20px;
}

.filter {
  font-size: 0.75rem; /* 12px / 16px */
  white-space: nowrap;
}

.filter .tag.color-none {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  color: #666666;
  text-shadow: none;
}


/* stats */

.bigstats figure {
  text-align: center;
}

.bigstats .value {
  font-size: 2.5rem; /* 40px / 16px */
  font-weight: bold;
  line-height: 1;
}

.bigstats a {
  color: currentColor;
}


/* footer */

#footer {
  display: block;
  font-size: 0.6875rem; /* 11px / 16px */
  line-height: 1.7;
  margin-bottom: 40px;
  opacity: 0.5;
  text-align: center;
}

#footer:hover {
  opacity: 1;
}

#footer:not(:hover) a {
  color: currentColor;
}


/* users */

.user-microcard {
  display: flex;
}

.user-microcard-avatar {
  height: 2.5rem;
  margin-right: 0.4rem;
  width: 2.5rem;
}

.user-microcard--tiny-avatar .user-microcard-avatar {
  height: 1rem;
  width: 1rem;
}

.user-microcard-names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
}

.user-microcard-screen-name {
  font-weight: bold;
}


/* events */

.events {
  --path-color: #eeeeee;
  --path-width: 0.125rem;
  --icon-container-border-width: var(--path-width);
  --icon-container-size: 2rem;
  --icon-size: 1rem;

  --half-path-width: calc(var(--path-width) / 2);
  --half-icon-container-width: calc(var(--icon-container-size) / 2);
  --path-gradient-color-stop-1: calc(var(--half-icon-container-width) - var(--half-path-width));
  --path-gradient-color-stop-2: calc(var(--half-icon-container-width) + var(--half-path-width));

  background: linear-gradient(90deg,
    transparent var(--path-gradient-color-stop-1),
    var(--path-color) var(--path-gradient-color-stop-1),
    var(--path-color) var(--path-gradient-color-stop-2),
    transparent var(--path-gradient-color-stop-2)
  );
}


.event {
  display: flex;
  padding: 0.25rem 0;
}

.event-icon {
  align-items: center;
  background-color: var(--path-color);
  border: #ffffff solid var(--icon-container-border-width);
  border-radius: 50%;
  display: flex;
  flex: 0 0 auto;
  height: var(--icon-container-size);
  justify-content: center;
  width: var(--icon-container-size);
}

.event-icon .icon {
  fill: #666666;
  height: var(--icon-size);
  width: var(--icon-size);
}

.event-data {
  color: #888888;
  flex: 1 1 auto;
  margin-left: 1rem;
  margin-top: 0.25rem;
}

.event-body {
  font-size: 0.8125rem; /* 13px / 16px */
}

.event-timestamp {
  font-size: 0.6875rem; /* 11px / 16px */
  margin-top: 0.5rem;
  text-align: right;
  white-space: nowrap;
}

.event-body .user-link a {
  color: currentColor;
  font-weight: bold;
}

.event-body .user-link a:not(:hover) {
  text-decoration: none;
}

.event-body blockquote {
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  padding: 1rem;
  white-space: pre-wrap;
}


/* misc */

.column--align-bottom {
  align-self: flex-end;
}

.dimmed-box {
  border-radius: 3px;
  border: #dddddd solid 1px;
  color: #666666;
  padding: 1.5rem;
}


/* print view */

@media print {

  * {
    background-color: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    border: none;
  }

  #header,
  #footer {
    display: none;
  }

  .page-body-grid {
    display: block;
  }

  #main {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  table {
    display: table !important;
    overflow: visible !important;
  }

  .button-row {
    display: none !important;
  }

}
