.dashboard-section-title,
a.dashboard-section-link {
  color: #666666;
  font-size: 0.75rem; /* 12px / 16px */
  margin: 0 0.5rem 1rem 0.5rem;
}

.dashboard-section-title {
  text-transform: uppercase;
}

a.dashboard-section-link:not(:hover) {
  text-decoration: none;
}

a.dashboard-section-link:hover {
  color: currentColor;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--inner-gutter);
  margin-left: calc(var(--inner-gutter) * -1);
  margin-top: calc(var(--inner-gutter) * -1);
}

.flex-grid .cell {
  margin-left: var(--inner-gutter);
  margin-top: var(--inner-gutter);
}

.grid .cell--fitted {
  align-self: start;
}

.grid .cell--higher {
  grid-row: span 2;
}

.grid .cell--wider {
  grid-column: span 2;
}

.cell a:not(.disguised) {
  color: currentColor;
  text-decoration: none;
}

.cell a:hover .box {
  background-color: #f4f4f4;
}

.cell .box {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.cell.less-padding .box {
  height: auto;
  padding: 0.25rem;
}

.dashboard h2 {
  font-size: 0.75rem; /* 12px / 16px */
  font-weight: normal;
  margin-top: 0;
  opacity: 0.7;
  text-transform: uppercase;
}

.cell-icon {
  font-size: 5rem; /* 80px / 16px */
  opacity: 0.075;
  position: absolute;
  right: 0.25rem;
  top: 0;
}

.cell .box > :not(.cell-icon) {
  /* Keep cell icon in the background. */
  position: relative;
}

.cell-label {
  color: #999999;
  font-size: 0.75rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.cell .progress {
  height: 0.25rem;
}

.cell .progress-label {
  color: #999999;
  text-align: right;
}

.cell .small {
  font-size: 0.6875rem;
}

.bigstats {
  margin-bottom: 0;
}

.bigstats figcaption {
  font-weight: normal;
}

.hyphenate {
  -webkit-hyphens: auto;
  hyphens: auto;
}


/* fancy list  */

.fancy-list li {
  line-height: 1.3;
  margin: -0.5rem 0;
}

.fancy-list li + li {
  margin-top: 0.25rem;
}

.fancy-list a {
  border-color: transparent;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  display: block;
  margin: 0 -0.5rem;
  padding: 0.5rem;
}

.fancy-list a:hover {
  background-color: #eeeeee;
  border-color: #cccccc;
}

.supplement {
  color: #999999;
  font-size: 0.6875rem; /* 11px / 16px */
  margin-top: 0.15rem;
}


/* birthdays */

.birthdays li {
  align-items: center;
  display: flex;
}

.birthdays li + li {
  margin-top: 10px;
}

.birthdays .hastoday {
  font-weight: bold;
}

.birthdays .avatar {
  flex: 0 0 auto;
  margin-right: 10px;
}

.birthdays a {
  font-weight: bold;
}

.birthdays time {
  cursor: help;
  border-bottom: #666666 dotted 1px;
}
