/* basic */

html {
  height: 100%;
}
body {
  background-color: #f4f4f4;
  color: #333333;
  line-height: 1.4;
}

a {
  color: #0000ee;
}


/* layout */

:root {
  --layout-gutter: 20px;
}

.page-layout {
  display: grid;
  grid-template:
    "header" auto
    "body"   1fr
    "footer" auto;
  height: 100vh;
  row-gap: var(--layout-gutter);
}

.page-header {
  border-top: #cc0000 solid 3px;
  grid-area: header;
}

.page-body {
  grid-area: body;
}

.page-footer {
  border-bottom: #cc0000 solid 3px;
  grid-area: footer;
}

@media (min-width: 60rem) { /* 960px / 16px */
  .container {
    --layout-width: 1080px;
    max-width: var(--layout-width);
    width: var(--layout-width);
  }
}

.page-body-grid {
  display: flex;
  flex-direction: column;
  margin: -20px 0 0 -20px;
  padding: 0 var(--layout-gutter);
}
.page-body-grid-main,
.page-body-grid-sidebar {
  padding: 20px 0 0 20px;
}
.page-body-grid-main {
  flex: 1;
}
.page-body-grid-sidebar {
  flex: 0 0 22%;
}

@media (min-width: 60rem) { /* 960px / 16px */
  .page-body-grid {
    flex-direction: row;
  }
}

main {
  font-size: 0.875rem; /* 14px / 16px */
}

.notifications {
  margin-bottom: 20px;
}

#header,
#sidebar section,
#main,
.box {
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebar section,
#main,
.box {
  background-color: #ffffff;
  border-radius: 3px;
}

#main {
  padding: 20px 40px 40px 40px;
}

.box {
  padding: 20px;
}

.box + .box {
  margin-top: 1rem;
}


/* header */

#header {
  background-color: rgba(0, 0, 0, 0.06);
}

#header-content {
  padding: 4px 20px;
}

#header-grid {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px 0 0 -20px;
}

#header-content .column {
  align-self: center;
  padding: 20px 0 0 20px;
}

#header-content .label-and-name {
  display: inline-block;
  margin: 0 0.375rem;
  text-align: left;
  vertical-align: middle;
}
#header-content .label-and-name .label {
  display: block;
  font-size: 0.6875rem; /* 11px / 16px */
  margin-bottom: 0.125rem;
  opacity: 0.5;
}
#header-content .label-and-name .name {
  color: currentColor;
  display: block;
  font-size: 1.0625rem; /* 17px / 16px */
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

#header-content .current-user .dropdown-toggle {
  padding: 0.375rem;
}

#header-content .current-user .dropdown li.label-and-name {
  margin: 0;
  padding: 0.4rem 0.8rem;
}

#header-content .current-user .logged-out {
  align-items: center;
  display: flex;
  height: 42px;
}

#header-content .current-user .logged-out .button {
  font-size: 0.875rem; /* 14px / 16px */
}
#header-content .current-user .logged-out .button:not(:hover) {
  background-color: #ffffff;
}

#header-content .button:hover {
  background-color: #ffffff;
}

#header-content .dropdown ol {
  margin-top: -1px;
}


/* sidebar */

#sidebar {
  display: grid;
  gap: var(--layout-gutter);
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.sidebar-section {
  font-size: 0.875rem; /* 14px / 16px */
  /* overflow: hidden;  # Would cut off dropdown in section header. */
}

.sidebar-section-header {
  background-color: #555555;
  border-bottom: #cccccc solid 1px;
  line-height: 1;
  padding: 0.5rem 1rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.sidebar-section-category,
.sidebar-section-title {
  color: #f8f8f8;
}

.sidebar-section-category {
  color: #aaaaaa;
  font-size: 0.75rem; /* 12px / 16px */
  margin-bottom: 0.1rem;
  margin-top: 0.3rem;
}

.sidebar-section-title {
  font-size: 0.875rem; /* 14px / 16px */
  font-weight: normal;
  margin: 0;
}

.sidebar-section-title.button {
  text-align: left;
  white-space: normal;
}

.sidebar-section-header .dropdown {
  margin-left: calc(-0.3rem);
}

.sidebar-section-title .dropdown > ol {
  color: #333333;
}


/* main navigation */

nav.main ol {
  margin: 0.5rem 0;
  width: 100%;
}
nav.main li {
  display: block;
  margin: 0;
  padding: 0;
}

.nav-item {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  color: #5c5c5c;
  display: flex;
  line-height: 1.2;
  padding: 0.2rem 15px;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.nav-item:hover,
.nav-item--current {
  background-color: #eeeeee;
  border-color: #cccccc;
  color: currentColor;
}

.nav-item-icon {
  flex: 0 0 auto;
  margin-right: 0.4em;
}


/* tabs above main content area */

.main-tabs {
  display: flex;
  list-style: none;
  margin: -8px 12px 0 12px;
  padding: 0;
}
.main-tabs li {
  padding: 8px 0 0 4px;
}
.main-tabs a,
.main-tabs .current {
  border-color: #cccccc;
  border-style: solid;
  color: #5c5c5c;
  display: block;
  font-size: 0.75rem; /* 12px / 16px */
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
}
.main-tabs a {
  border-width: 0;
  margin-top: 1px;
  margin-right: 1px;
  margin-left: 1px;
  text-decoration: none;
}
.main-tabs a:hover,
.main-tabs .current {
  border-width: 1px 1px 0 1px;
  background-color: #ffffff;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}
.main-tabs a.current:hover {
  color: #000000;
}
.main-tabs a:hover:not(.current) {
  color: #000000;
  opacity: 0.5;
}


/* headings */

h1 {
  font-size: 1.75rem; /* 28px / 16px */
  line-height: 1.2;
}
h2 {
  font-size: 1.25rem; /* 20px / 16px */
  margin-top: 2rem;
}

h1 small,
h2 small {
  font-weight: normal;
  opacity: 0.5;
}
h1 small {
  font-size: 1.5rem; /* 24px / 16px */
}
h2 small {
  font-size: 1.125rem; /* 18px / 16px */
}


/* tables */

@media (max-width: 60rem) { /* 960px / 16px */
  table.index.wide {
    display: block;
    overflow-x: auto;
  }
}

table.index td.bignumber {
  font-size: 1.6em;
  vertical-align: middle;
}


/* lists */

ol.index,
ol.index li {
  border-color: #cccccc;
  border-style: solid;
}
ol.index {
  border-width: 0 0 1px 0;
}
ol.index li {
  border-width: 1px 0 0 0;
  font-size: 0.875rem; /* 14px / 16px */
  padding: 0.35rem 0;
}

ol.index.fully-linked li {
  padding: 0;
}
ol.index.fully-linked a {
  color: currentColor;
  display: block;
  margin: 0 -40px;
  padding: 0.35rem 40px;
  text-decoration: none;
}
ol.index.fully-linked a:hover {
  background-color: #f8f888;
}

.list-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -8px 0 0 -8px;
  padding: 0;
}
.list-grid > li {
  padding: 8px 0 0 8px;
}


/* tags */

.tag.order-open {
  background-color: #ee3322 !important;
}
.tag.order-canceled-before-paid {
  background-color: #999999 !important;
}
.tag.order-paid {
  background-color: #11aa22 !important;
}
.tag.order-canceled-after-paid {
  background-color: #666666 !important;
}
.tag.order-waiting-for-shipping {
  background-color: #eecc00 !important;
}


/* buttons */

.button.color-primary {
  background-color: #555555;
  border-width: 0;
  color: #f8f8f8;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.button.color-primary:hover {
  background-color: #666666;
}


/* forms */

fieldset.buttons {
  background-color: #e8e8e8;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}


/* dropdowns */

main .dropdown.open .button.dropdown-toggle {
  border-radius: 3px 3px 3px 0;
}
main .dropdown.open.left .button.dropdown-toggle {
  border-radius: 3px 3px 0 3px;
}

main .dropdown > ol {
  border-radius: 0 3px 3px 3px;
  top: calc(100% - 1px);
}
main .dropdown.left > ol {
  border-radius: 3px 0 3px 3px;
}


/* filters */

.filters {
  margin-bottom: 20px;
}

.filter {
  font-size: 0.75rem; /* 12px / 16px */
  white-space: nowrap;
}

.filter .tag.color-none {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  color: #666666;
  text-shadow: none;
}


/* stats */

.bigstats figure {
  text-align: center;
}
.bigstats .value,
.bigstats figcaption {
  display: block;
}
.bigstats .value {
  font-size: 2.5rem; /* 40px / 16px */
  font-weight: bold;
  line-height: 1;
}
.bigstats a {
  color: currentColor;
}


/* footer */

#footer {
  display: block;
  font-size: 0.6875rem; /* 11px / 16px */
  line-height: 1.7;
  margin-bottom: 40px;
  opacity: 0.5;
  text-align: center;
}
#footer:hover {
  opacity: 1;
}

#footer:not(:hover) a {
  color: currentColor;
}


/* users */

.user-microcard {
  display: flex;
}

.user-microcard-avatar {
  height: 2.5rem;
  margin-right: 0.4rem;
  width: 2.5rem;
}

.user-microcard--tiny-avatar .user-microcard-avatar {
  height: 1rem;
  width: 1rem;
}

.user-microcard-names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  white-space: nowrap;
}

.user-microcard-screen-name {
  font-weight: bold;
}


/* events */

.events {
  --path-color: #eeeeee;
  --path-width: 0.125rem;
  --icon-container-border-width: var(--path-width);
  --icon-container-size: 2rem;
  --icon-size: 1rem;

  --half-path-width: calc(var(--path-width) / 2);
  --half-icon-container-width: calc(var(--icon-container-size) / 2);
  --path-gradient-color-stop-1: calc(var(--half-icon-container-width) - var(--half-path-width));
  --path-gradient-color-stop-2: calc(var(--half-icon-container-width) + var(--half-path-width));

  background: linear-gradient(90deg,
    transparent var(--path-gradient-color-stop-1),
    var(--path-color) var(--path-gradient-color-stop-1),
    var(--path-color) var(--path-gradient-color-stop-2),
    transparent var(--path-gradient-color-stop-2)
  );
}


.event {
  display: flex;
  padding: 0.25rem 0;
}

.event-icon {
  align-items: center;
  background-color: var(--path-color);
  border: #ffffff solid var(--icon-container-border-width);
  border-radius: 50%;
  display: flex;
  flex: 0 0 auto;
  height: var(--icon-container-size);
  justify-content: center;
  width: var(--icon-container-size);
}

.event-icon .icon {
  fill: #666666;
  height: var(--icon-size);
  width: var(--icon-size);
}

.event-data {
  color: #888888;
  flex: 1 1 auto;
  margin-left: 1rem;
  margin-top: 0.25rem;
}

.event-body {
  font-size: 0.8125rem; /* 13px / 16px */
}

.event-timestamp {
  font-size: 0.6875rem; /* 11px / 16px */
  margin-top: 0.5rem;
  text-align: right;
  white-space: nowrap;
}


.event-body .user-link a {
  color: currentColor;
  font-weight: bold;
}
.event-body .user-link a:not(:hover) {
  text-decoration: none;
}

.event-body blockquote {
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  padding: 1rem;
  white-space: pre-wrap;
}


/* misc */

.dimmed-box {
  border-radius: 3px;
  border: #dddddd solid 1px;
  color: #666666;
  padding: 1.5rem;
}


/* print view */

@media print {
  * {
    background-color: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body {
    border: none;
  }

  #header,
  #sidebar,
  #footer {
    display: none;
  }

  .page-body-grid {
    display: block;
  }

  #main {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  table {
    display: table !important;
    overflow: visible !important;
  }

  .button-row {
    display: none !important;
  }
}
