:root {
  --dimmed-color: #808080;
  --link-color: #0066c6;
}


/* reset */

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.15;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 1rem; /* 16px */
  line-height: 1.5;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Ubuntu,
               Cantarell,
               Roboto,
               "Noto Sans",
               "Helvetica Neue",
               Arial,
               sans-serif,
               "Apple Color Emoji",
               "Segoe UI Emoji";
}

a {
  background-color: transparent;
  color: var(--link-color);
}

a:active,
a:hover {
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

form,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

textarea {
  font: inherit;
  overflow: auto;
}

abbr[title] {
  border-bottom: none;
  cursor: help;
  text-decoration: underline dotted;
}

address {
  font-style: normal;
}

img {
  border: 0;
}


/* layout */

.container {
  margin: 0 auto;
}


/* grid */

.row {
  display: flex;
  gap: 1rem;
}

.row--equal-sized-centered-columns > * {
  flex: 1;
  text-align: center;
}

.row--space-around {
  justify-content: space-around;
}

.row--space-between {
  justify-content: space-between;
}

.row--vertically-centered {
  align-items: center;
}

.row--wrap {
  flex-wrap: wrap;
}

.column-auto {
}

.column-auto--grow {
  flex-grow: 1;
}


/* links */

a.disguised {
  color: currentColor;
}

a.disguised:not(:hover) {
  text-decoration: none;
}


/* icons */

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0;
  vertical-align: -7%;
  width: 1em;
}

span[title] .icon {
  cursor: help;
}

.block-with-icon {
  display: flex;
}

.block-with-icon-icon {
  flex: 0 0 auto;
  padding-right: 0.5em;
}

.block-with-icon-body {
  flex: 1;
  text-align: left;
}


/* notifications */

.notification {
  border-radius: 3px;
  border: rgba(0, 0, 0, 0.25) solid 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.notification + .notification {
  margin-top: 1rem;
}

.notification > .block-with-icon-body :first-child {
  margin-top: 0;
  padding-top: 0;
}

.notification > .block-with-icon-body :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.notification a {
  color: currentColor;
}


/* tabs */

.tabs {
  align-items: flex-end;
  border-color: #dddddd;
  border-style: solid;
  border-width: 0 0 1px 0;
  display: flex;
  margin-bottom: 2rem;
}

.tabs--centered {
  justify-content: center;
}

.tabs-tab {
  border-color: transparent;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: #888888;
  cursor: pointer;
  display: block;
  flex: 1 0 auto;
  height: 100%;
  margin-bottom: -1px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  user-select: none;
}

.tabs-tab:hover,
.tabs-tab--current {
  border-color: #333333;
  color: currentColor;
}

.tabs-tab:hover {
  background-color: #e8e8e8;
}

span.tabs-tab--current {
  cursor: default;
}


/* breadcrumbs */

nav.breadcrumbs {
  font-size: 0.8125rem; /* 13px / 16px */
  margin-top: 1rem;
}

nav.breadcrumbs li {
  display: inline-block;
}

nav.breadcrumbs li::after {
  content: ' \0BB \020';
}

nav.breadcrumbs.compact li:last-child::after {
  content: none;
}

nav.breadcrumbs + h1 {
  margin-top: 0.5rem;
}


/* tables */

table.index {
  --table-border-color: #dddddd;
}

th,
td {
  padding: 0 1em 0 0;
  text-align: left;
  vertical-align: top;
}

th.number,
td.number {
  text-align: right;
}

table.index th,
table.index td {
  padding: 0.35rem 1rem 0.35rem 0;
}

table.index th:last-child,
table.index td:last-child {
  padding-right: 0;
}

table.index th {
  font-size: 0.75rem; /* 12px / 16px */
  font-weight: bold;
}

table.index td {
  font-size: 0.8125rem; /* 13px / 16px */
}

table.index > tbody > tr > th,
table.index > tbody > tr > td {
  border-color: var(--table-border-color);
  border-style: solid;
  border-width: 1px 0;
}

table.index.index--v-centered th,
table.index.index--v-centered td {
  vertical-align: middle;
}

table.index .bignumber {
  font-size: 1.5rem;
}

table.index .details {
  display: block;
  font-size: 0.6875rem; /* 11px / 16px */
  margin-top: 0.2rem;
}

table.wide {
  width: 100%;
}

/* data display */

.data-label {
  color: var(--dimmed-color);
  font-size: 0.75rem; /* 12px / 16px */
  margin-bottom: 0.25rem;
}

.data-value {
  font-size: 0.875rem; /* 14px / 16px */
}

.data-value + .data-label {
  margin-top: 1rem;
}

.index th.data-label {
  font-weight: normal;
}


/* forms */

label {
  display: inline-block;
}

.form-label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.form-check-label {
  align-items: flex-start;
  display: flex;
}

.form-check-label span {
  margin-left: 0.25rem;
  margin-top: 0.125rem;
}

.form-control-wrapper {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.form-control {
  display: block;
}

.form-control-checkboxes ul,
.form-control-radios ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input.form-control:not([type='checkbox']):not([type='radio']),
select.form-control,
textarea.form-control {
  background-color: #ffffff;
  border: #bbbbbb solid 1px;
  border-radius: 3px;
  font-size: 0.875rem; /* 14px / 16px */
  padding: 0.4rem;
}

input.form-control:not([size]):not([type='checkbox']):not([type='date']):not([type='radio']):not([type='time']),
textarea.form-control {
  width: 100%;
}

input[type='number'] {
  text-align: right;
}

textarea.form-control {
  height: 20rem;
  resize: vertical;
}

textarea.collapsible {
  transition: height 0.5s;
}

textarea.collapsible.collapsed {
  height: 3rem;
}

.form-note {
  color: var(--dimmed-color);
  font-size: 0.75rem; /* 12px / 16px */
  margin-top: 0.5rem;
}

form .form-form-errors,
form .invalid {
  --padding: 0.375rem;
  background-color: #ff9999;
  border: #ff1a1a solid 1px;
  border-radius: 3px;
  margin: calc(var(--padding) * -1 - 1px);
  padding: var(--padding);
}

form .form-form-errors {
  display: inline-block;
}

form .form-form-errors.mb,
form .invalid.mb {
  margin-bottom: 1rem;
}

.form-errors li {
  font-size: 0.6875rem; /* 11px / 16px */
}

form .form-form-errors li {
  margin: 0.125rem 0;
}

form .invalid .form-errors li {
  margin-top: 0.25rem;
}

.form-errors li span {
  font-style: italic;
}

.form-buttons {
  margin-top: 1.5rem;
  text-align: center;
}

form.single-row {
  display: flex;
  gap: 0.25rem;
}

form.single-row .button,
form.single-row input {
  font-size: 0.875rem; /* 14px / 16px */
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
}

form.unobtrusive .button,
form.unobtrusive input {
  opacity: 0.7;
}

form.unobtrusive:hover .button,
form.unobtrusive:hover input,
form.unobtrusive input:focus ~ .button {
  opacity: 1;
}


/* button rows */

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1.5rem 0;
}

.button-row--compact {
  margin: 0;
}

.button-row--center {
  justify-content: center;
}

.button-row--nowrap {
  flex-wrap: nowrap;
}

.button-row--right {
  justify-content: flex-end;
}


/* buttons */

.button {
  align-items: center;
  -moz-appearance: none;
  background-color: #eeeeee;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: currentColor;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem; /* 16px */
  font-weight: normal;
  line-height: 1.3;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
}

.button--compact {
  font-size: 0.875rem; /* 14px / 16px */
  padding: 0.125rem 0.25rem;
}

button.button[disabled],
.button--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:hover {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
}

.button:active {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button.button--clear:not(:hover) {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}

.button.button--outlined:not(:hover) {
  background-color: transparent;
}

.button--wrapping {
  white-space: normal;
}

.button .icon:not(:last-child) {
  margin-right: 0.25rem;
}

.button .icon:not(:first-child) {
  margin-left: 0.25rem;
}


/* dropdowns */

.dropdown {
  display: inline-block;
  font-size: 0.8125rem; /* 13px / 16px */
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  text-decoration: none;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-toggle::-moz-focus-inner {
  border: 0;
}

.dropdown-menu {
  background-color: #ffffff;
  border: #cccccc solid 1px;
  display: none;
  font-weight: normal;
  left: 0;
  list-style: none;
  padding: 0.4rem 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 200;
}

.dropdown-menu--right {
  left: auto;
  right: 0;
}

.dropdown.open .dropdown-menu {
  display: block;
}

.dropdown-divider,
.dropdown-item,
.dropdown-label {
  display: block;
}

.dropdown-item,
.dropdown-label {
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
}

.dropdown-item {
  color: currentColor;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #eeeeee;
}

.dropdown-divider {
  border-top: #dddddd solid 1px;
  margin-top: 0.4rem;
  padding-top: 0.4rem;
}


/* pagination */

nav.pagination {
  font-size: 0.75rem; /* 12px / 16px */
  margin: 1em 0;
  text-align: left;
}

nav.pagination.centered {
  text-align: center;
}

nav.pagination ol {
  display: inline-block;
}

nav.pagination li {
  display: inline;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

nav.pagination li a,
nav.pagination li.current {
  display: inline-block;
  padding: 0 0.4rem;
  text-align: center;
  text-decoration: none;
}

nav.pagination li a:hover,
nav.pagination li.current {
  background-color: #dddddd;
  border-radius: 3px;
}


/* progress bars */

.progress {
  background-color: #dddddd;
  border-radius: 3px;
  display: flex;
  height: 0.5rem;
  margin: 0.25rem 0;
  overflow: hidden;
}

.progress--separated {
  background-color: transparent;
  gap: 0.125rem;
}

.progress-bar {
  background-color: #666666;
  height: 100%;
}


/* tags */

.tag {
  background-color: orange;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: inline-block;
  font-size: 0.625rem; /* 10px / 16px */
  font-weight: bold;
  line-height: 1.3;
  padding: 0.1rem 0.3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  vertical-align: middle;
}

.tag.tag--outlined {
  background-color: transparent;
  border: #aaaaaa solid 1px;
  box-shadow: none;
  color: currentColor;
  font-weight: normal;
  text-shadow: none;
}


/* user avatars */

.avatar {
  border-radius: 3px;
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.avatar img {
  display: block;
  height: 100%;
  width: 100%;
}

.avatar.size-16 {
  height: 16px;
  width: 16px;
}

.avatar.size-20 {
  height: 20px;
  width: 20px;
}

.avatar.size-24 {
  height: 24px;
  width: 24px;
}

.avatar.size-32 {
  height: 32px;
  width: 32px;
}

.avatar.size-40 {
  height: 40px;
  width: 40px;
}

.avatar.size-48 {
  height: 48px;
  width: 48px;
}

.avatar.size-64 {
  height: 64px;
  width: 64px;
}

.avatar.size-96 {
  height: 96px;
  width: 96px;
}

.avatar.size-128 {
  height: 128px;
  width: 128px;
}


/* user badges */

.user-badge {
  border: #cccccc solid 1px;
  border-radius: 50%;
  display: inline-flex;
  overflow: hidden;
}

a.user-badge:hover {
  border-color: currentColor;
}

.user-badge img {
  display: block;
  min-height: 100%;
  min-width: 100%;
}

.user-badge.size-24 {
  height: 24px;
  padding: 3px;
  width: 24px;
}

.user-badge.size-32 {
  height: 32px;
  padding: 4px;
  width: 32px;
}

.user-badge.size-64 {
  height: 64px;
  padding: 8px;
  width: 64px;
}

table.user-badges-list td {
  padding: 0.25rem 0.5rem 0.25rem 0;
  vertical-align: middle;
}


/* colors */

.button.color-primary {
  background-color: #99ddbb;
  border-color: #66aa88;
}

.button.color-danger,
.notification.color-danger {
  background-color: #ff9999;
  border-color: #ff2222;
}

.button.color-info,
.notification.color-info {
  background-color: #88ccff;
  border-color: #1199ff;
}

.button.color-success,
.notification.color-success {
  background-color: #99ee88;
  border-color: #55cc00;
}

.button.color-warning,
.notification.color-warning {
  background-color: #ffe777;
  border-color: #ffcc11;
}

.progress-bar.color-danger,
.tag.color-danger {
  background-color: #ff2222;
}

.progress-bar.color-disabled,
.tag.color-disabled {
  background-color: #aaaaaa;
}

.progress-bar.color-info,
.tag.color-info {
  background-color: #1199ff;
}

.progress-bar.color-success,
.tag.color-success {
  background-color: #55cc00;
}

.progress-bar.color-warning,
.tag.color-warning {
  background-color: #ffcc11;
}


/* animation */

@-webkit-keyframes spin {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

}

@keyframes spin {

  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }

}

.spinning {
  -webkit-animation: spin 900ms infinite linear;
  animation: spin 900ms infinite linear;
}


/* misc */

img {
  max-width: 100%;
}

.mb {
  margin-bottom: 1rem;
}

.mt {
  margin-top: 1rem;
}

.centered {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.dimmed {
  color: var(--dimmed-color);
}

.hyphenate {
  -webkit-hyphens: auto;
  hyphens: auto;
}

.monospace {
  font-family: ui-monospace,
               SFMono-Regular,
               "SF Mono",
               Menlo,
               Consolas,
               "Liberation Mono",
               monospace;
  font-size: 0.75rem !important; /* 12px / 16px */
}

summary:focus {
  outline: none;
}

summary:hover {
  cursor: pointer;
  text-decoration: underline;
}
