.page-body .container {
  max-width: 100vw;
  width: auto;
}

.page-body .box {
  overflow-x: auto;
}

.bar-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bar {
  display: inline-block;
  height: 0.75rem;
  vertical-align: middle;
  width: 3rem;
}

.party .bar {
  background-color: blue;
}

.presence .bar {
  background-color: green;
}

.task .bar {
  background-color: orange;
}

.bar:hover {
  background-color: red;
  cursor: pointer;
}
