body {
  background-color: #ffffff;
  border: none;
}

#footer,
#header,
#page-grid-sidebar,
#sidebar {
  display: none;
}

#page {
  margin: 0;
  max-width: none;
}

nav.breadcrumbs {
  margin-top: 0;
}

.bar-column {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bar {
  display: inline-block;
  height: 0.75rem;
  vertical-align: middle;
  width: 3rem;
}

.party .bar {
  background-color: blue;
}

.presence .bar {
  background-color: green;
}

.task .bar {
  background-color: orange;
}

.bar:hover {
  background-color: red;
  cursor: pointer;
}
