/* basic */

body {
  background-color: #f4f4f4;
  color: #333333;
  font-size: 0.875rem; /* 14px / 16px */
  line-height: 1.4;
}


/* notifications */

.notifications {
  margin-bottom: 1.5rem;
}


/* headings */

h1 {
  font-size: 1.75rem; /* 28px / 16px */
  line-height: 1.2;
}

h2 {
  font-size: 1.25rem; /* 20px / 16px */
  margin-top: 2rem;
}


/* news */

.news-items {
  --news-item-divider-color: #cccccc;
}

.news-item {
  -webkit-hyphens: auto;
  hyphens: auto;
}

.news-item h1 {
  margin-bottom: 0;
}

.news-item .meta {
  font-size: 0.6875rem; /* 11px / 16px */
  margin: 10px 0;
  opacity: 0.5;
}

.news-items .news-item,
.news-items .pagination {
  border-top: var(--news-item-divider-color) solid 1px;
  margin: 20px 0 0;
  padding: 20px 0 0;
}

.news-items .news-item h1 {
  margin-top: 0;
}


/* board */

.board-index-item-link {
  --board-index-item-hover-bg-color: #dddddd;
  border-radius: 3px;
  display: block;
  margin: -0.1rem -0.3rem;
  padding: 0.1rem 0.3rem;
}

.board-index-item-link:hover {
  background-color: var(--board-index-item-hover-bg-color);
  text-decoration: none;
}

.board-index-item-title .tag {
  float: left;
  margin-right: 0.3rem;
  margin-top: 0.1rem;
  text-transform: uppercase;
}

.board-index-item-meta {
  color: var(--dimmed-color);
}

@media (max-width: 35.9375rem) { /* 575px / 16px */

  table.board-category-index thead th:nth-child(4),
  table.board-category-index tbody td:nth-child(4),
  table.board-topic-index thead th:nth-child(3),
  table.board-topic-index tbody td:nth-child(3) {
    display: none;
  }

}

@media (max-width: 47.9375rem) { /* 767px / 16px */

  table.board-category-index thead th:nth-child(2),
  table.board-category-index thead th:nth-child(3),
  table.board-category-index tbody td:nth-child(2),
  table.board-category-index tbody td:nth-child(3),
  table.board-topic-index thead th:nth-child(2),
  table.board-topic-index tbody td:nth-child(2) {
    display: none;
  }

}

form.board-posting-create-form-inline textarea.collapsible ~ .collapsible-neighbor {
  display: block;
}

form.board-posting-create-form-inline textarea.collapsible.collapsed ~ .collapsible-neighbor {
  display: none;
}

form.board-posting-create-form-inline .label {
  display: none;
}


/* board, tourneys */

.user-comments {
  margin: 20px 0;
}

.user-comment {
  display: flex;
  flex-wrap: wrap;
}

.user-comment + .user-comment {
  margin-top: 20px;
}

.user-comment-aside {
  display: none;
}

.user-comment-main {
  flex: 1 1 20rem;
  position: relative;
}

@media (min-width: 48rem) { /* 768px / 16px */

  .user-comment-aside {
    display: flex;
    flex: 0 0 116px;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .user-comment-aside .creator .avatar {
    display: block;
  }

  .user-comment-aside .user-badges {
    margin-top: 8px;
  }

}

.user-comment-main header,
.user-comment-main .body {
  border-color: #dddddd;
  border-style: solid;
}

.user-comment-main header {
  background-color: #eeeeee;
  border-width: 1px 1px 0 1px;
  border-radius: 3px 3px 0 0;
  display: flex;
  font-size: 0.6875rem; /* 11px / 16px */
  justify-content: space-between;
  width: 100%;
}

.user-comment-meta-top,
.user-comment-actions .dropdown-toggle {
  margin: 0 5px;
  padding: 5px 10px;
}

.user-comment-meta-top > * {
  display: block;
}

.user-comment-meta-top a {
  border: none;
}

.user-comment-meta-top a:not(:hover) {
  text-decoration: none;
}

.user-comment-meta-top .user-link a {
  color: currentColor;
  font-weight: bold;
}

.user-comment-meta-top a.user-comment-permalink {
  color: var(--dimmed-color);
}

@media (min-width: 48rem) { /* 768px / 16px */

  .user-comment-meta-top > * {
    display: inline-block;
    padding-right: 0.5em;
  }

}

.user-comment-actions .dropdown-toggle {
  background-color: transparent;
  background-image: none;
  border: none;
  color: currentColor;
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
}

.user-comment-actions .dropdown:hover .dropdown-toggle,
.user-comment-actions .dropdown.open .dropdown-toggle {
  background-color: #dddddd;
}

.user-comment-main .body {
  border-width: 1px;
  border-radius: 0 0 3px 3px;
  flex: 1 0 auto;
  overflow: hidden;
  padding: 15px;
  text-overflow: ellipsis;
  word-break: break-word;
}

.user-comment:target header {
  border-color: #333333;
}

.user-comment:target .user-comment-main::before {
  border-right-color: #333333;
}

.user-comment:target .user-comment-main .body {
  border-bottom-color: #333333;
  border-left-color: #333333;
  border-right-color: #333333;
}

.user-comment footer {
  flex: 0 0 auto;
  font-size: 0.6875rem; /* 11px / 16px */
  opacity: 0.5;
  padding: 10px 16px 0 16px;
  text-align: right;
}

.user-comment footer:hover {
  opacity: 1;
}

.user-comment footer p {
  margin: 0;
  padding: 0;
}

.user-comment footer a {
  border: none;
  color: currentColor;
}

.user-comment footer a:not(:hover) {
  text-decoration: none;
}

.user-comment .quote-intro {
  font-size: 0.75rem; /* 12px / 16px */
  font-style: italic;
  margin: 0 0 0.2rem 0;
  padding: 0;
}

.user-comment .quote-intro cite {
  font-weight: bold;
}

.user-comment blockquote,
.user-comment pre code {
  background-color: #eeeeee;
  border: #dddddd solid 1px;
  display: block;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
}

.user-comment-hidden {
  background-color: #999999;
}


/* events rows */

.event-row {
  display: flex;
  margin: 0 0 1rem -0.5rem;
}

.event-row + .event-row {
  margin-top: -1rem;
}

.event-column {
  padding: 1rem 0 0 1rem;
}

.event-icon-container {
  align-items: center;
  background-color: #eeeeee;
  border-radius: 50%;
  display: flex;
  height: 2.5rem; /* 40px / 16px */
  justify-content: center;
  width: 2.5rem; /* 40px / 16px */
}

.event-icon-container > .icon {
  fill: #666666;
  height: 1.5rem; /* 24px / 16px */
  width: 1.5rem; /* 24px / 16px */
}

.event-timestamp {
  color: #666666;
  font-size: 0.6875rem; /* 11px / 16px */
  text-align: right;
  white-space: nowrap;
}


/* shop */

.tag.order-payment-state--canceled {
  background-color: #999999 !important;
}

.tag.order-payment-state--open {
  background-color: #ffcc11 !important;
}

.tag.order-payment-state--paid {
  background-color: #11aa22 !important;
}


/* terms */

.terms ol,
.terms ul {
  margin: 1rem 0 1rem 3rem;
  padding: 0;
}

.terms ol {
  list-style-type: decimal;
}


/* user avatars */

.avatar.orga {
  position: relative;
}

.avatar.orga::after {
  background-image: var(--overlay-image, none);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}


/* user profile */

.user-profile {
  --header-bg-color: #f4f4f4;
  --header-bg-height: 104px;
  --header-border-color: #dddddd;
  --header-border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  position: relative;
}

.user-profile::before {
  background-color: var(--header-bg-color);
  border-bottom: var(--header-border-color) solid 1px;
  border-radius: var(--header-border-radius) var(--header-border-radius) 0 0;
  content: "";
  height: var(--header-bg-height);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.user-profile-header {
  display: flex;
  justify-content: space-between;
}

.user-profile-header-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-profile-header-column + .user-profile-header-column {
  margin-left: 1rem;
}

.user-profile-header-column.screenname-and-orgateam {
  flex-grow: 1;
}

.user-profile-header-cell-top {
  font-weight: bold;
  padding-bottom: 3px;
}

.user-profile-header-cell-bottom {
  height: 50%;
  opacity: 0.5;
  padding-top: 4px;
}

.user-profile .screenname,
.user-profile .orgateam {
  font-weight: bold;
}

.user-profile .screenname {
  font-size: 1.25rem; /* 20px / 16px */
}

.user-profile .orgateam {
  font-size: 0.875rem; /* 14px / 16px */
}

.user-profile .stats,
.user-profile .stats-label {
  display: none;
  text-align: center;
}

.user-profile .stats {
  font-size: 1.125rem; /* 18px / 16px */
}

.user-profile .stats-label {
  font-size: 0.6875rem; /* 11px / 16px */
  text-transform: uppercase;
}

@media (min-width: 36rem) { /* 576px / 16px */

  .user-profile .stats,
  .user-profile .stats-label {
    display: block;
  }

}

.user-profile-detail-blocks {
  --column-min-width: 270px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--column-min-width), 1fr));
}

.user-profile-detail-block h2 {
  font-size: 0.875rem; /* 14px / 16px */
  margin: 0 0 1rem 0;
}

.user-profile-attended-parties li + li {
  margin-top: 0.5rem;
}


/* tickets */

.ticket-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 0 -1.25rem;
  padding: 0;
}

.ticket-grid > li {
  padding: 1.25rem 0 0 1.25rem;
}

.ticket-card {
  border: #dddddd solid 1px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  width: auto;
}

.ticket-card-cell {
  border:  #dddddd solid 0;
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem; /* 13px / 16px */
  justify-content: space-between;
}

.ticket-card-cell + .ticket-card-cell {
  border-width: 1px 0 0 0;
}

.ticket-card.ticket-used-by-me,
.ticket-card.ticket-used-by-me .ticket-card-cell {
  border-color: #999999;
}

.ticket-card-cell-block {
  margin: 1rem;
}

.ticket-card-cell-block + .ticket-card-cell-block {
  margin-top: 0;
}

.ticket-icon {
  display: none;
  font-size: 4rem;
  text-align: center;
}

.ticket-card-cell a {
  color: currentColor;
}

.ticket-card-cell a:not(:hover) {
  text-decoration: none;
}

.ticket-code {
  font-size: 1.25rem; /* 20px / 16px */
  font-weight: bold;
}

.ticket-user {
  margin-bottom: -0.5rem;
}

.ticket-user .avatar,
.ticket-user-placeholder {
  margin-bottom: 0.3rem;
}

.ticket-user-placeholder {
  border: #dddddd dashed 1px;
  border-radius: 3px;
  display: inline-block;
  height: 46px;
  width: 46px;
}

@media (min-width: 40rem) { /* 640px / 16px */

  .ticket-grid > li {
    width: 100%;
  }

  .ticket-card {
    flex-direction: row;
    width: 90%;
  }

  .ticket-card-cell {
    width: 25%;
  }

  .ticket-card-cell + .ticket-card-cell {
    border-width: 0 0 0 1px;
  }

  .ticket-icon {
    display: block;
  }

}


/* links */

main h1 a {
  color: currentColor;
}

main h1 a:not(:hover) {
  text-decoration: none;
}


/* misc */

.list-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: -8px 0 0 -8px;
  padding: 0;
}

.list-grid > li {
  padding: 8px 0 0 8px;
}


/* print view */

@media print {

  * {
    background-color: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .container {
    max-width: none;
    width: auto;
  }

  .button-row {
    display: none !important;
  }

}
