{% extends 'layout/admin/base.html' %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'ticket_admin' %}
{% set title = 'Tickets' %}

{% block body %}

  <h1>{{ title }}</h1>

  <p>Party wählen:</p>
  <ol class="index fully-linked">
    {%- for party, ticket_count in parties_with_ticket_counts|sort(attribute='0.starts_at', reverse=True) %}
    <li>
      <a href="{{ url_for('.index_for_party', party_id=party.id) }}">
        <div{% if party.is_archived %} class="dimmed"{% endif %}>
          <strong>{{ party.title }}</strong>
          {%- if party.is_archived %} {{ render_icon('archived', title='archiviert') }}{% endif -%}
          <br>
          {{- '%d %s'|format(ticket_count, 'Ticket' if (ticket_count == 1) else 'Tickets')|dim }}
        </div>
      </a>
    </li>
    {%- endfor %}
  </ol>

{%- endblock body %}
