{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime, render_datetime_custom %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/user_admin.html' import render_user_avatar_tiny_and_link %}
{% set current_page = 'ticket_admin' %}
{% set current_page_party = party %}
{% set title = '%s - Tickets'|format(party.title) %}

{% block head %}
    <style>
      span[title] {
        border-bottom: dotted 1px;
        cursor: help;
      }
    </style>
{%- endblock head %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
    </ol>
  </nav>
  <h1>Tickets {{ render_extra_in_heading(tickets.total) }}</h1>

  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th>Besitzer</th>
        <th>Kategorie</th>
        <th>Sitzplatz</th>
        <th>Nutzer</th>
      </tr>
    </thead>
    <tbody>
      {%- for ticket in tickets.items|sort(attribute='created_at') %}
      <tr>
        <td><span title="{{ ticket.id }}">{{ ticket.id|string|truncate(6, killwords=True, end='…') }}</span></td>
        <td>{{ render_user_avatar_tiny_and_link(ticket.owned_by) }}</td>
        <td>{{ ticket.category.title }}</td>
        <td>
          {%- if ticket.occupied_seat -%}
          {{ ticket.occupied_seat.area.title }}
          {%- else -%}
          {{ render_tag('keiner', class='available') }}
          {%- endif -%}
          <br>
          {{ 'verwaltet durch'|dim  }} {{ render_user_avatar_tiny_and_link(ticket.get_seat_manager()) }}
        </td>
        <td>
          {%- if ticket.used_by -%}
          {{ render_user_avatar_tiny_and_link(ticket.used_by) }}
          {%- else -%}
          {{ render_tag('frei', class='available') }}
          {%- endif -%}
          <br>
          {{ 'verwaltet durch'|dim }} {{ render_user_avatar_tiny_and_link(ticket.get_user_manager()) }}
        </td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{{ render_pagination_nav(tickets, '.index_for_party', {'party_id': party.id}) }}

{%- endblock body %}
