{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set page_title = 'Orga zu Team hinzufügen' %}

{% block before_body %}
{{ render_backlink(url_for('.teams_for_party', party_id=party.id), 'Teams "%s"'|format(party.title)) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  {%- if unassigned_orgas_available %}
  <form action="{{ url_for('.membership_create', team_id=team.id) }}" method="post">
    {{ form_field(form.user_id, autofocus='autofocus') }}
    {{ form_field(form.duties, maxlength=40) }}

    {{ form_buttons(_('Save')) }}
  </form>
  {%- else %}
  {{ render_notification('Es sind keine Orgas vorhanden, die noch keinem Team dieser Party zugewiesen sind.', category='info', icon='info') }}
  {%- endif %}

{%- endblock %}
