{% extends 'layout/admin/base.html' %}
{% from 'macros/admin/user.html' import render_user_admin_link %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set title = 'Orga-Team-Mitgliedschaft bearbeiten' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
      <li>{{ render_user_admin_link(user) }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  <form action="{{ url_for('.membership_update', membership_id=membership.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.orga_team_id, required='required', autofocus='autofocus') }}
      {{ form_field(form.duties, maxlength=40) }}
    {% endcall %}

    {{ form_buttons(_('Save'), cancel_url=url_for('.teams_for_party', party_id=party.id)) }}
  </form>

{%- endblock %}
