{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/admin/user.html' import render_user_avatar_20_and_admin_link %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set title = 'Orga-Team-Mitgliedschaft bearbeiten' %}

{% block before_body %}
{{ render_backlink(url_for('.teams_for_party', party_id=party.id), 'Teams "%s"'|format(party.title)) }}
{%- endblock %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.membership_update', membership_id=membership.id) }}" method="post">
    {% call form_fieldset() %}
      <div class="form-row">
        <div class="label">Orga</div>
        {{ render_user_avatar_20_and_admin_link(user) }}
      </div>
      {{ form_field(form.orga_team_id, autofocus='autofocus') }}
      {{ form_field(form.duties, maxlength=40) }}
    {% endcall %}

    {{ form_buttons(_('Save')) }}
  </form>

{%- endblock %}
