{% extends 'layout/admin/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% from 'macros/misc.html' import render_notification %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set title = 'Orga zu Team hinzufügen' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
      <li>{{ team.title }}</li>
    </ol>
  </nav>
  <h1>{{ title }}</h1>

  {%- if unassigned_orgas_available %}
  <form action="{{ url_for('.membership_create', team_id=team.id) }}" method="post">
    {% call form_fieldset() %}
      {{ form_field(form.user_id, required='required', autofocus='autofocus') }}
      {{ form_field(form.duties, maxlength=40) }}
    {% endcall %}

    {{ form_buttons('Speichern', cancel_url=url_for('.teams_for_party', party_id=party.id)) }}
  </form>
  {%- else %}
  {{ render_notification('Es sind keine Orgas vorhanden, die noch keinem Team dieser Party zugewiesen sind.', category='info', icon='info') }}
  {%- endif %}

{%- endblock %}
