{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field_simple %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set title = 'Orga-Teams kopieren' %}

{% block before_body %}
{{ render_backlink(url_for('.teams_for_party', party_id=party.id), 'Teams "%s"'|format(party.title)) }}
{%- endblock %}

{% block body %}

  <h1>Orga-Teams von anderer Party kopieren</h1>

  <form action="{{ url_for('.teams_copy', target_party_id=party.id) }}" method="post">
    {{ form_field_simple(form.party_id, autofocus='autofocus') }}

    {{ form_buttons(_('Copy')) }}
  </form>

{%- endblock %}
