{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_admin_link %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar_48 %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set title = 'Orga-Teams' %}

{% block head %}
    <style>
      .team h2 {
        margin-bottom: 0;
      }

      .team .empty {
        display: flex;
        justify-content: space-between;
      }

      .members {
        margin: 0 0 0.5rem 0;
      }
      .members > li {
        flex: 0 0 50%;
        padding: 1em 0 0 2em;
      }

      .member {
        display: flex;
        justify-content: space-between;
        margin: -1rem 0 0 -1rem;
      }
      .member > div {
        flex: 0 0 auto;
        padding: 1rem 0 0 1rem;
      }
      .member > div.details {
        flex: 1 0 auto;
      }
    </style>
{%- endblock %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ party.title }}</li>
    </ol>
  </nav>
  <h1>{{ title }} {{ render_extra_in_heading(teams|length) }}</h1>

  {%- if g.current_user.has_permission(OrgaTeamPermission.create) %}
  <div class="button-row">
    <a class="button" href="{{ url_for('.team_create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>Team erstellen</span></a>
  </div>
  {%- endif %}

  {%- if teams %}
  {%- for team in teams|sort(attribute='title') %}
  <div class="team">
    {%- set memberships = team.memberships|list %}
    {%- set member_total = memberships|length %}

    {%- if g.current_user.has_permission(OrgaTeamPermission.administrate_memberships) %}
    <div style="float: right;">
      <a class="button button--compact" href="{{ url_for('.membership_create_form', team_id=team.id) }}" title="Orga hinzufügen">{{ render_icon('add') }}</a>
    </div>
    {%- endif %}

    <h2>{{ team.title }}</h2>
    {{ '%d %s'|format(member_total, 'Person' if member_total == 1 else 'Personen')|dim }}

    {%- if memberships %}
    <ol class="list-grid members">
      {%- for membership in memberships|sort(attribute='user.screen_name') %}
      <li>
        <div class="member">
          <div>
            {{ render_user_avatar_48(membership.user) }}
          </div>
          <div class="details">
            {{ render_user_admin_link(membership.user) }}<br>
            {{ membership.duties|fallback }}
          </div>
          <div>
            <div class="dropdown left">
              <button class="dropdown-toggle button button--compact">{{ render_icon('caret-down') }}</button>
              <ol>
                <li><a href="{{ url_for('.membership_update_form', membership_id=membership.id) }}">{{ render_icon('edit') }} Teamzugehörigkeit und Aufgabe bearbeiten</a></li>
                <li><a data-action="membership-remove" href="{{ url_for('.membership_remove', membership_id=membership.id) }}">{{ render_icon('remove') }} Person aus Team entfernen</a></li>
              </ol>
            </div>
          </div>
        </div>
      </li>
      {%- endfor %}
    </ol>
    {%- else %}
    <p class="empty">
      <span>Dieses Team hat keine Mitglieder.</span>
      <a class="button button--compact" data-action="team-delete" href="{{ url_for('.team_delete', team_id=team.id) }}" title="Team entfernen">{{ render_icon('remove') }} <span>Löschen</span></a>
    </p>
    {%- endif %}

  </div>
  {%- endfor %}
  {%- else %}
  <div class="dimmed-box centered">Es sind keine Orga-Teams hinterlegt.</div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(function() {
        confirmed_delete_on_click_then_reload('[data-action="team-delete"]', 'Team entfernen?');
        confirmed_delete_on_click_then_reload('[data-action="membership-remove"]', 'Person aus dem Team entfernen?');
      });
    </script>
{%- endblock %}
