{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_admin_link %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar_48 %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set page_title = 'Orga-Teams' %}
{% set layout_main_raw = True %}

{% block head %}
    <style>
      .team h2 {
        margin: 0;
      }

      .members {
        display: grid;
        gap: 1rem 2rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      }
    </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div class="column-auto">
      <h1>{{ page_title }} {{ render_extra_in_heading(teams_and_members|length) }}</h1>
    </div>
    {%- if has_current_user_permission(OrgaTeamPermission.create) %}
    <div class="column-auto column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.team_create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>Team erstellen</span></a>
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('chevron-down') }}</span></button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.teams_copy_form', target_party_id=party.id) }}">{{ render_icon('copy') }} <span>Teams von anderer Party kopieren</span></a></li>
          </ol>
        </div>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- if teams_and_members %}
    {%- for team, members in teams_and_members %}
  <div class="box team">
      {%- set member_total = members|length %}

    <div class="row row--space-between mb">
      <div class="column-auto">
        <h2>{{ team.title }}</h2>
        {%- if members %}
        <div>{{ '%d %s'|format(member_total, 'Person' if member_total == 1 else 'Personen')|dim }}</div>
        {%- endif %}
      </div>
      {%- if has_current_user_permission(OrgaTeamPermission.administrate_memberships) %}
      <div class="column-auto">
        <div class="button-row button-row--compact button-row--right">
          <a class="button button--compact" href="{{ url_for('.membership_create_form', team_id=team.id) }}" title="Orga hinzufügen">{{ render_icon('add') }}</a>
          <div class="dropdown">
            <button class="dropdown-toggle button button--compact">{{ render_icon('chevron-down') }}</button>
            <ol class="dropdown-menu dropdown-menu--right">
              {%- if not members and has_current_user_permission(OrgaTeamPermission.delete) %}
              <li><a class="dropdown-item" data-action="team-delete" href="{{ url_for('.team_delete', team_id=team.id) }}">{{ render_icon('remove') }} <span>Team entfernen</span></a></li>
              {%- else %}
              <li><span class="dropdown-item button--disabled">{{ render_icon('remove') }} <span>Team entfernen</span></span></li>
              {%- endif %}
            </ol>
          </div>
        </div>
      </div>
      {%- endif %}
    </div>

      {%- if members %}
    <div class="members">
        {%- for member in members %}
      <div class="row row--space-between">
        <div class="column-auto">
          <div class="row">
            <div class="column-auto">
              {{ render_user_avatar_48(member.user) }}
            </div>
            <div class="column-auto">
              {{ render_user_admin_link(member.user) }}<br>
              {{ member.membership.duties|fallback }}
            </div>
          </div>
        </div>
        <div class="column-auto">
          <div class="dropdown">
            <button class="dropdown-toggle button button--compact">{{ render_icon('chevron-down') }}</button>
            <ol class="dropdown-menu dropdown-menu--right">
              <li><a class="dropdown-item" href="{{ url_for('.membership_update_form', membership_id=member.membership.id) }}">{{ render_icon('edit') }} Teamzugehörigkeit und Aufgabe bearbeiten</a></li>
              <li><a class="dropdown-item" data-action="membership-remove" href="{{ url_for('.membership_remove', membership_id=member.membership.id) }}">{{ render_icon('remove') }} Person aus Team entfernen</a></li>
            </ol>
          </div>
        </div>
      </div>
        {%- endfor %}
    </div>
      {%- else %}
    <div class="dimmed-box centered">Dieses Team hat keine Mitglieder.</div>
      {%- endif %}

  </div>
    {%- endfor %}
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">Es sind keine Orga-Teams hinterlegt.</div>
  </div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_delete_on_click_then_reload('[data-action="team-delete"]', 'Team entfernen?');
        confirmed_delete_on_click_then_reload('[data-action="membership-remove"]', 'Person aus dem Team entfernen?');
      });
    </script>
{%- endblock %}
