{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set page_title = _('Create orga team') %}

{% block before_body %}
{{ render_backlink(url_for('.teams_for_party', party_id=party.id), 'Teams "%s"'|format(party.title)) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.team_create', party_id=party.id) }}" method="post">
    {{ form_field(form.title, maxlength=40, autofocus='autofocus') }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
