{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/admin/user.html' import render_user_admin_link %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/user_avatar.html' import render_user_avatar %}
{% set current_page = 'orga_team_admin.teams' %}
{% set current_page_party = party %}
{% set page_title = _('Orga teams') %}

{% block head %}
    <style>
      .team h2 {
        margin: 0;
      }
    </style>
{%- endblock %}

{% block body %}

  <div class="row row--space-between">
    <div>
      <h1>{{ page_title }} {{ render_extra_in_heading(teams_and_members|length) }}</h1>
    </div>
    {%- if has_current_user_permission('orga_team.create') %}
    <div class="column--align-bottom">
      <div class="button-row button-row--right">
        <a class="button" href="{{ url_for('.team_create_form', party_id=party.id) }}">{{ render_icon('add') }} <span>{{ _('Create team') }}</span></a>
        <div class="dropdown">
          <button class="dropdown-toggle button"><span>{{ render_icon('chevron-down') }}</span></button>
          <ol class="dropdown-menu dropdown-menu--right">
            <li><a class="dropdown-item" href="{{ url_for('.teams_copy_form', target_party_id=party.id) }}">{{ render_icon('copy') }} <span>{{ _('Copy teams from another party') }}</span></a></li>
          </ol>
        </div>
      </div>
    </div>
    {%- endif %}
  </div>

  {%- if teams_and_members %}
    {%- for team, members in teams_and_members %}
  <div class="box team">
      {%- set member_total = members|length %}

    <div class="row row--space-between mb">
      <div>
        <h2>{{ team.title }}</h2>
        {%- if members %}
        <div>{% filter dim %}{{ member_total}} {{ ngettext('person', 'persons', member_total) }}{% endfilter %}</div>
        {%- endif %}
      </div>
      {%- if has_current_user_permission('orga_team.administrate_memberships') %}
      <div>
        <div class="button-row button-row--compact button-row--right">
          <a class="button button--compact" href="{{ url_for('.membership_create_form', team_id=team.id) }}" title="{{ _('Add orga') }}">{{ render_icon('add') }}</a>
          <div class="dropdown">
            <button class="dropdown-toggle button button--compact">{{ render_icon('chevron-down') }}</button>
            <ol class="dropdown-menu dropdown-menu--right">
              {%- if not members and has_current_user_permission('orga_team.delete') %}
              <li><a class="dropdown-item" data-action="team-delete" href="{{ url_for('.team_delete', team_id=team.id) }}">{{ render_icon('remove') }} <span>{{ _('Remove team') }}</span></a></li>
              {%- else %}
              <li><span class="dropdown-item button--disabled">{{ render_icon('remove') }} <span>{{ _('Remove team') }}</span></span></li>
              {%- endif %}
            </ol>
          </div>
        </div>
      </div>
      {%- endif %}
    </div>

      {%- if members %}
    <div class="grid" style="--column-min-width: 240px; gap: 1rem 2rem;">
        {%- for member in members %}
      <div class="row row--space-between">
        <div>
          <div class="row">
            <div>
              {{ render_user_avatar(member.user, size=48) }}
            </div>
            <div>
              {{ render_user_admin_link(member.user) }}<br>
              {{ member.membership.duties|fallback }}
            </div>
          </div>
        </div>
        <div>
          <div class="dropdown">
            <button class="dropdown-toggle button button--compact">{{ render_icon('chevron-down') }}</button>
            <ol class="dropdown-menu dropdown-menu--right">
              <li><a class="dropdown-item" href="{{ url_for('.membership_update_form', membership_id=member.membership.id) }}">{{ render_icon('edit') }} {{ _('Edit membership and duties') }}</a></li>
              <li><a class="dropdown-item" data-action="membership-remove" href="{{ url_for('.membership_remove', membership_id=member.membership.id) }}">{{ render_icon('remove') }} {{ _('Remove person from team') }}</a></li>
            </ol>
          </div>
        </div>
      </div>
        {%- endfor %}
    </div>
      {%- else %}
    <div class="dimmed-box centered">{{ _('This team has no members.') }}</div>
      {%- endif %}

  </div>
    {%- endfor %}
  {%- else %}
  <div class="box">
    <div class="dimmed-box centered">{{ _('No orga teams are defined.') }}</div>
  </div>
  {%- endif %}

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_delete_on_click_then_reload('[data-action="team-delete"]', '{{ _('Remove team?') }}');
        confirmed_delete_on_click_then_reload('[data-action="membership-remove"]', '{{ _('Remove person from team?') }}');
      });
    </script>
{%- endblock %}
