{% from 'macros/user.html' import render_user_avatar_image %}


{% macro render_user_admin_link(user) -%}
<a href="{{ url_for('user_admin.view', id=user.id) }}">{{ user.screen_name }}</a>
{%- endmacro %}


{% macro render_user_admin_avatar(user) %}
  {%- if user.avatar %}
<div class="avatar">
  {{ render_user_avatar_image(user) }}
</div>
  {%- endif -%}
{%- endmacro %}


{% macro render_orga_avatar_small(user) %}
  {%- if user.avatar %}
<div class="avatar orga small">
  {{ render_user_avatar_image(user) }}
</div>
  {%- endif -%}
{%- endmacro %}
