{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/user_avatar.html' import render_user_avatar_16, render_user_avatar_20 %}


{% macro render_user_admin_link(user) -%}
<a href="{{ url_for('user_admin.view', user_id=user.id) }}">{{ user.screen_name }}</a>
{%- endmacro %}


{% macro render_user_avatar_16_and_link(user) -%}
<span class="nowrap">{{ render_user_avatar_16(user) }} {{ render_user_admin_link(user) }}</span>
{%- endmacro %}


{% macro render_user_avatar_16_and_name(user) -%}
<span class="nowrap">{{ render_user_avatar_16(user) }} {{ user.screen_name }}</span>
{%- endmacro %}


{% macro render_user_avatar_20_and_link(user) -%}
<span class="nowrap">{{ render_user_avatar_20(user) }} {{ render_user_admin_link(user) }}</span>
{%- endmacro %}


{% macro render_user_avatar_20_and_name(user) -%}
<span class="nowrap">{{ render_user_avatar_20(user) }} {{ user.screen_name }}</span>
{%- endmacro %}


{% macro render_user_deleted_flag() -%}
  {{ render_tag(render_icon('delete') ~ ' gelöscht', class='color-danger') }}
{%- endmacro %}


{% macro render_user_state_filter(user_state_filter) %}
  {%- if user_state_filter.name == 'enabled' -%}
    {{ render_tag('aktiviert', class='user-state-enabled') }}
  {%- elif user_state_filter.name == 'disabled' -%}
    {{ render_tag('nicht aktiviert', class='user-state-disabled') }}
  {%- else -%}
    {{ render_tag('keine') }}
  {%- endif -%}
{%- endmacro %}
