{% extends 'layout/base.html' %}
{% from 'macros/datetime.html' import render_datetime_long %}
{% set current_page = 'party.info' %}
{% set title = 'Partyinformationen' %}

{% block body %}

  <h1>{{ title }}</h1>

  <table class="index">
    <tr>
      <th>Name</th>
      <td>{{ party.title }}</td>
    </tr>
    <tr>
      <th>Beginn</th>
      <td>{{ render_datetime_long(party.starts_at|utc_to_local_tz, smart=False) }}</td>
    </tr>
    <tr>
      <th>Ende</th>
      <td>{{ render_datetime_long(party.ends_at|utc_to_local_tz, smart=False) }}</td>
    </tr>
  </table>

{%- endblock %}
