{% extends 'layout/base_auto.html' %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_notification, render_tag %}
{% set title = 'Style Guide' %}


{% block head %}
  <style>
    code {
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 0.2rem;
      color: #ffffff;
      font-size: 0.75rem; /* 12px / 16px */
      padding: 0.05rem 0.3rem;
    }

    code.block,
    .result {
      border-radius: 0.2rem;
      display: block;
      margin: 0 -2rem 1rem -2rem;
      padding: 1rem 2rem;
    }

    code.block {
      line-height: 1.5;
      white-space: pre;
    }

    .result {
      border: rgba(0, 0, 0, 0.25) solid 1px;
      padding-bottom: 2rem;
      padding-top: 2rem;
    }
  </style>
{%- endblock %}


{% macro render_code_block() %}
  <code class="block">
  {%- filter forceescape -%}
    {{ caller() }}
  {%- endfilter -%}
  </code>
{% endmacro %}


{% block body %}

  <h1>{{ title }}</h1>

  <ul>
    <li><a href="#notifications">Notifications</a></li>
    <li><a href="#tabs">Tabs</a></li>
    <li><a href="#tables">Tables</a></li>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#dropdowns">Dropdowns</a></li>
    <li><a href="#tags">Tags</a></li>
    <li><a href="#forms">Forms</a></li>
  </ul>


  <h2 id="notifications">Notifications</h2>

  {% call render_code_block() -%}
{{ render_notification('', None, 'Without category and icon.') }}

{{ render_notification('info', 'info', 'Just FYI.') }}

{{ render_notification('danger', 'error', '<p>This did not end well. :(</p><p>To explain the problem, debug information like stack trace could follow here.</p>', text_is_safe=true) }}

{{ render_notification('success', 'success', 'The action was <strong>successful</strong>.', text_is_safe=true) }}
  {%- endcall %}

  <div class="result">
    {{ render_notification('', None, 'Without category and icon.') }}
    {{ render_notification('info', 'info', 'Just FYI.') }}
    {{ render_notification('danger', 'error', '<p>This did not end well. :(</p><p>To explain the problem, debug information like stack trace could follow here.</p>', text_is_safe=true) }}
    {{ render_notification('success', 'success', 'The action was <strong>successful</strong>.', text_is_safe=true) }}
  </div>


  <h2 id="tabs">Tabs</h2>

  <p>Left-aligned:</p>

  {% call render_code_block() -%}
<ol class="tabs">
  <li><a href="#">Tab 1</a></li>
  <li><span class="current">Tab 2</span></li>
  <li><a href="#">Tab 3</a></li>
  <li><a href="#">Tab 4</a></li>
</ol>
  {%- endcall %}

  <div class="result">
    <ol class="tabs">
      <li><a href="#">Tab 1</a></li>
      <li><span class="current">Tab 2</span></li>
      <li><a href="#">Tab 3</a></li>
      <li><a href="#">Tab 4</a></li>
    </ol>
  </div>

  <p>Centered:</p>

  {% call render_code_block() -%}
<ol class="tabs tabs--centered">
  <li><a href="#">Tab 1</a></li>
  <li><span class="current">Tab 2</span></li>
  <li><a href="#">Tab 3</a></li>
  <li><a href="#">Tab 4</a></li>
</ol>
  {%- endcall %}

  <div class="result">
    <ol class="tabs tabs--centered">
      <li><a href="#">Tab 1</a></li>
      <li><span class="current">Tab 2</span></li>
      <li><a href="#">Tab 3</a></li>
      <li><a href="#">Tab 4</a></li>
    </ol>
  </div>


  <h2 id="tables">Tables</h2>

  <p>With class <code>index</code>:</p>

  {% call render_code_block() -%}
<table class="index">
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>a1</td>
      <td>a2</td>
      <td>a3</td>
    </tr>
    <tr>
      <td>b1</td>
      <td>b2</td>
      <td>b3</td>
    </tr>
    <tr>
      <td>c1</td>
      <td>c2</td>
      <td>c3</td>
    </tr>
  </tbody>
</table>
  {%- endcall %}

  <div class="result">
    <table class="index">
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
          <th>Three</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>a1</td>
          <td>a2</td>
          <td>a3</td>
        </tr>
        <tr>
          <td>b1</td>
          <td>b2</td>
          <td>b3</td>
        </tr>
        <tr>
          <td>c1</td>
          <td>c2</td>
          <td>c3</td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>With classes <code>index wide</code>:</p>

  {% call render_code_block() -%}
<table class="index wide">
  <thead>
    <tr>
      <th>One</th>
      <th>Two</th>
      <th>Three</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>a1</td>
      <td>a2</td>
      <td>a3</td>
    </tr>
    <tr>
      <td>b1</td>
      <td>b2</td>
      <td>b3</td>
    </tr>
    <tr>
      <td>c1</td>
      <td>c2</td>
      <td>c3</td>
    </tr>
  </tbody>
</table>
  {%- endcall %}

  <div class="result">
    <table class="index wide">
      <thead>
        <tr>
          <th>One</th>
          <th>Two</th>
          <th>Three</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>a1</td>
          <td>a2</td>
          <td>a3</td>
        </tr>
        <tr>
          <td>b1</td>
          <td>b2</td>
          <td>b3</td>
        </tr>
        <tr>
          <td>c1</td>
          <td>c2</td>
          <td>c3</td>
        </tr>
      </tbody>
    </table>
  </div>


  <h2 id="buttons">Buttons</h2>

  <p>Buttons with different styles and states:</p>

  {% call render_code_block() -%}
<div class="button-row">
  <a href="#" class="button">Standard</a>
  <a href="#" class="button button--outlined">Outlined</a>
  <a href="#" class="button button--clear">Clear</a>
  <a href="#" class="button button--disabled">Disabled</a>
</div>

<p><a href="#" class="button button--compact">Compact</a></p>
<p><a href="#" class="button button--inline">Inline</a></p>
  {%- endcall %}

  <div class="result">
    <div class="button-row">
      <a href="#" class="button">Standard</a>
      <a href="#" class="button button--outlined">Outlined</a>
      <a href="#" class="button button--clear">Clear</a>
      <a href="#" class="button button--disabled">Disabled</a>
    </div>

    <p><a href="#" class="button button--compact">Compact</a></p>
    <p><a href="#" class="button button--inline">Inline</a></p>
  </div>

  <p>Label wrapping:</p>

  {% call render_code_block() -%}
<p><a href="#" class="button">A button with a rather long label, not wrapping by default</a></p>
<p><a href="#" class="button button--wrapping" style="width: 12rem;">A button with a rather long label, wraps</a></p>
  {%- endcall %}

  <div class="result">
    <p><a href="#" class="button">A button with a rather long label, not wrapping by default</a></p>
    <p><a href="#" class="button button--wrapping" style="width: 12rem;">A button with a rather long label, wrapping</a></p>
  </div>


  <h2 id="dropdowns">Dropdowns</h2>

  <p>A simple dropdown menu:</p>

  {% call render_code_block() -%}
<div class="dropdown right">
  <button class="dropdown-toggle button">Toggle {{ render_icon('caret-down') }}</button>
  <ol>
    <li>One</li>
    <li>Two</li>
    <li class="divider"></li>
    <li>Three</li>
  </ol>
</div>
  {%- endcall %}

  <div class="result">
    <div class="dropdown right">
      <button class="dropdown-toggle button">Toggle {{ render_icon('caret-down') }}</button>
      <ol>
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li class="divider"></li>
        <li><a href="#">Three</a></li>
      </ol>
    </div>
  </div>


  <h2 id="tags">Tags</h2>

  {% call render_code_block() -%}
<p>Just a {{ render_tag('tag') }} to attach to things or to represent state.</p>
  {%- endcall %}

  <div class="result">
    <p>Just a {{ render_tag('tag') }} to attach to things or to represent state.</p>
  </div>


  <h2 id="forms">Forms</h2>

  {% call render_code_block() -%}
<form action="/users/" method="post" class="disable-submit-button-on-submit">

  <fieldset>
    <ol>
      <li>
        <label for="field1">Field #1</label>
        <input id="field1" name="field1">
      </li>
      <li class="error">
        <label for="field2">Field #2</label>
        <input id="field2" name="field2">
        <ol class="errors">
          <li><strong>Error:</strong> <span>Your answer must be in the form of a question.</span></li>
        </ol>
      </li>
      <li>
        <div class="checkbox">
          <input id="check_it" name="check_it" type="checkbox"> <label for="check_it">Tick, tick, tick, tick.</label>
        </div>
      </li>
    </ol>
  </fieldset>

  <fieldset class="buttons">
    <button type="submit">Do it!</button>
  </fieldset>

</form>
  {%- endcall %}

  <div class="result">
    <form action="/users/" method="post" class="disable-submit-button-on-submit">

      <fieldset>
        <ol>
          <li>
            <label for="field1">Field #1</label>
            <input id="field1" name="field1">
          </li>
          <li class="error">
            <label for="field2">Field #2</label>
            <input id="field2" name="field2">
            <ol class="errors">
              <li><strong>Error:</strong> <span>Your answer must be in the form of a question.</span></li>
            </ol>
          </li>
          <li>
            <div class="checkbox">
              <input id="check_it" name="check_it" type="checkbox"> <label for="check_it">Tick, tick, tick, tick.</label>
            </div>
          </li>
        </ol>
      </fieldset>

      <fieldset class="buttons">
        <button type="submit">Do it!</button>
      </fieldset>

    </form>
  </div>


{%- endblock %}
