{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons %}
{% set current_page = 'user_email_address.change' %}
{% set page_title = _('Confirm new email address') %}

{% block body %}

  <h1>{{ page_title }}</h1>

  {%- if token|default %}
  <div class="main-body-box">
    <form action="{{ url_for('.change', token=token) }}" method="post">
      <p>{{ _('Please confirm that this is your new email address:') }}</p>
      <p class="centered monospace">{{ new_email_address }}</p>
      {{ form_buttons(_('Change')) }}
    </form>
  </div>
  {%- endif %}

{%- endblock %}
