{% extends 'layout/base.html' %}
{% from 'macros/forms.html' import form_buttons, form_field, form_fieldset %}
{% set current_page = 'user_email_address.request_confirmation_email' %}
{% set title = 'Bestätigungs-E-Mail erneut anfordern' %}

{% block body %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('.request_confirmation_email') }}" method="post">
    {%- call form_fieldset() %}
      {{ form_field(form.screen_name, maxlength=40, required='required', autofocus='autofocus') }}
    {%- endcall %}

    {{ form_buttons(_('Request')) }}
  </form>

{%- endblock %}
