{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_backlink %}
{% from 'macros/forms.html' import form_buttons, form_field %}
{% set current_page = 'mountpoints' %}
{% set current_page_site = site %}
{% set page_title = _('Create mountpoint') %}

{% block before_body %}
{{ render_backlink(url_for('.site_select_form', snippet_id=snippet.id), _('Select site')) }}
{%- endblock %}

{% block body %}

  <h1>{{ page_title }}</h1>

  <form action="{{ url_for('.create', snippet_id=snippet.id, site_id=site.id) }}" method="post">
    <div class="mb">
      <div class="form-label">{{ _('Site') }}</div>
      <div>{{ site.title }}</div>
    </div>
    {{ form_field(form.endpoint_suffix, value=snippet.name, maxlength=40, autofocus='autofocus') }}
    {{ form_field(form.url_path, value='/', maxlength=40) }}

    {{ form_buttons(_('Create')) }}
  </form>

{%- endblock %}
