{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/icons.html' import render_icon %}
{% set current_page = 'mountpoints' %}
{% set current_page_site = site %}
{% set page_title = ['%s/%s'|format(scope.type_, scope.name), _('Mountpoints')] %}
{% set layout_main_raw = True %}

{% block body %}

  <h1>Mountpoints {{ render_extra_in_heading(mountpoints_and_snippets|length) }}</h1>

  <div class="box">
    {%- if mountpoints_and_snippets %}
    <table class="index wide">
      <thead>
        <tr>
          <th>{{ _('URL path') }}</th>
          <th>{{ _('Identifier') }}</th>
          <th>{{ _('Snippet') }}<br>{{ _('Scope') }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {%- for mountpoint, snippet in mountpoints_and_snippets|sort(attribute='0.url_path') %}
        <tr>
          <td>{{ mountpoint.url_path }}</td>
          <td>{{ mountpoint.endpoint_suffix }}</td>
          <td>
            <a href="{{ url_for('snippet_admin.view_current_version', snippet_id=snippet.id) }}">{{- snippet.name }}</a><br>
            <span class="dimmed">{{ snippet.scope.type_ }}/{{ snippet.scope.name }}</span>
          </td>
          <td>
          {%- if has_current_user_permission(SnippetMountpointPermission.delete) %}
            <div class="dropdown">
              <button class="dropdown-toggle button button--compact">{{ render_icon('chevron-down') }}</button>
              <ol class="dropdown-menu dropdown-menu--right">
                <li><a class="dropdown-item" data-action="mountpoint-delete" href="{{ url_for('.delete', mountpoint_id=mountpoint.id) }}">{{ render_icon('remove') }} {{ _('Remove mountpoint') }}</a></li>
              </ol>
            </div>
          {%- endif %}
          </td>
        </tr>
      {%- endfor %}
      </tbody>
    </table>
    {%- else %}
    <div class="dimmed-box centered">{{ _('No mountpoints exist for this site.') }}</div>
    {%- endif %}
  </div>

{%- endblock %}

{% block scripts %}
    <script>
      onDomReady(() => {
        confirmed_delete_on_click_then_reload('[data-action="mountpoint-delete"]', '{{ _('Remove mountpoint?') }}');
      });
    </script>
{%- endblock %}
