name: Docker Test

on:
  # Allow manual workflow triggering from the "Actions" tab.
  workflow_dispatch:

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - run: ./docker-test.sh
