{% extends 'layout/admin/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/party_admin.html' import render_party_admin_link %}
{% set current_page = 'party_admin' %}
{% set title = 'Partys' %}

{% block body %}

  <h1>{{ title }}</h1>

  {%- if g.current_user.has_permission(PartyPermission.create) %}
  <ol class="actions">
    <li><a href="{{ url_for('.create_form') }}">{{ render_icon('add') }} Party erstellen</a></li>
  </ol>
  {%- endif %}

  <table class="index wide">
    <thead>
      <tr>
        <th>ID</th>
        <th>Marke</th>
        <th>Name</th>
        <th>Zeitraum</th>
      </tr>
    </thead>
    <tbody>
      {%- for party in parties|sort(attribute='starts_at', reverse=True) %}
      <tr{% if party.is_over %} class="dimmed"{% endif %}>
        <td>{{ party.id }}</td>
        <td>{{ party.brand.title }}</td>
        <td>
          <strong>{{ render_party_admin_link(party) }}</strong>
          {%- if party.is_archived %}<br>{{ render_icon('archived', title='archiviert') }} <em>archiviert</em>{% endif -%}
        </td>
        <td>
          {{- render_datetime(party.starts_at) }} bis<br>
          {{- render_datetime(party.ends_at) -}}
        </td>
      </tr>
      {%- endfor %}
      <tr>
    </tbody>
  </table>

{%- endblock %}
