{% extends 'layout/admin/base.html' %}
{% from 'macros/admin.html' import render_extra_in_heading %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% from 'macros/pagination.html' import render_pagination_nav %}
{% from 'macros/party_admin.html' import render_party_admin_link %}
{% set current_page = 'party_admin' %}
{% set current_page_brand = brand %}
{% set title = '%s - Partys'|format(brand.title) %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>{{ brand.title }}</li>
    </ol>
  </nav>
  <h1>Partys {{ render_extra_in_heading(parties.items|length) }}</h1>

  {%- if g.current_user.has_permission(PartyPermission.create) %}
  <div class="button-row">
    <a class="button" href="{{ url_for('.create_form', brand_id=brand.id) }}">{{ render_icon('add') }} Party erstellen</a>
  </div>
  {%- endif %}

  <table class="index wide">
    <thead>
      <tr>
        <th>Name<br>ID</th>
        <th>Zeitraum</th>
        <th class="centered">Artikel</th>
        <th class="centered">Bestellungen</th>
        <th class="centered">Tickets</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {%- for party in parties.items %}
      <tr>
        <td>
          <strong>{{ render_party_admin_link(party) }}</strong><br>
          {{ party.id }}
          {%- if party.is_archived %}
          <br>{{ render_tag('archiviert', class='color-disabled', icon='archived') }}
          {%- endif %}
        </td>
        <td>
          {{- render_datetime(party.starts_at) }} bis<br>
          {{- render_datetime(party.ends_at) -}}
          {%- if party.is_over %}
          <br>{{ render_tag('vorbei', class='color-disabled') }}
          {%- endif %}
        </td>
        <td class="centered bignumber">{{ article_count_by_party_id[party.id] }}</td>
        <td class="centered bignumber">{{ order_count_by_party_id[party.id] }}</td>
        <td class="centered bignumber">{{ ticket_count_by_party_id[party.id] }}</td>
        <td>
          {%- if g.current_user.has_permission(PartyPermission.update) %}
          <div class="dropdown left">
            <button class="dropdown-toggle button button--compact">{{ render_icon('caret-down') }}</button>
            <ol>
              <li><a href="{{ url_for('.update_form', party_id=party.id) }}">{{ render_icon('edit') }} bearbeiten</a></li>
            </ol>
          </div>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>

{{ render_pagination_nav(parties, '.index_for_brand', {'brand_id': brand.id}) }}

{%- endblock %}
