{% extends 'layout/admin/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% from 'macros/icons.html' import render_icon %}
{% from 'macros/misc.html' import render_tag %}
{% set current_page = 'party_admin' %}
{% set current_page_party = party %}
{% set title = 'Partys' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Partys</li>
    </ol>
  </nav>
  <h1>
    {{- party.title }}
    {%- if party.is_archived -%}
    <br>{{ render_tag('archiviert', class='color-disabled', icon='archived') }}
    {%- endif -%}
  </h1>

  <div class="button-row">
    {%- if g.current_user.has_permission(PartyPermission.update) %}
    <a class="button" href="{{ url_for('.update_form', party_id=party.id) }}">{{ render_icon('edit') }} Bearbeiten</a>
    {%- endif %}
  </div>

  <table class="index">
    <tr>
      <th>Marke</th>
      <td>{{ party.brand.title }}</td>
    </tr>
    <tr>
      <th>Beginn</th>
      <td>{{ render_datetime(party.starts_at) }}</td>
    </tr>
    <tr>
      <th>Ende</th>
      <td>{{ render_datetime(party.ends_at) }}</td>
    </tr>
  </table>

{%- endblock %}
