{% extends 'layout/admin/base.html' %}
{% from 'macros/datetime.html' import render_datetime %}
{% set current_page = 'party_admin' %}
{% set current_page_party = party %}
{% set title = 'Partys' %}

{% block body %}

  <nav class="breadcrumbs">
    <ol>
      <li>Partys</li>
    </ol>
  </nav>
  <h1>{{ party.title }}</h1>

  <div class="button-row">
    {%- if g.current_user.has_permission(PartyPermission.update) %}
    <a class="button" href="{{ url_for('.update_form', party_id=party.id) }}">{{ render_icon('edit') }} Bearbeiten</a>
    {%- endif %}
  </div>

  <table class="index">
    <tr>
      <th>Marke</th>
      <td>{{ party.brand.title }}</td>
    </tr>
    <tr>
      <th>Beginn</th>
      <td>{{ render_datetime(party.starts_at) }}</td>
    </tr>
    <tr>
      <th>Ende</th>
      <td>{{ render_datetime(party.ends_at) }}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        {%- if party.is_archived -%}
        {{ render_icon('archived', title='archiviert') }} <em>archiviert</em>
        {%- else -%}
        aktiv
        {%- endif -%}
      </td>
    </tr>
  </table>

{%- endblock %}
